[2018-12-20 13:26] ibuziuk opened #1154 "[spike] Investigate complexity of enabling telemetry support in Che 7 and create list of sub-taks"
before working on `Prepare the telemetry Che support for the Theia switch` https://github.com/redhat-developer/rh-che/issues/690 We need to understand the complexity and create subtasks. The outcome of this issue would be the list of sub-tasks that would be easy to prioritize and estimate

[2018-12-20 13:35] ibuziuk opened #1155 "Documentation with architectural insights about plugin brokers"
Documentation is supposed to be published on eclipse.org website -  https://www.eclipse.org/che/docs/che-7/index.html

Existing materials:
-  https://bluejeans.com/s/B6Wbo
- https://docs.google.com/presentation/d/1ouN3eBbRZy10rmBEnGhx9Xrz8vNm5CSSc3nqEIzn0Nw/edit#slide=id.g49a86d12a0_0_130
- https://gist.github.com/garagatyi/edfd4e7fdeba1fdf18d9a0e2404d538d
- https://github.com/eclipse/che-plugin-b

[2018-12-20 14:12] ibuziuk commented on #1059
@l0rd could we close this issue since I think there will be no more investigation related to image caching with SD since it looks like getting node access is still smth. that is not going to happen soon. We are having a separate issue for deamonset PoC already - https://github.com/redhat-developer/rh-che/issues/1152

[2018-12-20 14:19] ibuziuk opened #1157 "Investigate why PoC for vscode plugin broker does not work"
PoC was created as part of the - https://github.com/redhat-developer/rh-che/issues/1090
but it does not work for some reason. Need to investigate why it does not work

[2018-12-20 15:37] ibuziuk opened #1158 "Workspace.Next finalization: support K8S Routes"
Placeholder for https://github.com/eclipse/che/issues/11530

[2018-12-20 15:37] ibuziuk opened #1159 "Workspace.Next finalization: support K8S Secret"
Placeholder for https://github.com/eclipse/che/issues/11508

[2018-12-21 01:31] l0rd commented on #1059
@ibuziuk ok

[2018-12-21 01:31] #1059 closed

[2018-12-21 15:07] ibuziuk opened #1160 "Need to contribute main che metrics to osd monitor dashboard"
comment from Frank [1] :

We need to identify and contribute most important metrics to osd-monitor dashboard

[1] https://chat.openshift.io/developers/pl/a1ewpf69d3fbpe1d8zqy6xodue

[2018-12-21 15:20] ibuziuk commented on #1147
PR sent - https://github.com/eclipse/che/pull/12253

[2018-12-26 13:37] garagatyi opened #1161 "WorkspaceRuntimes getContext should recover runtime"
**Issue problem:**
We have plenty of next errors on prod:
[code]
Which occur when RuntimeIdentity is not found for a workspace.
But [retrieving](https://github.com/eclipse/che/blob/b8f0844052eabe8804bddda5ff4c9a8b5430a5b1/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceRuntimes.java#L802) RuntimeContext doesn't do runtime recovering which means that we c

[2018-12-26 14:37] sleshchenko commented on #1161
It should be investigated more. I think it makes sense to have two separated method for `fetching if present` (needed for during preparing a list of users workspaces [[1](https://github.com/eclipse/che/blob/0ce23f5155a0034f5bccf8c562e7462368595660/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceLinksGenerator.java#L96)]) and `another fetch or recover`

[

[2019-01-02 09:52] Katka92 commented on #936
Hi guys, I'm starting to work on the enhanced version of this CI job.
What we have now:
 - change dependency to latest upstream SNAPSHOT
 - builds and push to quay
 - pulls image to dev cluster
 - runs tests against it

What I'm going to add:
 - add branch for SNAPSHOT
 - create PR for fixing regression related with compatibility (maybe create PR only if something fails?)
 - send mail if some regr

[2019-01-02 12:38] garagatyi commented on #936
Oh, so dumb. Now I see that email is among improvements to be made.
Great plan! I think we can have PR even when the build is fine. In this case, we would be able to check something manually easily. It is important because there are always some nasty corner cases that can't be covered by tests.
Also, want to mention that we might have a failing build way later than this PR is created. Including se

[2019-01-02 13:33] Katka92 commented on #936
@garagatyi Thank you for your opinion. As you said - in that case the email is probably not needed. On the other hand - we can add sending mails anytime if we find that we miss it.

[2019-01-02 14:58] garagatyi opened #1166 "Add PR number to PR check namespace display name"
**Issue problem:**
I see on dev cluster:
![image](https://user-images.githubusercontent.com/1851863/50597251-7f573c80-0eaf-11e9-8897-6d3e9c4b9b9d.png)

It would be useful to have PR number in the namespaces name to differ them

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**

[2019-01-03 10:02] garagatyi opened #1167 "Do not log RuntimeException when user is deprovisioned"
https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/9448/

[code]

[2019-01-03 12:24] garagatyi opened #1168 "PR CI ignores unresolved conflicts on rebasing PR branch against master branch"
**Issue problem:**
CI rebases PR branch against master branch:
[code]
But when a conflict that cannot be automatically resolved occurs CI ignores that and files are kept broken (with merge resolution lines):
[code]

Instead of that CI should stop the build immediately in this situation. Because when we is keeping the build process running errors that appear later way less clear and make us spend m

[2019-01-03 13:25] garagatyi opened #1169 "Include CI deployment link to CI failure comment"
**Issue problem:**
When CI deployed Che successfully but functional tests failed CI comment only failure.
To investigate we have to manually go to dev cluster and find Che namespace to try to start a workspace manually.
Instead, we could include deployment link to the CI failure comment on Github.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official i

[2019-01-07 14:55] ibuziuk commented on #1147
the fix is available on prod. Closing

[2019-01-07 14:55] #1147 closed

[2019-01-07 17:37] ibuziuk opened #1171 "Internal Exception on production - org.postgresql.util.PSQLException: ERROR: deadlock detected"
A few times Internal Exception: org.postgresql.util.PSQLException: ERROR: deadlock detected has been reported on prod [1] [2]:

[1] https://gist.github.com/garagatyi/e6a2be8f53686b9e42c3e2b0e469f609
[2] https://gist.github.com/garagatyi/78cf6c410f27ef92394d49e7d1b7f2bc

Sentry link - https://errortracking.prod-preview.openshift.io/openshift_io/che6master/?query=is%3Aunresolved+deadlock+detected

[2019-01-08 12:57] davidfestal commented on #1071
After discussing with @l0rd and @benoitf it seems that, in order to ensure a correct consistency between the `che-theia` image and the corresponding `cdn.json` file, it would be a bit more complex that that: we should be able to provide a `cdn.json` url for a given `che-theia` docker image reference. So the idea would be more to provide a small service that would return the URL of the `cdn.json` f

[2019-01-08 12:58] ibuziuk opened #1175 "Need to refactor retrieval of userID from the subject and potentially remove usage of the SubjectRegistry"
Need to refactor retrieval of userID from the subject and potentially remove usage of SubjectRegistry
This should potentially fix the following issue reported by sentry:
https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/9256/
https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/9353/
https://errortracking.prod-preview.openshift.io/openshift_io

[2019-01-08 14:36] garagatyi opened #1176 "Cleanup prod and prod-preview config map from old properties"
**Description:**
After the merge of https://github.com/redhat-developer/rh-che/pull/1163, we won't need some properties

HK issue  https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2509

[2019-01-08 15:08] ibuziuk commented on #1155
@rkratky could you please provide structure / template for this part of the documents "architectural insights about plugin brokers". I guess it should probably part of the `Extending Eclipse Che` section wdyt ? cc: @garagatyi

[1] https://docs.google.com/document/d/1RuLh2w3DPdlYlebadNdf90n_xM5Nw5rHIDEBrXHy6I4/edit#

[2019-01-08 18:34] garagatyi opened #1177 "Theia remote plugin runner should copy env vars when it starts plugin process"
Placeholder for eclipse/che#12298

[2019-01-09 16:54] ibuziuk commented on #1123
I believe we can close it now

[2019-01-09 16:54] #1123 closed

[2019-01-09 16:55] ibuziuk commented on #1122
I believe we can close it now

[2019-01-09 16:55] #1122 closed

[2019-01-11 17:20] rkratky commented on #1155
I haven't gotten to it today, but we'll provide you with the modular structure for the planned docs directly in the docs repo, so that you can start filling in. The idea is to split every user story into parts (modules) describing concepts and procedures. Upstream is here: https://github.com/redhat-documentation/modular-docs (but that's just FYI -- we'll set up the skeleton structure).

Yes, there

[2019-01-11 20:33] amisevsk commented on #1152
Proof-of-concept here: https://github.com/amisevsk/image-caching-test

Feedback more than welcome :)

[2019-01-11 20:40] amisevsk commented on #1152
Proof-of-concept is available here: https://github.com/amisevsk/image-caching-test/

As for SA privileges, the configuration necessary can be found in the [Makefile](https://github.com/amisevsk/image-caching-test/blob/2228b23bfba33fd15390763c9c195d9e6887d105/Makefile#L25)

[2019-01-11 20:40] amisevsk commented on #1152
Still a rough and early implementation so feedback is more than welcome.

[2019-01-12 02:42] fche commented on #949
we're close with the last item: https://github.com/redhat-developer/osd-monitor-poc/issues/45

[2019-01-14 00:48] gorkem commented on #1047
@JohnStrunk @sunix Is this still continuing?

[2019-01-14 10:02] sunix commented on #1047
@gorkem I have not tried recently but i think this is still an issue. @JohnStrunk We would need to help them to reproduce.

[2019-01-14 11:19] ibuziuk opened #1184 "Need to update che on prod to the latest 6.17.1 version"
WIP PR - https://github.com/redhat-developer/rh-che/pull/1181

[2019-01-14 11:37] ibuziuk opened #1185 "Need to enable jaeger tracing for rh-che on prod-preview"
in-memory jaeger instance is already available on prod-preview - https://osd-monitor-dsaas-preview.4c1c.dsaas-stg.openshiftapps.com/jaeger/ . Related HK issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2431

`osd-monitor-jaeger-zipkin service (tcp/9411) accessible within the cluster`

Need to configure rh-che to send tracing info to the osd-monitor jaeger instance.

[2019-01-14 11:39] ibuziuk commented on #1185
@skabashnyuk could you please point to some docs or provide instructions what env vars should be enabled to start sending tracing info to jaeger. cc: @fche

[2019-01-14 11:54] garagatyi commented on #1185
@ibuziuk what credentials we can use to access the mentioned instance?

[2019-01-14 11:58] skabashnyuk commented on #1185
@ibuziuk
from https://github.com/eclipse/che-docs/blob/master/release-notes/release-6.15.0.md#more-detailed-tracing-of-workspace-operations-httpsgithubcomeclipsechepull12049
[code]

[2019-01-14 12:04] fche commented on #1185
The long-term way is to get added to the https://github.com/orgs/rhdt-dev/teams/viewer-monitor-stg (and -prod) teams.  Please see the SD team for that.  The short-term way is to use a hard-coded userid/password that @ibuziuk can share.

https://github.com/redhat-developer/osd-monitor-poc/issues/45 has what I believe are the correct rhche config env vars for y'all.

[2019-01-14 12:44] garagatyi commented on #1155
@rkratky

I haven't found any information about plugin brokers in docs. Can you point me to them?

[2019-01-14 14:45] ibuziuk commented on #1184
also we need to check that removal of role `user` in the upstream will not break rh-che - https://github.com/eclipse/che/issues/12261

[2019-01-15 11:53] ibuziuk commented on #1177
@garagatyi I believe this one should also be closed

[2019-01-15 11:53] #1177 closed

[2019-01-15 11:54] ibuziuk commented on #1176
@garagatyi could you please link related HK issue (also one for removal `che` cm on dsaas - probably would be better to do all the cleanup in one go)?

[2019-01-15 11:56] garagatyi commented on #1176
Those are 2 different cleanups since different CMs would be affected.

[2019-01-15 11:56] garagatyi commented on #1176
Added link to HK issue

[2019-01-15 11:56] rkratky commented on #1155
@garagatyi I meant that it is listed as a topic in the gdoc outline -- I was confirming that the "Extending Che" chapter was going to be the right place for it.

@supriya-bharadwaj is now working on setting it up in the docs repo for you.

[2019-01-15 12:12] ibuziuk commented on #1157
@garagatyi are you ok to close this issue ?

[2019-01-15 14:46] garagatyi commented on #1157
Yes, I didn't close it because it is not yet on prod. But I'm OK

[2019-01-15 14:46] #1157 closed

[2019-01-15 15:12] ibuziuk commented on #1152
@amisevsk great job! I believe major work has been done and we can close this issue. wdyt ?

[2019-01-15 15:29] garagatyi opened #1188 "Create docs with description on how to monitor Che on prod"
**Description:**
This doc should include useful tips and links on how to monitor:
- RAM
- CPU
- Threads
- file descriptors
- Workspace and master parameters such as workspaces in different states
- How to get a graph of metrics
- How to find logs of some kinds
- Sentry
- How to get traces of some kind

This would help us to recover context when someone needs to work on load related stuff on prod.

[2019-01-15 16:57] supriya-bharadwaj commented on #1155
Hello everyone, we have added the templates for the *Supporting Che plug-in types with plug-in brokers* user story to the repository. You all can begin contributing content, please! :)
Here are a few things to be noted, please:
- An assembly equals a user story. So, the assembly template contains (using the *include* statement) the modules that will eventually make up this user story.
- The *conce

[2019-01-15 18:00] garagatyi opened #1189 "Follow up on setting container RAM limit lower than 150MB"
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2511

[2019-01-15 18:06] garagatyi commented on #1030
We need to take a look at this one more time. Development of any non-dummy multi-module project without preserving m2 would be pretty unusable.

[2019-01-15 18:08] garagatyi commented on #1030
We might need to add an ability to bring volume for a plugin. Another thing we can work on is a configuration of sidecar with JDT.LS or another LS where we already can specify volumes.

[2019-01-15 18:10] garagatyi opened #1190 "Remove unused CM on prod"
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2500

[2019-01-15 18:12] garagatyi opened #1191 "Decrease minimal RAM allowed for a container on prod OSO clusters"
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2511

[2019-01-15 21:31] davidfestal commented on #1068
I'm waiting for the details about pushing the files to the Akamai network. As soon as the details are there, I'll be able to open a PR.

[2019-01-16 13:39] ibuziuk commented on #1090
Upstream issue is closed. Closing

[2019-01-16 13:39] #1090 closed

[2019-01-16 13:39] ibuziuk commented on #1119
@davidfestal are you ok to close thus issue ?

[2019-01-16 13:45] ibuziuk opened #1195 "Workspace files are not removed when Common PVC strategy if configured"
Placehoder for https://github.com/eclipse/che/issues/12445
Also related to https://issues.jboss.org/browse/CRW-69

[2019-01-16 13:46] davidfestal commented on #1119
To be fair this also includes some work on the upstream `che` side:

But this is mainly finished,and the PR I'll open will also include the work about pushing the CDN artifacts during CI build. So maybe we could close this one anyway.

[2019-01-16 13:54] ibuziuk opened #1196 "Workspace.Next finalization: support K8S Template"
Placeholder for https://github.com/eclipse/che/issues/11504

[2019-01-16 13:55] ibuziuk opened #1197 "Allow multiple Che 7 workspaces to run at the same time"
Placeholder for https://github.com/eclipse/che/issues/12238

[2019-01-16 14:04] #1119 closed

[2019-01-16 14:04] #1152 closed

[2019-01-16 14:57] ibuziuk opened #1198 "Che does not show bayesain recommendations for pom.xml (only package.json)"
openshift.io issue - https://github.com/openshiftio/openshift.io/issues/4689

[2019-01-16 15:02] ibuziuk opened #1199 "[spike] Adapt e2e registration flow to recent changes done for Red Hat developers Auth"
Need to figure out how new registration flow affect current e2e che.openshift.io registration flow

[2019-01-16 19:24] ibuziuk commented on #1190
cm has been removed. Closing

[2019-01-16 19:24] #1190 closed

[2019-01-16 19:24] ibuziuk commented on #1176
Cleanup has been done on both dsaas / dsaas-stg. Closing

[2019-01-16 19:24] #1176 closed

[2019-01-17 07:00] rhopp commented on #1197
Just to be sure... this is not going to affect rh-che, as we will stick with 1 workspace policy until custom openshift cluster support is in place, right?

[2019-01-17 20:03] amisevsk commented on #1197
My understanding is that this is more of a structural issue in Che (e.g. in single namespace deployments). We don't hit it on rh-che.

[2019-01-21 09:45] ibuziuk commented on #1155
@supriya-bharadwaj @rkratky thank you for setting up the template [1]. However, when talking with @l0rd during prioritization my understanding was, that the docs team will not only provide the template, but also define the basic structure of the content, which OSIO team would use as a skeleton for defying the docs. Currently there is a single user story `Supporting Che plug-in types with plug-in b

[2019-01-21 11:46] garagatyi commented on #1191
Duplicate of https://github.com/redhat-developer/rh-che/issues/1189

[2019-01-21 11:46] #1191 closed

[2019-01-21 13:39] rkratky commented on #1155
@ibuziuk Please, work with @supriya-bharadwaj to define the individual parts of the doc. I'm afraid that without some help, Supriya won't be able to flesh out the required procedures -- we don't have the necessary knowledge/understanding of the topic.

We will always provide as much structure as we can, but, unfortunately, there are topics (such as this one) to which we have had no exposure yet. S

[2019-01-21 14:00] ibuziuk commented on #1155
@garagatyi will you be able to revise the `Supporting Che plug-in types with plug-in brokers` user-story and come up with a plan of the working structure, which would be approved by the docs team. Once done, someone else from Che OSIO team would take over and proceed with writing actual docs for each section.

[2019-01-21 14:01] garagatyi commented on #979
Added addition of che plugin registry update docs to the description.

[2019-01-21 15:22] garagatyi commented on #1155
@supriya-bharadwaj @rkratky not sure I understand how to do user stories from technical documentation of architecture of the system. But I'll try to explain what we would want to describe in the documentation and hopefully you, as documentation experts, could help to figure out how to transform that into user stories like docs.

[2019-01-22 13:18] ibuziuk opened #1210 "Che 7 workspace startup fails on che.prod-preview.openshift.io"

[2019-01-22 13:56] ibuziuk commented on #1210
comment form @garagatyi

[2019-01-22 14:33] ScrewTSW opened #1211 "Minishift addon deployment - Login from OKD fails"
**Issue problem:**
I'm using the latest version of minishift-addons form rh-che master branch, with `minishift v1.30.0+186b034` and a brand new virtual machine with 4GB of RAM and 2 CPU cores.

The deployment works as intended (first installing `rhche-prerequisites` addon and then the `rhche` addon)

Upon opening the dashboard I'm redirected to the OKD login page and after successfully entering th

[2019-01-22 16:11] garagatyi commented on #1155
Below you can find content I suppose we need to write in those docs. @rkratky @supriya-bharadwaj please, review if this suits documentation structure and content standards.

I'm not sure it really follows intentions of being user-story driven, but I tried to do so. Apperently structure shows that such a doc would be too big to fit it on one screen as adviced by docs reccomendations.
If @rkratky an

[2019-01-22 18:31] ibuziuk commented on #1155
Some comments inlined:

Why other ? the story is called `Supporting Che plug-in types with plug-in brokers`

This sounds like a different user-story which is out of scope of this issue.

This sounds like a different user-story which is out of scope of this issue.

@garagatyi @ibuziuk I would probably focus on the following parts of the docs in this issue (originally it was `architectural insights

[2019-01-22 22:05] ibuziuk opened #1213 "nodejs-postgres stack is not available on prod (available on prod-preview)"
nodejs-postgres stack is included in the rh-che assembly, but for some reason is not available on prod. However, it is available on prod-preview - https://che.prod-preview.openshift.io/dashboard/#/stack/nodejs-postgres

![image](https://user-images.githubusercontent.com/1461122/51568632-78ae5a80-1e9a-11e9-9788-26e275e19ad0.png)

[2019-01-23 07:52] #1210 closed

[2019-01-23 09:31] garagatyi commented on #1155
@ibuziuk I had a completely different idea of what is needed to be documented. Hmm, we probably need input from Robert and maybe @slemeur to avoid not being on the same page.

[2019-01-23 09:34] davidfestal commented on #1071
Opened the following HK issue to add the config map value on prod and prod-preview: https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2530

[2019-01-23 09:34] slemeur commented on #1197
Is this issue assigned and started already?

[2019-01-23 09:41] ibuziuk commented on #1155
@garagatyi just to avoid confusion, user-stories `How to write an implementation of a plugin broker / How to integrate new plugin broker (plugin type support in Che 7)` are super valuable, but I just do not think those are part of this issue. IMO, we should start with smth. basic e.g.

and address other user-stories in separate issues

[2019-01-23 09:48] garagatyi opened #1215 "Support addition of a VS Code extension using plugin broker to a main Theia container"
Placeholder for eclipse/che#12431

[2019-01-23 10:12] garagatyi commented on #1155
@ibuziuk FYI Che plugin broker repo already contains a description of current implementations https://github.com/eclipse/che-plugin-broker/blob/master/README.md
If we only need what you described than structure would be:
- What are plugin brokers in general (why plugin brokers are needed)
- What plugin brokers can do
- Description of existing plugin brokers from https://github.com/eclipse/che-plug

[2019-01-23 10:15] garagatyi opened #1216 "Remove init plugin broker image configuration from dev, prod and prod-preview CMs"
**Description:**
Remove entry `CHE_WORKSPACE_PLUGIN__BROKER_INIT_IMAGE` from dev, minishift addon, prod, prod-preview CMs after update to 6.18 upstream.

[2019-01-23 10:18] ibuziuk commented on #1155
this sounds like a relevant docs to start with. @rkratky @slemeur wdyt ?

[2019-01-23 14:06] ibuziuk commented on #1184
PR to saas-openshiftio - https://github.com/openshiftio/saas-openshiftio/pull/1205

[2019-01-23 14:43] garagatyi opened #1217 "Rename Che 7 model fields that don't follow camel case"
Placeholder for eclipse/che#12501

[2019-01-24 13:20] ibuziuk commented on #979
PR with che-plugin-registryupdated docs - https://github.com/redhat-developer/rh-che/pull/1220

[2019-01-24 14:35] davidfestal commented on #1068
Done but not fully deployed in CI, since we still wait for the dedicated Akamai account with the final domain name.

[2019-01-24 15:04] ibuziuk commented on #1185
Related osd monitor issue - https://github.com/redhat-developer/osd-monitor-poc/issues/45
Related HK issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2534

[2019-01-24 17:41] ibuziuk commented on #1185
Jaeger has been enabled on prod-preview.
![image](https://user-images.githubusercontent.com/1461122/51697213-964d0280-2007-11e9-93be-0a96fc2d1f7d.png)
Closing the issue

[2019-01-24 17:41] #1185 closed

[2019-01-24 22:04] amisevsk commented on #1195
Added comment explaining issue [upstream](https://github.com/eclipse/che/issues/12445#issuecomment-457372375).

[2019-01-24 22:09] amisevsk commented on #1195
The fix on our side for this issue would be to change CM values on prod/preview to pre-create subpaths. Before we do that, we should make sure there isn't an impact due to PVC weirdness (this requires a mount before starting the workspace pod).

[2019-01-25 10:23] slemeur commented on #1155
Also, could you please add the content in the whole gdoc for Che 7 docs:
https://docs.google.com/document/d/1BH2oUq3gJhsNsKqdUOXpoe1Z9qf9ARTdxXyBNo10l20/edit#bookmark=id.fyeu59qv1p4h

[2019-01-25 12:46] ibuziuk commented on #1184
PR is merged. Closing

[2019-01-25 12:46] #1184 closed

[2019-01-25 13:40] ibuziuk commented on #979
Docs for updating template / cm for deployment on different infrastructure - https://github.com/redhat-developer/rh-che/pull/1223

[2019-01-28 13:17] rkratky commented on #1155
Apologies for being so late. Thanks for the outline. I like the fact that it begins with the "why".

[2019-01-28 13:53] garagatyi commented on #1155
OSIO-Che team that it would be better to sharethe knowledge about brokers in the team. So, I provided only outline for the content and aprove the content. But content itself should be provided by another team member.

[2019-01-29 10:29] ibuziuk opened #1224 "Need to create system status page of the che.openshift.io"
Currently there is no status page for `che.openshift.io` which would provide information about the state of the platform. There are many different online services that are providing information about the state of their platform:
- http://status.codenvy.com/
- https://www.githubstatus.com/
- https://trello.status.atlassian.com/

It was decided instead of creating custom dsaas service use account on

[2019-01-29 11:18] ibuziuk commented on #1198
Fixed in `6.17.1` verified on che.openshift.io:

![image](https://user-images.githubusercontent.com/1461122/51904850-0076f600-23c0-11e9-9b73-5471f2c89c8e.png)

[2019-01-29 11:18] #1198 closed

[2019-01-29 11:45] ibuziuk opened #1225 "Docs for PR check details are currently in a bad state"
Docs for PR check details [1] are currently in a bad state:
- links to sequence diagram is broken
- details are not provided
- CI job for `DEP IMAGE` is broken

[1] https://github.com/redhat-developer/rh-che#pr-check-details

[2019-01-29 11:45] ibuziuk commented on #1225
@ScrewTSW would you be able to handle this task in the next sprint ?

[2019-01-29 13:39] davidfestal commented on #1199
I tested the `che.openshift.io` end-2-end registration flow, and it is not that impacted by the new RHD unified registration.
We should probably review the page of the Che activation step, which was initially copied on the look and feel of the previous RHD Openshift.io login.
But for now the best is probably to wait for the final look and feel of the future customized CodeReady regsitration (if cu

[2019-01-29 13:40] ibuziuk opened #1226 "Need to create dsaas service for pre-pulling images across all the nodes of all starter clusters"
Need to enable daemonsets [1] for pre-pulling che 7 images on all starter clusters.
Currently `"imagePullPolicy=Always"` is set due to security policy set by openshift online. However, as part of image caching investigation [3] it appeared to be that node level caching seems to be enabled for all starter clusters. In order to speed-up workspace startup (image pulling is the most time-consuming pha

[2019-01-29 13:50] davidfestal commented on #1154
I'm nearly able to run the Analytics main component as a side-car light-weight REST service compiled natively with GraalVm and packaged as a `FROM scratch` docker image.
For there, the work mainly is:
- Finalize the telemetry Woopra server to run as a side with machine token injection to contact the Che server
- Specify a well-defined API to submit telemetry events to the REST endpoint (swagger AP

[2019-01-29 13:50] ibuziuk opened #1227 "Number of running workspace on prod reported by osd monitor is incorrect"
In reality the number of running workspaces should be much lower. Need to investigate the reason of such a big number of workspaces marked as Running in DB. Potentaially, fixing https://github.com/redhat-developer/rh-che/issues/1175 might tackle this problem

[2019-01-29 13:54] ibuziuk opened #1228 "Workspace Failure metrics reported by osd-monitor are incorrect"
Status metrics already available for prod and prod-preview, but some of them in Grafana look really strange e.g. number of failed workspaces are a frictional value below `1.` Raw data provided by  Che server:

   From pre-prod

   From prod

The reason of wrong values or somewhere on the way between Che server and Grafana.

[2019-01-29 13:54] ibuziuk commented on #1228
cc: @fche

[2019-01-29 13:54] davidfestal opened #1229 "Migrate the Woopra telemetry main component in a dedicated service for Che 7"
**Description:**

The content of this issue is to implement the migration of the telemetry wsagent plugin, to now provide the same feature as a standalone small REST service that can be made available as a side car container and contacted by sibling CHE 7 side car containers to submit telemetry events.

The guidelines of the implementation are provided in the related spike issue:  #1154

[2019-01-29 14:01] fche commented on #1228
PCP recognizes metrics labeled "_total" as monotonic-counter semantic metrics.  These are usually converted to rates (events per second) in downstream renderings.  That way, you don't just see an upward sloping line, but get to see the deltas / pulses when those events occur.

[2019-01-29 14:07] skabashnyuk commented on #1228
@fche In prometeus terminology they are counters  not gauges. https://prometheus.io/docs/concepts/metric_types/
[code]
So what we should do? Rename this counters or fix ***PCP***?

[2019-01-29 14:24] fche commented on #1228
If you'd like to see the counters in their raw, non-rate-converted form, we can create PCP "derived metrics" that read the counter as if were a gauge, and then the downstream consumers won't rate-convert it.  Or you can rename the metrics so PCP doesn't infer the counter semantics, if you just want to see the gauge.

Are you expecting to see time series of these gauged-counters that just look like

[2019-01-29 14:49] fche commented on #1228
BTW the numbers you are seeing ("[fictional] values below 1") are "rates of the event in Hz".

[2019-01-29 14:53] skabashnyuk commented on #1228
yes.

Not sure I understand why we need this conversation.

It is quite problematic. Due to the loop between upstream and downstream. How difficult it to fix it in PCP

Yes for counters. Not for gauges.

That has no practical sense for Che values. At least I can't imagine how can use it.

[2019-01-29 14:56] fche commented on #1228
Can you explain please what the event is that is being counted by this metric?

[2019-01-29 15:28] fche commented on #1228
see also https://github.com/redhat-developer/osd-monitor-poc/issues/23

[2019-01-29 15:54] garagatyi commented on #1217
If we change the code in the brokers Che 7 workpsace of OSIO won't start until we deliver that version of upstream Che.
I think we can:
1. Add compatibility with new fields names to plugin brokers (and leave compatibility with the old ones)
2. Add compatibility with new fields names on Che master side (and leave compatibility with the old ones)
3. Update editors/plugins that use old fields to have

[2019-01-29 16:11] ibuziuk commented on #979
Both PRs have been merged. Closing

[2019-01-29 16:11] #979 closed

[2019-01-29 16:18] ibuziuk commented on #1195
@amisevsk am I correct that we need a PR for changing `CHE_INFRA_KUBERNETES_PVC_PRECREATE__SUBPATHS` in cm, verifying it on dev cluster and creating HK issues for changing cm on dsaas / dsaas-stg ?

[2019-01-29 16:29] #1115 closed

[2019-01-29 16:31] ibuziuk opened #1230 "Need to update prod to the latest 6.18.1 version"
Related PR - https://github.com/redhat-developer/rh-che/pull/1219

[2019-01-29 16:40] l0rd commented on #1217
That means that we will have 2 copies of the same plugin. How will we handle this? Shouldn't we do these only after a couple of releases (i.e. prepare the PR but merge it after release of 6.19)?

[2019-01-30 07:06] invincibleJai commented on #1045
@slemeur @gorkem Sorry, I missed the thread. Am yet to give it a try, thanks @ibuziuk @benoitf for the inputs. VSCode APIs we are using are below :

- `vscode.window`
- `vscode.workspace`
- `vscode.WebviewPanel` (https://code.visualstudio.com/api/extension-guides/webview)
- `vscode.commands`

Had the discussion with @sivaavkd regarding it. I'll update the thread based on my findings as we proceed.

[2019-01-30 07:11] benoitf commented on #1045
ok so based on API used it should work

[2019-01-30 08:58] garagatyi commented on #1217
@l0rd I'm not going to duplicate the plugin in the registry, I want to duplicate just a couple of fields in the che-plugin.yaml of those plugins.

[2019-01-30 09:55] #692 closed

[2019-01-30 13:48] ibuziuk commented on #1228
@fche well, we do want che `counter` metrics been reported as `counter` not `gauges`. So, basically the current problem is that metrics with type `counter` are recognized for some reason as `gauges`, even though the type is explicitly defined (metric's name should not matter at all):

[code]

will it be possible to fix on osd-monitor side ?

[2019-01-30 13:54] fche commented on #1228
No, that is not correct.  PCP is correctly recognizing them as counters.  And as usual for PCP counters, the default way of processing counters for user interface purposes is to present them as rates.  The proposal on the table is to present the counters as though they were gauges: that is to show you the absolute counter value at any given time.

[2019-01-30 13:59] ibuziuk commented on #1228
@fche I got a bit lost :-(
According to prometeus metrics type [1] doc:

why does PCP display them as rates (average rates of the event in Hz) ?  This sounds nonsensical for me

[1] https://prometheus.io/docs/concepts/metric_types/

[2019-01-30 14:01] skabashnyuk commented on #1228
count me as a lost too. ))

[2019-01-30 14:11] fche commented on #1228
I believe it's because it is common to care about the changes to the counters: the events that cause the counters to increase.  That would be the delta (derivative) in the counter metric.  For example, when you look at an `/usr/bin/iostat` report, the software is reading cumulative counters from the kernel, but it's showing you the deltas / rates, because that tells you the traffic just in the imm

[2019-01-30 14:13] skabashnyuk commented on #1228
Can we evaluate delta (derivative) in grafana and keep raw data awailable too?

[2019-01-30 14:19] fche commented on #1228
The grafana datasource unconditionally does the rate-conversion on counters.  The raw data is archived & available as pcp files.  But we can also represent these counters as distinct gauge metrics ('instant' semantics in pcp lingo) using derived-metrics.  Then both raw & rate-converted values can be accessed via grafana, under different names.  Will give that a go and let you know.

[2019-01-30 15:58] fche commented on #1228
https://github.com/redhat-developer/osd-monitor-poc/commit/24de7a08610b4edddac85e4f507d20d5ce2d310d

on its way to dsaas-stg

[2019-01-30 16:40] fche commented on #1228
live on dsaas-stg.  The gauged counters are named without the `_total` suffix.

![foo](https://user-images.githubusercontent.com/588885/51996954-ccfd9f80-2483-11e9-869c-2a01522e197b.png)

[2019-01-30 18:32] slemeur commented on #1224
Should we have the root epic openshiftio/openshift.io#4730 under this repository?

[2019-01-30 18:34] ibuziuk commented on #1224
@slemeur having user-story under openshift.io works just fine IMO (I personally do not think we should have it under rh-che since the status service would be a separate repo)

[2019-01-30 19:51] skabashnyuk commented on #1228
They are gorgeous. Thanks, @fche .

[2019-01-31 10:04] garagatyi opened #1231 "Cleanup che-plugin.yaml fields left for backward compatibility"
Placeholder for eclipse/che#12566

[2019-01-31 11:40] invincibleJai commented on #1045
@benoitf yes actually the current version of extension in marketplace make use of `vscode.previewHtml` and we are in process of migrating it to `vscode.WebviewPanel` as previewHtml is depreciated and I can see there is an open task to support `previewHtml` so current release won't work [1]. Is there a way I can test with `vsix` which we can create locally?

[1] https://github.com/theia-ide/theia/i

[2019-01-31 12:22] ibuziuk commented on #1228
@fche could you please explain how could I see those raw graphs in graphana (currently it still shows me only rate-converted values):

![image](https://user-images.githubusercontent.com/1461122/52053969-32708f80-255b-11e9-99d4-9f79ac51818a.png)

[2019-01-31 12:37] ibuziuk commented on #1228
thanks for clarifications. Indeed, all metrics are rendered just fine against prod-preview:

![image](https://user-images.githubusercontent.com/1461122/52054554-3c938d80-255d-11e9-8ab7-a09fd88fed2a.png)

Going to close this issue once osd-monitor prod would be updated on prod

[2019-01-31 14:46] ibuziuk commented on #1228
openshiftio/saas-openshiftio#1210 is merged and osd-monitor has been successfully updated on prod. New raw metrics are also available now on dsaas
thanks @fche !

[2019-01-31 14:46] #1228 closed

[2019-01-31 21:49] amisevsk commented on #1195
@ibuziuk Sorry I missed the notification for this -- I opened https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2541 for dsaas-stg to make sure there weren't any PVC issues resulting, but haven't been able to follow up.

A PR should also be made to our cms, I can do that soon; I've been stuck in upstream land for the past week.

[2019-02-01 10:20] eivantsov commented on #1211
@ScrewTSW  You will probably have to need to add self signed cert to Java truststore

[2019-02-01 11:21] invincibleJai commented on #1045
i posted my query here as well https://github.com/eclipse/che/issues/12142#issuecomment-459690438

[2019-02-01 14:21] amisevsk commented on #1159
PR merged: https://github.com/eclipse/che/pull/12486

[2019-02-01 14:21] amisevsk commented on #1158
PR merged upstream: https://github.com/eclipse/che/pull/12486

[2019-02-01 16:30] amisevsk commented on #1196
PRs https://github.com/eclipse/che/pull/12583 and https://github.com/eclipse/che/pull/12582

[2019-02-05 09:45] garagatyi commented on #1217
Issue fixed in upstream Che

[2019-02-05 09:45] #1217 closed

[2019-02-05 15:18] ibuziuk opened #1234 "rh-che/dockerfiles build is failing"
Build of rh-che/dockerfiles https://github.com/redhat-developer/che-dockerfiles is failing on - https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/

[2019-02-06 09:02] #1197 closed

[2019-02-06 09:08] garagatyi commented on #1196
@amisevsk is there anything left for this issue or we can close it?

[2019-02-06 10:56] garagatyi opened #1235 "Propagate meaningful message when OpenShift resources quota is reached"
Placeholder for eclipse/che#12593

[2019-02-06 11:11] ibuziuk opened #1236 "Make all factories from eclipse.org website (Che 6) ephemerals"
- need to verify that che 6 factories work fine on che.openshift.io - https://www.eclipse.org/che/getting-started/cloud/
- change all existing stacks & factories
- get QA approval

![image](https://user-images.githubusercontent.com/1461122/54275859-06015780-458c-11e9-818b-8c1582a7599e.png)

- [x] Spring REST Guide - https://che.openshift.io/f?id=factory9ppesf180lud4qdh

- [x] Vert.x verticle - htt

[2019-02-06 11:16] ibuziuk opened #1237 "Investigate how prometheus metrics could be used on statuspage.io"
Need to investigat if statuspage support prometheus [1] format e.g. will it be possible to display status based on API endpoint which provides data in the prometheus format. Major use-case is the following - API endpoint provide a set of metrcis in prometheus format, will it be possible to configure status page, so that if metric `m` is lower than predefined value `n`, the realtime incident is cre

[2019-02-06 12:31] ibuziuk commented on #1154
@davidfestal do you think we can close this issue now ?

[2019-02-06 13:34] davidfestal commented on #1154
Yes, I think so.

[2019-02-06 13:36] ibuziuk commented on #1236
ephemeral switch should be only once the following features would be released and available on prod:
- https://github.com/eclipse/che/issues/12565
- https://github.com/eclipse/che/issues/12374

[2019-02-06 13:37] #1154 closed

[2019-02-06 13:37] davidfestal commented on #1068
Done with my preliminary akamai account for now. I'll replace akamai auth informations in the ci build as soon as we receive them

[2019-02-06 13:37] #1068 closed

[2019-02-06 13:45] ibuziuk opened #1238 "REST API to create workspaces from a devfile"
Placeholder for eclipse/che# - https://github.com/eclipse/che/issues/12572

[2019-02-06 13:46] davidfestal commented on #1071
Commented on the HK issue to have it applied on production also.

[2019-02-06 13:58] davidfestal commented on #1071
Applied on production.

[2019-02-06 13:58] #1071 closed

[2019-02-06 14:05] #1196 closed

[2019-02-06 14:06] #1195 closed

[2019-02-06 14:10] ibuziuk commented on #1199
As I understand registration with a new flow works just fine. For changing UI (if needed) we need to create another issue or focus on - https://github.com/redhat-developer/rh-che/issues/817 cc: @slemeur

[2019-02-06 14:10] #1199 closed

[2019-02-06 14:22] amisevsk opened #1239 "Devfile support for OpenShift Templates"
Placeholder for eclipse/che#12592

[2019-02-06 14:30] ibuziuk opened #1240 "Create che.openshift.io account on statuspage.io and contribute info about github state"

[2019-02-07 17:30] ibuziuk commented on #1230
prod-preview has been updated

[2019-02-11 09:03] garagatyi opened #1244 "Simplifying and speeding up CI"
**Description:**
We use CICO as a CI platform which provides bare VMs for each job iteration.
This let us to the installation of different software needed for the build of rhche: NodeJS, Golang, Java, Maven, Docker etc.
Installation of this software makes our build process longer and since we already have Docker installed there we could just lunch build inside of a docker image with all the needed

[2019-02-11 13:47] ibuziuk commented on #1211
@eivantsov is there any instructions for this.

[2019-02-11 18:23] ibuziuk commented on #1230
prod update is postponed due to https://github.com/eclipse/che/issues/12636 / need to wait for 6.18.1

[2019-02-12 17:42] amisevsk commented on #1234
Build has been failing for over two months -- issue is that there's no repo for `che-centos_nodejs_community` on quay.io.

Repo is created, PR https://github.com/redhat-developer/che-dockerfiles/pull/47 sent to clean up CI output (remove progress logging)

[2019-02-12 18:51] #1215 closed

[2019-02-13 05:52] amisevsk opened #1247 "Improve handling of quota issues when creating Services/Routes/PVCs"
Placeholder for eclipse/che#12658

Probably more useful now that we support user-defined services/routes/etc.

[2019-02-13 09:18] ibuziuk commented on #1234
@amisevsk great job - build is passing now -https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/ \o/ Wondering maybe would be great to  add a few lines about how to  add dedicated repo in https://github.com/redhat-developer/che-dockerfiles README ?

[2019-02-13 11:27] invincibleJai commented on #1045
`context` APIs and `webview` APIs are working as expected. However, am stuck with `findFiles` API

https://github.com/theia-ide/theia/issues/4323

[2019-02-13 13:47] ibuziuk commented on #1211
@davidfestal I believe we can close this issue now, right ?

[2019-02-13 14:32] amisevsk commented on #1234
@ibuziuk Good idea -- added to https://github.com/redhat-developer/che-dockerfiles/pull/47

[2019-02-13 15:05] ibuziuk commented on #1234
@amisevsk thank, great job! PR is merged. Closing

[2019-02-13 15:15] ibuziuk commented on #1230
PR for updating prod to 6.18.1 https://github.com/openshiftio/saas-openshiftio/pull/1221
waiting QA verification before merging.

[2019-02-13 15:36] ScrewTSW opened #1248 "Workspace project files are not being pulled on 2a starter cluster"
**Issue problem:**
`Starter-us-east-2a` cluster accounts are unable to pull project files.
After the IDE loads the project structure is empty, suggesting that you import files and sometimes an error with public key import pointing to a route with 503 error appears in che master logs.

This behaviour was observed on multiple accounts both on production and prod-preview.

**Red Hat Che version:**

v

[2019-02-13 15:42] ibuziuk commented on #1248
isn't it known [openshiftio/openshift.io#4695](https://github.com/openshiftio/openshift.io/issues/4695)

[2019-02-14 10:30] ibuziuk commented on #1235
Upstream issue is fixed. Closing https://github.com/eclipse/che/issues/12593

[2019-02-14 10:30] #1235 closed

[2019-02-14 10:31] ibuziuk commented on #1230
prod has been updated to 6.18.1. Closing

[2019-02-14 10:31] #1230 closed

[2019-02-14 15:02] ibuziuk commented on #912
@agajdosi are you to also close this one ?

[2019-02-14 15:06] agajdosi commented on #912
Hi @ibuziuk, thank you for the response and care. I have good news, we got some activity around this issue on Minishift side and recently this issue is no longer reproducible for us. I have closed the issue on Minishift side and you can close this one.

[2019-02-14 15:07] #912 closed

[2019-02-14 19:16] amisevsk commented on #1234
Build is now failing due to timeout -- no idea why.

[2019-02-18 07:54] ibuziuk commented on #1248
closing since it is already reported on osio

[2019-02-18 07:54] #1248 closed

[2019-02-18 08:04] ibuziuk commented on #1234
looking through commits I do not see any obvious reason of what could potentially slow down the build. Probably we just need to increase timeout for the time being.

[2019-02-18 12:05] ibuziuk commented on #1234
increasing timeout to 180 minutes - https://github.com/openshiftio/openshiftio-cico-jobs/pull/964

[2019-02-18 12:13] ibuziuk commented on #1244
WIP PR by @tdancs - https://github.com/redhat-developer/rh-che/pull/1204

[2019-02-18 15:55] ibuziuk commented on #1234
timeout increase seems to help -  https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/ \o/
Closing

[2019-02-18 15:55] #1234 closed

[2019-02-18 15:56] ibuziuk commented on #1216
`CHE_WORKSPACE_PLUGIN__BROKER_INIT_IMAGE` cm entry was removed from prod / prod-preview

[2019-02-18 15:56] #1216 closed

[2019-02-18 18:48] ibuziuk commented on #1211
verified against
minishift v1.27.0+707887e
minishift v1.27.0+707887e

[2019-02-18 18:48] #1211 closed

[2019-02-20 10:48] ibuziuk opened #1254 "Updating rh-che to the latest 7.0.0-beta-1.0 upstream version on prod"
Related PR https://github.com/redhat-developer/rh-che/pull/1253

[2019-02-20 15:41] ibuziuk commented on #1237
Update from statuspage.io support team:

[2019-02-20 15:54] fche commented on #1224
Does this service allow you to feed metrics or programmatic configuration changes to it?  e.g. can you tell it to start monitoring a given route url that doesn't exist yet, and measure time until it does?

[2019-02-20 16:22] ibuziuk commented on #1224
@fche hmm.. why would you like to start monitoring non-existing route ?
The main question we are currently having is if statuspage.io can support Prometheus format properly -  https://github.com/redhat-developer/rh-che/issues/1237

[2019-02-20 17:05] fche commented on #1224
Related to the other need to track openshift route-creation times.  Notify service at oc api call start time, let it determine time taken for route to be actually accessible.

[2019-02-20 20:02] ibuziuk commented on #1224
@fche AFAIK, it is planned to be done on che-server side and exposing via prometheus metric - https://github.com/eclipse/che/issues/12699

[2019-02-20 20:08] fche commented on #1224
cc: @gorkem
In other than the short term, does this sounds like the sort of tool we should provide for ourselves, as opposed to outsourcing it?

[2019-02-20 20:13] fche commented on #1224
OK, assuming it is in a position to reliably tell whether the routes are externally accessible.
BTW, submitted this RFE for openshift to consider supplying this info itself: https://github.com/openshift/origin/issues/22107

[2019-02-20 20:19] ibuziuk commented on #1224
@fche if we opt for a custom dsaas service the major question is, who will be the primary owner / maintainer  ?

[2019-02-20 20:47] ibuziuk commented on #1237
Another update from support:

[2019-02-20 20:56] ibuziuk commented on #699
Closing since che apb is planned to be deprecated in the short run

[2019-02-20 20:56] #699 closed

[2019-02-20 21:44] fche commented on #1224
aye, there is the rub

But independent of that question, one can work out in greater detail just what info you'd like to see there.

[2019-02-20 22:21] ibuziuk commented on #1224
@fche I believe most of the details are covered in the following user-story - https://github.com/openshiftio/openshift.io/issues/4730

[2019-02-21 06:49] Katka92 opened #1256 "Bayesian for pom.xml not working on reopening file"
When adding vulnerable dependency, bayesian error is shown. When closing a reopening the file, this error is not present.

**Red Hat Che version:**

version: che.openshift.io (current version 6.18.2)

**Reproduction Steps:**
Create workspace with Eclipse vert.x project. Open pom.xml. Add dependency
[code]
Wait for bayesian error to appear. Close file. Reopen file. Error is not present.

**Runtime:

[2019-02-21 20:32] fche commented on #1224
What do you think the chances are that many or all of the datasets you are talking about could be rendered entirely as grafana (or perhaps pcp) dashboards?  So, assume there is a queriable metric database nearby the rhche server.  Assume it's been gathering the status/health metrics being discussed over at openshiftio/openshift.io#4730.  Does the "system status" have to be anything other than a pr

[2019-02-22 11:15] ibuziuk commented on #1225
@Katka92 @tdancs any plans to fix this issue by the end of Sprint 162 ?

[2019-02-22 12:16] Katka92 commented on #1225
@ibuziuk I can take it.

[2019-02-22 12:16] ibuziuk commented on #1225
thank you!

[2019-02-22 15:05] ibuziuk commented on #1227
![image](https://user-images.githubusercontent.com/1461122/53250811-7a4a8880-36bb-11e9-9a6c-f104bd4d7a4f.png)

Number of running workspaces dropped from ~ 600 to ~100 but this figure still does not correlate with the info from zabbix. Further investigation is required

[2019-02-22 16:47] ibuziuk commented on #1237
Basically, statuspage.io does not provide support of prometheus. In general, all data processing would need to be done on our end and send via POST request using statuspage API:

[1]

[2019-02-22 16:51] fche commented on #1237
statuspage.io's custom-metrics machinery is push-based (making webapi calls to push metric series/samples) https://doers.statuspage.io/api/v1/metrics/ .

[2019-02-22 16:55] ibuziuk commented on #1237
Closing, since all the required investigations have been done.

[2019-02-22 16:55] #1237 closed

[2019-02-22 17:40] ibuziuk commented on #1224
I believe everything could be rendered entirely via grafana, but the goal of statuspage is to make it user-friendly, easy to update, easy to notify users, easy to create incident, easy to scheduled maintenance etc.
So, graphana and status page are two different beasts.

[2019-02-22 17:50] fche commented on #1224
Could we think about it as the public status-page being downstream of our internal status dashboards & machinery?  i.e., not tightly coupled to che, but rather to a hypothetical dev-console health dashboard?

[2019-02-22 17:52] ibuziuk commented on #1224
IMO, che.openshift.io is very special case not ~~tightly~~ related to the SaaS  which deserves own status page

[2019-02-22 18:00] fche commented on #1224
Understood, just trying to minimize number of bits of machinery and maximize reusability.  Maybe think of it more like - a running copy of che should have its own health display for benefit of each of its users.  Can the public dashboard be another consumer of that same data & maybe even some of the same renderings?

[2019-02-22 18:03] ibuziuk commented on #1224
well, potentially it could, but ideally status page should be deployed separately from the monitored service - if the service is down, status page should be still up with the reported accident (if status page is part of the service itself it would be down together with the service during incident / scheduled maintenance)

[2019-02-22 18:09] fche commented on #1224
Yup, kind of like a reliable mirror.

[2019-02-22 22:06] amisevsk commented on #1227
Should be resolved by PRs https://github.com/redhat-developer/rh-che/pull/1255, https://github.com/eclipse/che/pull/12748/, and https://github.com/eclipse/che/pull/12738. The issue, as far as I can tell comes from three things:

- We don't have useful logging for the runtimes consistency check task -- it only logs when it encounters an inconsistent runtime or error. It should log every time it run

[2019-02-24 11:27] ibuziuk commented on #781
Closing, since che apb is going to be deprecated in the short run

[2019-02-24 11:27] #781 closed

[2019-02-24 11:28] ibuziuk commented on #834
@alexeykazakov wdyt, can we close this issue ?

[2019-02-24 11:28] ibuziuk commented on #840
Closing, since apb is going to be deprecated in the short run

[2019-02-24 11:28] #840 closed

[2019-02-24 16:32] alexeykazakov commented on #834
Yeah.. we can close it as outdated. Don’t need this anymore.

[2019-02-24 16:51] ibuziuk commented on #834
Closing as outdated.

[2019-02-24 16:51] #834 closed

[2019-02-24 16:55] ibuziuk commented on #999
Closing as outdated - https://github.com/redhat-developer/rh-che/issues/834#issuecomment-466792090

[2019-02-24 16:55] #999 closed

[2019-02-25 06:39] Katka92 commented on #1225
PR [1] for fixing sequence diagram was created. Some additional info was added. Fixing the build of dependency image would require more investigation and is not part of this PR.

[1] https://github.com/redhat-developer/rh-che/pull/1258

[2019-02-25 07:24] #1238 closed

[2019-02-25 08:57] ibuziuk commented on #786
Closing as outdated

[2019-02-25 08:57] #786 closed

[2019-02-25 08:57] ibuziuk commented on #789
Closing as outdated

[2019-02-25 08:57] #789 closed

[2019-02-25 08:58] ibuziuk commented on #203
Closing as outdated

[2019-02-25 08:58] #203 closed

[2019-02-25 09:00] ibuziuk commented on #402
closing as outdated. current work in this direction is related to devfile

[2019-02-25 09:01] ibuziuk commented on #788
Closing as outdated

[2019-02-25 09:01] #788 closed

[2019-02-25 09:03] ibuziuk commented on #494
Closing as duplicate
Should be addressed via `k8s-image-puller` - https://github.com/redhat-developer/rh-che/issues/1226

[2019-02-25 09:03] #494 closed

[2019-02-25 18:16] amisevsk commented on #1226
Update:

- Moved service to its own repo https://github.com/redhat-developer/kubernetes-image-puller
- Set up CI
- Waiting to deploy to see if everything works, at which point the issue can be closed.

[2019-02-26 14:12] ibuziuk opened #1260 "[spike] CRD PoC: using k8s API for workspace management"
Related brief [1] (che workspace is extension of k8s API + leveraging devfile capabilities) - starting workspace via `devfile` powered by CRD
CRD summary [2].

Need to create a PoC in go that  leveraging devfile capabilities of workspace  creation via k8s API based on CRD.

[1] https://docs.google.com/document/d/1LlE6DDVHSVD2s-5ync8qJ5pr8_7Z-918tr5S0ho_KJg/edit
[2] https://docs.google.com/document

[2019-02-26 14:45] garagatyi opened #1261 "Update RhChe to 7 beta 2 and adapt configuration"
**Description:**
PR https://github.com/eclipse/che/pull/12673 should be merged in 7 beta 2. It changes service executor configuration which we use to avoid OOM of Che master and successful start of workspaces. Our configuration needs to be adapted.
What to take into account:
- there are 2 endpoints which are processed by 2 different executor services - major and minor
- Bootstrapper logs **should*

[2019-02-26 16:05] ibuziuk commented on #1244
@tdancs will you be able to finalize the draft PR during the sprint ?

[2019-02-26 18:50] fche commented on #1224
As a prototype, before we do a full proper operator / openshift4 / prometheus flavoured thing, we could perhaps layer a small piece of new code on top of the existing osd-monitor-poc pcp-based infrastructure, to relay metric threshold crossing events to statuspage.io.  We'd need to know a sample metric name and threshold predicate, and statuspage.io api credentials.

[2019-02-26 18:52] ibuziuk commented on #1224
@fche will you be able to give a hand with impl details in the next sprint (first we need to figure out which metrics are we going to push - hobby plan offers only 2 system metrics, so we need to be picky)

[2019-02-26 18:57] fche commented on #1224
Can indeed help with a quick prototype, presuming building on the present osd-monitor-poc machinery, not major new stuff.  It's about as complicated as adding a new outbound zabbix relay.

[2019-02-26 19:07] ibuziuk commented on #1224
Sounds good, I will reach you once I would have more details about params for statuspage API

[2019-02-27 00:45] ibuziuk commented on #1155
`Plugin Broker` doc is ready for review - https://github.com/ibuziuk/docs/blob/master/che_plugin_brokers.adoc
Also added to che 7 gdoc - https://github.com/ibuziuk/docs/blob/master/che_plugin_brokers.adoc

[2019-02-27 09:23] supriya-bharadwaj commented on #1155
Thanks for the content, @ibuziuk . @rkratky or I will look into this soon. :)

[2019-02-27 10:10] ibuziuk commented on #1155
@supriya-bharadwaj @garagatyi  I'm going to close this issue, so please provide review comments in the gdoc and I will try to swiftly provide relevant updates / fixes in the content.

[2019-02-27 10:10] #1155 closed

[2019-02-27 13:13] ibuziuk opened #1263 "Need to add ephemeral toggle (hidden by default) on the workspace creation view of UD"
Placeholder for https://github.com/eclipse/che/issues/12776

[2019-02-27 13:16] ibuziuk opened #1264 "VSCode extension broker killed when processing 2 extensions"
Placeholder for https://github.com/eclipse/che/issues/12651

[2019-02-27 13:17] ibuziuk opened #1265 "Support running multiple VS Code extensions in the same sidecar"
Placeholder for https://github.com/eclipse/che/issues/12395

[2019-02-27 13:19] ibuziuk opened #1266 "Errors when a workspace starts up with several remote plugins"
Placeholder for https://github.com/eclipse/che/issues/12762

[2019-02-27 13:21] ibuziuk opened #1267 "[Traces] Machine create/start trace has to be more detailed"
Placeholder for https://github.com/eclipse/che/issues/12739

[2019-02-27 13:48] ibuziuk commented on #1227
Closing since there is pending PR that is going to be merged soon

[2019-02-27 13:48] #1227 closed

[2019-02-27 16:08] ibuziuk commented on #1225
@Katka92 are you going to close this issue and create another one for build fixing ?

[2019-02-27 16:18] ibuziuk commented on #938
PR is sent - https://github.com/redhat-developer/rh-che/pull/1268

[2019-02-28 06:32] Katka92 commented on #1225
@ibuziuk I would prefer to wait few more days. There is PR from @amisevsk https://github.com/redhat-developer/rh-che/pull/1268 so I would wait when it is merged to see if it solve the problem. If not, I would close this issue and create one about deeper investigation of failing build. Are you ok with that?

[2019-02-28 06:58] rhopp opened #1269 "PR check job fails on postgres not being able to start"
PR check job is failing (most of the time, not 100%) on postgresql pod not being able to start.

Pod startup is stuck in this phase:
[code]
I've tried to extend the liveness&readines probes to bigger timeouts (more than 10 minutes), but postgres never starts...

If I take a look at running processes I see this:
[code]

I've spent few hours yesterday trying to figure out what's happening, but with

[2019-02-28 07:54] ibuziuk commented on #938
PR is merged. Closing

[2019-02-28 14:24] rhopp commented on #1269
I've created a [HK issue](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2570)

[2019-02-28 16:47] ibuziuk opened #1270 "Plugins installation process failed VS Code extension field 'extension' is missing in description of plugin"
Currently che 7 workspace with some new plugins like `ms-vscode.node-debug` / `ms-vscode.typescript:1.30.2` is faling with the following error on che.openshift.io:

`Error: Failed to run the workspace: "Plugins installation process failed. Error: Plugin broking process for workspace workspacey59swq09jw3ixvkn failed with error: VS Code extension field 'extension' is missing in description of plugin

[2019-02-28 19:48] ibuziuk commented on #938
re-opening, looks like it is still failing - https://ci.centos.org/view/Devtools/job/devtools-rh-che-build-che-credentials-master/273/console

[2019-03-01 08:41] aditya-konarde commented on #1269
I was able to run a Pod successfully with the template you provided, it got bound to a pv and has been running for some time now. What's the namespace you're hitting this error in?

From my namespace:
[code]

[2019-03-01 16:04] amisevsk commented on #1239
PR by @sleshchenko: https://github.com/eclipse/che/pull/12810

[2019-03-04 14:34] pbergene commented on #1269
There is nothing indicating an infra problem here.  There are however indications of something fishy happening with the internal posgres state. Every non-working deployment has a postmaster.pid file with 26 in as opposed to pid 1 for the functional deployments.

[2019-03-04 18:01] amisevsk commented on #1269
I could be entirely wrong on this, but it may be that the logs we're getting are from restarted containers -- if the first run fails and the pod is killed unceremoniously, it could potentially cause problems in recovering (which is what I've seen).

From debugging my pr-check builds, if I delete or cleanup the PVC and restart postgres it generally works. The issue is that we're not getting logs fr

[2019-03-04 18:02] amisevsk commented on #938
Looks like a similar but slightly different problem, I'll take a look.

[2019-03-04 18:05] ibuziuk commented on #1240
Done - https://che.statuspage.io/
Closing

[2019-03-04 18:05] #1240 closed

[2019-03-05 07:37] skabashnyuk commented on #751
won't fix

[2019-03-05 07:37] #751 closed

[2019-03-05 08:09] pbergene commented on #1269
Well, that theory got debunked quickly, now notice a few with pid68 - still consistent across pods / PVs though.

[2019-03-05 09:38] pbergene commented on #1269
I've noted that the file is created and removed 3-4 times during startup. When the error occurs it is attempting to start up before this file has been cleaned up.

[2019-03-06 05:19] amisevsk commented on #938
From what I've been able to find:

- Issue seems to be due to an NPE in sending a ping request, which only occasionally happens
  - Issues with e.g. the ping seem to affect other tests / how we track events needs to maybe be improved
- I'm not able to reproduce the *exact* failure yet but I'm able to generate similar failures by deliberately causing an NPE while debugging tests
- There's probably

[2019-03-06 12:42] #1270 closed

[2019-03-06 16:55] ibuziuk commented on #796
@davidfestal do you think we can close this issue ?

[2019-03-07 04:01] amisevsk commented on #1226
PR to deploy to prod-preview: https://github.com/openshiftio/saas-openshiftio/pull/1231

[2019-03-07 09:17] Katka92 opened #1282 "Workspace not started on prod-preview"
**Issue problem:**
When creating and running workspace on prod-preview, it failed with that message in console:
![screenshot from 2019-03-07 09-16-09](https://user-images.githubusercontent.com/29278800/53941920-b4ebf200-40b9-11e9-9e13-990468ed1ee8.png)

Seems like a problem of 2a cluster - I was able to see that on prod and prod-preview when using users provisioned on us-east-2a cluster. Users I'v

[2019-03-07 09:54] invincibleJai commented on #1045
@benoitf one help, as the same `vsix` is used in VSCode and CHE7 so once we install VSCode extension in `theia/CHE7` and it gets activated is it possible to know the extension is running in `CHE7/theia` ?

I was looking into `context` it doesn't look reliable for this?

[code]

[2019-03-07 11:46] Katka92 commented on #1282
I was not able to reproduce this error on production with user accounts provisioned on 2, 1a and 1b cluster.

[2019-03-07 11:52] #1266 closed

[2019-03-07 16:53] ibuziuk commented on #938
Temporary ignoring 'sendWorkspaceUsedOnActivityAfterInactivity' test - https://github.com/redhat-developer/rh-che/pull/1284

[2019-03-11 10:52] #1264 closed

[2019-03-11 14:20] amisevsk commented on #1236
@ibuziuk Is there a way to split this task so that I can verify some of the stacks?

[2019-03-11 18:02] amisevsk commented on #1282
There was a SNOW ticket created: INC0837585

According to that, issue should be resolved now -- @Katka92 can you confirm?

[2019-03-12 06:33] Katka92 commented on #1282
@amisevsk I've tried again with user account on production 2a cluster. Workspace was created and started successfully. The import of project takes incredibly long time, but it is probably another issue.

[2019-03-12 07:23] Katka92 commented on #1254
@ibuziuk We still have some issues with automated tests running on prod-preview. Today I've tested manually creation and start of workspace (I used vertx and nodejs). Workspace creation and startup worked fine, projects were imported (sometimes with needed refresh of the page) and successfully run. Preview URL shown in console after running project works fine.
I'm still not able to run Che 7 works

[2019-03-12 08:15] ibuziuk commented on #1188
PR sent - https://github.com/redhat-developer/rh-che/pull/1285

[2019-03-12 08:30] ibuziuk commented on #1244
@tdancs @ScrewTSW any plans to finalize the initial PR in this Sprint?

[2019-03-12 09:59] ibuziuk opened #1286 "Need to contribute 2 system metrics to statuspage"
Need to contribute 2 system metrics to statuspage - https://che.statuspage.io/

 - Successfully started workspaces ratio https://github.com/eclipse/che/pull/12852
 - Average workspace start time https://github.com/eclipse/che/pull/12859

[2019-03-12 11:04] ibuziuk opened #1287 "Need to add additional "FAQ" link to the UD which would point to the adoc in the rh-che repo"
Need to add additional "FAQ" link to the UD which would point to the adoc in the rh-che repo:
![image](https://user-images.githubusercontent.com/1461122/54195368-c882c880-44be-11e9-8c26-fcec09b0df50.png)
- the content of adoc is planned to be provided by the docs team via PRs: cc @rkratky

[2019-03-12 11:10] rkratky commented on #1287
Would it be possible to have the rendered adoc hosted somewhere like che.openshift.io/faq or similar? Two reasons:

- linking to GH looks like WIP, like something temporary
- GH rendering is not very good, and we can render the doc, so that it would use the official RHD branding

[2019-03-12 12:47] ibuziuk commented on #1287
This would require much more work / customizations, so I would rather opt for adoc on github.

Could you provide some examples, I find it quite good and use on a regular basis e.g. https://github.com/ibuziuk/docs/blob/master/che_plugin_brokers.adoc also all rh-che docs are in adoc format

[2019-03-12 13:21] ibuziuk commented on #1226
@amisevsk PR is merged but looks like `k8s-image-puller` is not yet deployed on prod-preview. Is it expected?

[2019-03-12 13:22] ibuziuk commented on #1225
@Katka92 any updates ^ ?

[2019-03-12 13:24] ibuziuk commented on #1167
@amisevsk isn't it already addressed by one of your PRs ?

[2019-03-12 14:12] ibuziuk commented on #1236
@amisevsk we could probably turn this to epic and add every single factory verification as a sub-task

[2019-03-12 16:55] rhopp opened #1289 "Very slow `git clone` on starter cluster 2a"
git clone operation is really slow in che on starter cluster 2a.

For all my tries I used this repo: https://github.com/openshiftio-vertx-boosters/vertx-http-booster
And this command: `time git clone https://github.com/openshiftio-vertx-boosters/vertx-http-booster`

We started investigating this, because our tests were timeout-ing on workspace startup on this.

##### First observation:
I've starte

[2019-03-12 17:00] rhopp opened #1290 "Logout is not working on che.openshift.io"
Trying to logout from che.openshift.io in dashboard (bottom left corner) is not working.
It just redirects user to:
![image](https://user-images.githubusercontent.com/1215011/54219880-8bcfc500-44f0-11e9-8612-3d85ece0dedb.png)

Watching network communication in browser, one will notice return code 400 for this request:
`https://developers.redhat.com/auth/realms/rhd/protocol/openid-connect/logout?re

[2019-03-12 17:47] ibuziuk commented on #1254
che.openshift.io has been updated to `Che 7 beta 1`
Closing

[2019-03-12 17:47] #1254 closed

[2019-03-12 17:49] ibuziuk commented on #1188
@garagatyi are you ok to close or you think some important info is still missing in the doc?

[2019-03-12 17:53] ibuziuk commented on #1239
PR is merged. Closing

[2019-03-12 17:53] #1239 closed

[2019-03-12 17:55] ibuziuk commented on #1282
@Katka92 closing. I believe @rhopp already created an issue for long cloning  https://github.com/redhat-developer/rh-che/issues/1289

[2019-03-12 17:55] #1282 closed

[2019-03-12 18:03] ibuziuk commented on #1287
@amisevsk as a pro on UD overriding could you please clarify how easy/difficult would it be to add an extra link in the footer ?

[2019-03-13 06:38] garagatyi commented on #1188
yes, we can close it

[2019-03-13 06:38] #1188 closed

[2019-03-13 07:03] Katka92 commented on #1225
@ibuziuk It seems that everything which is important was fixed. There are some minor issues left, so we created separate issues on our side to track that. I think this issue can be closed.

[2019-03-13 09:00] #1225 closed

[2019-03-13 09:20] ibuziuk commented on #1263
@amisevsk tested on prod and toggle is enabled by default, but looks like still pvc is used instead of empty-dir volumes:

![image](https://user-images.githubusercontent.com/1461122/54267451-8b2f4100-4579-11e9-960f-f6afeabe228d.png)

Am I correct that we need to wait 7 beta 2 where ephemeral toggle logic was fixed in the upstream ?

[2019-03-13 09:30] ibuziuk commented on #1263
hmmm.. looks like no matter if toggle is enabled / disabled pvc (not empty dir) is still used ¯\_(ツ)_/¯

[2019-03-13 12:04] ibuziuk commented on #1236
@amisevsk another option is spit it into changes required for stacks and factories

[2019-03-13 16:41] Katka92 opened #1291 "Rhche on pruduction spammed by Web socket session error"
**Issue problem:**
There is a huge amount of messages saying that ```Web socket session error``` is present and then ```Closing unidentified session``` which is related with that (at least this is my opinion).

Example from rhche log:
[code]

There is one more message which is probably related but occurs less often:
[code]

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishi

[2019-03-14 11:14] rkratky commented on #1287
OK

It's OK when only basic mark-up is used. Which what we should do anyway -- disregard my previous comment.

[2019-03-14 13:48] amisevsk commented on #1289
For clarity @rhopp, we're seeing slower git clones from a che workspace than the base PVC operation should take?

[2019-03-14 13:51] amisevsk commented on #1291
I agree that these logs are not useful.

FWIW I can reproduce `Closing unidentified session` semi-reliably locally on minishift by
1. Open dashboard to running instance of Che
2. Start new deployment of Che while leaving the dashboard open.
3. After Che starts, a lot of the time `Closing unidentified session` is logged ~30 times

[2019-03-14 13:58] amisevsk commented on #1287
Adding the link shouldn't be hard at all -- the footer is probably a less invasive and more common sense modification than we usually do.

Given a link, it'd be a 5 minute change.

[2019-03-14 14:08] amisevsk commented on #1167
@ibuziuk I'm not sure, Che seems to be putting out RuntimeExceptions unexpectedly far more than it should.

PR https://github.com/redhat-developer/rh-che/pull/1255 covers the tenant data cache, but it looks like the changes would need to be also made to `OpenShiftUserTokenProvider`. I'd need to look at it a bit more but it shouldn't be complicated.

[2019-03-14 14:10] amisevsk commented on #1263
So from checking on prod, it looks like the default state isn't propagated to the config (I didn't catch this in testing because the switch to `enabled` by default was a late fix). It works as expected if you toggle ephemeral mode to disabled and back again.

I'll work on it.

[2019-03-14 14:10] amisevsk commented on #1226
Update for whoever might be following: `k8s-image-puller` is now deployed but we're facing issues with auth and namespaces.

[2019-03-14 16:51] amisevsk commented on #1263
PR here: https://github.com/redhat-developer/rh-che/pull/1292

[2019-03-14 17:26] ibuziuk commented on #1290
was able to repro, looks important...

[2019-03-14 17:27] ibuziuk commented on #1290
Added to prio doc for the next sprint

[2019-03-14 17:30] ibuziuk commented on #1290
@rhopp against which user you was able to reproduce this issue ?

[2019-03-14 18:22] ibuziuk commented on #1290
looks like this is not user-specific. @davidfestal maybe you have some ideas?

[2019-03-14 19:19] ibuziuk commented on #1289
there is maintenance going on starter-us-east-2a, let's wait and retry once the upgrade is finished

[2019-03-14 20:23] Katka92 commented on #1291
When I reported it, it was really logged in very high speed. Today it seems not be logged that much, anyway it still appears.

[2019-03-15 02:10] amisevsk commented on #1291
I believe a lot of the `Closing unidentified session` occur around when the server is restarted.

[2019-03-15 07:49] garagatyi commented on #1291
Upstream issue https://github.com/eclipse/che/issues/11571 is quite old. Nobody has prioritized it yet

[2019-03-15 08:43] ibuziuk commented on #1287
@rkratky any ideas/proposals about FAQ content?

[2019-03-15 08:48] ibuziuk commented on #1261
First step for this issue https://github.com/redhat-developer/rh-che/pull/1294/

[2019-03-15 14:51] garagatyi commented on #1265
I'm finishing adding an ability to create Che pluginwith several VS Code extensions as Thomas suggested. See my comment https://github.com/eclipse/che/issues/12395#issuecomment-473314966
Here is the explanation that automatical collapsing of plugins into a sidecar would require more work https://github.com/eclipse/che/issues/12395#issuecomment-472527140.

@ibuziuk @l0rd Should I work on that autom

[2019-03-15 15:03] garagatyi commented on #938
What is the plan with this issue? Are we going to postpone finding the solution or we want to take it into the next sprint and work on it again?

[2019-03-15 16:14] ibuziuk opened #1296 "Rh-che should not depend on any other namespace than *-che and user"
there should be no checks involved for *-jenkins, *-run, *-stage
NOTE: user namespace, for now, is still planed to exist, so no need to remove "Login to OSO" installer for now

[2019-03-15 16:21] ibuziuk commented on #1296
Related fabric8-tenant PR - https://github.com/fabric8-services/fabric8-tenant/pull/761

[2019-03-15 16:26] ibuziuk opened #1297 "Need to verify that existing DELETE /api/user works as expected on che.openshift.io and does the hard delete of all the existing info about a user"
Che should provide API to clean up users when they are being deactivated (to shutdown WSs if needed, etc). Possible implementation - Che admin user with the ability to remove other non-admin users in Che server / or user that can remove himself:

`/api/user`

`@DELETE @Path("/{id}") @GenerateLink(rel = LINK_REL_USER) @ApiOperation("Delete user") @ApiResponses({ @ApiResponse(code = 204, message = "

[2019-03-15 16:33] davidfestal commented on #1290
it seems to me that the `redirect_uri` that that is passed to the `developers.redhat.com` logout endpoint by `fabric8_auth` is not the good one.

@alexeykazakov any idea of any change that would have occured in the `logout` endpoint of `fabric8_auth` ?

[2019-03-15 17:47] alexeykazakov commented on #1290
We have switched to developers.redhat.com sso (we do not use sso.openshift.io Keycloak anymore) sometime ago. It means we could lose some valid redirects during this transition.
che.openshift.io is not among valid redirects in RHD (it was in our KC). We will need to add this to RHD.
@davidfestal could you please create a JIRA for the RHD folks to add `https://che.openshift.io/*` and `https://che.p

[2019-03-15 17:54] alexeykazakov commented on #1290
@davidfestal I've created an issue in JIRA for that - https://issues.jboss.org/browse/MWES-3030
But please also move to logout v2.

[2019-03-15 18:01] ibuziuk commented on #1290
@alexeykazakov thanks a lot for your input, it is probably makes sense to take `logout v2` issue to the next sprint @l0rd wdyt?

[2019-03-15 18:26] ibuziuk commented on #1290
just discussed with @alexeykazakov that switching to `logout v2`  is not critical, but really-really nice to have. So, we could probably postpone the switch for 1- 2 sprints but should take it in mind during prio sessions.

[2019-03-15 18:38] amisevsk commented on #938
My understanding is that the test fixes + refactor involved are prioritized relatively low since analytics needs to be reworked in general for Che 7 workspaces.

I took a look at refactoring analytics manager recently and it was not entirely straightforward.

[2019-03-15 18:54] ibuziuk commented on #938
we are going to postpone the work related to fixing ignored tests, since those might be outdated fairly soon with telemetry for  Che 7

[2019-03-16 12:00] ibuziuk opened #1298 "Need to switch to Auth logout v2 in che.openshift.io"
Partially related to https://github.com/redhat-developer/rh-che/issues/1290#issuecomment-473382270

OSIO Auth team  actually implemented a new version of logout endpoint in auth service. Che should really switch to that v2 endpoint for logout.

Sorry, we forgot that che also using logout and didn't notify you about that change:

http://swagger.goa.design/?url=github.com%2Ffabric8-services%2Ffabric

[2019-03-16 13:25] skabashnyuk commented on #1297
What is the difference between proposed and existed https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-user/src/main/java/org/eclipse/che/api/user/server/UserService.java#L200-L214 ?

[2019-03-18 09:03] ibuziuk commented on #1297
@skabashnyuk it's just basically to verify that everything works as expected on che.openshift.io
Am I correct that [1] does hard delete, with all the db cleanup?

[1] https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-user/src/main/java/org/eclipse/che/api/user/server/UserService.java#L200-L214

[2019-03-18 09:10] ibuziuk commented on #1296
@alexeykazakov am I correct that PR above still does not contain changes related to the user-namespace removal? e.g. as part of this issue we just need to verify and confirm that che.openshift.io does not depend on stage, run & jenkins namespaces, but would **still** depend on user and che namespaces

[2019-03-18 09:53] ibuziuk commented on #1260
@l0rd since https://github.com/che-incubator/che-workspace-crd-controller is created and demo was shown on all hands + is planned to be shown during sprint review, are you ok to close this issue as `done` and exclude any work related to  `POC for CRD` from the next sprint goals[1]?

[1] https://docs.google.com/document/d/1KXfOGijpANoZJYp4We2kse9IUhjYxFnvKDVYK7APpts/edit#

[2019-03-18 10:00] davidfestal commented on #1260
Let me just what is still to be done:
- VS code and Theia plugin support
- Kubernetes and dockerImage tools
- Management of the Workspace Status

[2019-03-18 10:05] ibuziuk commented on #1260
just a suggestion, issues above could be created in https://github.com/che-incubator/che-workspace-crd-controller/issues and in case it is expected that someone would work on this during next sprint we would create placeholder issues in rh-che (the same way we do with upstream)

[2019-03-18 10:07] skabashnyuk commented on #1297
Yes. With a requirement that all workspaces have to be stopped before the delete request.

[2019-03-18 10:19] ibuziuk commented on #1297
@skabashnyuk so, `DELETE /api/user` will not stop running workspaces and stopping should be explicitly executed beforehand?

[2019-03-18 10:23] skabashnyuk commented on #1297
yes.

[2019-03-18 13:15] MatousJobanek commented on #1296
Yes, the PR contains changes related "only" to `-run`, `-stage`, `-jenkins` namespaces, the user namespace stays there. In other words, for now, it is fine that you verify that che does not depend on the three before-mentioned namespaces - the user namespace can stay in use.
As a next step would be also removing the user namespace, but that is not so critical for now.

[2019-03-18 13:19] ibuziuk commented on #1296
sounds good, so the scope of this issue is just to verify that che.openshift.io has no hard dependencies on stage, run, jenkins, which I think already the case cc @alexeykazakov

[2019-03-18 17:15] MatousJobanek commented on #1296
I would say not only verify that che.openshift.io has no hard dependencies by just "scanning the code", but also to try it by using an account that has only che and user's namespaces.
As for the user's namespace - this is something that we would like to remove as well in the future, it's just not a priority `#1` for now. @alexeykazakov correct me if I'm wrong

[2019-03-18 17:20] alexeykazakov commented on #1296
Right. There are two parts.
1. We should make sure that che can work with users with the user and che namespaces only. No jenkins, stage, run. This is a high priority task. I agree with @MatousJobanek that it's worth testing on the che side.
2. Getting rid of user namespace in che too (do not use/relay on it). We should track this issue separately. This is something that we didn't plan initially b

[2019-03-18 18:19] ibuziuk commented on #1296
ok, we are focusing on `#1` only as part of this issue. I suppose we would be able to provide an update by the end of the week

[2019-03-18 18:53] ibuziuk commented on #1260
@davidfestal after talking with @lord it was decided that probably the best option would be creating those issues under main upstream che repo to have a consolidated backlog. Could you please create dedicated issues for https://github.com/redhat-developer/rh-che/issues/1260#issuecomment-473844079 ?

[2019-03-18 20:17] amisevsk opened #1299 "Merge all che_plugin.yml fields into meta.yaml"
Placeholder for eclipse/che#12908

See also: https://github.com/eclipse/che/issues/12708#issuecomment-466049910, https://github.com/eclipse/che/issues/12783#issue-415199672

[2019-03-18 20:22] amisevsk opened #1300 "VS Code marketplace rate limit error"
Placeholder for eclipse/che#12840

[2019-03-19 07:14] #1231 closed

[2019-03-19 13:15] tgrall opened #1302 "Create an new Online Eclipse Che service to ease open source development"
To ease the development/contribution to OpenSource projects the RH/Che community should host an online service for Eclipse Che

This would also be a great way to invite developer to discover the power of Eclipse Che

This service will run an OpenShift

[2019-03-19 13:35] ibuziuk commented on #1302
@tgrall do you mean a brand-new service or some improvements / new hosting for che.openshift.io?

[2019-03-19 15:16] garagatyi opened #1304 "Merge plugin brokers into a single program - unified plugin broker"
**Description:**
We want to merge meat.yaml and che-plugin.yaml [here](https://github.com/eclipse/che/issues/12908) and as part of the plan we should merge brokers into a single program that would allow us to simplify WS master code and let broker handle everything needed to process meta.yaml files of plugins.
It is supposed that we create new broker that accepts processes meta.yaml files of all t

[2019-03-19 15:18] garagatyi opened #1305 "Make unified broker accept list of plugins ID:version s and download meta.yaml from plugin registry"
**Description:**
Instead of processing JSON with meta.yaml content as list entries Unified Broker should accepts list of plugin id:version entries and download meta.yaml content from Che plugin registry.

Flow:
- Add parsing of parameter with registry address
- Add parsing of plugins id:version entries. Probably from an environment variable.
- Download meta.yaml from plugin registry
- Support down

[2019-03-19 15:25] garagatyi opened #1306 "Make WS master call single unified plugin broker instead of several plugin brokers"
**Description:**
Flow:
- WS master sends all plugins meta.yaml files as a single JSON
- WS master expects from unified plugin broker a single event instead of the same number of events as the number of brokers used in the workspace provisioning
- WS master doesn't sort metas depending on the plugin type and broker support of that type

Depends on: https://github.com/redhat-developer/rh-che/issues/

[2019-03-19 15:30] garagatyi opened #1307 "WS master should send plugin IDs instead of plugins metas to unified broker"
**Description:**
Flow:
- Inject Che plugin registry endpoint as an environment variable to plugin broker
- Inject plugins id:version list as an environment variable to plugin broker
- Remove downloading and parsing meta.yaml files from Che plugin registry and passing it to plugin broker

Depends on https://github.com/redhat-developer/rh-che/issues/1305, https://github.com/redhat-developer/rh-che/i

[2019-03-19 15:44] garagatyi opened #1308 "Process additional fields in meta.yaml"
**Description:**
See detailed explanation here https://github.com/eclipse/che/issues/12908#issuecomment-474312103

Flow:
- Add apiVersion field to meta.yaml model
- In case `apiVersion: 2` do:
  - Unified broker should be able to parse and process new fields (inside of spec field) of meta.yaml and not process deprecated fields (extensions, attributes, url). See example here https://gist.githubuser

[2019-03-19 15:45] garagatyi opened #1309 "Implement multiple Theia plugins processing in a single Che plugin"
**Description:**
Do in a similar way to how it is done for VS Code extension plugins.
Can be part of https://github.com/redhat-developer/rh-che/issues/1308 if appeared to be easy and fast to implement, otherwise should be tackled separately.

[2019-03-19 16:00] garagatyi opened #1310 "Add unified plugin broker compatibility with the old meta.yaml flow"
**Description:**
https://github.com/redhat-developer/rh-che/issues/1308 is suppose to add extended meta.yaml support when `apiVersion: 2`. For simplicity and iterability backward compatibility with `apiVersion: 1` can be tackled in separate, this, issue.

Flow:
In case `apiVersion: 1` or empty (suppose string value) or field is missing convert old meta.yaml flow to `apiVersion: 2` representation a

[2019-03-19 18:56] ibuziuk commented on #1286
@fche @gorkem so how do you think we should proceed with this issue to make the impl reusable as much as possible also for 4.0 ?  Is creating a separate dsaas-service right away is the way to go?

[2019-03-19 20:22] fche commented on #1286
Re. metrics, would need the actual prometheus-level metric names.
Re. where to put statuspage.io outbound code -- it could be anywhere:
- inside rhche proper, write some new code in java and bob's your uncle
- inside osd-monitor, just a new small component we can write, as outlined in email two weeks back
- inside some brand new peer pod to osd-monitor

[2019-03-19 20:30] ibuziuk commented on #1286
@fche sure, I just wondering about the best approach, I just do not know if we should opt for osd-monitor or brand-new service taken into account operator / OpenShift 4 switch. I'm ok to put it the outbound code to osd-monitor for now as a prototype, but what is the mid term / long term approach is going to be ?

[2019-03-19 21:49] l0rd commented on #1290
@ibuziuk I am ok to add it to this sprint if you have some room

[2019-03-20 11:37] ibuziuk commented on #1290
@l0rd I suppose we have capacity only for fixing logout issue, but not for switching to logout v2 - https://github.com/redhat-developer/rh-che/issues/1298 which is going to be postponed in this sprint

[2019-03-20 12:03] ibuziuk commented on #1260
Closing as initial impl is done

[2019-03-20 12:03] #1260 closed

[2019-03-20 12:03] ibuziuk commented on #1265
Closing as done

[2019-03-20 12:03] #1265 closed

[2019-03-20 12:04] ibuziuk commented on #1263
Closed as done

[2019-03-20 12:04] #1263 closed

[2019-03-20 12:05] davidfestal opened #1314 "Add basic management of Workspace Status in the Workspace CRD controller"
Placeholder for eclipse/che#12940

[2019-03-20 12:07] davidfestal opened #1315 "Include VS code and Theia plugin support in the Workspace CRD controller"
Placeholder for eclipse/che#12934

[2019-03-20 12:08] davidfestal opened #1316 "Support the `dockerImage` tool type in the Workspace CRD controller"
Placeholder for eclipse/che#12936

[2019-03-20 12:11] ibuziuk commented on #1229
We plan to either finish telemetry for Che 7 in rh-che OR prepare docs / code to the phase once someone from Che OSIO team would be able to take over

[2019-03-20 12:12] davidfestal opened #1317 "Support the `kubernetes` tool type in the Workspace CRD controller"
Placeholder for eclipse/che#12938

[2019-03-20 12:13] davidfestal opened #1318 "Complete the `che-rest-apis` server with additional required APIs"
Placeholder for eclipse/che#12940

[2019-03-20 12:37] ibuziuk opened #1319 "Naming convention"
Placeholder for Naming convention - https://github.com/eclipse/che-plugin-registry/issues/55

[2019-03-20 12:45] ibuziuk commented on #1261
Looks like there is a problem with che 7 beta 2 related to exec execution - https://github.com/redhat-developer/rh-che/pull/1294

[2019-03-20 12:48] ibuziuk commented on #1300
need to investigate the possibility of redistribution of vscode extensions + discuss legal aspects about redistribution of extensions/rate limit with vscode legals.

[2019-03-20 12:51] ibuziuk opened #1320 "Fix issue with Getting Started in the email registration template"
Fix issue with Getting Started in the email registration template https://user-images.githubusercontent.com/1461122/53915886-1df34b80-4061-11e9-80e3-128495545f01.png

[2019-03-20 14:19] ibuziuk commented on #1286
@l0rd @slemeur based on the discussion during IC I believe we do need to contribute `Successfully started workspaces ratio` as the first metric to che.statuspage.io

[2019-03-20 14:34] ibuziuk commented on #1286
the second metric most likely should be time required for route to become accessible,  but here I'm not sure how exactly this should be implemented since this is cluster specific thingy

[2019-03-20 15:55] ibuziuk commented on #1263
verified on prod - works like a charm \o/
![image](https://user-images.githubusercontent.com/1461122/54699272-fefcbb00-4b30-11e9-82b9-19cc85e73b85.png)

[2019-03-20 17:28] l0rd commented on #1286
@ibuziuk ok for `Successfully started workspaces ratio` as first metric

[2019-03-20 21:34] amisevsk commented on #1296
Che gets namespace data from fabric8 user service through the [`TenantDataProvider#getUserCheTenantData`](https://github.com/redhat-developer/rh-che/blob/f9cffa61aa725c16dad546ec020f4aff4bb15888/plugins/fabric8-multi-tenant-manager/src/main/java/com/redhat/che/multitenant/tenantdata/TenantDataProvider.java#L61) method.

The two places this method is called are
1. `Fabric8WorkspaceEnvironmentProvid

[2019-03-20 21:56] amisevsk commented on #1286
Instead of route accessibility, would it make sense to have a more general "average time for workspace to start" metric? It should be pretty simple to implement along the lines of the successfully started metric (Look for starting event, start timer, look for started / failed event, stop timer).

[2019-03-20 22:08] fche commented on #1286
Please let me know when these metrics are exported, and under what names.

[2019-03-20 22:09] alexeykazakov commented on #1296
@pbergene or someone from the SD team should be able to help. No one else has enough permissions to do that.

[2019-03-20 22:22] l0rd commented on #1286
And yes `average time for workspaces to start` metric is good candidate as well. Probably better then the route one (even if I have been asking for the route metric).

[2019-03-21 08:30] pbergene commented on #1296
Sure, will help - just need the relevant information.
 From context it looks like -run -stage -jenkins, presumably on 2a for preview? What is the username and cluster?  Should the tenant db be adjusted?

[2019-03-21 08:45] MatousJobanek commented on #1296
it depends... it would be great if we could test it with adjusted tenant DB (missing namespace records), but every time when a user logs in to openshift.io, the WIT service sends `POST` request to tenant service and then the tenant checks for missing namespaces for the given user. When some namespace is missing then tenant service creates it.
In other words, it depends on how you want to test it.

[2019-03-21 13:23] amisevsk commented on #1296
On my end, I'm fine with either prod or prod-preview changes, whichever is more convenient for everyone else. Accounts are

- `amisevsk-preview` on `starter-us-east-2a`
- `amisevsk` on `starter-us-east-2`

[2019-03-21 14:28] ibuziuk commented on #1287
PR with FAQ.adoc - #1324

[2019-03-21 19:37] amisevsk opened #1325 "Verify dashboard build works right given upstream changes intoduced in che 7 beta 3"
**Description:**
PR https://github.com/eclipse/che/pull/12955 changes the dashboard build process somewhat. Since we are duplicating and modifying the upstream build to a large extent, we should verify that the changes in upstream work on our end and port them to our build.

[2019-03-22 00:40] alexeykazakov commented on #1296
@MatousJobanek I think it's OK to temporally hardcode this workaround for the particular user and revert it as soon as the testing is done.

[2019-03-22 11:09] garagatyi commented on #1305
@amisevsk Unfortunately I'm not sure that it is very clear on what exactly [issue](https://github.com/eclipse/che-plugin-registry/issues/55) about new naming convention would involve. There are open questions about [breaking existing workspaces on existing Che 7 instances](https://github.com/eclipse/che-plugin-registry/issues/55#issuecomment-475217440), about [naming convention details](https://gi

[2019-03-22 11:18] ibuziuk commented on #1287
@amisevsk great job, I believe we can close the issue now:

![che openshift io FAQ](https://user-images.githubusercontent.com/1461122/54819527-7438cf00-4c9c-11e9-8411-181fabbe3612.gif)

@rkratky looking forward for doc team contributions ;-) - https://github.com/redhat-developer/rh-che/blob/master/FAQ.adoc

[2019-03-22 11:18] #1287 closed

[2019-03-22 11:38] ibuziuk commented on #1261
PR for adding `CHE_WEBSOCKET_ENDPOINT__MINOR` - https://github.com/redhat-developer/rh-che/pull/1326
Once merged that should hopefully make https://github.com/redhat-developer/rh-che/pull/1294 to pass
Second step would be updating cms on dsaas / dsaas-stg

[2019-03-22 13:33] pbergene commented on #1296
@jfchevrette Is around later than me today if this is something you want to move forward on.

[2019-03-22 13:41] kbsingh commented on #1296
My understanding is that developers from che have Tier access to the clusters in order to go view the entire product and platform, so should not need to block on SD ( but SD might want to be aware anyway )

[2019-03-22 13:45] ibuziuk commented on #1296
@kbsingh no, we do not atm

[2019-03-22 15:29] bmicklea commented on #1236
I created an issue to add to the warnings for ephemeral workspaces: https://github.com/eclipse/che/issues/12960

We also need to think thought the impact on workspaces and factories. My opinion:

Default for workspaces: ephemeral
Default for factories: PVC-based
Default for all [Che getting started factories](https://www.eclipse.org/che/getting-started/cloud/): ephemeral

@slemeur @l0rd - any conc

[2019-03-22 17:19] slemeur commented on #1236
I'm not sure to understand the logic behind "default for factories", if we go with ephemoral when users are creating workspaces.

IMO, in term of experience, it would be more comprehensive if we make everything ephemoral by default - but we make it easy to turn on the persistent storage on any workspaces.
But I'm not sure what the experience look like when you are moving from ephemoral to persiste

[2019-03-22 17:33] ibuziuk commented on #128
closing as obsolete

[2019-03-22 17:33] #128 closed

[2019-03-22 17:50] ibuziuk commented on #1236
No UX differences for switching between  emptyDir / PVC volume for the storage:

1. PVC

![image](https://user-images.githubusercontent.com/1461122/54267451-8b2f4100-4579-11e9-960f-f6afeabe228d.png)

2. emptyDir

![image](https://user-images.githubusercontent.com/1461122/54699272-fefcbb00-4b30-11e9-82b9-19cc85e73b85.png)

[2019-03-22 17:57] slemeur commented on #1236
If I have a running workspace and I turn on persistent storage, how is this handled?

[2019-03-22 17:58] ibuziuk commented on #1236
new time when you start the workspace PVC would be used

[2019-03-22 18:00] slemeur commented on #1236
so if I had changes, they are loose. correct?
That is a warning that must be given to the end-user.

[2019-03-22 18:08] bmicklea commented on #1236
In the real world 95% of developer use cases will involve an expectation that information is persisted between workspace runs. Defaulting to ephemeral is dangerous because it means that 95% of the time a user will need to make a conscious choice to add PVC.

If you want to align the two then I'd argue we should have both newly created workspaces and factories default to PVC. We can use ephemeral f

[2019-03-22 21:45] ibuziuk commented on #1236
correct.

@ashumilova could you please comment on that and summarize what warnings are already in place and what is missing from your perspective

ok, so let's try to choose one option:

A. only factories from https://www.eclipse.org/che/getting-started/cloud/ are ephemeral
B. factories from https://www.eclipse.org/che/getting-started/cloud/ are ephemeral + by default workspase are ephemeral (ephe

[2019-03-25 06:07] amisevsk commented on #1236
To add, the reason we were aiming for ephemeral workspaces in the past is because of Gluster's slowness. Trying to use a Gluster-backed PVC means that `git` checking out most projects of reasonable size can take minutes.

[2019-03-25 08:16] #1304 closed

[2019-03-25 10:18] ashumilova commented on #1236
we have this message on workspace start
![image](https://user-images.githubusercontent.com/1611939/54911808-f40ea580-4ef7-11e9-984d-3f029f6e7bf6.png)

we have this message in status bar in IDE:
![image](https://user-images.githubusercontent.com/1611939/54911867-08eb3900-4ef8-11e9-8db0-5c55219bc573.png)

what is left this enhancement I think:
https://github.com/eclipse/che/issues/12960

[2019-03-25 10:30] ibuziuk commented on #1261
PR for correctly processing `CHE_WEBSOCKET_ENDPOINT__MINOR` on PR check side https://github.com/redhat-developer/rh-che/pull/1328

[2019-03-25 10:32] ibuziuk commented on #1236
@ashumilova is there anything similar for GWT based IDE? The scope of this issue is mainly Che 6 / GWT IDE based

[2019-03-25 10:38] ashumilova commented on #1236
ah, no-no-no - nothing in GWT one. Should be separate issue for IDE1.

[2019-03-25 10:42] ashumilova commented on #1236
IDE1 team is aware https://github.com/eclipse/che/issues/12960#issuecomment-476140658

[2019-03-25 10:44] ibuziuk commented on #1236
@ashumilova thanks for clarifications - smth. to discuss during SoS. At the moment the expectations from che.openshift.io are not really clear for short / mid-term cc: @l0rd @slemeur

[2019-03-25 13:23] MatousJobanek commented on #1296
@amisevsk I've modified the tenant settings of the account `amisevsk-preview` in prod-preview. I deleted the three namespaces: `amisevsk-preview-jenkins` `amisevsk-preview-run` `amisevsk-preview-stage` and I also removed the related records from the DB. In other words, your account is in the state where all other accounts should be when we drop the three namespaces and keep only `che` and `user` o

[2019-03-25 14:44] #1306 closed

[2019-03-25 19:12] ibuziuk commented on #1289
closing as not reproducible, tested against 2a:

[2019-03-25 19:12] #1289 closed

[2019-03-25 19:16] amisevsk commented on #1296
@MatousJobanek Thank you!

I've tested with the `amisevsk-preview` account and workspace start seems to have no issues:
- Che 7: Everything is created as expected; workspace fails to start due to ongoing services/routes issue.
- Che 6: Workspace starts without issue.

@ibuziuk I think this issue can be closed.

[2019-03-25 19:19] #1296 closed

[2019-03-26 10:14] ibuziuk commented on #1290
@Katka92 @ScrewTSW could you please confirm that the problem is not reproducible against prod-preview?

[2019-03-26 11:36] ibuziuk commented on #1325
looks like it started to fail - https://github.com/redhat-developer/rh-che/pull/1312#issuecomment-476587501

[2019-03-26 13:22] #402 closed

[2019-03-26 13:25] ibuziuk commented on #1261
che.openshift.io has been updated to 7 beta 2. Pending actions:
- [ ] @ScrewTSW is going to provide clear documentation related to JSONRPC queue  settings and stress tests related to OOM / DOS / DDOS
- [ ] @ScrewTSW will update https://github.com/redhat-developer/rh-che/pull/1323 and provide optimal settings for che.openshift.io

[2019-03-26 13:27] ScrewTSW commented on #1290
che.prod-preview.openshift.io logout works for me without any issues.

[2019-03-26 13:35] ibuziuk commented on #1290
@alexeykazakov I do not have access to https://issues.jboss.org/browse/MWES-2945 (`You can't view this issue`). Could you please clarify why logout still works fine on prod-preview?

[2019-03-26 16:15] alexeykazakov commented on #1290
You can't reproduce it more because https://issues.jboss.org/browse/MWES-3030 is done.
So, the redirect has been fixed. It should not work in both preview and prod.
I think we can close this issue and open a new one for siwtching che.openshift.io to `/logout/v2` See https://github.com/redhat-developer/rh-che/issues/1290#issuecomment-473382270 for details.

[2019-03-26 16:21] ibuziuk commented on #1290
@alexeykazakov sorry, not following - currently logout works on prod preview and does not work on prod (that is the main issue).
Logout v2 is out of scope for a couple of sprints as we discussed on 1:1  - https://github.com/redhat-developer/rh-che/issues/1290#issuecomment-473395154

[1] https://github.com/redhat-developer/rh-che/issues/1298

[2019-03-26 16:24] ibuziuk commented on #1290
oh, looks like fixed now

@alexeykazakov I guess you mean it should work ;-)

[2019-03-26 16:27] ibuziuk commented on #1290
@Katka92 @ScrewTSW could you please verify before closing?

[2019-03-26 16:30] alexeykazakov commented on #1290
Yeah.. sorry. Meant "it should NOW work in both preview and prod" :)

[2019-03-26 16:30] Katka92 commented on #1290
I can verify, working correctly on prod and prod-preview. I think you can close this. :)

[2019-03-26 16:34] #1290 closed

[2019-03-26 16:39] ibuziuk commented on #1042
@alexeykazakov this is the second iteration of https://github.com/redhat-developer/rh-che/issues/1296
should we consider taking it to the next sprint?

[2019-03-26 16:46] alexeykazakov commented on #1042
@ibuziuk IMO yes. But @gorkem can confirm if this is what we want (to be ready to drop usernamespaces the next sprint).

[2019-03-26 16:50] ibuziuk commented on #1042
ok waiting for confirmation before adding to the pri doc for the next sprint

[2019-03-26 17:15] ibuziuk commented on #1325
details in https://github.com/redhat-developer/rh-che/pull/1333

[2019-03-27 09:11] Katka92 commented on #1168
@garagatyi The rebase is executed by script hardcoded in devtools-ci-index.yaml [1]. And the root cause why it is not failing is this [2]. As far as this script is used by many teams, I don't want to do changes here. I've asked service delivery, if that behaviour is intended but I'm afraid they won't be able to answer the question. So we should probably do some check on our side. One of things tha

[2019-03-27 10:01] garagatyi commented on #1168
I believe it is a bug in the script. They disable exit on error and use explicit return code checking (e.g. https://github.com/openshiftio/openshiftio-cico-jobs/blob/master/devtools-ci-index.yaml#L488) and they do not do this check for the rebase command. We just need to add this check to that script. I mean upstream.
Can you handle that or you would rather leave it to me?

[2019-03-27 10:59] Katka92 commented on #1168
I can handle that. Thank you for your opinion. :+1:

[2019-03-27 11:20] Katka92 commented on #1168
PR was created: https://github.com/openshiftio/openshiftio-cico-jobs/pull/993

[2019-03-27 16:38] ibuziuk opened #1336 "Need to create dsaas service for deploying Prometheus / Grafana stack with dedicated dashboards implemented in the upstream che"
Need to create dsaas service under redhat-developer [1] for deploying Prometheus / Grafana stack with dedicated dashboards implemented in the upstream che [2] to prod-preview / prod:

![Знімок екрана  о 15 42 36](https://user-images.githubusercontent.com/1614429/54205784-ad748080-44df-11e9-92de-cf144c03d4a3.png)
![Знімок екрана  о 15 42 53](https://user-images.githubusercontent.com/1614429/5420578

[2019-03-27 17:22] ibuziuk commented on #1160
Probably should be closed in favour of https://github.com/redhat-developer/rh-che/issues/1336

[2019-03-27 20:17] fche commented on #1336
If we're running rh-che on recent enough ocp 3.11, then you can make this happen with an invocation of prometheus-operator / grafana-operator.  Is this your plan?

[2019-03-27 21:53] ibuziuk commented on #1336
@fche no, it would be just a matter of applying template - https://github.com/eclipse/che/blob/master/deploy/openshift/templates/che-monitoring.yaml

[2019-03-28 11:01] ibuziuk commented on #1236
@Katka92 @ScrewTSW all 12 factories have been updated to be ephemeral - https://www.eclipse.org/che/getting-started/cloud/
Now we do need some help from QA to verify that each of it works correctly and reliably (For the next sprint we might consider adding e2e tests for pre-difined factories). In the current sprint we need to verify the following:
- workspace from each factory is created and start

[2019-03-28 15:40] ibuziuk opened #1337 "Need to verify if rh-che is stable with the upstream CHE_CORE_JSONRPC setting and 1 GB of RAM"
PR introduced a few changes of CHE_CORE_JSONRPC which are most likely not needed and upstream values can be safely used - https://github.com/redhat-developer/rh-che/pull/1323

Need to verify if che.openshift.io works stable without sideeffects with 1Gb of RAM and upstream settings of `CHE_CORE_JSONRPC`.

[2019-03-28 15:55] ScrewTSW commented on #1337
About default upstream values, I was able to cause the OOM crash on upstream defaults as well. They will require some tweaking (namely message queue size)

[2019-03-28 15:57] ibuziuk commented on #1337
cc: @skabashnyuk ^ wdyt shoud upstream values be adjusted. IMO it would be great if che.openshift.io would use upstream setup for `RAM` / `CHE_CORE_JSONRPC`

[2019-03-28 19:56] fche commented on #1336
OK, in that case go for it!  While we're using the old OSIO CICO build/deploy system, you'll need to work through the internal housekeeping and external github.com/openshiftio/saas repos.

[2019-03-29 07:11] skabashnyuk commented on #1337
I agree with @ScrewTSW ```CHE_CORE_JSONRPC_PROCESSOR__QUEUE__CAPACITY``` has to be adjusted to fit in the 1G limit. @ScrewTSW what would be your suggestion?

[2019-03-29 07:37] Katka92 commented on #1236
@ibuziuk Questions regarding to testing:
1) For some project, commands for run or build are placed to ```COMMON``` so they are not seen in quick select [1]. Others have the commands places correctly [2]. Is that intended?

2) When starting ephemeral workspace from dashboard by clicking the ```play``` icon, the pop-up is shown informing about starting ephemeral workspace. This pop-up is not shown w

[2019-03-29 08:54] ibuziuk commented on #1236
yes, I believe this might be expected since command are put into the section based on the "type" attribute e.g.:

[code]

In any case, this is fairly minor thingy - the most important features are content assist, syntax colouring, navigation, which need to be tested meticulously.

cc: @ashumilova @bmicklea @slemeur^

yes, could you provide info what currently happens when the ephemeral workspace i

[2019-03-29 09:34] Katka92 commented on #1236
Thank you for your answer, I'll continue with testing and provide sum up after that.

[2019-03-29 09:43] Katka92 commented on #1236
I was wondering why "run" command does not have "run" type, but I agree this is minor issue. Thanks for explanation.

[2019-03-29 11:07] bmicklea commented on #1236
Anytime you start an ephemeral workspace you should see the warning. Good
catch on the workspace quick starter on the left navigation and the URL.
Those should show the warning too.

You should also see the warning again when restarting the workspace.
--
Brad Micklea // Group Lead, Developer Tools & Program // 416.707.0792

[2019-03-29 11:21] ashumilova commented on #1236
@Katka92, I have checked and in the left menu it works only by using "Run" button, you are right - when using direct workspace link or factory - no message is shown, we need to fix that, but perhaps it will be not a dashboard popup, but a message in workspace loader or on factory loading page

[2019-03-29 12:51] ibuziuk commented on #1267
upstream is closed. Closing

[2019-03-29 12:51] #1267 closed

[2019-03-30 12:32] Katka92 commented on #1236
@ibuziuk When I click the link to create factory, it opens new window and when IDE is loaded, it opens some file and run the code. Is there some logic in opening that file? Like once it is a class, but e.g. for vaadin it is a README file. Just wondering if we should verify something here too.

[2019-03-30 20:57] bmicklea commented on #1236
That behavior is defined in the factory that gets run. You can find more
info on factory post-load options in the Che docs.
--
Brad Micklea // Group Lead, Developer Tools & Program // 416.707.0792

[2019-04-01 06:56] Katka92 commented on #1236
@bmicklea Thank you for your answer. My question was more about like if that setting is ok. I would expect this behaviour united - like it always opens README or it always opens code. But it is more like detail.

[2019-04-01 08:25] Katka92 commented on #1236
@ashumilova Just an idea - what about having a line saying something like ```You are using ephemeral workspace``` directly in IDE, so that it will be seen all the time and you don't have to deal with different types of start up of the workspace.

[2019-04-01 08:30] ashumilova commented on #1236
@Katka92 we have small one in status bar, but you mean something like warning bar at the top, right?

[2019-04-01 10:05] Katka92 commented on #1236
@ashumilova I see, there is a small misunderstanding. These factories from page  https://www.eclipse.org/che/getting-started/cloud/ creates Che 6 workspaces. And there is no info about ephemeral state. I like the notice in status bar as it is in Che 7.

[2019-04-01 10:13] ashumilova commented on #1236
it was introduced recently in GWT IDE as well - https://github.com/eclipse/che/pull/12975
but i like the idea of having some warning with more attention.

[2019-04-01 10:52] Katka92 commented on #1236
Ah, nice, I didn't know, thank you for pointing me there. I think this is good step. But yeah I agree that it can be overlooked.

[2019-04-02 06:57] Katka92 opened #1341 "Content assist does not work"
**Issue problem:**
When typing code, no offer is given. When writing corrupted code, no error/warning is given.
The issue is reproductible with those factories:
 - [x] Vert.x verticle - - fixed by adding `"org.eclipse.che.ls.java"` **pending QA verification**
 - [x] Spring Rest Guide - fixed by adding `"org.eclipse.che.ls.java"` **pending QA verification**
 - [x] Angular 2 - fixed by adding `"org.

[2019-04-02 07:06] Katka92 opened #1342 "Build Wildfly project fails"
**Issue problem:**
The default and manual build of the Wildfly project fails with message:
[code]
![Screenshot from 2019-04-02 09-05-42](https://user-images.githubusercontent.com/29278800/55382664-8b8e7c80-5526-11e9-8c3a-2284e6d8ca63.png)

**Reproduction Steps:**

Create factory by clicking on the link: https://che.openshift.io/f?id=factoryuhcji9p0z72f43gc. Wait for run command to be triggered. Wa

[2019-04-02 07:26] ScrewTSW commented on #1337
I would try 200k at most. I think 150k is the safer value here.

[2019-04-02 08:57] Katka92 commented on #1236
@ibuziuk Sum up from QA testing:
All workspaces were started as ephemeral, all projects were imported, one file of the project was opened (it was code or README file) and run command was executed. Text coloring seems fine for all files. There were some major bugs found. Issues are created and added to ```KNOW ISSUES``` section in this issue description.

**Creating workspace via link**
There are s

[2019-04-02 11:10] ibuziuk commented on #1261
https://gitlab.cee.redhat.com/service/app-interface/merge_requests/274 is merged so closing this issue
partial docs have been provided in the `Change rhche JSONRPC queue settings` [1] description.
@ScrewTSW @rhopp could you please clarify what is the plan with the docs and https://github.com/redhat-developer/rh-che/issues/1337 in the next sprint?

[1] https://github.com/redhat-developer/rh-che/pul

[2019-04-02 11:10] #1261 closed

[2019-04-02 11:18] ibuziuk commented on #1341
@tsmaeder any ideas why content assist got broken ?

[code]

[2019-04-02 11:20] tsmaeder commented on #1341
This is Che 6?

[2019-04-02 11:29] tsmaeder commented on #1341
The NPE's are irrelevant, because they would only affect the java content assist, not any others. It can be an indication that the Java language server is not running when it is needed. Together with the fact that no errors appear, I would think that the language servers are not started properly. As to why this would have started happening, I have no idea, the langugages team hasn't done any che r

[2019-04-02 11:43] ibuziuk commented on #1337
@ScrewTSW are you planning to provide upstream PR for review as part of this issue?

[2019-04-02 11:48] ibuziuk commented on #1341
this is che 7 beta 2 cc: @l0rd @slemeur

[2019-04-02 11:55] tsmaeder commented on #1341
But it is a GWT workspace, right?

[2019-04-02 11:59] ibuziuk commented on #1341
correct

[2019-04-02 12:47] skabashnyuk commented on #1337
Already doing some adjustment https://github.com/eclipse/che/pull/13034

[2019-04-02 14:12] ibuziuk commented on #1042
@alexeykazakov we are NOT planning to take this issue to the next sprint. If the issue should be tackled during the next sprint please comment

[2019-04-02 14:28] amisevsk commented on #1325
I can take a look at this, it's likely a matter of copying the upstream build changes.

[2019-04-02 15:15] #1317 closed

[2019-04-02 15:16] #1315 closed

[2019-04-02 15:18] #1316 closed

[2019-04-02 15:27] ibuziuk opened #1343 "che-theia terminal is empty on Firefox #117"
che-theia terminal is empty on Firefox #117 - https://github.com/eclipse/che-theia/issues/117

[2019-04-02 15:27] ibuziuk commented on #1343
@davidfestal just created an issue for tracking upstream work. Could you please add an estimate?

[2019-04-02 15:28] davidfestal commented on #1343
done
FIY I already started working on it and will continue on it tomorrow.

[2019-04-02 15:39] ibuziuk commented on #1343
@davidfestal awesome. Thank you!

[2019-04-02 18:00] ibuziuk commented on #1337
@skabashnyuk wdyt, once the adjustments are done upsteam - does it makes sense to fall back on those defaults in rh-che?

[2019-04-02 18:52] ibuziuk commented on #1342
Need to play with `MAVEN_OPTS='-Xmx100m'`

[2019-04-03 10:19] ibuziuk opened #1344 "Java + Gradle factory create unusable workspace - no Content Assist / navigation etc. need to replace with Che 7 equivalent"
factory - https://che.openshift.io/f?id=factorydxms3luqlij4g39w

![image](https://user-images.githubusercontent.com/1461122/55471130-5d359d80-5609-11e9-9030-bf9232b924fd.png)

CA does not work and project type is blank

![image](https://user-images.githubusercontent.com/1461122/55471164-6de61380-5609-11e9-823f-42e30eebae87.png)
[code]

[2019-04-03 10:22] ibuziuk commented on #1236
@Katka92 could you please test if debugging facilities are working as expected?

[2019-04-03 15:11] Katka92 commented on #1236
@ibuziuk I'll take a look tomorrow or on Friday.

[2019-04-03 18:02] ibuziuk opened #1345 "redhat-developer/che-dockerfiles periodic CI is broken"
https://github.com/redhat-developer/che-dockerfiles
https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/

[2019-04-04 08:23] ibuziuk commented on #1344
@l0rd @slemeur looks like `gradle` factory  is a great candidate for Che 7 replacement, since looks like che 6 one is barely usable https://github.com/eclipse/che/pull/12898

[2019-04-04 10:52] ibuziuk commented on #1345
dedicated issue - https://github.com/redhat-developer/che-dockerfiles/issues/50
PR that should fix the build problem - https://github.com/redhat-developer/che-dockerfiles/pull/52

[2019-04-04 13:05] vorburger commented on #1345
Yup, confirming that this is exactly what I fixed in https://github.com/redhat-developer/che-dockerfiles/pull/52!

[2019-04-04 18:21] ibuziuk commented on #1345
PR that should fix node recipies - https://github.com/redhat-developer/che-dockerfiles/pull/56

[2019-04-04 18:59] ibuziuk commented on #1297
@alexeykazakov could you please clarify how/when the DELETE API is going to be called? Am I correct that it will be somehow involved from auth de-provisioning logic? if yes, when auth treat user as the one who needs to be de-provisioned / removed?

[2019-04-04 19:05] amisevsk commented on #1042
FWIW it looks like a relatively simple issue to fix, so if it's pressing I wouldn't be against spending half a day working on it next sprint -- this wouldn't interfere with planning much. WDYT @ibuziuk ?

If it turns out to be more complicated than it looks, we can drop it from the sprint but if it can be fixed in a few hours I think we could include it.

[2019-04-04 19:11] amisevsk commented on #1042
From what I can tell, what we're doing now is getting namespace, cluster URL, and certs from the user namespace and injecting them into the workspace (presumably so that `oc` commands in the workspace use the `user` namespace. Simply replacing the `user` namespace with `-che` would only change where `oc` commands are run. The caveat here is that whatever we do with `oc` would then have to fit in t

[2019-04-04 19:16] alexeykazakov commented on #1297
Yes, it's part of user deactivation flow.
If auth service doesn't receive any requests with the user token (login, logout, token refresh, user info, etc) for the 31 days in a raw then such a user is treated as inactive. All inactive users are deprovisioned daily (maybe hourly):
- User is marked as deprovisioned in manage.openshift.com
- User is deleted from auth.openshift.io
- Che is called to del

[2019-04-04 19:30] amisevsk commented on #1297
So it seems like we just have to account for the "stop all workspaces" in case any are running.

[2019-04-04 19:51] amisevsk opened #1347 "Use upstream che 7 stacks as-is in rhche without any customizations"
**Description:**
PR https://github.com/eclipse/che/pull/12898 fixes various issues with stacks in upstream Che. We should port those changes over to the fabric8 stacks.

List of che 7 stacks that should be available on che.openshift.io for GA:
- [ ] java-maven https://github.com/redhat-developer/rh-che/pull/1420 / https://github.com/eclipse/che/issues/13383
- [ ] java-gradle https://github.com/ecl

[2019-04-05 07:24] slemeur commented on #1344
go for it

On Thu, Apr 4, 2019 at 10:23 AM Ilya Buziuk <notifications@github.com>
wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2019-04-05 07:42] ibuziuk commented on #1347
also since che 6 gradle factory is pretty unusable atm it is a very good time to replace it with che 7 equivalent - https://github.com/redhat-developer/rh-che/issues/1344

[2019-04-05 12:01] tsmaeder commented on #1344
I wasn't even aware that there was a gradle factory in Che 6.

[2019-04-05 16:03] ibuziuk commented on #1297
@amisevsk I do not think we should call 'stop all workspaces' since according to the flow @alexeykazakov described there can not be any running workspaces. If there is one we have an issue on our end that should be reported and fixed. Basically, from Che perspective, this means that user is deleted only when he had no running workspaces for more than 30 days. Does it make sense?

[2019-04-05 16:11] ibuziuk commented on #1297
[code]

tested locally - calling this API does hard removal of the user (user is removed from dedicated db table completely)

@alexeykazakov are you ok to close the issue?

[2019-04-05 17:10] amisevsk commented on #1297
@ibuziuk I'd mostly be concerned because we have had issues of workspaces stuck in `STARTING` or `STOPPING` phases in the past. One of those could potentially persist for a month after a user uses the workspace.

[2019-04-05 17:19] alexeykazakov commented on #1297
Yes, we will call that endpoint when there is no activity from the user for 31 days but even if you have some stuck workspaces they will be deleted because we also call the tenant service during deactivation to delete all the namespaces.
I'm more worried about the internal state of the che master. DB, etc.
If you are saying that
[code]
should do the all needed cleanup in the che master side then f

[2019-04-05 17:21] #1297 closed

[2019-04-05 17:24] ibuziuk commented on #1297
@alexeykazakov please, just make sure that you call `DELETE https://che.openshift.io/api/user/<identity_id>` **before** namespaces removal on tenant side. If the call is failing for some reason, namespaces should not be removed and Che OSIO team should be involved for analysis

[2019-04-05 17:34] ibuziuk commented on #1345
looks like still, some weird things happen due to pre-building of quickstarts projects:

[2019-04-05 17:54] alexeykazakov commented on #1297
Ack. Will do.

[2019-04-08 13:29] xcoulon commented on #1297
@ibuziuk should we expect a `200 OK` response after the `DELETE https://che.openshift.io/api/user/<identity_id>` ?

[2019-04-08 13:30] ibuziuk commented on #1297
@xcoulon yes, I think so, but let me check

[2019-04-08 13:39] xcoulon commented on #1297
also, is it a blocking endpoint? I mean: once the response returns, can we immediately process with the tenant deletions?

[2019-04-08 13:41] ibuziuk commented on #1336
repo created - https://github.com/redhat-developer/che-monitoring

[2019-04-08 13:49] ibuziuk commented on #1297
yeah, it is sync / blocking AFAIK - once 200 is returned db records are removed cc @skabashnyuk

[2019-04-08 13:51] xcoulon commented on #1297
ok, great! thanks for confirming, @ibuziuk 🙌

[2019-04-08 14:05] ibuziuk commented on #1297
@xcoulon most welcome, just please bear in mind this part while integration -  https://github.com/redhat-developer/rh-che/issues/1297#issuecomment-480356148

[2019-04-08 14:19] xcoulon commented on #1297
yes, I've planned to call Che before the tenant service, and only the latter if Che responded with `200 OK` ;)

[2019-04-08 14:24] ibuziuk commented on #1042
@amisevsk no, I suppose we should not work on until user workspace would be confirmed to be removed, once it is done we would simply do a cleanup including removal of `login to OSO` installer. At the moment we do not plan to add this issue to the next sprint, so no work is needed in this deirection cc: @alexeykazakov @gorkem

[2019-04-08 15:37] ibuziuk commented on #1297
@xcoulon @alexeykazakov did some last checks:
- if a user has running workspaces removal will fail with `500` (technically should never happen during auth deprovisioning flow. If it happens  this means there is a bug on Che side):

[code]

- if removal is successful `204` is returned
- if a token is expired `401` unauthorized will be returned `The specified token is expired`

[2019-04-09 12:17] ibuziuk commented on #1341
@Katka92 @tdancs issue is pending QA verifications. Details are in the updated description

[2019-04-09 12:31] Katka92 commented on #1236
Sum up of current state of debug test so you can follow it.

| factory | status | comment |
|---------- | -------- | ------------ |
| PHP |  OK |  |
| Java + Maven | OK | |
| Spring Boot | OK | |
| Spring Rest Guide | OK | |
| Vert.x verticle | not yet tested | |
| Angular 2 | not yet tested | |
| C++ | not yet tested | |
| Java + Gradle | not yet tested | |
| Node.js | not yet tested | |
| Vaadin

[2019-04-09 16:36] amisevsk opened #1349 "Rh-che shouldn't be trying to delete projects when workspaces are removed."
**Issue problem:**
In the discussion around https://github.com/redhat-developer/che-functional-tests/issues/470, @nurali-techie noticed that Che is making delete project calls when a workspace is removed. This seems to be due to [`RemoveProjectOnWorkspaceRemove`](https://github.com/eclipse/che/blob/88923bdb64e535b82b71e61fc946b0ec7a516943/infrastructures/openshift/src/main/java/org/eclipse/che/wor

[2019-04-10 08:26] tsmaeder commented on #1341
@ibuziuk so this is a misconfiguration of the workspace (installers missing)?

[2019-04-10 08:31] ibuziuk commented on #1341
@tsmaeder yup, but not for gradle case which is still not usable in GWT for me - https://github.com/redhat-developer/rh-che/issues/1344

[2019-04-10 10:28] Katka92 commented on #1236
While testing Java + Gradle, the project is set to blank so the package in project view is showed as directories.
![Screenshot from 2019-04-10 12-26-46](https://user-images.githubusercontent.com/29278800/55871973-207b2080-5b8c-11e9-95d4-639d363144ad.png)

[2019-04-10 10:59] ibuziuk commented on #1236
@Katka92 there is a separate issue for Java + Gradle - https://github.com/redhat-developer/rh-che/issues/1344
We are planning to change Java + Gradle factory to Che 7 in the next sprint, since in GWT it is barely usable

[2019-04-10 12:28] ibuziuk opened #1350 "Need to update che.openshift.io to che 7 beta 3"
PR sent - https://github.com/redhat-developer/rh-che/pull/1333

[2019-04-10 12:31] ibuziuk opened #1351 "Avoid the need to set userland-proxy"
Che 7 GA Detect / ensure routes of ws.next are possible on underlying platform / infrastructure - https://github.com/eclipse/che/issues/11018

[2019-04-10 12:36] ibuziuk opened #1352 "Red Hat Demo preparations (Monitoring / Tracing)"
https://github.com/che-incubator/che-demos/tree/master/monitoring-and-tracing

[2019-04-10 12:37] ibuziuk opened #1353 "DockerCon demo preparations"

[2019-04-10 12:37] davidfestal opened #1354 "Implement compatibility with the new automatic multicast discovery in plugin broker"
Placeholder for https://github.com/eclipse/che/issues/13272

[2019-04-10 12:40] ibuziuk opened #1355 "Add working Che 7 factories to https://www.eclipse.org/che/getting-started/cloud/"
Add working Che 7 factories to https://www.eclipse.org/che/getting-started/cloud/. There should be at very least 3 Che 7 factories available

[2019-04-10 12:45] ibuziuk opened #1356 "Workspace failed to start because of plugins installation process failed"
Placeholder for - https://github.com/eclipse/che/issues/12999

[2019-04-10 12:46] davidfestal opened #1357 "Make the Workspace CRD POC available for others to use / contribute"
Placeholder for eclipse/che#13109

[2019-04-10 12:53] ibuziuk opened #1358 "Unable to start workspace due to untracked deployment"
More details in https://github.com/redhat-developer/che-functional-tests/issues/473

A few namespaces on various clusters are affected:

[code]

![Screenshot from 2019-04-08 07-53-27](https://user-images.githubusercontent.com/29278800/55701530-ca637d00-59d3-11e9-878a-0215a7f96380.png)

cleaned `kkanova-che` and `osiotest2-che` manually and this should unblock testing. Some differences between 2 ca

[2019-04-11 09:45] xcoulon commented on #1297
@ibuziuk thanks for the update. I will treat all non 204 responses as errors and log the responses.

[2019-04-11 11:05] ibuziuk commented on #1236
Closing since all factories on https://www.eclipse.org/che/getting-started/cloud/ are ephemeral. Separate issues related to those factories have been reported and added to the `Known Issue` section in the description

[2019-04-11 11:05] #1236 closed

[2019-04-11 12:27] ibuziuk commented on #1226
related oso-proxy changes discussion - https://github.com/redhat-developer/che-functional-tests/issues/470

[2019-04-11 16:56] ibuziuk commented on #1320
I believe this issue would be fixed during major branding update related to openshift.io -> che.openshift.io transition

[2019-04-12 07:31] Katka92 commented on #1236
@ibuziuk Debug is not working on Node.js factory, issue is here https://github.com/eclipse/che/issues/13130

[2019-04-12 10:53] apupier opened #1359 "Cannot create workspace with my account apupier@redhat.com"
**Issue problem:**

when using my apupier@redhat.com account, I can access dashboard but when I try to create a workspace. it stays blocked on the "loading" page:
![image](https://user-images.githubusercontent.com/1105127/56032091-83ea8700-5d21-11e9-8763-b69c10f17d07.png)

I tried in incognito browser mode

in console log, there are errors:

/api/permissions/system:1 Failed to load resource: the s

[2019-04-12 10:57] apupier opened #1360 "Cannot access che.openshift.io - There was an error processing request for access"
**Issue problem:**

if I try to use my account "apupier", i cannot access che.openshift.io
firtst I'm redirected to login page.
then I have some captcha:
![image](https://user-images.githubusercontent.com/1105127/56032378-57833a80-5d22-11e9-94c2-b9980d37339a.png)
then I have to an "activate account" button:
![image](https://user-images.githubusercontent.com/1105127/56032395-6669ed00-5d22-11e9-93c7

[2019-04-12 11:11] ScrewTSW commented on #1341
I've finished testing according to https://github.com/redhat-developer/rh-che/issues/1341
Changes have been marked by `EDIT:`
https://docs.google.com/document/d/1aRf2DdZ_LCWQDABdBc836y2oAT0DE3-iWFLJoprtGuQ/edit?usp=sharing

Issues for LSP bayesian have been created: https://github.com/eclipse/che/issues/13125 https://github.com/eclipse/che/issues/13127

[2019-04-12 11:27] ibuziuk commented on #1341
Closing, since all the follow up issues have been reported separately:

**Known issues:**
- [ ] [Java code assist is malfunctioning](https://github.com/eclipse/che/issues/13125)
- [ ] [CPP code assist is malfunctioning](https://github.com/eclipse/che/issues/13127)
- [ ] Java + Gradle - sepate issue https://github.com/redhat-developer/rh-che/issues/1344

[2019-04-12 11:27] #1341 closed

[2019-04-12 11:36] ibuziuk commented on #1360
@davidfestal maybe you have some ideas?

[2019-04-12 11:58] apupier commented on #1359
I tried using my aurelien.pupier@gmail credentials and I have the same result

[2019-04-12 13:58] ibuziuk commented on #1360
@alexeykazakov any ideas about https://user-images.githubusercontent.com/1105127/56032459-8c8f8d00-5d22-11e9-9e0d-38bba5d72a51.png ?

[2019-04-12 18:00] alexeykazakov commented on #1360
I see two users with the same email. It can cause issues. Please login using your username, not email. Otherwise developers.redhat.com/openshift.io got confused what user to use.

[2019-04-12 19:38] apupier commented on #1360
I logged using my username for this issue.

I have this other issue when I login with email https://github.com/redhat-developer/rh-che/issues/1359

[2019-04-12 20:52] alexeykazakov commented on #1360
Do you see any error if you go to https://manage.openshift.com and login?

[2019-04-15 06:08] apupier commented on #1360
with "apupier" account, I arrive on this page without error:
![image](https://user-images.githubusercontent.com/1105127/56110567-4b32f380-5f55-11e9-8639-6b0d2a0c0978.png)
if I click on "Open web console"
I arrive on this page:
![image](https://user-images.githubusercontent.com/1105127/56110593-5d149680-5f55-11e9-8d31-4aea5fa04deb.png)
if i click on signup, I arrive to the same error page:
![image]

[2019-04-15 06:29] apupier commented on #1360
as you mentioned that 2 users with same email address can cause trouble. I modified one of the account to use another mail address. i still have the exact same behavior.

[2019-04-15 13:57] alexeykazakov commented on #1360
You are trying to sing up but you have already signed up. Does it work if you just go to che.openshift.io and login?

[2019-04-15 15:14] apupier commented on #1360
if i click on login, I get back to login page, then when I enter credentials again, I'm redirected to the exact same Code ready Toolchain page

[2019-04-15 17:04] ibuziuk commented on #1336
PR with template from upstream - https://github.com/redhat-developer/che-monitoring/pull/1

[2019-04-15 18:20] amisevsk opened #1364 "Dashboard tests cause failing build"
**Issue problem:**
Currently tests are disabled while building the dashboard, due to downstream changes (see https://github.com/redhat-developer/rh-che/pull/1362). We either need to port our downstream changes to upstream or figure out a fix so that tests can be re-enabled.
Aym, the tests are failing since rh-che dashboard makes unexpected calls which are not mocked in the upstream - https://githu

[2019-04-15 18:22] ibuziuk commented on #1350
Updated PR from @amisevsk https://github.com/redhat-developer/rh-che/pull/1363

[2019-04-16 05:43] #1325 closed

[2019-04-16 05:44] amisevsk commented on #1307
Merged into upstream; should be in next release.

[2019-04-16 05:44] amisevsk commented on #1305
Merged upstream.

[2019-04-16 05:50] amisevsk commented on #1347
Before proceeding much farther in this issue, we should clarify what the purpose and goal of redhat-devleoper/che-dockerfiles is going forward.

We're currently using the upstream `che-dev` image for che7 workspaces, which has none of the modifications we do downstream (and is based off Debian IIRC). Additionally, `che-dev` is quite general-purpose; it has maven, java, node, tomcat, etc. installed

[2019-04-16 07:51] pbergene commented on #1358
@ibuziuk are these for logs coming in via tenant-log-indirector or rhche (master) itself?

[2019-04-16 08:10] ibuziuk commented on #1358
@pbergene correct rhche (master)

[2019-04-16 11:24] rkratky opened #1369 ""Docker registries" -> "Container registries""
**Description:**

The **Administration** screen in Che has a link titled **Docker Registries**. Suggest to use **Container registries** to make it clear that it can be any container registry, not just from Docker.

[2019-04-16 11:28] l0rd commented on #1347
What I would really like is that we just take existing images and reuse them as they are. It doesn't matter if it's for che.openshift.io, upstream or codeready worksapces: in all 3 platforms we want users to be able to run their stack without any modification and rebuild of the images.

Now the challenge on OpenShift is that by default the containers are started as arbitrary users. In particular:

[2019-04-16 11:40] ibuziuk commented on #1347
:+1:

@l0rd currently should we use s2i based images for che 7 for now on che.openshift.io to avoid these issues or somehow try to contribute required fixes to the images used in upstream recipes?

[2019-04-16 11:59] rkratky commented on #1369
Oops, wrong repo.

[2019-04-16 11:59] #1369 closed

[2019-04-16 12:51] ibuziuk opened #1370 "Pre-building samples for che.openshift.io"
Pre-building spring / vertx samples (based on booster-catalog API) have been disabled in https://github.com/redhat-developer/che-dockerfiles/pull/57/files

We need to come up with a new solution for pre-building samples that are used on che.openshift.io since https://forge.api.openshift.io/api/booster-catalog is obsolete for the time being

[2019-04-16 13:53] #1345 closed

[2019-04-16 14:00] l0rd commented on #1347
I think going with s2i images would be the right choice. And I would like to stress again that this is not a che.openshift.io specific issue. Che users and crw customers running on OpenShift will face this issue.

[2019-04-16 14:10] amisevsk commented on #1347
Ok, I'll look into it more, thanks @l0rd and @ibuziuk.

It looks like the current che-dev image is working becuase of its [entrypoint](https://github.com/eclipse/che/blob/master/dockerfiles/dev/entrypoint.sh)

[2019-04-16 17:21] ibuziuk opened #1371 "Enabling multiple che 7 plugins results in workspace failure due to quota of service"
starting workspace with multiple plugins enabled on che.openshift.io results in service quota issue:

![image](https://user-images.githubusercontent.com/1461122/56230441-867c1200-607c-11e9-9401-55153e047c2c.png)

I believe it should be possible to repro with just 4-5 plugins enabled simultaneously

Currently quota of services = 15, should we consider increasing this figure - https://github.com/fab

[2019-04-16 17:22] ibuziuk commented on #1371
@l0rd @slemeur WDYT ?

[2019-04-16 17:27] ibuziuk opened #1372 "Ephemeral workspace is failing to start due to "the node was low on resource ephemeral-storage""
So, far was able to repro only once with che 7 ephemeral workspace:
![ephemeral](https://user-images.githubusercontent.com/1461122/56230975-a233e800-607d-11e9-8012-3076b34cc1ea.png)

[2019-04-16 17:27] ibuziuk commented on #1372
@l0rd @pbergene wdyt?

[2019-04-16 17:29] l0rd commented on #1371
The question is rather we need those 15 services...

[2019-04-16 17:30] ibuziuk commented on #1371
@l0rd yeah, this is a good point. AFAIK there were some talks/issues related to decreasing of the # of exposed services / routes as I recall

[2019-04-16 18:56] ibuziuk commented on #1226
@amisevsk I guess we can close this issue now and track puller related tasks in https://github.com/redhat-developer/kubernetes-image-puller/issues WDYT ?

[2019-04-17 07:19] pbergene commented on #1372
Ephemeral storage isn't an infinite resource, so would have to scope out requirements vs what is available etc.

[2019-04-17 07:22] ibuziuk commented on #1345
seems to be fixed now https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/605/

[2019-04-17 07:26] ibuziuk commented on #1372
@pbergene and what is the current state? how much ephemeral storage is available per node?

[2019-04-17 08:54] garagatyi commented on #1371
@ibuziuk would it be possible to get services list for this case on upstream Che? This would simplify investigation why we use so many services

[2019-04-17 10:08] Katka92 opened #1373 "Unable to start workspace due to untracked workspace deployment"
**Issue problem:**
On my personal account ```kkanova-preview``` on prod-preview cluster 2a I am not able to start workspace because there is running pod with workspace id ```workspacejphawp7usecyocvm```.

When I create a workspace with another user on prod-preview, I can see two pods running:
[code]
but the pod that is remaining on the broken account is ``` <workspace_id>.dockerimage ```.

I have

[2019-04-17 11:51] Katka92 commented on #1373
I used that account only for running tests and test creates only workspace with default ephemeral settings. But I can see ```claim-che-workspace``` mounted for both pods - the one running in ```kkanova-preview``` account and one stopped in ```osio-ci-preview-testper``` account.

[2019-04-17 12:39] Katka92 commented on #1373
Ah, I see, ```*.dockerimage``` is for Che 6 and the others are for Che 7.

[2019-04-17 12:57] #1226 closed

[2019-04-17 15:24] ibuziuk commented on #1371
@garagatyi yeah, I can repro it by enabling those plugins:

![image](https://user-images.githubusercontent.com/1461122/56300029-76743900-6135-11e9-8d05-8ea8c7de9c36.png)

no services are created AFAIK, quota is hit before svc creation reqest

[2019-04-17 18:45] ibuziuk opened #1374 "Failed to start Che 7 workspace due to `zip: not a valid zip file` error"
**Issue problem:**

Failed to start Che 7 workspace due to `zip: not a valid zip file` error

![image](https://user-images.githubusercontent.com/1461122/56312998-cb25ad00-6151-11e9-9812-359a99e19eeb.png)

**Red Hat Che version:**

7 beta 2

**Reproduction Steps:**

Describe how to reproduce the problem:

can not reproduce reliably, but happened to me when 5 - 6 plugins have been enabled for a che

[2019-04-18 03:01] amisevsk commented on #1056
Just tested on 2a now that `k8s-image-puller` is deployed, and images in the caching list are pulling + starting in 500ms.

Closing this issue as resolved for now; further issues can be tackled separately.

[2019-04-18 03:01] #1056 closed

[2019-04-18 03:11] amisevsk opened #1375 "Update to upstream 7.0.0-beta-4.0"
**Description:**
Update to next upstream version and resolve conflicts.

[2019-04-18 10:16] ibuziuk commented on #1350
Prod has been updated to 7 beta 3 Closing
 https://github.com/openshiftio/saas-openshiftio/pull/1254

[2019-04-18 10:16] #1350 closed

[2019-04-18 10:36] garagatyi commented on #1371
But is there a way to reproduce services limit issue?

[2019-04-18 11:26] ibuziuk commented on #1371
@garagatyi yes, I was able to repro it by enabling those plugins https://github.com/redhat-developer/rh-che/issues/1371#issuecomment-484138009

[2019-04-18 12:38] Katka92 commented on #1373
Next account affected by this issue. User ```osiotest1a``` has running pod ```workspace4cjpqr46i0h5xadk.dockerimage```. This user is used for periodic tests.
cc @ibuziuk

[2019-04-18 13:11] Katka92 commented on #1373
Closing as a duplicate of https://github.com/redhat-developer/rh-che/issues/1358 Will add more info there.

[2019-04-18 13:11] #1373 closed

[2019-04-18 13:18] garagatyi commented on #1371
Tested with suggested config and was able to reproduce on upstream the amount of services. Workspace with editor and 9 plugins created 18! services.
Found with @sleshchenko the reason why we create so many services.
First of all we create 2 services for every plugin sidecar. This is caused by historical reasons. In particular, I had to add Che 7 functionality to Che 6 in an ad hoc manner because o

[2019-04-18 13:18] garagatyi commented on #1371
@davidfestal ^

[2019-04-18 13:19] Katka92 commented on #1358
Today, another account became broken. The account is for user ``` osiotest1a ``` on 1a cluster. Even it was only two hours old, I could not get any logs from rhche. The only log which is here is:
[code]
The account ``` kkanova-preview ``` has pod ``` workspacejphawp7usecyocvm.dockerimage ``` running for 2 days now. I removed that manually today to have account for manual tests.

[2019-04-18 13:32] garagatyi commented on #1371
Related https://github.com/eclipse/che/issues/11452

[2019-04-18 13:32] davidfestal commented on #1371
This seems related to issue https://github.com/eclipse/che/issues/11018 where the solution was to use localhost + port instead of the service name, in order to contact Theia / VSCode plugins. If we do that, we don't need a service anymore as @sleshchenko just said.

The good news is that there is already a new global option in the `che-plugin-broker` to use `localhost` instead of the service name.

[2019-04-18 13:36] garagatyi commented on #1371
@ibuziuk how important this issue is? Should we take it as unplanned or wait for the next sprint&

[2019-04-18 13:38] garagatyi commented on #1371
@davidfestal but it would not work on minikube with userland proxy enabled, right?

[2019-04-18 13:56] davidfestal commented on #1371
@garagatyi TBH I'm not an expert of the userland proxy mode, but I seem to remember having it enabled though accessing from one container to another through localhost + port. I might be wrong though.

[2019-04-18 15:15] ibuziuk opened #1378 "Connection reset during plugin brokering process for che 7 workspace startup"
Plugins:

![image](https://user-images.githubusercontent.com/1461122/56371543-98d18980-61fd-11e9-8365-5aa5ca2b0107.png)

[2019-04-18 20:58] amisevsk commented on #1358
I found similar signature keypair logs in testing workspace starts yesterday on `2a`; I'm seeing it in roughly 1/10 starts, but in my case it doesn't result in a broken account and the message is slightly different (key-pair already exists vs. workspace does not exist). The stack trace in my case is:
[code]

[2019-04-19 14:58] ibuziuk opened #1379 "Theia IDE **Next** editor fails to start with Che 7 workspace (works on minishift)"
### Description

Theia IDE**Next** / **Master** editor fails to start with Che 7 workspace
Seems to work just fine on minishift against upstream (7.0.0-beta-4.0-SNAPSHOT)
Default and `master` Theia editor work fine

### Reproduction Steps
Create and start che 7 workspace with Theia IDE next editor
![image](https://user-images.githubusercontent.com/1461122/56429338-d6e4b100-62c2-11e9-9a57-72799e2ad

[2019-04-19 15:18] ibuziuk commented on #1379
also one funny thing noted. Theia `Master` is also broken the same way on che.openshift.io, but it looks like it uses the very same image as `next` editor - `Image: eclipse/che-theia:next`

![image](https://user-images.githubusercontent.com/1461122/56430524-dea65480-62c6-11e9-909e-288148e41502.png)

![image](https://user-images.githubusercontent.com/1461122/56430608-18775b00-62c7-11e9-9138-69a55d0

[2019-04-22 06:45] mmorhun commented on #1379
@ibuziuk `master` is deprecated, `next` should be used instead. The fact that both use the same image is expected.

[2019-04-22 06:56] mmorhun commented on #1379
Just checked, it works from Firefox.

[2019-04-22 07:42] garagatyi commented on #1379
@mmorhun also checked upstream Che on minikube - works correctly on Chrome

[2019-04-22 10:05] garagatyi commented on #1379
Tried to play with it in PR https://github.com/redhat-developer/rh-che/pull/1380 but got next error error
[code]
At the same time I'm able to login using the same account to prod-preview and start a workspace. But Theia with image `next` doesn't start neither there.

[2019-04-22 13:43] AndrienkoAleksandr opened #1381 "Unable edit container definition in the che 7 workspace"
Placeholder for openshiftio/openshift.io#

![unableEditMachineInTheDashboard (2)](https://user-images.githubusercontent.com/6873095/56503250-96cd3a80-651d-11e9-800e-075a671b6a74.gif)

[2019-04-22 13:44] AndrienkoAleksandr commented on #1381
@amisevsk could you take a look?

[2019-04-23 06:06] ibuziuk commented on #1379
@mmorhun if `master` deprecated maybe it makes sense to hide this editor picking from UD completely ?
@garagatyi yeah, as I wrote in the description theia next seems to work just fine in the upstream

[2019-04-23 06:22] garagatyi commented on #1379
@ibuziuk I wasn't sure if you were talking about upstream or RhChe

[2019-04-23 06:39] ibuziuk commented on #1379
yeah. sorry for the confusion - just updated the description

[2019-04-23 07:23] AndrienkoAleksandr commented on #1379
I see DOM Exception in the browser console, maybe it's a reason of the issue:

<details><summary>Stack trace</summary>
<p>

[code]
</p>
</details>

I am trying to build image to get normal stack trace.

[2019-04-23 10:03] ibuziuk commented on #1360
@alexeykazakov redirect is also broken for me on prod-preview

![image](https://user-images.githubusercontent.com/1461122/56572500-79e94380-65bf-11e9-88e7-19bcfeee9cd9.png)

This is what I get after pressing sign-up button^
NOTE: I can access https://che.prod-preview.openshift.io and web-console of oso cluster without any issues by accessing the direct link. This looks like redirect issue for me n

[2019-04-23 12:50] amisevsk commented on #1381
Is this a regression? I don't recall making any changes around this recently.

[2019-04-23 12:52] AndrienkoAleksandr commented on #1381
Yes, it's regression.

[2019-04-23 14:32] ibuziuk commented on #1043
Once https://github.com/redhat-developer/rh-che/issues/1042 is resolved we would simply close this issue as won't fix (AFAIK OSIO platform team is not going to work / investigate those failures presently)

[2019-04-23 14:58] ibuziuk commented on #1358
cleanup is done. Some details:
- `workspace4cjpqr46i0h5xadk.dockerimage` deployment has been run for 5 days
- che 6 workspace `eclipse/ubuntu_jdk8` image @Katka92 are we testing che 6 periodically against the ubuntu stack / image? if this is the case it need to be changed to `centos` one
- routes, services has been also cleaned

[2019-04-23 15:12] alexeykazakov commented on #1360
Sign-up flow in prod-preview is not that straight forward as it in prod. This is why you got confused:

1. manage.openshift.com shows that error only if you are trying to sign up instead of login for the existing account. The message here is misleading.
2. "Open Web Console" opens openshift.io (PROD!), not prod-preview.openshift.io. This is why you are not logged-in there.

So, do not use sign-up

[2019-04-23 15:49] ibuziuk commented on #1360
hmm.. ok so you redirect from `prod-preview.openshift.io` to `che.prod-preview.openshift.io` is not supposed to work and this is known issue that will not be fixed, right?

[2019-04-23 16:05] ibuziuk commented on #1320
@Katka92 @ScrewTSW I know you checked the registration flow just after the registration. Could you please shed some light on how email template looks now for a newly provisioned users? Also would be great to provide info about registration flow when user is provisioned for the first time via factory from https://www.eclipse.org/che/getting-started/cloud/ e.g. Spring Boot - https://che.openshift.io

[2019-04-23 17:31] alexeykazakov commented on #1360
Redirects from prod-preview.openshift.io to che.prod-preview.openshift.io should work. But I don't see here any redirection issues.
@ibuziuk can you please describe your steps?

[2019-04-23 18:34] amisevsk commented on #1381
This issue reproduces in upstream 7.0.0-beta-3.0 as well.

[2019-04-23 19:13] amisevsk commented on #1381
Created issue https://github.com/eclipse/che/issues/13218 to track

[2019-04-24 05:58] Katka92 commented on #1358
@ibuziuk The image we are using is ``` che/vertx ``` for our specific project. But we use upstream DialogAbout test, which tests really basics (workspace was started, IDE was loaded) and this is the only one using upstream image (the ubuntu one).
If you think that it can be problem using this image, we can simply remove this test from our suite. I don't think it is worth rewriting as this test doe

[2019-04-24 07:45] Katka92 commented on #1320
@ibuziuk I've created an account for a red hat user yesterday on production and email looks like that:
![Screenshot from 2019-04-24 08-04-07](https://user-images.githubusercontent.com/29278800/56635986-b53f4d00-6667-11e9-9222-189447d2dc4b.png)

So today I created new user using the link to Spring Boot factory you posted. It redirects me to the login page, so I click ``` Create one now ```. I fille

[2019-04-24 13:33] ibuziuk commented on #1360
@alexeykazakov The problems I see on prod-preview:
- when one press "SIGN UP" button on prod-preview.openshift.io  regular RH login page is shown
![image](https://user-images.githubusercontent.com/1461122/56662943-513b7980-66a5-11e9-9cbd-0765e70719f1.png)
- once a user is registered the following page is shown
![image](https://user-images.githubusercontent.com/1461122/56663198-ceff8500-66a5-11e9-8

[2019-04-24 13:39] ibuziuk commented on #1320
thanks, @Katka92
I see 2 issues here:
1. email template is still Openshift.io centric (nothing about che.openshift.io / Hosted Che) not sure if it is expected from marketing / PM perspective cc: @slemeur @bmicklea
2. if a user is registered via factory link he is not redirected to the factory link after registration

[2019-04-24 13:47] alexeykazakov commented on #1360
Yes, this is what I'm talking about. Prod-preview uses different sign-up flow (see dev guide) for security reasons.
Use login instead of sign-up.

[2019-04-24 13:49] ibuziuk commented on #1360
ok, but anyway @apupier has a similar issue on prod

[2019-04-24 13:54] alexeykazakov commented on #1360
The only problem I see in prod is that misleading error message in manage.openshift.com when you are trying to sign up but using credentials for the existing account (you should have logged in instead).
Do you see anything else?

[2019-04-24 14:00] ibuziuk commented on #1360
ok, so how should we escalate / tackle this issue - this sign up flow is super misleading [1] and redirect does not seem to happen.
@apupier are we correct that this is  the only issue you are facing?

[1] https://github.com/redhat-developer/rh-che/issues/1360#issuecomment-483119417

[2019-04-24 14:07] bmicklea commented on #1320
1. The email template needs to be changed with the OpenShift Online group - they've got other changes going through (this week I think) that should include these fixes
2. I'm not sure who has to address this...

[2019-04-24 14:21] ibuziuk commented on #1320
@bmicklea 2 is smth we should take care in che.openshift.io e2e registration flow - once user is provisioned this page should be refreshed automatically and a workspace creation  based on factory should start
![Screenshot from 2019-04-24 08-16-58](https://user-images.githubusercontent.com/29278800/56640226-c3df3180-6672-11e9-9a6c-b44bda5de514.png)
This does not happen atm, right @Katka92 ?

[2019-04-24 14:25] amisevsk commented on #1381
I took a brief look at fixing this issue but couldn't figure it out so I'm leaving it for normal prioritization (unless it's a blocker @AndrienkoAleksandr )

Editing the workspace config works without any problems, but making any modifications to the machine recipe results in the recipe being thrown away with some errors logged (see upstream issue).

[2019-04-24 15:56] alexeykazakov commented on #1360
What redirect does not happen? I'm still confused. You are trying to sign up for the existing OSIO account. The only problem I see is the confusing error message saying "There was an error processing your request" vs. something like "Such account already registered/exists please use login instead" or something like this.

manage.openshift.com is external service managed by OpenShift Online (team)

[2019-04-25 06:59] Katka92 commented on #1320
@ibuziuk I think that during the registration process you are redirected to newly opened tab two times. So if you continue in that tab, you probably lose the information about URL which you visited first time. I can try that again and pay attention on that.

[2019-04-25 07:25] invincibleJai commented on #1045
I was trying the latest release of dependency-analytics 0.0.12 in https://che.openshift.io/, selecting CHE7 as stack.

Dependency Analytics expects `mvn` and `npm` binaries on your PATH or need to add path in `settings .json` as below

[code]
 but when extension is trying to access mvn , it saying mvn not found

<img width="1605" alt="Screenshot 2019-04-25 at 12 42 46 PM" src="https://user-images.

[2019-04-25 07:47] AndrienkoAleksandr commented on #1381
I't's not a blocker issue.

[2019-04-25 13:41] AndrienkoAleksandr commented on #1379
@ibuziuk We got **breaking changes from theia**:  https://github.com/theia-ide/theia/pull/4724
Something wrong with theia start synchronization. On the local servers like minikube and minishift it's not reproducible...

Original error: `InvalidStateError: getLayoutMap() must be called from a top-level browsing context.`. We lost original exception, because theia code has some code section without

[2019-04-25 14:28] ibuziuk commented on #1347
Need to test upstream stacks as-is on che.openshift.io and do not override anything on rh-che: e.g centos/python-36-centos7:1 from https://github.com/sclorg

[2019-04-25 15:10] garagatyi commented on #1310
We discussed this with Mario and Ilya and agreed not to support backward compatibility yet since Che is in beta and not heavily used at the moment.

@ibuziuk can we close this issue?

[2019-04-25 16:31] ibuziuk commented on #1310
yes, I believe we can close it now

[2019-04-25 17:56] ibuziuk commented on #1300
Closing since workaround has been implemented and promoted to prod https://github.com/eclipse/che/issues/12840#issuecomment-486663799

[2019-04-25 17:56] #1300 closed

[2019-04-25 19:37] #1310 closed

[2019-04-29 09:42] ibuziuk commented on #1358
@Katka92 no need to update anything related to Che 6 test suite. Let's leave it as is. please sync with @rhopp regarding Che 7 test strategy for che.openshift.io to be on the same page. Ideally, we should have the possibility to reuse and run any upstream che 7 test in the downstream.

[2019-04-29 09:55] ibuziuk commented on #1358
Since kibana is back I started to investigate the issue again and the data regarding untracked deployments is different now. Zabbix provides the following data atm regarding potential problematic workspaces:

- 1a - no suspicious workspace deployments detected
- 1b - no suspicious workspace deployments detected
- 2 - no suspicious workspace deployments detected
- 2a - 3 suspicious workspace deploy

[2019-04-29 11:51] ScrewTSW opened #1392 "Remove pod getting stuck in status Terminating"
**Issue problem:**
After many (thousands) workspace creations, starts and deletions an account tends to get a remove pod that's stuck in state Terminating with no container running in the pod

namespace: `<username>-che`
usernames:
* `osiotest-workspace-2` (production account)
* `osiotest-workspace-2a` (production account)

![Screenshot_20190429_121658](https://user-images.githubusercontent.com/16

[2019-04-29 12:21] ibuziuk commented on #1358
take a look at workspace pods on `2a`:

- found no traces about underlying workspaces in kibana
- quite a few of those pods have `Evicted` status @pbergene @jfchevrette any ideas how workspace pod could end up being in this state for 44 days?

[2019-04-29 14:39] ibuziuk commented on #1392
some investigation details - the rm pod is a single container one and the container has `Terminated` status with exit code 0:

The first thing that is really suspicious is the:

It is not at all clear why the Pod as marked as `Terminating` even though the Container itself `Terminated` with 0 exit code. @pbergene @jfchevrette ideas?

[2019-04-29 14:44] ScrewTSW commented on #1392
HK issue: https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2609

[2019-04-29 16:20] vorburger opened #1393 "Add Quarkus Stack"
So https://github.com/redhat-developer/che-dockerfiles/pull/54, based on https://github.com/eclipse/che-dockerfiles/pull/240 (and https://github.com/CentOS/container-index/pull/395), was a first step to add a Quarkus Stack to https://che.openshift.io.

What's missing is to add it to https://github.com/redhat-developer/rh-che/blob/master/assembly/fabric8-stacks/src/main/resources/stacks.json.

To b

[2019-04-30 08:37] ibuziuk commented on #1393
@vorburger looks like the build is fix now \o/ https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/
and Quarkus image is built periodically and pushed to the quay registry - https://quay.io/repository/openshiftio/che-centos_quarkus.io_jdk8

@vorburger I believe now you can provide the brand-new stack to the stacks.json

[2019-04-30 14:54] ibuziuk commented on #188
seems to work just fine
![image](https://user-images.githubusercontent.com/1461122/56970925-7b3ee100-6b68-11e9-9fbf-e2dc5261201a.png)

@sunix closing. Feel free to re-open if you are still facing this issue

[2019-04-30 14:54] #188 closed

[2019-04-30 15:26] ibuziuk commented on #190
Closing as outdated

[2019-04-30 15:26] #190 closed

[2019-04-30 15:27] ibuziuk commented on #194
@rhopp do we have dedicated upstream / functional test issue? I plan to close this issue in favour of one your team is working on

[2019-04-30 15:29] ibuziuk commented on #375
With the move to Theia, this optional task becomes irrelevant, closing - https://github.com/eclipse/che/issues/6683#issuecomment-369204411

[2019-04-30 15:29] #375 closed

[2019-04-30 15:39] ibuziuk commented on #398
I believe we should redirect to https://mattermost.eclipse.org/eclipse/channels/eclipse-che, but we are not planning to work on this issue in the meantime. The issue should be closed once che 7 is going to be the only option for che.openshift.io (Theia does not have Help -> Community / only Help -> About)

[2019-04-30 15:42] ibuziuk commented on #519
@slemeur this looks like deprecated now due to Che 7 and UBI. WDYT about closing this one?

[2019-04-30 21:33] AndrienkoAleksandr commented on #1379
Upstream issue: https://github.com/theia-ide/theia/issues/5046
Variant of the fix to track: https://github.com/theia-ide/theia/pull/5047

[2019-05-02 07:25] Katka92 commented on #1392
Our testing account ``` osio-ci-e2e-004 ``` has two pods stuck in the same state. They were created today at ~0:45 am.

![Screenshot from 2019-05-02 07-47-03](https://user-images.githubusercontent.com/29278800/57059097-f52fb100-6cb3-11e9-93d9-3eab99b4b8e9.png)

[2019-05-02 08:11] ibuziuk commented on #1364
@amisevsk I would rather opt for porting downstream changes to the upstream

[2019-05-02 08:14] ibuziuk commented on #1379
Mover to `Other Che Teams` pipeline since OSIO team is not working on this issue

[2019-05-02 09:18] ibuziuk opened #1395 "Need to create the `latest` folder for each plugin in the plugin registry that would allow to specify plugins with the `latest` version"
Need to create the `latest` folder for each plugin in the plugin registry that would allow to specify plugins via the following format:

- `che-machine-exec-plugin:latest`

[2019-05-02 09:20] ibuziuk commented on #1395
we should work on this only once https://github.com/eclipse/che-plugin-registry/pull/135 is merged. This means `latest` folder would become obligatory only for `v3` version of plugins

[2019-05-02 10:04] ibuziuk opened #1396 "If the plugin version is not specified - fall back on `latest`"
This issue is to allow a definition of a workspace plugin without a specific version:

- `id: che-machine-exec-plugin` - in this case, the `latest` version of the plugin should be used.

the case should be tackled on wsmaster / plugin broker side (when version is missing always fall back on the latest).

Another thing we need to take care of are the versions of the `exec` and `theia` that are auto

[2019-05-02 12:02] #1352 closed

[2019-05-02 12:02] #1353 closed

[2019-05-02 12:04] ibuziuk commented on #1314
Done - https://youtu.be/MZdogrJfD6k

[2019-05-02 12:04] #1314 closed

[2019-05-02 12:18] ibuziuk commented on #1351
preferably should be implemented / merged once https://github.com/redhat-developer/rh-che/issues/1308 is done

[2019-05-02 12:30] ibuziuk commented on #1354
Related to the **Future Improvement** comment in the merge meta.yaml / plugin.yaml change -https://github.com/eclipse/che/issues/12908#issuecomment-474312103

[2019-05-02 12:55] ibuziuk commented on #1396
On ws-master side:
 - changes required in Devfile config to not specify the version of plugin at all - https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-devfile/src/main/resources/schema/devfile.json#L175
 - modify parsing of the plugin version in FQNParser - https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server

[2019-05-02 13:02] garagatyi opened #1397 "Request ID field is not in RhChe logs"
**Issue problem:**
Upstream Che logs configuration is supposed to support injecting request ID into the logs. See configuration https://github.com/eclipse/che-lib/blob/master/che-tomcat8-slf4j-logback/src/assembly/conf/logback-json-appenders.xml#L19 and related Java code https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/core/commons/che-core-commons-logback/src/main/java

[2019-05-02 13:09] garagatyi commented on #1397
It seems that it is not a bug and the reason that we don't have `req_id` is that no client is setting it and WS master doesn't do this either.

[2019-05-02 13:20] garagatyi commented on #1397
Closing as this is something that needs to be done upstream

[2019-05-02 13:20] #1397 closed

[2019-05-03 09:08] tsmaeder commented on #1354
It is important that we do not break self hosting as described in https://docs.google.com/document/d/1V292nYN655ekPPZvzdg7zbLpwVXW5uFjmffgoN2CmpM/edit#bookmark=id.kw179rb9gjl6
If we _do_ break that approach, we need to come up with an alternative.

[2019-05-03 09:09] davidfestal commented on #1354
@benoitf any idea about whether it might break self-hosting ?

[2019-05-05 12:17] #519 closed

[2019-05-06 14:33] amisevsk commented on #1364
@davidfestal The relevant diff is [here](https://github.com/redhat-developer/rh-che/blob/af99e3c307891bc63dc274f9b352224858fde3cc/assembly/fabric8-ide-dashboard-war/src/components/ide-fetcher/che-ide-fetcher.service.ts#L106-L126) -- do you think it can be ported to upstream without issue?

[2019-05-06 14:46] davidfestal commented on #1364
@amisevsk Yes, I think they could be ported to upstream without issue, though the involved API call will always fail (gracefully afair) when not on `rh-che` at first.
In order to really benefit from Dashboard CDN-pre-fetching also for upstream, we should add the wsmaster plugin introduced in commit https://github.com/redhat-developer/rh-che/commit/6cb9308746e18e39c9bf0575ec57c8d17e6c5878#diff-d1c7

[2019-05-08 20:14] amisevsk commented on #1395
@ibuziuk Would this be a manually managed thing or automated in some way? Do committers manually have to set the meta in the latest folder?

[2019-05-08 20:42] ibuziuk commented on #1395
@amisevsk yeah, the current plan is to manually manage the folder. My understanding that for Che 7 GA it is ok, but we might reconsider the whole plugin registry approach beyond GA since it looks like it does not scale well (each vsix should be manually added to the registry and supported there )

[2019-05-12 22:41] gorkem commented on #1045
@invincibleJai Are you specifying your own image to run the extension, if not it is run inside the Theia IDE container which does not have `npm` or `mvn`.

[2019-05-13 05:37] invincibleJai commented on #1045
@gorkem I tried on  https://che.openshift.io/ , selecting CHE7 as stack and installed the plugin (dependency-analytics 0.0.12) via `plugin by ID`  command provided by theia/CHE7 to install any plugin from VSCode marketplace.

1. `npm` was available to the extension when I selected a node project
2. `mvn` was not available with the above issue ( i selected maven project )

Is the way am trying out

[2019-05-13 14:20] ibuziuk commented on #1379
verified on che.openshift.io:

![image](https://user-images.githubusercontent.com/1461122/57628831-f5c12500-759a-11e9-9da1-0d8e4aca94e5.png)

Closing. Thanks @AndrienkoAleksandr !

[2019-05-13 14:20] #1379 closed

[2019-05-13 14:27] ibuziuk commented on #1347
Not sure if we need a new issue but, `theia:next` is currently the default editor in the upstream - on `rh-che` all che 7 stacks should also use `theia:next` by default (currently on che.openshift.io `1.0.0`) - is still used https://github.com/eclipse/che/pull/13235

[2019-05-13 18:02] ibuziuk commented on #1375
Related PR for prod update - https://github.com/openshiftio/saas-openshiftio/pull/1271

[2019-05-14 07:51] benoitf commented on #1354
@davidfestal why it should break self-hosting ?

[2019-05-14 07:53] davidfestal commented on #1354
@benoitf no idea, but my purpose was to let you confirm to @tsmaeder that it doesn't break it :-)

[2019-05-14 09:03] tsmaeder commented on #1354
@benoitf https://docs.google.com/document/d/1V292nYN655ekPPZvzdg7zbLpwVXW5uFjmffgoN2CmpM/edit#heading=h.mu558mvq9pl4 suggests running the ide and plugin containers in a workspace: if we can't tell the ide container where the plugin host is, how do we separate the outer editor (the one we're using to develop) from the inner (the one being developed)?

[2019-05-14 09:07] benoitf commented on #1354
@davidfestal @tsmaeder
it should not break self-hosting

in fact multiple containers is still compliant with discovery (as we share the network). Moreover, there are custom ENV variables allowing to specify the discovery host/port if you need to opt-out
Also, we can still use previous ENV variables to declare remote endpoint for any plugin.

[2019-05-14 09:18] tsmaeder commented on #1354
@benoitf can we please try this work flow and document it in the referenced document _before_ we turn on discovery as the default mechanism? IMO, we need to continuously improve developer experience and we should make sure at the very least that we don't break documented work flows.

[2019-05-14 12:51] ScrewTSW commented on #1358
I've encountered the same issue with our `osiotest-workspace-2a` account running on `starter-us-east-2a` on `production` environment.

[2019-05-14 13:14] rhopp commented on #1358
I took a look into kibana for logs of that workspace (https://logs.dsaas.openshift.com/goto/46a39e0f655490ee9fcf42f40a57bc1e).

From logs it seems, that the workspace never got to "Stopped" state. After log entry "workspace is stopping" follows directly "workspace remove". Usually there is also "workspace is stopped" between them as seen for example on this search: https://logs.dsaas.openshift.com

[2019-05-14 17:38] amisevsk opened #1408 "Adapt upstream dashboard changes"
## Description

PR https://github.com/eclipse/che/pull/13198 upstream adds devfile support to the user dashboard. Once merged we'll need to check if downstream updates are needed and, if so, make them.

[2019-05-14 19:59] sbryzak opened #1409 "Fix Che Server to WIT Relationship"
Creating this issue in order to track the Che-related work required to address upstream issue (requires access): https://jira.coreos.com/browse/ODC-228.

Related auth service PR: https://github.com/fabric8-services/fabric8-auth/pull/838

### Description
WIT Service is currently used by Che Server (/api/user/services). See https://github.com/redhat-developer/rh-che#interaction-of-red-hat-che-with-o

[2019-05-14 20:03] ibuziuk commented on #1409
@l0rd looks we would need to take in the next sprint. Adding the item to prio - should be ~ 3 sp

[2019-05-15 10:22] ScrewTSW opened #1410 "Workspaces take too long to stop"
**Issue problem:**
Recently it happens very often that workspaces can take upwards of 200 seconds, up to 1000 to get stopped.

This issue is visible across all clusters with both ephemeral and PVC workspaces (che7)

# Workspace IDs that failed to stop:
## These worksapce stop fails have been collected between 10:00 pm yesterday and 10:00 am this morning
### PVC workspaces
`1a`: `osiotest-workspace

[2019-05-15 11:12] Katka92 commented on #1410
I think something similar is happening with few workspaces created during periodic tests.
Affected worskpaces (all on production):
[code]
What can I see in kibana e.g. for ``` workspaceo7jttxuwdggqa2ei ```:
[code]

[2019-05-15 11:23] ibuziuk commented on #1410
@tdancs @ScrewTSW @Katka92 could you please confirm that those are both prod and prod-preview issue? going to bring it to Sre today

[2019-05-15 12:56] ibuziuk commented on #1351
@davidfestal can we move this issue to the "Done" column now since https://github.com/eclipse/che-plugin-broker/pull/58 is merged?

[2019-05-15 13:56] ibuziuk commented on #1375
che.openshift.io has been successfully updated to 7 beta 4 version. Closing

[2019-05-15 13:56] #1375 closed

[2019-05-15 17:38] amisevsk commented on #1305
Deployed to prod

[2019-05-15 17:38] #1305 closed

[2019-05-15 17:38] amisevsk commented on #1307
Deployed to prod

[2019-05-15 17:38] #1307 closed

[2019-05-15 19:34] amisevsk commented on #1308
@ibuziuk I'm closing this issue as fixed in https://github.com/eclipse/che-plugin-broker/pull/55, please reopen if this is inaccurate (I wasn't around for planning this sprint)

[2019-05-15 19:34] #1308 closed

[2019-05-16 06:18] Katka92 commented on #1410
Seen again on production
[code]

[2019-05-16 12:19] ibuziuk opened #1412 "Need to update che.openshift.io to the latest 7 CR1 release"

[2019-05-16 13:27] Katka92 opened #1413 "Slow workspace start"
**Issue problem:**
Workspace startup time last too long. Periodic tests are failing on timeout for workspace startupt, which is currently set to 10 minutes.
Logs from Kibana for workspace ``` workspaceo7jttxuwdggqa2ei ```:
[code]
From the log, we can see that after 10 minutes the request for stopping worspace is sent (caused by timeout in periodic tests). Time taken to start the pod was ~12 minute

[2019-05-16 13:34] Katka92 commented on #1410
@ibuziuk Just a tough - could it be cause by long time for workspace starting? I just realised the meaning from what I've posted here https://github.com/redhat-developer/rh-che/issues/1410#issuecomment-492611213. In Kibana logs, it is pretty nicely shown - the time from when workspace is started to workspace stopped is just 5 seconds. So the problem is not in stopping itself.
I think that tests se

[2019-05-16 13:41] Katka92 commented on #1410
Ah, from what I can see e.g. for workspace ```workspace4zcrn6gziomkf04s``` it was started in ~3 minutes and stopped after ~4 minutes. So this still is different issue.

[2019-05-17 06:34] Katka92 commented on #1413
Seen again on cluster 2 (started in ~13 minutes), 2a (~4,2 minutes), 1a (~7,3 minutes), 1b (~14 minutes).
Prod-preview cluster 2a is not affected, all workspaces are started in 40 seconds.

[2019-05-20 07:22] ScrewTSW commented on #1392
And the list extends. Another account of ours has stuck workspace pods that are not visible as a workspace in the che dashboard.
![image](https://user-images.githubusercontent.com/16451875/58003331-d49f8d80-7ae0-11e9-84b5-ed310157653f.png)

[2019-05-20 09:53] Katka92 commented on #1413
Seen again
cluster 2:
[code]
cluser 2a:
[code]
cluster 1a:
[code]
cluster 1b:
[code]

[2019-05-20 12:39] ScrewTSW opened #1417 "Workspace pods stuck in running state"
**Issue problem:**
There are some pods which are stuck in starting and running states that are not associated to any workspace in the database, therefore they cannot be removed.

These pods actually consume resources and therefore they are preventing us to starting new workspaces in their place.

**Red Hat Che version:**

version: 7.0.0-beta-4.0
Che-Theia@7bccaab using Theia@7bccaab

 - [x] I can

[2019-05-20 12:43] ibuziuk commented on #1417
@ScrewTSW Could you please clarify how you get to this conclusion?

[2019-05-20 12:45] ScrewTSW commented on #1417
@ibuziuk Well since there are no workspaces visible when I log in to che with the account and look at the dashboard, I would assume the che-master thinks there are no workspaces but there are still running pods stuck on openshift

[2019-05-20 12:46] ibuziuk commented on #1417
could you provide pod specs ?

[2019-05-20 14:43] ScrewTSW commented on #1417
![firefox_2019-05-20_14-55-04](https://user-images.githubusercontent.com/16451875/58030193-6a0d4280-7b1e-11e9-8b26-019fe3a43e88.png)
![firefox_2019-05-20_14-55-20](https://user-images.githubusercontent.com/16451875/58030195-6aa5d900-7b1e-11e9-8d4e-920957fb4dcf.png)
![firefox_2019-05-20_14-55-33](https://user-images.githubusercontent.com/16451875/58030196-6aa5d900-7b1e-11e9-9157-e15611a6faf3.png)
!

[2019-05-20 14:44] ScrewTSW commented on #1417
The workspace logs don't seem to have anything suspicious in them.

[2019-05-21 07:06] Katka92 commented on #1413
Cluster 2
[code]
Cluster 2a
[code]
Cluster 1a
[code]
Cluster 1b
[code]

:exclamation: Workspace failed to start on prod-preview today, but Kibana is not working and rh-che is receiving a lot of logs so I can not provide you any useful information.
Affected jobs from prod-preview:
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/689/console
https://ci.centos.org/job/devtools-rh-ch

[2019-05-21 07:12] Katka92 commented on #1410
Seen  again on cluster 2:
[code]

[2019-05-21 11:20] ibuziuk opened #1418 "Need to update prod to the latest 7.0.0-beta-5.0 upstream"
Related PR - https://github.com/redhat-developer/rh-che/pull/1419

[2019-05-21 11:27] ibuziuk commented on #1354
@davidfestal, as I understand once the docs are updated we can close this issue, right?

[2019-05-21 11:53] ibuziuk commented on #1351
Moving to Done pipeline. Should be closed once we update to che 7 beta 5 - https://github.com/redhat-developer/rh-che/pull/1419

[2019-05-21 23:35] sbryzak commented on #1409
@ibuziuk prod-preview has now been updated with the new auth endpoints.  The Che team may now commence the migration of the WIT endpoints to auth, and test against [https://auth.prod-preview.openshift.io](https://auth.prod-preview.openshift.io)

[2019-05-22 06:49] Katka92 commented on #1410
Seen again cluster
2a ``` workspacehe686e199dl4srol   5 minutes ```
1a
[code]

[2019-05-22 06:52] Katka92 commented on #1413
Cluster 2
[code]
Cluster 2a
[code]
Cluster 1b
[code]

[2019-05-22 10:24] ibuziuk commented on #1410
prod pods have been restarted and I can not  reproduce the issue anymore

[2019-05-22 10:24] ibuziuk commented on #1417
prod pods have been restarted and I can not  reproduce the issue anymore

[2019-05-22 10:44] ScrewTSW commented on #1417
we still have another four accounts which are stuck with pods (ephemeral) since yesterday.
One account (namely osiotest-workspace-eph-1b) only have a `ws` pod without the `jwtproxy`
here are the kibana logs:
[code]

[2019-05-22 10:52] ScrewTSW commented on #1417
affected accounts:
`osiotest-workspace-eph-1a`
`osiotest-workspace-eph-1b`
`osiotest-workspace-eph-2`
`osiotest-workspace-eph-2a-new`

prod-preview account seems to be unaffected.

I am only preserving the `1a` account. We need to run these tests and I cannot afford to provision new accounts every time this happens. I have implemented a reset environment feature into our tests in case they fail, s

[2019-05-22 10:56] ibuziuk commented on #1413
all pods have been restarted on prod and the error rate dropped sufficiently. So far I can not reproduce the issue.

[2019-05-22 11:03] ScrewTSW commented on #1410
the status on production with PVC has improved a lot, but I've still seen 5 tests runs that have failed of which three were slow stopping and two were workspaces killed during startup (probably the Theia issue)
https://osioperf-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/workspace-startup-test/3094/
https://osioperf-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/workspace-startup-test/3095/
https://o

[2019-05-22 12:02] #1319 closed

[2019-05-22 12:09] ibuziuk commented on #1354
Moving to Done. since it is merged to plugin-broker-master. Should be closed once plugin broker `v0.17.2` and rh-che is updated to Che 7 CR1 version

[2019-05-22 12:20] ibuziuk commented on #1364
Moving CDN related tests from downstream to upstream should still be a way to go. However, we might need to open a CQ for using `scopeo` in the upstream.

[2019-05-22 12:30] ibuziuk opened #1422 "Getting the community Che Operator PR merged"
https://github.com/operator-framework/community-operators/pull/280

[2019-05-22 12:39] ibuziuk opened #1423 "Che 7 GA: Need to create docs for "Hosted Che" section"
placeholder - https://github.com/eclipse/che-docs/issues/715

[2019-05-22 12:41] ibuziuk opened #1424 "Che 7 GA: Need to add docs about types of Che 7 plugins and Plugin registry"
Placeholder for https://github.com/eclipse/che-docs/issues/716

[2019-05-22 12:47] ibuziuk opened #1425 "Che 7 GA: high-level overview of a Plugin broker concept"
Placeholder for https://github.com/eclipse/che-docs/issues/717

[2019-05-23 05:52] Katka92 commented on #1413
Seen again.
Cluster 2 ``` workspacew2kx1ock6r6qc2va   22 minutes ```
Cluster 2a ``` workspaceek6ap8q6nbqj1p2g   25 minutes ```
Cluster 1a ``` workspaceoxdjswnf2uivp0hb   23 minutes ```
Cluster 1b ``` workspacel0uujupegwyla39c 15 minutes ```

[2019-05-23 10:11] ScrewTSW commented on #1410
Since yesterday, the time it takes to stop workspaces has been significantly reduced.
The thing is, why does prod preview exhibit more than half of the times for both starting and stopping compared to production?

[code]

[2019-05-23 10:44] ibuziuk commented on #1410
more than 5 seconds for workspace stop is an abnormal situation. Are you sure it still persists after a series of the deprovisioning actions. For me workspace stop takes just a couple of seconds.
@tdancs also, could you please compare the startup / stop results for prod-preview only on 2a claster (which is used for both)  to make sure the infrastructure is the same.

[2019-05-24 05:53] ibuziuk commented on #1409
@sbryzak we need to first update to the latest upstream versions, once done I will start looking into this.

[2019-05-24 06:32] Katka92 commented on #1410
@ibuziuk I quickly scanned workspaces stop times in periodic tests. I went through just few of them, but I can see e.g. this (logs gathered from Kibana):
[code]
Which says that stopping of this workspace last for 14 seconds. The test was run today in the morning, so I would say that the issue is still present.

[2019-05-27 12:41] ScrewTSW commented on #1410
Another cases of workspaces taking too long to stop (data over this weekend 24-25-26-27.5)

### Ephemeral workspaces
`starter-us-east-1a` : `osio-ci-testcreation`
* workspacevdnzc21vny4es4ar
* workspace4aiv59mmgtayds12
* workspacewswquj7uwtb3oh97

`starter-us-east-1b` : `osiotest-workspace-eph-1b`
* workspaceenpoegakfzh8kup2
* workspace261z3ahrmcsptrcu
* workspaceyzkzrn9uxg9vnwu4

`starter-us-east

[2019-05-28 09:36] ibuziuk opened #1428 "Need to pre-pull images required for 'java-maven' Che 7 devfile used on che.openshift.io and compare workspace startup time with non-prepulled devfiles"
Potential candidates from e2e happy path - https://github.com/eclipse/che/issues/12728
I believe this list needs to be reconsidered and updated:

- eclipse/che-jwtproxy:latest
- quay.io/eclipse/che-java11-maven:nightly
- eclipse/che-machine-exec:7.0.0
- eclipse/che-theia:7.0.0
- eclipse/che-remote-plugin-runner-java8:7.0.0

[2019-05-28 14:57] themr0c opened #1429 "Allow cookies from static.developers.redhat.com"
Allow cookies from static.developers.redhat.com

To authenticate in https://che.openshift.io, you need to allow cookies from `static.developers.redhat.com`.

In case these cookies are blocked (by a browser extension like Privacy Badger), you will get following error:

[code]

[2019-05-28 15:01] ibuziuk commented on #1429
We probably need to add info about extentions like Privacy Badger [1] to the Troubleshooting section https://github.com/redhat-developer/rh-che/blob/master/FAQ.adoc#troubleshooting

[1] https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp

[2019-05-28 18:22] amisevsk commented on #1428
If we mean pre-pull via k8s image puller, we'd need some work on that side. Currently there's a limit to how many images it can work on (`5Mi` per container, per node).

[2019-05-28 20:11] serenamarie125 opened #1431 "Fix wording when authorization token is missing"
**Description:**
Currently when I try to get into Che from OpenShift.com, I see an error message
"Authorization token is missed."

See this animated gif: http://recordit.co/F2UEY7Ve5q

Can we reword this to "Authorization token is missing. Reload the page." & make the entire _Reload the page_ string be a link?

FYI @davidfestal - I heard that the UI looks for a token in the local storage and menti

[2019-05-28 20:41] #1429 closed

[2019-05-28 20:43] ibuziuk commented on #1431
@serenamarie125 do you happen to know what was the root cause of the failure. Does the info in FAQ helps with your specific issue https://github.com/redhat-developer/rh-che/blob/master/FAQ.adoc#can-not-login-to-cheopenshiftio---authorization-token-is-missed ?

[2019-05-28 22:04] serenamarie125 commented on #1431
@ibuziuk I just tested using chrome, and it works fine.  The issue is when I'm using Safari.  I'll check the FAQ and report back with more detail.

[2019-05-29 06:00] ibuziuk commented on #1431
chrome is a recommended browser. Closing this as duplicate in favour of upstream one https://github.com/eclipse/che/issues/11817

[2019-05-29 06:00] #1431 closed

[2019-05-29 07:34] ppitonak commented on #1431
@ibuziuk upstream issue is about the token itselft, this one is about changing the error message, you should probably reopen or update the upstrem one.

[2019-05-30 07:20] ibuziuk opened #1434 "Need to make sure that all devfiles from registry work on che.prod-preview.openshift.io"
Cc: https://github.com/redhat-developer/che-functional-tests/issues/543 (migrating this issue to rh-che)

Dev-file registry - https://che-devfile-registry.openshift.io/devfiles/

### Stack images Acceptance Criteria

These are the things that we should verify to validate a particular stack

 - workspace containers can be started
 - terminal shell for the runtime container(s) is bash (git PS1 is ni

[2019-05-30 13:05] dipak-pawar opened #1435 "configure-keycloak job is failing after applying rhche-prerequisites addons"
**Issue problem:**
After applying ` rhche-prerequisites` addon,  `configure-keycloak` is failing even after keycloak and postgres in running state.

**Error message for configure-keycloak**
[code]

**Reproduction Steps:**

Describe how to reproduce the problem
[code]

**Runtime:**
   - [x] minishift - `minishift v1.33.0+ba29431`
   - [x] Openshift Container Platform
[code]

[2019-05-30 13:09] ibuziuk commented on #1435
@dipak-pawar is rhche deployment running? if yes, what happens when you navigate to the che route? (screenshot please)

[2019-05-30 13:13] dipak-pawar commented on #1435
Here you go
![Screenshot from 2019-05-30 18-42-34](https://user-images.githubusercontent.com/7941617/58635146-c1739580-830a-11e9-8f61-1f6c3882a782.png)

[2019-05-30 13:20] ibuziuk commented on #1435
@davidfestal @amisevsk any ideas. I have not faced this problem so far?
@dipak-pawar could you try from scratch with fresh minishift e.g. `minishift delete && -rf ~/.minishift`

[2019-05-30 13:43] dipak-pawar commented on #1435
@ibuziuk I already tried it with fresh minishift, doen't help

[2019-05-30 16:39] amisevsk commented on #1435
Hm, no idea. Sometimes it takes a while for keycloak to get up and running but I've not seen it just not work overall.

[2019-05-30 20:19] amisevsk opened #1436 "Plugin broker should only make necessary changes to plugins"
Placeholder for eclipse/che#13452

[2019-05-31 09:59] ibuziuk commented on #1435
@dbhole just in case it helps from my keycloak instance:

[code]

[2019-05-31 10:36] ibuziuk commented on #1418
Related PR - https://github.com/redhat-developer/rh-che/pull/1419
PR for promotion to prod - https://github.com/openshiftio/saas-openshiftio/pull/1292

[2019-05-31 13:31] dipak-pawar commented on #1435
@ibuziuk I am using following images
[code]
**Logs**

[code]

[2019-05-31 18:40] dbhole commented on #1435
On Fri, May 31, 2019 at 5:59 AM Ilya Buziuk <notifications@github.com>
wrote:

Hi Ilya -- was this intended for me? I am not sure if I am the right person
to be in the loop here as it appears unrelated to the JVM...

[2019-06-02 21:17] ibuziuk commented on #194
@rhopp @ScrewTSW @Katka92 ^

[2019-06-02 21:25] ibuziuk commented on #595
Closing as outdated.

[2019-06-02 21:25] #595 closed

[2019-06-02 21:26] ibuziuk commented on #399
openshift.io issue was closed - openshiftio/openshift.io#1160
Closing

[2019-06-02 21:26] #399 closed

[2019-06-02 21:29] ibuziuk commented on #365
The issue was fixed for GWT based IDE after switch to jdt.ls -https://github.com/openshiftio/openshift.io/issues/1060#issuecomment-443543046

[2019-06-02 21:29] #365 closed

[2019-06-02 21:32] ibuziuk commented on #149
Closing as outdated.
Some of the tests for Che 6 were implemented and contributed to minishift addon

[2019-06-02 21:32] #149 closed

[2019-06-02 21:35] ibuziuk commented on #231
was implemented for Che 6. Closing

[2019-06-02 21:35] #231 closed

[2019-06-02 21:36] ibuziuk commented on #452
Closing as outdated

[2019-06-02 21:36] #452 closed

[2019-06-02 21:38] ibuziuk commented on #599
Closing as outdated.

[2019-06-02 21:38] #599 closed

[2019-06-02 21:40] ibuziuk commented on #611
rh-che is running on prod against rhel based image. Closing

[2019-06-02 21:40] #611 closed

[2019-06-02 21:47] ibuziuk commented on #631
Closing as outdated

[2019-06-02 21:47] #631 closed

[2019-06-02 21:48] ibuziuk commented on #640
Closing as outdated

[2019-06-02 21:48] #640 closed

[2019-06-02 21:49] ibuziuk commented on #642
Upstream issue is closed.Closing

[2019-06-02 21:49] #642 closed

[2019-06-02 21:54] ibuziuk commented on #667
Funny enough that prod-preview kibana is not workig again - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2623

[2019-06-02 21:54] #667 closed

[2019-06-02 21:54] ibuziuk commented on #723
Closing as outdated

[2019-06-02 21:54] #723 closed

[2019-06-02 22:05] ibuziuk commented on #734
Closing as outdated

[2019-06-02 22:05] #734 closed

[2019-06-02 22:07] ibuziuk commented on #806
Closing. plugin-registry is part of the che.openshift.io flow

[2019-06-02 22:07] #806 closed

[2019-06-02 22:08] ibuziuk commented on #846
Upstream issue eclipse/che#11017 is closed

[2019-06-02 22:08] #846 closed

[2019-06-02 22:12] ibuziuk commented on #919
We are not planning to fix rh-che addon for OpenShift 3.10 and below. One should use 3.11 for working with addon. Closing

[2019-06-02 22:12] #919 closed

[2019-06-02 22:17] ibuziuk commented on #1269
Haven't seen this issue for a long time. Closing as not-reproducible

[2019-06-02 22:17] #1269 closed

[2019-06-02 22:18] ibuziuk commented on #1299
eclipse/che#12908 is closed. Closing

[2019-06-02 22:18] #1299 closed

[2019-06-02 22:21] #1302 closed

[2019-06-02 22:23] ibuziuk commented on #1096
Closing as outdated. Feel free to reopen if the issue is still reproducible - we will contact SD / Sre

[2019-06-02 22:23] #1096 closed

[2019-06-02 22:25] ibuziuk commented on #1166
@ScrewTSW @Katka92 @rhopp could we call namespaces based on PR # ?

[2019-06-03 05:31] Katka92 commented on #1166
Hi Ilya, I'll take a look on that. :+1:

[2019-06-03 07:47] Katka92 commented on #1166
@ibuziuk I've created PR for that. Could you PTAL? https://github.com/redhat-developer/rh-che/pull/1440

[2019-06-03 13:13] ibuziuk commented on #1418
Prod has been updated to 7 beta 5. Closing

[2019-06-03 13:13] #1418 closed

[2019-06-03 13:48] ibuziuk commented on #1409
@sbryzak could you clarify which endpoints should we use now instead of https://github.com/redhat-developer/rh-che/blob/master/openshift/rh-che.config.yaml#L22 ?

[2019-06-03 13:55] alexeykazakov commented on #1409
@ibuziuk it's `https://auth.prod-preview.openshift.io/api/user/services` for prod-preview and `https://auth.openshift.io/api/user/services` for prod. So, it's the same endpoint/path but different domain/service. auth instead of api (wit)

[2019-06-03 14:24] ibuziuk opened #1442 "remove a workaround with jar skipping in `assembly-wsmaster-war`"
Once is merged https://github.com/eclipse/che/pull/13464 and a new version is released we need to remove a  workaround with jar skipping on our end 36897e4#diff-d79082aaff35c41c21db3933361c39efR148

[2019-06-03 14:55] ibuziuk commented on #1166
Fixed - https://github.com/redhat-developer/rh-che/pull/1440#issuecomment-498149687
Closing

[2019-06-03 14:55] #1166 closed

[2019-06-03 18:42] #1351 closed

[2019-06-03 18:43] #1354 closed

[2019-06-03 18:43] ibuziuk commented on #1395
Closing as done

[2019-06-03 18:43] #1395 closed

[2019-06-05 08:54] ibuziuk commented on #1412
prod has been updated to CR1 to che.openshift.io

[2019-06-05 08:54] #1412 closed

[2019-06-05 14:15] ibuziuk commented on #1409
@alexeykazakov @sbryzak looks like new endpoint does not work as expected

[2019-06-05 14:24] ibuziuk opened #1444 "Update prod-preview to the Che 7 RC 2 upstream version"
PR - https://github.com/redhat-developer/rh-che/pull/1445

[2019-06-05 14:38] ibuziuk commented on #1422
@davidfestal can we close this issue now ?

[2019-06-05 14:50] davidfestal commented on #1422
yes

[2019-06-06 06:53] ibuziuk commented on #1139
@Katka92 I think the problem is fixed, could you please verify against Che 7 CR1 on che.openshift.io ?

[2019-06-06 08:36] davidfestal opened #1446 "Upgrade the Che operators to 7.0.0-RC2"
We should upgrade the Che operator to  7.0.0-RC2

This includes:
- [x] Fixing issue https://github.com/eclipse/che-operator/issues/32
- [x] Changing the default upstream Che image tag in the `che-operator` Go code
- [x] Testing it and fix the errors that might be encountered (missing property, etc ...)
- [x] Generating and pushing the new tag of the `quay.io/eclipse-che/che-operator` docker image

[2019-06-06 08:39] davidfestal opened #1447 "Explore CRW integration with devconsole"
Explore CRW integration with devconsole: (The user's openshift token wouldn't be accepted by Che auth since they use different keycloaks / keys) Related to ODC-26

[2019-06-06 09:04] Katka92 commented on #1139
I've tried on che.openshift.io and seems to work fine. Thank you for pinging me. Closing :+1:

[2019-06-06 09:04] #1139 closed

[2019-06-06 13:19] ibuziuk commented on #1336
fixed and metrics are available for both prod and prod-preview

[2019-06-06 13:19] #1336 closed

[2019-06-06 13:57] davidfestal opened #1449 "Enable the use of initContainers to inject standalone files into workspace containers"
Placeholder for issue described in the fommowing comment: https://github.com/eclipse/che/issues/13387#issuecomment-499395581

[2019-06-06 21:27] sbryzak commented on #1409
@ibuziuk I've deployed an updated release of auth to prod-preview which should hopefully fix the error now.  Could you please retry the endpoint again and let me know how it goes?

[2019-06-07 18:03] #1422 closed

[2019-06-10 05:38] Katka92 commented on #194
@ibuziuk There are performance tests implemented. The dockerfile was created to ease the usage of the tests [1]. There is a README [2] with information how to run them.

[1] https://github.com/redhat-developer/che-functional-tests/issues/449
[2] https://github.com/redhat-developer/rh-che/tree/master/load-tests

[2019-06-10 16:46] ibuziuk commented on #1409
PR updated and ready for review - https://github.com/redhat-developer/rh-che/pull/1443

[2019-06-11 08:31] ibuziuk commented on #1413
@Katka92 @ScrewTSW I believe this issue is not reproducible anymore according to the metrics and test results

[2019-06-11 08:33] Katka92 commented on #1413
Agreed. Closing.

[2019-06-11 08:33] #1413 closed

[2019-06-12 08:13] ibuziuk opened #1450 "Auth deprovisioning failures (during Che User deletion)"
"workspace" is currently running and cannot be removed during `DELETE /api/user` calls - https://github.com/redhat-developer/rh-che/issues/1297

https://docs.google.com/spreadsheets/d/1y37mCwsxwonnTmrYOiG0SdH_6Hz7XDtQqHHJMnMpzPg/edit#gid=0

[2019-06-12 08:13] ibuziuk commented on #1450
cc: @alexeykazakov @xcoulon

[2019-06-12 08:28] ibuziuk commented on #1434
Also, I noticed that devfiles from prod-preview registry are not compatible with CR1, which is currently deployed on production:

[2019-06-12 08:33] ibuziuk opened #1451 "After update of che.openshift.io to Che 7 GA all Che 6 sample from SaaS Cloud will stop working (need to replace with devfile equivalent)"
https://www.eclipse.org/che/getting-started/cloud/

![image](https://user-images.githubusercontent.com/1461122/59335759-848da280-8cfd-11e9-92e4-3325e25770be.png)

- [x] Spring Rest Guide https://github.com/redhat-developer/devfile/pull/47
- [x] Vert.x verticle https://github.com/redhat-developer/devfile/pull/50
- [x] Angular https://github.com/redhat-developer/devfile/pull/40
- [x] C++ (**No equiv

[2019-06-12 08:36] ibuziuk commented on #1451
@l0rd @slemeur  are we going to promote devfiles from the https://che-devfile-registry.openshift.io/devfiles/ on SaaS next page ?

[2019-06-12 10:57] skabashnyuk commented on #1450
workspaces are not removed because of this
[code]

[2019-06-12 11:13] ibuziuk commented on #1450
@alexeykazakov @sbryzak ^

[2019-06-12 12:03] davidfestal opened #1453 "Need to create CI for community operator"
**Description:**

- Job to build and push operator image to quai.io
- Use operator in the happy-path e2e scenario

- Add QA to the operator release process
- Automatic PR to che-operator once new version of che server is released

[2019-06-12 12:07] ibuziuk commented on #1423
Draft PR - https://github.com/eclipse/che-docs/pull/729

[2019-06-12 12:09] davidfestal opened #1454 "Fix the Openshift OAuth on OS 4 for Community Operators"
**Description:**

Mainly a followup of https://issues.jboss.org/browse/CRW-202 and https://issues.jboss.org/browse/KEYCLOAK-10169

The idea is to test / help the Keycloak Openshift v4 provider implementation, use it in the Community operator, and thus prepare the fix for CRW when the Openshift v4 will be included in the new RHSSO release

[2019-06-12 12:38] ibuziuk commented on #1428
@l0rd looks like we have no capacity for this task in the next sprint. Are you ok if we will work on it after GA release (according to the metrics workspace startup is relatively fast atm, so optimization is not crucial atm)

[2019-06-12 12:46] ibuziuk opened #1455 "Investigate approach with the entrypoint script injection to Che 7 images in the runtime to make the /etc/passwd writable for the arbitrary user"
Investigate approach with the entrypoint script injection to make the /etc/passwd writable for the arbitrary user:

[code]

[2019-06-12 13:51] skabashnyuk commented on #1428
What does it mean 5Mi?

[2019-06-12 14:14] l0rd commented on #1428
@ibuziuk I am ok with postponing that

[2019-06-12 14:15] l0rd commented on #1451
Yes I think we should have a devfile / stack for each one of those

[2019-06-12 14:21] ibuziuk commented on #1451
AFAIK, stack story is finished and we need to fall back on deviles only. Also, it looks like we will not be able to update prod to CR2 until we would fix the getting started page

[2019-06-12 14:28] l0rd commented on #1451
@ibuziuk the stack story is not finished: the devfile is the new (yaml) format to define a workspace or a stack. Like a Dockerfile defines a container or an image. But yes we are deprecating the old workspace config (json) format for stacks and workspaces (replaced by the devfile) as well as the `stacks.json` (replaced by the devfile registry).

Actually the getting started factories should be rep

[2019-06-12 14:34] ibuziuk commented on #1451
thanks for the clarification - I meant `stacks.json` / `json` workspace config format deprecation

[2019-06-13 10:52] ibuziuk commented on #1444
before RC2 update we need to update factories from getting-started https://github.com/redhat-developer/rh-che/issues/1451 with devfiles replacements

[2019-06-13 13:56] amisevsk commented on #1428
The minimum memory request/limit for kubernetes containers is 5 Mebibytes. Since the containers started by a daemonset belong to a single namespace, this can cause problems. E.g. `5Mi` per container, times 5 containers in the daemonset, times 75 nodes in the cluster = `1875Mi` quota used on that namespace. Each additional container we'd want to add would increase the request by `375Mi`.

The solut