[2017-04-11 07:33] jstrachan opened #31 "do the java based stacks have 'maven' enabled properly to get nicer folder navigation?"
it sounds like the `maven project type` will enable nicer folder navigation to avoid this issue:
https://github.com/eclipse/che/issues/4749

I wonder if vertx / spring boot / WF Swarm stacks are properly including the maven project type to get nicer folder navigation?

[2017-04-27 13:04] sunix commented on #31
Any project can have the `maven` project type. it is not defined in the stack but in the project definition. When creating/importing a project, che-starter adds the right project type.

[2017-05-15 13:19] ibuziuk commented on #31
@jstrachan  stack -> projectType mapping is located in che-starter [1], so I believe this issue can be closed now

[1] https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/model/stack/StackProjectMapping.java#L29

[2017-05-15 13:19] #31 closed

[2017-05-18 12:25] ibuziuk opened #75 "Upstream `eclipse/che` cannot run on minishift"
Building **openshift-connector** branch without building rh-che assembly and deploying che-server image to minishift results in the following error during workspace creation:

[code]

![image](https://cloud.githubusercontent.com/assets/1461122/26201848/518e6c64-3bd5-11e7-89be-c6586e258893.png)

Basically, all stacks on https://hub.docker.com/r/rhche/ contain bayesian agent which is only included i

[2017-05-18 13:20] ibuziuk opened #76 "Can not build rh-che (Red Hat Che distro) failure on 'toRetrieveBranchName' execution"
Can not build rh-che following the instructions in the Readme.md https://github.com/redhat-developer/rh-che#tldr:

`mvn -DwithoutKeycloak -Pfast -PmultiThread -DlocalCheRepository=${UPSTREAM_CHE_PATH}  clean install`

Basically, required artifacts can not be downloaded for some reason:

`[ERROR] Failed to execute goal org.codehaus.mojo:buildnumber-maven-plugin:1.4:create (toRetrieveBranchName) on

[2017-05-18 13:28] ibuziuk commented on #76
@davidfestal @sunix any ideas about how this can be fixed ?

[2017-05-18 13:47] sunix commented on #75
you can remove the bayesian agent from stacks.json as a workaround maybe ?

[2017-05-18 15:46] ibuziuk commented on #75
@sunix yeah, this is another workaround (probably need to add this info to README.md)

[2017-05-22 08:33] davidfestal commented on #76
@ibuziuk Seems a network problem to me. do you still have it ?

[2017-05-22 09:39] davidfestal commented on #76
In your logs I found:
[code]
This might be related.
Could you retry without adding the JBoss maven repositories ?

[2017-05-22 10:17] ibuziuk commented on #76
@davidfestal disabling JBoss repos did the trick, however I still need to use `buildnumber-maven-plugin` version 1.3 (with 1.4 there is still a problem with downloading scm artifacts)

[2017-05-22 16:13] l0rd commented on #75
To solve this we need to:
- revert stacks.json to the master branch version as soon as #54 get merged
- merge the mechanism used in redhat-developers/che-dockerfiles to eclipse/che-dockerfiles

Once we have that we can change our CI to build a version of che-server image (let's call it fabric8 IDE) that:
- Is based on latest version of upstream Che
- runs CentOS images only (che server and workspa

[2017-05-24 14:46] ibuziuk commented on #76
PR is merged ^ so I guess this one can be closed

[2017-05-24 14:46] #76 closed

[2017-05-29 13:52] mlabuda opened #80 "Push to registry.devshift.net only if verification passes"
We are, for now, pushing to devshift registry before execution of verification job. That means we are providing "prod" images there, because images to devshift are not retagged after verification and no additional push is performed.

[2017-06-01 15:28] ibuziuk opened #86 "tsrv cluster has bee deprovisioned - need to rewrite integration tests and reconfigure free-int cluster"

[2017-06-01 15:34] ibuziuk commented on #86
wrong repo - this one is for che-starter :/

[2017-06-01 15:34] #86 closed

[2017-06-07 04:39] joshuawilson opened #92 "Bad naming of preview URL in Vert.x stack"
_From @burrsutter on June 7, 2017 2:7_

I created a "compile vertx:run" command and it pops up a preview link of
http://tomcat8-y5z8fqcsn2bgyg80-burrsutter-che.8a09.starter-us-east-2.openshiftapps.com//vertxbasic23/src/main/java/io/openshift/booster/HttpApplication.java
which is not valid, plus it says "tomcat" and my Vert.x app is totally not Tomcat.
https://screencast.com/t/0TcsLmpsx

_Copied fr

[2017-06-07 04:39] joshuawilson commented on #92
@gorkem - che issue

[2017-06-07 04:40] joshuawilson opened #93 "Che: Terminal Tab default focus"
_From @burrsutter on June 7, 2017 2:6_

When I click on the Terminal tab header, I also have to click into the window to give it focus and a cursor.  This is particularly annoying when switching command tabs.  How about the Terminal tab gain focus/cursor by default when clicked on and brought to the foreground.

_Copied from original issue: openshiftio/openshift.io#202_

[2017-06-07 04:40] joshuawilson commented on #93
@gorkem here is another Che issue.

[2017-06-07 04:41] joshuawilson opened #94 "Che: context assist HTTP 401"
_From @burrsutter on June 6, 2017 23:49_

https://screencast.com/t/549bv3F2

Using the Vert.x Basic template and
router.
looking at the methods of the Vert.x router - they all pop-up HTTP 401

_Copied from original issue: openshiftio/openshift.io#201_

[2017-06-07 04:41] joshuawilson commented on #94
This issue was moved to fabric8io/fabric8-ui#1461

[2017-06-07 04:45] joshuawilson opened #95 "Che: Run Command for Vertx (compile vertx:run)"
_From @burrsutter on June 6, 2017 15:42_

https://screencast.com/t/3xjfAjqZJxR

Che should have an out-of-the-box run command (it has build and test-compile by default).  The run needs to be "compile vertx:run" to properly leverage the vert.x hot redeploy.   I then use Terminal to curl the endpoint
https://screencast.com/t/Ye7PLsZuwbZd

_Copied from original issue: openshiftio/openshift.io#199_

[2017-06-07 04:45] joshuawilson commented on #95
@gorkem this one is for you

[2017-06-09 14:55] RickJWagner opened #99 "Che: Auto-expand source folders instead of making the user single-click each one"
When viewing a source package like 'org.jboss.demo.ejbrest.rest' the user has to select and click every.single.folder to get to the source files.

Can we change this so it acts like Eclipse, aggregating the common folders into one (or auto-opening all of them?)

Thanks for considering this issue.

[2017-06-09 16:47] sunix commented on #99
Hello, can you provide Reproduction Steps ?
Normally, java projects should have aggregating common Java packages in Che

![selection_031](https://user-images.githubusercontent.com/650571/26985531-23f3e0ec-4d44-11e7-9391-49b534a0b3d5.png)

[2017-06-09 18:01] RickJWagner commented on #99
Hello,

Thank you for the quick response.  I'll be glad to provide a reproducer.

Using a scenario similar to the Summit demo, note how the rest-microservices folder appears.  Unlike the above screenshot, there is no aggregated package under the 'Java' folder.

Screenshot below.

Thanks!

![image](https://user-images.githubusercontent.com/524520/26988059-8107b334-4d13-11e7-919c-f4c12f552b5d.png)

[2017-06-09 18:10] amisevsk commented on #99
@sunix Also in my testing: In eclipse it looks like this
![projectexplorer](https://user-images.githubusercontent.com/16168279/26988391-26c26536-4d1d-11e7-8721-1c6f05aa9ca8.png)

`/src/main/java` is squashed, and then all packages are listed at one level of depth instead of having a folder for `.org.eclipse.che.api.agent.server` with `.org.eclipse.che.api.agent.server.exception` as a subfolder.

E

[2017-06-09 18:32] RickJWagner commented on #99
A nice explanation passed forward via email:

The problem with the packaging is the nature of an imported project. When a project is imported into Che manually, via IDE UI, it prompts user to set a project type. If user does not set maven project type, there are no packed packages which user could unfold by a single click. Maybe more project types just than maven one behave this way and allow this

[2017-06-09 18:43] amisevsk commented on #99
For what it's worth, regarding Marian's comment: I get the same result as @sunix's screenshot with a correctly imported project in Che, so it is being handled differently than in Eclipse.

There seem to be two issues here:
1. Che handles displaying a java project tree differently than mainstream Eclipse
2. Regardless of 1), it would be nice if the tree in your screenshot would expand subfolders wh

[2017-06-10 09:37] l0rd commented on #99
Since this is not a rh-che or openshift.io specific issue I will close it.

There is a related issue upstream that has been closed too https://github.com/eclipse/che/issues/4749. @RickJWagner feel free to reopen the upstream issue if you think we still need to address something.

[2017-06-10 09:37] #99 closed

[2017-06-10 09:43] l0rd opened #100 "Can't get a che workspace created over OSIO"
This issue was opened by @pkettman: https://github.com/eclipse/che/issues/5283

Reproduction Steps:
After successful creation of a new project/codebase in OSIO, I initiated creation of a che workspace for it via 'Create workspace', but got following message: 'Failed to create workspace' and no workspace is shown on OSIO GUI.

OS and version:
Tested on OpenShift.io, using Google Chrome on Fedora

D

[2017-06-12 01:46] joshuawilson opened #101 "Bug: Che doesn't show analytics error when opening it"
_From @luebken on June 9, 2017 10:6_

- If you add a vulnerable dependency an error is shown
- If you close Che and reopen it the error is not shown.

_Copied from original issue: openshiftio/openshift.io#210_

[2017-06-12 01:47] joshuawilson opened #102 "Che: loading of the pom.xml"
_From @burrsutter on June 9, 2017 13:23_

Two things:
1) the pom.xml auto-closes in Che, if I leave the browser tab for too long or after having put the laptop to sleep, or perhaps it is my tab suspender, I find the pom.xml has closed
2) opening the pom.xml may say "loading language server protocol" or something like that and essentially stay frozen, the solution is to stop and start the workspace

[2017-06-12 01:47] joshuawilson opened #103 "Che: Import context-assist offering an invalid import"
_From @burrsutter on June 9, 2017 13:52_

https://screencast.com/t/hUwgyV5SqDM
why is it offering io.vertx.rxjava.* as option?
https://github.com/burrsutter/vertxbasic23/blob/master/pom.xml

_Copied from original issue: openshiftio/openshift.io#212_

[2017-06-12 01:49] joshuawilson opened #104 "Che: Create Workspace, fails to Import"
_From @burrsutter on June 9, 2017 17:2_

After running the Wizard for a new Vert.x basic project, I click Create Workspace and Che launches but often (perhaps always) it fails to load the project by default.

https://screencast.com/t/H3UgZn1qF

workaround is to manually import the project

_Copied from original issue: openshiftio/openshift.io#217_

[2017-06-12 13:49] pkettman commented on #100
This issue was experienced on che 1.0.154, today I executed OSIO Tenant upgrade to version 1.0.166, on which is this issue not present anymore!

[2017-06-12 16:39] l0rd commented on #100
Ok thanks @pkettman. I'm closing this one but you can of course re-open it if you think we still should address something.

[2017-06-12 20:57] joshuawilson opened #105 "It does's display any list of workspaces when it hit "workspaces(2) on left menu at Eclipse Che window."
_From @danieloh30 on June 12, 2017 8:14_

There is no changes in right window when I hit workspace menu in Eclipse Che window even though there is 2 workspaces like "workspaces(2)" as below screenshot. Normally it expects the details of workspace list.
![screenshot from 2017-06-12 17-08-51](https://user-images.githubusercontent.com/14066977/27024582-08800958-4f92-11e7-80a4-60d9b7c6d7db.png)

_Copi

[2017-06-12 21:16] ibuziuk commented on #105
Even though this looks like a bug, note that Dashboard will not be exposed to the end-user and in order to get the list of workspaces "Codebases" view should be used in openshift.io

[2017-06-12 21:18] joshuawilson commented on #105
That is what I thought. I didn't know the dashboard even worked in our version of Che.

[2017-06-13 14:20] l0rd opened #106 "CI is unstable because jenkins fails to read test results"
It has been a few weeks now that Che CI is unstable. A parsing error happens at the end of the build, when [jenkins retrieve tests results](https://ci.centos.org/view/Devtools/job/devtools-build-run-che-build-master/328/testReport/testng-results/xml/_failed_to_read_/).

[code]

[2017-06-14 09:02] #100 closed

[2017-06-14 11:28] l0rd opened #107 "Support multi-tenancy on OSIO"
# Schedule

- ~**14 Nov** [#395](https://github.com/redhat-developer/rh-che/issues/395) is closed and we can run OSIO workshop with multi-tenant Che successfully on pre-prod~ **DONE**
- ~**17 Nov** [#404](https://github.com/redhat-developer/rh-che/issues/404) is closed and we can provision MT tenant namespaces on pre-prod~ **DONE**
- ~**20 Nov** We deploy MT Che on prod serving a restricted list o

[2017-06-14 12:00] benoitf commented on #106
https://github.com/eclipse/che/pull/5372

[2017-06-14 12:42] samuzzal-choudhury commented on #101
#### Steps to recreate:
1. Either create a new workspace or restart existing workspace from [Openshift console](https://console.starter-us-east-2.openshift.com/console/project/) (_go to <your username>-che project_).
2. Open Che IDE and if prompted to restart workspace, do that.
3. After the workspace restart is successful and the project appears on the "Project Explorer", open the pom.xml with th

[2017-06-14 15:48] sunix opened #108 "Implement Github token provider that retrieves token from keycloak"
at the moment, with https://github.com/redhat-developer/rh-che/pull/98 github token is set by platform and che-starter when a workspace starts. There are few issues with it:

- these tokens are stored in memory and having che-server restarted or coming back from idling would loose these tokens
- It is not recommended to expose this kind of api (according to oauth documentation)
- this won't work w

[2017-06-15 09:38] l0rd opened #109 "Workspaces are snapshotted on stop in OSIO"
That's not the normal Eclipse Che behavior and it's probably an OpenShiftConnector bug.
That has consequences in terms useless CPU and Storage consumption.

EDIT: The OpenShift connector doesn't really do the snapshot of the workspace so there is no resource consumptions issue. That's more about the message shown to the user being confusing. We should not say that the workspace has been snapshotte

[2017-06-15 09:42] sunix commented on #109
when iddling, we should be careful to keep builds artifact such as /home/user/.m2/repository and others user folders.

[2017-06-15 09:46] l0rd commented on #109
@sunix that's a different issue. Maven local repository should be persisted in a PV. Snapshotting it is not a good idea: every snapshot would be of hundreds MB and there could be many thousands snapshots in a single day...

[2017-06-15 09:48] l0rd commented on #109
But yeah I agree that from a UX perspective persisting maven repository is even more important than avoiding snapshotting.

[2017-06-16 10:06] l0rd commented on #109
@amisevsk suggest that in OpenShift we do not really do a snapshots even if a pop up say that the image is being snapshotted. So the fix here would be not to say to users that a snapshot has been done when it's not the case. I have edited the description.

[2017-06-16 10:13] l0rd commented on #106
Thanks @benoitf ok let me cherry pick that on `openshift-connector` branch

[2017-06-16 12:33] l0rd commented on #105
@joshuawilson I think that the real issue here is that users still need Che dashboard to list, stop and delete existing workspaces. Is there a github issue for adding these capabilities to codebase? It would be useful to link it here.

However this is a duplicate of [CHE-285](https://issues.jboss.org/browse/CHE-285). There is a workaround (cf. https://youtu.be/ZxmaGv2Jhu8) and as @ibuziuk mentione

[2017-06-16 13:50] l0rd commented on #104
@burrsutter I've being playing with osio the last couple of days but I could not reproduce this one.

That's annoying because it may be something that we have fixed lately but I honestly can't tell what.

So let's keep this open for now. If you reproduce the problem again please make sure to provide some logs:

[code]
Probably this info should be in a wiki or FAQ but I don't know if it makes sense

[2017-06-16 13:58] joshuawilson commented on #105
@l0rd I don't see an issue related to this, you can add one here https://github.com/fabric8io/fabric8-ui/issues

[2017-06-16 13:59] l0rd commented on #103
I need to try to reproduce it but I think this issue exist in https://github.com/eclipse/che too. If this is the case we should move it there.

@eivantsov do you have an idea?

[2017-06-16 14:48] joshuawilson commented on #104
@l0rd I think adding that to the wiki makes a lot of sense. That is the most public repo we have and we will direct users to that wiki. Can you please this to the FAQ?

[2017-06-16 17:46] l0rd commented on #95
Ok so that is really frustrating. Che vert.x stacks **has** a [run command](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L2368).

The problem is that in osio, when a user select create workspace,  [`java_centos` stack](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L1154) is always used. Even if

[2017-06-16 17:48] l0rd commented on #101
Thanks @samuzzal-choudhury and @luebken for opening this issue. I've noticed that too yesterday. We will need to understand why this is happening.

[2017-06-16 17:55] l0rd commented on #104
@joshuawilson when you talk about the wiki you mean this github repo wiki or openshift.io wiki?

[2017-06-16 17:59] l0rd commented on #92
Thanks @burrsutter to raise that. I've been able to reproduce it too.

As a workaround you can modify the url:`s/http/https` and `s/tomcat8/tomcat`.

To fix that we should do a couple of things:
- https: we should use the tls redirect option for the k8s route
- fix the route (it's not tomcat8)
- change the name for the route to make it more generic (http8080 for example?)

[2017-06-16 18:19] joshuawilson commented on #104
@l0rd I mean adding it to the [FAQ](https://github.com/openshiftio/openshift.io/wiki/FAQ)

[2017-06-16 19:25] benoitf opened #113 "OpenShift branch Docker strategies to update before going to master branch"
Currently, the openshift branch contains local-docker and single-port strategies.

The single-port strategy is in conflict with the custom strategy in master.
This custom strategy allows to customize the URLs returned to clients by using a template.

The single port strategy is having a "hard-coded" value of this URL format and it may work only for OpenShift.io usecase so it can't be merged to "Ch

[2017-06-16 19:39] davidfestal commented on #113
The strategy classes have already been refactored to allow this. So this will be mainly changing properties, and configuration.

[2017-06-19 00:06] l0rd commented on #113
This issue may be a duplicate of https://issues.jboss.org/browse/CHE-277. If that's the case @benoitf we should probably close one of the two issues.

[2017-06-19 00:08] #106 closed

[2017-06-19 00:09] l0rd commented on #106
This is fixed now.

[2017-06-19 05:40] benoitf commented on #113
I will let @davidfestal decide as he asked to me create this issue.

[2017-06-19 08:39] davidfestal commented on #113
@l0rd This issue is the result of a discussion I had with @benoitf about the work done in CHE-277, and changes he thought would still be necessary in this area before merging to master. Since CHE-277 was already fixed and merged to the `openshift-connector-branch`, I though we should track this in a new issue. I'll work on it at the beginning of the week. It's not much work: mainly configuration c

[2017-06-19 23:09] l0rd commented on #113
@davidfestal ok so I think it makes sense to close CHE-277 no?

[2017-06-20 08:02] davidfestal commented on #113
@mario  yes, you're right. done.

[2017-06-20 21:25] amisevsk commented on #109
@l0rd I think snapshotting workspaces is just the default behavior in Che. We should try setting [`che.workspace.auto_snapshot=false`](https://github.com/eclipse/che/blob/b95d74c5bbc8a7b8e87ce4af16392b8acca2134b/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/codenvy/che.properties#L37) and see if this resolves the problem.

For context, on OSO, "snapshots" are just ImageStreamTags

[2017-06-21 08:57] pkettman commented on #104
I experienced similar behavior: workspace 'mcx9upqk' was created, related project was not imported and in addition:
1) following exception was thrown in Che log: https://gist.github.com/pkettman/48042894a32f2e38b6e4219bd7516855 and
2) the workspace is not visible/accessible from OSIO Codebases page

[2017-06-21 14:42] l0rd opened #115 "503s are back"
This issue was originally reported by @jfchevrette [via email](https://gist.github.com/l0rd/12a6f7fc6397b4156eb24e9a6d21d886#file-jf-email-md)

The suspect is that an error 503 is returned when che-server is idled and its route receives an HTTP request. Here is a short video that shows the behavior (note that 503s are preceded by a 504 (timeout) and that 302 is normal because we are not authentica

[2017-06-21 14:53] l0rd commented on #115
A comment about 503 errors we had in the past: https://gist.github.com/l0rd/12a6f7fc6397b4156eb24e9a6d21d886#file-503-issues-we-had-before-summit-md

[2017-06-21 14:59] l0rd commented on #115
cc @ibuziuk

[2017-06-26 08:22] mlabuda opened #119 "Create technology oriented commands per stack"
Copied from https://issues.jboss.org/browse/CHE-295:

At the moment we have quite general commands among stacks. We have e.g. "mvn clean install" or "java -jar target/*.jar" etc. We could have more technology oriented commands.

For example, vertx booster has maven vertx plugin with goal vertx:run. This would improve UX, because now, user has to at first build, then run. With vertx:run, it is one-

[2017-06-27 17:48] ibuziuk opened #122 "CHE-287 Investigate how to update Che using RollingUpdate strategy"
see https://issues.jboss.org/browse/CHE-287

[2017-06-27 17:50] ibuziuk opened #123 "Add OpenShift.io logo in Red Hat distribution"
see https://issues.jboss.org/browse/CHE-278

[2017-06-27 17:53] ibuziuk opened #124 "[Rebase oscon] Adapt new stacks.json to the new policy change"
see - https://issues.jboss.org/browse/CHE-298

[2017-06-27 18:06] ibuziuk opened #125 "Implement ListContainers in OpenShiftConnector"
see - https://issues.jboss.org/browse/CHE-231

[2017-06-27 18:08] ibuziuk opened #126 "Remove PR UI from rh-che"
See - https://issues.jboss.org/browse/CHE-264

[2017-06-27 18:10] ibuziuk opened #127 "Automatically build any PR to get to fabric8 CI and make it testable on OSIO for reviewers"
see - https://issues.jboss.org/browse/CHE-177

[2017-06-27 18:13] ibuziuk opened #128 "Need to create Red Hat theme for Che"
see - https://issues.jboss.org/browse/CHE-107

[2017-06-27 18:14] ibuziuk opened #129 "Verify the checksum of packages downloaded in Dockerfiles"
See - https://issues.jboss.org/browse/CHE-222

[2017-06-27 18:18] ibuziuk opened #130 "Self Hosting on openshift.io"
see - https://issues.jboss.org/browse/CHE-127

[2017-06-27 18:19] ibuziuk opened #131 "Add option to start workspaces on a different namespace"
see - https://issues.jboss.org/browse/CHE-100

[2017-06-27 18:25] ibuziuk opened #132 "Investigate marketing analytics integration"
see - https://issues.jboss.org/browse/CHE-182

[2017-06-27 18:42] ibuziuk opened #133 "Init tenant should set the correct Keycloak URL"
see - https://issues.jboss.org/browse/CHE-282

With commmit in fabric8-online[1] we have introduced two new configs for che-server:

- keycloak-oso-endpoint
- keycloak-github-endpoint

These are currently hardcoded in fabric8io configuration with KC production URLs. That's an issue because we may need to use a distinct instance of KC based on which cluster Che will be deployed to. These 2 config m

[2017-06-27 18:53] ibuziuk opened #134 "The root access requirement for agent injection"
see - https://issues.jboss.org/browse/CHE-228

[2017-06-27 18:58] ibuziuk opened #135 "Choose short names for profiles or properties"
see - https://issues.jboss.org/browse/CHE-234

[2017-06-27 19:01] ibuziuk opened #136 "Create stacks oriented commands"
see - https://issues.jboss.org/browse/CHE-295
@mlabuda could you please create an issue in upstream  ?

[2017-06-27 19:03] ibuziuk opened #137 "Setting header Authorization: Internal allows bypassing keycloak on Che."
see https://issues.jboss.org/browse/CHE-299

Making API requests with the header `Authorization: Internal` allows one to bypass keycloak validation; you can delete someone's workspaces from a plain bash terminal if you know their base url.

[2017-06-27 19:17] gorkem commented on #108
@ibuziuk Is this different from what you already implemented?

[2017-06-27 21:57] gorkem commented on #132
Follow up on https://github.com/eclipse/che/issues/5483

[2017-06-28 07:43] mlabuda commented on #136
Duplicate of #119

[2017-06-28 08:16] ibuziuk commented on #108
@gorkem this issue is different - what I did is just moved the API from che to our assembly, and this approach will not work for multitenant che-server

but we already have this API on che-server side [1] no need to call platform.

[1] https://github.com/redhat-developer/rh-che/blob/master/builds/fabric8-che/plugins/keycloak-plugin-token-provider/src/main/java/com/redhat/che/keycloak/token/provide

[2017-06-28 15:15] ibuziuk opened #138 "Sprint 134"
## Working hours budget
https://docs.google.com/spreadsheets/d/1_YsNaGRHID0QNPdSOJYk6tmlBux1kZK_YN8eCCIpzmY/edit#gid=94829851

### Issues tied to objectives
- [ ] Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146 **estimation**:  125
- [ ] Workspace pod logs https://github.com/redhat-developer/rh-che/issues/145 - **estimation**: 20
- [ ] Workspace idling

[2017-06-28 15:27] ibuziuk opened #139 "Fix workspace keycloak authentication"
see - https://issues.jboss.org/browse/CHE-291

[2017-06-28 15:29] ibuziuk opened #140 "Creating SSH Keys for GH does not work."
see https://issues.jboss.org/browse/CHE-244
https://www.screencast.com/t/9iRq8uv7j1T3

[2017-06-28 15:30] gorkem opened #141 "Inject user KC token in bayesian LS"
details: https://issues.jboss.org/browse/CHE-281

[2017-06-28 15:32] ibuziuk opened #142 "Add a property to disable keycloak authentication in rh-che assembly"
see https://issues.jboss.org/browse/CHE-283

[2017-06-28 15:34] ibuziuk opened #143 "Simplify rhche developer onboarding and daily workflow (after openshift-connector is merged to master)"
see https://issues.jboss.org/browse/CHE-288

released versions of che should be used instead of snapshot versions

- [ ] Remove upstream build and align to Che upstream release #249

[2017-06-28 15:39] ibuziuk opened #144 "Workspace idling is not working"
see - https://issues.jboss.org/browse/CHE-289

[2017-06-28 15:41] ibuziuk opened #145 "Workspace pod log"
see https://issues.jboss.org/browse/CHE-243

[2017-06-28 15:43] ibuziuk opened #146 "Rebasing openshift-connector to upstream che master"
see - https://issues.jboss.org/browse/CHE-229

Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146 **estimation**:  125
- [x] Fix openshift-connector-rebased branch https://github.com/redhat-developer/rh-che/issues/151 - **PR:** https://github.com/eclipse/che/pull/5052 - **estimation**: 5
- [x] Move bayesian recommendation token support to rh-che https://gi

[2017-06-28 16:27] ibuziuk opened #147 "Inconsistencies between stacks"
see - https://issues.jboss.org/browse/CHE-266

There is Inconsistencies between stacks:

- [ ] centos jdk does not use scl but download tars instead
- [ ] other images (vertx, wildfly, spring boot, node.js) should be based on centos jdk

[2017-06-28 19:50] benoitf commented on #145
@ibuziuk I see a PR for it there https://github.com/redhat-developer/che-dockerfiles/pull/14/files

[2017-06-29 08:02] mlabuda commented on #115
After some failure in Che functional tests I dedicated to look why I have those failures. Basically Che starter does not wait until Che server pod is really running. Che server pod is in starting state but not running and Che starter proceed, that is the reason why some "Service" throws 503 in Che starter log

[2017-06-29 08:45] ibuziuk commented on #145
@benoitf the PR is not ideal. Please take a look at @l0rd comment [1]

[1] https://issues.jboss.org/browse/CHE-243?focusedCommentId=13415139&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-13415139

[2017-06-29 08:50] ibuziuk commented on #145
Also https://issues.jboss.org/browse/CHE-243?focusedCommentId=13417714&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-13417714

[2017-06-29 08:53] ibuziuk opened #148 "Improve OpenShift connector output in Dashboard"
See - https://issues.jboss.org/browse/CHE-118

When running Che and a new workspace is created there is no output when the image is pulled/tagged and a user have no clue of what is happening.

[2017-06-29 09:02] benoitf commented on #145
@ibuziuk yes I saw that comment, but I'm using minishift and AFAIK there is no zabbix there.
Workspace logs are written in the home user directory on the che master, so I don't see what I can bring more from Che project part or from rh-che scripts.
It looks like I'm not the right guy on this task

[2017-06-29 09:08] ibuziuk commented on #145
@benoitf but a part from zabbix, will it be possible to make log process less error prone and have some mechanism for adding logs from other agents ?

[2017-06-29 09:11] ibuziuk opened #149 "Tests for verifying stacks"
see - https://issues.jboss.org/browse/CHE-257

[2017-06-29 09:28] benoitf commented on #145
@ibuziuk What is error prone in the log process ?
Also we already logs from other agents as agents are executed inside the machine

here are the logs of the ssh agent for example (and terminal agent)
[code]

[2017-06-29 10:26] ibuziuk opened #150 "Bayesian validation on pom.xml in workspace is not working when after token stored in secret expires"
see - https://issues.jboss.org/browse/CHE-267

[2017-06-29 10:39] ibuziuk commented on #145
if logging fails for some reason workspace will crash. Anyway, probably it's better to wait for @l0rd who can provide more details what is expected right now. In the meanwhile, please feel free to pick any other issue from the current sprint which is not assigned

[2017-06-29 13:06] benoitf commented on #124
I'm working on that

[2017-06-29 13:27] sunix opened #151 "[Rebase oscon] Fix openshift-connector-rebased branch"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

Fix openshift-connector-rebased branch [CHE-268](https://issues.jboss.org/browse/CHE-268) - **estimation**: 5

[2017-06-29 13:28] sunix opened #152 "[Rebase oscon] Move bayesian recommendation token support to rh-che"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

Move bayesian recommendation token support to rh-che [CHE-271](https://issues.jboss.org/browse/CHE-271)  -

[2017-06-29 13:30] sunix opened #153 "[Rebase oscon] Verify that on master branch Unit Tests are started in their own process now (c.f. CHE-214)"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

Verify that on master branch Unit Tests are started in their own process now (c.f. CHE-214) [CHE-273](https://issues.jboss.org/browse/CHE-273)

[2017-06-29 13:31] sunix opened #154 "Idling of wsmaster is not working on OSIO"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

Improve idling implementation [CHE-274](https://issues.jboss.org/browse/CHE-274) - **estimation**: 5

[2017-06-29 13:31] sunix opened #155 "[Rebase oscon] Remove the need for rhche Docker images"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

Remove the need for rhche Docker images [CHE-275](https://issues.jboss.org/browse/CHE-275) - **estimation**: 15

[2017-06-29 13:40] sunix opened #156 "[rebase oscon] Update the CI to use rebased branch"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

Update the CI to use rebased branch [CHE-279](https://issues.jboss.org/browse/CHE-279)  - **estimation**: 10

[2017-06-29 13:41] sunix opened #157 "[Rebase oscon] cannot start workspace"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

cannot start workspace [CHE-297](https://issues.jboss.org/browse/CHE-297)  - **estimation**: 15

[2017-06-29 13:58] sunix commented on #151
PR in progress: https://github.com/eclipse/che/pull/5052

[2017-06-29 14:00] sunix commented on #154
PR: https://github.com/eclipse/che/pull/5425 on master

[2017-06-30 09:52] ibuziuk opened #161 "Provide a nexus repo for rh-che developers/contributors"
see - https://issues.jboss.org/browse/CHE-223

[2017-06-30 18:43] gorkem commented on #136
closing as this is a duppo

[2017-06-30 18:43] #136 closed

[2017-07-03 09:20] l0rd opened #164 "Improve logging of keycloak-plugin-server"
Only errors should be logged and we should avoid using `System.out` in [KeycloakAuthenticationFilter.java](https://github.com/redhat-developer/rh-che/blob/master/builds/fabric8-che/plugins/keycloak-plugin-server/src/main/java/com/redhat/che/keycloak/server/KeycloakAuthenticationFilter.java)

c.f. https://github.com/redhat-developer/rh-che/pull/159/files#r124846818

[2017-07-03 09:55] sunix commented on #157
moved to minishift 1.0.1 and removed old workspace idling commit in `che#openshift-connector-wip` fix the issue

[2017-07-03 09:55] #157 closed

[2017-07-03 09:57] l0rd commented on #124
I'm reopening this issue because as I understand #160 and #158 didn't fix it completely /cc @sunix @benoitf

[2017-07-03 10:07] sunix commented on #152
maybe requires https://github.com/redhat-developer/rh-che/issues/150

[2017-07-03 12:06] sunix opened #166 "[Rebase oscon] Fix startup of bayesian analytics language server"
Rebase openshift-connector to master - https://github.com/redhat-developer/rh-che/issues/146

Fix startup of bayesian analytics language server

It seems that the bayesian node server doesn't start (no log file created nor node process running when opening a pom.xml file)

[2017-07-03 12:14] sunix commented on #152
Requires https://github.com/redhat-developer/rh-che/issues/166 to be fixed

[2017-07-03 13:34] sunix commented on #124
@benoitf
`2017-07-03 13:30:56,229[ost-startStop-1]  [ERROR] [o.e.c.a.w.s.stack.StackLoader 147]   - Failed to load stack icon data for the stack with id 'java-centos'
java.io.IOException: Not found resource: stacks-images/type-java.svg
	at org.eclipse.che.commons.lang.IoUtil.getResource(IoUtil.java:134)
	at org.eclipse.che.api.workspace.server.stack.StackLoader.setIconData(StackLoader.java:142)
	a

[2017-07-03 15:16] benoitf commented on #143
I would comment on this issue as I'm also use of the scripts/build process.

on the scripts:
- First, as a newcomer, I think it's very hard to have scripts at the root directory which are not the one I've to used in the README
So I would prefer to have the "script to run" in the root directory and the "functions/tools/macros" used by the scripts to be inside an internal folder
- Next, there are to

[2017-07-03 15:52] davidfestal commented on #143
If it's OK for everyone, I've no problem with moving the CI-dedicated scripts to a `ci-build-scripts` sub-folder, and bring the `dev-scripts` at the root.

That's an interesting idea, but some scripts already take arguments (mainly the arguments that can be passed to the underlying maven build). However, we could manage this a bit like many other tools (git, ...): `main_script <sub-command> <param

[2017-07-03 16:13] benoitf commented on #143
yes that was the idea. One tool, several commands and you can get help for each command to know the required/optional parameters

My goal is that it's overcomplicated. In any standard maven project, when you want to build a module, you can go to the module folder directly and just run the command from there. No need to give extra arguments or forced to launch from a specific top level folder
AFAIK

[2017-07-03 16:39] l0rd commented on #143
Thanks @benoitf for these details. Whoever is going to work on the improvement of these scripts should considers all your comments. And I agree with @davidfestal that we will be able to simplify it a lot as soon as `openshift-connector` branch has been merged.

[2017-07-03 16:43] benoitf commented on #124
I think it can be closed now

[2017-07-03 16:44] benoitf commented on #124
I let @sunix confirm ;-)

[2017-07-03 17:15] l0rd commented on #145
@benoitf as far as I understand the original request was to make it easier to access the logs of the agents. We usually want to access the logs from the openshift console or, for OSIO, fetch the logs and integrate them to view it in a kibana-like web console.

I'm scared to merge @snjeza PR because it's complex (difficult to debug/maintain) and risky (it's a shell script with hardcoded strings man

[2017-07-03 20:24] amisevsk commented on #164
Looks like this will be addressed by PR https://github.com/redhat-developer/rh-che/pull/170/

[2017-07-04 08:50] benoitf commented on #145
@l0rd

These instructions would be in the log of the che server docker container ?

These logs are Machine logs, correct ?

[2017-07-04 08:59] l0rd commented on #145
No the che workspace docker container that currently doesn't log anything to stdout. Adding something like this in the `entrypoint.sh` [before `tail -f /dev/null`](https://github.com/eclipse/che-dockerfiles/blob/master/recipes/stack-base/ubuntu/Dockerfile#L57):

[code]

[2017-07-04 09:00] l0rd commented on #145
Yep

[2017-07-04 09:44] #124 closed

[2017-07-04 11:01] ibuziuk commented on #164
https://github.com/redhat-developer/rh-che/pull/170 pushed to master

[2017-07-04 11:01] #164 closed

[2017-07-04 12:11] ibuziuk commented on #137
@gorkem @amisevsk do you happen to remember why it was initially implemented to skip requests with `Authorization: Internal` in https://github.com/redhat-developer/rh-che/blob/master/builds/fabric8-che/plugins/keycloak-plugin-server/src/main/java/com/redhat/che/keycloak/server/KeycloakAuthenticationFilter.java#L60 ?

[2017-07-04 13:34] sunix commented on #166
Need to refactor the bayesian ls plugin after https://github.com/eclipse/che/pull/5156

[2017-07-04 16:11] #113 closed

[2017-07-05 07:32] sunix commented on #146
rebased PR: https://github.com/redhat-developer/rh-che/pull/117

[2017-07-05 07:36] sunix commented on #151
PR https://github.com/eclipse/che/pull/5052 has been merged

[2017-07-05 07:36] #151 closed

[2017-07-05 07:39] sunix commented on #153
@davidfestal

[2017-07-05 08:07] davidfestal commented on #153
For the case of TestNG, I added this comment to the PR : https://github.com/eclipse/che/pull/5472#pullrequestreview-47609385.

It seems that the JUnit support is not included in this refactoring for the moment. So we'll have to further monitor this work until JUnit testing is also using the new out-process architecture, and check that JUnit test process is also started in the project root director

[2017-07-06 01:19] amisevsk commented on #137
@ibuziuk It was necessary because internal requests don't have an authorization header and so get blocked. The header is added by [KeycloakHttpJsonRequestFactory](https://github.com/redhat-developer/rh-che/blob/master/builds/fabric8-che/plugins/keycloak-plugin-server/src/main/java/com/redhat/che/keycloak/server/KeycloakHttpJsonRequestFactory.java) which is bound for the rh-che distribution.

Two a

[2017-07-06 10:28] ibuziuk commented on #137
@amisevsk thanks for clarifications, using service account token looks like a valid solution

[2017-07-06 12:42] ibuziuk opened #175 "Update "removeContainer" PR so that it would be mergeable to che master branch"
PR - https://github.com/eclipse/che/pull/5191

[2017-07-06 12:45] kbsingh commented on #141
Hi Guys,

this is a production blocker for the analytics team - if we can do something to prioritise and expediate this, would be appreciated.

[2017-07-06 12:58] kbsingh commented on #141
cc @krishnapaparaju

[2017-07-06 16:04] sunix commented on #143
agree with @benoitf , having so many layers (sh script + maven + maven) is adding more complexity, more bugs and more constraints. For example, how can I build 2 modules that I've modified and also build the dependent modules ?
``` -Damd  -Dpl="plugins/che-plugin-bayesian-lang-serverm,assembly/assembly-wsmaster-war" ``` doesn't work as for some reason it concider `plugins/che-plugin-bayesian-lang-

[2017-07-07 14:12] davidfestal opened #178 "Add Javadoc in class `TokenController`"
The class `/che-keycloak-plugin-token-provider/src/main/java/com/redhat/che/keycloak/token/provider/contoller/TokenController.java` misses javadoc comments on the endpoint methods.

Just a reminder of PR comment https://github.com/redhat-developer/rh-che/pull/173#discussion_r126131357 that will finally be fixed in a new PR.

[2017-07-07 14:13] sunix commented on #178
it can also be api docs available through swager

[2017-07-07 15:16] ibuziuk opened #180 "Can not open workspace from Codebases view (ERR_TOO_MANY_REDIRECTS)"
The following error occurs when trying to open a workspace from "Codebases" view on openshift.io:
[code]
Workaround: clearing cookies / incognito mode sometimes also helps

[2017-07-07 16:50] alexeykazakov commented on #180
I see there is "response_mode=fragment" in HTTP request from Che to sso.openshift.io (Keycloak). Most likely it's from JavaScript Keycloak Adapter. I guess this forces Keycloak to use fragments (#) instead of URL parameters (?) in redirect URLs. Fragments can be handled by JavaScrtipt only. If Tomcat (Java) Adapter is involved here too then it won't handle fragments correctly.

[2017-07-08 12:24] ibuziuk commented on #180
Might be related issue - https://github.com/fabric8-ui/fabric8-ui/issues/1539

[2017-07-10 07:40] davidfestal opened #181 "With the Keycloak integration changes, the dashboard `Workspaces` page is buggy"

[2017-07-10 09:30] l0rd opened #183 "KC authentication fails when username contains a dot"
In `KeycloakUserValidator` we match the KC user with the OpenShift Che project name.

Due to some limitations on OpenShift  project names we need to modify the KC user name before checking if that matches with the project name. For example if the KC user contains a `@` the [part of the name after `@` is discarted](KeycloakUserValidator ).  We now need also to replaces any `.` with `-` for cases li

[2017-07-10 09:38] l0rd opened #184 "KC authentication fails silently when OSO token has expired"
When a user has a valid KC token but an invalid OSO token Che fails to authenticate.

That's usually because the OSO token has expired. We should at least make it clear in the logs and add a link to the procedure to re-enable the OSO token.

[2017-07-10 09:39] l0rd commented on #184
cc @ibuziuk @amisevsk @davidfestal

[2017-07-10 09:39] l0rd commented on #183
cc @ibuziuk @davidfestal @amisevsk

[2017-07-10 09:43] ibuziuk commented on #184
@l0rd this situation with expired tokens should not even happen now since oso tokens must be valid for a year.
@alexeykazakov does there any related issue on keycloak side ?

[2017-07-10 09:44] ibuziuk commented on #184
Workaround for invalid / expired oso tokens is relinking oso account via

`https://sso.openshift.io/auth/realms/fabric8/account/identity`

[2017-07-10 10:37] l0rd commented on #184
@ibuziuk even if that happens only after 365 days we probably still need to address that right? I mean that's not urgent but we probably need to think about how to notify a user when, after 365 days, his OSO token has expired.

[2017-07-10 10:45] ibuziuk commented on #184
@l0rd agree, but this should not be done on che side IMO (maybe some email notification ?). Here we just fall back on keycloak API and use the token that is received.

[2017-07-10 14:12] l0rd commented on #92
tomcat8 should be fixed when this fix https://github.com/eclipse/che-dockerfiles/commit/8820f53557cabbb1c54bf6a6fb7be1b2a22789c9#diff-8cbeb0cbf990019fd81d66dfa8b46838 is ported to rhche

[2017-07-10 16:43] davidfestal commented on #181
fixed in commit https://github.com/redhat-developer/rh-che/pull/174/commits/1db4f50ccd0516a704b0c3cd2e7f8b15880eee31 of PR https://github.com/redhat-developer/rh-che/pull/174

[2017-07-10 16:45] davidfestal commented on #142
Fixed in submitted PR https://github.com/redhat-developer/rh-che/pull/174

[2017-07-10 16:53] davidfestal commented on #180
let me try to explicitly disabling the `fragment` response mode in the dashboard code.

[2017-07-10 18:07] alexeykazakov commented on #184
There is an issue to address OSO token refresh - https://github.com/fabric8-services/fabric8-wit/issues/1351
But to be clear. Invalid OSO token is not part of Keycloak authentication. Keycloak will login users regardless of any problem with the OSO token.

[2017-07-10 18:53] alexeykazakov commented on #180
I actaully see problem only when response_mode=fragment is not used. In both cases Keycloak uses fragments (have no idea why) but it works only if response_mode=fragment
I guess because it's keycloak.js that sends requests with  response_mode=fragment
but when it's not working the request comes from Tomcat Adapter or whatever is used by Che

[2017-07-11 13:27] davidfestal commented on #142
PR merged.

[2017-07-11 13:28] davidfestal commented on #139
Fixed in PR https://github.com/redhat-developer/rh-che/issues/173

[2017-07-12 09:13] #166 closed

[2017-07-12 10:06] sunix opened #188 "Cannot start Json LS agent on rh-che stacks"
Currently when trying to unable the json ls server, it fails at startup:

![eclipse che test-wksp-jwhq - google chrome_039](https://user-images.githubusercontent.com/650571/28112540-a851a0f8-66f9-11e7-8371-c304ab35643a.png)

To reproduce locally with rh-che / minishift:

- in Che dashboard `stacks` section, duplicate the `Java CentOS` stack
- edit the created stack and activate `JSON language serv

[2017-07-12 10:10] sunix opened #189 "Cannot start Bayesian analytics LS agent with `Centos NodeJS` stack"
The stack `CentOS NodeJS` doesn't have neither `node` nor `nodejs` command to start node js. At the moment, the agent detect these commands to start nodejs.

[2017-07-12 10:13] l0rd commented on #188
Thanks @sunix for reporting this. Any error in agent or che-server logs?

[2017-07-12 10:18] sunix opened #190 "Improve Bayesian agent logging from `launch.sh`"
Bayesian agent generating a `launch.sh` script that is used to start the bayesian language server when the IDE needs it.
Bayesian language server is logging to the file `bayesian.log`
However, if an error occurs in the launch.sh script, there is not way to find out the problem as output is not persisted/displayed anywhere.

[2017-07-12 13:01] jfchevrette commented on #145
Would it be possible to write the log files to the PV (currently mounted at /projects)? That would allow them to persist between pod restarts. Right now STDOUT is nice to debug in real time through the OpenShift console but they are not archived anywhere so again if the pod restarts we loose the ability to see what was shown at the console right before it restarted.

[2017-07-12 17:33] ibuziuk opened #191 "Update stacks.json when che is upgraded"
See - https://issues.jboss.org/browse/CHE-226

[2017-07-13 00:58] l0rd commented on #180
The fix for this has been deployed on OSIO (tenant version 1.0.208)

[2017-07-13 00:58] #180 closed

[2017-07-13 08:24] sunix opened #192 "No license for rh-che project"
There is no LICENSE file nor license header in source code files (java, xml ...)
Which license are we suppose to use ?

[2017-07-13 10:49] l0rd commented on #192
As for the license type I would say [EPL](http://www.eclipse.org/legal/epl-v10.html). @gorkem ?

For the copyright headers I think most of the java source files already have one and we should verify it and enforce a check at build time (for .xml, .sh etc...too of course).

[2017-07-13 11:01] l0rd commented on #191
Isn't that fixed by #168?

[2017-07-13 11:03] l0rd commented on #191
cc @benoitf

[2017-07-13 11:06] ibuziuk commented on #191
feel free to close if fixed - I just cleaning up the jira before the planning

[2017-07-13 11:07] l0rd commented on #190
@sunix do you think that having `launch.sh` logging somewhere (e.g. `/home/user/che/launchers/bayesian_launcher.log`) would solve that?

[2017-07-13 11:11] ibuziuk opened #194 "Testing che when OpenShift is loaded or overcommited"
See - https://issues.jboss.org/browse/CHE-248

[2017-07-13 11:17] l0rd commented on #189
NodeJS is installed but `scl enable` should be  prefixed:

[code]

I beleive @dharmit is working to fix that in a way that prefixing with scl enable is not necessary anymore. @dharmit can you confirm? Is there an issue about that already?

[2017-07-13 11:28] dharmit commented on #189
There's no dedicated issue about it except the one mentioned on https://github.com/redhat-developer/rh-che/issues/147. I'm working on removing this `scl enable` dependency.

[2017-07-13 11:35] l0rd commented on #144
This has been fixed in https://github.com/eclipse/che/pull/5512. We will be able to close it once we will be using eclipse/che `master` branch (curently we are using `openshift-connector-wip`).

[2017-07-13 11:38] l0rd commented on #189
Fantastic thank you @dharmit

[2017-07-13 13:48] gorkem commented on #192
Yes, EPL is the natural choice.

[2017-07-13 15:03] sunix commented on #144
I can rebase 'openshift-connector-wip'

[2017-07-13 15:12] sunix commented on #156
Since `rh-che#openshift-connector-rebased` has been merged (https://github.com/redhat-developer/rh-che/pull/117) to master this is not needed anymore

[2017-07-13 15:12] #156 closed

[2017-07-13 16:16] l0rd commented on #75
Little update on that. We have merged most of the content of `openshift-connector` branch to master and we have reverted stacks.json.

So this issue now can be rephrased: "Upstream `eclipse/che` centos Docker image cannot run on minishift". Do address that we still need to port `rhche` dockerfiles trick (support for users with arbitrary ID) to `eclipse` dockerfiles.

[2017-07-13 16:22] l0rd commented on #105
This has been fixed by https://github.com/redhat-developer/rh-che/commit/8950bf1f3936fdd17b003fbe11e69f18cdfe227d

[2017-07-13 16:22] #105 closed

[2017-07-14 19:40] ibuziuk opened #197 "Sprint #135"
[Working hours budget spreadsheet](https://docs.google.com/spreadsheets/d/1_YsNaGRHID0QNPdSOJYk6tmlBux1kZK_YN8eCCIpzmY/edit#gid=1409688417)

### Issues tied to objectives

#### Not assigned yet (go ahead and serve yourself 😃)

- [ ] [Cannot start Bayesian analytics LS agent with `Centos NodeJS` stack](https://github.com/redhat-developer/rh-che/issues/189) **estimation**: 20
- [ ] [Cannot start Jso

[2017-07-17 09:19] sunix commented on #188
@l0rd no unfortunately :(

[2017-07-17 09:22] sunix commented on #141
will probably implement that client side: getting the token like:
https://github.com/redhat-developer/rh-che/blob/2a2ff37132295f1219c0b38c41b844f480b85e49/builds/fabric8-che/plugins/keycloak-plugin-ide/src/main/java/com/redhat/che/keycloak/ide/KeycloakAsyncRequestFactory.java#L71
and use LSP DidChangeConfiguration to send the token to the language server

[2017-07-17 14:20] ibuziuk opened #198 "Variou improvements in OpenShiftConnector"
See https://issues.jboss.org/browse/CHE-180
NOTE: The original "Error while pumping stream" issue was fixed, but @snjeza found a few other issues during investigation - https://issues.jboss.org/browse/CHE-180?focusedCommentId=13396715&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-13396715

- [ ] getEvents does nothing. I have replaced it with openShiftClient.event

[2017-07-17 15:17] tsmaeder commented on #101
The behaviour seems to indicate that the language server computes errors on didChange,  but not on didOpen.

[2017-07-17 15:35] tsmaeder commented on #102
I don't really know how to reproduce this. Opening/Closing pom.xml files works for me. Doing a file refresh works.
The version of Che deployed on OSIO at the time of this happening would block eternally whenever an error occurred when starting a language server. So all we know right now is "something went wrong".
Later versions of Che have both proper error handling and timeout, so we should get s

[2017-07-17 15:49] ibuziuk commented on #115
@mlabuda closing. realated PRs to `fabric8-online`  and `che-starter` have been merged and promoted to prod.

[2017-07-17 15:49] #115 closed

[2017-07-17 18:51] amisevsk commented on #198
Regarding

`OpenShiftConnector#getEvents()` is used only by DockerInstanceStopDetector. I've looked into making this work numerous times, and I can't really see a good, elegant way to adapt OpenShift events to the Docker events Che expects. There has been talk of improving this via the SPI (e.g. not relying on a getEvents method, and instead letting the impl side of the SPI decide how workspace he

[2017-07-17 19:13] amisevsk commented on #194
Update on the status of this issue, from when I worked on it earlier:
- I was able to reproduce all of the issues described by @snjeza .
- The improvements to `JAVA_OPTS`, etc. by @l0rd make this issue far less likely to occur (you kind of have to try to make it happen -- just doing a large maven build will fail gracefully-ish)
- While oom detection is still not included (see first point of #198),

[2017-07-18 07:25] dharmit commented on #147
SCL issues covered in this issue are fixed by https://github.com/eclipse/che-dockerfiles/issues/108

[2017-07-18 12:42] tisnik commented on #102
I've seen similar issue in Firefox 51.0.1 w/o any plugins. The timeout is quite high (>15 minutes). I'll add more information how to reproduce this issue later.

[2017-07-18 14:44] l0rd commented on #102
@tisnik can you tell us what version of Che you are using?

[2017-07-18 14:59] #142 closed

[2017-07-18 15:00] #181 closed

[2017-07-18 15:07] tisnik commented on #102
@l0rd it is on production,
Revision : 76f86431c6f647c5
Build Time : 2017-07-07 18:10:49

For the record it happened only once on my side, so I'm going to leave the browser in idle state for a much longer time (say one hour or so)

[2017-07-18 15:24] l0rd commented on #102
@tisnik thanks. Your Che version on prod may be different from mine (because che-server update on openshift.io is done manually).

Can you please look at the version from openshift.io UI:
![image](https://user-images.githubusercontent.com/606959/28324991-0d24108c-6bdd-11e7-99f1-e4e99aa741b9.png)

[2017-07-18 15:27] l0rd commented on #102
@tisnik [faq on how to update Che to latest version]( https://github.com/openshiftio/openshift.io/wiki/FAQ#how-do-i-update-my-tenant-)

[2017-07-18 15:48] #191 closed

[2017-07-18 15:50] ibuziuk commented on #190
@sunix could you please create an issue upstream ?

[2017-07-18 16:00] ibuziuk commented on #147
There is Inconsistencies between stacks:

- [ ]  centos jdk does not use scl but download tars instead
- [ ]  other images (vertx, wildfly, spring boot, node.js) should be based on centos jdk

[2017-07-18 16:00] ibuziuk commented on #189
Should be fixed by - https://github.com/eclipse/che-dockerfiles/pull/108, but still need to verify it

[2017-07-18 16:09] tisnik commented on #102
@l0rd it is 1.0.205 on mi side. So I suppose I'd need to update, right?

[2017-07-18 16:14] ibuziuk commented on #161
@sunix could you please create an upstream for it ?

[2017-07-18 16:17] ibuziuk commented on #154
need to rebase `openshift-connector-wip` to the che master

[2017-07-18 16:22] ibuziuk commented on #153
@davidfestal modified JUnit the same way -  https://github.com/eclipse/che/pull/5710#pullrequestreview-50543437

[2017-07-18 16:23] ibuziuk commented on #152
Closing in favour of - https://github.com/redhat-developer/rh-che/issues/141

[2017-07-18 16:23] #152 closed

[2017-07-18 16:25] ibuziuk commented on #150
Closing in favour of https://github.com/redhat-developer/rh-che/issues/141

[2017-07-18 16:25] #150 closed

[2017-07-18 16:29] ibuziuk commented on #143
still need to figure out how simplification is going to be implemented

[2017-07-18 16:30] ibuziuk commented on #143
blocked by existence of `openshift-connector-wip`

[2017-07-18 16:38] ibuziuk commented on #133
Might be fixed via `api/keycloak/settings/`

[2017-07-18 16:41] ibuziuk commented on #130
related to https://github.com/eclipse/che/issues/5529

[2017-07-18 16:43] ibuziuk commented on #129
Should be fixed as part of https://github.com/redhat-developer/rh-che/issues/147

[2017-07-18 16:43] #129 closed

[2017-07-18 16:44] sunix opened #200 "Rebase eclipse/che `openshift-connector-wip` branch"
using https://github.com/sunix/che/commits/openshift-connector-wip ( `openshift-connector-wip rebased to master)  and https://github.com/sunix/rh-che/tree/fix-patch-dashboard (fix patch issue after rebase)
I couldn't start a workspace. It seems the workspace starts but once the IDE is trying to connect to it, it fails and ask to stop the workspace.
Without keycloak:
![eclipse che wksp-huh2 - mozil

[2017-07-18 16:45] ibuziuk commented on #127
CI job for pr verification in rh-che distro

[2017-07-18 16:49] ibuziuk commented on #119
@mlabuda could you please specify all the commands that are needed as check list to this issue ?

[2017-07-18 16:50] #109 closed

[2017-07-18 16:53] ibuziuk commented on #104
should be fixed now, since `openshift-connector-rebased` was pushed to master. Feel free to reopen

[2017-07-18 16:53] #104 closed

[2017-07-18 17:01] ibuziuk commented on #95
Related to https://github.com/redhat-developer/rh-che/issues/119
Might be already fixed - need to verify

[2017-07-18 17:02] ibuziuk commented on #93
@l0rd need to open an issue upstream

[2017-07-18 17:15] davidfestal commented on #92
However this fix is only done in the the `eclipse/centos_jdk8` docker image. So as soon as another docker image (CentOS Vertx image for example) is used by OSIO, the fix isn't useful anymore.

But this should be finally fixed as soon as the alternate CentOS images (such as VertX) will be based on the `eclipse/centos_jdk8` image (see [this task](https://github.com/redhat-developer/rh-che/issues/147

[2017-07-18 19:18] joshuawilson commented on #102
yes, you can update from the user profile

[2017-07-18 20:39] amisevsk commented on #139
Closing issue as fixed, since https://github.com/redhat-developer/rh-che/pull/117 was merged into master. Feel free to reopen, but I think the remaining issues are better served by separate issues.

[2017-07-18 20:39] #139 closed

[2017-07-19 08:06] ibuziuk opened #203 "REST API to (lazily) create a Workspace for a local file system"
See - https://issues.jboss.org/browse/CHE-286

so I'd like to be able to write a little CLI tool that can lazily create a che workspace on the fly for a local folder (whether its it git or not).
e.g. given any project I've cloned locally on my laptop and am editing in some desktop IDE, I'd like to type something like:

[code]

Then in a later shell I can type:

[code]

Then as users edit their loc

[2017-07-19 08:16] l0rd commented on #101
@msrb Can you confirm if `didOpen` has or has not been implemented in recommendation LS?

[2017-07-19 08:23] msrb commented on #101
The LS should handle `didOpen`  as well, but this report indicates that there is a bug somewhere (in LS). I will open a separate issue in the fabric8-analytics/fabric8-analytics-lsp-server repository.

[2017-07-19 08:27] msrb commented on #101
I am quite confident that this is a bug in LS, so this issue can be closed.

[2017-07-19 08:58] ibuziuk commented on #101
closing. Related LS issue - https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/issues/13

[2017-07-19 08:58] #101 closed

[2017-07-19 09:18] l0rd commented on #102
Yes @tisnik please update Che. If the problem still persist provide the steps needed to reproduce it.

[2017-07-19 09:24] mlabuda commented on #189
Commented in eclipse/che-dockerfiles#108. That solution won't work.

[2017-07-19 09:35] mlabuda opened #204 "Create automated tests for stacks"
At the moment stacks and changes to Dockerfiles to stack images are not tested before merged. We should have a process, CI for this.

My suggestion:
- PR to a stack Dockerfile is created
- automated CI job is triggered
     - it builds staging image and push it to dockerhub
     - then it uses a running Che server and via REST API it creates a new workspace
     - it checks that a workspace has be

[2017-07-19 09:35] mlabuda commented on #204
cc @Katka92

[2017-07-19 09:44] mlabuda commented on #119
There is no full check list and it also depends on stacks.

E.g. for the vert.x stack it is "mvn vertx:run", for springboot stack it will be "mvn spring-boot:start" and "mvn spring-boot:stop" and maybe also "mvn spring-boot:run". Good lead could be documentation of stack specific maven plugin.

[2017-07-19 09:51] ibuziuk commented on #119
- spring-boot
- [ ] mvn spring-boot:start
- [ ] mvn spring-boot:stop
- [ ] mvn spring-boot:run
- vert.x
- [ ] mvn vertx:run

@mlabuda ok let's start from those

[2017-07-19 11:50] tisnik commented on #102
@l0rd I'm unable to reproduce the issue after updating Che to the version 1.0.220

[2017-07-19 12:10] l0rd commented on #102
Thank you @tisnik for your help. Che version 1.0.208 brought some main changes to the LS support that should have fix that. I'm closing this issue.

[2017-07-19 12:10] #102 closed

[2017-07-19 15:00] l0rd commented on #93
Upstream issue: https://github.com/eclipse/che/issues/5741

[2017-07-19 15:10] ibuziuk opened #207 "[Copy for Planning] Need to move OutputCustomizers to the according plugins and make them to be loaded according to workspace's settings"
Need to move OutputCustomizers to the according plugins and make them to be loaded according to workspace's settings - eclipse/che#5652 estimation: **35**

Upstream - eclipse/che#5652

[2017-07-19 15:11] ibuziuk opened #208 "[Copy for Planning] Update to use the Async CheStarter API from Codebases"
Update to use the Async CheStarter API from Codebases - fabric8-services/fabric8-wit#1506 estimation: **25**

Upstream issue -  fabric8-services/fabric8-wit#1506

[2017-07-19 15:11] l0rd commented on #103
For current sprint (n.135) we just need to know if that's an upstream issue or not

[2017-07-19 15:12] ibuziuk opened #209 "[Copy for Planning] Need to increase request timeout between ui and core to make it work with idled che server"
Need to increase request timeout between ui and core to make it work with idled che server
- fabric8-ui/fabric8-ui#1745 estimation: **1**

Upstream issue: fabric8-ui/fabric8-ui#1745

[2017-07-19 15:13] ibuziuk opened #210 "[Copy for Planning] Support for Executing LSP WorkspaceEdit"
Support for Executing LSP WorkspaceEdit eclipse/che#5485 - estimation: **25**
Upstream issue - eclipse/che#5485

[2017-07-19 15:14] ibuziuk opened #211 "[Copy for Planning] Integrate jdt.ls into Che"
Integrate jdt.ls into Che: eclipse/che#5730 estimation: **25**
Upstream issue -  eclipse/che#5730

[2017-07-19 15:27] l0rd commented on #155
That should be implemented after #147 is merged to avoid duplicating the modifications on different centos Dockerfiles

[2017-07-19 15:46] l0rd commented on #131
One issue is that wsmaster-wsagent authentication as it is implemented now will fail. To solve this issue we need to figure out how authentication will work. Maybe with Sergii team.

[2017-07-19 15:54] l0rd commented on #94
The (temporary) solution is to remove authentication for some http requests. But we need to open a issue on upstream Che to solve the problem and in any case that issue does not exist when we you a language server.

[2017-07-19 16:00] l0rd opened #212 "Che server logs should be written in a PV"
C.f. https://github.com/redhat-developer/rh-che/issues/145#issuecomment-314761972

[2017-07-19 16:01] l0rd commented on #145
I'm opening a new issue for the [che-server](https://github.com/redhat-developer/rh-che/issues/212) logs and closing this one.

[2017-07-19 16:01] #145 closed

[2017-07-19 16:05] l0rd commented on #144
This is going to be fixed by #154

[2017-07-19 16:05] #144 closed

[2017-07-19 16:12] l0rd opened #213 "Add Kubernetes LS"
cc/ @jpinkney

[2017-07-19 16:23] l0rd commented on #188
May be related to #189

[2017-07-19 16:40] l0rd commented on #138
@ibuziuk now that sprint 134 has ended should we close this one?

[2017-07-19 16:46] ibuziuk commented on #138
yes I think so

[2017-07-19 17:32] davidfestal commented on #94
The underlying root cause is the use of GWT `Frame` objects to manage the popup of Java Quick documentation and Java completion documentation.
The Frame object creates an new html frame in which the client-side Keycloak-related Javascript code cannot be injected. And thus the http requests sent from these frames don't get the right Keycloak authorization token, and are refused on the server-side b

[2017-07-19 18:38] burrsutter opened #215 "Default Run command is broken"
For Vert.x projects, it should be
cd /projects/newspace && scl enable rh-maven33 'mvn compile vertx:run'

but it is currently
scl enable rh-maven33 'java -jar target/-fat.jar'

[2017-07-19 18:42] burrsutter commented on #92
so, how does the end-user find the URL for his/her running app?  A Vert.x app can run inside of the Che workspace via this command
cd /projects/newspace && scl enable rh-maven33 'mvn compile vertx:run'
https://screencast.com/t/lup1mJDVLbHe

[2017-07-19 20:38] #183 closed

[2017-07-19 22:29] l0rd commented on #215
I've provided a couple of PRs (upstream and downstream) to address that. Tomorrow the fix should be available on OSIO.

[2017-07-19 22:51] l0rd commented on #92
@ibuziuk I've noticed that when a vert.x workspace is created via osio the `attribute` field of a the stack commands is always empty:
[code]
As a consequence, commands attributes as the preview URL are not there. Even if they are defined correctly in [stacks.json](https://github.com/eclipse/che/blob/master/ide/che-core-ide-stacks/src/main/resources/stacks.json#L2371). That behavior is not reproduc

[2017-07-20 08:29] ibuziuk commented on #92
@l0rd looks like command attributes are ignored in che-starter - https://github.com/redhat-developer/che-starter/blob/master/src/main/java/io/fabric8/che/starter/model/workspace/WorkspaceCommand.java#L18
I have also noticed that some stack names (wildfly-swarm / nodejs4) have been updated and not consistent with previous naming that is used in che-starter. I will provide PR

[2017-07-20 10:26] l0rd opened #217 "Fail to create a new workspace when one already exist on OSIO"
When che-starter is requested to create a new workspace but one already running it should:
1. stop the old workspace
2. create the new workspace.
This currently fails. Probably because che-starter fails stopping the old workspace due to #175. When #175 will be fixed this one should fixed this one to (need to verify).

This is rh-che version of issue https://github.com/fabric8-ui/fabric8-ui/issues/

[2017-07-20 10:27] davidfestal commented on #133
This endpoint will also be useful to provide some of the Keycloak configuration settings that, for now, are hard-wired in the client-side or server-side code of the Keycloak integration:
- WsMaster web application:
    - server-side configuration for the Keycloak servlet filter: [keycloak.json](https://github.com/redhat-developer/rh-che/blob/master/builds/fabric8-che/assembly/assembly-wsmaster-war

[2017-07-20 10:38] ibuziuk commented on #92
@l0rd PR is sent - https://github.com/redhat-developer/che-starter/pull/200

[2017-07-20 12:12] davidfestal commented on #94
This is fixed in production since version `1.0.234` of OSIO Che

[2017-07-20 12:12] #94 closed

[2017-07-20 12:36] mlabuda opened #218 "Recommendations on pom.xml are currently not working"
I have a Che server running on image rhche/che-server:ba40d4c-fabric8-5bd0962 (15 hours old) and template 1.0.231. There is a env var RECOMMENDER_API_TOKEN, also there is com.redhat.bayesian.lsp agent present in workspace but there is no server.js running in workspace nor working Bayesian. Che server in log contains info about launching bayesian LSP
`2017-07-20 09:10:38,699[aceSharedPool-4] [INFO

[2017-07-20 12:42] l0rd commented on #92
@ibuziuk great! Can you provide an update here once it is possible to test it on OSIO?

[2017-07-20 12:47] #138 closed

[2017-07-20 13:02] ibuziuk commented on #92
@l0rd che-starter has been updated on prod and available for testing

[2017-07-20 13:29] l0rd commented on #215
@burrsutter @gastaldi This has been fixed as of version 1.0.234 of Che. I am closing the issue but feel free to re-open it if needed.

[2017-07-20 13:29] #215 closed

[2017-07-20 15:30] l0rd commented on #218
@mlabuda I've changed the title of this issue because it looks like the issue is only for recommendation with `pom.xml` files. You can find more details below:

**WHEN IS BAYESIAN NODE APP STARTED?**
Bayesian node app is started only when a file (`package.json`, `pom.xml` or `requirement.txt`) is opened. That explains why you don't see the application after workspace startup. You need to open one

[2017-07-20 16:11] l0rd commented on #92
CURRENT STATUS: The preview URL is correctly shown but the hostname is the wrong one. We need to fix vertx stack Dockerfile to address that as suggested by @davidfestal [here](https://github.com/davidfestal)

[2017-07-20 16:14] invincibleJai commented on #218
thanks @l0rd @mlabuda for putting more light on it. I tested requirements.txt as well , it's working as expected.

[2017-07-20 16:53] ibuziuk commented on #175
PR to `openshift-connector-wip` in case we need it ASAP

[2017-07-20 17:04] krishnapaparaju commented on #218
@l0rd  @invincibleJai  thanks

[2017-07-20 17:59] ibuziuk commented on #175
PR to `master` - https://github.com/eclipse/che/pull/5766

[2017-07-20 18:51] #178 closed

[2017-07-20 19:34] amisevsk commented on #183
![](https://github.trello.services/images/mini-trello-icon.png) [KC authentication fails when username contains a dot](https://trello.com/c/zwEfnaan/2-kc-authentication-fails-when-username-contains-a-dot)

[2017-07-20 19:35] amisevsk commented on #178
![](https://github.trello.services/images/mini-trello-icon.png) [Add Javadoc in class `TokenController`](https://trello.com/c/BX42JrwL/3-add-javadoc-in-class-tokencontroller)

[2017-07-20 19:36] amisevsk commented on #139
![](https://github.trello.services/images/mini-trello-icon.png) [Fix workspace keycloak authentication](https://trello.com/c/PjqGPNSr/4-fix-workspace-keycloak-authentication)

[2017-07-21 09:13] l0rd commented on #95
This has been fixed by https://github.com/redhat-developer/rh-che/issues/216. The fix is included in Che version 1.0.234 or above.

[2017-07-21 09:13] #95 closed

[2017-07-21 11:15] l0rd commented on #92
UPDATE: After merging eclipse/che-dockerfiles#111 the preview URL is working fine now. We are not closing this issue because we still need to improve the naming of the URL (now it contains the word tomcat even if it's not served by tomcat). A good prefix for the URL would be `server8080`, `app8080`, `app-preview8080` or just `server`, `app`, `app-preview`.

[2017-07-21 11:16] ibuziuk commented on #137
PR is pushed to master

[2017-07-21 11:16] #137 closed

[2017-07-21 13:25] davidfestal commented on #153
I've tested with project `wildfly-swarm-openshiftio-boosters/wfswarm-rest-http` from the intial issue (JIRA-214), and the error doesn't occur anymore. It seems we can close this one.

[2017-07-21 13:33] davidfestal commented on #153
waiting for the build + publish in prod before closing

[2017-07-21 15:25] davidfestal commented on #153
Validated in OSIO, tenant 1.0.244

[2017-07-21 15:25] #153 closed

[2017-07-21 18:43] qodfathr commented on #92
@l0rd, PM would like to see this labelled severity p1. Thank you.

[2017-07-23 09:19] ibuziuk commented on #217
@l0rd @sunix are you able to create workspace on osio against the latest template  (1.0.245) ?
I keep getting:

`Workspace agent is no longer responding. To fix the problem, verify you have a good network connection and restart the workspace.`

![image](https://user-images.githubusercontent.com/1461122/28498170-b487ecea-6f98-11e7-9eab-f62040588205.png)

Could this be related to https://github.com/

[2017-07-24 07:15] mlabuda opened #220 "New server deployment does not override stacks"
When I updated server in tenant space and server started, there is following error. It is caused, because of renaming IDs of stacks but keeping same name.

`org.eclipse.che.api.core.ConflictException: Stack with id 'wildfly-swarm' or name 'CentOS WildFly Swarm' already exists
	at org.eclipse.che.api.workspace.server.jpa.JpaStackDao.create(JpaStackDao.java:59)
	at org.eclipse.che.api.workspace.serv

[2017-07-24 07:19] mlabuda opened #221 "`Failed to check image` error in master logs"
When creating a new workspace through Che starter (using Che server API), the Che server of latest version has following error in log:
`java.lang.NullPointerException: null
	at java.util.Hashtable.put(Hashtable.java:459)
	at java.util.Hashtable.putAll(Hashtable.java:523)
	at org.eclipse.persistence.indirection.IndirectMap.putAll(IndirectMap.java:631)
	at org.eclipse.persistence.indirection.Indirec

[2017-07-24 10:11] ibuziuk commented on #217
not sure why this happens but when I update tenant via profile on osio workspace creation works fine and fails when I update che manually via cli

[2017-07-24 11:09] ibuziuk opened #222 "Need to provide instructions for setting quota limits on minishift"
[code]

The script should be improved to grab the latest version from maven central and instructions should be added to README.md`

Example of getting the latest version of che template from maven central:

`export OSIO_VERSION=$(curl -sSL http://central.maven.org/maven2/io/fabric8/online/apps/che/maven-metadata.xml | grep latest | sed -e 's,.*<latest>\([^<]*\)</latest>.*,\1,g')`

[2017-07-24 13:39] davidfestal commented on #218
Created PR https://github.com/redhat-developer/rh-che/pull/223. let's wait for the merge and promotion to prod before closing the issue.

[2017-07-24 13:51] #200 closed

[2017-07-24 14:22] ibuziuk commented on #217
on minishift with quotas set I got the following error when trying to deploy che-server:
`Error syncing pod, skipping: timeout expired waiting for volumes to attach/mount for pod "eclipse-che"/"che-1-nfn1g". list of unattached/unmounted volumes=[che-data-volume]`

[2017-07-24 15:00] ibuziuk commented on #217
Image that was used for quota limit problem verification `ibuziuk/che-server:quota-fix`

[2017-07-24 16:07] amisevsk commented on #220
Workaround is to manually delete db in in `/data/storage/db` on the server pod.

[2017-07-24 16:19] ibuziuk commented on #217
@l0rd @amisevsk I was able to verify PRs [1] [2] on minishift and can confirm that those fix quota limit issue. Steps for verification that I have done:

1. build `openshift-connector-wip` with PRs applied
2. start minishift
3. build rh-che via `./minishift_build_fabric8_and_deploy.sh -Dfast clean`
4. when che-server is runningon minishift apply quota limits to the `eclipse-che` project. Details c

[2017-07-24 16:50] l0rd commented on #217
I've been able to successfully test that https://github.com/eclipse/che/pull/5766 https://github.com/eclipse/che/pull/5773 fix this issue on OSIO. Well done @ibuziuk! 🎉 🎉

Something noteworthy is that the second workspace startup takes a while because the old PV is not released immediatly. I saw this log 7 times in 7 minutes when performing the startup of the new worksapce (and finally the workspa

[2017-07-24 17:37] ibuziuk commented on #175
Closing fix now is now in master

[2017-07-24 17:37] #175 closed

[2017-07-25 08:51] sunix opened #224 "Rename property `che.keycloak.disabled`"
So to enable keycloak it's "not not enable" or "not disable" (`che.keycloak.disabled` = false ).
Would be easier if the property were: `che.keycloak.enabled`

[2017-07-25 15:25] ibuziuk commented on #209
Fixed on prod

[2017-07-25 15:25] #209 closed

[2017-07-26 01:20] gorkem opened #226 "Use CHE_LIMITS_USER_WORKSPACES_COUNT to avoid starting more than one workspace on OSIO via the dashboard"
Che server, instead of che starter should be responsible of limiting the number of running workspaces.

[2017-07-26 04:36] amisevsk commented on #226
I recall looking into this awhile ago, and the issue is that to properly implement this in che server would require changing more than just the endpoint / connector implementation, since Che does a fair bit of workspace state tracking.

The simplest solution might be to check, in e.g. `OpenShiftConnector` if a workspace is running, and if it is, first stop that workspace using the che server API,

[2017-07-26 05:37] invincibleJai commented on #218
@davidfestal Thanks, now bayesian LSP is working with CHE for pom.xml tested in osio
(with Image: rhche/che-server:8c76cd6-fabric8-4d2c60e)

However one observation is earlier we need to edit once to see CVE's flagging on pom.xml. Issue for same ( https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/issues/13 ),
now i observed needed to edit more than once(there are some flickering no

[2017-07-26 07:22] ibuziuk commented on #226
yeah, I was also thinking about this approach, but we could probably talk with Che team and figure out smth. more robust

[2017-07-26 07:41] l0rd commented on #226
That may be something to take in consideration in the SPI implementation
cc @garagatyi @skabashnyuk @vparfonov @eivantsov

[2017-07-26 07:45] davidfestal commented on #218
I don't have any idea for now on this one. Maybe @tsmaeder might have some idea: he worked on multi-LS support.

However don't you think we should open a new issue for this other problem, and close this one ?

[2017-07-26 07:50] l0rd commented on #220
If you have upgraded Che from a pre 1.15 version you will see this in the logs but it won't affect in any way Che functionalities.

This is more of a migration issue but we are not going to fix that since at this point we don't really have users that will migrate from pre v1.15.

[2017-07-26 07:50] #220 closed

[2017-07-26 07:54] l0rd commented on #224
Agree that `che.keycloak.enabled` would be better naming

[2017-07-26 08:05] l0rd commented on #218
This seams still related to #101 and may be fixed in bayesian LS (https://github.com/fabric8-analytics/fabric8-analytics-lsp-server/issues/13). @tsmaeder @msrb can you please confirm?

[2017-07-26 08:19] invincibleJai commented on #218
@davidfestal sure we can close this one. @l0rd it's not fixed in bayesian LS , i'll look into this and update as i was unable to see this behaviour on local minishift instance earlier will take latest and check.

[2017-07-26 08:20] garagatyi commented on #226
Can you elaborate on what are your expectations from this feature? It is not clear whether it should stop already running WS or deny start of a second one. Also, it is not clear why you need such a feature.

[2017-07-26 08:51] l0rd commented on #226
@garagatyi currently OSIO we enforce one workspace running at a time with 1.2GB of RAM. If another workspace is already running when a user try to start a new one we stop the old one first.

[2017-07-26 08:54] eivantsov commented on #226
@l0rd are there plans to use che-starter even when a proper SPI implementation for OpenShift is in place?

[2017-07-26 08:58] l0rd commented on #226
@eivantsov che-starter should be decommissioned when we have multi tenant Che.

[2017-07-26 09:04] garagatyi commented on #226
Personally, I find auto stop experience not convenient. Why not ask the user whether he wants to stop already running WS?

[2017-07-26 10:38] l0rd opened #228 "Che projects do not have maven nature in OSIO (spring-boot / vertx stacks)"
When a new workspace is created in OSIO from the codebase UI it doesn't appear as a maven project. I've been able to reproduce it both spring-boot and vertx quickstarts.

As a result jUnit support doesn't work. The workaround is to set the maven nature manually via `Project -> Update Project configuration`.

![image](https://user-images.githubusercontent.com/606959/28617078-3ed8352c-71ff-11e7-93e2

[2017-07-26 10:54] ibuziuk commented on #228
might be related to - https://github.com/redhat-developer/che-starter/issues/113
in che-starter we are setting both `type` and `projectType` but it still fails for some reason :/

cc: @mlabuda

[2017-07-26 11:13] l0rd commented on #218
@davidfestal @invincibleJai Let's keep this open until fabric8-analytics/fabric8-analytics-lsp-server#13 is fixed and we have verified that pom.xml recommendations work fine.

[2017-07-26 11:14] ibuziuk commented on #217
@l0rd verified on prod - seems to work just fine. I believe this one can be closed

[2017-07-26 11:14] #217 closed

[2017-07-26 11:37] mlabuda commented on #226
I was proposing this in February. There is chunk of my comment from JIRA:

a) There is M running workspaces and 0 <= M < N. User try to start an existing / new workspace. Workspace gets started.
b) There is M running workspaces and M = N. User try to start an existing / new workspace. A workspace (based on some decision, e.g. least recently used) is stopped and the desired workspace gets started.

[2017-07-26 11:58] l0rd commented on #226
@garagatyi I agree with you, we need to ask the user. But in OSIO the app that is responsible to interact with the user is not Che, that's the codebase UI (that's the UI that substitute the Che dashboard in OSIO). The codebase UI should ask the user if it's ok to stop the existing workspace and then will call the Che API to stop and start the new workspaces.

But you make me think that moving the

[2017-07-26 12:04] ibuziuk commented on #226
Moving single workspace enforcement to the codebase UI sounds relevant and user-friendly

[2017-07-26 12:47] mlabuda commented on #228
Hmm, it could be related to this https://github.com/redhat-developer/che-starter/commit/fc95e06c97d7949a94b23c2236cbc63f3c728934 or to the StackProjectMapping class. We have static mapping and now we have changed some IDs but it required to have also updated Che server which reflects the same IDs.

[2017-07-26 13:01] gorkem commented on #226
Handling this on the codebases UI is not enough since you can switch between workspaces without actually going to codebases. See https://vimeo.com/226986852.

[2017-07-26 13:02] ibuziuk commented on #228
@mlabuda but `spring-boot` stack should not be affected by redhat-developer/che-starter@fc95e06

[2017-07-26 13:07] ibuziuk commented on #228
Correct project type is set correctly for `java-centos` stack:

![image](https://user-images.githubusercontent.com/1461122/28622207-ffa9d062-7213-11e7-9992-6d82e3fb0915.png)

[2017-07-26 13:35] skabashnyuk commented on #226
@gorkem in codenvy we do have some logic that can block user during some operation https://github.com/codenvy/codenvy/blob/master/wsmaster/codenvy-hosted-platform-api-impl/src/main/java/com/codenvy/api/workspace/LimitsCheckingWorkspaceManager.java#L288
We check some logic during
 - workspace creation
- workspace update
- workspace start

May be we can reuse this logic here?

[2017-07-26 13:43] garagatyi commented on #226
AFAIK it is part of permissions system. It limits wide variety of resources including amount of concurrently running workspaces

[2017-07-26 13:45] skabashnyuk commented on #226
Anyway, it will be part of multi-user Che because it limits access to the workspace to workspace owners.

[2017-07-26 14:21] ibuziuk commented on #228
@l0rd just tested against spring-boot "quick-start" and project-type "maven" was set correctly:

[2017-07-26 14:28] ibuziuk commented on #228
the same is for vertx:

[code]

[2017-07-26 19:14] ibuziuk opened #230 ""Git" menu items are disabled after workspace creation and only after a while become available""
Non working account:
Safari: burr@redhat.com, bursutter on github, burrsutter, tatooine
Committer info and token are set correctly according to che-starter logs:

[code]

[2017-07-26 19:20] burrsutter commented on #230
https://screencast.com/t/IGLhwJwnTfO

[2017-07-26 19:27] burrsutter commented on #230
Might be Safari specific as it works in FF (but with a different user account)

[2017-07-27 01:29] gorkem commented on #107
@ibuziuk Do we need an issue for implementing the `population of workspace github preferences from Keycloak` that che-starter does and add it to this epic?

[2017-07-27 01:37] gorkem commented on #226
`LimitsCheckingWorkspaceManager.java` seems to be the right place. OSIO is meant to be opinionated therefore it stops the existing workspace so `ResourceUsageManager` by itself is probably not enough.

[2017-07-27 06:49] skabashnyuk commented on #226
I'm sorry @gorkem may be I was wrong. What problem we are trying to solve?

[2017-07-27 06:49] garagatyi commented on #226
In my opinion, it doesn't look like a feature for Che project. Looks like it is feature and behavior of OSIO, so why to put it in Che?

[2017-07-27 07:35] ibuziuk commented on #107
@gorkem yes, but the main thing is that now preferences are set for che-server via wsmaster API, so first need to have mechanism in place for setting preferences per user or per workspace

[2017-07-27 07:36] ibuziuk opened #231 "Population of workspace github preferences using Keycloak & GitHub API"
Need to implement the population of workspace github preferences using Keycloak & GitHub API.
Currently, che-starter uses wsmaster API for setting preferences, so first need to have mechanism in place for setting preferences per user or per workspace

[2017-07-27 07:41] ibuziuk commented on #230
from @burrsutter comment:

[2017-07-27 07:48] ibuziuk commented on #230
@sunix @benoitf do you guys know when "Git" menu is supposed to be disabled ? (no preferences / token set ?)

[2017-07-27 08:00] mlabuda commented on #226
Well, there are more questions. Title say "Move single ws enforcement to Che server", but with upcoming changes and making Che server multitenant, operating in one cluster on OSD and managing workspaces in different cluster(s)/OpenShift instances, this feature won't be true anymore, it should be called then something like "Move single WS per user/user's project enforcement to Che server".

This fe

[2017-07-27 08:00] l0rd commented on #228
Thanks @ibuziuk for investigating. I will test again from a clean environment (removing old stacks.json) and will provide an update here.

[2017-07-27 08:07] garagatyi commented on #226
Then resources limitation should be applied in Che, so a user won't be able to start another workspace without stopping the running one. And OSIO will be able to improve this workflow by silently stopping running workspace and starting the new one.

[2017-07-27 09:01] benoitf commented on #230
@ibuziuk
https://github.com/eclipse/che/blob/8e5967613daddac84d9e3ea0ef47d53d08dbd11e/plugins/plugin-git/che-plugin-git-ext-git/src/main/java/org/eclipse/che/ide/ext/git/client/action/GitAction.java#L52

and

https://github.com/eclipse/che/blob/d5de61bfb9e64691c68f6ea607fc443c3a71f2f9/plugins/plugin-git/che-plugin-git-ext-git/src/main/java/org/eclipse/che/ide/ext/git/client/GitUtil.java#L32-L43

[2017-07-27 09:13] tsmaeder commented on #101
Did a call with @invincibleJai and we noticed that no diagnostics are emitted upon opening a particular pom file: https://github.com/invincibleJai/test-my-space19/blob/master/pom.xml
Note that the pom file is malformed (opening "<" missing on line 37).

[2017-07-27 09:25] invincibleJai commented on #101
@tsmaeder thanks , have corrected it (it was a typo) still behaviour is same and this pom is generated when we choose basic vertx project template in osio.

CC @msrb

[2017-07-27 11:24] ibuziuk commented on #230
@burrsutter When menu items are disabled, do you have committer info set in "Git" preferences ?

[2017-07-27 13:05] benoitf commented on #103
The project is including vertx-web
https://github.com/burrsutter/vertxbasic23/blob/master/pom.xml#L41

And if I list content of the vertx-web jar :
jar tvf ~/.m2/repository/io/vertx/vertx-web/3.4.1/vertx-web-3.4.1.jar | grep StaticHandler
   259 Wed Mar 15 14:53:08 CET 2017 io/vertx/ext/web/handler/impl/StaticHandlerImpl$1.class
  2341 Wed Mar 15 14:53:08 CET 2017 io/vertx/ext/web/handler/impl/Sta

[2017-07-27 13:45] gorkem commented on #226
Here is 2 cents
- Enforcing resource limitations should be part of upstream Che. What exists on codenvy looks perfect for this.
- We should have a plugin that will shutdown running workspaces to free resources on the OSIO assembly. This should work in conjunction with resource limitations above.

[2017-07-27 13:53] garagatyi commented on #226
I'm OK with a plugin that automatically stops WS.

[2017-07-27 14:32] gorkem commented on #107
@ibuziuk Che actually always have a user, on the current one it is a fixed user. So I suspect ws-master APIs on Che actually update preferences for the currently authenticated user and are already multi-tenant ready but @benoitf can confirm.

[2017-07-27 14:34] gorkem commented on #231
@benoitf can you confirm that wsmaster API is in fact multi-tenant ready?

[2017-07-27 14:39] ibuziuk commented on #230
@eivantsov any ideas about this issue ?

[2017-07-27 14:44] benoitf commented on #107
So yes Che is having only one user and it will update preferences of the current authenticated user
https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-user/src/main/java/org/eclipse/che/api/user/server/PreferencesService.java#L122

In codenvy user is set there https://github.com/codenvy/codenvy/blob/ca5ba8d98e66351bf8b89df28e7d73ac7c06bbaa/wsmaster/codenvy-hosted-sso-client/src/main/

[2017-07-27 15:01] benoitf commented on #231
yes preferences API is multi tenant ready but there is no implementation of users/filters that manage different users in Che
Codenvy is using the same wsmaster API preferences implementation but has filters that assign current user

For example the token validator implementation in che  is always providing "che"
https://github.com/eclipse/che/blob/8e5967613daddac84d9e3ea0ef47d53d08dbd11e/wsmaster/

[2017-07-27 15:40] eivantsov commented on #230
From what I see in the screencast I can say the following:

1. Current project isn't configured as a valid project. Can you see red cross on the project icon?
2. Project explorer shows hidden files and folders, but I do not see `./git` there.

If you initialize the repository Git menu items will be active but I am afraid you won't see the initial remote this repo has been cloned from.

Unfortunate

[2017-07-27 15:54] #212 closed

[2017-07-27 16:16] burrzinga commented on #230
one thing we have noticed today...if you wait a while...the menus become available
if you refresh the browser, the menus become available
it is apparently an async process that happens after the workspace comes up

[2017-07-28 08:22] mlabuda opened #232 "KeycloakUserValidator could use local network subadress for decision"
At the moment, solution to validate is relying on eclipse-che project, well, for eclipse-* project (parsing on dash, taking first). The more robust solution, working with any local OpenShift instance (or at least those allowing it from resources etc. POV) would be to get URL of the OpenShift instance via k8 client and check whether it fits to local area network sub-address or not.

[2017-07-28 08:34] ibuziuk commented on #230
Created an issue upstream - https://github.com/eclipse/che/issues/5831

[2017-07-28 14:03] benoitf commented on #103
@l0rd ok to close the issue as "works as expected" ?

[2017-07-28 16:01] gorkem opened #233 "Verify if debugger still fails if not on incognito mode"
Debugger fails with `Can not connect to localhost:5005` if the browser is not in incognito. Incognito seems to fix the problem

See also https://screencast.com/t/IB4yUf3w

[2017-07-30 23:05] l0rd commented on #103
@benoitf yes let's close that thanks

[2017-07-31 09:08] #103 closed

[2017-07-31 09:51] sunix commented on #141
Requires https://github.com/fabric8-analytics/fabric8-analytics-server/pull/99 to have user keycloak token "generated" by Che authorized in the  bayesian recommandation api.

[2017-07-31 10:52] ibuziuk commented on #133
@davidfestal for now keycloak endpoints are set in `fabric8-online` [1]. So, the plan is to remove `keycloak-oso-endpoint` & `keycloak-github-endpoint` and configure those via properties [2] which will be possible to obtain using `api/keycloak/settings/` endpoint. Note: those properties are used in **KeycloakTokenProvider** from `che-keycloak-plugin-token-provider` plugin

[1] https://github.com/f

[2017-07-31 12:27] skabashnyuk commented on #133
keycloak-github-endpoint - need for what?

[2017-07-31 12:48] ibuziuk commented on #133
@skabashnyuk for obtaining github token

[2017-07-31 14:19] skabashnyuk commented on #133
@ibuziuk  Have you think about to reuse Eclipse Che https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-auth/src/main/java/org/eclipse/che/security/oauth/OAuthAuthenticationService.java#L166

[2017-07-31 14:41] ibuziuk commented on #133
@skabashnyuk I think there is an issue for this - https://github.com/redhat-developer/rh-che/issues/108

[2017-08-01 17:17] bmicklea opened #238 "Add debug commands for Vert.x and Spring Boot projects generated from OpenShift.io"
We have two project types that users can start with in IO: Vert.x and spring boot. We need to add debug commands that appear by default when a Che workspace is started from IO.

Tasks:

- [] Add new "Debug" command to Vert.x projects
- [] Add new "Debug" command to Spring Boot projects

[2017-08-02 13:20] l0rd commented on #230
An update on this from @eivantsov :

[2017-08-02 13:58] bmicklea commented on #230
FYI - prioritized as P1 in the IO Workshop kill list.

[2017-08-02 13:59] bmicklea commented on #228
FYI - prioritized as P2 in the IO Workshop kill list.

[2017-08-02 14:00] ibuziuk commented on #228
@l0rd are you able to reproduce ?

[2017-08-02 14:27] l0rd commented on #154
UPDATE: `openshift-connector-wip` has been rebased on top of che master and as a result idling of Che server is not working anymore. Let's keep this issue opened to track this issue.

/cc @aslakknutsen

[2017-08-02 14:34] bmicklea commented on #228
FWIW, it's intermittent for me.

[2017-08-02 14:53] l0rd commented on #230
@bmicklea updated severity here too to match IO Workshop kill list

[2017-08-02 15:00] ibuziuk commented on #228
@bmicklea does refresh help? just speculation but the root of the problem might be the same as for Git menu items - https://github.com/redhat-developer/rh-che/issues/230#issuecomment-319696982

[2017-08-02 15:03] bmicklea commented on #228
Tried that but it didn't help. I had to go into the project config and change from "blank" to "maven" manually.

[2017-08-02 15:09] ibuziuk commented on #228
@bmicklea ok, thanks for clarifications - than it is smth. else

[2017-08-02 15:17] ibuziuk commented on #228
@bmicklea you was able to reproduce against vert.x quickstart, right ?

[2017-08-02 15:19] bmicklea commented on #228
Yes correct

[2017-08-02 17:17] amisevsk opened #240 "Wsagent cannot notify wsmaster about workspace activity"
When running a workspace on OSIO/minishift, the exception below gets logged numerous times on workspace start. This does not seem to have an effect on current functionality, but it worth investigating.

As far as I can tell, the entire `/activity/*` endpoint does not exist. I am able to directly curl `http://che-host:8080/wsmaster/api` from a workspace pod, so it does not seem to be a networking i

[2017-08-02 17:17] amisevsk commented on #240
/cc @l0rd since this may be relevant to workspace idling.

[2017-08-02 21:01] Jooho opened #241 "dashboard build fail because of dist folder is not copied."
Hi,

When I build redhat che using dev-scripts/build_fabric8.sh, dashboard build always fail because it
looks for index.html to replace. However, the index.html under dist folder is not on the list to copy to ```/rh-che/target/builds/fabric8/fabric8-che/assembly/dashboard/target/patched/```

In order to fix this issue, dist folder should be added to patch list in ```/rh-che//builds/fabric8-che/ass

[2017-08-03 07:22] eivantsov commented on #228
@ibuziuk are you absolutely confident that when ` Project type: maven` is in che-starter logs, response from ws-agent is the same? I mean, the project is created as mvn?

[2017-08-03 07:26] ibuziuk commented on #228
@eivantsov since I'm not able to reproduce so far - yes. But I need to play with it more since this one is intermittent according to Brad

[2017-08-03 07:37] eivantsov commented on #228
@ibuziuk as with the misconfigured project issue, I do think that the problem is somewhere in che-starter-ws-master or che-starter-ws-agent (as in this case) chain... since if you directly create a workspace by interacting with master (User Dashbard or any REST client tool) ad import a project in the same way, the problem cannot be reproduced.

I'd probably debug ws-agent when the project is impor

[2017-08-03 11:36] benoitf commented on #92
I've fixed the issue.
It will take some time to be propagated as Docker images need to be build again (che + rhche images)

But now, it's possible to set per docker image any service name for a given port.

The issue was reported for Vert.x stack. Now the 8080 port will be published by a service name "vertx" so URL will have "vertx" instead of "tomcat"

[2017-08-03 11:46] #92 closed

[2017-08-03 12:14] ibuziuk commented on #228
@eivantsov @l0rd @bmicklea @burrsutter I still can not reproduce the issue (neither on osio, nor locally), please ping me in MM when you have some time and we will investigate it together since I need input from someone who can repro this error.

Some updates:

We talked with Eugene today and he told  that the issue is **not** reproducible when che-starter was running locally, and is **always** re

[2017-08-03 18:40] amisevsk commented on #241
Hi @Jooho, I've just checked out a clean copy of rh-che and run `/rhche/dev-scripts/build_fabric8.sh`, and the build completed successfully. Could you clarify the issue you are facing?

[2017-08-03 20:26] amisevsk opened #246 "Figure out Keycloak auth for wsagent -- wsmaster communication when agent is in different namespace"
Our current implementation of Keycloak authentication depends workspaces being started in the same namespace as che-host. Once multitenancy is included, requests between workspace and che server will be blocked.

This may be easier to implement once Che supports multiple users, as it may be possible to know which namespace we expect requests to come from.

Currently, I don't see a good way of impl

[2017-08-04 10:49] l0rd opened #247 "Run che-multiuser branch on OpenShift"
Che multi-user implementation is currently wip in upstream branch [che-multiuser](https://github.com/eclipse/che/tree/che-multiuser). It has been tested on Docker infrastructure but need to be run/tested on OpenShift.

Note that:
- Tests should be done using current `eclipse/che` master branch OpenShiftConnector and not the OpenShift infrastructure implemented in the SPI branch
- For now we don't

[2017-08-04 10:50] l0rd commented on #247
cc @mshaposhnik @skabashnyuk

[2017-08-04 12:25] #141 closed

[2017-08-04 13:00] sunix opened #248 "Add KC token as a LS configuration and use LSP DidChangeConfiguration notification to push token updates (when it's renewed) to bayesian LS"
With https://github.com/redhat-developer/rh-che/issues/141 the last used user token is injected when the LS is starting. The goal of this task is to:
1. detect KC token changes more dynamically (client side?)
2. propagate the new token with DidChangeConfiguration to the Bayesian LS

[2017-08-04 14:02] ibuziuk commented on #228
@bmicklea @slemeur @eivantsov Basically, we had a problem [1] some time ago with red cross on imported project and it was fixed by changing **"type"** to **"projectType"** property. However, when we set only **"projectType"** the project nature was always blank [2] (Comment from the issue - https://github.com/redhat-developer/che-starter/issues/113#issuecomment-292430405). So, it was decided to se

[2017-08-04 14:09] sunix opened #249 "Simplify rh-che build: remove upstream build and align to Che upstream release"

[2017-08-04 14:10] sunix commented on #143
first step: https://github.com/redhat-developer/rh-che/issues/249

[2017-08-04 14:12] ibuziuk commented on #228
In project templates "projectType" is used [1], but using `api/workspace` endpoint I can see only "type" property for newly created projects on osio:

[code]
So, what properties supposed to be set during project creation via `project/batch` endpoint ? In che-starter this is done the following way [2]
[1] https://github.com/eclipse/che/blob/master/ide/che-core-ide-templates/src/main/resources/sampl

[2017-08-04 14:18] eivantsov commented on #228
@ibiziuk it should be `type`. samples.json is used by User Dashboard and we filter stacks and corresponding samples there. Not sure though why a different name is used there.. Anyway, you may want to try to change it to `type` and test with a local che-starter.

[2017-08-04 14:44] ibuziuk commented on #228
@eivantsov yeah, I tested it and I can not repro red cross issue[1] anymore. So, I will set only "type" property during creation.

[1] https://issues.jboss.org/browse/CHE-133

[2017-08-04 15:14] l0rd commented on #241
Thanks @Jooho! Please provide us the steps to reproduce the issue because we have never been able to see that before.

[2017-08-04 15:15] #240 closed

[2017-08-04 15:30] l0rd commented on #218
Closing this one since it's fixed Che side.

[2017-08-04 15:43] #154 closed

[2017-08-04 15:44] l0rd commented on #204
Duplicates #149

[2017-08-04 15:44] #204 closed

[2017-08-04 15:46] l0rd commented on #146
Everything fixed except #155 but that's not really related to rebasing openshift-connector branch so closing this epic

[2017-08-04 15:46] #146 closed

[2017-08-04 15:52] l0rd commented on #135
That's about maven build options. That should be solved by #249

[2017-08-04 15:52] #135 closed

[2017-08-04 16:06] #130 closed

[2017-08-04 16:09] l0rd commented on #130
Instruction to install upstream osio (fabric8 platform) on minishift are [here](https://github.com/fabric8io/fabric8-platform/blob/master/INSTALL.md)

[2017-08-04 16:13] #93 closed

[2017-08-04 16:18] l0rd commented on #75
We can run upstream Che on openshift right now. The only problem is that we still need to use rh-che docker images. But let's track it in separate issue: #155

[2017-08-04 16:18] #75 closed

[2017-08-04 16:26] l0rd opened #250 "SPI OpenShift Infrastructure: support recipes of type dockerimage"
Dupicate of https://github.com/eclipse/che/issues/5904 for planning purposes

[2017-08-04 16:35] l0rd commented on #147
When this issue is solved we should solve also https://github.com/openshiftio/openshift.io/issues/432

[2017-08-04 16:47] #218 closed

[2017-08-04 16:48] ibuziuk commented on #228
PR[1] for removing 'projectType' and already available on prod. Please, let me know if you still can reproduce the issue.
[1] https://github.com/redhat-developer/che-starter/pull/210

[2017-08-04 17:09] l0rd opened #251 "Sprint #136"
[Working hours budget spreadsheet](https://docs.google.com/spreadsheets/d/1_YsNaGRHID0QNPdSOJYk6tmlBux1kZK_YN8eCCIpzmY/edit#gid=1959589069)

#### Not assigned yet - go ahead and serve yourself! 😃

### Issues tied to objectives
- [ ] [Implement Github token provider that retrieves token from keycloak](https://github.com/redhat-developer/rh-che/issues/108) **estimation**: 25
- [ ] [Placeholders for

[2017-08-04 18:04] bmicklea commented on #228
@ibuziuk I'm using IO with Che 1.0.265.  I am still seeing an odd behavior. I can reproduce this every time with these steps:
1. Create a workspace from IO
1. From the Codebase tab create a Che workspace

Expected result:
Che opens, project has the correct type, all language services work.

Actual result:
When Che opens, the imported project shows up first with a red "x" on it. However, if I open

[2017-08-05 19:19] ibuziuk opened #252 "Run Test -> Run Test menu items are sometimes disabled in Project Explorer context menu"
Steps to reproduce:
- creare new space on osio with vert.x quickstart project
- once codebase is created start a workspace
- build vert.x project via "build" command
- right click on "OpenShiftIT" class in  Project Explorer
- ERROR: "Run Test" menu item is disabled:

![image](https://user-images.githubusercontent.com/1461122/28998113-b4940864-7a23-11e7-8468-d64b25085ff4.png)

[2017-08-05 19:20] ibuziuk commented on #252
cc: @davidfestal ^
for now @burrsutter  recommend to use "mvn test" command during workshops

[2017-08-06 06:55] ibuziuk commented on #228
FYI, I have created a separate issue for "Test" menu items which are disabled sometimes even with "maven" Project type - https://github.com/redhat-developer/rh-che/issues/252

[2017-08-06 07:03] ibuziuk commented on #228
@bmicklea thanks for the demo:

@eivantsov could this happen for the same reason as "Git" menu items problem? refresh seem to tackle both issues?

[2017-08-06 07:11] ibuziuk commented on #133
@davidfestal I have created a separate issue for init tenant - https://github.com/fabric8-services/fabric8-tenant/issues/228
Should we close this one ?

[2017-08-07 09:56] ibuziuk commented on #233
@gorkem @eivantsov  do we have upstream issue for this task?

[2017-08-07 10:25] ibuziuk commented on #231
@benoitf @gorkem my understanding is that I can move the logic of population preferences from che-starter to rh-che right now by using the same `/wsmaster/api/preferences` endpoint and it will become multitenant automatically once keycloak support [1]  will be in place with token validator in place. Does this sound right ?

[1] https://github.com/eclipse/che/issues/5362

[2017-08-07 10:37] eivantsov commented on #233
I habe hard time reproducing this one. Will look at it closer tomorrow.

[2017-08-07 10:45] ibuziuk commented on #233
@eivantsov great thank you!

[2017-08-07 10:53] skabashnyuk commented on #231
@ibuziuk  what kind of  "workspace github preferences" you would like to see?

[2017-08-07 10:55] ibuziuk commented on #231
@skabashnyuk committer name & email smth. that is set via `POST /wsmaster/api/preferences`

[2017-08-07 11:09] skabashnyuk commented on #231
What is the user story? At what stage you want to set it? What is the flow?

[2017-08-07 11:18] ibuziuk commented on #231
@skabashnyuk preferences are already set on osio via che-starter. This task is about moving this functionality from che-starter to rh-che plugin. Preferences are set just after workspace creation the user story would be "As a osio user I want to create workspace and have git preferences configured automatically"
![image](https://user-images.githubusercontent.com/1461122/29024560-ebc59564-7b72-11e7

[2017-08-07 11:32] skabashnyuk commented on #231
So in Multi-user, Multi-tenant Che it has to be done once, before first workspace usage? Am I correct?

[2017-08-07 12:28] ibuziuk commented on #231
@skabashnyuk yes, since committer preferences are per user and not per workspace

[2017-08-07 14:47] skabashnyuk commented on #251
Any activity around https://github.com/redhat-developer/rh-che/issues/107 in this sprint?

[2017-08-07 14:57] ibuziuk commented on #251
@skabashnyuk we definitely will not be able to deliver everything from multi-tenant epic in the next sprint, but we could take a few items. Any preferences?

[2017-08-07 15:00] skabashnyuk commented on #251
Don't know. I thought I've heard that @davidfestal is going to do something around https://github.com/redhat-developer/rh-che/issues/107 aka Multiuser che in next sprint. Curious what was it? @davidfestal  can you clarify?

[2017-08-07 15:00] ibuziuk commented on #231
BTW, since multi-tenant Che will never be idled setting committer info could be even done on first login to osio

[2017-08-07 15:07] davidfestal commented on #251
@skabashnyuk I'm currently finishing a POC to attempt simplifying the Keycloak integration according to @alexeykazakov guidelines. But this week I'm going to work on #247 which is certainly an important step to the multi-tenacy support in OSIO.

[2017-08-07 15:27] Jooho commented on #241
Sure.

This is full steps that I did.  I create RHEL 7U3 vm and then did following steps:

[code]

This is the error messages that I encounter :
~~
INFO] [INFO] Fabric8 IDE :: Compiling WS Master WAR ............. SUCCESS [ 17.174 s]
[INFO] [INFO] Fabric8 IDE :: Che Dashboard WAR ................... FAILURE [03:40 min]
[INFO] [INFO] Fabric8 IDE :: Assemblies Tomcat ................... SKIPPED
[INF

[2017-08-07 15:32] Jooho commented on #241
@amisevsk which os did you use for build? I tested 2 OS(RHEL 7.3  and Fedora 25). The thing is RHEL failed but Fedora succeed. I did same steps but the result is different..that is weird.

[2017-08-07 15:38] benoitf commented on #241
@Jooho did you build dashboard app in UPSTREAM_CHE_PATH ? ("${HOME}/new/test/che/dashboard)" before ?

[2017-08-07 16:19] ibuziuk commented on #252
looks like the Java class must be opened in editor to make the test items active

[2017-08-07 16:21] Jooho commented on #241
@benoitf Yes it was built successfully

[2017-08-08 01:20] gorkem commented on #231
I think it is a good idea to refresh the setting per workspace create/launch in case it is updated. Users will have no idea that they need to change Che's preferences on OSIO.

[2017-08-08 05:13] ibuziuk commented on #133
@davidfestal closing. feel free to reopen if needed
BTW, fabric8-services/fabric8-tenant#228 is also closed

[2017-08-08 05:13] #133 closed

[2017-08-08 06:14] skabashnyuk commented on #231
Where do you want to store them? Why is Eclipse Che preferences not the main storage?

[2017-08-08 07:41] eivantsov commented on #252
@ibuziuk this PR addresses it - https://github.com/eclipse/che/pull/5804

I have updated Che in my OSIO account (version dated Aug 4), and **can** see test menu items without opening files.

[2017-08-08 07:46] ibuziuk commented on #252
@eivantsov could you please tell your che version ?

[2017-08-08 07:47] eivantsov commented on #252
@ibuziuk  1.0.269

[2017-08-08 07:52] ibuziuk commented on #252
@burrsutter @bmicklea verified on osio - closing

[2017-08-08 07:52] #252 closed

[2017-08-08 13:29] skabashnyuk commented on #108
FYI https://github.com/eclipse/che/issues/5943

[2017-08-08 17:09] ibuziuk opened #254 "Make auto redeployment work for spring-boot health-check & crud quickstart"
Che version - 1.0.270
Demo - https://youtu.be/yY8sNJLqLko

Comment from @l0rd :

[2017-08-08 17:23] amisevsk commented on #241
@Jooho, @benoitf I've reproduced the issue now, but I'm not aware of having changed anything since last week when everything was working normally. I'm on Fedora 26 at the moment.

[2017-08-08 17:52] ibuziuk commented on #254
@eivantsov could you please tell if hot deployment supposed to work for vert.x & spring-boot run / debug commands - https://youtu.be/yY8sNJLqLko

[2017-08-08 17:56] ibuziuk commented on #238
@bmicklea @burrsutter new debug commands are added in Che version - 1.0.270
Hot deployment does not seem to work, so I have created a separate issue - https://github.com/redhat-developer/rh-che/issues/254
![image](https://user-images.githubusercontent.com/1461122/29086572-5ca4c236-7c73-11e7-95f2-35f8f25bd15b.png)

[2017-08-09 09:13] l0rd commented on #254
@ibuziuk I pretty sure that hot deployment works fine for run command of vert.x stack

[2017-08-09 09:20] eivantsov commented on #254
@ibuziuk @l0rd I think there's no Che fault here... do you expect the same behavior when running vetx locally?

[2017-08-09 09:28] ibuziuk commented on #254
`@ibuziuk I pretty sure that hot deployment works fine for run command of vert.x stack`
@l0rd let me try again, but I was not able to make it work on osio
`@ibuziuk @l0rd I think there's no Che fault here... do you expect the same behavior when running vetx locally?`
@eivantsov I would expect at least debug commands to work with hot-swap (maybe I'm wrong)

[2017-08-09 09:30] eivantsov commented on #254
@ibuziuk I'd try launching a vertx image with project sources mounted and debug ports exposed, and see if you can do it without Che...using any desktop IDE

[2017-08-09 11:18] ibuziuk commented on #254
@l0rd @eivantsov I have tested redeployment of vertx app on osio and it seems to work, but for some reason the file that is edited is constantly updated in IDE - https://youtu.be/qr3fqaCix4E
Hot deployment works fine locally against the same project

[2017-08-09 13:35] slemeur commented on #254
linking to https://github.com/openshiftio/openshift.io/issues/516

[2017-08-09 15:11] #161 closed

[2017-08-09 15:25] tsmaeder opened #257 "Placeholders for Content Assist"
Copy of upstream issue: https://github.com/eclipse/che/issues/5365

[2017-08-09 15:37] ibuziuk commented on #238
Closing. feel free to reopen

[2017-08-09 15:37] #238 closed

[2017-08-09 16:17] ibuziuk commented on #208
Fixed - https://github.com/fabric8-services/fabric8-wit/issues/1506

[2017-08-09 16:17] #208 closed

[2017-08-09 16:28] #197 closed

[2017-08-09 19:10] burrsutter commented on #238
We updated the Workshop doc today to reflect new Debug command for Vert.x (workshop does not current have debugging for Spring)

[2017-08-09 20:43] slemeur commented on #254
@ibuziuk + @RomanNikitenko: Might be related to the upstream issue: https://github.com/eclipse/che/pull/5929

[2017-08-09 21:18] amisevsk opened #258 "[Copy for planning] Improve networking when running on OpenShift"
Upstream: https://github.com/eclipse/che/issues/5960

I'm considering this relatively low priority until SPI details are more concrete, to avoid the risk of double work.

[2017-08-10 05:45] eivantsov commented on #254
Yes, it's worth trying the latest Che. I cannot reproduce the issue with 1.0.270 build

[2017-08-10 05:58] ibuziuk commented on #254
@eivantsov 1.0.270 does not contain the fix for eclipse/che#5929, and the problem is still reproducible for mee. We need to aline `openshift-connecot-wip` with master to pickup the fix

[2017-08-10 12:14] ibuziuk opened #262 "Build failure after rebasing `openshift-connector-wip` to the latest commit of che `5.16.0` release"
Rebasing `openshift-connector-wip` branch to the last commit of upstream che `5.16.0` release results in build failure[1]:

This is likely to be coupled with commit[2] that allows to use docker for building dashboard. This issue is blocking us to pick up changes that are required for fixing critical  editor autosave issue [3]

[1] https://ci.centos.org/job/devtools-build-run-che-build-master/377/

[2017-08-10 12:15] ibuziuk commented on #262
cc: @benoitf @sunix

[2017-08-10 12:39] benoitf commented on #262
there is also https://github.com/redhat-developer/rh-che/pull/242 which might be (or not) related

[2017-08-10 14:13] amisevsk commented on #262
@sunix Looks to be a duplicate of https://github.com/redhat-developer/rh-che/issues/241, there is a PR already

[2017-08-10 15:44] benoitf commented on #262
@sunix : https://github.com/redhat-developer/rh-che/commit/628235ae0b2439c408216000610ee6afeeef0dd0

[2017-08-10 15:45] benoitf commented on #262
@sunix this commit fixes the build of rh-che UD

[2017-08-14 07:54] kameshsampath opened #266 "Error openshift_deploy.sh on Minishift"
the `devscripts/openshift.deploy.sh` fails with sed substitution for both OSO and minishift, especially when the sed substitution has urls in it. the sed script failed for `KEYCLOAK_OSO_ENDPOINT` and `KEYCLOAK_GITHUB_ENDPOINT` as they have patterns like `http://<some-url>`.

[2017-08-14 12:37] eivantsov commented on #266
@kameshsampath it worked for me by the way. I am on Ubuntu 14.04. I think it is OS specific.

[2017-08-14 15:41] amisevsk commented on #266
Also see #263

[2017-08-16 09:11] benoitf commented on #262
fixed

[2017-08-16 09:11] #262 closed

[2017-08-18 12:47] ibuziuk commented on #228
@ldimaggi @rhopp @Katka92  could you please verify this issue on prod ?
@bmicklea @burrsutter  the project import logic has been **significantly** changed, so please let me know if all works for you

[2017-08-18 12:54] ibuziuk commented on #230
The same comment as for - https://github.com/redhat-developer/rh-che/issues/228
@ldimaggi @rhopp @Katka92 could you please verify this issue on prod ?
@bmicklea @burrsutter the project import logic has been significantly changed, so please let me know if all works for you

[2017-08-18 15:21] sunix commented on #249
Creating 3 PR for adding sources as maven artifact:
 - dashboard :[che#5971](https://github.com/eclipse/che/pull/5971)
 - assembly-ide-war : Adding missing source folders to assembly-ide-war sources Maven artifact [che#5966](https://github.com/eclipse/che/pull/5966) and [che#5979](https://github.com/eclipse/che/pull/5979)

Sources will be downloaded through maven, unpacked and used for performing

[2017-08-21 10:13] l0rd commented on #241
@Jooho I'm closing this issue since it should be fixed by https://github.com/redhat-developer/rh-che/pull/268. Feel free to reopen it if it's still not working for you.

[2017-08-21 10:13] #241 closed

[2017-08-21 16:53] l0rd opened #283 "Decrease resource quota limits on OSIO"
Che namespaces in OSIO has the following [`ResourceQuota` specification](https://github.com/fabric8io/fabric8-online/blob/master/packages/fabric8-online-che-quotas-oso/src/main/fabric8/compute-resources-rq.yml#L8):

[code]

We should try to lower that to at least 2.5Gi and 5cpu. This issue is about:

- [x] Validate that we can build/run/debug spring boot and vertx quickstart on OSIO with lower lim

[2017-08-21 17:07] l0rd commented on #283
@kbsingh I've created this issue after our discussion on that this morning and I would like to add it to next sprint

@gorkem As a scenario to validate that we can run Che with a given `ResourceQuota` I've specified:

Do you think that's enough? Or do you have in mind a better scenario to test Che is working with low `ResourceQuota` limits?

[2017-08-21 17:12] slemeur commented on #213
Hi @JPinkney.

Excellent work. I gave a look at the following [video](https://vimeo.com/230191488) this is very impressive!

I think we need to tweak the languages that is used in the Settings window:
![screen shot 2017-08-21 at 18 45 49](https://user-images.githubusercontent.com/1636769/29529716-13c6402a-86a1-11e7-9cd9-14d4fd8d8140.png)
On the left, the section indicates "YAML" under "Language Se

[2017-08-21 17:26] l0rd opened #284 "Move openshift deployment script and documentation to upstream"
After latest community call we have concluded that the deployment script and doc to deploy Che on OpenShift should be moved upstream.

The tasks to achieve that are the following:

- [x] Extending `openshift_deploy.sh` to deploy Che on OCP (c.f. the already existing PR #255)
- [x] Moving `openshift_deploy.sh` to upstream Che
- [x] Moving the documentation to deploy Che on OpenShift to [eclipse.org

[2017-08-21 17:28] l0rd commented on #284
cc @bmicklea

[2017-08-22 07:51] rhopp opened #285 "Project import sometimes fails"
This is probably a followup of #228
I've created workspace for vertx-wiki2 project from OSIO. The workspace gets created, but the project obviously not (it has rex X marker). Trying to expand the project, many dialogs pop up saying "Project vertx-wiki2 exists in workspace but does not exist in file system. Do you want to import project?".
![image](https://user-images.githubusercontent.com/1215011/

[2017-08-22 07:52] rhopp commented on #285
Edit: After a while, the project gets imported and those dialogs stopped to appear, so when i confirmed all those dialogs, everything seems ok.  But having so many dialogs is definitely bad thing.

[2017-08-22 09:55] l0rd commented on #285
@rhopp how do you create the workspace? Did you use a quickstart or have you imported an existing project? If this was an existing project what is the github repo URL?

[2017-08-22 09:56] l0rd commented on #266
#263 should have fixed that. @kameshsampath please re-open this issue if this is not the case.

[2017-08-22 09:56] #266 closed

[2017-08-22 09:57] rhopp commented on #285
@l0rd I've created workspace from OSIO codebases view. It was existing project: https://github.com/rhopp/vertx-wiki2

[2017-08-22 10:17] ibuziuk commented on #285
@eivantsov do you happen to know if there is an upstream issue for this import dialog thingy? This issue is definitely coupled with changing the way of project import on che-starter side

[2017-08-22 11:02] eivantsov commented on #285
@rhopp @ibuziuk it looks like an old version of Che is used. This dialogue should not popup and project import should happen automatically.

[2017-08-22 11:08] rhopp commented on #285
I'm using OSIO che version 1.0.291.
Directly in Che UI, the version is empty
![image](https://user-images.githubusercontent.com/1215011/29562779-05362d5a-873b-11e7-8fb0-75081983a7cf.png)

[2017-08-22 13:37] eivantsov commented on #285
Got it now. Investigating.. slow network may do bad things here

[2017-08-22 21:44] JPinkney commented on #213
Hi! Its possible to configure any schema file, I'll need to re-word that. It's more meant to say kedge and kubernetes are special keywords that make it so you don't have to manually enter the url for those. However, if you want any other schema file you'll have to enter the url. I'll make sure to make those adjustments!

[2017-08-23 12:19] eivantsov commented on #285
Upstream issue: https://github.com/eclipse/che/issues/6075

This issue is related to slow network.

[2017-08-23 18:15] ibuziuk commented on #230
Verified against che 1.0.294
Closing

[2017-08-23 18:15] #230 closed

[2017-08-23 18:16] ibuziuk commented on #228
Verified against che 1.0.294
Closing

[2017-08-23 18:16] #228 closed

[2017-08-23 18:57] ibuziuk commented on #254
Looks like hot-deployment for vet.x can't be used during debugging by design:
![image](https://user-images.githubusercontent.com/1461122/29632825-7ac0df8e-8844-11e7-8bca-730d677eb36d.png)
redeployment works just fine for vert.x run command though.
Also, it looks like spring boot run / debug commands are not supposed to support hot deployment. In order to enable hot swapping `spring-boot-devtools`

[2017-08-24 15:00] sunix opened #291 "Vertx stack debug command should include the compile goal"
Feedback from osio workshop:
vertx stack debug command should include the compile goal
See screenshot:
![selection_056](https://user-images.githubusercontent.com/650571/29672802-8d29e3c4-88ed-11e7-839e-508dc3af7440.png)

otherwise it won't take the latest changes in account when running debug command

[2017-08-24 15:05] sunix opened #292 "Include oc command in all stacks used in openshift.io"
Can be useful for the osio workshop so we won't need to download and run it locally.

Maybe also see how we could inject the user token and other preferences so we don't have to configure anything to oc jenkins or che, etc ...

[2017-08-24 15:11] sunix opened #293 "Expose 5005 debug port in vertx stacks"
So the debug port would appear in the list of available ports to use for debugging

![selection_057](https://user-images.githubusercontent.com/650571/29673327-2c138714-88ef-11e7-9609-39d3d618f7b3.png)

[2017-08-25 08:19] l0rd opened #295 "Use image from devshift.net Docker registry"
- For che-server image deployment yml files
- For che stacks images in stacks.json

[2017-08-25 09:49] l0rd opened #296 "Che fails to list abandoned workspaces when starting"
During Che bootstrap, abandoned workspaces (workspaces that are still running) should deleted. But that does not happen when Che is run on OpenShift.

**How to reproduce**
- Start Che and create a new workspace
- Kill Che **abruptly*** (if Che is stopped normally the workspace will be stopped)
- Restart Che and look at the following line in the logs:
`[INFO ] [ockerAbandonedResourcesCleaner 126]

[2017-08-25 16:15] l0rd opened #297 "Avoid restart of a workspace in OSIO when refreshing the browser TAB"
That was implemented with https://github.com/eclipse/che/pull/4287 but for some reason we are able to restart a workspace in OSIO now.

That's may be fixed just settings 2 underscore in env variable `CHE_WORKSPACE_AUTO__START` in the deployment yaml file.

[2017-08-25 16:19] l0rd commented on #108
This will be solved with the multi-user support in upstream Che

[2017-08-25 16:19] #108 closed

[2017-08-25 16:35] l0rd opened #298 "Errors logged when starting a new workspace"
https://github.com/openshiftio/openshift.io/issues/531

[code]

The strange thing is that it doesn't seem to be reproducible on minishift (just on osio)

[2017-08-25 16:40] l0rd opened #299 "Question mark in commit message"
https://github.com/openshiftio/openshift.io/issues/524

[2017-08-25 17:22] sunix opened #300 "Activity service is not authorized (403) and introduce performance issue in Openshift.io"
![selection_058](https://user-images.githubusercontent.com/650571/29724919-b0bba786-89ca-11e7-90ed-8635e574c848.png)

[2017-08-25 21:16] burrsutter commented on #291
We fixed this once before, did it go away?

[2017-08-26 08:50] l0rd commented on #299
Closing since it's only for the first initial commit. Therefore it's a wizard bug, not Che.

[2017-08-26 08:50] #299 closed

[2017-08-26 13:49] kameshsampath commented on #291
compile and package goals are must from the mvn command perspective as part of vertx-maven-plugin we don't tie to any maven lifecycle phase

[2017-08-27 14:56] eivantsov commented on #254
@ibuziuk yes, it's not Che fault here. Hot deployment when running vertx works ok for me.

[2017-08-28 13:02] davidfestal opened #301 "Add multi-user new properties in the (new) fabric8 repository"
There are several new properties required by the upstream `multi-user` docker image (related to Keycloak mainly).

We should add these properties to the fabric8 deployment and config-map yaml files, to be able to deploy the `multi-user` docker image with the `openshift-deploy.sh` script

[2017-08-28 13:14] davidfestal opened #302 "Intregration of the *multi-user*-related scripts into a `cli openshift` command"
The `openshift_deploy.sh` script is being pushed to upstream, and might become the start of a `cli openshift` new command.

As soon as it is done we should add the `multi-user`-related scripts (mainly s2i-based scripts that use the result of  `cli config` to create derived docker images to be pushed directly to openshift as image streams). These scritps already exist standalone but should be added

[2017-08-28 13:15] davidfestal commented on #302
This is important for the upstream team to be able to merge the multi-user work while being able to easily test multi-user  on openshift

[2017-08-28 13:21] davidfestal opened #303 "Explore the ability to change the `multi-user` docker images used in upstream to OpenShift-compatible images"
Currently the docker images used for the `multi-user` alternate components (postgres database and keycloak server) are not compatible with Openshift. We should explore the ability to replace them with openshift-compatible docker images, also in upstream. So that we woujld use the same base images in docker-based deployments and the openshift-based deployments.

[2017-08-28 15:24] l0rd commented on #231
That will be needed when che-started will be deprecated. Deferring implementation.

[2017-08-28 15:29] davidfestal commented on #247
Submitted PR on upstream

[2017-08-28 15:29] davidfestal commented on #247
https://github.com/eclipse/che/pull/6096

[2017-08-28 15:51] tsmaeder opened #304 "Merge bugs found in jdt.ls-PoC"
Need to cherry pick fixes for bugs
https://github.com/eclipse/che/issues/6091
https://github.com/eclipse/che/issues/6090
https://github.com/eclipse/che/issues/6100

[2017-08-28 15:53] tsmaeder commented on #304
see ttps://github.com/eclipse/che/issues/5730

[2017-08-28 16:08] l0rd commented on #254
We should add spring-boot automatic redeployment when you select run command. To do this we should change global maven configuration.

[2017-08-28 16:15] l0rd opened #305 "Language server fails to initialize if one workspace is closed and reopened"
@JPinkney please add detailed description

[2017-08-28 16:20] eivantsov commented on #254
But redeployment with run command works ok

[2017-08-29 07:56] sunix commented on #300
Can reproduce locally with minishift with keycloak enabled

[2017-08-29 09:37] ibuziuk commented on #254
@eivantsov AFAIK it does not work for spring (works fine for vertx)

[2017-08-29 10:59] JPinkney commented on #305
https://github.com/eclipse/che/issues/6101

[2017-08-30 11:08] l0rd opened #310 "Add openshift-io quickstarts as sample projects"
There is a list of quickstart here https://github.com/openshiftio-launchpad. These should be the default sample projects proposed when creating a vert.x, spring-boot workspace.

[2017-08-30 11:22] #123 closed

[2017-08-30 11:22] #211 closed

[2017-08-30 11:23] #131 closed

[2017-08-30 11:23] #143 closed

[2017-08-31 06:42] eivantsov commented on #254
@ibuziuk should it work anyway for spring boot?

[2017-09-01 09:17] #284 closed

[2017-09-01 13:30] l0rd opened #311 "Use Logback JsonLayout for Che server logs on OSIO"
Using @aslakknutsen words:

[2017-09-01 13:33] l0rd opened #312 "Include OSIO identity_id and request_id in Che server logs"
Using @aslakknutsen words:

[2017-09-04 06:03] skabashnyuk commented on #312
@l0rd I think @riuvshin and @skryzhny can help in this. We use to have additional logback appender on our prod. It can be a simular issue.

[2017-09-04 09:09] l0rd commented on #312
Cool, thank @skabashnyuk for letting us know.

[2017-09-04 16:34] l0rd commented on #295
I've tested successfully that che-server images from devshift.net works well on minishift and osio. The problem is that after commit cd3b12cc58ccbfface40c8388838566d1961b7ef we cannot retrieve devshift images anymore.

#313 and https://github.com/almighty/almighty-jobs/pull/284 have not solved the problem: script cico_do_docker_build_tag_push.sh hangs at line https://github.com/redhat-developer/rh

[2017-09-04 16:42] l0rd opened #315 "Update scripts to use new maven central link"
Artifacts for https://github.com/fabric8-services/fabric8-tenant-che are now at http://central.maven.org/maven2/io/fabric8/tenant/tenant-che/.

Old github repo https://github.com/fabric8io/fabric8-online and maven central link http://central.maven.org/maven2/io/fabric8/online/apps/che/ are deprecated and should not be used anymore.

[2017-09-05 08:35] #249 closed

[2017-09-05 08:47] l0rd commented on #295
UPDATE: I've currently disabled pushing images to devshift to investigate the problem and it looks like `DEVSHIFT_USERNAME` and `DEVSHIFT_PASSWORD` are not set

[2017-09-05 10:01] eivantsov commented on #298
Probably either output is to be sent to /dev/null or a prior check where a user has rights to do so is required: https://github.com/eclipse/che/blob/master/wsagent/agent/src/main/resources/org.eclipse.che.ws-agent.script.sh#L58

[2017-09-05 10:07] eivantsov commented on #233
Is this still an issue?

[2017-09-05 10:26] l0rd opened #318 "The CI fails when it build Che for the second time"
https://ci.centos.org/view/Devtools/job/devtools-build-run-che-build-master/412/

It works if we `mvn clean install`, but the side effect is that the previous build artifat (with dashboard) is deleted and won't be pushed to the docker hub.

One workaround may be to always `mvn clean install` and build/push the docker image of the corresponding artifact right after (and executing `mvn clean install

[2017-09-05 13:29] #318 closed

[2017-09-05 15:59] l0rd opened #322 "Rebase Snjezana PRs"
The following pull requests were open a few months ago to implement some missing methods to the OpenShift connector. They haven't been merged because at the time (a few weeks before Red Hat summit) we were focused in stabilizing Che on OpenShift and didn't want to add new code. We cannot merge these PR as they are now because the target branch (`openshift-connector`) is not active anymore. This ta

[2017-09-06 10:21] #315 closed

[2017-09-06 12:56] l0rd commented on #304
@tsmaeder I see that the upstream issues have been closed. Can we move to done (or close) this one?

[2017-09-06 12:57] l0rd commented on #305
@tsmaeder that seems to be "Done" too right?

[2017-09-07 08:05] rhopp opened #325 "Stopping workspace does not delete deployment on openshift"
Using Che on OSIO (2.0.5), when stopping workspace (does not matter if I do it via UI or via rest API), the deployment on openshift is not deleted, and as a result next try of starting that workspace fails. (starting it once again works, because the failed start deletes the deployment).
There is an exception in log when stopping workspace:
[code]

And the next start of workspace fails on with this

[2017-09-07 11:34] davidfestal commented on #247
merged

[2017-09-07 11:34] #247 closed

[2017-09-08 08:48] tsmaeder opened #326 "Create Tasks for jdt.ls Integrations"
Need to create task for the epic to integrate jdt.ls into Che.

https://github.com/eclipse/che/issues/6157

[2017-09-08 11:47] #210 closed

[2017-09-08 11:47] #304 closed

[2017-09-08 11:47] #305 closed

[2017-09-08 13:35] benoitf opened #328 "maven root pom.xml / parent pom consistency"
currently in rh-che, the root pom.xml is having a module: `builds/fabric8-che`
but builds/fabric8-che/pom.xml has che as a parent

so to be more consistent, the root pom.xml should have che as parent.

and probably we can remove one level (or two) of directories : `builds/fabric8-che`

[2017-09-08 13:36] benoitf opened #329 "cleanup copyright headers"
There are codenvy copyright headers or broken copyright headers in the current rh-che files

Upstream che has a plugin to format/check the files so we could enable this plugin to ensure we don't have "odd" copyrights

[2017-09-08 14:29] l0rd commented on #80
Fixed by #324

[2017-09-08 14:31] #297 closed

[2017-09-08 16:17] l0rd commented on #329
Who take this should also probably work on #192 too

[2017-09-09 05:00] jgallucci32 opened #331 "Error when starting agent"
When creating a new workspace using any of the available stacks I get the following error:
[code]
The Che Server is started using  `run_che.sh` on RHEL 7.4 with Docker Version 1.13.1, build 4df6abf installed from the RHEL7 Extras repository.

[2017-09-10 23:38] bmicklea commented on #292
Is this in the current sprint?

[2017-09-11 08:05] ibuziuk commented on #292
@bmicklea I will provide PR today

[2017-09-11 08:30] ibuziuk commented on #325
Upstream issue - https://bugzilla.redhat.com/show_bug.cgi?id=1482337

[2017-09-11 08:39] ibuziuk commented on #325
There is also upstream issue in openshift.io - https://github.com/openshiftio/openshift.io/issues/652

[2017-09-11 11:59] sunix commented on #292
@ibuziuk could be something similar to https://github.com/sunix/docker-chedev/blob/centos/Dockerfile#L37

[2017-09-11 17:22] ibuziuk commented on #292
PR for vertx recipe has been sent - https://github.com/redhat-developer/che-dockerfiles/pull/20
once approved & merged I will provide PR for adding oc to other rhche recipes in one go

[2017-09-11 18:04] ibuziuk commented on #331
it looks like 'run_che.sh` script is using obsolete (5 month old) `rhche/che-server:nightly` image. As a workaround one can try updating image manually in the script [1] with one of the latest images from Dockerhub [2]. Basically, we do not use nightly anymore, so need to modify script, so that it would take image to run as a parameter

[1] https://github.com/redhat-developer/rh-che/blob/master/ru

[2017-09-12 08:36] ibuziuk commented on #292
PR for including oc to the rest of the recipes - https://github.com/redhat-developer/che-dockerfiles/pull/21

[2017-09-13 00:10] ibuziuk commented on #292
All pre-difined stacks now include oc binaries. Closing

[2017-09-13 00:10] #292 closed

[2017-09-13 00:22] gorkem commented on #292
Isn't this going to create more issues than it resolves. Around mid November we will get oc is out-of-date issue reported, and when we add the next language/framework to OSIO, there will be the stack is missing oc issue. Do we at least have an issue somewhere to remind us for a long term solution?

[2017-09-13 07:31] ibuziuk commented on #292
Well, once oc is outdated we will need to update version in images[1] for now

but isn't it the similar thing as we have with node & bayesian right now (if one want to have bayesian ls image must have node installed). So, node is installed pretty much in every single rhche image

@l0rd am I correct that we are going to have some base image for all rhche stacks with all osio required stuff installe

[2017-09-13 11:07] l0rd commented on #295
This was fixed by #327 but we needed to revert it because of an issue with the lenght of chars in image tag (https://github.com/openshiftio/openshift.io/issues/798). As soon as eclipse/che#6245 get merged and a new version of Che is released we should apply c0bcc62 back again.

[2017-09-13 11:51] l0rd commented on #292
@ibuziuk that is not as simple. The problem is that we don't have multiple inheritance for dockerfiles (and osio vertx must inherit upstream vertx). But what we can do is that we can have a same shared script to add all Che dependencies.

To get latest stable oc we could use `curl -s https://api.github.com/repos/openshift/origin/releases/latest | grep browser_download_url | cut -d '"' -f 4 | grep

[2017-09-13 12:04] ibuziuk opened #334 "OpenShift connector: 'getImageStreamTagFromRepo' implementation should be more robust"
After switching rhche recipes to devshift registry all stacks but vertx were broken. More details can be found in https://github.com/openshiftio/openshift.io/issues/798

Basically, the problem was coupled with the fact that in `getImageStreamTagFromRepo`[1] method of OpenShiftConnector there was an assumption that image name would be less than 33 chars and with new registry it was not the case e.g

[2017-09-13 15:04] gorkem commented on #292
@ibuziuk Yes, it is the same issue with node which is a pain. I wonder if we could avoid adding to that with an agent perhaps? Ideally I would like everything like oc/maven/node to be side-cars but we are not there yet

[2017-09-13 15:09] #291 closed

[2017-09-13 15:53] l0rd opened #335 "Fix rh-che-ci-master on Codenvy CI"
Job https://ci.codenvycorp.com/job/rh-che-ci-master/ is failing.

Fix for that should be done in a separate branch (e.g. `fixes-for-next-che-release`).

@riuvshin Once that is done `rh-che-ci-master` job should be modified so that it builds the `fixes-for-che-release`. Something like:
[code]

[2017-09-13 19:50] riuvshin commented on #335
haha! auto rebase as we discussed! :)  I can;t assign issue in that repo =/  but this is no an issue.

[2017-09-13 20:40] ibuziuk commented on #283
upstream Issue related to wsagent ` JAVA_OPTS` - https://github.com/eclipse/che/issues/4152#issuecomment-329284011

[2017-09-14 13:26] benoitf commented on #335
I've pushed changes on `upstream` branch https://github.com/redhat-developer/rh-che/tree/upstream

[2017-09-15 15:19] l0rd commented on #335
@riuvshin I will wait that you update the job definition to close this issue

[2017-09-15 22:32] l0rd opened #337 "CentOS base stack: sshd fails to start"
![image](https://user-images.githubusercontent.com/606959/30505513-6c575912-9a75-11e7-9d2f-b6bf2e1e3762.png)

To reproduce it just run:

[code]
you should see the following output:

[code]

[2017-09-15 23:16] l0rd opened #338 "OpenShiftConnector: NPE starting a workspace with no labels (or no ports exposed)"
When starting a workspace based on a stack with zero labels (or zero ports exposed) the OpenShiftConnector throws a `NullPointerException`:

[code]

Image `eclipse/stack-base:ubuntu` can be used to reproduce it.

[2017-09-17 01:33] JPinkney commented on #329
Fixed as part of #332

[2017-09-17 01:33] #329 closed

[2017-09-17 02:00] JPinkney commented on #192
Fixed as part of #332

[2017-09-17 02:00] #192 closed

[2017-09-17 11:09] riuvshin commented on #335
so branch name will be `upstream` not `fixes-for-next-che-release` ?

[2017-09-17 11:38] benoitf commented on #335
I've pushed with `upstream` branch but if you prefer I may rename it.

[2017-09-17 12:55] riuvshin commented on #335
ok let's use `upstream` name

[2017-09-17 13:46] riuvshin commented on #335
job updated, now it is green. Issue can be closed.

[2017-09-17 23:35] #335 closed

[2017-09-17 23:35] l0rd commented on #335
Thanks @benoitf and @riuvshin

[2017-09-18 07:40] benoitf commented on #293
Fixed by https://github.com/eclipse/che-dockerfiles/pull/130

[2017-09-18 12:54] ibuziuk commented on #283
Results of the first round of investigations:

![image](https://user-images.githubusercontent.com/1461122/30540846-14b34706-9c79-11e7-8471-47dc7cb58817.png)

I was able to run / debug spring-boot & vertx quikstarts on minishift with the following cpu / memory limits:

[code]

There is also funny thing in rh-che devscripts with overriding default resource memory requests [1]
As one can see memory l

[2017-09-18 13:07] l0rd commented on #283
@ibuziuk very good! Can you try with 2GB limit now? And please confirm that
on your minishift you really get OOM error when trying to use too much RAM
(e.g. building eclipse/che).

Another thing you may want to test before moving to prod (if you haven't
yet) is building/running/editing while Bayesian agent is running.

Il 18 set 2017 14:54, "Ilya Buziuk" <notifications@github.com> ha scritto:

[2017-09-18 19:13] ibuziuk commented on #283
I was not able to build che project even with 3GB quota, maven process is simply killed:
![image](https://user-images.githubusercontent.com/1461122/30554885-3eb2a34e-9ca6-11e7-82ab-144cc9902b69.png)

I was able to build / run / debug vertx spring-boot quickstarts with 2 GB of ram but I was not able to make bayesian work properly:

[code]
No, error are reported when the following dependency is adde

[2017-09-19 07:37] #293 closed

[2017-09-19 08:05] benoitf commented on #147
is this issue is finished ?

[2017-09-19 08:25] ibuziuk commented on #222
PRs have been sent
- https://github.com/redhat-developer/rh-che/pull/339
- https://github.com/eclipse/che/pull/6337

[2017-09-19 09:45] #222 closed

[2017-09-19 11:53] l0rd commented on #147
Still something to merge https://github.com/CentOS/container-index/pull/198...

[2017-09-19 12:12] ibuziuk commented on #283
Some extra notes:
In OpenShiftConnector `workspaces-memory-limit` / `workspaces-memory-request` cm values are used for workspace container creation (currently set to 2300Mi and 1500Mi respectively). At the same time there is another property `che-workspaces-java-opts` which is used for specifying options that will be used for running workspace agents (we do not specify `che.workspace.maven.options

[2017-09-19 13:27] sunix opened #343 "Move `builds/fabric8-che` maven project to root folder of rh-che"
Now that the invoker is not used anymore, it makes sense to move builds/fabric8-che to the root folder
This will envolves:
- updating all the scripts
- update CI (and test results location?)
- notify everybody working on other "big" task: can cause merge conflicts

[2017-09-19 13:29] gorkem commented on #283
Bayesian LSP is a node.js process so the memory used by bayesian LSP is not part of the Java process as defined by `XX:MaxRAM=1300m`

[2017-09-19 13:36] benoitf commented on #343
it would fix https://github.com/redhat-developer/rh-che/issues/328 as well

[2017-09-19 16:20] ibuziuk commented on #283
@l0rd @gorkem still was not able to run bayesian on minishift (look like that for some reason node is not started). So, I wanted to measure how much RAM the node process consumes on osio. Using `pmap -d` it looks like the cost of running bayesian is ~ 90 Mb

`mapped: 1199020K    writeable/private: 88204K    shared: 0K
`

[2017-09-19 16:46] davidfestal opened #344 "Update Che OpenShift connector to run workspaces in a different cluster"
- Retrieve users che namespace details
- Run every call to the OpenShift API against the user che namespace
- Verify that we are able to get the origin of the events, and find a way to retrieve the associated user and keycloak token to connect to the right cluster and namespace.

[2017-09-19 16:52] davidfestal opened #345 "Adapt the upstream multi-user work to have multi-tenancy on Openshift and OSIO"
This includes much testing, validation, discussion with the upstream team, with implementation changes according to what is discovered.
Also includes OSIO-specific parts that might arise, such as using the OSIO tenant services to retrieve the user cluster address and namespace, etc ...

[2017-09-19 16:57] l0rd opened #346 "Che workspaces should boot even if sshd fail to start"

[2017-09-19 16:57] l0rd opened #347 "Extend Che CLI to start Che on OpenShift"
Implement CLI `cmd_start` and `cmd_stop` for OpenShift. Once the CLI will be able to start/stop Che on OpenShift we can safely delete `openshift_deploy.sh` and update the documentation. So this issue includes:

- [ ] Implement CLI cmd_start and cmd_stop to start Che on OpenShift
- [ ] Deprecate scripts `openshidt_deploy.sh` and the other scripts in upstream Che
- [ ] Update documentation to run Ch

[2017-09-19 17:11] ibuziuk opened #348 "[Copy for planning] OpenShift infrastructure: add TLS support of routes"
https://github.com/eclipse/che/issues/6258

[2017-09-19 17:17] l0rd commented on #224
Since it's going to disappear in the upstream multi user support we close the issue

[2017-09-19 17:17] #224 closed

[2017-09-19 17:20] l0rd commented on #258
This issue will be fixed by #344

[2017-09-19 17:20] #258 closed

[2017-09-19 17:41] l0rd commented on #119
Fixed

[2017-09-19 17:41] #119 closed

[2017-09-19 17:45] l0rd commented on #122
Related to https://github.com/eclipse/che/issues/5919

[2017-09-19 17:49] l0rd commented on #134
We are thinking about doing this with side-car containers

[2017-09-19 17:49] #134 closed

[2017-09-19 18:02] l0rd commented on #325
The upstream fix for this has been merged https://bugzilla.redhat.com/show_bug.cgi?id=1481801#c21 We need to figure out when the fix will be available on OSIO and if it really address our problem.

[2017-09-19 18:10] l0rd commented on #331
@jgallucci32 To start Che on Docker you should use Che CLI https://www.eclipse.org/che/docs/setup/cli/index.html

[2017-09-19 18:10] #331 closed

[2017-09-19 18:12] l0rd commented on #233
@gorkem please let us know if you still have this issue

[2017-09-19 23:35] ibuziuk commented on #283
More research notes
During the discussion it was decided that it should be possible to lower memory consumption that is used by che-server. After some testing it looks like the best we could do is to lower memory consumption only for 100Mb:

- with 400Mb che-server pod is failing to start
- with 500MB  pod is killed during workspace creation

![image](https://user-images.githubusercontent.com/1461

[2017-09-19 23:51] kbsingh commented on #283
great progress here guys!

Just one note - for the che-server component, I would not bother optimising it for rsource usage if Che-MT is close enough  ( and it does seem to be ).

[2017-09-19 23:54] gorkem commented on #283
@ibuziuk What were the  -`XmaxRAM` value used when testing the lower che-server pod memory settings?

[2017-09-19 23:58] ibuziuk commented on #283
@gorkem I always allocated all che-server pod memory to `XmaxRAM`

[2017-09-20 14:08] tsmaeder opened #349 "Productize jdt.ls plugin"
Test/Fix,etc.  copy of https://github.com/eclipse/che/issues/6369

[2017-09-20 14:09] tsmaeder opened #350 "Support one jdt.ls language server per workspace"
copy of https://github.com/eclipse/che/issues/6368

[2017-09-20 14:34] ibuziuk commented on #283
More updates
It looks like wsagent is working quite stable with 1Gb of RAM  for **quickstarts** - was able to run / build / debug / execute tests not only for vertx / spring-boot quick starts but also for relatively small but real projects like 'che-starter' (also run several actions simultaneousy e.g. run & build & test + get Bayesian warnings). But, decreasing RAM in ws-agent would dramatically

[2017-09-20 15:06] #80 closed

[2017-09-20 15:06] #147 closed

[2017-09-20 15:38] #251 closed

[2017-09-20 15:39] #295 closed

[2017-09-20 15:47] kbsingh commented on #283
@ibuziuk +1 from me, this works for now.
We can then align with 2GB for che overall once che-server moves out ( to che-MT ).

[2017-09-20 15:51] l0rd commented on #325
@kbsingh do you know if [this](https://bugzilla.redhat.com/show_bug.cgi?id=1481801#c21) fix will be in OSIO soon?

[2017-09-20 15:53] l0rd commented on #325
As a workaround, if the fix is not deployed on OSIO soon, we could try to avoid using ImageStreams at all. But that would mean re-writing half of the OpenShiftConnector and it doesn't seems like a good idea right now.

[2017-09-20 16:52] kbsingh commented on #325
@l0rd yes, this should be on the osio cluster within a few days. please re-check early next week.

[2017-09-20 17:38] ibuziuk commented on #283
@ldimaggi this change [1] is pretty crucial, so it would be really great to get QA approval before merging (che tenant can be updated using the last link [2] in PR). Basically, end-user should not spot any differences from usability perspective with new quotas.

![image](https://user-images.githubusercontent.com/1461122/30658478-0c00b0ee-9e3b-11e7-99d1-9753d9a28ece.png)

Will you be able to review

[2017-09-20 21:02] l0rd commented on #233
I've tested it on OSIO (Che v2.0.23) and I could debug vertx booster without using incognito. I'm closing this issue.

[2017-09-20 21:02] #233 closed

[2017-09-20 21:24] l0rd commented on #127
After discussion during sprint planning we have considered using the new link in PRs opened in repo https://github.com/fabric8-services/fabric8-tenant-che. So as soon as a PR in rh-che is created a build should be triggered and a PR in https://github.com/fabric8-services/fabric8-tenant-che opened. A reviewer would then be able to test the PR on OSIO.

When the PR get approved the commits included

[2017-09-21 08:00] sunix commented on #127
Would it be possible to have this very same kind of hook in our rh-che repo:

rh-che when a PR is created:
 1. it triggers the build of rh-che.
 2. if the build is successful it triggers the same hook that is using the "fabric8-tenant-che" master branch deployment and generate the link.

[2017-09-22 12:56] sunix commented on #311
https://github.com/redhat-developer/rh-che/pull/341

[2017-09-22 16:40] ibuziuk commented on #283
Closing. PR has been merged. Feel free to reopen if there would be some quota related problems

[2017-09-22 16:40] #283 closed

[2017-09-24 21:56] l0rd opened #353 "Package Che as a minishift addon"
Refer to https://github.com/minishift/minishift/issues/1264#issuecomment-329120040

[2017-09-25 21:38] ibuziuk commented on #325
Checked after cluster wide tenant upgrade. The issue is still there

[2017-09-26 06:14] ibuziuk commented on #325
Tested. Should be fixed now on prod cluster after the latest update. @rhopp Could you please verify & close ?

[2017-09-26 07:22] rhopp commented on #325
Verified in production. Closing.

[2017-09-26 07:22] #325 closed

[2017-09-26 08:15] eivantsov commented on #346
@l0rd do you think disabling ssh agent for all stacks will do? And if a user wants to add it, Dashboard UI is always there?

Or changing logic of a a launcher checker maybe?

[2017-09-26 09:53] l0rd commented on #346
I would like to change the logic of the launcher. If SSH launcher fails to start don't interrupt the workspace bootstrap. So I would add a field to launchers to specify if it's mandatory or not for. And the ssh launcher implementation should be not mandatory.

[2017-09-27 14:59] #350 closed

[2017-09-27 15:00] #326 closed

[2017-09-27 16:53] l0rd opened #360 "Downloaded logs when "Starting workspace runtime" are empty"
This is to fix https://github.com/openshiftio/openshift.io/issues/513

[2017-09-28 12:25] benoitf commented on #343
fixed

[2017-09-28 12:25] #343 closed

[2017-09-29 10:07] l0rd commented on #254
More details about auto redeployment for spring-boot here: https://github.com/openshiftio/openshift.io/issues/416#issuecomment-318117751

[2017-09-29 12:20] ibuziuk commented on #334
Upstream issue -  redhat-developer/rh-che#334

[2017-09-29 16:12] l0rd opened #363 "Starting a multi-machine workspace causes "Multiple ImageStreamTags found" error"
**Issue problem:**

Che version 5.18.0 introduced a regression when starting a workspace with multiple machines (e.g. Java-MySQL-CentOS). I've been able to reproduce it on minishift.

The problem is that the image tags for both machines matches and is well described in this upstream issue: https://github.com/eclipse/che/issues/6500

[code]

[2017-09-29 16:28] l0rd opened #364 "Don't fail starting a workspace if we cannot get a Persistent Volume for it"
**Issue problem:**

When trying to start a Java-MySQL-CentOS workspace on openshift.io (via the dashboard) the following error appears in the OpenShift events:

[code]

That is probably related to the fact that Che claims 3 Persistent Volumes (one for itself and 2 for the machines) but che namespace PV limit is set to 2. A fix would be to continue the machines bootstrap even if there are not enoug

[2017-09-29 16:53] ibuziuk commented on #363
Upstream - https://github.com/eclipse/che/issues/6500

[2017-10-01 13:27] gorkem commented on #363
This is not limited to multi-containers. I also get the same result when I try to start a workspace that was created earlier. Also I have observed that the deployments for a workspace even after they are deleted is not cleaned on minishift.

[code]

[2017-10-01 13:30] gorkem commented on #353
wonder if this can be easier once openshift can be provisioned through CLI?

[2017-10-02 06:57] gbraad commented on #353
@gorkem can you provide some information about the provisioning through CLI? At the moment it is possible to use `oc clucter up` to get a local instance setup, and Minishift wraps this inside a virtual machine like a docker machine. The add-on approach would simplify the process to add Che to a current instance of Minishift.

[2017-10-02 18:53] l0rd commented on #353
@gbraad it's about [Che CLI](https://www.eclipse.org/che/docs/setup/cli/index.html), the official way to run Che on Docker. Instead of running a bash script we use the CLI. That is basically a container that figures out the right command to start Che based on the platform (e.g. mac, windows, linux, is there a firewall). We call it the CLI because it can execute different commands (`start`, `info`,

[2017-10-02 18:59] l0rd commented on #363
@ibuziuk @gorkem what version of minishift are you running?

On my local minishift when a Che workspace is cleaned up the imagestream is deleted too. And it looks like it's consistent with what I see on `openshift.io`. My local minishift version is:
[code]

[2017-10-02 20:21] gorkem commented on #363
I am on minishift v1.5.0+ae62cf2

[2017-10-02 21:24] gorkem opened #365 "Run As -> JUnit test works only if the project was built beforehand"
**Issue problem:**
When I right click on and invoke _Run JUnit Tests_ for a vertx booster project it executes and fails with `No test found to run.Test suite is empty.`.

Upstream issue - https://github.com/eclipse/che/issues/6549

[2017-10-03 00:55] #322 closed

[2017-10-03 01:30] gbraad commented on #353
I was confused by the wording. I have seen and proposed some fixes earlier for this part.

I'll leave things up to you... But I guess the rework is incorporating deploy to openshift (general case)?

[2017-10-03 07:00] sunix opened #366 "Starting a second container of eclipse/che will kill all the workspaces container of the first one"
Link to https://github.com/eclipse/che/issues/6383 for planning

[2017-10-03 07:16] ibuziuk commented on #365
@gorkem in order to run tests one should build the project first (agree, it is not very straight forward and probably we need to open an issue upstream). However, I got the following problem even after building booster project.

![image](https://user-images.githubusercontent.com/1461122/31113772-144b5116-a81b-11e7-8efa-c576666a8fae.png)

[2017-10-03 07:17] sunix commented on #311
upstream issue:
https://github.com/eclipse/che/issues/6537

[2017-10-03 07:44] ibuziuk commented on #365
There are two tests in vertx booster quickstart `HttpApplicationTest` & `OpenShiftIT`. Once the project is built the first one works just fine, but the `OpenShiftIT` fails with on prepare phase with:

[code]
I believe this is expected since this fails in the same way locally when running from desktop IDE and the test itself is about deploying app on the cluster which requires additional configurat

[2017-10-03 08:33] ibuziuk commented on #365
After reading through the vert.x docs[1] in order to run the `OpenShiftIT` it is expected that user will login to oc cluster and deploy the app via `$ mvn clean fabric8:deploy -Popenshift`. Once it is done `OpenShiftIT` test will be passing:

![image](https://user-images.githubusercontent.com/1461122/31116076-0dc9b1d4-a825-11e7-8b61-d1532a1640ff.png)

However, I do not think that this scenario is

[2017-10-03 09:08] ibuziuk commented on #365
@benoitf hmm.. it looks like the problem with permissions is not fixed for spring stack. The 'build' command fails with the following error:

ERROR in ch.qos.logback.core.rolling.RollingFileAppender[FILE] - openFile(/tmp/spring.log,true) call failed. java.io.FileNotFoundException: /tmp/spring.log (Permission denied)

wondering if this is coupled with the switch to devshift registry where for some

[2017-10-03 09:11] benoitf commented on #365
@ibuziuk maybe it's because /tmp is missing here
https://github.com/redhat-developer/che-dockerfiles/blob/master/recipes/spring-boot/Dockerfile#L67-L76 ?

[2017-10-03 09:25] ibuziuk commented on #365
but this is quite weird because we should have spotted this problem as part of PR[1] verification (which was applied more than 2 weeks ago) and switch to devshift registry happened last Friday

[1] https://github.com/redhat-developer/che-dockerfiles/pull/24

[2017-10-03 09:30] ibuziuk commented on #365
Basically, currently all spring-boot tests are broken because of this problem and one should add `-DskipTests` to the build commands as a temp workaround

[2017-10-03 09:58] ibuziuk commented on #363
@l0rd @gorkem  while testing stopping / deleting workspace on osio, `che-ws` image streams are deleted when workspace is stopped / deleted. So, for singe-machine stacks there should not be this `Multiple ImageStreamTags found` problem

[2017-10-03 10:14] benoitf commented on #363
I got this error on `Multiple ImageStreamTags` with single machine only when I had incorrect docker images that were throwing "uncatched exceptions".

[2017-10-03 10:16] ibuziuk commented on #363
could you define ` incorrect docker images` ?

[2017-10-03 10:17] benoitf commented on #363
@ibuziuk like permission issue on the entrypoint

[2017-10-03 10:19] ibuziuk commented on #363
hmm.. but this should not happen for predifined stacks, right ?

[2017-10-03 10:20] benoitf commented on #365
@ibuziuk checking on how the images are pre-built, I saw that now the osio branch has been removed from the booster catalog
https://github.com/openshiftio/booster-catalog/issues/108

https://github.com/redhat-developer/che-dockerfiles/blob/master/recipes/spring-boot/init-maven.sh#L36

[2017-10-03 10:21] benoitf commented on #363
@ibuziuk yes I never had this issue (cleanup not done) when using pre-defined images

[2017-10-03 10:23] ibuziuk commented on #363
ok, thanks for clarifications. So, this issue should not be reproducible for osio for single machine workspaces

[2017-10-03 10:29] ibuziuk commented on #365
yeah, looks like current build of docker images will be broken:
[code]
@benoitf but this does not explain this problem with tests, right (for already existing spring images build command should work fine) ?

[2017-10-03 12:57] ibuziuk commented on #285
Upstream issue is fixed and would be available on osio after migration to 5.19.0 release

[2017-10-03 13:15] benoitf commented on #365
Maybe there were updates in the tests
BTW I fix issue there
https://github.com/redhat-developer/che-dockerfiles/pull/26

[2017-10-03 23:44] l0rd commented on #353
@gbraad if we go with the minishift addon first and we later update the script to install Che (from a single script to the CLI) we will want to update the minishift addon to use the CLI. That's because we want to have/maintain only one way to install Che.

[2017-10-04 03:34] gbraad commented on #353
@l0rd I understand this point... no questions there. Just curious about the needed steps and see what can be be done to help.

[2017-10-05 09:23] rhopp opened #367 "Analytics error markers don't show after opening file (edit&save of the file is needed)"
**Issue problem:**
Opening pom.xml with dependency with CVE does not show the error marker. It is shown only after some change has been made to the file and saved.
Screencast: https://youtu.be/qHegLIEI5II

rh che version: 2.0.35

version::Revision : fac865a74eebefc0Build Time : 2017-09-29 08:54:44

 - [ yes ] I can reproduce it on latest official image

Have pom.xml with dependency with vulnerabil

[2017-10-05 12:25] #285 closed

[2017-10-06 12:58] ibuziuk commented on #363
PR with hot fix is sent - #6604

[2017-10-09 12:10] ibuziuk commented on #367
@tsmaeder any ideas why initial pom validation does not happen on file -> open event ?

[2017-10-09 12:55] benoitf commented on #328
Fixed by https://github.com/redhat-developer/rh-che/issues/343

[2017-10-09 12:55] #328 closed

[2017-10-09 13:50] l0rd commented on #353
@budhrg @gbraad fyi @sunix has started working on that a couple of days ago

[2017-10-09 14:07] ibuziuk commented on #363
PR is merged upstream and the fix should be available for rh-che after switching to 5.19.0 upstream release

[2017-10-09 14:12] budhrg commented on #353
Glad to know @l0rd thanks.

[2017-10-10 16:51] davidfestal commented on #303
PR merged to upstream

[2017-10-10 16:51] #303 closed

[2017-10-10 16:59] davidfestal opened #368 "In `deploy_che.sh`, the keycloack route should be `https` when the che server is `https`"
This is a reminder for the following upstream issue: https://github.com/eclipse/che/issues/6666

[2017-10-10 17:08] davidfestal opened #369 "Make the Bayesian plugin compatible with multi-tenancy token management"
Currently, the Keycloak token injected into the Bayesian plugin is retrieved in a way that cannot work with the upstream multi-user implementation (which is becoming the basis of the `rh-che` assembly)

[2017-10-10 17:13] benoitf commented on #226
This can be configured there: https://github.com/eclipse/che/blob/master/dockerfiles/init/manifests/che.env#L513-L566

CHE_LIMITS_USER_WORKSPACES_COUNT

[2017-10-10 17:24] l0rd commented on #367
We need to validate that this is a bayesian LS problem (not Che).

[2017-10-10 17:26] davidfestal opened #370 "Correctly manage the running workspaces when restarting multi-tenant che-server"
Currently, in the ongoing implementation of multi-tenancy based on the upstream multi-user assembly, the che server, if restarted, has no way to identify to workspaces that were previously left running, in order to do some cleanup at restart. This leads to errors when trying to access to these workspaces again.

This will be a problem when upgrading the che-server.

[2017-10-10 17:29] benoitf commented on #367
Also @msrb

[2017-10-10 17:37] l0rd commented on #370
The clean solution (don't need to stop/start workspace when the server is restarted) would be implemented in the SPI branch (to be confirmed). Until then we probably can implement a cache with user tokens mapped to each workspace. These tokens don't need to be persisted, they are just needed to stop workspace when master is shut down.

[2017-10-10 17:38] l0rd commented on #246
already managed in eclipse/che now.

[2017-10-10 17:38] #246 closed

[2017-10-10 17:39] l0rd commented on #369
cf #248

[2017-10-10 17:53] l0rd commented on #231
We need to verify that https://github.com/eclipse/che/issues/5943 will fix that

[2017-10-10 18:05] l0rd opened #371 "Make it possible to run node with a docker exec in rh-che stack"
We currently need to prefix commands with scl (c.f. #189 )

[2017-10-10 18:06] l0rd commented on #198
We won't fix that in the openshiftconnector but with SPI OpenShift implementation

[2017-10-10 18:10] l0rd commented on #296
Don't fix it for now. Related to multitenancy (c.f. #370)

[2017-10-10 18:12] l0rd commented on #300
Need to verify if this issue exist. May have been fixed upstream.

[2017-10-10 18:14] l0rd commented on #298
Need to verify if that has been fixed

[2017-10-10 18:16] l0rd commented on #232
Not valid anymore

[2017-10-10 18:16] #232 closed

[2017-10-10 18:18] l0rd commented on #337
cc @dharmit

[2017-10-10 18:59] davidfestal opened #372 "Installing multi-tenant Redhat Che distribution on a dedicated cluster for load testing / final testing before production"
Currently, during the implementation phase, multi-tenancy is tested on a small VPS server (for the che-server) and uses OSIO 'xxx-che' namespaces on the production OSIO cluster for workspaces.
It also uses a dedicated Postgres database deployed along with the che-server to the VPS server.
Last but not least, it is also limited to unsecure traffix (`http`) due to self-signed certificates used in th

[2017-10-10 21:57] #310 closed

[2017-10-11 04:24] invincibleJai commented on #367
@ibuziuk @l0rd not sure but it looks related to https://github.com/eclipse/che/issues/5843
@tsmaeder can add.

[2017-10-11 07:48] kameshsampath commented on #353
it will be great if the addon can include the option to add `CHE_GITHUB_OAUTH` variables as that helps the user with one quick setup

[2017-10-11 09:24] l0rd commented on #226
As suggested by @benoitf it is now possible to limit the number of workspaces in upstream Che. To be able to close this issue we need to:
- set the value of `CHE_LIMITS_USER_WORKSPACES_COUNT ` to 1 using a new config map in rh-che deployment config.
- update/simplify the che launcher that used to enforce the number of running workspaces

[2017-10-11 09:38] ibuziuk commented on #226
`CHE_LIMITS_USER_WORKSPACES_COUNT` will not allow to create more than `n` workspaces, but what we have in che-starter is that when one workspace is already running and user would like to create one more, the first one would be stopped.
@l0rd where it is planned to have the logic with stopping workspaces (should it still be in che-starter for now)?

[2017-10-11 09:44] l0rd commented on #226
@ibuziuk yes. Not sure what che API returns when you try to start a workspace and there are already `CHE_LIMITS_USER_WORKSPACES_COUNT` running but maybe now che-starter logic could be changed to always try to start a workspace without checking if there is one already running. If it fails to start the workspace che-starter will then stop the running one (hopefully the HTTP response contains the lis

[2017-10-11 09:58] l0rd opened #373 "Use upstream Che version 5.20"
As soon as Che `5.19.0` is released we should update rh-che to use that and test that everything work as expected.

[2017-10-11 10:02] ibuziuk commented on #226
According to the docs error message will be returned

Frankly, it does not make much sense to me because  all / most of the logic  with stopping workspaces will still be in che-starter. IMO, in order to solve this issue we need to completely move the logic upstream. Maybe we could add some property like `CHE_AUTOSTOP_WORKSPACE_WHEN_LIMIT_IS_REACHED` or smth. like that

[2017-10-11 12:42] garagatyi commented on #226
@ibuziuk this behavior looks logical in OSIO, but what is the reason for this behavior in other Che installations?

[2017-10-11 13:29] tsmaeder opened #374 "Implement "usages" with LSP"
Copy for Planning of https://github.com/eclipse/che/issues/6682

[2017-10-11 13:46] tsmaeder opened #375 "Improve References/Declarations view"
Copy for planning of https://github.com/eclipse/che/issues/6683

Add snippets and tree structure to LSP based views (like in Java "usages" view).

[2017-10-11 13:51] ibuziuk commented on #254
in order to make hot deployment work there should be a possibility of updating project's classpath [1] (In eclipse it is done automatically (`Project -> Build Automatically`) and in InteliJ one needs to either change a few build properties in IDE or manually run `Build -> Make Project`.
It looks like there is no equivalents for those operations which update classpath in Che. The best I was able to

[2017-10-11 14:49] l0rd commented on #254
@ibuziuk it seems to me that avoiding the stop/restart step is anyway a step forward (even if that is not ideal) and we should at least commit the changes to the stack to allow that.

[2017-10-11 14:53] eivantsov commented on #254
@ibuziuk with auto save on, this can be a problem. We get catch file changes of course but do we need to update classpath for every maven project?

[2017-10-11 14:59] ibuziuk commented on #254
IMO, this should not be done on the image level cause it is quite magical in a bad sense (installing dependency that is not presenting on project / having command which uses profile which is not specified in project), but rather done on quickstart project level. Also by doing this we will make stack commands image dependent

@eivantsov what about InteliJ approach with `Build -> Make Project` ?

[2017-10-11 15:03] #348 closed

[2017-10-11 15:04] #346 closed

[2017-10-11 15:06] #213 closed

[2017-10-11 15:23] eivantsov commented on #254
@ibuziuk does it differ much from rebuild? In terms of UX

[2017-10-11 15:26] l0rd commented on #254
Ok let's update the spring boot quickstart then. And I would close this issue as soon as this is done, tracking the CLASSPATH update in another upstream issue.

[2017-10-11 15:30] ibuziuk commented on #254
@eivantsov how to rebuild project in Che from UI ? :-)
or do you mean re-run build command ?

[2017-10-11 15:31] eivantsov commented on #254
yes, that one. In terms of UX it looks the same to me. Project - Make or Commands - Build.

[2017-10-11 15:32] #338 closed

[2017-10-11 15:49] ibuziuk commented on #254
well, Project -> Make Project is more straight forward IMO. But agree, those two approaches are quite similar.

[2017-10-11 16:10] l0rd commented on #226
Ok so let's set the env variable only for now.

[2017-10-11 19:10] gorkem commented on #226
@garagatyi On all openshift flavours there are quotas associated with the project. Ideally Che should be aware of those quotas on the project and stop the one running workspace to free up resources for the new request or just fail depending on the config. However today Che is not quota aware hence `CHE_LIMITS_USER_WORKSPACES_COUNT` is what can be used on it is place.

[2017-10-12 05:59] eivantsov commented on #226
yeah, it would be nice to call `/oapi/v1/namespaces/${che-workspaces-namespace}/appliedclusterresourcequotas`  (and `resourcequotas`) so that che-server can then make decisions according to results returned. For instance, our OSD has only storage quotas (100 GB for pvcs) and no resource limits.

[2017-10-12 12:20] garagatyi commented on #226
@gorkem these quotas are OpenShift specific stuff. I agree that it is a legal requirement for Che-OpenShift integration but I'm not sure how this fits our workspace API and logic.
What if the number of allowed workspaces is 3, which workspace we should stop on the start of new a workspace? BTW workspaces may have different memory consumption in case of future paid users of OpenShift.
Don't get me

[2017-10-12 13:28] tsmaeder commented on #367
I was able to confirm that this has nothing to do with bayesian. If you introduce a xml syntax error (just add "asdf" somwhere, you get an indication of a parse error from the maven language server. When you close and reopen the file, you do not see an error at first, but only when doing a change in the file.
Debugging the workspace agent shows that the "textDocument/didOpen" handler is never invo

[2017-10-13 08:29] tsmaeder commented on #367
I was able to confirm that this has nothing to do with bayesian. If you introduce a xml syntax error (just add "asdf" somwhere, you get an indication of a parse error from the maven language server. When you close and reopen the file, you do not see an error at first, but only when doing a change in the file.
Debugging the workspace agent shows that the "textDocument/didOpen" handler is never invo

[2017-10-16 14:15] l0rd opened #376 "Set KC token in Bayesian LS when running in multi-user Che scenario"
Current multi-user Che doesn't set the KC token in Bayesian LS. That should be fixed before deploying multi-user on osio production.

[2017-10-16 14:19] tsmaeder commented on #367
Could not reproduce in minishift.

[2017-10-16 14:23] l0rd opened #377 "OS.io migration from single to multi-user Che: export and restore workspace metadata"
This is about creating a new script to export the metadata of a user's workspaces (in single user Che) and somehow re-import these data (in multi-user Che).

This script should be run once during single user to multi user migration and would help not losing users workspaces.

Workspaces data (source code) should be persisted in PV (that are never deleted) and the script should not handle it.

This

[2017-10-16 14:27] l0rd opened #378 "Create new CentosCi job to build multi-user branch"
We should start building and pushing rh-che multi-user branch mvn artifact and docker image. Single user Che will continue to live in master branch and have it's own centoCI job until multi-user hasn't been deployed to production.

[2017-10-17 13:28] davidfestal commented on #368
upstream issue has been closed after PR https://github.com/eclipse/che/pull/6739 has been merged

[2017-10-17 13:28] #368 closed

[2017-10-18 06:11] sbose78 opened #379 "Need to migrate to a new github token url"
related to https://github.com/fabric8-services/fabric8-auth/issues/149

Related PRs:

- https://github.com/fabric8-services/fabric8-tenant-che/pull/46
- https://github.com/redhat-developer/rh-che/pull/381
- https://github.com/eclipse/che/pull/6809

Related init tenant issue - https://github.com/fabric8-services/fabric8-tenant/issues/414

[2017-10-18 13:12] tsmaeder commented on #367
I think I know what is going on here: When opening a pom.xml file, I noticed the following error in the browser console:
[code]
Turns out the orion complains that there is a content type registered called "text/plain" that extends "text/plain". Turns out that BayesianLanguageServerModule does
[code]
and LanguageServerFileTypeRegister does a
[code]
I suspect the exception prevents the "didOpen" not

[2017-10-18 13:54] tsmaeder commented on #367
I was able to reproduce the stack trace, but not the failure to send "didOpen" by registering a text/plain. Not sure yet it isn't related, though.

[2017-10-18 14:26] sunix commented on #353
minishift PR: https://github.com/minishift/minishift-addons/pull/43 merged

[2017-10-19 06:18] eivantsov commented on #371
@l0rd adding ENVs worked for me

[code]

[2017-10-19 07:59] l0rd commented on #371
Ok great thanks @eivantsov

[2017-10-19 08:52] tsmaeder commented on #367
I am out of ideas on this one: The developer tools in Chromium indicate that a "textDocument/didOpen" message has been sent over the same websocket as other message ("languageServer/initialize", for example). However, a breakpoint in BasicWebSocketEndpoint#onMessage() never receives this message.

[2017-10-19 11:08] tsmaeder commented on #367
@sunix has suggested the request might be blocked in https://github.com/redhat-developer/rh-che/blob/master/plugins/keycloak-plugin-server/src/main/java/com/redhat/che/keycloak/server/KeycloakAuthenticationFilter.java#L136

[2017-10-19 11:46] tsmaeder commented on #367
Nope, putting a breakpoint in KeycloakAuthenticationFilter shows that no websocket messages are getting filtered.

[2017-10-20 07:27] ibuziuk commented on #379
Migration is done - closing

[2017-10-20 07:27] #379 closed

[2017-10-20 07:45] #360 closed

[2017-10-24 14:14] sunix commented on #367
OK I can see a difference in behaviours between a Che running inside the local minishift and the one running in Openshift.io

Seems that in openshift.io, a new websocket channel is being recreated each time we reopen the file

In minishift, when closing and reopening pom.xml several times
![selection_071](https://user-images.githubusercontent.com/650571/31948112-43557cfe-b8d6-11e7-9318-136beef4103

[2017-10-27 14:51] sunix commented on #367
Can reproduce now on minishift: seems that if the file is too big ( > 140 lines approximatively) we have the issue

[2017-10-31 12:28] ibuziuk opened #395 "multi-tenant che-server CI / CD onboarding for prod-preview / prod"
It was decide to have similar setup for promoting new versions of multi-tenant che-server to prod-preview / prod to the approach that is used in che-starter right now [1] - single template with config map (promotion to prod-preview happens automatically / promotion to prod requires manual step - PR to `saas-openshiftio`)

Onboarding guide  - https://docs.google.com/document/d/14rKA_Uxve5f_mFNK4vhK

[2017-10-31 12:54] ibuziuk commented on #312
changed priority to P1 - this issue is becoming utterly important for multi-tenant che-server IMO

[2017-10-31 15:53] davidfestal opened #396 "Ability to configure the Keycloak `minValidity` on the client side (GWT + Dashboard)"
This is required to ensure that a request would not be submitted to the wsmaster with a Keycloak token that would expire before the corresponding workspace becomes idled.

This might be critical for having multi-tenant in production

[2017-10-31 15:59] davidfestal opened #397 "Port multi-tenant changes to the Che6 branch"
The multi-tenant changes were mostly implemented in the `OpenshiftConnector`, and some of the related changes that were implemented in other parts of upstream Che were not reintegrated into the Che6 development branch by the upstream team.

This task consists in implementing the equivalent changes in the che6 branch and testing them with `rh-che`, since the changes cannot be ported *as is*.

[2017-10-31 16:07] #344 closed

[2017-10-31 16:07] #345 closed

[2017-10-31 16:22] tsmaeder commented on #374
Blocked until we have a first version of che-jdt.ls extension

[2017-10-31 16:26] l0rd opened #398 "Help -> Community menu in Development Workspace is redirecting to openshift.io home page"
This issue is to schedule work for openshift.io issue https://github.com/openshiftio/openshift.io/issues/1159

[2017-10-31 16:27] l0rd opened #399 "Missing Version in Help -> About of OpenShift Eclipse Che"
This issue is to schedule work for openshift.io issue https://github.com/openshiftio/openshift.io/issues/1160

[2017-10-31 16:28] l0rd opened #400 "Error message when creating a second workspace from Che dashboard should be improved until creation of several workspaces will be allowed"
This issue is to schedule work for openshift.io issue https://github.com/openshiftio/openshift.io/issues/1174

[2017-10-31 16:29] tsmaeder opened #401 "Use LSP for file structure view"
Placeholder for https://github.com/eclipse/che/issues/6752

[2017-10-31 16:40] #378 closed

[2017-10-31 17:19] l0rd opened #402 "Consolidate Chefile and Factory"
https://github.com/eclipse/che/issues/4362

[2017-10-31 17:25] ibuziuk commented on #369
Duplicate of https://github.com/redhat-developer/rh-che/issues/376

[2017-10-31 17:25] #369 closed

[2017-10-31 17:33] ibuziuk commented on #301
Closing. not relevant any more

[2017-10-31 17:33] #301 closed

[2017-10-31 17:34] ibuziuk opened #403 "Need to fix pre-prod cm / tune init tenant script"
Upstream - https://github.com/openshiftio/openshift.io/issues/1067

[2017-10-31 17:52] ibuziuk opened #404 "Update `init-tenant` script for multi-tenant"
- [x] Update `init-tenant` script (**with platform team**):
  - [x] Create a new script to deploy Che on dsaas
  - [x] Support list of namespaces / users which are multi-tenant ready and don't deploy che server in their tenant spaces anymore.
  - [x] `init-tenant` should create PVC `claim-che-workspace` in `che-*` namespaces.
  - [x] Create a script to cleanup `*-che` namespaces (do not delete `cl

[2017-11-02 14:27] l0rd commented on #149
# How to properly test a Che stack

## Set some variables to configure the stack we want to test

The following values are for testing stack `centos-dotnet20`. Values should be changed when testing other stacks.

[code]

## 01. Build

[code]

## 02. Check exec of main binary as default user

[code]

## 03. Check exec of main binary as arbitrary user

[code]

## 04. Check run main binary from bash

[2017-11-03 12:44] ibuziuk opened #408 "./replace_stacks.sh is broken after addition of dotnet-centos"
**Issue problem:**
./replace_stacks.sh is broken after addition of dotnet-centos

**Reproduction Steps:**
run the script:
[code]

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [x] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output of `kubectl version`)

[2017-11-03 15:55] #353 closed

[2017-11-03 16:01] gbraad commented on #353
Thanks again...

[2017-11-06 15:58] JPinkney commented on #371
Fixed as of eclipse/che-dockerfiles@8e70296cb5a9bd79add294b3ce1bd55daf414798

[2017-11-06 15:58] #371 closed

[2017-11-06 16:09] JPinkney commented on #189
Fixed as of eclipse/che-dockerfiles@8e70296

[2017-11-06 16:09] #189 closed

[2017-11-07 09:11] rhopp opened #412 ".NET workspace will not start"
**Issue problem:**
.NET workspace will not start.
Log:
[code]

**Red Hat Che version:**
Che : 2.0.46
version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Start .NET stack workspace from Che dashboard.

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [x] OpenShift.io
   - [ ] Openshift Container Platform

[2017-11-07 11:06] #408 closed

[2017-11-07 11:36] sunix commented on #367
This seems to be fixed in 5.19.0
I could reproduce with the minishift addon on 5.18.0:
Having that the current minishift addon use Che 5.19.0
- Installing the che minishift addon https://github.com/minishift/minishift-addons/tree/master/add-ons/che
- in ~/.minishift/addons/che/streams/che-server-streams.json replace all occurence of 5.19.0 to 5.18.0
- apply the addons

        minishift addons app

[2017-11-07 18:35] eivantsov commented on #337
Add `sudo /usr/bin/ssh-keygen -A` to the entrypoint just before starting sshd

[2017-11-07 18:37] JPinkney commented on #337
Can confirm that solution works ^, I tried it earlier but wanted to make sure I wasn't missing something

[2017-11-08 14:46] l0rd opened #418 "Extend Che CLI to start Che on OpenShift"
Implement CLI `cmd_start` and `cmd_stop` for OpenShift. Once the CLI will be able to start/stop Che on OpenShift we can safely delete `openshift_deploy.sh` and update the documentation. So this issue includes:

- [ ] Implement CLI cmd_start and cmd_stop to start Che on OpenShift
- [ ] Deprecate scripts `openshidt_deploy.sh` and the other scripts in upstream Che
- [ ] Update documentation to run Ch

[2017-11-10 10:28] ibuziuk commented on #395
@l0rd @davidfestal setting correct `che-workspace-che-server-endpoint` eliminates the need of RoleBinding - verified on https://glusterpoc37aws.devshift.net

[2017-11-10 11:07] davidfestal commented on #395
great !

[2017-11-10 14:07] l0rd commented on #372
@davidfestal can we close this one?

[2017-11-10 14:08] davidfestal commented on #372
I assume since now we are at the next step (testing on pre-prod)

[2017-11-10 15:29] #372 closed

[2017-11-14 14:21] ibuziuk opened #429 "multi-tenant images do not override upstream stacks to rh-che ones"
**Issue problem:**
rh-che multi-tenant images [1] for some reason do not override stacks.

https://hub.docker.com/r/rhche/che-server-multiuser/tags/

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**
deploy multi-tenant che-server to prod-preview or glusterpoc37aws.devshift.net
ERROR: After navigating to the dashboard stacks would be upstream no rh-che

[2017-11-14 14:27] ibuziuk opened #430 "[prod-preview] Problems with workspace deletion against multi-tenant che-server deployed on dedicated"
**Issue problem:**
Workspace deletion is not working properly for mt che is deployed to prod-preview dedicated cluster https://console.rh-idev.openshift.com:

 - [X] I can reproduce it on latest official image

**Reproduction Steps:**
Create workspace from dashboard
Delete workspace from dashboard:

ERROR:

[code]

[2017-11-14 14:52] JPinkney opened #431 "Problems with stacks on minishift addon"
Before running replace stacks there are alot of errors having to do with the centos stacks. (Log below). After replace stacks has been ran i've gotten workspace agent is no longer responding after trying to start CentOS nodejs and Wildfly Swarm stacks. However those errors are inconsistently happening even when internet seems to be fine.

### Before replace stacks I was getting:
**CentOS blank:**

[2017-11-14 15:16] ibuziuk commented on #429
This problem is not reproducible against `b5919a9-fabric8-8808a8d` (7 days old)
Trying to figure out what is causing it

[2017-11-14 15:45] ibuziuk commented on #429
Also works with `df1a722-fabric8-bed56da` (6 days old)

[2017-11-14 15:58] ibuziuk commented on #429
Works fine with `a17f120-fabric8-808bc0e` (5 days old)

[2017-11-14 16:05] ibuziuk commented on #429
Works fine with `703f8ed-fabric8-d344377` (4 days old)

[2017-11-14 16:10] ibuziuk commented on #429
Was able to reproduce against `f8256a2-fabric8-dcbb673` (1 day old)

[2017-11-14 16:19] ibuziuk commented on #429
from rh-che side the difference between working & non working images is the following commit [1] "Bayesian compatibility and workspace cleaning with multi-tenancy" which does not seem to be related to the issue. Looking into upsream...

[1] https://github.com/redhat-developer/rh-che/commit/dcbb67342de0b2ff895776cfdaed4b6ff4973edb

[2017-11-15 10:37] riuvshin commented on #429
as I understand that issue is about `replace_stacks.sh`
AFAIK that script never supported multitenant usecase, a while ago I was wokring on my own to adopt it but then I switched to `che6` where we don't need that script anymore, but issue was only with auth. As in multitenant che you can't do api calls without auth. let me know if your issue is the same I will take a look maybe I still have that

[2017-11-15 11:39] ibuziuk opened #433 "Need to sync master stacks with multi-tenant branch"
Currently master & multi-tenant-rh-che uses different stacks. Need to port master stack to multi-tenant-rh-che branch

[2017-11-15 21:24] ibuziuk opened #436 "Could not retrieve OSO token from Keycloak token"
Reproduced against multi-tenant che-server deployed on prod-preview dedicated

[code]

[2017-11-15 21:27] ibuziuk opened #437 "[multi-tenant] java.io.IOException: unexpected end of stream on Connection"
Reproduced against multi-tenant che-server deployed on prod-preview dedicated

[code]

[2017-11-16 08:25] sunix opened #438 "Spike POC pair programming feature with teletype and/or ot.js"
Try out a che extension for pair programming with teletype and/or ot.js

ot.js: https://operational-transformation.github.io/ot-for-javascript.html
teletype: https://github.com/atom/teletype-client

For client side implementation, can get inspiration from this PR: https://github.com/eclipse/che/pull/2131

[2017-11-16 09:08] sunix opened #439 "Writing a blog article on how to run Che in Che"
for planning spending 2 days per sprint

[2017-11-16 10:20] l0rd commented on #433
@ibuziuk this can be closed right?

[2017-11-16 10:24] l0rd opened #440 "Port to multi-tenant branch missing commits from rh-che master branch"
An example was #433 but there must be other stuff that hasn't been synch with multi-tenant branch.

[2017-11-16 13:19] l0rd commented on #377
After discussion today with @aslakknutsen and @ibuziuk the workflow of the migration is the one described below:

Migration happens when a user updates his tenant. If the user is in `deploy.che-multi-tenant` list:

- `init-tenant` deploys `fabric8-tenant-che-mt` in the user namespace
- `fabric8-tenant-che-mt`start a small application (`fabric8-tenant-che-migration`):
- When started `fabric8-tenant

[2017-11-16 13:41] aslakknutsen commented on #377
I would simply put it as a 'static' ENV variable on the pod spec. Less to clean up after. :)

yea... good catch. @alexeykazakov ?

Maybe expose a special endpoint on the Che MT side that does the import which doesn't require a full token, but just a known secret or something. Then `fabric8-tenant-che-migration` adds 'who this is for' as part of the import request. What's the worst that can happen?

[2017-11-16 13:56] ibuziuk commented on #430
This issue is not reproducible with mt che server deployed on prod and workspace cleanup works just fine there:

[code]

So, this might be some cluster regression problem (prod-preview is 3.7 / prod is 3.6)

[2017-11-16 14:21] #257 closed

[2017-11-16 14:22] #349 closed

[2017-11-16 21:03] ibuziuk commented on #395
This one is fixed. Closing

[2017-11-16 21:03] #395 closed

[2017-11-16 21:05] ibuziuk commented on #404
@l0rd I think we can close this one. WDYT ?

[2017-11-16 21:07] ibuziuk commented on #403
Closing. Upstream one is fixed

[2017-11-16 21:07] #403 closed

[2017-11-16 21:08] ibuziuk commented on #376
@davidfestal this one is already fixed, right ?

[2017-11-16 21:11] ibuziuk commented on #429
Nope, it is not about `replace_stacks.sh` https://github.com/redhat-developer/rh-che/pull/432/files
it was about loading 2 versions of stack.json (upstream / rhche) and depending on classloading sequence upstream / rhche stacks were used. David provided a fix so we can now close this one

[2017-11-16 21:11] #429 closed

[2017-11-16 21:12] ibuziuk commented on #433
yeah, closing

[2017-11-16 21:12] #433 closed

[2017-11-16 23:03] #373 closed

[2017-11-17 08:46] davidfestal commented on #376
yes

[2017-11-17 09:20] l0rd commented on #404
yes. Thanks @ibuziuk great great job!

[2017-11-17 09:20] #404 closed

[2017-11-17 11:53] #376 closed

[2017-11-17 12:13] l0rd commented on #377
To summarize the discussion we had this morning:

- `fabric8-tenant-che-migration` needs 2 environment variable:
   - `OSIO_TOKEN` with the kc token for the user => **provided by `init-tenant` as a secret**
   - `CHE_MT_SERVER`  => **provided as a config map**
- `che-starter` should:
   - Verify if the migration for mt user has been completed or not (e.g. looking if the `che-host` pod exist in use

[2017-11-17 12:23] ibuziuk opened #442 "Need to Increase workspace memory limit to 2.5 Gi"
multi-tenant che-server is not deployed to user's namespace so we could allocate extra 600Mb to workspace pod

[2017-11-17 12:59] ibuziuk commented on #442
PR is merged, closing

[2017-11-17 12:59] #442 closed

[2017-11-17 13:34] eivantsov commented on #412
@rhopp are you talking about eclipse/dotnet_core image?

[2017-11-17 15:53] tsmaeder opened #444 "Remember Diagnostics for Workspace"
Copy for planning of https://github.com/eclipse/che/issues/6773

[2017-11-20 12:17] rhopp commented on #412
@eivantsov It's about this one: https://github.com/redhat-developer/rh-che/blob/master/assembly/fabric8-stacks/src/main/resources/stacks.json#L265

[2017-11-20 13:57] eivantsov commented on #412
Is this still an issue?

[2017-11-20 14:12] rhopp commented on #412
Yep. Tried it today on prod OSIO and the workspace failed to start with exactly the same error.

[2017-11-20 14:50] eivantsov commented on #412
You need to make sure that this image does something like this: https://github.com/redhat-developer/che-dockerfiles/blob/master/recipes/ubuntu_jdk8/Dockerfile#L38

[2017-11-21 12:00] l0rd commented on #254
@ibuziuk can we close this one?

[2017-11-21 12:19] #337 closed

[2017-11-21 17:57] ibuziuk opened #447 "Functional tests for multi-tenant che-server"
Need to cover multi-tenant che & canary rollout with che-functional-tests [1].

- run PR verification against prod-preview (che starter is not exposing route on prod)
- use prod-preview che-starter[2] route in order to test multi-tenant che-server (unleash toggle will not work against local che-starter - it must be deployed on the same cluster with unleash);

[1] https://github.com/redhat-develope

[2017-11-21 17:58] ibuziuk commented on #447
cc: @rhopp @Katka92 @ldimaggi

[2017-11-21 17:59] l0rd commented on #149
@JPinkney is working on implementing the tests using [godog](https://github.com/DATA-DOG/godog) and including the test in the suite of tests used to verify minishift.

[2017-11-21 18:35] l0rd commented on #396
This doesn't look to be a problem in OSIO because the validity of a token = 1 day. It would be interesting for other OCP installations only.

[2017-11-21 18:48] l0rd opened #448 "Deploy Che6 on OSIO"
- [x] Build rh-che on top of che6 https://github.com/redhat-developer/rh-che/pull/461
- [x] Workspace idling and stop using users' tokens https://github.com/redhat-developer/rh-che/issues/501
- [x] Update che starter to support Che v6 API #515
- [x] Add ability to configure logs dirs for agents https://github.com/eclipse/che/issues/7807
- [x] Port "Use one OkHttpClient for Che server" to Che v6 #5

[2017-11-21 18:50] l0rd commented on #250
Done upstream

[2017-11-21 18:50] #250 closed

[2017-11-21 18:51] l0rd commented on #418
Duplicates #347

[2017-11-21 18:51] #418 closed

[2017-11-21 19:02] l0rd opened #449 "Remove Che status icon on osio"
When users will be rolled out to multi tenant Che old icon won't make sense anymore. We should first remove it until every user is actually migrated to mt che.

[2017-11-21 19:04] l0rd opened #450 "Create a new Che status icon that shows multi-tenant Che status"
That should be deployed only after every osio user has been migrated to mt che

[2017-11-21 19:11] l0rd opened #451 "Tuning workspaces JAVA_OPTIONS"
openshift.io issue - https://github.com/openshiftio/openshift.io/issues/1411
That's about [this issue](https://github.com/openshiftio/openshift.io/issues/1411) and looking if these PRs (https://github.com/redhat-developer/che-dockerfiles/pull/28 https://github.com/fabric8-services/fabric8-tenant-che/pull/73) mitigate the problem or if we still need to fix `MavenServerMain`.

[2017-11-21 19:42] l0rd opened #452 "Cleanup instructions and yaml files in different repositories"
Related to https://github.com/eclipse/che/issues/7318

- [ ] Replace [yaml](https://github.com/eclipse/che/blob/che6/dockerfiles/init/modules/openshift/files/scripts/che-openshift.yml) with a template in eclipse/che (like the one in [rh-che](https://github.com/redhat-developer/rh-che/blob/multi-tenant-rh-che/openshift/rh-che.app.yaml#L320:10))
- [ ] Update upstream instruction to deploy Che:
   -

[2017-11-21 21:46] l0rd opened #453 "Sync rh-che with Che 5.21.0"

[2017-11-22 10:33] jerboaa commented on #451
FWIW, I believe https://github.com/redhat-developer/che-dockerfiles/pull/28 is a work-around for https://github.com/openshiftio/openshift.io/issues/1411.

[2017-11-22 11:05] rhopp commented on #447
We were thinking about this and now we're not sure we would be able to run PR check against multitenant che. Because with singe tenant we just edited deployment config of che-server in oso to use currently built rh-che image. This approach won't work with multitenant che. Even if we had rights to edit DC's on rh-idev it would affect every user of prod-preview which is not desired state.
If you hav

[2017-11-22 11:31] jerboaa commented on #451
The reason why https://github.com/redhat-developer/che-dockerfiles/pull/28 is not sufficient is because `createExecutor()`[[1](https://github.com/eclipse/che/blob/master/plugins/plugin-maven/che-plugin-maven-server/src/main/java/org/eclipse/che/plugin/maven/server/MavenServerManager.java#L87)] is using `CommandLine.createProcess()` which in turn [clears the environment](https://github.com/eclipse/

[2017-11-22 11:57] skabashnyuk commented on #451
@jerboaa  would it be enough if we set here [1] JAVA_OPTS of caller process?

[2017-11-22 13:07] jerboaa commented on #451
@skabashnyuk "here" is where exactly? In `createExecutor()`? It would be an improvement.

I'm not exactly sure what the calling process is, but if it's the che-workspace agent, then this should work. Ideally there would be one environment variable per process: One, `JAVA_OPTS` for the workspace agent, one `CHE_MAVEN_SERVER_OPTS`, say, for the maven server. It would avoid the issue of "not one set

[2017-11-22 13:54] skabashnyuk commented on #451
https://github.com/eclipse/che/blob/master/plugins/plugin-maven/che-plugin-maven-server/src/main/java/org/eclipse/che/plugin/maven/server/MavenServerManager.java#L219

[2017-11-22 15:56] ibuziuk commented on #254
@l0rd https://github.com/snowdrop/spring-boot-http-booster/pull/61 is merged so redeployment would work the following way for  `spring-boot-http-booster`. But I think we need to add the dependency to all other spring quickstarts

[1] https://github.com/redhat-developer/rh-che/issues/254#issuecomment-335816550

[2017-11-22 16:01] ibuziuk commented on #367
@rhopp could you please verify on osio ?

[2017-11-22 16:02] ibuziuk commented on #363
@rhopp could you please verify ?

[2017-11-22 16:06] ibuziuk commented on #311
need to test with rh-che multi-user branch

[2017-11-22 18:12] ibuziuk commented on #447
@rhopp it looks like we will need to have mt-che server on some test cluster like glusterpoc37aws.devshift.net / dev.rdu2c.fabric8.io:8443 and run the PR verification against it

@l0rd WDYT ?

[2017-11-22 22:23] l0rd commented on #447
@ibuziuk @rhopp yes another test cluster (maybe freeint, in distinct project then the workspaces, may work too?) or deploying a second che server on rh-idev...Anyway we should involve service delivery team in the discussion.

[2017-11-23 10:10] ibuziuk commented on #447
@vpavlin @jfchevrette could you recommend the preferred way for of hosting test mt che-server?
- prod-preview / free-int (deploy che-server in distinct project then the workspaces)
- separate test che-server on dedicated (prod-preview only)
- dev.rdu2c.fabric8.io:8443 / glusterpoc37aws.devshift.net

[2017-11-23 12:23] ibuziuk commented on #198
@l0rd after talking with @skabashnyuk today we might have performance problems with multi-tenant che-server due to connection leaks [1] (looks like mt che-server could become unusable even for a few concurrent users)

[1] https://github.com/fabric8io/kubernetes-client/issues/741

[2017-11-23 12:38] rhopp opened #455 "Bayesian lsp not working correctly on mt che on prod-preview"
**Issue problem:**
https://github.com/redhat-developer/che-functional-tests/blob/master/tests/src/test/java/redhat/che/functional/tests/PomTestCase.java is failing against mt che on prod preview (using account kkanova-osiotest1).

What is this test doing?
1) It creates workspace (using che-starter) with vert.x stack and vertx-http-booster project.
2) Opens pom.xml of the project and writes this de