[2017-11-23 12:45] ibuziuk commented on #455
"now" or "not" ?

[2017-11-23 12:48] ibuziuk commented on #455
Also, could you please verify that the problem is fixed on master - https://github.com/redhat-developer/rh-che/issues/367 ?

[2017-11-23 15:21] l0rd commented on #198
@skabashnyuk can you help to reproduce that with rh-che? How many concurrent users? Is there any particular actions (like creating workspaces, executing commands...) that the concurrent users should do before we observe this behavior?

[2017-11-23 15:45] rhopp commented on #367
Automated test [1] is passing against latest single tenant che on prod. I also tried it manually. Closing.

[1] - https://github.com/redhat-developer/che-functional-tests/blob/master/tests/src/test/java/redhat/che/functional/tests/AnalyticsErrorMarkersTestCase.java

[2017-11-23 15:45] #367 closed

[2017-11-23 16:04] rhopp commented on #455
You are correct. "Not" is the right word. Don't know how I could have typed "w" instead of "t". Title fixed.

[2017-11-24 14:33] l0rd commented on #198
Looks related to https://github.com/eclipse/che/issues/7418

[2017-11-27 14:44] ibuziuk commented on #449
PR is sent https://github.com/fabric8-ui/fabric8-ui/pull/2268

[2017-11-29 14:18] sleshchenko opened #462 "Create custom a gwt app compiling module that will override product info plugin"
Create custom a gwt app compiling module that will override product info plugin.

Depends on https://github.com/eclipse/che/issues/7519

[2017-12-05 13:14] ibuziuk opened #466 "Need to port missing commits from "master" to "multi-tenant-rh-che""
`multi-tenant-rh-che` might miss some commits in comparison with `master` branch. Need to port those missing commits to `multi-tenant-rh-che`

[2017-12-05 13:19] ibuziuk commented on #466
Closing as duplicate - https://github.com/redhat-developer/rh-che/issues/440

[2017-12-05 13:19] #466 closed

[2017-12-05 14:07] rhopp opened #467 "Intermittent: Workspace pod fails to start due to volume mount failures"
**Issue problem:**

Workspace pod sometimes fails to start.
Events of workspace pod:
![image pasted at 2017-12-5 14-11](https://user-images.githubusercontent.com/1215011/33610335-7c6da7da-d9cb-11e7-88cf-0f356ca92ce9.png)

Log from che-server:
[code]

**Red Hat Che version:**

Using che multitenant on prod (openshift.io). 5.21.0-SNAPSHOT

**Reproduction Steps:**

It sometimes happens when running t

[2017-12-05 15:15] rhopp opened #468 "Unable to run workspace on prod-preview (multitenant)"
**Issue problem:**
I'm unable to run workspace on prod-preview using multitenant account:
Che log:
[code]

**Red Hat Che version:**

version: 5.21.0

**Reproduction Steps:**

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [x] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output of `kubectl vers

[2017-12-05 15:38] ibuziuk commented on #440
Commit diff between `multi-tenant-rh-che` and `master`

[2017-12-05 17:06] ibuziuk commented on #440
4 Commits related to updates in `keycloak-plugin-token-provider` are not relevant since this plugin does not exist in `multi-tenant-rh-che` branch:
- [ ] 4e7de79 - (ibuziuk/master, 5.18.1) Revert "openshift.io #1238: Adding keycloak token validation to the '/user' endpoint" (5 weeks ago)
- [ ] 6fdd55a - openshift.io #1238: Adding keycloak token validation to the '/user' endpoint (5 weeks ago)
- [

[2017-12-05 17:14] ibuziuk commented on #440
Commits with bumping upstream version are also not relevant both `master` and `multi-tenant-rh-che` now using `5.21.0` upstream version of che:
- [ ] 7bab41c - Update to che v5.18.1 (5 weeks ago)
- [ ] 1c334f4 - Sync rh-che with upstream che v5.20 (3 weeks ago)
- [ ] d8655d6 - (origin/master, origin/HEAD, master) Bump to version 5.21.0 (11 days ago)
- [ ] 071cdda - Bump to version 5.20.1 (3 weeks

[2017-12-05 17:27] ibuziuk commented on #440
`stacks.json` related commits are not relevant since currently those are identical between `master` and `multi-tenant-rh-che`:

- [ ] e882a92 - openshift.io #1215: Fixing typo in stacks.json (6 weeks ago)
- [ ] 4c9cf65 - Fix missing comma in stacks.json (6 weeks ago)
- [ ] 9008bbb - Add CentOS .NET 2.0 Stack (6 weeks ago)
- [ ] 0c5380e - Sync stacks.json with upstream version (6 weeks ago)
- [ ]

[2017-12-05 17:43] ibuziuk commented on #440
@rhopp do we need to port this `.ci` related changes required for functional tests to `multi-tenant-rh-che` ?

- [ ] 961798b - Enable functional tests on pull requests. (3 weeks ago)
- [ ] e470151 - Install git and do checkout after that. (4 weeks ago)
- [ ] 4f0549f - Add check to cico_build.sh if current build is from pull request. (4 weeks ago)

[2017-12-05 18:12] ibuziuk commented on #449
PR is merged - closing

[2017-12-05 18:12] #449 closed

[2017-12-05 18:21] ibuziuk commented on #440
PR https://github.com/redhat-developer/rh-che/pull/469  for:

- [ ] 04230c8 - Fixing local_docker_create_images_and_tag.sh script with right location of cico scripts (6 weeks ago)

[2017-12-05 18:56] ibuziuk commented on #440
No need to port:
- [ ] 8beb12e - Update to the docker build script (3 weeks ago)
`cico_do_docker_build_tag_push.sh` are identical in two branches

[2017-12-06 11:19] akorneta opened #472 "Use one OkHttpClient for Che server"
Since we reworked the way of interacting with `OpenShiftClient` in Che _che6_ branch(now we use only one instance for all the requests). But it doesn't work in this way for multi-tenant che as one `OpenShiftClient` uses only one master url and user's credentials while multi-tenant che interact with OpenShift clusters with current user's token.
So, it is proposed to use one `OpenShiftClient` for on

[2017-12-06 11:54] ibuziuk commented on #467
Volume mount errors also happens when unidling che server but this does not cause any problems:

[code]

[2017-12-06 12:02] ibuziuk commented on #467
First workspace is starting without any errors in the events. However, when starting second workspace when there is already one running there is a pvc error:

[code]

[2017-12-06 12:22] ibuziuk commented on #467
Testing results against multi-tenant che-server are the same:
first workspace is started without any problems, and there are a few pvc error during the startup of the second one:

[code]
But those pvc problems does not cause failures during the workspace startup - it just takes a bit (~15 secs) longer

[2017-12-06 12:27] ibuziuk commented on #467
it usually takes ~20 secs for openshift to resolve the pvc issue, in your case it is not resolved after 4 minutes for some reason
@rhopp could you please perform environment reset and try again ? (this problem is not multi-tenant specific IMO)

[2017-12-06 14:03] rhopp opened #473 "NPE's when resetting osio env right after deleting che workspaces."
**Issue problem:**
I've used my multitenant account
Steps to reproduce:
1) have some workspaces in che dashboard
2) In che dashboard (che.openshift.io), delete those workspaces.
3) Immediately after that navigate to openshift.io -> Profile -> update profile -> Reset environment

Result: https://pastebin.com/DraEBjbH

What probably happened: Deleting workspaces spawned cleanup pods in user's oso, b

[2017-12-06 14:12] rhopp commented on #467
I've just successfully reproduced this issue using Codebases UI. It took just 3 tries (created workspace, waited for it to start, created second workspace, waited for it to start, created third workspace -> this one failed to start with the same error)

[2017-12-07 07:08] rhopp commented on #467
@ibuziuk fyi I've managed to try it ~5 times with my second multitenant account, but I wasn't able to reproduce the issue. Today I'm on PTO, but on friday I'm gonna give it few more shots to reproduce.

[2017-12-07 16:05] JPinkney commented on #431
- Image Stream Error fix: eclipse/che@d2b6c7cb3ae8fa3ccf6f4eb8e1f761fbd9cb89da
- Centos blank fix: eclipse/che@4069186c694013d5b08060195afa148aae8746aa

[2017-12-07 16:05] #431 closed

[2017-12-07 18:12] ibuziuk commented on #440
Multi-tenant template has been also updated https://github.com/redhat-developer/rh-che/pull/474
with JVM flags improvements for che-server https://github.com/fabric8-services/fabric8-tenant-che/commit/eccec4c622d174ceb5600b247021d08a0fb57a83

[2017-12-07 18:12] ibuziuk commented on #440
@l0rd I think we can close this issue now

[2017-12-07 18:15] l0rd commented on #440
thanks @ibuziuk

[2017-12-07 18:15] #440 closed

[2017-12-08 13:48] rhopp commented on #467
I was able to reproduce it even with my second multitenant account.
I've written simple script to help with testing: https://gist.github.com/rhopp/d107bf55e495f8d935754d3457ebab90

[2017-12-11 10:17] sleshchenko opened #477 "Prepare migration for workspace files"
In Che 5 sources of workspace's projects are stored in the following path `{WORKSPACE_NAME}/projects` folder. See the corresponding [OpenShiftConnector code](https://github.com/eclipse/che/blob/master/plugins/plugin-docker/che-plugin-openshift-client/src/main/java/org/eclipse/che/plugin/openshift/client/OpenShiftConnector.java#L1987
).
But it leads to the following problem https://github.com/eclip

[2017-12-11 13:23] l0rd commented on #467
That looks like an OpenShift issue and looks like related to https://github.com/openshiftio/openshift.io/issues/666 we had in the past

[2017-12-11 13:26] l0rd commented on #468
Looks like related to PROD PREVIEW since not reproducible in PROD. So setting as Low Priority

[2017-12-11 13:29] l0rd commented on #472
https://github.com/eclipse/che/pull/7793

[2017-12-11 13:36] l0rd commented on #477
To address that we may reuse the fabric8-tenant-che-migration application we used for multi tenancy migration (cc @davidfestal )

[2017-12-11 13:40] l0rd opened #479 "Wsagent ping is getting HTTP 200 even if the route is not returning consistent HTTP 200 responses."
That is the long term solution for https://github.com/openshiftio/openshift.io/issues/1599#issuecomment-350675000

[2017-12-11 13:47] l0rd opened #480 "Intermittent workspace stuck at "No workspace running...""
Placeholder for https://github.com/openshiftio/openshift.io/issues/1615

[2017-12-11 13:49] l0rd opened #481 "Workspaces are not deleted when cleaning account"
Placeholder for https://github.com/openshiftio/openshift.io/issues/1614

This is probably something that should be fixed init-tenant side but may need to involve che-starter as well.

[2017-12-11 13:59] l0rd commented on #188
@JPinkney do you know if that's solved?

[2017-12-11 14:02] l0rd commented on #298
fixed

[2017-12-11 14:02] #298 closed

[2017-12-11 14:03] l0rd opened #482 "Removal of imagestreams in OpenShiftConnector"

[2017-12-11 14:04] l0rd opened #483 "Activities related to Che6 deployment"
This is about some of the activities that are described in the upstream epic https://github.com/eclipse/che/issues/7321. In particular:

- [x] Che Deployment on OpenShift should be as easy as on Docker - [#6097](https://github.com/eclipse/che/issues/6097)
  - [x] Verify and eventually fix all the Che runtime stacks on minishift - cf #155
- [ ] Che 6 OpenShift template - [#7318](https://github.com/

[2017-12-11 14:43] JPinkney commented on #188
This is still occurring. I'll assign it to myself and make it part of the stack fixes.

[2017-12-11 23:45] l0rd commented on #479
More details on the problem:

When a route is created on osio it go through 3 different states:

**Not ready state**
When trying to ping the route the response status code is 503 and it's consistent:
[code]

**Flapping state**
After a few seconds pinging the route we start getting some response status code 200 but these are still not steady and alternates with some 503s:
[code]

**Ready state**
On

[2017-12-12 16:38] #370 closed

[2017-12-12 22:09] ibuziuk commented on #479
have not tested yet, but we probably could have smth. like this [1] in place (use okhttp for verification)
(tests are currently failing). But it is still pretty weird that currently Che is not able to detect route flapping.
Connection details are implemented on quite a low level in `DefaultHttpJsonRequest` [2] via `HttpURLConnection`, but I have not spotted anything suspicious so far.

image - `ib

[2017-12-12 22:18] ibuziuk commented on #479
It is also does not look like a caching problem since `https` requests are never cached AFAIK

[2017-12-13 09:34] l0rd commented on #479
@ibuziuk in the [sample I've provided]( https://gist.github.com/l0rd/8d7ff9dc4c138102c028d3cafe0c1d23#file-httpurlconnectiontest-java) okttp is used too. And I confirm you that this doesn't solve the problem: using `HttpURLConnection`  or `okhttp` has the same exact result.

[2017-12-13 12:16] ibuziuk commented on #479
Headers from curl:

![image](https://user-images.githubusercontent.com/1461122/33937973-e2ce3522-e005-11e7-8b6d-e230c302adf8.png)

Headers form java test running from IDE are not caught by Fiddler for some reason, so I plan to package the test with okhttp to jar and execute it from terminal.

As you can see from the request headers the only thing that seems to be added by curl is `Connection: keep

[2017-12-13 13:48] ibuziuk commented on #479
Adding `Connection: keep-alive: header` does not change anything - OkHttp requests still do not detect route flapping

[2017-12-13 13:55] ibuziuk commented on #479
hmmm... all this becoming even more weird - after adding `Connection: close` header okhttp detects flapping correctly:

[code]

[2017-12-13 14:25] ibuziuk commented on #479
it is also quite interesting to take a look at response headers:

[code]

[2017-12-13 14:36] ibuziuk commented on #479
So, it is now becoming clear that java clients add some header (most likely `Connection: keep-alive`), because in curl request headers does not contain this information by default:

[code]

[2017-12-13 15:30] tsmaeder opened #484 "Use Urls for LSP related stuff in IDE"
Copy for planning of https://github.com/eclipse/che/issues/7852

[2017-12-13 16:11] davidfestal opened #485 "[MT-Che] "Cound not retrieve OSO token from Keycloak token" when deleting workspaces"
This is a link to issue  https://github.com/openshiftio/openshift.io/issues/1649

[2017-12-13 16:12] davidfestal opened #486 "[MT-che] Runtime exception when deleting workspaces (Forbidden!Configured service account doesn't have access.)"
This is a link to openshift.io issue: https://github.com/openshiftio/openshift.io/issues/1651

[2017-12-13 16:27] l0rd commented on #397
This issue is being worked by the platform team

[2017-12-13 16:36] l0rd commented on #254
Alredy fixed for the HTTP booster. We need to update spring-boot-health-check and spring-boot-crud boosters too.

[2017-12-13 16:38] l0rd commented on #347
The priority for this has been decreased because we want to use `oc apply` as the official way to deploy Che on OpenShift.

[2017-12-13 16:40] #377 closed

[2017-12-13 16:44] l0rd commented on #472
Before closing this issue we need to make sure that the PR are ported to che6 branch

[2017-12-13 16:45] #453 closed

[2017-12-13 16:50] l0rd commented on #300
Need to check if this has been fixed in multi tenant-che

[2017-12-13 18:38] ibuziuk commented on #479
After some investigation I think the problem is related to `Connection: keep-alive` header. Here are the demos of running the sample [1] which uses `HttpURLConnection` for pinging route on `api.starter-us-east-2.openshift.com`. By default `Connection: keep-alive` is added to the transport headers and route flapping is not detected:
![connection-keep-alive](https://user-images.githubusercontent.com

[2017-12-13 23:47] l0rd commented on #479
Well done @ibuziuk!

@l0rd <https://github.com/l0rd> I guess the easiest way to fix it would be
adding -Dhttp.keepAlive=false during che-server start-up on osio. WDYT ?

The problem with that approach is that all wsmaster TCP connections would
be affected and Che performances will be decreased. I would rather modify
the class where the ping to the wsagent are implemented and make only these
packet

[2017-12-14 09:39] sunix commented on #300
I don't think we can reproduce with the new keycloak integration upstream, closing it. Will reopen if we see this issue again.

[2017-12-14 09:39] #300 closed

[2017-12-14 14:06] davidfestal opened #489 "Run multi-tenant `rh-che` using the minishift add-on"
Currently the multi-tenant `rh-che` cannot work out-of-the-box on Minishift, since it tries to create the user workspace pods( and other resources) in the OSIO user namespace. We should provide a way (property ?) that allows overriding the cluster / namespace where the workspace OpenShift resources are created.

[2017-12-15 11:36] ibuziuk commented on #479
@l0rd after prod cluster update to 3.7.9 route flapping is not reproducible anymore

[2017-12-15 13:28] ibuziuk commented on #479
PR has been sent https://github.com/eclipse/che/pull/7898

[2017-12-18 13:48] ibuziuk commented on #479
@l0rd going to close this one after PR to che6 branch would be merged

[2017-12-18 15:35] l0rd opened #494 "Pre-pull booster docker images on a daily basis"
**Issue problem:**
One of the bottlenecks of a workspace creation is the pull of a new image. We could improve that using a "warm up" pod for pre-pulling the Docker images on a daily basis.

This was an issue that we closed in the past [without fixing it](https://issues.jboss.org/browse/CHE-132) but it makes sense now because images change at least once a day.

[2017-12-19 12:04] l0rd opened #495 "identy_id and req_id are not available in production logs"
**Issue problem:**
It looks like the `identy_id` and `req_id` fields in the wsmaster json logs are not available in production. Here is an example:

[code]

[2017-12-19 12:05] l0rd commented on #495
cc @sunix @ibuziuk

[2017-12-19 14:52] ibuziuk commented on #495
@sunix it looks like MDC context is lost at some point on che-server side: Here is the example of production logs:

[code]
As you can see only the first entry contains `"req_id":"1t67dcqobaw5yot1","identity_id":"25235c85-b434-4572-872d-b7c6a6d7d992"` and the next two are missing it. You might be interested in the way how che starter handles MDC for async requests [1] (in che-starter logs every sin

[2017-12-19 15:02] ibuziuk commented on #479
PR to che6 is merged - closing

[2017-12-19 15:02] #479 closed

[2017-12-19 15:36] ibuziuk commented on #254
PRs for `health-check` and `crud` quickstarts have been sent:
- https://github.com/snowdrop/spring-boot-health-check-booster/pull/17
- https://github.com/snowdrop/spring-boot-crud-booster/pull/19

[2017-12-19 18:14] ibuziuk commented on #254
PRs above are meged - closing

[2017-12-19 18:14] #254 closed

[2017-12-19 19:08] ibuziuk commented on #363
@rhopp closing. Feel free to reopen

[2017-12-19 19:08] #363 closed

[2017-12-19 19:13] ibuziuk commented on #450
PRs for docs and ui are merged:
- https://github.com/fabric8-ui/fabric8-ui/pull/2299
- https://github.com/openshiftio/openshift.io/pull/1558

Will close the issue once the new fake staus icon will be avilable on prod

[2017-12-20 11:42] ibuziuk opened #497 "Need to remove toggle related / workspace migration code from init tenant"
Migration to multi-tenant che-server has finished, so all toggle / workspace migration related code from che-starter & init-tenant

che-starter issue - https://github.com/redhat-developer/che-starter/issues/255

[2017-12-20 13:51] davidfestal commented on #489
2 PRs have been opened to fix this issue:
- PR https://github.com/redhat-developer/rh-che/pull/498. This one should be mergeable and shouldn't change anything in the multi-tenant case.
- PR https://github.com/eclipse/che/pull/7976 made some required changes to the upstream `deploy_che.sh` script. However in the meantime, che6 has been merged to `master` so that conflicts arose. So it should probab

[2017-12-20 14:19] slemeur commented on #107
@l0rd : Can this epic be closed since you successfully deploy che-mt to all users on OSIO? ;)

[2017-12-20 15:03] ibuziuk opened #499 "Port "Introduce wsagent ping success threshold"
**Issue problem:**

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output o

[2017-12-20 15:03] ibuziuk opened #500 "Port "Introduce wsagent ping success threshold" to master"
Need to port "Introduce wsagent ping success threshold" commit[1] to master

[1] https://github.com/eclipse/che/commit/a54f1caa53e2da640685dc3620fd9d6f9fdfeb56

[2017-12-20 17:26] ibuziuk commented on #499
Duplicate of https://github.com/redhat-developer/rh-che/issues/500

[2017-12-20 17:26] #499 closed

[2017-12-20 20:58] sunix commented on #495
I guess things get lost when jobs are scheduled in other thread pool. MDC is per thread. But would need further investigation on specific cases.

[2017-12-20 21:41] sunix commented on #495
[code]
There is no magic, if we want to keep reqid,  it needs to be done programatically for anything calls that invoke another thread pool.

[2017-12-21 08:36] sleshchenko opened #501 "Add workspaceID-userID link in Che 6"
**Issue problem:**
Now the current subject is used while OpenShift client creating. But there are cases when there is no subject in EnvironmentContext (stopping workspaces by idle timeout). In this case, it is needed to use the cached subject that started the corresponding workspace.

So it is needed to move [WorkspaceSubjectsRegistry](https://github.com/redhat-developer/rh-che/pull/461/files#diff

[2017-12-21 08:36] sleshchenko commented on #501
blocked by https://github.com/redhat-developer/rh-che/pull/461

[2017-12-21 08:48] garagatyi commented on #495
Not sure whether it is useful but just FYI https://github.com/eclipse/che/blob/master/core/commons/che-core-commons-lang/src/main/java/org/eclipse/che/commons/lang/concurrent/ThreadLocalPropagateContext.java#L45-L45
https://github.com/eclipse/che/blob/master/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceRuntimes.java#L234-L234

[2017-12-21 09:01] ibuziuk commented on #495
@sunix by programatically you mean pass it as a method parameter ?

[2017-12-21 09:25] l0rd commented on #107
@slemeur yes we can close it

[2017-12-21 09:25] #107 closed

[2017-12-21 10:28] kishansagathiya opened #502 "Che should use Auth API instead of Keycloak for authentication"
Currently Che uses keycloak json client to talk to keycloak. We want to remove che to talk to auth service instead of keycloak ( then auth-service will talk to keycloak on the behalf of che).

Auth service has created an authorization endpoint for this (https://github.com/fabric8-services/fabric8-auth/pull/210) and an issue on auth-serivice as well (https://github.com/fabric8-services/fabric8-auth

[2017-12-21 15:34] sunix commented on #495
@garagatyi interesting, the thing is that MDC is not using thread local but a similar mechanism ... will investigate

[2017-12-21 16:00] sunix commented on #495
@ibuziuk yes programatically like it is done in your link https://moelholm.com/2017/07/24/spring-4-3-using-a-taskdecorator-to-copy-mdc-data-to-async-threads/
[code]
and reapplying it in each new threads

[2018-01-02 14:50] sleshchenko commented on #462
Fixed by https://github.com/redhat-developer/rh-che/pull/471

[2018-01-02 14:50] #462 closed

[2018-01-02 15:16] ibuziuk opened #503 "Multi-tenant migration failed for a few osio accounts"
runtime used:
   - OpenShift.io

Most probable reason is that "Update tenant" does not trigger migration for those users

[2018-01-02 17:12] ibuziuk commented on #226
PR is sent https://github.com/redhat-developer/rh-che/pull/496

[2018-01-03 15:53] ibuziuk opened #504 "Che multi-cluster support"
Copy for planning - https://github.com/openshiftio/openshift.io/issues/1683

[2018-01-03 18:55] ibuziuk commented on #312
Closing. There is separate issue for improving che server json logs facilities - https://github.com/redhat-developer/rh-che/issues/495

[2018-01-03 18:55] #312 closed

[2018-01-04 04:46] sbose78 commented on #502
CC: @alexeykazakov .

@kishansagathiya , could you please add code references to where the frontend client for login is used.

[2018-01-04 05:58] kishansagathiya commented on #502
I think you are looking for https://github.com/eclipse/che/tree/master/multiuser/keycloak

[2018-01-05 15:28] rhopp opened #505 ".NET CentOS workspace is not working on osio"
**Issue problem:**
.NET CentOS workspace fails to start with error
[code]
[code]

**Red Hat Che version:**

Version :1.0.0-SNAPSHOT
Revision :dd729a5680603cba
Build Time :2017-12-18 13:39:11

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Try to create .NET CentOS workspace

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [x

[2018-01-08 16:15] l0rd opened #506 "Add the ability to specify the che-server image when running the minishift add-on"
This should work for both che 5 and che 6. By default it should use `eclipse/che-server:latest`

[2018-01-09 14:30] ibuziuk opened #507 "Need to gracefully manage the starting of a stopped workspace with already existing resources"
Related openshift.io issue - https://github.com/openshiftio/openshift.io/issues/1733
The situation when workspace resources still exist when trying to start a stopped workspace can be reproduced the following way:

1. start workspace
2. log out from osio
3. after some time workspace idling is triggered
4. ERROR: when che-server tries to stop workspace the token is already invalid and as a result w

[2018-01-09 14:55] l0rd commented on #489
@davidfestal can we close this issue now that both PR have been merged?

[2018-01-09 18:48] ibuziuk commented on #226
`CHE_LIMITS_USER_WORKSPACES_RUN_COUNT` is now set on prod / prod-preview
![image](https://user-images.githubusercontent.com/1461122/34736470-54873ae2-f573-11e7-8047-63d923675e37.png)

[2018-01-09 18:48] #226 closed

[2018-01-09 22:15] gorkem commented on #226
Woohooo. This is from last summer.

[2018-01-11 10:10] davidfestal commented on #489
I didn't close it for now since we might have to change some documentation, but first one question arises : do we really want the users to clone branch `5.22.x` to get the right `deploy_che.sh` script ?

And even when a `5.22.1` version is released, do we want users to clone this tag release to get the right file ?

However, as soon as `5.22.1` is released, we would have the ability to use `docker

[2018-01-11 15:54] ibuziuk commented on #503
after investigation there are a few potential causes of the problem:
- user set custom tenant config and `fabric8-tenant-che-mt` template is not applied because of this.
- singe tenant che is failing to start `Single-tenant Che server could not be started even after a 5 minutes in namespace`
Also there are namespaces where custom version of che was deployed manually and not it is failing to start

[2018-01-11 16:07] davidfestal commented on #486
I couldn't reproduce this error on production: Started a workspace, then deleted it from the dashboard, and had no error:

[code]

It might be that the root cause of the initial error would have been fixed by some other fix.

Maybe @rhopp could test again to confirm

[2018-01-11 16:13] ibuziuk commented on #450
new icon is available on prod - closing

[2018-01-11 16:13] #450 closed

[2018-01-12 06:54] kishansagathiya commented on #502
## keycloak-ide
 (Think this will be the module I am supposed to change https://github.com/eclipse/che/tree/5.22.x/multiuser/keycloak/che-multiuser-keycloak-ide)
 - Keycloak.java : Initiates keycloak, updates and get skeycloak token. You won't find the code where the request is happening because that is something which is being taken care by keycloak. The commented code doesn't really contain comm

[2018-01-12 08:37] rhopp commented on #486
@davidfestal I managed to get some errors [1] doing this:
1) have multiple workspaces.
2) Delete them all in dashboard.
3) Immediately reset env in openshift.io
4) Profit! (errors appears in log)

That's probably because deleting multiple workspaces spawns multiple "delete pods" on OSO and when I push reset account, some of those pods gets killed, but che don't know that and tries to communicate w

[2018-01-12 13:26] kishansagathiya commented on #502
GET /authorize we can write in JavaScript because there is nothing sensitive there. POST /token has to pass authorization_code and client_secret, thus it should be from the server (thus Java)

[2018-01-12 20:13] slemeur opened #510 "Create materials and presentation that show Che working on OpenShift"
### Description
Create materials and presentation that show Che working on OpenShift with a multi-container workspace and real sample application (not just hello world).
- Demo of containerized workspace sharing
- Show Che IDE doing edit, debug “inner loop” to prove low latency
- Remote debug

[2018-01-12 20:14] slemeur commented on #510
(should be an epic - as it would be materials for RH Summit, I prefer to keep this issue on our repo than on upstream's one)

[2018-01-18 09:57] sleshchenko opened #513 "A workspace created from .NET CentOS stack fails to start"
**Issue problem:**
A workspace created from `.NET CentOS` stack fails to start.

**Red Hat Che version:**

version: (help/about menu)
6.0.0-M5-SNAPSHOT

**Reproduction Steps:**

1. Create workspace from `.NET CentOS`.
2. Try to start it.
Expected: The workspace is started.
Actual: The workspace fails to start.

![screenshot_20180118_115441](https://user-images.githubusercontent.com/5887312/3509182

[2018-01-18 14:12] ibuziuk commented on #504
PR for che-starter - https://github.com/redhat-developer/che-starter/pull/256
PR for rh-che - https://github.com/redhat-developer/rh-che/pull/514

[2018-01-18 14:36] l0rd opened #515 "Adapt che-starter to work with the Che 6 API"
The workspace model has changed between Che v5 and Che v6 so che-starter doesn't currently work with Che v6. Ideally we should update che starter so that it can to talk with both v5 and v6 API.  That would make deployment of Che 6 on OSIO smoother.

[2018-01-18 15:00] l0rd opened #516 "Port "Use one OkHttpClient for Che server" to Che v6"
This is about porting this 2 PRs to Che v6 https://github.com/eclipse/che/pull/7935 and https://github.com/eclipse/che/pull/7793 that were related to https://github.com/redhat-developer/rh-che/issues/472

[2018-01-18 15:05] ibuziuk commented on #515
Che starter issue https://github.com/redhat-developer/che-starter/issues/257

[2018-01-18 15:52] davidfestal commented on #516
related rh-che issue: https://github.com/redhat-developer/rh-che/issues/472

[2018-01-18 16:18] sunix opened #517 "Creating a first minimal viable feature of pair programming with Che-Atom teletype"
MVF to join an existing Atom Teletype portal from Che (as a guest portal).
Final result should end up with a PR in Che6.

- [x] spike https://github.com/redhat-developer/rh-che/issues/438
- [ ] remove hard coded value, set values from Preferences panel (20)
- [ ] package teletype-client for browser (20)
- [ ] clean up, concider using jsinterop instead of overlays (25)
- [ ] create a new project ty

[2018-01-18 16:21] sunix commented on #495
The first iteration will be focus on che6 and workspace create/start/stop/delete

[2018-01-18 17:52] slemeur commented on #517
Linking to https://github.com/eclipse/che/issues/8286

[2018-01-19 17:23] ibuziuk commented on #503
Currently all the users have been switched to multi-tenant che server. Problematic account is tracked separately on gitlab - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1144

[2018-01-19 17:23] #503 closed

[2018-01-21 16:42] slemeur opened #519 "Stacks for OSIO on RHEL"
## Goals
All prod and user facing images must be on a Red Hat OS, RHEL is preferred as default and RHEL must be available as an option.

## Linked issues and Subtasks
- [ ] [Create a new Che Dockerfile.rhel](https://github.com/eclipse/che/tree/master/dockerfiles/che) that is based on RHEL #611
- [ ] Create a [Che runtime base stack](https://github.com/eclipse/che-dockerfiles/tree/master/recipes/st

[2018-01-22 12:30] ibuziuk opened #521 "Extend WIT/Codebase API for interaction with Che workspaces"
Copy for planning https://github.com/openshiftio/openshift.io/issues/1439

[2018-01-22 12:41] dmytro-ndp commented on #501
Side affect of the issue: when workspace is stopped by idle timeout linked services, pods, routes are stayed untouched and user can quickly reach limit of service number = 5.

[2018-01-22 12:56] sleshchenko commented on #501
@dmytro-ndp Thanks for reporting a bug. It happens because of OpenShift token lack when there is not Subject in Environment while removing OpenShift objects. I believe use cached subject while OpenShift client creating will fix the described bug.

[2018-01-22 12:59] l0rd commented on #412
@eivantsov does https://github.com/eclipse/che-dockerfiles/pull/159 fix this?

[2018-01-22 13:00] l0rd commented on #513
Duplicate of #412 ?

[2018-01-22 13:00] l0rd commented on #505
Duplicate of #412?

[2018-01-22 13:08] eivantsov commented on #412
Not really, but since the base image has been rebuilt some time ago, a new build of dotnet image should be ok. At least I can confirm now that an arbitrary user can create dirs in home directory and `/projects`

[2018-01-22 13:25] l0rd commented on #497
che-starter has been done

[2018-01-22 13:50] l0rd commented on #400
fixed

[2018-01-22 13:50] #400 closed

[2018-01-22 13:55] l0rd commented on #188
@JPinkney any news on this one?

[2018-01-22 13:56] l0rd commented on #296
Fixed with multi user che

[2018-01-22 13:56] #296 closed

[2018-01-22 14:01] l0rd commented on #127
With multi-tenant Che it's not possible for the reviewers to test Che in their user namespace

[2018-01-22 14:01] #127 closed

[2018-01-22 14:03] l0rd commented on #430
Not reproducible

[2018-01-22 14:03] #430 closed

[2018-01-22 14:04] l0rd commented on #436
Not reproducible

[2018-01-22 14:04] #436 closed

[2018-01-22 14:04] l0rd commented on #437
Not reproducible

[2018-01-22 14:04] #437 closed

[2018-01-22 14:06] l0rd commented on #467
Not seen this one lately

[2018-01-22 14:14] #347 closed

[2018-01-22 14:14] rhopp commented on #412
Closing as duplicate of https://github.com/redhat-developer/rh-che/issues/513

[2018-01-22 14:14] #412 closed

[2018-01-22 15:08] eivantsov commented on #513
FYI, `eclipse/dotnet_core` works ok. I'd check permissions for user home directory in `registry.devshift.net/che/centos_dotnet20`

[2018-01-23 14:15] #374 closed

[2018-01-23 14:16] #401 closed

[2018-01-23 14:32] dmytro-ndp commented on #501
Another problem: error of start of workspace which was stopped by idle timeout:
[code]
![screenshot from 2018-01-23 16-25-31](https://user-images.githubusercontent.com/1197777/35281007-7df5f08e-005a-11e8-8907-21646cc860bc.png)

Next start was successful.

[2018-01-23 18:51] fche opened #522 "pcp/pmcd/prometheus monitoring extensions for workspace pod"
Similarly to what we had for the OSO che server (before multitenant), we need something analogous for the OSO workspace pod.  We'd be glad to help prototype this part, but need a pointer as to the part of che that constructs / deploys the workspace docker images.  cc: @l0rd

[2018-01-24 10:08] kameshsampath opened #523 "Unable to set GitHub Key using oAuth2"
**Issue problem:**

Unable to successfully update the GitHub Key using oAuth2

**Red Hat Che version:**

version:

[code]

 - [ *] I can reproduce it on latest official image

**Reproduction Steps:**

1. Deploy Che following the documentation https://www.eclipse.org/che/docs/setup/openshift/index.html
2. Edit the Deployment to alter the `CHE_OAUTH_GITHUB_CLIENTID` and `CHE_OAUTH_GITHUB_CLIENTSECRE

[2018-01-24 10:27] l0rd commented on #522
@fche how urgent is this? It's ok if we schedule it for next sprint (in 3 weeks)?

[2018-01-24 13:54] fche commented on #522
@l0rd, hard to say.  The sooner the better.  Can we help?

[2018-01-24 14:21] ScrewTSW opened #524 "Bayesian not working in rh-che on prod-preview."
openshift.io issue - https://github.com/openshiftio/openshift.io/issues/2063

**Issue problem:**

**Red Hat Che version:**

version:
[code]

 - [✔] I can reproduce it on latest official image

**Reproduction Steps:**

* Create a `vert.x` or `CentOS-JDK` project from template
* Open `pom.xml` or `package.json`
* Type in a dependency with incorrect or dangerous version
  - e.g.:
    - `"serve-static

[2018-01-24 14:22] ScrewTSW commented on #524
![automated_test_json](https://user-images.githubusercontent.com/16451875/35336977-4a1b56a8-011a-11e8-8833-762ac91e07e8.png)
![manual_test_maven](https://user-images.githubusercontent.com/16451875/35336991-510fc282-011a-11e8-873d-4bfa2a908f03.png)

[2018-01-24 14:26] l0rd commented on #522
@fche Dockerfiles for Che workspaces pods in OSIO are here https://github.com/redhat-developer/che-dockerfiles/

[2018-01-24 14:39] ibuziuk commented on #524
@ScrewTSW @rhopp is it reproducible on prod ?

[2018-01-24 15:04] ScrewTSW commented on #524
@ibuziuk It works on prod, prod-preview has the issue and it happens every time

[2018-01-24 15:07] ibuziuk commented on #524
@lord @davidfestal probably some regression introduced with `5.22.1` update

[2018-01-24 15:08] lord commented on #524
yea I bet that's it

[2018-01-24 15:52] alexeykazakov opened #525 "Support multiple public Keys when validating access token signatures"
Che should load all the keys from Identity provider. Not just the first one. For example OSIO Auth service returns multiple keys - https://auth.openshift.io/api/token/keys
Each key has an ID (kid). And each token has a kid header which refers to the key used to sign the token. So, Che should check kid in the token and use the corresponding public key to validate the token.

It's required to suppor

[2018-01-24 16:00] #484 closed

[2018-01-24 16:17] l0rd commented on #438
Closing this one. The work will continue with https://github.com/redhat-developer/rh-che/issues/517

[2018-01-24 16:17] #438 closed

[2018-01-24 16:19] l0rd commented on #472
Closing this one. The remaining work will be tracked by https://github.com/redhat-developer/rh-che/issues/516

[2018-01-24 16:19] #472 closed

[2018-01-24 16:21] #311 closed

[2018-01-24 16:33] l0rd commented on #524
@ScrewTSW would it possible to try to deploy in dev cluster Che 5.20.1 and 5.20.0 and verify if the problme is reporducible on 5.20.1 only? I'm afraid that this could be related to prod-preview environnment.

[2018-01-24 16:36] ScrewTSW commented on #524
@l0rd Yes, I will do that first thing tomorrow :)

[2018-01-24 16:58] l0rd commented on #524
cool thanks @ScrewTSW

[2018-01-24 16:58] #513 closed

[2018-01-24 16:59] l0rd commented on #513
Closing because that's a duplicate

[2018-01-24 19:30] l0rd opened #528 "Use an OpenShift Template in eclipse/che and find a better location"
Currently in eclipse/che [che-openshift.yml](https://github.com/eclipse/che/blob/master/dockerfiles/init/modules/openshift/files/scripts/che-openshift.yml) describes a `List` of OpenShift resources to deploy che-server on OpenShift.

Instead we should use an OpenShift `Template` (as the in minishift-addon and rh-che) and we should find a better location for it (currently it's in the `dockerfiles/i

[2018-01-24 19:30] l0rd commented on #528
cc @benoitf

[2018-01-24 20:23] davidfestal commented on #502
The POC that, with minimal changes, `fabric8_auth` can be authenticated against from Upstream Che, was made on this small standalone project: https://github.com/davidfestal/keycloak-2-oauth

[2018-01-25 09:32] rhopp commented on #524
@l0rd I have 5.22.1 deployed on dev.rdu2c here: https://che-rhopp-che-test.dev.rdu2c.fabric8.io/ configured to run agains prod-preview (keaycloak etc.) and this issue is present there.

[2018-01-25 10:28] ibuziuk commented on #524
@rhopp @ScrewTSW could you verify if the problem is reproducible against `Che 5.22.0` - this version of che is deployed on prod

[2018-01-25 16:45] l0rd commented on #506
The PR has been merged

[2018-01-25 16:45] #506 closed

[2018-01-25 17:42] ibuziuk commented on #524
che was updated on prod and the problem is still not reproducible on prod. @ScrewTSW @rhopp Please, open github issue for openshift.io regarding this problem (looks like some misconfiguration)
[1] https://github.com/openshiftio/saas-openshiftio/pull/560

[2018-01-26 09:41] ScrewTSW commented on #524
@ibuziuk https://github.com/openshiftio/openshift.io/issues/2063

[2018-01-26 11:25] kameshsampath commented on #523
The issue was at my configuration side

1. I was to use the nip.io url in my case than host:port ( i was using minishift)

2. The Che6 has updated the callback url to be http://che-host/api/oauth/callback ( without `wsmaster` from Che 5.x), once I updated I was able to get the oAuth2 with Github configured right.

@l0rd  am closing this.

[2018-01-26 11:25] #523 closed

[2018-01-29 18:05] ibuziuk commented on #504
OSO proxy support is now on prod. Closing

[2018-01-29 18:06] #504 closed

[2018-01-30 16:27] ScrewTSW opened #530 "Cannot create workspace on prod & prod-preview"
**Issue problem:**
osio issue https://github.com/openshiftio/openshift.io/issues/2122
Either with manual creation or through che-starter, the workspace stays in state "STARTING", it loads and then fails to start.

https://pastebin.com/940ztbZq

**Red Hat Che version:**

version:
* Version :1.0.0-SNAPSHOT
* Revision :bb8dee7ccecd2648
* Build Time :2018-01-29 14:43:56

 - [?] I can reproduce it on l

[2018-01-30 16:39] ibuziuk commented on #530
what are the openshift events ?

[2018-01-30 18:32] ScrewTSW commented on #530
None to be noted.

Also, it seems to be working now. Maybe a one-time event?

[2018-01-31 09:21] rhopp commented on #530
Today, this issue is also appearing on prod.
The workspace seems succesfully started (also the workspace pod on OSO is running):
![image](https://user-images.githubusercontent.com/1215011/35614661-236bc0b4-0670-11e8-888e-f358f8ee81ab.png)
But after while it times out with this error:
[code]

There are no suspicious events in OSO.

[2018-01-31 09:30] rhopp commented on #530
When the failure/time occurs, there is this error in web browser console:
[code]

[2018-01-31 09:56] ibuziuk commented on #530
@rhopp @ScrewTSW  does refresh helps ? this might be related to route flapping issue we had some time ago

[2018-01-31 10:48] ScrewTSW commented on #530
@ibuziuk refreshing does nothing.

[2018-01-31 10:49] ibuziuk commented on #530
@ScrewTSW thanks, I have figured out what causes the problem and commented in the upstream issue

[2018-01-31 14:40] ScrewTSW commented on #515
Related: https://github.com/redhat-developer/che-functional-tests/issues/101

[2018-01-31 15:23] ibuziuk commented on #530
upstream issue is closed. Closing also this one. Fell free to reopen

[2018-01-31 15:23] #530 closed

[2018-01-31 16:18] ibuziuk commented on #500
PR is sent https://github.com/eclipse/che/pull/8551

[2018-02-01 03:38] fche commented on #522
@l0rd, thanks, can you point also to the code that merges those images into a DC to launch in the OSO namespace?

[2018-02-01 13:56] rhopp commented on #467
I'm reopening this one, as it is still sometimes seen on prod, as seen in this kibana search: https://logs.dsaas.openshift.com/goto/ce0f1dd614d4a674322616f30f5ae73a

[2018-02-01 14:04] ibuziuk commented on #467
@rhopp Do we have a housekeeping issue for this ?

[2018-02-01 15:14] ibuziuk commented on #515
@ScrewTSW Could you please list the API inconsistencies between che 5 & che 6 ?

[2018-02-02 00:59] JPinkney commented on #188
Still failing, it looks like node isn't installing

[code]

[2018-02-02 14:03] ibuziuk commented on #500
Merged to upstream master. Cosing

[2018-02-02 14:03] #500 closed

[2018-02-02 14:18] l0rd opened #532 "Change the token used to access Che tenant namespace in OSIO"
We currently use users' tokens to create Che workspaces in Che tenant namespace. We need to change that flow to:

At startup:
- [x] Use an openshift secret to login to auth service - PR is sent https://github.com/redhat-developer/rh-che/pull/538
- [x] Get che token from auth service - PR is sent https://github.com/redhat-developer/rh-che/pull/538

When creating/stopping/idling a workspace
- [x] Ge

[2018-02-02 15:32] sbose78 commented on #532
Support for Che to 'login' and get an OSiO service account token tracked in https://github.com/fabric8-services/fabric8-auth/issues/316

[2018-02-04 23:52] l0rd commented on #522
@fche there is no such a DC. Che is creating the DC dynamically when you start the workspace.

Anyway to test your image you don't need to build Che. You can just run Che (on openshift, docker or osio) and edit a stack configuration (see the [doc](https://www.eclipse.org/che/docs/devops/runtime-stacks/index.html#configuring-stacks)). You will need to replace the original image with your new image

[2018-02-05 16:33] ibuziuk commented on #532
Some updates related to:

[code]
Housekeeping issue[1] is closed and now `service.account.id` & `service.account.secret` are added to che secret in prod + preview. What is required from che side is:
- add `service.account.id` / `service.account.secret` as env vars to template[2]
- obtain Che SA token via `POST /api/token` [3] where values provided in env vars are used in request parameters

[1] ht

[2018-02-06 04:57] sbose78 commented on #532
Auth service is prod-preview and prod now supports service account login from Che.

[2018-02-06 07:00] alexeykazakov commented on #532
Not in prod yet.
We need to redeploy prod to pick up the new configuration.

[2018-02-06 19:51] ibuziuk commented on #532
PR for adding  che SA to 'fabric8-tenant-che-mt' - https://github.com/fabric8-services/fabric8-tenant-che/pull/97
PR for adding fabric8-auth endpoint to template -https://github.com/redhat-developer/rh-che/pull/535

@davidfestal am I correct that the migration job does not remove service accounts [1]  ?

https://github.com/fabric8-services/fabric8-tenant-che-migration/blob/master/source/io/fabric8

[2018-02-07 09:04] davidfestal commented on #532
no, it doesn't remove service accounts

[2018-02-07 18:19] l0rd commented on #489
In order to address this issue we should now:
- [ ] Extend the [minishift add-on](https://github.com/minishift/minishift-addons/tree/master/add-ons/che) to be able to run rh-che
- [ ] Improve rh-che README.md to explain how to run rh-che on using the minishift add-on

[2018-02-08 14:29] ScrewTSW commented on #515
Testing against single-user single-tenant minishift che add-on (fabric8-nightly flavor)

Status so far:
[code]

[2018-02-08 15:38] l0rd opened #539 "Run Che terminal in a sidecar container (Docker infra)"
The idea is that we should [attach xtermjs to the runtime container](https://xtermjs.org/docs/api/addons/attach/) instead of executing it inside the runtime container itself. The implementation should provide support for Docker infra only. Kubernetes and Openshift should be supported as a second iteration.

[2018-02-08 16:40] ibuziuk opened #540 "Minishift development environment setup for running rh-che multi-user locally"
Need to have a possibility to run multi-user rh-che locally on minishift. This would require to

- [ ] mock fabric8-auth
- [ ] mock fabric8-wit (api user service)
- [ ] mock oso proxy
- [ ] create workspaces on minishift when running locally
- [ ] document rh-che multi-user local minishift setup

Once https://github.com/redhat-developer/rh-che/issues/532 is resolved it would not be possible to dep

[2018-02-08 16:53] ibuziuk commented on #515
Seems that the main problem is in `POST /workspace` what are the req / resp model differences ?

[2018-02-08 17:17] l0rd opened #541 "Inject user OSO token in runtime machine"
In an OSIO Che workspace, if a user want to have access to the OSO OpenShift API, he needs to `oc login`. That should be automated: we should inject the OSO token of current user as soon as the workspace container is created. And we should set the current project the user namespace.

For instance, with the vertx quickstart, if a user run `mvn clean fabric8:deploy -Popenshift` from the Che terminal

[2018-02-09 15:20] ScrewTSW commented on #515
https://github.com/eclipse/che/issues/5581
The format of workspace API links and channels has been changed

Working on compatible model to accept Che6 response,
Will have to figure out an adapter to reconstruct the necessary data.

[2018-02-12 12:43] l0rd opened #542 "Improve user experience when running multi user Che on OSO Pro"
Following the doc to install multi user Che on OSO Pro may lead to Che not working properly.

- [x] We should test it to find eventual bugs
- [x] We should find a solution for the tokens that may expires (i.e. create the Che service account along with Che during deployment)
- [ ] ~~Add documentation for single user Che with Keycloak~~ will track that on an upstream issue
- [ ] ~~Check if a user is

[2018-02-12 12:50] l0rd opened #543 "RHEL support"
- [ ] [Create a new Che Dockerfile.rhel](https://github.com/eclipse/che/tree/master/dockerfiles/che) that is based on RHEL
- [ ] Create a [Che runtime base stack](https://github.com/eclipse/che-dockerfiles/tree/master/recipes/stack-base) based on RHEL
- [ ] [Che runtime stacks for OSIO](https://github.com/redhat-developer/che-dockerfiles/) should be based on RHEL
- [ ] CI scripts (to build Che) sh

[2018-02-12 12:53] l0rd opened #544 "Create a Workspace.next prototype that separates build and runtime"
![workspace next](https://user-images.githubusercontent.com/606959/36097650-1fede67a-0ffc-11e8-814f-687d54f0dc40.jpg)

[2018-02-12 13:00] l0rd opened #545 "Work with Che Platform team and SD team to make Che upgrade on OSIO"
- [ ] Work with Che Platform team to check if the https://github.com/eclipse/che/issues/8547 would be fixed by the end of this sprint
- [ ] Work with Service Delivery team to work on alternative 3 of https://docs.google.com/presentation/d/132NrNTw6mySXNSzVqqep9rgZQLojlxlpLykw0dGAUfs/edit?usp=sharing

[2018-02-12 13:04] davidfestal opened #546 "Retrieve the `keycloak.js` file from the official NPM package instead of bundling our own"
Retrieve the `keycloak.js` from the official Keycloak NPM package to include it into upstream Che, now that PR https://github.com/keycloak/keycloak/pull/4978 has been merged.

Of course, we should wait for a new Keycloak version to be released first.

[2018-02-12 13:17] #543 closed

[2018-02-12 13:18] l0rd commented on #522
@fche is it ok if we close that now after discussions we had during the osio f2f?

[2018-02-12 13:22] l0rd commented on #528
Sync with Eugene and should be part of https://github.com/eclipse/che/issues/8729

[2018-02-12 13:39] skabashnyuk commented on #546
Is it published on NPM registry already?

[2018-02-12 17:45] l0rd commented on #402
Work on this should be postponed until we have [workspace.next](https://github.com/eclipse/che/issues/8265).

[2018-02-12 17:49] l0rd commented on #540
This issue is blocking #489

[2018-02-12 18:29] l0rd opened #547 "Minishift addon doesn't work after Che 6 released"
https://github.com/minishift/minishift-addons/issues/86

[2018-02-14 09:58] l0rd commented on #542
Building postgresql image on OSO Pro fails. Here are the logs:
https://gist.github.com/jorgemoralespou/67ccfe783e9a8c7330425a4d3f829bf7

@davidfestal do you have an idea of what's happening? On minishift the same build work just fine.

[2018-02-14 10:03] l0rd commented on #539
cc @AndrienkoAleksandr @ashumilova @eivantsov

[2018-02-14 10:12] davidfestal commented on #542
@l0rd looking into the logs it seems the postgres image used is not the same: one is

Successful:

[code]

Failing:
[code]

[2018-02-14 11:20] bartoszmajsak commented on #541
We are working on improving Cube experience around boosters tests in the issue linked above. We definitely need this as a smooth user experience.

[2018-02-14 13:14] garagatyi commented on #542
@l0rd about the case with SA instead of a token. Is there a requirement to execute all the operations with OS entities as a user or it is OK to do operations as an admin?

[2018-02-14 13:47] garagatyi commented on #539
We can probably use a tiny binary file that can communicate in an infrastructure-specific way with other containers of runtime.
On OS/k8s it can use injected user token to access OS API to exec into the target container.
On Docker it is trickier since it doesn't have fine permissions model. So container with this agent would communicate with Docker API and be kinda privileged. Not sure whether thi

[2018-02-14 14:00] eivantsov commented on #539
We already run Che server container that has access to Docker API. Not sure I can say if or not it's secure.

As to bringing OpenShift down by doing verbose execs, this is how things look now and theoretically I can run such loops in OpenShift console terminal windows to pods. Never tried it though :)

[2018-02-14 14:26] l0rd opened #549 "Create Documentation to run Che with an alternate OIDC provider"

[2018-02-14 14:50] l0rd commented on #540
Some thoughts during sprint planning:
- For fabric8-auth mock: adding the code for the mock in fabric8-auth github repository
- For the proxy: maybe the proxy mock is not needed and we could use the openshift endpoint instead and using a dev flag for the token to use

[2018-02-14 14:58] garagatyi commented on #539
@eivantsov

can you elaborate on what containers of a workspace have access to Docker API?

Yeah, good point. But you don't call development stuff in those terminals, so it is safer for me. For development commands, it is very probable to run a command that generates a huge amount of output.
BTW is there anyone whom we can ping to check whether it is a stability issue for OS and if so whether it i

[2018-02-14 14:58] l0rd commented on #501
Cached subjects are not needed anymore, but a link between workspaces and users should be kept to be able to idle workspaces.

[2018-02-14 15:09] eivantsov commented on #539
We don't and won't have such containers. I am talking about Che server container, hinting that if we have one such privileged container in Che infra, running an additional one to handle terminal and execs won't jeopardize the host.

[2018-02-14 15:23] l0rd commented on #544
- [ ] Verify perfs (user experience should not be worst than actual model, i.e. vertx hot redeploy)
- [ ] Verify that we can specify that the 2 containers will run on the same openshift node (with some affinity label)

[2018-02-14 15:30] l0rd commented on #528
The first template should be for multi-user Che with Keycloak and postresql. And the goal is to be able to add Che in the OpenShift applications catalog.

[2018-02-14 15:34] #495 closed

[2018-02-14 15:35] #522 closed

[2018-02-14 15:37] fche commented on #522
I suspect we'll end up having to reopen this anyway - even if we somehow finagle remote API access to that prometheus server, it is unlikely to include user-level instrumentation metrics.  And exfiltrating that data would require this sort of machinery.

[2018-02-14 18:09] l0rd commented on #541
@bartoszmajsak we have not being able to add that issue to current sprint. We haven't enough capacity during this sprint. Anyway I've changed the priority to P1 to make sure that we will take it in consideration during next planning.

[2018-02-15 06:40] eivantsov commented on #542
@davidfestal I can reproduce this issue with `rh-us-east-1.openshift.com`

[code]

[2018-02-15 08:01] garagatyi commented on #539
Oh, I see. I thought we considered one terminal container per workspace and inside of user runtime.

[2018-02-15 14:03] sleshchenko commented on #501
@l0rd So, maybe for getting user by workspace id we can use `Workspace#getRuntime#getOwner`. As far as I understand now it should contain user name https://github.com/eclipse/che/blob/2c2bd6637c8169018e2b33397f9d738bbf82a0b1/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceRuntimes.java#L209-L210.

[2018-02-15 14:17] davidfestal commented on #501
@sleshchenko I'm already preparing a PR where I have added the `userId` in the `RuntimeIndentity`. It's tested locally and works fine.

[2018-02-15 14:21] sleshchenko commented on #501
@davidfestal Great! :+1:

[2018-02-15 16:47] bartoszmajsak commented on #541
Thanks @l0rd for making it highest prio, much appreciated!

After discussions with @ibuziuk and @lordofthejars we have some ideas about how to solve our use case, but let's start with it first.

#### Why we need that

Most of the boosters (if not all) are shipped with integration tests based on [Arquillian Cube](https://github.com/arquillian/arquillian-cube). This tool makes it easy to set up and

[2018-02-16 15:39] l0rd commented on #541
I think we should go for option 2 with username and OSO token injected in Che. @ibuziuk why this should not be ideal?

[2018-02-19 13:49] garagatyi commented on #544
@l0rd can you add more details to this issue? I am not aware of a discussion that produced the photo in this issue and there is no explanation on what is expected to be done in this issue.

[2018-02-20 06:50] l0rd commented on #544
@garagatyi I think we discussed that (this issue details) on mattermost last week so please have a look at your mattermost history. If that's not enough you can ping @gorkem or @slemeur that participated to the original discussion. If you are still blocked move to another issue. I am on PTO and cannot help you more.

[2018-02-20 09:49] bartoszmajsak commented on #541
@l0rd I split option 2 to two, as they are a bit different and I think previously it was slightly confusing from the description. Personally, I think the third one might be the most feasible one.

[2018-02-20 10:27] ibuziuk commented on #541
Well, actually I never told that option 2 is not preferred and actually it looks more robust that 2 since injected OSIO token might be expired by the time Cube adapter would call  `/api/user/services`. @bartoszmajsak could you please clarify why 3 is more appealing than 2 from your perspective ?

[2018-02-20 10:49] bartoszmajsak commented on #541
Then I guess I misunderstood our discussion about che-server and cluster information not being populated. Apologies.

I assumed that OSIO token lifespan is the same as OSO. If the case you are describing holds true, then 2nd option is in fact better. My thinking was that with the 3rd option we don't need to have any knowledge about the cluster we are running in, as this information will come from

[2018-02-20 13:05] ibuziuk commented on #541
This is not the case afaik. Also, I'm wondering since all the oso communications are going to happen via oso proxy is it planned to have endpoint for obtaining oso token at all ? cc: @alexeykazakov
(all oso token direct manipulations where removed from rh-che as part of https://github.com/openshiftio/openshift.io/issues/1683)

This is a fair point, but still there is a problem with OSIO token expi

[2018-02-20 17:26] alexeykazakov commented on #541
1. I don't think OSIO token expiration is an issue here. OSIO token lives much longer than a Che Workspace (30 days for now). And OSO token lives even longer.

2. /api/token endpoint(s) are there and we do not plan to remove them. BTW we added some new functionality to these endpoints (see https://github.com/fabric8-services/fabric8-auth/issues/334)
You can now just use /api/token?for=openshift to

[2018-02-21 12:49] dipak-pawar opened #550 "Inject "app.name" environment variable in Che workspace"
Boosters have a special profile which [defines system property ](https://github.com/snowdrop/spring-boot-http-booster/blob/master/pom.xml#L105) called `app.name` set for integration tests execution (failsafe). This is customizable, as the user can name his project anyhow he wants while using quickstart wizard.

The same property is then used as a service name when injecting [`@RouteUrl`](https://g

[2018-02-21 14:22] bartoszmajsak commented on #550
At the same time, we are discussing other solutions with Booster teams. The only thing we would like to hear from you guys is the feasibility of this approach.

[2018-02-21 16:29] ibuziuk commented on #550
@bartoszmajsak @dipak-pawar am I correct that the issue is about analyzing pom.xml on the fly during project import into Che and setting  env var if property was found?

[2018-02-22 15:07] garagatyi commented on #544
I checked affinity labels and they work.
### Explanation of how to use affinity of pods:
1. Add label to dependency pod on which deployment of dependent pod will rely
[code]
2. Add affinity configuration
[code]
### Pros of affinity
1. Since mount of the same volume to several pods is local in case of affinity there is no cost on syncing, it is instantaneous, bi-directional, and doesn't reduce perf

[2018-02-23 08:13] garagatyi opened #551 "Fix workspace auto-start feature toggle"
**Issue problem:**
For tracking of corresponding upstream issue https://github.com/eclipse/che/issues/8885.
Discovered in https://github.com/eclipse/che/issues/8872
**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of

[2018-02-23 08:24] garagatyi commented on #125
@ibuziuk I think that this issue is not actual anymore. There is no OpenshiftConnector in Che 6. Can we close this issue?

[2018-02-23 08:25] garagatyi commented on #439
Since @sunix is not on the team anymore maybe we should close this issue?

[2018-02-23 08:26] garagatyi commented on #334
@ibuziuk I think that this issue is not relevant anymore. There is no OpenshiftConnector in Che 6. Can we close this issue?

[2018-02-23 08:32] ibuziuk commented on #125
yeah, I belive we can close it as outdated

[2018-02-23 08:32] #125 closed

[2018-02-23 08:33] ibuziuk commented on #334
yeah, let's close it as outdated

[2018-02-23 08:33] #334 closed

[2018-02-23 08:39] #547 closed

[2018-02-23 19:13] bartoszmajsak commented on #541
@garagatyi which route did you choose?

[2018-02-26 10:08] l0rd commented on #544
Thanks @garagatyi that's really clear. Do we know what is the configuration of the [scheduler priorities](https://docs.openshift.com/container-platform/3.7/admin_guide/scheduling/scheduler.html#available-priority-functions) on OSO? This will help to understand how likely we risk to want a pod to be scheduled on a node that is already full (drawbacks 2 and 3)?

[2018-02-26 12:17] garagatyi commented on #544
@l0rd I was using required affinity rule instead of preferred. The difference is that prefer rule use priorities but require rule does not. It will guarantee that if the pod is scheduled at all it is scheduled on a node we need for sure. So priorities don't apply here.
On the other hand, if we have an ability to properly work with pods scheduled on different nodes (e.g. volumes sync mechanism such

[2018-02-26 20:52] garagatyi commented on #541
I'm going to execute `oc login` on a start of a workspace. It will include cluster, project, and token.

[2018-02-27 07:27] skabashnyuk commented on #544
@riuvshin  can you take a look on openshift team response?
<img width="999" alt="2018-02-27 09 25 59" src="https://user-images.githubusercontent.com/1614429/36715757-46ef60f0-1ba0-11e8-9b25-81a4587f3b6a.png">

[2018-02-27 07:39] garagatyi commented on #544
I checked hot redeploy of vertx and it works. Here are additional steps to check it:
9. Open vertx web page by address of the route `oc get routes vertx`
10. Enter something into the input field and see that message is `{"content":"Hello, something!"}`
11. Change hello word in the source file:
`oc exec edit -- sh -c 'cd /projects/test/ && sed -i "s/Hello/Hola/" src/main/java/io/openshift/booster/H

[2018-02-27 10:00] ibuziuk commented on #515
che-starter integration tests are passing against che6 https://github.com/redhat-developer/che-starter/pull/266

[2018-02-27 13:21] l0rd opened #552 "Reduce workspaces idle timeout to 30 min on OSIO"
Che workspaces are currently idled after 1h of inactivity of the user. We should reduce it to 30 minutes.

[2018-02-27 15:44] ibuziuk commented on #542
Was able to deploy multi-user che on oso Pro following che 6 docs [1] and did some quick tests for workspace creation. Seems to work fine OOTB (s2i is not used anymore for db deployment)

sa token is already used by default for oso deployment. However, all workspaces must be created in the same namespace where che-server is deployed (sa token has rights only inside the namespace). More details in

[2018-02-27 18:03] l0rd commented on #542
Ok to create an upstream issue for handling the error about 2 services with the same name

And then I think we can close this issue

[2018-02-27 18:04] ibuziuk commented on #542
ok, will create one. What about docs ?  single user Che with Keycloak / how to deploy multi-user che to oso and point to existing keycloak instead of using the default one  / how to allow workspace creation in new namespaces instead of reusing the one where che-server is deloyed ?

[2018-02-27 18:10] l0rd commented on #542
I would say:
- doc for single user che on oso (aka not secured che) -> *no*
- doc for deployment with existing keycloak -> *yes*
- doc to run ws in distinct namespace -> *no*

@slemeur what do you think?

[2018-02-27 19:31] slemeur commented on #542
+1
- We could have a mention about why we do not recommend to deploy Che single-user on OSO
- I don't think running ws in distinct namespace with OSO is necessary for the time being. We would better recommend OSD in this situation.

[2018-02-28 01:19] eivantsov commented on #542
Docs cover how to deploy using existing Keycloak. And how to configure namespace policy for ws objects

[2018-02-28 11:26] ibuziuk commented on #542
@eivantsov thanks for the pointer - was able to find the doc about using existing keycloak [1]. However, I was not able to find relevant info about workspace nemespace policy. There is a documentation for defining `CHE_INFRA_OPENSHIFT_PROJECT` so that workspaces would be created in the same namespace as che server. However, I think there should be also instructions for:
- creating workspaces in ne

[2018-02-28 12:53] ibuziuk commented on #542
Issue for recipe / service name validation https://github.com/eclipse/che/issues/8960

[2018-03-05 09:20] l0rd opened #556 "An OCP bug prevent from running LS as sidecars in same Pod"
This is about https://github.com/eclipse/che/issues/8134 ([OCP bug](https://bugzilla.redhat.com/show_bug.cgi?id=1550613) and [Origing bug](https://github.com/openshift/origin/issues/17981))

[2018-03-05 09:48] l0rd opened #557 "Provide a better error message when PV failed to be attached"
This is the message that is shown to the user:
![PV error](https://user-images.githubusercontent.com/642621/36909621-81a63f66-1e0c-11e8-89b9-a65b541b9597.png)

In che-server logs there are no details:
[code]

But in the OpenShift event logs we can see that the problem is "Unable to mount volumes for pod"

![failed](https://user-images.githubusercontent.com/1215011/35686418-83033ed8-076c-11e8-924c-

[2018-03-05 13:13] l0rd commented on #451
The java_opts in this PR may be outdated with respect to the one set on upstream Che. When evaluating these we should have a look at upstream java_opts.

[2018-03-05 13:37] #551 closed

[2018-03-05 13:41] l0rd commented on #557
We need to verify how Che 6 behaves. Maybe the error is better handled on Che 6.

[2018-03-05 13:48] l0rd commented on #481
Migration pod can be triggered by init-tenant and reused to do the cleanup.

[2018-03-05 13:59] l0rd opened #560 "Look at how factories work on OSIO"

[2018-03-05 16:47] ibuziuk opened #563 "Che 6: Error building che/rh-che without dashboard"
**Issue problem:**

building che/rh-che without dashboard is failing:

[code]

[2018-03-06 09:11] l0rd opened #566 "Workspace.next - split build and runtime containers"
TBD

[2018-03-06 09:27] l0rd opened #567 "Workspace.next - WorkspaceBuilderService support for k8s Deployment"
TBD - depend on https://github.com/eclipse/che/issues/8703

[2018-03-06 09:41] l0rd opened #568 "Che 6: ClassNotFoundException (LogstashEncoder) when starting Che"
The exception stack trace:

[code]

[2018-03-06 10:27] skabashnyuk commented on #568
you do not have logstash-logback-encoder jar in your war file.

[2018-03-06 11:29] ibuziuk opened #569 "Che 6: preview url is not rendered correctly for vertx booster"
**Issue problem:**
![preview_url](https://user-images.githubusercontent.com/1461122/37030017-a83adabc-2139-11e8-9313-04292e5f697d.png)

**Red Hat Che version:**
reproduced against prod-preview che 6 https://rhche.prod-preview.openshift.io

version: (help/about menu)

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**
Create workspace against vert.x stacexek with vertx http

[2018-03-06 11:31] ibuziuk opened #570 "Che 6: GitHub plugin is included in che 6 build"
**Issue problem:**
GitHub plugin is available in che 6, but it should be excluded from `rh-che6` build:
![github_plugin](https://user-images.githubusercontent.com/1461122/37030163-34a775c8-213a-11e8-94fe-8c6da4cbb8ad.png)

**Red Hat Che version:**

version: (help/about menu)

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runti

[2018-03-06 11:36] garagatyi commented on #569
The reason is that previewUrl has changed its format in Che6 and stacks in rh-che weren't updated properly

[2018-03-06 11:42] skabashnyuk commented on #570
@ibuziuk  your image was related to contribution plugin. Are you sure you need to exclude github support?

[2018-03-06 11:43] ibuziuk commented on #570
@skabashnyuk will let @gorkem & @slemeur to comment here. AFAIK, in che 5 it was excluded

[2018-03-06 11:48] garagatyi commented on #569
I can take a look and fix it

[2018-03-06 11:53] garagatyi commented on #569
BTW there are no servers in stacks.json file at all. So preview URLs would not work in any case in my opinion.

[2018-03-06 12:02] #541 closed

[2018-03-06 12:06] bartoszmajsak commented on #541
Thanks @garagatyi for this important improvement. Can you give me a rough date when we can is it on OSIO prod-preview? /cc @l0rd

[2018-03-06 12:06] gorkem commented on #570
The early deliveries to OSIO excluded it but I think we started to include it after we changed the assembly packaging.

[2018-03-06 12:33] benoitf commented on #569
is that existing workspaces need to be migrated as well to include this server definition ? or only new workspaces

[2018-03-06 12:33] garagatyi commented on #569
I think both

[2018-03-06 12:39] garagatyi commented on #541
@bartoszmajsak I don't know when Che6 will be deployed on prod-preview with my changes.
@l0rd @davidfestal maybe you guys can help?
BTW here is a demo https://drive.google.com/file/d/1zxcZ0lDftJnodY_3l5QxP79gkybXpYZw/view?usp=sharing

[2018-03-06 12:45] ibuziuk commented on #541
@garagatyi @bartoszmajsak it is already on prod-preview ;-)

[2018-03-06 12:49] garagatyi commented on #541
@ibuziuk but I mean including my changes that I did today

[2018-03-06 12:50] ibuziuk commented on #541
your changes should be already available on https://rhche.prod-preview.openshift.io/

[2018-03-06 13:48] dipak-pawar commented on #541
@ibuziuk changes for this issue are available on https://rhche.prod-preview.openshift.io/. but I cannot see it on https://che.prod-preview.openshift.io.

![screenshot from 2018-03-06 19-04-53](https://user-images.githubusercontent.com/7941617/37035427-8ac65c2a-2172-11e8-80bb-0a113150a19d.png)

Any idea when this changes(which is already available for https://rhche.prod-preview.openshift.io) will b

[2018-03-06 13:51] ibuziuk commented on #541
@dipak-pawar it is expected. This change would be only in brand new che 6 AFAIK. We are not planning to port it to che 5 since we would migrate to che 6 in a short run (this / next week )

[2018-03-06 13:52] ibuziuk commented on #541
btw, https://rhche.prod-preview.openshift.io is che 6 osio prod-preview

[2018-03-06 13:54] dipak-pawar commented on #541
@ibuziuk Thank you for confirming.

[2018-03-06 15:18] garagatyi commented on #569
I fixed preview URLs and ports publishing in new workspaces.
@l0rd do you think we should add a migration to fix it in existing workspaces?

[2018-03-06 15:19] ScrewTSW opened #572 "Simplify deployment of che-server on osio/minishift"
**Issue problem:**
We need a way to make deployment of che-server easier on the user, simplifying/automating the steps.

**Red Hat Che version:**

version: 5.22.x & 6.1.x

**Runtime:**

runtime used:
   - [X] minishift (include output of `minishift version`)
   - [X] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output of `kubectl version

[2018-03-06 15:45] garagatyi commented on #528
I suggest changing structure in the following way:
[code]

[2018-03-06 16:14] l0rd opened #574 "Add che-migration-service app to dsaas"
- [x] Che-starter
    - [x] Adding toggle for Che6 and handle the migration-service call (Ilya - `5` working hours)
- [x] Che migration service
    - [x] Make an asynchronous call to migration-service (David)  (Ilya - `5` working hours)
- [x] Che migration service
    - [x] ~~Use the Che secret to ask fabric8-auth the Che token~~ Use user KC token to call Che API and OSO Proxy (David)
    - [x] Cr

[2018-03-06 17:24] l0rd commented on #569
@garagatyi Che 6 is not in prod yet so I guess that there is no workspace to migrate (and we don't need to migrate prod-preview workspaces).

[2018-03-06 17:38] davidfestal opened #575 "Make the Che 6 migration REST endpoint compatible with asynchronous calls"
For the Che6 migration, the `che-starter` would directly trigger the migration through a REST endpoint. Since `che-starter` is asynchronous, the Che 6 migration endpoint should be compatible with asynchronous requests (with HTTP 202 status code, etc ...)

Part of the epic #574

[2018-03-06 17:58] l0rd commented on #528
From @benoitf

[2018-03-06 18:06] l0rd commented on #482
OpenShift connector is being dismissed so this issue is not relevant anymore

[2018-03-06 18:06] #482 closed

[2018-03-06 20:49] davidfestal opened #576 "In the Che 6 migration endpoint, use the user KC token to call Che API *and* OSO Proxy"
For the Che 6 migration to be integrated in the `dsaas` services and called from the `che-starter`, the migration REST endpoint should be modified to allow connecting to the OSO proxy with the KC token, instead of connecting to the current cluster / namespace.

[2018-03-06 21:00] davidfestal opened #577 "Create the new dsaas service for the che migrations"
For the Che6 migration, the che-starter would directly trigger the migration through a REST endpoint.
This Che migration REST application should be setup as a dsaas service.
This includes creating the service yaml file, possibly adapting the existing CI scripts.

[2018-03-07 07:48] garagatyi commented on #569
I mean migration of existing workspaces from Che5 to Che6 on prod. @davidfestal can you point me to a place where stacks are migrated?

[2018-03-07 09:02] l0rd commented on #569
@garagatyi so you are saying that the preview links of an existing Che 5 workspace (a link that worked fine with Che 5) won't work anymore when the workspace is migrated to Che 6?

Anyway the Che migration service repo is [here](https://github.com/fabric8-services/fabric8-tenant-che-migration)

[2018-03-07 09:06] davidfestal opened #578 "Work on removing the `ownerName` from the `RuntimeIdentity`"
This is mainly to remember the following upstream issue which I'm expected to work on quite soon: https://github.com/eclipse/che/issues/8859

[2018-03-07 09:12] davidfestal commented on #569
But the repo is not up-to-date currently. I'll push on a branch today so that @garagatyi can have a look.
OTOH, what I propose is that we _**open a separate issue**_ with all the additional required changes to apply to the workspace json during the Che 6 migration.
Then I'll be able to setup the appropriate mechanism to support them all.

[2018-03-07 10:00] garagatyi commented on #569
@l0rd yes, we need to migrate workspaces configs from Che5.

@davidfestal Please let me know when the repo is updated.

@l0rd WDYT about a separate issue for migration details suggested by David?

[2018-03-07 10:25] l0rd commented on #569
@garagatyi +1 for separate issue with lower priority. We are not in GA, we are not even sure if there will be one user that will face this problem. I believe that current users ( beta testers) create new workspaces more than restart new ones.

We do migration of workspaces to be sure that users won't lose their data but it's more of an exercise for us rather than a true requirement.

[2018-03-07 10:29] garagatyi commented on #569
@l0rd if so we completely skip migration and spend this time on the other stuff

[2018-03-07 10:29] #569 closed

[2018-03-07 11:04] l0rd commented on #528
@garagatyi by the way helm convention requires that `chart.yaml` (`helm.yaml`) lives in a folder that has the helm chart name. Something like:

[code]

[2018-03-07 11:16] garagatyi opened #579 "Additional steps to migrate workspaces from Che5 to Che6"
**Issue problem:**
I Che 6 workspace model has changed a bit and some other stuff from workspace configuration has changed too. We need to change them if we want to migrate existing workspaces properly.
What to change:
- rename field agents to installers
- fix preview URLs
Example:
From `"previewUrl": "http://${server.port.5000}",` to `"previewUrl": "${server.5000}",`
Here protocol is now part of

[2018-03-07 11:17] garagatyi commented on #569
I created an issue #579

[2018-03-07 14:05] ibuziuk opened #581 "che-starter does not correctly create che 6 workspaces"
**Issue problem:**

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output o

[2018-03-07 14:07] l0rd commented on #507
Not relevant for Che 6 anymore (needs a different implementation)

[2018-03-07 14:07] #507 closed

[2018-03-07 14:14] l0rd commented on #502
To close this issue documentation for upstream Che should be included (estimation for this issue include docs)

[2018-03-07 14:15] rhopp opened #582 "che6 workspaces created by che-starter do not work"
**Issue problem:**
Workspaces created by che-starter are missing installers - most importantly ws-agent which is crucial for proper workspace startup.

The weird thing is, that when you open the workspace while it's starting, it seems that it is started ok. But opening it after it's already started gives you error.

I've captured this weird behavior in this screencast: https://youtu.be/5H7QncBXL-Q

[2018-03-07 14:16] l0rd commented on #525
Closing because #502 will take care of it

[2018-03-07 14:16] #525 closed

[2018-03-07 14:17] rhopp commented on #581
Closing as duplicate of https://github.com/redhat-developer/rh-che/issues/582

[2018-03-07 14:17] #581 closed

[2018-03-07 14:24] #501 closed

[2018-03-07 14:27] #542 closed

[2018-03-07 14:28] #516 closed

[2018-03-07 14:48] ibuziuk opened #583 "Adding toggle for Che6 and handle the migration-service call"

[2018-03-07 16:51] ibuziuk commented on #583
`migrate.to.che6` toggle have been added

[2018-03-07 16:57] ibuziuk commented on #574
FYI. `migrate.to.che6` toggle have been added to prod / prod-preview with `userWithId` strategy

[2018-03-08 09:14] ibuziuk commented on #582
@rhopp PR with fix is merged. Could you please verify that now workspace creation via che-starter works correctly against both che 5 & che 6? (all installers are there / possible to run & debug vertx project / preview url is rendered correctly)

[1] https://github.com/redhat-developer/che-starter/pull/277

[2018-03-08 10:45] rhopp commented on #582
I've verified this problem is gone now. I've already wrote simple integration test for this particular issue: https://github.com/redhat-developer/che-starter/pull/279

I'll do some more testing with che starter and che6 in next few days. Closing this issue. Will open new one if I find something.

[2018-03-08 10:45] #582 closed

[2018-03-08 11:40] ibuziuk commented on #583
Adding support of unleash toggle - https://github.com/redhat-developer/che-starter/pull/280

[2018-03-08 14:36] l0rd commented on #560
Factories work out of the box. I have created a factory from a vertx-http workspace and was able to use it and share it with other users.

The only issue was that the progress of the workspace launch was not shown (I've opened an issue https://github.com/eclipse/che/issues/9049).

[2018-03-08 14:36] #560 closed

[2018-03-08 15:45] ibuziuk commented on #583
Adding che 6 support based on toggle - https://github.com/redhat-developer/che-starter/pull/281/

[2018-03-13 12:32] #568 closed

[2018-03-13 17:38] garagatyi opened #587 "Fix permissions issue with workspace idling on RH-Che6"
**Issue problem:**
In rh-che 6 workspace idling is broken. We need to fix it before deploying Che 6 on prod.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Op

[2018-03-14 10:33] garagatyi opened #589 "Rework stack.json to prevent bad UX on UD"
**Issue problem:**
In Che6 docker image name moved from field `location` to field `content`. This is backward compatible change on the server side. But UD doesn't support the old notation. So we need to adapt our stacks to prevent inability of a user to change workspace config from UD.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Repr

[2018-03-14 12:57] dipak-pawar opened #590 "JAVA_HOME is null when running test via UI"
**Issue problem:**
Env variable `JAVA_HOME` is null when running tests from UI. Whereas it's working as per expectation when running maven build from terminal.

**Reproduction Steps:**
* open project https://github.com/dipak-pawar/che_java_home_reproducer in che
* Run  Junit Test from UI.

**Stack Tested**
* vert.x
* java-centos

**Runtime:**

runtime used:
   - [x] OpenShift.io

[2018-03-14 16:36] #552 closed

[2018-03-14 16:47] garagatyi opened #592 "Deployment is not reacting to failure of start of Che API war as to pod start failure"
**Issue problem:**
When some env var is missing Che API war fails to start. But OS treats rh-che pod as healthy and running whereas it should treat it as unhealthy or even not started yet.
Since we have liveness probes we need to figure out why they don't work as expected.
And we can also consider adding readiness probes configuration.

**Red Hat Che version:**

version: (help/about menu)

 - [ ]

[2018-03-14 16:54] garagatyi opened #593 "Make json logger log tomcat logs"
**Issue problem:**
We have a configuration that wraps application logs as jsons to store them using ELK stack. These logs contain logs of API war other wars but don't contain logs of tomcat itself. It is very critical because in case api war didn't start correctly there are useful logs with stack traces but they are accessible from the inside of the rh-che pod only.
I believe that we need to add l

[2018-03-14 17:01] ibuziuk commented on #583
Closing. Available on prod

[2018-03-14 17:01] #583 closed

[2018-03-14 17:08] garagatyi opened #594 "Port possibility to tune logger level for different components from upstream Che"
**Issue problem:**
Upstream Che has a feature to tune logger level for different components that can be configured using an environment variable.
With this feature, we can enable debug log level for a class or package which may be useful for the investigation of different problems on prod.
We can change config map and redeploy app to change it instead of changing sources, recompiling and deploying

[2018-03-15 10:41] garagatyi opened #595 "Che shows non user friendly message when access to OSIO API fails"
**Issue problem:**
I tried Rh-che6 on prod and got next error:
![image](https://user-images.githubusercontent.com/1851863/37458377-8891bc24-284d-11e8-92fd-1a25e7f3b889.png)
which is not user-friendly and doesn't provide any useful information to a user.
Here are stack traces:
<details>

[code]
</details>

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest off

[2018-03-15 10:52] garagatyi commented on #590
I think it is an issue for upstream Che project. Please, create an issue there.

[2018-03-15 12:49] dipak-pawar commented on #590
@garagatyi Created issue in upstream https://github.com/eclipse/che/issues/9105

[2018-03-15 16:02] garagatyi commented on #590
So let's close the issue and track the progress in the upstream repo

[2018-03-15 16:02] #590 closed

[2018-03-16 15:30] #589 closed

[2018-03-16 15:30] #587 closed

[2018-03-19 11:40] davidfestal commented on #579
This was integrated to the https://github.com/fabric8-services/che-tenant-maintainer

[2018-03-19 11:40] #579 closed

[2018-03-19 11:45] davidfestal commented on #577
Finished and pushed to production

[2018-03-19 11:45] #577 closed

[2018-03-19 11:46] davidfestal commented on #576
Finished and pushed to production

[2018-03-19 11:46] #576 closed

[2018-03-19 11:49] davidfestal commented on #575
Analysis started, but this was finally not necessary (done on the che-starter side only)

[2018-03-19 11:49] #575 closed

[2018-03-19 11:55] davidfestal commented on #477
The migration has been implemented [here](https://github.com/fabric8-services/che-tenant-maintainer) and is available as an internal REST service application in dsaas services.

@l0rd should we wait for the migration to be finished for all users to close this issue ?

[2018-03-19 11:57] davidfestal commented on #574
Migration service is ready on dsaas production. it seems only the work with SD team about massive migration script is remaining to close this issue.

[2018-03-19 12:33] l0rd commented on #477
@davidfestal we can close it now

[2018-03-19 12:33] #477 closed

[2018-03-19 21:53] rhopp opened #597 "Bayesian lsp not working on che6 on osio"
**Issue problem:**
Bayesian ls is not working on che6 on osio.
Bayesian LSP server is enabled in workspace config, but even though I don't get any bayesian warnings in pom.xml.
Doing `ps aux |grep baye` in terminal does not show any bayesian process running.

**Red Hat Che version:**

version: 6.2.0

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**
* Create new workspace

[2018-03-20 12:42] garagatyi opened #599 "Rework injection of OSO login to user namespace to a simpler approach"
**Issue problem:**
To implement injection of OSO login to a user namespace in rh-che I added class `RhCheInfraEnvironmentProvisioner` that replaces class from upstream via binding and adds some env vars to the deployment setup.
Even though this works the approach I've used makes rh-che more dependent on changes in upstream Che code (not APIs) instead of using some more stable pluggability point.
I

[2018-03-20 12:48] garagatyi commented on #599
Blocked by https://github.com/eclipse/che/issues/9145, https://github.com/eclipse/che/issues/8989

[2018-03-23 09:32] l0rd commented on #149
Original PR was created on minishift repository https://github.com/minishift/minishift/pull/1967

Minishift team asked to move this PR to minishift-addon repo. Before we could do that the test framework needed to be ported to that repo too https://github.com/minishift/minishift-addons/issues/67.

Yesterday the framework has been ported so we can proceed with the new PR.

[2018-03-23 12:02] #592 closed

[2018-03-23 12:02] #597 closed

[2018-03-23 12:52] garagatyi commented on #528
@l0rd AFAIK Joseph Callen has already done some work on adding Che to the service catalog using ansible playbook. Also, PR from Eugene doesn't contain a single template for Che - some manual steps are still required.
Can you elaborate on what is needed to be done for this issue?

[2018-03-23 15:06] rhopp opened #603 "rhche logs are not correctly parsed by kibana"
**Issue problem:**
I wanted to do a simple kibana search for all errors rhche reported in logs. And while doing so I stumbled upon weird thing. It seems, that all logs from rhche (and che) pods have level:info in kiabna.

This is what s in rhche pod log:
[code]
(notice the level:"WARN")

But in kibana, this entry has level:"info"
Here is the same entry in kibana (if you have access):
 https://logs

[2018-03-26 09:22] davidfestal commented on #549
Documentation added an merged here: https://github.com/eclipse/che-docs/pull/375

[2018-03-26 09:22] #549 closed

[2018-03-26 09:25] davidfestal commented on #502
The upstream PR https://github.com/eclipse/che/pull/8650 has been merged, and the corresponding `rh-che` PR [here](https://github.com/redhat-developer/rh-che/pull/600) is ready and waiting for:
- approval
- the next upstream Che release (since it requires upstream changes that will only be available in next upstream release)

[2018-03-26 11:53] l0rd commented on #572
@ScrewTSW  closing because it looks like a duplicate of #489 #540. Feel free to re-open

[2018-03-26 11:53] #572 closed

[2018-03-26 12:32] l0rd commented on #595
This is rh-che specific when contacting the `fabric8-user` service.

[2018-03-26 12:44] l0rd commented on #481
Now that che-maintenance service is deployed in dedicated we could use it to do the cleanup.

[2018-03-26 12:52] l0rd commented on #556
It's not likely that this problem will be resolved OpenShift side in a timely manner so we should look at:
- Figure out the workaround for that issue
- Document the workaround

[2018-03-26 13:07] l0rd opened #606 "Condenvy.io transition"
Start working on the condenvy features that we need to port to openshift.io

[2018-03-26 13:08] davidfestal opened #607 "Notify user as soon as his workspace has been idled"
**Issue problem:**

When a running workspace is idled, but the browser tab is not closed, if the user comes back to the workspace tab, he doesn't have any notification that the workspace has been idled, and might start experiencing unexpected behaviors when trying to work with it again.

**Red Hat Che version:**

version: Upstream 6.2.0

[2018-03-26 13:09] l0rd opened #608 "Remove dashboard features that are not supposed to work on OSIO"
Some features like custom dockerfile based stack just don't work on OSIO so these should be not enabled on Che dashboard on OSIO:

- [x] compose recipe is not supported on openshift.io  [#779](https://github.com/redhat-developer/rh-che/issues/779)
- [x] Custom Dockerfile based stacks
- [x] Impossible to import from github account from the dashboard #727
- [ ] Unable to remove default machine while

[2018-03-27 15:31] ibuziuk commented on #149
@rhopp if you or @ScrewTSW would like to work on this also it would be great - feel free to add it to your sprint backlog ;-)

[2018-03-28 08:06] rhopp commented on #149
Assigned to @Katka92 and changed milestone to sprint 147.

[2018-03-28 13:37] l0rd opened #610 "Workspace.next step1 - infrastructure implementation"
Tasks:
- Create k8s (done) and Openshift appliers of Workspace.next stuff
- Fetch Feature list from a workspace attributes
- Fetch Feature objects from Feature API instead of hardcoding it
- Try to make workspace-loader app load Theia by default for Workspace.Next enabled workspaces

[2018-03-28 13:37] l0rd commented on #566
closing, will be replaced by #610

[2018-03-28 13:37] #566 closed

[2018-03-28 13:38] l0rd commented on #567
closing. replaced by #610

[2018-03-28 13:42] l0rd opened #611 "Create a RHEL based Che Dockerfile"
We currently have only CentOS and Ubuntu based Dockerfiles. We need a RHEL based image too to run on OSIO.

[2018-03-28 13:53] l0rd opened #612 "Set up osio error tracking to send e-mails when exceptions occurs in prod or prod-preview"
Add rhche to errortracking.prod-preview.openshift.io https://gitlab.cee.redhat.com/dtsd/housekeeping/tree/master/docs/errortracking/getting_started.md

[2018-03-28 13:56] l0rd opened #613 "Add some doc about how to test rhche on dev-cluster"
- how to deploy
- how to debug wsmaster
- how to debug wsagent

[2018-03-29 08:55] garagatyi commented on #606
Is there any clarity on what has to be done in this epic?

[2018-03-29 09:00] garagatyi opened #614 "Remove everything related to building assembly without dashboard"
**Issue problem:**
We decided to close [issue](https://github.com/redhat-developer/rh-che/issues/563) because we don't need a packaging without the Che UD. We need to cleanup repo from it.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] min

[2018-03-29 09:54] l0rd commented on #606
Not yet I beleive

[2018-03-29 12:48] rhopp opened #615 "Unable to push to github repo from prod-preview"
**Reproduction Steps:**
1) Create workspace with codebase from users github repo (github repo connected to this user in openshift.io) (In my case it was https://github.com/rhopp/vertx-http-booster.git)
2) Make some changes
3) Commit those changes
4) Push those changes - ERROR:
![image](https://user-images.githubusercontent.com/1215011/38089492-dc6ead4e-335f-11e8-80b4-0e8ab75582ad.png)

rhche logs:

[2018-03-30 10:41] garagatyi opened #617 "Remove data volume used for storing Che master logs and agents binaries"
**Issue problem:**
There is an option not to use a volume for storing logs and agents binaries in [upstream Che](https://github.com/eclipse/che/pull/9236).
We should do it too [in rh-che](https://github.com/redhat-developer/rh-che/blob/rh-che6/openshift/rh-che.app.yaml#L33).

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction St

[2018-04-03 08:43] #578 closed

[2018-04-03 12:11] ibuziuk commented on #521
https://github.com/openshiftio/openshift.io/issues/1439 is closed, so closing this one

[2018-04-03 12:11] #521 closed

[2018-04-04 11:57] ScrewTSW commented on #468
@l0rd maybe can be closed? outdated issue?

[2018-04-04 12:07] ScrewTSW opened #621 "Import project from GitHub"
**Issue problem:**
API for connecting `GitHub` accounts doesn't work.

**Red Hat Che version:**

version: 6.3.0

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

When creating a new workspace in RH-Che, click `Add or Import Project`, select `GitHub` tab, click `Connect your GitHub Account`

Results in `404`

Suspicious URL: `https://`github.com/login/oauth/authorize?cli

[2018-04-05 14:06] garagatyi opened #622 "Failed to store stacks from 'che-in-che.json'"
https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/2404/

[code]

[2018-04-05 17:14] ibuziuk commented on #557
Was able to reproduce the issue by starting pod and executing blocking operation before creating workspace:

`
apiVersion: "v1"
kind: "Pod"
metadata:
  name: "mypod"
  labels:
    name: "mypod"
spec:
  containers:
    -
      name: "mypod"
      image: "registry.access.redhat.com/rhel7-atomic"
      command:
        - /bin/bash
        - '-c'
        - >-
          echo "Sleeping for a long time..

[2018-04-05 22:09] l0rd commented on #468
@ScrewTSW yes closing

[2018-04-05 22:09] #468 closed

[2018-04-06 07:40] garagatyi opened #624 "Send error logs from Tomcat to Sentry"
**Issue problem:**
PR #623 adds sending of error and warning logs to Sentry. But it doesn't include logs from tomcat itself.
To configure tomcat to send these logs we need to repack tomcat-juli archive to add sentry there and configure tomcat-logger.xml.

[2018-04-06 07:55] garagatyi opened #625 "On start of Che message `Admin admin not found yet.` appears"
https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/2405/

[code]

[2018-04-06 08:41] rhopp opened #626 "Change claim-che-workspace PVC from 10GB to 1GB"
**Issue problem:**

When `claim-che-workspace` PVC is not present in `<username>-che` namespace, che tries to create one, but 10G. Due to OSO resource restrictions, this fails -> workspace startup fails.

Possible workaround:
Go to openshift.io -> profile -> update profile -> reset environment, or update tenant.

**Red Hat Che version:**

version: rhche.openshift.io

 - [ ] I can reproduce it on l

[2018-04-06 08:51] ibuziuk commented on #626
technically speaking this situation should never happen once user will not have edit rights [1] in *-che namespace. BTW, pvc claim-che-workspace is created during update / init tenant when template [1] is applied [2] (1Gi storage / ReadWriteOnce access mode)

[1] https://github.com/redhat-developer/rh-che/issues/532
[2] http://central.maven.org/maven2/io/fabric8/tenant/packages/fabric8-tenant-che-

[2018-04-06 11:29] garagatyi commented on #626
But in case of on-prem OSIO/Che or Pro accounts on OS, we can't guarantee that, can we?

[2018-04-06 11:30] garagatyi commented on #557
Minishift is a single node installation. You can mount the same volume to any amount of pods there.

[2018-04-06 12:04] davidfestal commented on #481
A new `cleanWorkspaces` endpoint has been implemented in the `che-tenant-maintainer` dsaas service, and will be available (when PR https://github.com/fabric8-services/che-tenant-maintainer/pull/14 is merged) from other dsaas services at the following URL:
[code]
I assume it should be called, on `reset environement` from the tenant sevrice.

The required request headers are:
- `X-Request-Id`: the r

[2018-04-06 13:17] garagatyi commented on #603
Fixed by the update of prod and prod-preview to openshift 3.7

[2018-04-06 13:17] #603 closed

[2018-04-06 14:06] davidfestal commented on #481
cc @aslakknutsen

[2018-04-07 04:33] eivantsov commented on #557
We used to have events in machine logs in Che 6. @akorneta @garagatyi should we maybe bring them back? It is a critical piece for Che 6 as on prem too. Makes support life easier.

[2018-04-07 09:53] ibuziuk commented on #557
hmmm... I did not know about that. Why openshift events were removed ?

[2018-04-09 10:26] ibuziuk commented on #557
it looks like publishing openshift events & tracking pod "Failed" state were removed as part of the following PR [1]. Related upstream issue for bringing this functionality back [2]

[1] https://github.com/eclipse/che/pull/7629
[2] https://github.com/eclipse/che/issues/7653

[2018-04-09 11:17] eivantsov commented on #557
Raised priority on this one

[2018-04-09 11:46] ibuziuk commented on #557
@eivantsov thansk, those issues are coupled but not fully related. e.g. `AbnormalStopHandler` will not be able to handle volume mount / attach case since it tracks only the state of the pod and throws exception only  when pod has "Failed" status. In case of Failed Attach Volume / Failed Mount the status of pod is still "Container Creating", Looks like there should be some `UnrecoverableEventHandle

[2018-04-09 12:08] ibuziuk commented on #626
well, in case of on-prem / pro I believe che server could try to create pvc. I believe it already does it in che 6 but always trying to allocate default 10G. Posting @gorkem comments about this situation:

[2018-04-09 12:11] eivantsov commented on #557
@ibuziuk I see.

Yes, the idea is to get openshift events related to a ws pod - pulling image, container created etc. Smth that you have in OpenShift console and smth that is helpful to understand why a pod failed to start.

@akorneta @sleshchenko you are welcome to share your thoughts

[2018-04-10 05:43] garagatyi commented on #626
Let's do this in 2 steps:
1. Set current defaults for RhChe to 1GB - easy and fast. Also, ensure that behavior will be as expected.
1. Create an issue to try to evaluate possible value as Gorkem suggested and prioritize it accordingly.

[2018-04-10 05:49] garagatyi opened #627 "If volume claim for workspace is missing try to evaluate its parameters before creation of it"
**Issue problem:**
Now Che can create PVC for a workspace but it uses hardcoded value.
This is not the best case when quotas are changing, so the behavior of Che might stop workspace start and when different users have different quotas - onprem, OSO PRO, etc.
Instead, we should add an ability for Che to evaluate possible value of quota for a PVC and create PVC with such value.
It wouldn't cover al

[2018-04-11 13:07] l0rd opened #629 "Che 6: "Workspace is not running" popup creating a workspace from codebase UI"
## Steps to reproduce:

1- From "Codebase", click on "Create Workspace"
2- IDE is loading and once loaded displayed to the user

Current output:
- IDE is displaying "workspace is not running [Start]" popup.

Expected output:
- The workspace is automatically started

Workaround
- press "Start" button

See screenshot:
![screen shot 2018-04-11 at 14 30 45](https://user-images.githubusercontent.com/60

[2018-04-11 13:31] ibuziuk commented on #629
Seems to be some race condition issue, on the second attempt I was able to start new workspace without pop-up being shown

[2018-04-11 13:38] ibuziuk commented on #629
@rhopp @ScrewTSW could you please confirm that the issue is intermittent ? this would explain why it was not caught by functional / che-starter integration tests

[2018-04-11 13:58] ibuziuk commented on #629
@rhopp on che-starter side integration tests with starting workspaces were disabled [1] some time ago due to https://github.com/openshiftio/openshift.io/issues/2273 Against which oso cluster ci test account is configured now ?

[1] https://github.com/redhat-developer/che-starter/blob/master/src/test/java/io/fabric8/che/starter/client/WorkspaceClientTest.java#L106

[2018-04-11 15:16] l0rd commented on #629
We need to consider that this issue was reproducible right after Che 6 announcements (>500 requests/hour to che-starter according to unleash).

I have spotted one error and a couple of warnings in che-starter logs:

**Err**
[code]

**Warnings**
[code]
[code]

[2018-04-11 15:34] ibuziuk commented on #629
Some interesting test results with workspace status API. There were integration tests in che-starter for starting workspace / starting workspace when there is already one running that were disabled due to https://github.com/openshiftio/openshift.io/issues/2273 Now our ci test account is provisioned not against free-stg, so I decided to enable this tests again [1]. Basically, there are 2 commits in

[2018-04-11 15:40] ibuziuk commented on #629
`We need to consider that this issue was reproducible right after Che 6 announcements (>500 requests/hour to che-starter according to unleash).`
Does not look like a high load ^

@l0rd warning are ok:

Just stays that response does not have che 5 format and is che 6

User's GitHub name is not publicly available, so we use GitHub login in Git preferences

Error looks strange:

It is not expected th

[2018-04-11 16:18] ibuziuk commented on #629
I suspect there is some problem / race condition with starting workspace upstream - was able to reproduce the problem against https://rhche.openshift.io/dashboard/#/ dashboard:
1. Create workspace against vert.x stack
2. Press "Open in IDE" button:
![image](https://user-images.githubusercontent.com/1461122/38628941-ee31cca2-3db2-11e8-9dfe-f5b03ffad4ed.png)
3. ERROR: Workspace is not running
![imag

[2018-04-11 16:34] ibuziuk commented on #629
Created an issue upstream for clarifications https://github.com/eclipse/che/issues/9381

[2018-04-11 16:42] slemeur opened #630 "Add basic Woopra telemetry events into Che on OSIO"
At this moment, we have no Woopra telemetry event reported from Che and have no visibility of when it is used.

We should be adding a basic Woopra telemetry event so we can know when Che has been used.

[2018-04-11 17:17] garagatyi opened #631 "Add Sentry integration to che-starter"
**Issue problem:**
We have PR with such integration in RH-CHE repo but it would be useful to have it in che-starter too.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io

[2018-04-12 14:11] slemeur commented on #629
Just an heads up that I just hit the error - with the flow in the description. (not the flow from rhche.openshift.io)

[2018-04-13 08:19] garagatyi opened #632 "RhChe doesn't work with the latest Eclipse Che"
**Issue problem:**
There are some changes in upstream Che that are not compatible with the code in RhChe.
What I found:
- class `OpenShiftServersConverter` was replaced by `org.eclipse.che.workspace.infrastructure.kubernetes.provision.server.ServersConverter`
- Method `getUserId` in `MachineTokenRegistry` was removed.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it

[2018-04-16 12:42] garagatyi opened #633 "Kubernetes infrastructure is broken in upstream Che"
**Issue problem:**
This issue is needed for the tracking purposes.
See https://github.com/eclipse/che/issues/9428

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [

[2018-04-16 13:28] davidfestal opened #634 "Implement che-tenant-maintainer endpoints to help SD team ns monitoring"
This is about implement the REST endpoints  in the [che-tenant-maintainer](https://github.com/fabric8-services/che-tenant-maintainer) for [housekeeping issue #1337]( https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1737) (checklist for monitoring `-che` namespaces)

[2018-04-16 13:28] ibuziuk commented on #629
Some related openshift.io issues:
- https://github.com/openshiftio/openshift.io/issues/3135
- https://github.com/openshiftio/openshift.io/issues/3121
- https://github.com/openshiftio/openshift.io/issues/3103

[2018-04-16 13:43] l0rd commented on #607
@davidfestal can you open an upstream issue for that?

[2018-04-16 13:55] l0rd opened #635 "Fix the rh-che build on top of master CI job"
- Merge rh-che6 branch to master
- Update master branch CI
- Delete rh-che6 branch CI
- Update the QE team CI (should not be needed but double check)

[2018-04-16 14:09] l0rd commented on #621
It looks like the git flow work because it correctly use the github token retrieved from the tenant service but the github flow doesn't.

[2018-04-16 14:25] l0rd commented on #630
It should be just about adding one js line. If it takes more than one day of dev let's skip it for now and tackle it during another sprint.

[2018-04-16 14:44] l0rd opened #636 "On OCP all OpenShift objects of a specific user should be created under his personal namespace"
https://github.com/eclipse/che/issues/8178

[2018-04-16 14:45] l0rd opened #637 "Testing configuration of private Docker registry on OpenShift.io"
That's just about checking if it works. Nothing to implement.

[2018-04-16 14:47] l0rd opened #638 "Docker compose support on OpenShift/Kubernetes infrastructure"
https://github.com/eclipse/che/issues/7860

[2018-04-17 05:11] kishansagathiya commented on #502
@davidfestal where are we on this? Does this issue still need to be open?

[2018-04-17 09:16] l0rd commented on #502
@kishansagathiya we moved it in the `done` pipeline but forgot to close it.

[2018-04-17 09:16] #502 closed

[2018-04-18 10:20] ibuziuk opened #640 "Need to provide endpoints in fabric8-wit for deleting / stopping Che workspace"
Copy from https://github.com/openshiftio/openshift.io/issues/2745

[2018-04-18 10:39] ibuziuk commented on #629
@slemeur @gorkem @l0rd I started to doubt if `che.workspace.auto_start=false` is required for Che 6.
Basically, I can not come up with any meaningful use-case for it. Auto-start property was introduced in Che 5 because there were no way to limit # of running workspace and once user navigated to workspace by url (e.g. bookmark) we had to prevent  startup since no proper explanation of why startup f

[2018-04-18 12:08] #612 closed

[2018-04-18 12:08] #593 closed

[2018-04-18 12:08] #615 closed

[2018-04-18 12:08] #528 closed

[2018-04-18 12:12] l0rd opened #641 "Fix che-tenant-maintener json logging"

[2018-04-18 12:13] #481 closed

[2018-04-18 12:14] #633 closed

[2018-04-18 12:59] l0rd opened #642 "Abstract fetching of github tokens instead of using Keycloak implementation"
Corresponding to upstream https://github.com/eclipse/che/issues/9461

[2018-04-18 13:01] l0rd commented on #621
Should be related to https://github.com/redhat-developer/rh-che/issues/642 but according to @garagatyi this may have been already fixed.

[2018-04-18 13:06] ibuziuk commented on #621
Github import seems to work fine if url is https based, however it does not work for ssh imports:

[2018-04-18 13:10] garagatyi commented on #621
Notice that client_id is NULL in the URL and redirect after login redirects to UD instead of OAuth Service on WS master. These might be the reason. We need to check OAuth configuration of the WS master

[2018-04-18 13:10] l0rd opened #643 "Preparing Red Hat Summit Demo"

[2018-04-18 13:50] l0rd opened #644 "Set workspace auto_start property to true"
Why this is good: https://github.com/redhat-developer/rh-che/issues/629#issuecomment-382344002

[2018-04-18 13:53] l0rd commented on #629
@ibuziuk I agree with you: we should set `che.workspace.auto_start` to `true` now. But I would be cautious about doing it right away. Let me try to explain why:

- We need to understand the root cause of this problem and eliminate it. Otherwise we don't have any guarantee that it won't reappear in another form in the future (during a demo for example 😨)
- Setting `che.workspace.auto_start` to `tru

[2018-04-18 17:55] ibuziuk commented on #621
@l0rd @garagatyi @davidfestal  will this issue be affected by https://github.com/eclipse/che/issues/9488#issuecomment-382468456 ?

[2018-04-18 18:42] eivantsov commented on #621
@ibuziuk no. That issue is about removing ssh agent or hiding it. SSH agent provide ways to ssh into a workspace machine which is impossible in case of a k8s pod with OS route.

[2018-04-18 20:49] l0rd commented on #621
I confirm @eivantsov comment: that issue is not related to this one

[2018-04-19 10:28] ibuziuk commented on #629
ok, seems that @rhopp was right about the race condition thingy. So, what actually happens:

- user starts workspace and get url to it `before` workspace is started
- workpace url is opened in a browser and in the meantime running workspaces are stopped and request for starting is send (all done asyncronously)
- if async method execution took more that opening url & ide initialization than there i

[2018-04-19 11:48] rhopp commented on #629
I think this could work. One question though: Codebases-ui will open the workspace after the running workspaces are successfully stopped, or independently to that?

[2018-04-19 11:50] garagatyi commented on #629
Looks like what is happening in IDE:
1. Send request to start WS
1. Open IDE
1. IDE is OPened and loaded
1. IDE checks WS status which is STOPPED for the time being
1. IDE shows that WS is stopped

Because of the current code in upstream Che and RH-Che customization request that starts WS may take some time, whereas usually it is expected that it is fully async and instantaneous. There is an issue

[2018-04-19 11:55] ibuziuk commented on #629
@rhopp only when all workspaces are stopped codebase UI will get the url for opening a new workspace. Assuming that grace termination period for pods is '0' which allows to terminate workspace almost instantly, and max # of running workspaces on osio = 1 this should not take long

[2018-04-19 11:59] garagatyi commented on #617
@l0rd I have discussed recreate strategy usage in Che 6.4.0 with upstream Che team and figured out that it won't help us in 6.4.0. Current upstream Che **does** stop workspaces on the stop of Che container. Functionality that changes it to workspace recovery is in branch for rolling update, not in the master branch.
Because of this, we won't really benefit from fixing this issue in the current spr

[2018-04-19 12:06] ibuziuk commented on #629
@garagatyi if workspace is started by che-starter and user press "start workspace" button the following error will be shown:

![image](https://user-images.githubusercontent.com/1461122/38990429-8572f0dc-43da-11e8-8471-782c2e448dec.png)

[2018-04-19 12:18] ibuziuk commented on #629
Created an issue upstream for IDE update on workspace events https://github.com/eclipse/che/issues/9496

[2018-04-19 12:57] ibuziuk commented on #629
It seems that the only thing we are missing is "why/when sometimes stopping workspaces & starting new workspace takes longer as expected". Continue investigating......

[2018-04-20 15:31] l0rd commented on #617
Ok for setting P2. I have commented on https://github.com/eclipse/che/issues/9415#issuecomment-383133133 to try to merge `hot update` earlier :-)

[2018-04-23 11:42] ibuziuk commented on #629
The were some assumptions of why sometimes stopping workspaces & starting new workspace could take longer than expected ( > 5 seconds):

1. # of user workspaces:

This is not the case since startup time of the workspace does not depend on #. Basically, it takes ~1 second to create & start workspace when there are 30 workspaces already created (the same figure is when user have no workspaces at all

[2018-04-23 16:34] ibuziuk commented on #629
Have done more integration tests based on @rhopp scripts [1]. One issue that I have spotted so far is that when multiple requests for workspace creation are coming from a single user simultaneously (create and start 10 workspaces) this results the problem when workspaces are starting and stopping each other unpredictably e.g. 1 workspace is staring / 2 is created & started waits till 1 is stopped

[2018-04-24 17:08] ibuziuk commented on #629
Today, we have emulated click party during the standup and @rhopp was able to reproduce the problem. some insights:
- ~ 10 - 15 worskpace were created & started simultaneously by different users
- Radim started first workspace and the startup was successful
- While 1 one was in a `Starting` phase a new one was created & started
- Staring 2 resulted in `Workspace is not running` pop-up

Some info f

[2018-04-25 09:35] #489 closed

[2018-04-25 14:46] l0rd opened #649 "Fix wildfly booster - Make tests working"
This is a placeholder for OSIO issue https://github.com/openshiftio/openshift.io/issues/2152

[2018-04-25 15:57] ibuziuk opened #650 "Need to remove toggle & che 6 migration code from che-starter"

[2018-04-25 16:27] ibuziuk commented on #650
PR is sent https://github.com/redhat-developer/che-starter/pull/297

[2018-04-26 13:44] riuvshin opened #652 "Update dev scripts and readme because of RHEL image work"
after merge of: https://github.com/redhat-developer/rh-che/pull/651 we have to update dev scripts and readme file

[2018-04-26 13:50] riuvshin opened #653 "Update default image in rh-che.app.yaml after RHEL work"
After merge of #651 we need to update default values of image here: https://github.com/redhat-developer/rh-che/blob/master/openshift/rh-che.app.yaml#L338 and point it to centos image hosted on devshift.net registry

[2018-04-26 18:11] ibuziuk commented on #650
merged to master, already available on prod. closing

[2018-04-26 18:11] #650 closed

[2018-04-30 09:37] ibuziuk commented on #629
@rhopp PR with removal startup logic is available on prod-preview / workspace auto start is also set to `true` on prod-preview osd. Could you please verify ?

[2018-05-04 21:04] gorkem opened #663 "No Java SDK sources for vertx stack"
It looks like the sources for the Java SDK are not installed on the vertx stack therefore we get no quick docs for SDK libraries.

[2018-05-10 07:17] rhopp opened #667 "Prod-preview Che server logs are not in Kibana"
**Issue problem:**
Che-server logs are not appearing in kibana on prod-preview

**Reproduction Steps:**

Search for `kubernetes.labels.app.raw:"rhche"` in https://logs.rh-idev.openshift.com/app/kibana and you should see che-server logs... Unfotunately, they are not there.
P.S.: This is working on prod.

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [x]

[2018-05-10 08:52] vparfonov commented on #629
Is still actual for now?

[2018-05-10 08:55] ibuziuk commented on #629
@vparfonov already fixed on prod, closing

[2018-05-10 08:55] #629 closed

[2018-05-11 06:35] ibuziuk commented on #644
fixed & available on prod. Closing

[2018-05-11 06:35] #644 closed

[2018-05-11 06:35] #643 closed

[2018-05-11 06:54] l0rd opened #668 "OSO terminates Che workspaces 1h after their creation"
Placeholder for https://github.com/openshiftio/openshift.io/issues/3496

[2018-05-11 06:58] l0rd opened #669 "Properly fix how OS failure events are handled #9542"
Placeholder for https://github.com/eclipse/che/issues/9542

[2018-05-11 07:02] l0rd opened #670 "Improve rh-dev/che-dockerfiles"
- [x] Parse boosters versions instead of hardcode it
- [ ] ~~Add some tests to make sure that when the booster is run we do not download mvn dependencies (QE team is working on this one)~~ - redhat-developer/che-functional-tests#269
- [x] Avoid Dockerfiles duplication in rh-dev/che-dockerfiles repository

(related to https://github.com/openshiftio/openshift.io/issues/3336)

[2018-05-11 07:09] l0rd opened #671 "The same command behaves differently as a Che command and as a terminal command"
https://github.com/openshiftio/openshift.io/issues/3463

[2018-05-11 07:19] l0rd opened #672 "Errors "code 1006 is reserved" have appeared recently in OSIO Che logs"
[code]

![image.png](https://images.zenhubusercontent.com/57c9717de40e5714b16e2fad/1e0d7d30-b679-41da-aa49-a91a539344d6)

[2018-05-11 07:44] Katka92 opened #673 "Can't start workspace after DELETE of another workspace"
**Issue problem:**
When one workspace is deleted and immediately another workspace is run, the run fails with:

![screenshot from 2018-05-11 09-40-44](https://user-images.githubusercontent.com/29278800/39912597-8d12b080-54ff-11e8-9c40-1b43628d2361.png)

It seems like the pod for deleting workspace is started and consumes some resources and therefore the next pod for another workspace can not be cr

[2018-05-11 08:05] davidfestal commented on #673
@Katka92  Could you have the detail / stacktrace of the error in the Che server logs ?

[2018-05-11 11:12] #632 closed

[2018-05-11 12:54] #557 closed

[2018-05-11 13:11] l0rd commented on #649
Test are currently skipped. We should re-enable them.

[2018-05-11 13:14] l0rd opened #674 "Fix wildfly booster - set correct maven options"
This is a placeholder for OSIO issue openshiftio/openshift.io#2152 (maven options part)

[2018-05-11 13:18] l0rd commented on #613
This should be done when we close #532

[2018-05-11 13:32] l0rd commented on #621
This is related to https://github.com/eclipse/che/issues/9461. Until we don't fix that properly upstream we won't be able have proper GitHub integration.

[2018-05-11 13:33] l0rd commented on #642
We should not work on this one. This is an issue for the `che/platform` team

[2018-05-11 13:41] l0rd commented on #663
We need to figure out how other stacks do that, why vert.x stack is different. @gorkem do you have any example of stack where this (getting SDK doc) actually work?

[2018-05-11 13:43] l0rd commented on #674
Should fix https://github.com/openshiftio/openshift.io/issues/3463 too

[2018-05-11 13:43] l0rd commented on #671
Will be fixed by https://github.com/redhat-developer/rh-che/issues/674. Closing

[2018-05-11 13:43] #671 closed

[2018-05-11 14:18] l0rd opened #675 "Increase memory limit to 3GB for workspace pods"
We need to double check this with SD team cc @riuvshin but we currently set 2.4GB as mem quota limit even if there are 3GB available in the Che namespace (that's because before we run the wsmaster too in the che namespace).

The fix shold include both Che tenant namespace definition yaml and rh-che OpenShift template too.

[2018-05-14 09:33] ibuziuk commented on #532
@aslakknutsen do you happen to know the status of the PR for oso-proxy was it already merged (could you please link it to this issue) ? We are planning to proceed with canary rollout of che namespace lookdown this sprint

[2018-05-14 09:41] Katka92 commented on #673
Here is the failure copied from rh-che server log.

{"@timestamp":"2018-05-14T09:36:45.458+00:00","@version":1,"message":"Starting workspace 'kkanova/wksp-akwd' with id 'workspacemfv0ffxmue5593g7' by user 'kkanova'","logger_name":"org.eclipse.che.api.workspace.server.WorkspaceRuntimes","thread_name":"http-nio-8080-exec-4","level":"INFO","level_value":20000,"identity_id":"6e2dd0f9-a5bb-4137-a974-fe

[2018-05-14 12:59] garagatyi commented on #532
@ibuziuk we still need to send user ID to OSO proxy. But we would be able to do that only after proper changes you are talking about

[2018-05-14 13:01] ibuziuk commented on #532
@garagatyi sure thing, that is the plan ;-)

[2018-05-14 15:03] davidfestal commented on #672
According to what I looked into the Che server Java code, the error that occurs during the call to `io.fabric8.kubernetes.client.dsl.internal.WatchConnectionManager.runWatch()`, is due to the fact that is receives a 1006 status code during Websocket communication, which is a reserved code indicating that the connection was closed abnormally (see https://tools.ietf.org/html/rfc6455#section-7.4.1).

[2018-05-15 04:10] nurali-techie commented on #672
@davidfestal I am looking into it and I will soon update the finding here.

[2018-05-15 08:50] aslakknutsen commented on #672
@davidfestal @nurali-techie The 1006 Code is something you see on the client side? Or something that comes from the server? It would make sense that if the proxy is redeployed you loose connection to the pod you were connected to and need to reconnect. A bit unsure if you see the failure on reconnect or before. If before, then it sounds like the connection was just dropped server side. If after..

[2018-05-15 08:55] aslakknutsen commented on #672
@davidfestal @nurali-techie While possible, I think it's unlikely that it's related to that specific commit on the proxy side. I think it just happens to kinda correlate with the 2 weeks of logs we have.

[2018-05-15 12:28] ibuziuk commented on #669
PR is sent - https://github.com/eclipse/che/pull/9703

[2018-05-15 13:17] aslakknutsen commented on #532
There are 3 changes ready/coming to proxy this week. The current plan is to roll out next Monday when I'm back from PTO.

[2018-05-16 08:01] davidfestal commented on #672
@aslakknutsen it doesn't seem to be the root cause of the problem, if I understand correctly, because prod-preview Che server was redeployed just yesterday while the oso proxy was still running, and the error came back rapidly in the Che server logs (I would say as soon as a workspace is started and the Che server tries to keep a long-running websocket connection with it). This seems to mean that

[2018-05-16 09:29] nurali-techie commented on #672
@davidfestal yesterday [this link](https://logs.dsaas.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2018-04-28T18:30:00.000Z',mode:absolute,to:'2018-05-01T18:29:59.999Z'))&_a=(columns:!(kubernetes.container_name,message),index:'project.dsaas-production.129c1244-1b37-11e7-8db9-124160897002.*',interval:auto,query:(query_string:(analyze_wildcard:!t,

[2018-05-16 09:57] davidfestal commented on #672
@nurali-techie anyway, as detailed in my previous comment, and what I see from the Java code on the Che server, I don't think that it is related to  the Che server loosing the connection with the oso proxy because of an oso proxy restart. Afaict, there's a web socket communication that cannot be done correctly between both, and he Che server schedules a reconnect again and again on the Che server

[2018-05-17 09:41] nurali-techie commented on #672
@davidfestal we are able to re-produce this error with small program which call OSO WebSocket API.  It seems that OSO server giving this error to oso-proxy and oso-proxy logs (which observed in kibana) and return to client (in your case Che server).

Here is that small program.
**OSO WS Client:**

[code]
**Run Command:** go run main.go api.starter-us-east-2a.openshift.com nvirani-preview xxxx
**Ou

[2018-05-17 10:45] nurali-techie commented on #672
@davidfestal I have tried with another OSO WebSocket API which doesn't giving this error `close 1006` and waiting on `c.ReadMessage()` infinitely.
It would be great if you can find out which OSO WebSocket API your Che server calls?
@riuvshin The issue seems to be with specifi OSO WebSocket API and not all.

[2018-05-17 10:54] riuvshin commented on #672
@nurali-techie so it does not work properly with this url:wss://api.starter-us-east-2a.openshift.com and which one was working properly for you?

[2018-05-17 10:59] nurali-techie commented on #672
@riuvshin
API with issue and return error - `wss://api.starter-us-east-2a.openshift.com/oapi/v1/namespaces/nvirani-preview/buildconfigs?watch=true`

API that works - `wss://api.starter-us-east-2a.openshift.com/oapi/v1/namespaces/nvirani-preview/builds?watch=true`

[2018-05-22 09:00] rhopp opened #679 "Git push sometimes fails"
**Issue problem:**
I'm opening this issue mainly for discussion and ideas gathering (and also that it may as well be bug).
One of our functional tests case is simple: Have worskpace with project (and configured remote github repo) -> do some change -> commit -> push -> check whether the push was successfull.

The workspace is started using che-starter (so the github token should be injected correc

[2018-05-22 15:08] jfchevrette commented on #672
Could this be a problem with the proxy? I'm told that k8s/openshift has no code that returns this to the client.

Ref https://bugzilla.redhat.com/show_bug.cgi?id=1579965

[2018-05-22 15:28] l0rd commented on #637
@gorkem private registries on osio don't work. I suspect that private registries don't work on OpenShift at all. @garagatyi @sleshchenko any idea?

Anyway @gorkem I will close this issue and open a new open to fix private registries on osio.

[2018-05-22 15:28] #637 closed

[2018-05-22 16:32] l0rd opened #680 "Support private docker registry on OSIO"
It is currently not possible to start a workspace using a image from a private (password protected) Docker registry. We should address that.

[2018-05-22 16:43] l0rd opened #681 "Building rh-che fails with Che 6.6.0-SNAPSHOT"
[code]

[Full error log](https://ci.codenvycorp.com/job/rh-che-ci-master/559/console)

Probably broken by https://github.com/eclipse/che/commit/7a52c83f4dbf24f527986550181684f267934387

[2018-05-23 07:35] garagatyi commented on #637
@l0rd it is not clear to me how did you check. Can you elaborate?

[2018-05-23 08:10] rhopp commented on #673
@l0rd I think we should get this issue re-prioritized. I have these reasons for that:
1) We already have some data of how long does it take for the `rm` pod to spawn&finish. In last 3 days, the median value for this was 70 sec on `us-east-2` [1] and 21 sec on `us-east-2a` [2]
2) User can pretty easily reproduce. When one workspace is deleted, it's not so bad, but when user is deleting multiple wor

[2018-05-23 09:42] dmytro-ndp commented on #679
Make sure
1. You have _GitHub Identity Provider_ with correct _Client ID_ and _Client Secret_
1. OAuth application settings on GitHub has correct _Homepage URL_ and _Authorization callback URL_
1. You are uploading SSH key on github.com from _Eclipse Che > Preferences_ window before test.

[2018-05-23 12:54] l0rd commented on #673
This should be fixed by #668 if we set workspace pods as non terminating pods

[2018-05-23 14:18] rhopp commented on #679
In `/workspace_logs/ws-agent/archive/2018/05/23/catalinga.log` there was this exception:
[code]
Rings any bells @dmytro-ndp, @ibuziuk, @l0rd ?

[2018-05-24 08:18] vinokurig commented on #679
According to Exception from `RemoteRefUpdate`I guess the problem was in connection to remote.

[2018-05-24 08:21] dmytro-ndp commented on #679
Do you know which kind of problem it could be: authorization problem, or wrong address, or something else?

[2018-05-24 08:39] vinokurig commented on #679
I think if it was authorization problem or wrong address, the error would say about that. May be the remote was unreachable.

[2018-05-24 17:48] l0rd commented on #637
@garagatyi I have added a private docker registry (URL, username and password) using the Administration tab. Then I modified a stack to use a docker image from that private registry. It didn't work (the same worked on codenvy.io). By the way I have double check that we don't support using `imagePullSecrets` when creating pods for kubernetes/openshift infrastructures.

[2018-05-24 17:49] l0rd commented on #637
I have created https://github.com/redhat-developer/rh-che/issues/680

[2018-05-25 13:00] garagatyi commented on #637
Thanks for the explanation!

[2018-05-25 19:29] ibuziuk commented on #532
@aslakknutsen am I correct that oso-proxy is now supporting Che SA token [1]. Could you please tell what query parameter is expected from che ?

[1] https://github.com/fabric8-services/fabric8-oso-proxy/commit/c3ecdb11a29b5d9dbda929e037bbe1c8946173bc

[2018-05-28 10:29] #636 closed

[2018-05-28 11:57] l0rd opened #686 "Update and document Che Ansible Playbook Bundle"
Placeholder for https://github.com/eclipse/che/issues/9728

[2018-05-28 12:16] l0rd commented on #667
@jfchevrette do you have an idea about why this is happening on prod-preview?

[2018-05-28 12:25] l0rd opened #687 "Investigate using opentracing standard for wsmaster and wsagent logging"
This is for supporting on prem installations, not for osio. We should also think about how does this fit in current osio infrastructure.

http://opentracing.io/documentation/pages/api/

[2018-05-28 12:37] l0rd commented on #670
We should retrieve boosters versions informations [here](https://github.com/fabric8-launcher/launcher-booster-catalog)

[2018-05-28 12:43] l0rd commented on #680
This is needed in the transition from codenvy.io to che.openshift.io

[2018-05-28 13:56] jfchevrette commented on #667
@l0rd thanks for reporting this, i'm looking into it

[2018-05-29 18:14] davidfestal opened #689 "Telemetry work follow-up"
- Complete the internal OSIO devguide document with guideline about the Segment Woopra work on Che (asked by @maxandersen )
- meetings with other telemetry-involved people to discuss the extension of telemetry in other OSIO components.

[2018-05-30 09:05] davidfestal opened #690 "Prepare the telemetry Che support for the Theia switch"
Currently, the Telemetry support main components live in the workspace agent, and receive some information and also retrieve settings from the workspace master.

The switch to Theia will see the workspace agent disappear.

So before this switch we should more the Core Telemetry components (Mainly `AnalyticsManager`) to the workspace master, and provide a REST API that allows submitting telemetry e

[2018-05-30 09:09] skabashnyuk commented on #690
Before you start moving something to ws-master can you describe overall architecture?
I'm not sure that we need to put that on ws-master. Maybe we can setup telemetry as separate microservice.

[2018-05-30 09:20] garagatyi commented on #690
Theia is written in TS. Can't we just use javascript integration instead?

[2018-05-30 09:34] davidfestal opened #691 "Adapt the `che-tenant-maintainer` to the last oso proxy changes"
When the new restriction on the user Che namespace access with will applied in oso-proxy and rh-che, the  `che-tenant-maintainer` application will no  longer have access to the user Che namespace based on its OSIO token.
We should adapt it to implement the same logic as the one used in rh-che to have access to the user Che namespace.

[2018-05-30 12:41] garagatyi opened #692 "Make Workspace.Next work with Dockerimage type"
https://github.com/eclipse/che/issues/9871

[2018-05-30 12:42] garagatyi opened #693 "Load Theia in Workspace.Next workspaces"
https://github.com/eclipse/che/issues/9870

[2018-05-30 13:09] davidfestal commented on #690
Well, managing this in a central place server-side has the benefit of being able to gather in the same Che workspace session, and report in a consistent way (regarding woopra durations, etc ...), events that come from various agents / services (Theia IDE, but also other services, such as terminal, command executions, services that might provide a link with desktop tools, etc ...

[2018-05-30 13:40] davidfestal opened #694 "Add unit tests in the *Telemetry on Che* work."
Add tests in the Telemetry support

[2018-05-30 14:12] #635 closed

[2018-05-30 14:12] #669 closed

[2018-05-30 14:43] l0rd commented on #668
Use `DeploymentConfig` to start workspaces pods

[2018-05-30 14:57] l0rd commented on #670
The part `Add some tests to make sure that when the booster is run we do not download mvn dependencies` should be handled by QE team

[2018-05-30 15:05] l0rd commented on #652
Closing it. If there are particular issues we will open more detailed issues or PRs to fix that one.

[2018-05-30 15:05] #652 closed

[2018-05-30 15:20] l0rd commented on #687
The output of this task should be not a working che with opentracing support but just a comment on the amount of work needed to have it (a PoC would be a nice to have too).

[2018-05-30 16:38] #630 closed

[2018-05-30 17:15] l0rd commented on #670
@rhopp yes. The test should verify that when building the booster we don't download the dependencies (e.g. the deps are pre-downloaded when building the docker image).

[2018-05-31 18:02] #653 closed

[2018-05-31 20:43] l0rd commented on #668
An important point made by @eivantsov this morning:

[code]

Dashboard should continue to accept `Pod` and `Service` types objects only. But we should keep in mind to always wrap the pod in a `DeploymentConfig`.

[2018-05-31 21:11] l0rd commented on #686
For this task we should use eclipse/che-keycloak and eclipse/che-postgres images. The goal for this sprint is to make APB as easy as the template deployment. Using productised images should be the goal of future sprints.

[2018-05-31 21:11] #626 closed

[2018-06-01 15:13] l0rd opened #699 "Finalize and publish a Che APB that allows OpenShift users to install/configure and use Che in their OCP/OSD/OS"
Che apb allows to deploy Eclipse Che into your OpenShift project using an APB. Need to fix the following issues in order to finalize the initial Eclipse Che deployment setup via APB:

- [x]  Che APB installation fails on minishift with default configuration [#19](https://github.com/ansibleplaybookbundle/eclipse-che-apb/issues/19), [#781](https://github.com/redhat-developer/rh-che/issues/781)
- [x]

[2018-06-05 08:48] davidfestal commented on #672
Let me summarize the root cause of this error and the fix: The error was happening only when the PV-cleaning POD could not be created (due to quotas presumably). In this case, the Che server was still trying to delete the POD, and thus also endlessly trying to watch for the end of the POD deletion, which in fact didn't occur. This is the root cause of the regular web-socket reconnect attempts that

[2018-06-05 14:27] #672 closed

[2018-06-06 12:22] nickboldt opened #701 "Transition of Codenvy.io -> OSIO"
**Issue problem:**
- [x] Slow mount of PVC for che workspaces - can prevent workspaces from starting. [#4079](https://github.com/openshiftio/openshift.io/issues/4079)
- [x] Unable to start a workspace from a factory url [#839](https://github.com/redhat-developer/rh-che/issues/839)
- [x] Increase memory limit for workspace namespaces to 3Gi [#675](https://github.com/redhat-developer/rh-che/issues/6

[2018-06-06 14:10] #610 closed

[2018-06-06 15:28] riuvshin commented on #675
@l0rd can you please test this on stg? I mean if 3g workspaces are working properly because from what I know it can reach some RAM/CPU limits.
Also please make sure SD team is aware if you are going to change limits because currently we are assuming that workspaces takes 2.4g for capacity clusters capacity calculations.

[2018-06-06 16:21] ibuziuk opened #703 "Need to pass `identity_id` via `Impersonate-User` header instead of query parameter"
Currently `identity_id` is passed to oso-proxy via query parameter. Unfortunately, k8s client does not proceed query parameters correctly when set in `masterUrl` (details in the upstream issue https://github.com/fabric8io/kubernetes-client/issues/1089 ) and to make it work a workaround [2] was added to `oso-proxy` [2]. Assuming that oso-proxy currently support both approaches of `identity_id` proc

[2018-06-06 16:28] ibuziuk commented on #532
che sa token support in rh-che / oso-proxy is already available on prod-preview and seems to be working just fine. All relevant changes have been done on rh-che & oso-proxy sides. I have created a separate issue [1] for switching to the `Impersonate-User` header. Assuming that oso-proxy currently support both approaches of identity_id processing (header and query parameter) this new issue should b

[2018-06-07 11:08] ibuziuk commented on #455
Closing as a duplicate of https://github.com/redhat-developer/rh-che/issues/524

[2018-06-07 11:08] #455 closed

[2018-06-07 21:35] l0rd opened #704 "WS.next CheService refactoring"
Placeholder for https://github.com/eclipse/che/issues/9964

[2018-06-07 21:37] l0rd commented on #675
@riuvshin this is not in current sprint backlog. Hence it's unlikely that we can test it before the end of current sprint.

[2018-06-11 12:03] l0rd opened #706 "Limit OpenShift Che deployment use cases"
Placeholder for https://github.com/eclipse/che/issues/9961

[2018-06-11 12:45] l0rd opened #707 "Disable Organizations on che.openshift.io"
After discussing "OSIO permission model as a backend for che permission model on che.openshift.io" [1] during f2f it was decided that currently the 'Organizations'  flow is broken for openshift infrastructure in general e.g.:
- resource limits used in Che are not aligned with openshift quotas in namespaces
- shared team workspace would not always be started in the owner namespace, which essentiall

[2018-06-11 12:46] l0rd opened #708 "Pull Request Workflow"
PR workflow does not work on openshift.io, need to fix it

[2018-06-11 12:47] l0rd opened #709 "Convert Factories from Eclipse Che website to point to che.openshift.io"
This is about:
1. creating a specific osio account for the factories (i.e. codereadyfactories@redhat.com)
2. create the 22 factories corresponding to the ([codenvy.io factories](https://www.eclipse.org/che/getting-started/cloud/))
3. if some factory doesn't work on osio create an issue (fixing the factory is not part of this issue)
4. update the factory links on eclipse.org

[2018-06-11 12:57] l0rd commented on #699
There are 2 subtasks for this issue:
- Using RHEL keycloak and postgres
- Building Che stacks from scratch should be part of the APB deployment

[2018-06-11 14:21] ibuziuk commented on #687
@l0rd @slemeur @gorkem I have started to investigate this issue and have a couple of point that I would like to discuss (I believe the output of this rh-che  task would be creating an epic upstream with sub tasks / estimations):

- am I correct that in the end it is planned to have some property e.g. `che.opentracing.tracer` which would allow to specify particular tracer e.g. `jaeger` / `zipkin`.

[2018-06-11 15:14] ibuziuk commented on #687
Just to be more specific I have created a POC with support of tracer picking in che-starter [1]. Basically, there is property [2] for specifying the tracer (`zipkin` & `jaeger` are supported). The tracer config is picked up during the runtime [3] depending on the tracer that is specified in property / env var. It is possible to test locally by running jaeger & zipkin via:

`docker run --rm -it --n

[2018-06-13 11:19] l0rd commented on #687
I have just seen a demo of @ibuziuk PoC and it looks promising. Really cool stuff. What you should continue investigating is:
- How to enrich opentracing data with application logs (e.g. slf4j)
- How to query for opentracing data coming from distinct services (e.g. che-starter and wsmaster)
- Record a video that shows the data that jaeger collects from wsmaster and che-starter when a workspace is

[2018-06-13 12:48] gorkem commented on #687
How about data from the workspace that has just started?

[2018-06-13 13:11] ibuziuk commented on #687
@gorkem just to simplify the initial POC it was decided to omit wsagent interactions for now

[2018-06-14 08:10] garagatyi commented on #687
Eventually, we will replace current wsagent, so we should consider how to use Open Tracing stuff with Theia, Language servers, and any other cloud IDE/tooling. So, I would omit the addition of something specific to current wsagent on Che master.

[2018-06-14 08:12] #689 closed

[2018-06-14 08:12] #680 closed

[2018-06-15 14:11] ibuziuk commented on #148
Closing as outdated (OpenShiftConnector is Che 5 spesific). Solution for Che 6 (SPI) has been implemented - https://github.com/eclipse/che/issues/6356

[2018-06-15 14:11] #148 closed

[2018-06-15 16:40] ibuziuk commented on #687
So far I was not able to find any opentracing configuration option that would allow to add the application logs to the tracer automatically by default. Basically, it seems that it is expected that dev would add extra logs to the tracer programmatically if needed. Also, after investigating tracing more it appeared to be that normally `logging` and `tracing` (particular case of `instrumentation`) ar

[2018-06-19 10:54] l0rd opened #712 "Fix interception of PVC failures"
Placeholder for https://github.com/eclipse/che/issues/9946

[2018-06-19 17:10] ibuziuk commented on #687
for querying data span tags shared across services should be used e.g. `req_id` /  `identity_id` / `traceId` etc.
e.g. searching traces between che-starter & wsmaster based on `request_id`:

![image](https://user-images.githubusercontent.com/1461122/41612676-e79baa44-73f3-11e8-818a-7e1c3c69ee59.png)

![image](https://user-images.githubusercontent.com/1461122/41612724-07957488-73f4-11e8-8a6b-d91f87

[2018-06-19 17:22] ibuziuk commented on #687
Subtasks with estimations that could potentially be added to the next sprint:
- creating CQs for opentracing & jaeger and resolving dependency conflicts - `5`
- adding tracer agnostic  opentracing support to wsmaster - `21` (delivery of this would most likely be blocked by CQs)

[2018-06-20 09:47] garagatyi commented on #606
Looks like this issue has a duplicate https://github.com/redhat-developer/rh-che/issues/701
Should we close this one since the other one has more details?

[2018-06-20 10:28] davidfestal commented on #540
So PR https://github.com/redhat-developer/rh-che/pull/711 fixes this issue in a way that is different of the initial issue description. Finally there's no need for any mock of fabric8 services.

Here is a short description of the proposed solution:
1. RhChe uses the Keycloak directly (as does upstream Che) instead of the `fabric8_auth` OIDC provider (this is mainly a yaml config change)
2. We use

[2018-06-20 11:03] l0rd commented on #606
@garagatyi closed

[2018-06-20 11:03] #606 closed

[2018-06-20 14:08] l0rd opened #716 "Fix minishift addon issue with anyuid enabled"
Placeholder for https://issues.jboss.org/browse/CDK-305

[2018-06-20 14:09] davidfestal opened #717 "Remove private docker repository credentials secret when no more registries"
In the last work on private docker registry support on Openshift, it appears that, if the user removes all its private registries, the secret that contains credentials is not removed from his Openshift namespace.

[2018-06-20 14:09] #532 closed

[2018-06-20 14:10] #687 closed

[2018-06-20 14:45] l0rd commented on #638
We should start working on that task when https://github.com/eclipse/che/pull/10092 is merged

[2018-06-20 14:56] ibuziuk opened #718 "Opentracing support in Che"
Initial investigation of opentracing was done as part of the https://github.com/redhat-developer/rh-che/issues/687

Demo - https://youtu.be/4tWeH8JqQQk

Potential subtasks with estimations:

- creating CQs for opentracing & jaeger and resolving dependency conflicts - `5`
- adding tracer agnostic opentracing support to wsmaster (jaeger would be used as the default tracer) -
`21`
- adding opentracin

[2018-06-20 15:00] l0rd commented on #706
This task is about supporting the 2 scenario described [here](https://github.com/eclipse/che/issues/9961#issuecomment-396529377) and don't allow/support other scenarios (like wsmaser and wsagents in different namespaces using a Che SA)

[2018-06-20 15:05] l0rd commented on #703
We should fix that as soon as we move to 6.7.0

[2018-06-20 15:10] #448 closed

[2018-06-20 15:10] #483 closed

[2018-06-20 15:22] l0rd commented on #649
We have opened an upstream issue for this https://issues.jboss.org/browse/THORN-2049

[2018-06-20 15:24] #681 closed

[2018-06-21 08:21] ibuziuk commented on #718
@slemeur @gorkem we have not added any opentracing related tasks to the current sprint. Could you please comment about the priorities for this epic? If opentracing is smth. which is considered to be in place for the upcoming trains maybe it worth considering to start the CQ process (all libs are under Apache 2.0 but still the approval process from the IP team could potentially take sufficient amou

[2018-06-25 13:29] ibuziuk commented on #570
@gorkem @l0rd going to close this issue, since the contributor plugin has become a `must have` due to codenvy.io -> openshift.io transition - https://github.com/redhat-developer/rh-che/issues/708

[2018-06-25 13:29] #570 closed

[2018-06-26 10:58] riuvshin commented on #709
hi, afaik this should be done before JUL 10, so I wanted to make sure it is in the current sprint.

cc: @kbsingh

[2018-06-26 11:08] ibuziuk commented on #709
@riuvshin this issue is not in the current osio team sprint
@l0rd do you think we should reconsider it ?

[2018-06-26 11:35] l0rd commented on #709
@ibuziuk yes I have update the description to discuss about adding it to current sprint during our daily today. @riuvshin there are good chances that it will be part of current sprint.

[2018-06-26 12:03] riuvshin commented on #709
hi guys! that's a good news! thanks a lot!

[2018-06-26 12:39] l0rd commented on #709
@riuvshin @slemeur we have added this issue to current sprint

[2018-06-26 12:58] riuvshin commented on #675
@ibuziuk @l0rd here is the issue https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/794 where we had issues with increasing ws ram limit to 2.5g

[2018-06-26 14:00] slemeur commented on #709
Thanks @l0rd !

[2018-06-27 11:09] ibuziuk opened #723 "Che on osio should support wildfly redhat version (currently community version is used)"
Wildfly swarm Repos for the Redhat Version
=====================================

- [ ] build command is failing in wildfly boosters on osio from time to time (100 Mb is not always enough to perform the build)

- [ ] red hat version of cm wildfly bosster is not working in che openshift.io (but works fine in osio build pipeline) details in https://github.com/redhat-developer/rh-che/issues/723#issue

[2018-06-28 06:09] animuk commented on #723
Wildfly swarm Repos for the Redhat Version
=====================================
1. HealthCheck Boosters : https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-health-check-redhat
2. Rest HTTP Boosters : https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-rest-http-redhat

Issue Description:

- if you import the HealthCheck Booster above within Che workspace,
    1.  **Auto Comp

[2018-06-28 08:54] ibuziuk commented on #723
@animuk in terms of memory settings, there is a separate issue - https://github.com/redhat-developer/rh-che/issues/674

[2018-06-28 09:01] ibuziuk commented on #723
Might miss smth. but there is only one issue listed (auto-compile / hot deployment does not work). BTW, does auto compile / hot-deployment works for this wildfly projects OOTB locally against desktop IDE e.g. for spring-boot / vert.x hot deployment works differently [1]

[1] https://github.com/redhat-developer/rh-che/issues/254#issuecomment-335816550

[2018-06-28 10:23] slemeur commented on #718
@ibuziuk : I think you should create this epic upstream as well. We started to discuss with the team at SAP about telemetry during the weekly community call and I think it would be nice that this work and the result of your investigation is visible from upstream. This will get feedbacks from people having a different point of view, which could be really valuable.

Separately, I think this is going

[2018-06-28 10:28] ibuziuk commented on #718
@slemeur thanks for clarifications, I will create an epic with details upstream ;-)

[2018-06-28 14:47] ibuziuk opened #726 "Workspaces were stopped during rhche update (upstream 6.7.1) on prod"
**Issue problem:**
After merging https://github.com/openshiftio/saas-openshiftio/pull/945 che server used `Recreate`
strategy and workspaces were stopped during the update:

![image](https://user-images.githubusercontent.com/1461122/42041652-9f912bce-7af2-11e8-9b48-a98febfc6475.png)

**Red Hat Che version:**

https://github.com/openshiftio/saas-openshiftio/pull/945

 - [x] I can reproduce it on la

[2018-06-28 14:54] benoitf commented on #709
FYI here is factory config for che-docs
https://gist.github.com/benoitf/0c7182bd7eb92005faf9b26789ddfeaf

you can try it live at https://che.openshift.io/f?id=factoryi9sc51dcf0vg6920

[2018-06-28 17:32] ibuziuk commented on #708
@l0rd @gorkem  @slemeur @nickboldt  could you please clarify what exactly this issue is about? I thought that contributor plugin is broken on osio, but it seems to be working fine and I was able to send a PR [1] from che on osio. Maybe some particular use-case does not work ?

[1] https://github.com/ibuziuk/asdasaaaaaaaaaaaaaa/pull/1

[2018-06-28 18:33] slemeur opened #727 "Impossible to import from github account from the dashboard"
**Issue problem:**

**Red Hat Che version:**
version: 6.7.1

**Reproduction Steps:**
1. Login to che.openshift.io
2. Create a new workspace
3. Select a stack
4. Go into the section to add a new project. Select "Github"
5. Click on the button connect to your github account
![screen shot 2018-06-28 at 20 30 31](https://user-images.githubusercontent.com/1636769/42053671-71169886-7b12-11e8-9d98-0d959d

[2018-06-28 18:53] slemeur commented on #708
It does not work on my side.
Here is a recording of what's happening.

![kapture 2018-06-28 at 20 49 41](https://user-images.githubusercontent.com/1636769/42054504-d9265180-7b14-11e8-8cf8-5e697afc63b5.gif)

[2018-06-29 09:36] ibuziuk commented on #708
@slemeur interesting. I can create PR for workspaces created from both codebases UI & dashboard [1].
It is most likely related to the fact that github token is injected by che-starter and once you create workspace from codebases UI it should be possible to create subsequent workspaces from the dashboard and use the contributor plugin for PRs. BTW, thanks for reporting https://github.com/redhat-dev

[2018-06-29 10:38] slemeur commented on #708
Tested by creating a new workspace from the codebase UI first - and indeed it worked.

Thanks for the investigation @ibuziuk

[2018-06-29 10:39] slemeur commented on #727
This behaviour is also observed when trying to use the GitHub button in Preferences > SSH

[2018-06-29 11:49] benoitf opened #728 "Unable to delete one of my workspaces on che.openshift.io"
**Issue problem:**
When I try to delete one of my workspace, I have error 500 (I can create/delete others)

[code]
(sorry the error message is kind of uglified :-/

**Red Hat Che version:**
6.7.1
version: (help/about menu)

 - [X] I can reproduce it on latest official image

**Reproduction Steps:**
Click on delete of my workspace

**Runtime:**

runtime used:
   - [ ] minishift (include output of `

[2018-06-29 11:50] ibuziuk commented on #728
@benoitf am I correct that this happens for one particular workspace, not all the workspaces ?

[2018-06-29 11:52] benoitf commented on #728
@ibuziuk yes correct, only one

[2018-06-29 15:23] garagatyi commented on #728
@sleshchenko @skabashnyuk Please, take a look.

[2018-06-29 15:41] amisevsk commented on #670
Opened PR [1] to address the parsing boosters version part

Note that instead of extracting boosters version from the repo, I'm using the catalog rest api directly [2]. There is also and endpoint for staging at [3] which is currently unused.

[1] - https://github.com/redhat-developer/che-dockerfiles/pull/37
[2] - https://forge.api.openshift.io/api/booster-catalog
[3] - https://forge.api.prod-previ

[2018-06-29 19:39] gorkem commented on #728
I have 2 such immortal workspaces on my account. Also I think the cleanup logic for cleaning up the PVC of the old data is not really working

[2018-07-02 10:53] animuk commented on #674
@ibuziuk When are we planning to resolve this ?

[2018-07-02 11:03] animuk commented on #723
@ibuziuk For config map boosters as below repo:
https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-configmap-redhat

In Che workspace -
1. Imported Successfully
2. dev-machine - build Successfully
3. dev-machine - run Successfully

But Issue is the config map URL - invoke service does not work ( but this is working perfectly in the pipeline). Please check from your side.
![screenshot fr

[2018-07-02 11:16] animuk commented on #723
To Summerize -
1. Need to set correct maven options - memory options for (wildflyswarm) boosters . Ref Issue : #674
2. for wildfly -config map booster, URL - invoke service does not work in che.

[2018-07-02 11:18] ibuziuk commented on #674
@animuk it is the current sprint, but currently no one is working on it since we have issue with the higher priority

[2018-07-02 11:21] ibuziuk commented on #723
@animuk what about the Auto Compile ? Does it work locally for wildfly  ?

[2018-07-02 12:07] davidfestal opened #729 "Fix migrated factories that don't work fully and push the new list to Eclipse"

[2018-07-02 12:09] ibuziuk commented on #701
@eivantsov would you be able to add new stacks created as part of this issue (Che.Openshift.io stacks) to rh-che ?

[2018-07-02 12:12] ibuziuk commented on #707
also need to investigate possibility of integration of che orgs / teams with osio teams as a part of this issue.

[2018-07-02 12:30] ibuziuk commented on #707
Sub tasks:
- test the possibility of workspace sharing (workspace details / tab for sharing)
- also need to investigate possibility of integration of che orgs / teams with osio teams as a part of this issue
- every user should have a possibility to create org from dashboard

[2018-07-02 12:42] ibuziuk commented on #726
Need to add functional tests for this use-case cc @rhopp @ScrewTSW @Katka92

[2018-07-02 12:49] ibuziuk opened #730 "Need to enable "che-tenant-maintainer" in order to cleanup old workspace files periodically on production"
**Issue problem:**

One of the possibilities of che-tenant-maintainer [1] is cleanup of old workspace files. Currently this happens only during env reset. But if user have not done env reset (which re-creates `claim-che-workspace` pvc), the old workspace files, especially all the Che5 workspaces that have been migrated some months ago, didn't have their PVs cleaned which results in ~700 mb of obso

[2018-07-02 13:13] sleshchenko commented on #728
@benoitf I tried to simulate such case locally and for me, it's possible to remove such workspaces after rolling update of Che Server.
I prepared PR with cascade removing of Kubernetes runtime when a workspace is removed https://github.com/eclipse/che/pull/10244.
So, after merging it the corresponding error will be logged but workspace will be removed successfully.
Usually, it should not be possib

[2018-07-02 13:16] benoitf commented on #728
@sleshchenko AFAIk nothing special on this workspace.
I just try to cleanup old workspaces after some times.
So I can just say it was a workspace previously created (not a workspace that I created and tried to remove it few seconds after)

[2018-07-02 13:19] ibuziuk commented on #728
@davidfestal got an idea that the workspace that can not be deleted now might be created on osio when there was some bug with che not able to start workspace which crashed and can not be deleted ever after.
@davidfestal could you please add more details ?

[2018-07-02 14:21] ibuziuk commented on #723
@animuk unfortunately, we will not be able to address all the issue in the next sprint. But we are planning to  start with https://github.com/redhat-developer/rh-che/issues/674

[2018-07-02 14:23] ibuziuk commented on #730
@riuvshin we are planning to take this issue to the next sprint ? Will you be able to work with us on it ?

[2018-07-02 14:53] ibuziuk commented on #480
Upstream issue is closed. Closing this one

[2018-07-02 14:53] #480 closed

[2018-07-02 14:55] ibuziuk commented on #608
I believe this issue is outdated now. Dashboard functionality is reconsidered as part of the codenvy.io -> openshift.io transition - https://github.com/redhat-developer/rh-che/issues/701

[2018-07-02 14:59] ibuziuk commented on #126
This issue is outdated. Closing
PR UI / contributor plugin is an essential part of codenvy.io -> openshift.io transition [1] and must be presented in workspace

[1] https://github.com/redhat-developer/rh-che/issues/701

[2018-07-02 14:59] #126 closed

[2018-07-02 17:01] ibuziuk commented on #608
after discussing this issue with @l0rd it was decided to add it to the codenvy.io -> openshift.io transition - #701 epic

[2018-07-02 17:14] l0rd opened #731 "workspace next walking skeleton"
Placeholder for https://github.com/eclipse/che/issues/10123 for rh-che work

- [ ] Create new files Structure in registry: add theia editor meta, add a test plugin meta. create test tarball with a test plugin and theia editor files: .theia, plugin.yaml (theia), plugin.yaml (plugin) #792
- [ ] Download of the plugins and editor meta.yaml from the plugin registry. The URL of the plugin registry shou

[2018-07-02 17:47] ibuziuk commented on #608
initial task for this issue would be identifying all the parts that are not working. @rhopp  Maybe QA would be able to help with that one and provide a bullet list of all the pieces that are need to be fixed / disabled on che osio dashboard ?

[2018-07-03 08:05] eivantsov commented on #701
@ibuziuk should I issue a PR against https://github.com/redhat-developer/rh-che/blob/master/assembly/fabric8-stacks/src/main/resources/stacks.json?

[2018-07-03 11:37] sleshchenko commented on #728
@ibuziuk I have merged the PR with cascade removing of K8s runtime https://github.com/eclipse/che/pull/10244. I think you can close this issue after update OpenShift.io to next release, or maybe you need to backport this fix. WDYT?

[2018-07-04 09:46] ibuziuk commented on #723
@slemeur @l0rd I just had a blue jins seesion with @animuk and this tasks are requested to be done in the next sprint. Are you ok to take this into the next sprint backlog ? The first part about increasing ram options would not require a lot of time (just a command update) The second one could be trickier and would probably require a few days of investigation

[2018-07-04 19:51] amisevsk commented on #723
One note about the configmap issue -- while working on updating the rhdev/che-dockerfiles for https://github.com/redhat-developer/che-dockerfiles/pull/37, I found that there appears to be no officially supported version for the wildfly-swarm configmap booster on OSIO. This can be confirmed by checking the REST endpoint:
[code]
I don't know if this affects the discussion.

[2018-07-05 05:09] amisevsk opened #734 "Update rh-dev/che-dockerfiles to include wildfly-swarm configmap booster."
**Issue problem:**
There is currently no supported version of the wildfly-swarm configmap booster on OSIO. This is an issue to track this until we can begin to include a version in https://github.com/redhat-developer/che-dockerfiles.

Currently, the hardcoded version used is not officially supported and should probably be removed. PR [1], in part, does this.

[1]-https://github.com/redhat-develope

[2018-07-05 12:06] ibuziuk commented on #718
opentracing epic have been created - https://github.com/eclipse/che/issues/10288

[2018-07-05 14:39] amisevsk opened #735 "Kubernetes/OpenShift machines are started sequentially"
Placeholder for https://github.com/eclipse/che/issues/10295

[2018-07-05 18:34] amisevsk opened #736 "Reexamine cico build script in rhdev/che-dockerfiles repo"
The [`cico_build_publish_images.sh`](https://github.com/redhat-developer/che-dockerfiles/blob/master/cico_build_publish_images.sh) script in `redhat-developer/che-dockerfiles` seems to manage errors using the `exit_with_error` variable. However, since we `set -e` at the top of this script, as soon as a command fails the script will exit so the variable cannot do anything (and it never referenced,

[2018-07-06 04:16] animuk commented on #723
@amisevsk Yes. Currently, It is not there. But, We want to include that in the OSIO booster catalog so that config map booster will be available.

[2018-07-09 09:02] #704 closed

[2018-07-10 05:15] ibuziuk opened #740 "As a Che developer I want to understand SPI evolution in order to be able to maintain it"
**Issue problem:**

Very few people understand SPI currently and can maintain it. We need to have more people able to understand the SPI and maintain it accross Che teams. In order to raise the awareness about SPI we need to:

- [ ] update SPI related documentation due to changes like https://github.com/eclipse/che/pull/10021
- [ ] prepare a few slides (1-3) which explains the current state of SPI

[2018-07-10 11:41] garagatyi opened #741 "Investigate how to use existing feature toggle java libraries to proceed with upstream PR #10092"
**Issue problem:**
PR https://github.com/eclipse/che/pull/10092 in upstream Che is blocked and discussion regarding its design led us to a conclusion that we need to use feature toggle technique with the PR.
So, we need to identify suitable java libraries and how the PR can benefit from them.
It is supposed that the solution in the original PR might be reworked completely to leverage features from

[2018-07-10 11:54] ibuziuk commented on #729
@davidfestal could you please list osio incompatible docker images that are used in factories

[2018-07-10 12:59] amisevsk opened #742 "Kubernetes-client 4.0.0 has been released."
Kubernetes-client 4.0.0 has been released. This issue is to track the work that will be necessary when the upstream che dependency is updated. 4.0.0 moves deployments into the `/apps` endpoint (from `/extensions`) which affects workspace startup and will require updating `KubernetesDeployments`. It should be as simple as changing the calls in the upstream Kubernetes infra but it should be tested t

[2018-07-10 13:39] garagatyi commented on #742
@amisevsk if the client starts to use `/apps` endpoint instead of `/extensions` will it be compatible with older versions of Kubernetes on which Che might run?

[2018-07-10 16:08] davidfestal commented on #729
@ibuziuk @l0rd @slemeur @benoitf  @eivantsov

I ran the migration in the dedicated OSIO user on production, and I'm currently summarizing migration / test results for each factory in the following document which I shared for comments: https://docs.google.com/spreadsheets/d/1JpA3uSjfneeAqeNcchwmI1T0sxpO_o_FTaTAiVl0IIw/edit?usp=sharing

[2018-07-11 07:14] garagatyi commented on #693
fixed by Anna

[2018-07-11 07:14] #693 closed

[2018-07-11 07:15] garagatyi commented on #692
Openshift part was merged, so I removed it from the title.

[2018-07-11 07:16] garagatyi commented on #539
This is already implemented in upstream. Closing the issue. Feel free to reopen if you think that we still need this issue.

[2018-07-11 07:16] #539 closed

[2018-07-11 07:17] garagatyi commented on #517
Since this issue is for other teams I believe that we can close it in our repo. Feel free to reopen if you think otherwise.

[2018-07-11 07:17] #517 closed

[2018-07-11 07:18] garagatyi commented on #510
@slemeur is this issue still actual?

[2018-07-11 07:19] garagatyi commented on #473
I think that this issue is not actual. Feel free to reopen if you think otherwise.

[2018-07-11 07:19] #473 closed

[2018-07-11 07:19] garagatyi commented on #447
Looks like this issue is not actual anymore. @ibuziuk WDYT?

[2018-07-11 07:20] garagatyi commented on #444
Since this issue is for other teams I believe that we can close it in our repo. Feel free to reopen if you think otherwise.

[2018-07-11 07:20] #444 closed

[2018-07-11 07:20] garagatyi commented on #439
Since this issue is for other teams I believe that we can close it in our repo. Feel free to reopen if you think otherwise.

[2018-07-11 07:20] #439 closed

[2018-07-11 07:21] #397 closed

[2018-07-11 07:21] garagatyi commented on #366
Since this issue is for other teams I believe that we can close it in our repo. Feel free to reopen if you think otherwise.

[2018-07-11 07:21] #366 closed

[2018-07-11 07:22] garagatyi commented on #221
Seems that this issue is outdated.

[2018-07-11 07:22] #221 closed

[2018-07-11 07:22] garagatyi commented on #207
Seems that this issue is outdated.

[2018-07-11 07:22] #207 closed

[2018-07-11 07:26] garagatyi opened #743 "Investigate delivering of Theia plugins with data containers"
Placeholder for https://github.com/eclipse/che/issues/10369

[2018-07-11 07:27] garagatyi opened #744 "Rework Workspace.Next services/features to ChePlugin model"
Placeholder for https://github.com/eclipse/che/issues/10202

[2018-07-11 07:30] garagatyi opened #745 "Service discovery of APIs running in tooling containers of Workspace.Next"
Placeholder for https://github.com/eclipse/che/issues/9913

[2018-07-11 07:30] garagatyi opened #746 "Update workspace.next model: add CheEditor"
Placeholder for https://github.com/eclipse/che/issues/10203

[2018-07-11 09:10] #641 closed

[2018-07-11 10:31] davidfestal commented on #709
The Codenvy.io factories have been migrated thanks to this tool: http://che-factory-migration-to-osio-dfestal-run.8a09.starter-us-east-2.openshiftapps.com/ (source [here](https://github.com/davidfestal/che-factory-migration-to-osio))  developed on OSIO production.

The resulting factories have been migrated unto the newly-provisioned `codeready-factories` OSIO account.

I tested all the migrated f

[2018-07-11 11:12] riuvshin commented on #709
@davidfestal is https://www.eclipse.org/che/getting-started/cloud/ updated?

[2018-07-11 11:14] davidfestal commented on #709
No. But I can do it if you tell me where to change it.

[2018-07-11 11:28] slemeur commented on #709
@riuvshin : you too ;) every commiter on eclipse in fact!

[2018-07-11 11:30] slemeur commented on #709
Before we do that, and replace the factories on che website, we need to make sure we have some telemetry events in place for logging:
- When a workspaces is started from a factory
- What factory has been started
- When an account is created on OSIO from a user who clicked on a factory.

Would we be able to collect that?

[2018-07-11 11:45] riuvshin commented on #709
yeah I do remember that but I don't know where it is :) I meant you know how to do this:)

regarding telemetry, I don't know if that is a mandatory thing, if yes it can wait but as for me, we can enable that anytime later.  My only concern is that this part of the traffic should be switched already according to the plan :)

[2018-07-11 11:48] ibuziuk commented on #709
@slemeur AFAIK, we do not have this telemetry events processing in place. What's more the last event -'When an account is created on OSIO from a user who clicked on a factory' would need to be processed not on che side, but on osio registration side. IMO we need a separate issue for processing this  telemetry events

[2018-07-11 11:49] slemeur opened #747 "Docs are not accessible from Che Dashboard"
**Issue problem:**
In the footer of the dashboard and in the IDE menus, we are including links to the documentation. But those are not pointing to the documentation of Eclipse Che or the documentation of OpenShift.io .

At an initial steps, I think we should be pointing to the documentation from upstream.

Question:
- Could we deploy Che documentation: che.openshift.io/docs ?

[2018-07-11 11:50] slemeur commented on #747
cc @rkratky + @petra-sargent

[2018-07-11 11:56] benoitf commented on #709
FYI some data were on https://github.com/codenvy-legacy/factories/tree/factory-2.0/che-website

[2018-07-11 11:56] ibuziuk commented on #701
@eivantsov sorry for the delay in response - completely missed your last message :/ Yeah, that would be great if we could add all new stacks related to `codenvy.io` migration to rhche. But before we do this I believe we would need to build and push it to `registry.devshift.net` where all che osio specific images are living. @l0rd @riuvshin @eivantsov wdyt about adding all new `codenvy.io` images t

[2018-07-11 12:10] ibuziuk opened #748 "Can't start che workspace via che.openshift.io, getting osoproxy error"
Placeholder for https://github.com/openshiftio/openshift.io/issues/3884

[2018-07-11 12:13] rhopp commented on #608
@ibuziuk Definitely. I'll create an issue for that and include it in this sprint. We will also cooperate with upstream Che QA on this.

[2018-07-11 13:06] eivantsov commented on #701
So:

1. Move Dockerfiles to rh repo
2. Test via custom stacks on che.openshift.io
3. Update stacks.json

Does such a plan look ok?

[2018-07-11 13:31] ibuziuk commented on #701
@eivantsov sounds like exactly what is required

[2018-07-11 14:01] davidfestal commented on #729
After discussing with @slemeur and @benoitf and commenting in this document, here is the work to be done:
1. Fix the factories that start but don't work fully:
- Update the Wildfly factory to in fact point to the Wildfly Swarm OSIO booster
- Fix the PHP factory (or the underlying eclipse/php docker image) to allow the apache server to be started as regular user (instead of using sudo)
- Fix the ve

[2018-07-11 14:12] davidfestal opened #749 "Add tracking of factories in Telemetry"
We should track how workspaces are created from factories. See this issue comment https://github.com/redhat-developer/rh-che/issues/709#issuecomment-404136882

- [x] When a workspaces is started from a factory
- [x] What factory has been started
- [x] When an account is created on OSIO from a user who clicked on a factory.

This seems to be a pre-requisite to finalizing the migration of factories

[2018-07-11 14:16] ibuziuk commented on #709
We are going to close this issue. Remained issue related to factory transition are
- https://github.com/redhat-developer/rh-che/issues/729
- https://github.com/redhat-developer/rh-che/issues/749

[2018-07-11 14:16] #709 closed

[2018-07-11 15:00] ibuziuk commented on #747
@slemeur we can, but why can't we just point the doc to upstream eclipse.org

[2018-07-11 15:13] ibuziuk commented on #740
this is a team task and @garagatyi is going to be reviewer

[2018-07-11 15:14] riuvshin commented on #709
totally agree with @ibuziuk

[2018-07-11 16:14] slemeur commented on #729
Sounds good. Thanks @davidfestal

[2018-07-11 16:14] slemeur commented on #749
Thanks @davidfestal !

[2018-07-11 18:32] ibuziuk commented on #574
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1577 is closed so Closing this one

[2018-07-11 18:32] #574 closed

[2018-07-12 07:35] slemeur commented on #747
@ibuziuk : We definitely should start with that.

I can imagine that, in the future, there will be few things which might be specific to che.osio which we should be able to document (like organization). Upstream docs are really generic while for che.osio we could have a different set of features, tutorials and guides that we would like to highlight. (For example we should have guides for helping u

[2018-07-12 13:13] skabashnyuk opened #751 "Investigate the possibility of use OSIO permission model as a backend for che permission model on che.openshift.io"
**Issue problem:**
We want to know if it possible and how much afford it will cost to integrate Che and OSIO permission model.

Need for https://github.com/redhat-developer/rh-che/issues/701

TODO
paste some public links for OSIO's permission documentation.

[2018-07-12 14:47] ibuziuk commented on #675
@riuvshin PR has been sent - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/794

[2018-07-17 08:17] slemeur commented on #740
Probably a lot of good material here to author a blog post on the SPI, wdyt?

[2018-07-17 08:37] ibuziuk commented on #740
@slemeur sounds good but I believe we could create a separate issue for a blog entry since it was not taken into account during estimation

[2018-07-17 09:57] garagatyi commented on #745
In [comment](https://github.com/eclipse/che/issues/10404#issuecomment-405186403) I described why issue 10404 may interfere with this one and even make this issue not needed if we agreed to apply the solution suggested in 10404.

@ibuziuk @l0rd since this issue is in the current sprint should we work on it or wait till the discussion in issue 10404 clarifies it?

[2018-07-17 11:16] garagatyi opened #755 "Current user ID ('0000-00-0000') is different from the user ID (''051b9a4c-3b52-451a-a977-621d25f424e3")"
https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/4458/

[code]

[2018-07-17 11:18] garagatyi opened #756 "Cannot set error status of the workspace workspace5d7pzbqefdotmcuw. Error is: The anonymous subje..."
https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/3885/

[code]

[2018-07-17 11:52] garagatyi commented on #745
Additional context for the understanding of what is needed to be done in this issues:

@ Mario Loriedo @ Ilya Buziuk I recalled what was the reason that I thought that "Service discovery in workspace.next" might not be very easy task even on k8s infra - because we do not create services from WS.NEXT ChePluginEndpoints directly, we create servers and when they get turn into services those services

[2018-07-17 11:58] riuvshin opened #758 "update docs how to deploy rh-che to ocp"
current doc https://github.com/redhat-developer/rh-che#deploy-to-openshift-container-platform does not work with local ocp cluster deployed with `oc cluster up`
It deploys only che master and fails because there is no KC and DB deployed.

That is needed in order to fix ci job [1] which checks rh-che with current master of upstream

1 https://ci.codenvycorp.com/job/rh-che-ci-master/

[2018-07-17 14:11] davidfestal commented on #758
With the time, RhChe has become more and more coupled with OSIO (Fabric8) sibling services. Let's mention:
- the way its implements multi-user support: based on the OSIO users and OSIO-specific link between the user and its allocated OSIO namespace on a given cluster,
- the way it uses `fabric8_auth` as an alternate OIDC provider instead of the dedicated Keycloak.
- the way it relies on the `fabri

[2018-07-17 14:18] ibuziuk commented on #758
agree with @davidfestal  that we should disable the integration tests for the https://ci.codenvycorp.com/job/rh-che-ci-master/ . Basically, the idea is that the job would fail if there are some `build time` problems against new version of the upstream Che. If the build with unit tests is passing against new version of Che than we are ~90 % sure that it would work. Integration tests would be perfor

[2018-07-17 15:20] garagatyi commented on #744
Would be nice if this implemented in a way that would not break Mario's article about Workspace.Next since it relies on the current Workspace.Next flow and this issue will change it.

[2018-07-17 15:29] riuvshin commented on #758
agree, so I will keep only compilation check on this job.

[2018-07-17 16:49] amisevsk commented on #742
@garagatyi I'm not sure but it is worth looking into. Ideally kubernetes-client would check the API version and behave accordingly, but I haven't looked into it.

[2018-07-17 17:17] l0rd commented on #758
Ok to remove integration tests for now. It looks like the more appropriate solution.

@riuvshin can't we use [minishift with `generic` `vm-driver`](https://docs.openshift.org/latest/minishift/using/run-against-an-existing-machine.html) insteado of OCP in the integration tests?

[2018-07-17 17:46] riuvshin commented on #758
I think we can try to do same as I did for k8s... run minikube with driver none in docker as dind, but I can't run this on CI slaves because these slaves are utilized for many different things so they are not supposed to spawn that kind of processes on the host.

[2018-07-18 08:45] ibuziuk commented on #675
@riuvshin could you please take care of https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2142 ? We need just to update cm for now - no need to rollout latest deployment

[2018-07-18 09:11] ibuziuk commented on #675
PR for updating quotas on prod - https://github.com/openshiftio/saas-openshiftio/pull/982
@riuvshin once this is merged we would need to proceed with massive the massive tenant updates on prod & prod-preview. In general I would propose the following sequence of actions:

- merge https://github.com/openshiftio/saas-openshiftio/pull/982 in order to have new quotas available on prod
- perform massive

[2018-07-18 10:50] ibuziuk commented on #749
@slemeur @l0rd  I also commented in the original issue that this event is not really che related [1], but rather related to the registration flow - https://github.com/openshiftio/openshift.io/issues/3814

Which team do you think should be in charge of the processing and adding to woopra registration events ?

IMO the woopra registration event should not be limited to Che factory usecase but rather

[2018-07-18 12:37] slemeur commented on #749
I agree with you @ibuziuk .
In fact we are interested by all accounts created from the page here: https://github.com/openshiftio/openshift.io/issues/3814 and should be using the referrer to know if the user was coming from a factory or not.

I can create a dedicated issue for that. I believe Auth team should probably be the appropriate team to handle that. wdyt @alexeykazakov ?

[2018-07-18 12:38] ibuziuk commented on #749
cc: @sbose78 since Alexey is on PTO till the end of the month

[2018-07-18 14:01] rhopp opened #762 "Frames are not shown, when debugging on rh-che"
**Issue problem:**
When debugging app (I've tried springboot and vert.x) and the app is stopped on breakpoint, there should be stacktrace shown in "Frames" section , but this section is empty:
![image](https://user-images.githubusercontent.com/1215011/42886198-3ed4313a-8aa3-11e8-8932-ccae957e70f3.png)
I've tried that with upstream Che 6.8.0 and everything was as expected.

Screenshoft from upstrea

[2018-07-18 14:20] garagatyi commented on #741
After discussion of libraries, we decided to have an issue in upstream Che to integrate Unleash https://github.com/eclipse/che/issues/10470.
I also created a [PR](https://github.com/eclipse/che/pull/10474) with another solution for adding support of Dockerimage recipe in Workspace.Next.

[2018-07-18 14:21] #741 closed

[2018-07-18 15:24] ibuziuk opened #763 "Various issues with stacks on OSIO"
there are currently 7 osio specific che recipes and quite a few would be added during the `codenvy.io` -> `che.openshift.io` transition  - https://github.com/redhat-developer/che-dockerfiles/tree/master/recipes
All the stacks should work with the default recommended projects OOTB:

- centos-nodejs
- centos_dotnet20
- centos_jdk8
- spring-boot
- ubuntu_jdk8
- vertx
- wildfly-swarm

Related bugs:

-

[2018-07-18 16:07] davidfestal commented on #729
The migrated / fixed factories are available on the following additional page of the eclipse web-site:
https://www.eclipse.org/che/getting-started/cloud-osio-preview/
to be started in the prod-preview OSIO instance.
Would be great if @ibuziuk @l0rd @slemeur @benoitf could also try them and report anything that doesn't work as it was in `codenvy.io`

Since the telemetry factory support has been mer

[2018-07-18 16:20] amisevsk commented on #505
Should be resolved as part of PR https://github.com/redhat-developer/che-dockerfiles/pull/37, which changes dockerfile to install C# lang server.

[2018-07-18 16:21] amisevsk opened #764 "Wildfly swarm was renamed to thorntail, breaking che-dockerfiles run command"
**Issue problem:**

PR https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-rest-http/pull/41 in the wildfly-swarm booster repo renames the artifact to thorntail. The built-in run command for this stack is
[code]
which fails.

**Reproduction Steps:**

1. Create che workspace using default wildfly-swarm stack
2. Import sample project wfswarm-rest-http
3. Start workspace and attempt to buil

[2018-07-18 16:32] ibuziuk commented on #505
@amisevsk great I can reproduce on the current .net image used on osio `registry.devshift.net/che/centos_dotnet20`

![image](https://user-images.githubusercontent.com/1461122/42895044-edf08e2e-8ab8-11e8-88f6-6c1cfce33c34.png)

[2018-07-18 16:36] slemeur opened #765 "Telemetry Events for che.osio"
## Description
Since we put the telemetry mechanism in place on che.osio and we are going to transition codenvy.io there are a few set of metrics that we would like to be able to collect.

We'll be using those metrics to build custom reports in Woopra as well.

### General Metrics

| Metric  | Description |
| ------------- | ------------- |
| Che.IO Total Registered Users  | The total number of us

[2018-07-18 16:42] amisevsk commented on #763
Some preview urls are broken in default build/run commands. E.g. for web-java-spring sample project, I see preview URL as `${server.tomcat8}`, so something is going wrong.

[2018-07-18 17:36] ibuziuk commented on #716
Upstream issue is resolved. Closing

[2018-07-18 17:36] #716 closed

[2018-07-19 10:46] ibuziuk commented on #762
@rhopp looks like here is the upstream issue - https://github.com/eclipse/che/issues/9243#issuecomment-406230149

[2018-07-19 12:02] rhopp commented on #763
.NET image: Workspace startup is successful with https://github.com/redhat-developer/che-dockerfiles/pull/37, but there are lot of error markers in sourcecode:
![image](https://user-images.githubusercontent.com/1215011/42939914-cf76baaa-8b57-11e8-96dd-69d9aaf0c07d.png)
Building and running works fine, with one minor drawback - The `preview` link is not resolved correctly:
![image](https://user-ima

[2018-07-20 07:17] Katka92 commented on #747
I got an error maybe related with docs - when I tried to "Learn more" in Factories section, it gave me an error:
![screenshot from 2018-07-20 08-49-09](https://user-images.githubusercontent.com/29278800/42988548-524913ce-8bfd-11e8-8959-d2c003599774.png)

and the same in organizations:
![screenshot from 2018-07-20 09-15-04](https://user-images.githubusercontent.com/29278800/42988608-87d575dc-8bfd-1

[2018-07-20 10:44] riuvshin commented on #675
limits updated on preview and prod

[2018-07-20 15:54] ibuziuk commented on #726
The strategy of deployment of rh-che have been changed from `Recreate` to `Rolling`. This change was meticulously tested on dev cluster by the whole team. Workspaces were created and started and rollout of the deployment was performed many times in the mentime:

![image](https://user-images.githubusercontent.com/1461122/42948259-655ca5f4-8b6f-11e8-844a-af72c13a14fe.png)

Workspaces were still runn

[2018-07-20 15:56] ibuziuk commented on #726
@rhopp before closing this issue could we create a separate one for adding functional tests for verifying that workspaces are not stopped during the rolling update of che-server ?

[2018-07-23 08:51] rhopp commented on #726
@ibuziuk There is already one present and we already planned that for current sprint: https://github.com/redhat-developer/che-functional-tests/issues/306

[2018-07-23 11:53] garagatyi opened #770 "There is no che.prod-preview.openshift.io route while there is a route for che.openshift.io"
**Issue problem:**
I can go to Che on OSIO prod by URL [che.openshift.io](che.openshift.io), but I can't do that on prod-preview [che.prod-preview.openshift.io](che.prod-preview.openshift.io). On prod-preview, only link [rhche.prod-preview.openshift.io](rhche.prod-preview.openshift.io) work.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

[2018-07-23 12:39] garagatyi opened #771 "Abandon rhche.openshift.io route"
**Issue problem:**
Now it is possible to open Che UD on OSIO by two direct links [https://che.openshift.io/](https://che.openshift.io/) and [https://rhche.openshift.io/](https://rhche.openshift.io/).
But do we need both? What for?
Let's make [https://che.openshift.io/](https://che.openshift.io/) the mail and change link [https://rhche.openshift.io/](https://rhche.openshift.io/) to redirect users t

[2018-07-23 13:10] garagatyi commented on #770
Figured out that it was a glitch on my side that `che.prod-preview.openshift.io` didn't work. Closing the issue.

[2018-07-23 13:10] #770 closed

[2018-07-23 13:13] garagatyi commented on #771
@slemeur @l0rd @ibuziuk WDYT?

[2018-07-23 13:53] ibuziuk commented on #771
sounds relevant for me. We used to need both for che 5 -> che 6 transitional period when two che-servers where running on osd (**che.openshift.io** was che 5 route & **rhche.openshift.io** was che6 one). Could you please create a HK issue for that? I believe @riuvshin would be able to help
 us with the route removal

[2018-07-23 14:40] garagatyi commented on #771
Sure https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2156

[2018-07-23 14:46] garagatyi commented on #771
BTW we have config map `che` on prod and it is not needed anymore. Should we remove it too?

[2018-07-23 15:16] davidfestal commented on #749
Let's summarize what has been done for this issue:

PR https://github.com/redhat-developer/rh-che/pull/760 has added some meaningful properties to Telemetry workspace events, that allow tracking factory and stack usage.
More precisely it provides:
- the *__stack Id__* when the started workspace was initially created from a Dashboard stack,
- the *__factory Id, factory owner and factory name__* whe

[2018-07-23 16:49] slemeur commented on #749
This is perfect.

Excellent work @davidfestal !

Looking forward to see the transition happening!

[2018-07-23 22:36] benoitf commented on #749
AFAIK referrer url is something that we mostly don't have anymore on HTTPS website which is almost everywhere now

[2018-07-24 08:53] davidfestal opened #772 "Impossible to import the Jenkins repository inside a Che workspace on OSIO"
**Issue problem:**

It is not possible to import the Jenkins repository inside a Che workspace on OSIO. A failure occurs before the end of the project import.

**Red Hat Che version:**

Version:     1.0.0-SNAPSHOT
Build Time:  2018-07-24 07:53:48
Revision:    3c522aa3e596b432
Upstream Che release: 6.8.0

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

Point your browse

[2018-07-24 08:57] davidfestal commented on #729
The error encountered in the VertX factory is now fixed by PR https://github.com/redhat-developer/rh-che/pull/768.
However, the Jenkins factory (probably the one with the biggest Git repository) still fails: during the initial project import, the JGit clone action fails *__on the server-side__*.
We agreed to open an new issue for this bug that seems to require a certain amount of additional work b

[2018-07-24 13:29] ibuziuk commented on #771
@garagatyi I actually thought it was already deleted cc: @riuvshin

[2018-07-24 13:58] ibuziuk commented on #729
@davidfestal have you got a chance to chat with @sbose78 about the possibility of the auto-provisioning for users that are redirected to the registration page from the factory link ?

[2018-07-24 15:36] davidfestal commented on #749
Just a thought about what is **_already available_**  in the Che telemetry support, and the ability to start **_marketing campaigns_** that would be better tracked.

Since **_we can already track from which factory a user started its first workspace_** (=> onboarded to che.openshift.io) (owner and factory name), why not **_use factories as much as we can in upcoming marketing campaigns_** such as

[2018-07-24 15:55] l0rd commented on #729
@davidfestal yes I think https://github.com/openshiftio/openshift.io/issues/3814 is the good issue to add the comments

[2018-07-24 18:40] lord commented on #749
@davidfestal sounds good to me!

[2018-07-25 09:55] davidfestal commented on #749
Ah, it seems I confused `0` and `o` :-)

@l0rd wdyt think of the previous comment ?

[2018-07-25 10:43] ibuziuk commented on #670
@amisevsk I believe 2 & 3 are now fixed and for 2 there is an issue created by @rhopp - redhat-developer/che-functional-tests#269
So, I believe we can close it now, right ?

[2018-07-25 11:14] ibuziuk commented on #726
@rhopp thanks for the info. Closing

[2018-07-25 11:14] #726 closed

[2018-07-25 12:09] davidfestal commented on #729
done: https://github.com/openshiftio/openshift.io/issues/3814#issuecomment-407722502

[2018-07-25 12:41] #745 closed

[2018-07-25 12:43] #746 closed

[2018-07-25 16:00] davidfestal opened #773 "POC of client-side automatic registration / provisioning of new `che.openshift.io` users"
**Issue description:**

Following this comment, the idea of this issue to explore (and provide a POC) how OSIO registration / provisioning of brand new users can be made as straight as possible from users coming from external URLs such as factory links.

One solution might be implemented fully in rh-che by overriding the [`che.keycloak.js_adapter_url`](https://github.com/eclipse/che/blob/master/as

[2018-07-25 23:12] amisevsk commented on #668
Closing as PR https://github.com/eclipse/che/pull/10021 is merged and available in prod.

[2018-07-25 23:13] amisevsk commented on #668
Nevermind, we haven't pushed to prod because of https://github.com/redhat-developer/rh-che/issues/735

[2018-07-26 09:24] garagatyi commented on #773
Another approach might be to add an application hosted on paths for the factory `che.host/f` and `che.host/factory` that would do things described by David.

[2018-07-26 09:39] garagatyi commented on #773
Yes. I just not sure that keycloak script is correct to place that logic since it is not about keycloak. But if using keycloak script allows us to deliver faster I think it is better to go that way and after that consider cleaning things up.

[2018-07-27 04:28] amisevsk opened #774 "Moving to Deployments on Openshift breaks unrecoverable events"
Tracking issue for https://github.com/eclipse/che/issues/10559

[2018-07-27 08:29] ibuziuk opened #775 "Moving to Deployments on Openshift breaks unrecoverable events"
Placeholder for https://github.com/eclipse/che/issues/10559

[2018-07-27 08:30] ibuziuk commented on #775
Closing as duplicate of https://github.com/redhat-developer/rh-che/issues/774

[2018-07-27 08:30] #775 closed

[2018-07-27 08:52] #670 closed

[2018-07-27 12:00] slemeur opened #776 "Performance analyzes for basic usage of Che.OSIO"
## Description

It would be interesting to do an analyze of the performance of Che running on OpenShift.IO and compare that to other tools.

The idea, would be to look at:
- Startup time of a workspace
- Import scenario
- Time to open a project
- Time to open a file (small, medium, large, very large)
- Compilation/Build time

### Other

We could be comparing the same scenario with a local Che, a C

[2018-07-27 12:36] rhopp commented on #776
Right from the bat - I've logged a performance issue of che on OSIO yesterday: https://github.com/openshiftio/openshift.io/issues/4079 The workspace startup is really slow, when PVC is populated with (reasonably) large amount of files (I guess glusterFS to blame?)

[2018-07-28 14:17] slemeur commented on #749
You are perfectly right, that's excellent and powerful. That's exactly why adding telemetry on the factory is important.

[2018-07-30 07:16] ibuziuk opened #778 "Pull request plugin for Che's Theia"
Need to create PR plugin for Che's Theia with minimal functionality and contribute it upstream. PR should be very simple and have minimal functionality / UI. After discussing this task with @evidolob it was decided to implement smth similar to VSCode `GitHub` plugin:

- User installs PR plugin (initially only GitHub will be supported)
- User generates personal access token on GitHub and set it via

[2018-07-30 09:56] chetips opened #779 ""InternalEnvironmentFactory is not configured for recipe type: 'compose' when trying to create multi-machine workspaces multi-machine workspaces"
- Go to https://rhche.openshift.io/dashboard/#/create-workspace
- Select any multi-machine stack
- Click Create
I get "InternalEnvironmentFactory is not configured for recipe type: 'compose'"

[2018-07-30 10:13] #686 closed

[2018-07-30 10:30] ibuziuk commented on #779
@eivantsov is going to help with this task as part of adding new stacks required for `Codenvy.io -> OSIO` transition

[2018-07-30 10:51] ibuziuk opened #780 "redhat-che-dockerfiles build job is constantly failing"
redhat-che-dockerfiles [1][2] is broken since the 25th of July due to:

Might be related to https://github.com/redhat-developer/che-dockerfiles/pull/38

![image.png](https://images.zenhubusercontent.com/5970e40061b4ca3b0a752585/0faca62d-a59b-4237-a55a-215f2c6b32cd)

[1] https://github.com/redhat-developer/che-dockerfiles
[2] https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/

[2018-07-30 11:29] ibuziuk opened #781 "Che APB installation fails on minishift with default configuration"
placeholder for https://github.com/ansibleplaybookbundle/eclipse-che-apb/issues/19

[2018-07-30 12:40] l0rd commented on #699
@ibuziuk everything looks good, I have added 2 subtasks:
- No more than one Che per cluster [#18](https://github.com/ansibleplaybookbundle/eclipse-che-apb/issues/18)
- Changing ASB configuration should not be a requirement [#17](https://github.com/ansibleplaybookbundle/eclipse-che-apb/issues/17)

[2018-07-30 13:43] garagatyi commented on #779
@ibuziuk we don't have compose support in place for the time being. Here is the issue https://github.com/redhat-developer/rh-che/issues/638

[2018-07-30 15:21] ibuziuk commented on #780
The culprit seems to be https://github.com/openshiftio/openshift.io/issues/4086

[2018-07-30 16:21] ibuziuk commented on #779
@garagatyi yeah, I know. For now we just want to remove all compose based stack from rh-che predefined stacks. Also, it would be nice to add validation with `compose recipe is not supported` during custom stack creation until #638 would be fixed (but this part is optional IMO and might be tricky to implement since I am not sure how difficult would it be to override the upstream validation in rh-ch

[2018-07-30 20:48] slemeur commented on #778
Sounds good @ibuziuk !

Just one comment, in the PR we are setting up, we need the user to provide a description and we will also put the factory link to review the PR.
Example: https://github.com/che-samples/web-java-spring-petclinic/pull/31

[2018-07-31 07:46] ibuziuk commented on #778
@slemeur thanks for review. Description & factory link have been added to this epic

[2018-07-31 08:16] slemeur commented on #778
BTW, I think we already have some GitHub extension: https://github.com/eclipse/che-theia-github-plugin

[2018-07-31 08:40] ibuziuk commented on #778
@slemeur hmm.. I was not aware of this extension
@benoitf @evidolob could you please provide some info about it (maybe there is some demo) ? how different is it from the plugin description from this issue ? Should we start from scratch or it would be better to use  https://github.com/eclipse/che-theia-github-plugin as a basement e.g. using the same UI / GitHub lib etc.

[2018-07-31 09:36] garagatyi opened #782 "Che UD shows a black screen when user is logged in prod-preview but accesses prod's Che"
**Issue problem:**
Che UD shows a black screen when a user is logged in prod-preview but accesses prod's Che.
We should provide a better UX and handle such a situation with the weird login state.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   -

[2018-07-31 12:12] ibuziuk commented on #749
@davidfestal @slemeur I guess I can close this one - further work on telemetry is planned to be done as part of https://github.com/redhat-developer/rh-che/issues/765
@sbose78 @alexeykazakov btw, guys have you got  a chance to create a separate issue for adding telemetry for the registration flow - https://github.com/redhat-developer/rh-che/issues/749#issuecomment-405890799?

[2018-07-31 12:13] #749 closed

[2018-07-31 12:15] sbose78 opened #784 "Add telemetry to the registration flow"

[2018-07-31 12:16] sbose78 commented on #784
replaced by https://github.com/openshiftio/openshift.io/issues/4095

[2018-07-31 12:16] #784 closed

[2018-07-31 13:48] ibuziuk commented on #778
@evidolob ok, thanks for the info - we would probably need to do some investigation first.
@benoitf do you happen to know if there are any docs / instructions how to add this plugin to Theia (Readme does not contain any relevant info) ?

[2018-07-31 14:11] ibuziuk opened #785 "Need to update rhche to use upstream 6.9.0 version"
6.9.0 is going to be released soon and rhche should be updated in order to use this version. One important thing worth considering is the fact that new EPL 2.0 license headers are applied for Che Parent and it's dependent projects. Before updating to 6.9.0 need to make sure that  correct new license headers are used in rhche via `mvn license:format` -  update of files headers and che version shoul

[2018-07-31 15:04] ibuziuk commented on #734
Seems that we also will need to re-enable health-check booster once it will be available (it was disabled today) - https://github.com/openshiftio/openshift.io/issues/3124

[2018-07-31 15:42] ibuziuk commented on #780
Also there is a problem with pre-building of wildfly boosters since the runtime name has been changed to `thorntail` - https://github.com/redhat-developer/che-dockerfiles/pull/41

[2018-07-31 15:49] ibuziuk commented on #780
'thorntail' renaming also affects commands for wildfly stack -  https://github.com/redhat-developer/rh-che/issues/764

[2018-07-31 15:52] ibuziuk commented on #734
Ignore my previous comment - health-check failures were related to the wildfly runtime renaming to `thorntail`

[2018-07-31 16:59] ibuziuk commented on #780
Build is back to normal - closing

[2018-07-31 16:59] #780 closed

[2018-07-31 17:03] ibuziuk commented on #778
@evidolob could you please take a look at the investigation tasks I have added to the description which we are planning to add to the next sprint? maybe you have any suggestions? Also in terms of docs I believe we could use in order to start:

- https://github.com/theia-ide/theia/blob/master/doc/Developing.md
- https://www.theia-ide.org/doc/index.html