[2019-06-17 09:47] sbryzak commented on #1409
@ibuziuk I noticed the PR has been merged, is it ok if I close this issue now?

[2019-06-17 10:44] ibuziuk commented on #1409
no, we have not yet promoted it t prod - should be done this week

[2019-06-19 08:55] davidfestal commented on #1454
Fixed through PRs https://github.com/eclipse/che/pull/13554 and https://github.com/eclipse/che-operator/pull/34

[2019-06-19 09:38] ibuziuk opened #1461 "Need to update prod to CR 1.1 release with a fix for re-starting Che 6 workspaces"
related upstream issue - https://github.com/eclipse/che/issues/13553

[2019-06-19 10:00] ibuziuk commented on #1444
The update plan is:
- wait for RC 1.1 release - https://github.com/eclipse/che/issues/13553
- update prod / prod-preview to RC 1.1
- merge this PR and update prod-preview only to RC 2 to have the latest / greatest Che for testing
- update prod to RC2 (or GA) version once the docs are ready, devfiles from devfile registry reliably work and getting started factories are replaced with dedicated devfi

[2019-06-19 15:30] ibuziuk opened #1462 "Build Failed! / Finished: SUCCESS during PR check"
PR check marks PR as green even if the build is failing e.g.

- https://artifacts.ci.centos.org/view/Devtools/job/devtools-rh-che-rh-che-prcheck-dev.rdu2c.fabric8.io/1610/console
-  https://artifacts.ci.centos.org/view/Devtools/job/devtools-rh-che-rh-che-prcheck-dev.rdu2c.fabric8.io/1606/console

[code]

[2019-06-21 09:29] ibuziuk commented on #1461
PR sent - https://github.com/redhat-developer/rh-che/pull/1466

[2019-06-21 15:01] ibuziuk commented on #1409
The fix is promoted to prod. Closing.
@alexeykazakov @sbryzak we can now terminate the wit on prod-preview and observe the `che.prod-preview.openshift.io` behavior.

[2019-06-21 15:01] #1409 closed

[2019-06-21 15:02] ibuziuk commented on #1461
Prod has been updated to '7.0.0-RC-1.1'. Closing

[2019-06-21 15:02] #1461 closed

[2019-06-24 10:54] ScrewTSW commented on #1417
![image](https://user-images.githubusercontent.com/16451875/60013582-193dbc00-967f-11e9-969c-b99e8e5e0409.png)
Another worksapce pod stuck for the account `osio-ci-preview-testper`

We need this account so I've reset the environment

[2019-06-26 08:55] l0rd commented on #1347
@amisevsk I have added a list of acceptance criteria to the issue description (cc @slemeur). I may miss something so please update. I have splitted acceptance criteria in 2 because I believe that those could become 2 independent automated tests suites to use as PR checks on che-plugin-registry and (language servers / debug adapters repos?). cc @slemeur

[2019-07-02 11:38] ibuziuk commented on #1455
Draft PR with patching community images to make them openshift compatible - https://github.com/eclipse/che-dockerfiles/pull/248

[2019-07-02 17:32] ibuziuk opened #1473 "Need to update prod-preview to the latest upstream '7.0.0-rc-3.0-SNAPSHOT' version"
Draft PR - https://github.com/redhat-developer/rh-che/pull/1474

[2019-07-03 12:36] #1454 closed

[2019-07-03 12:37] ibuziuk commented on #1444
prod-preview has been updated to RC 2. Closing

[2019-07-03 12:37] #1444 closed

[2019-07-03 12:41] ibuziuk commented on #1447
Initial investigation with token ex-change have been done  - https://docs.google.com/document/d/1UU8ql9bgwvhK1F3AWsWeVepVeUHGFf1-2mkLcl0CXvU/edit#heading=h.idj2dinxe2y9

[2019-07-03 12:41] #1447 closed

[2019-07-03 12:43] #1446 closed

[2019-07-03 12:54] ibuziuk opened #1476 "Che registries (plugin+devfile) should be part of Che operator deployment"
Upstream issue - https://github.com/eclipse/che/issues/13557

[2019-07-03 13:01] ibuziuk opened #1477 "Check that no obsolete env vars are used in the Operator (mailing thread - Deprecated properties && environment variables)"
Related upstream issue - https://github.com/eclipse/che/issues/14633

[2019-07-03 13:09] ibuziuk commented on #1347
@l0rd are you ok to close this issue in favor of https://github.com/redhat-developer/rh-che/issues/1434 and move the acceptance criteria there?

[2019-07-03 14:47] l0rd commented on #1347
@ibuziuk ok for me

[2019-07-08 08:51] apupier opened #1478 "The "contact support" on che.openshift.io is outdated as pointing to openshiftio Mattermost"
**Issue problem:**

on che.openshift.io, the contact support button is leading to retired Mattermost channel:
![image](https://user-images.githubusercontent.com/1105127/60796671-20c88f00-a16e-11e9-828a-d4a5f819b9ac.png)

I clicked on it from this page:
![image](https://user-images.githubusercontent.com/1105127/60796728-435aa800-a16e-11e9-9e42-23e66b824e09.png)

**Red Hat Che version:**

version: (

[2019-07-08 08:56] ibuziuk commented on #1478
@apupier thanks for the pointer - I believe we need to point to upstream mattermost for now - https://mattermost.eclipse.org/eclipse/channels/eclipse-che cc: @l0rd @slemeur

[2019-07-08 09:09] ibuziuk opened #1479 "Need to find a better home for Hosted Che FAQ"
Currently, FAQ point to the adoc file in the rh-che repo:

![che openshift io FAQ](https://user-images.githubusercontent.com/1461122/54819527-7438cf00-4c9c-11e9-8411-181fabbe3612.gif)

Based on the discussion in https://github.com/eclipse/che-docs/pull/729 it was considered to find a better place for FAQ after Che 7 GA release - https://github.com/eclipse/che-docs/pull/729#issuecomment-509527338

[2019-07-08 09:47] slemeur commented on #1478
yes +1

On Mon, Jul 8, 2019 at 10:57 AM Ilya Buziuk <notifications@github.com>
wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2019-07-08 10:05] ibuziuk commented on #1473
PR https://github.com/redhat-developer/rh-che/pull/1474 is merged. Closing

[2019-07-08 10:05] #1473 closed

[2019-07-08 11:59] aditya-konarde commented on #1428
I've added a parameter to the template so that we can control replicas of this pod in different environments

- https://github.com/redhat-developer/kubernetes-image-puller/pull/10
- https://github.com/openshiftio/saas-openshiftio/pull/1317

[2019-07-09 21:08] Nickk4 opened #1483 "Stack template suggestion"
Feature request
The stack I would like to use is not available as template. And I don't have the know-how to build a custom stack myself. More importantly, I think it's a pretty common stack. Is it possible to add this stack as a template:
- Unix/Ubuntu
- Node
- MySql 5.7
- npm
- git

[2019-07-10 08:45] ibuziuk commented on #1483
@Nickk4 hello, in the short run (~1 month) we are going to get rid of Che 6 templates and use devfiles from upstream https://github.com/eclipse/che-devfile-registry. Devfile registry is already deployed as part of our CI / CD pipeline and available in https://che-devfile-registry.openshift.io/devfiles/

Feel free to contribute devfiles you are interested in to https://github.com/eclipse/che-devfil

[2019-07-10 08:46] ibuziuk commented on #1483
@Nickk4 going to close this issue and looking forward to your contributions to the new devfile registry ;-)

[2019-07-10 08:46] #1483 closed

[2019-07-10 11:49] #1442 closed

[2019-07-10 15:55] ibuziuk commented on #1455
Initial PR with patched Dockerfile has been merged to devfile registry eclipse/che-devfile-registry#24

[2019-07-10 17:26] ibuziuk commented on #1455
PR for CI/CD setup - https://github.com/openshiftio/openshiftio-cico-jobs/pull/1034

[2019-07-11 15:05] ibuziuk commented on #1423
Original issue was closed - https://github.com/eclipse/che-docs/issues/715
Closing

[2019-07-11 15:05] #1423 closed

[2019-07-12 11:12] Katka92 opened #1486 "Apache Camel devfile does not start on prod-preview"
**Issue problem:**
When starting Che 7 workspace based on ` Apache Camel based on Spring Boot `, the workspace is not started saying ` Error: Failed to run the workspace: "Unrecoverable event occurred: 'FailedCreate', 'Error creating: pods "workspacevd196kj996eb1v7b.maven-85dcd48884-55sdr" is forbidden: [maximum cpu usage per Pod is 6, but limit is 6424m., maximum memory usage per Pod is 3Gi, but

[2019-07-12 11:59] Katka92 commented on #1486
Created issue in upstream: https://github.com/eclipse/che/issues/13832

[2019-07-12 16:24] ibuziuk commented on #1455
@amisevsk hope you will be able to add all the missing images to https://github.com/eclipse/che-devfile-registry/tree/master/arbitrary-users-patch

and take care of nighly CI - https://github.com/eclipse/che/issues/13837

[2019-07-15 04:28] Katka92 commented on #1417
Another worksapce has pod stuck. Happened on 1a for user `osiotest1a`. I'll reset environment because we need this for perodic tests.
![Screenshot from 2019-07-15 06-26-45](https://user-images.githubusercontent.com/29278800/61195657-b06bc180-a6c9-11e9-82c3-eb28b8ce949e.png)

[2019-07-15 09:46] Katka92 commented on #1417
The accounts that were left for investigations were decommissioned. Please do **NOT RESET** account when it occurs again and post it there so developers can investigate.

[2019-07-19 15:25] nickboldt commented on #1355
Why not use the actual Che 7 devfiles instead of a different pile of factories?

For example in my local minishift, I can do this:

http://che-che.192.168.99.112.nip.io/f?url=https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/java-web-spring/devfile.yaml

and voom, I get a workspace:

![image](https://user-images.githubusercontent.com/227597/61546656-d372da00-aa17-11e9-

[2019-07-19 15:31] nickboldt opened #1488 "Che 7 devfile import via factory does not work"
**Issue problem:**

This might be a dupe of #1347, but I tried to do:

https://che.openshift.io/f?url=https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/java-web-spring/devfile.yaml

and instead of a new workspace, I get:

[code]

Meanwhile in my local minishift, I can do this:

http://che-che.192.168.99.112.nip.io/f?url=https://raw.githubusercontent.com/eclipse/che-dev

[2019-07-19 16:46] amisevsk commented on #1347
Closing in favor of #1434

[2019-07-19 16:46] #1347 closed

[2019-07-19 16:49] amisevsk commented on #1488
You are likely right that it's something fixed in RC2/3; which version are you running on local minishift?

The error message is in line with that; we changed devfile `specVersion -> apiVersion` and `name -> metadata.name`.

[2019-07-19 17:39] nickboldt commented on #1488
My Che version is pretty fresh:

[code]

[2019-07-19 17:58] amisevsk commented on #1434
I've done a runthrough [1] of current devfiles on our dev-cluster (so not a full check on che.openshift.io) but a number of issues have been resolved in a general sense. The arbitrary-users patch PR has been merged and nightly images are available (in all cases except for the angular stack, which is based off alpine). This *should* resolve most known issues with the stacks, but should be verified.

[2019-07-19 17:59] amisevsk commented on #1488
I'm predicting fixed by https://github.com/redhat-developer/rh-che/pull/1474 rolling out to prod.

[2019-07-20 01:58] amisevsk commented on #1455
Closing as done

[2019-07-20 01:58] #1455 closed

[2019-07-22 09:25] ibuziuk commented on #1488
@nickboldt going to close this one since devfile schema on prod-preview (rc3) and prod (rc1.1) are different and not compatible. Could you please verify that the flow with devfile works correctly on https://che.prod-preview.openshift.io/dashboard/ ?

[2019-07-22 09:26] ibuziuk opened #1489 "Update prod-preview to the latest upstream '7.0.0-rc-4.0' version"
Draft PR - https://github.com/redhat-developer/rh-che/pull/1481

[2019-07-22 11:43] ibuziuk opened #1490 "Need to update che.openshift.io to Che 7 GA version"
- [ ] First we need to update //che.prod-preview.openshift.io/ to the Che & GA version
 - [ ] Got QA approval after making sure that all devfiles from devfile registry work smoothly #1434
 - [ ] Replace getting started factories with devfile equivalent and simultaneously update prod to GA https://github.com/redhat-developer/rh-che/issues/1451

[2019-07-22 11:49] ibuziuk commented on #994
Should be closed once we promote Che 7 GA on prod - https://github.com/redhat-developer/rh-che/issues/1490

[2019-07-22 11:50] ibuziuk commented on #1355
@nickboldt this is the plan - https://github.com/redhat-developer/rh-che/issues/1451
Closing in favour of https://github.com/redhat-developer/rh-che/issues/1451

[2019-07-22 11:50] #1355 closed

[2019-07-22 12:58] amisevsk opened #1491 "All (?) devfiles non-functional on current staging deployment"
This issue is mostly for reference, and will be resolved once the upstream for rh-che is updated.

**Issue problem:**
The version currently deployed on staging has an out-of-date dashboard UI when creating workspaces. E.g. it still shows sample projects rather than the projects specified in devfiles (and so can cause issues since current devfiles only work with one project)

**Red Hat Che version:

[2019-07-22 13:22] amisevsk commented on #1488
Regarding https://che.prod-preview.openshift.io/dashboard/, there is issue #1491

[2019-07-22 13:55] nickboldt commented on #1488
@ibuziuk I can't seem to log in to https://che.prod-preview.openshift.io/f?url=http://paste.awesom.eu/raw/DN7J ... but if you open that link you can see if it loads or not.

[2019-07-22 15:36] amisevsk commented on #1488
@nickboldt You're probably logged in with your prod account. If you have a preview account as well, you could try logging in in an private browsing session.

Testing your link, however, gives me the error
[code]

[2019-07-22 15:49] nickboldt commented on #1488
What about https://che.prod-preview.openshift.io/f?url=https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/java-web-spring/devfile.yaml ?

[2019-07-22 16:23] ibuziuk commented on #1434
thanks, @amisevsk for the detailed `Testing devfiles` document with issue description
Basically, as I understand from standup there are a few obstacles for testing devfiles on prod-preview:
- UI on prod-preview is not up-to-date (should be updated as part of Che 7 rc 4 release)
- I do not think we have enough time to automate tests for all the devfiles in the next 3 weeks
- currently che 7 tests,

[2019-07-22 16:37] amisevsk commented on #1488
@nickboldt Same issue. I pulled the stacktrace out of the logs:

[code]
I'm still optimistic that it's an rc-3 issue; I'm working on getting ready for rc-4 today.

[2019-07-23 06:42] Katka92 commented on #1434
@ibuziuk Me and @ScrewTSW went through the devfiles on prod-preview. The sum up can be found here https://github.com/redhat-developer/che-functional-tests/issues/543.
About current state of tests:
- Once UI is updated, it would require only small changes in tests
- We are focused on automation test for Java Maven now
- The new tests are quite stable, the only issue they are falling on is project i

[2019-07-23 07:45] ibuziuk commented on #1434
@Katka92 @ScrewTSW thanks for the update - great summary. Hope you will be able to do the second round of testing once we update to `rc-4.0`

[2019-07-23 07:51] ibuziuk commented on #1488
@amisevsk hm... it is pretty weird - I would expect that the same devfiles would work correctly on both rc-3 and rc-4 (it is expected that they would not work on rc 1.1). Does it mean that there were some incompatible changes in devfile schema recently ? cc @skabashnyuk

[2019-07-23 08:00] Katka92 commented on #1434
@ibuziuk We are counting with second round, we believe that the results with rc-4.0 would be much better. :+1:

[2019-07-23 08:32] skabashnyuk commented on #1488
yes. rc.1.1 and rc-4 are not compatible. because of https://github.com/eclipse/che/pull/13490 in this commit https://github.com/eclipse/che/commit/caae00e21b2fd316560a406f2e1d8ad98edf1dad provided devfile not working on rc1 but working on rc-4

[2019-07-23 08:36] ibuziuk commented on #1488
@skabashnyuk sure it is expected that  `rc.1.1` and `rc-4` are incompatible, but it looks like we having  an issue with the https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/java-web-spring/devfile.yaml on rc3 (che.prod-preview.openshift.io)

[2019-07-23 09:37] ibuziuk opened #1493 "Che 7 GA: Need to remove the telemetry 'che-plugin-analitics-wsagent' since it is only supported for Che 6"
'che-plugin-analitics' works only for Che 6 workspaces and it makes sense to remove the plugin before we update che.openshift.io to Che 7 GA version.
telemetry for Che 7 should be implemented as part of the https://github.com/eclipse/che/issues/12717

[2019-07-23 10:24] ibuziuk commented on #1488
PR with a hotfix - https://github.com/redhat-developer/rh-che/pull/1494
In general, I believe it might make sense to remove the  telemetry 'che-plugin-analitics'  plugin before updating prod to Che 7 GA since it only supports Che 6 workspaces - https://github.com/redhat-developer/rh-che/issues/1493

[2019-07-23 11:05] ibuziuk commented on #1488
Tested against dev cluster and now the workspace created from the devfile [1]  fails with quota issue

![image](https://user-images.githubusercontent.com/1461122/61706714-0df6b280-ad49-11e9-8dd0-829ba0236202.png)

I believe this is a separate issue that I have already raised in the upstream in the context of https://github.com/eclipse/che/issues/13832#issuecomment-510864845

[1] https://github.com

[2019-07-23 11:24] ibuziuk commented on #1434
@Katka92 @tdancs it looks like quite a few devfiles from the registry are failing with quota issues e.g. `apache-camel` / `spring-boot`. Could you please provide a list of incompatible devfiles in https://github.com/eclipse/che/issues/13969

[2019-07-23 12:53] amisevsk commented on #1488
FWIW I just tested @nickboldt's devfile links on the `rc-4.0-SNAPSHOT` PR check, and the devfile is handled correctly but I also see the quota issue;

`Error: Failed to run the workspace: "Unrecoverable event occurred: 'FailedCreate', 'Error creating: pods "workspacexeq73u1u8uhvntyq.tools-7d9688559f-xp9rf" is forbidden: [maximum cpu usage per Pod is 6, but limit is 6174m., maximum memory usage per

[2019-07-23 12:54] amisevsk commented on #1488
(To be clear, the same issue will occur with the devfile in our current registry)

[2019-07-23 13:00] ibuziuk commented on #1488
@amisevsk I have created a separate issue for quota related issue in the upstream - https://github.com/eclipse/che/issues/13969

[2019-07-23 13:54] nickboldt commented on #1488
@amisevsk if you want to test a lower-footprint devfile, try https://raw.githubusercontent.com/eclipse/che/master/devfile.yaml for the "che-in, che-out" experience. :D

[2019-07-23 14:04] #1476 closed

[2019-07-23 14:15] ibuziuk opened #1495 "Weird Login flow when Che is installed from the Operator with Openshift OAuth #13975"
Placeholder for https://github.com/eclipse/che/issues/13975

[2019-07-23 14:29] ibuziuk opened #1496 "Some devfiles are not compatible with Hosted Che (che.openshift.io) due to 3 GB quota limitations #13969"
Placeholder for https://github.com/eclipse/che/issues/13969

[2019-07-23 14:33] ibuziuk opened #1497 "Fix samples endpoint issues"
Placeholder for https://github.com/eclipse/che/issues/13964

[2019-07-23 14:42] ibuziuk opened #1498 "Need to release registries (devfile + plugin) automatically via dedicated centos ci job"
https://github.com/eclipse/che/issues/13953

[2019-07-23 14:44] ibuziuk opened #1499 "Need to setup CI for che operator nightly builds"
Placeholder for https://github.com/eclipse/che/issues/13951

[2019-07-23 14:51] ibuziuk opened #1500 "Need to make sure that `arbitrary-users-patch` images work on OpenShift v4"
Placeholder for https://github.com/eclipse/che/issues/13960

[2019-07-23 16:53] ibuziuk commented on #1500
Upstream issue is closed. Closing

[2019-07-23 16:53] #1500 closed

[2019-07-23 16:55] amisevsk commented on #1488
@nickboldt "lower-footprint" is subjective, I suppose -- the Che-in-Che devfile requests 5Gi memory for the dev-machine :)

[2019-07-23 17:00] nickboldt commented on #1488
OUCH. OK, how about one of these?

* https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-maven/devfile.yaml
* https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/python/devfile.yaml

[2019-07-23 18:41] amisevsk commented on #1488
@nickboldt Both of those worked, even though I accidentally used `rc-3.0`. So, good news I guess, even though I'm confused as to what's going on here.

[2019-07-24 09:17] ibuziuk commented on #1478
PR sent - https://github.com/redhat-developer/rh-che/pull/1502

[2019-07-24 15:49] ibuziuk commented on #1478
PR merged. Moving to the done pipeline. Should be closed once we update prod to Che 7 GA

[2019-07-24 15:56] ibuziuk commented on #1488
@amisevsk I guess it failed due to NPE on our end - https://github.com/redhat-developer/rh-che/pull/1494
Should be fixed now on prod-preview. Moving to Done pipeline - should be closed once we update prod to Che 7 GA

[2019-07-24 20:19] amisevsk opened #1503 "[regression] Create workspaces in ephemeral mode does not work"
**Issue problem:**
Switching to devfiles for creating workspaces in the UD broke ephemeral mode as a default at some point (reproducible on prod-preview now).

The toggle in workspace config still works, issue is only present at creation stage.

**Red Hat Che version:**

version: (help/about menu)

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

Create workspace, with

[2019-07-24 20:26] amisevsk opened #1504 "How should we handle ephemeral mode and devfile workspace creation?"
**Issue problem:**
Our current approach is to use ephemeral volumes by default on che.openshift.io due to performance issues (gluster is slow).

When a user creates a workspace from a devfile by passing it directly to Che (i.e. as in `che.openshift.io/f?url=<url of devfile>`), it currently is not created as ephemeral.

Should we extend the ephemeral-by-default option to workspaces created in this

[2019-07-25 10:26] sunix commented on #1504
I think we should keep like it is ... and see how it goes.

[2019-07-25 19:25] kevchu3 opened #1508 "Update .NET 2.0 stack image to version 2.1"
**Issue problem:**
The referenced `quay.io/openshiftio/che-centos_dotnet20` stack in `assembly/fabric8-stacks/src/main/resources/stacks.json` is out of date as .NET 2.0 was deprecated in October 2018 [1].  I'm opening this issue to have both the quay.io image and this stack's reference to the image updated to .NET 2.1 (or 2.2).  I'd expect to keep the naming convention, so perhaps `quay.io/openshi

[2019-07-29 09:42] ibuziuk commented on #1503
PR was merged - https://github.com/redhat-developer/rh-che/pull/1505
moving to the done column

[2019-07-29 10:47] ibuziuk commented on #1493
@davidfestal I believe we will need to do this now due to che 6 legacy cleanup - https://github.com/eclipse/che/pull/13788
I plan to do this as part of the  https://github.com/redhat-developer/rh-che/pull/1481

[2019-07-29 11:17] ScrewTSW opened #1510 "[Test Issue] Che7 Java Selenium times out during IDE loading"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/476

![image](https://user-images.githubusercontent.com/16451875/62044391-219b9080-b203-11e9-8359-f22cdce161bd.png)

Issue did not appear recently, but still needs to remain open, until old java selenium suite is deprecated and replaced by typescript e2e

[2019-07-29 11:22] ScrewTSW opened #1511 "[Test Failure] Che7 Java Selenium test times out during project selection"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/476

![image](https://user-images.githubusercontent.com/16451875/62044616-ad152180-b203-11e9-95de-6bffc2a90dd7.png)

The test time out trying to select a demo project for the workspace. Should disappear with usage of devfiles and updated dashboard (projects are now being assigned automatically based on devfile)

[2019-07-29 11:32] ScrewTSW opened #1512 "[Test Issue] Che7 Java Selenium tests selected incorrect menu in editor"
Related: https://github.com/redhat-developer/che-functional-tests/issues/476

![image](https://user-images.githubusercontent.com/16451875/62045245-29f4cb00-b205-11e9-8846-a6b5aa2444c3.png)

This issue doesn't seem to appear often. Will be closed once java selenium test suite is deprecated in favor of typescript e2e

[2019-07-29 11:35] ScrewTSW opened #1513 "[Infra Issue] Che7 master deployment route flapping"
Related: https://github.com/redhat-developer/che-functional-tests/issues/476

![image](https://user-images.githubusercontent.com/16451875/62045435-95d73380-b205-11e9-93f7-8f79df357440.png)

This issue doesn't seem to happen recently. Created for completion, can be closed once decided that the infrastructure is stable.

Last occurence: April 16 2019

[2019-07-29 11:47] Katka92 commented on #1513
For last month of monitoring, infra seems quite stable. Can be closed.

[2019-07-29 12:06] #1513 closed

[2019-07-29 13:16] amisevsk commented on #1508
The `stacks.json` file will be deprecated completely once https://github.com/redhat-developer/rh-che/pull/1481 is merged; currently it should not be used and instead the [devfile](https://raw.githubusercontent.com/eclipse/che-devfile-registry/master/devfiles/dotnet/devfile.yaml) is used instead (which does reference .NET 2.2)

[2019-07-29 14:17] ScrewTSW opened #1515 "[Test Issue] Che7 Java Selenium based test times out during workspace startup"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/541

![image](https://user-images.githubusercontent.com/16451875/62055106-3c79ff00-b21b-11e9-94c0-c37558883d2b.png)
![image](https://user-images.githubusercontent.com/16451875/62129784-d901d700-b2d7-11e9-99e2-04f171ab5f06.png)

For some reason our tests time out waiting for the editor window during the worksapce startup
Relate

[2019-07-29 16:24] ibuziuk commented on #1504
I believe for now we would fix in on devfile level for getting-started devfiles only https://www.eclipse.org/che/getting-started/ as part of https://github.com/redhat-developer/rh-che/issues/1451

[2019-07-29 16:26] ibuziuk commented on #1508
We are going to close this issue once che.openshift.io is updated to Che 7 GA

[2019-07-30 07:39] Katka92 opened #1516 "[Infra issue] Failed to authenticate"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/488

When user logs in, authentication does not succeed.
![image](https://user-images.githubusercontent.com/29278800/62110017-c96d9880-b2ad-11e9-99d6-5f4c820f4999.png)

This problem occurs from time to time on 1b, 2 and 2a production.

[2019-07-30 07:48] Katka92 opened #1517 "[Infra issue] Failed to log in - internal server error"
The login fails with internal server error.
![image](https://user-images.githubusercontent.com/29278800/62110621-1c941b00-b2af-11e9-80a8-eaa6fad57c34.png)

Seen on 1a https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/897/console

[2019-07-30 07:59] Katka92 opened #1518 "[Test issue] Openshift OAuth NEXT button click action ignored"
When logging, it seems like NEXT button was clicked, but the page is not loaded.

![image](https://user-images.githubusercontent.com/29278800/62111225-6b8e8000-b2b0-11e9-8e49-8fb118da1618.png)

Seen on 1b https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/895/console

[2019-07-30 08:15] Katka92 commented on #1515
Seen again on 2a production 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/897/console
1a 3x
1b 2x

[2019-07-30 08:15] Katka92 commented on #1511
Seen again on 1a 2x , 1b 2x

[2019-07-30 08:19] ScrewTSW opened #1519 "[Che Issue] (Che7) Project not imported"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/552

![image](https://user-images.githubusercontent.com/16451875/62112659-6bdc4a80-b2b3-11e9-90c0-5090af50ffbf.png)

Last seen on: July 29 2019

[2019-07-30 09:05] ibuziuk commented on #1498
Upstream issue was closed. Closing rh-che one

[2019-07-30 09:05] #1498 closed

[2019-07-30 09:16] ibuziuk commented on #1493
Removal of analytics wsagent bits was done as part of the rc 4 update  - https://github.com/redhat-developer/rh-che/pull/1481
ForwardActivityFilter was also disabled -  https://github.com/redhat-developer/rh-che/pull/1481/commits/78c7755003a6e64146c6014694f1c2cc5907da64

`che-plugin-analytics-wsmaster` can not be deprecated atm since `RhCheKeycloak.js` depends on it implicitly (logs some client-si

[2019-07-30 10:09] ScrewTSW opened #1521 "[Infra Issue] Build timeout"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/525

**Description:**
Build timeout started to occur more often now. Investigate why and adjust the timeout if needed.
It started to happen when there was a problem with workspace startup. Startup takes too much time and it was considered that that's the cause why tests are failing on BUILD TIMEOUT.
Now, worksapce startup take

[2019-07-30 10:13] ScrewTSW opened #1522 "[Che Issue] (Che6) Project not imported"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/519

![image](https://user-images.githubusercontent.com/16451875/62121110-3b9ca800-b2c3-11e9-9039-486f5f61bdbb.png)

Last seen on: July 29 2019 at `starter-us-east-2` cluster

[2019-07-30 10:17] ibuziuk commented on #1522
should be closed after Che 7 GA promotion to prod - https://github.com/redhat-developer/rh-che/issues/1490
We are not planning to invest into investigation

[2019-07-30 11:00] ScrewTSW opened #1523 "[Infra Issue] Failed to start Kubernetes runtime due to timeout - Evicted"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/498

* Failed to start Kubernetes runtime : Runtime start for identity is interrupted
* Unable to perform '[mkdir, -m, 777, -p, ...]' command : Waiting for pod 'mkdir...' was interrupted
* Unable to perform '[mkdir, -m, 777, -p, ...]' command : Waiting for pod 'mkdir...' timed out
* Failed to start Kubernetes runtime : Failure

[2019-07-30 11:59] ibuziuk opened #1524 "Need to verify that ssh plugin works correctly in Hosted Che"
Need to verify that ssh plugin works correctly in Hosted Che and once configured users can push to the remote.

Help links:
- https://www.eclipse.org/che/docs/che-7/hosted-che.html#prerequisites-5
-  https://github.com/eclipse/che-theia/tree/master/plugins/ssh-plugin
- https://youtu.be/72MDoJT05cY

[2019-07-30 11:59] ibuziuk commented on #1524
@ScrewTSW @Katka92 hope you will be able to help to verify the flow against prod-preview

[2019-07-30 12:38] ibuziuk commented on #1489
https://che.prod-preview.openshift.io has been successfully updated to Che 7 rc4. Closing

[2019-07-30 12:38] #1489 closed

[2019-07-30 12:40] #1493 closed

[2019-07-30 12:43] ScrewTSW opened #1525 "[Infra issue] CNI request fails with 400 not found"
Parent: redhat-developer/che-functional-tests#545
Related: https://github.com/redhat-developer/rh-che/issues/1515

Error can be seen in this event, happens usually during worksapce startup
[code]

Last seen on: July 12th 2019

[2019-07-30 12:47] ScrewTSW opened #1526 "[Test Issue] Failed to get access token"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/494

Sometimes it happens that our tests fail to get access tokens for users.

Last seen on: July 29 2019 at `starter-us-east-2a`

[2019-07-30 12:50] ScrewTSW opened #1527 "[Che Issue] Bayesian for package.json does not trigger after reopening file"
Parent: https://github.com/redhat-developer/che-functional-tests/issues/464

![image](https://user-images.githubusercontent.com/16451875/62130393-3ba7a280-b2d9-11e9-88d9-aec4a9b3dbcb.png)

Last seen on: July 29 2019 at `starter-us-east-2`

[2019-07-30 12:52] ibuziuk commented on #1224
Closing this epic since https://che.statuspage.io/ is setup and we have a separate issue for contributing system metrics to statuspage (which is currently not a priority) - #1286

[2019-07-30 12:52] #1224 closed

[2019-07-30 12:53] ibuziuk commented on #1286
Moving to `P2` pipeline since it is not a priority atm

[2019-07-30 12:58] ibuziuk commented on #1527
bayesian was removed in the latest commit (update to rc4). Issue should be closed once we update to Che 7 GA on prod

[2019-07-30 12:59] ibuziuk commented on #140
Closing in favor of Che 7 specific issue - https://github.com/redhat-developer/rh-che/issues/1524

[2019-07-30 12:59] #140 closed

[2019-07-30 13:07] Katka92 opened #1528 "[E2E] Switch to E2E suite on saas-openshiftio PR check"
The PR check is using old scripts and started to fail. Switch them to typescript E2E test suite.

[2019-07-30 14:03] ibuziuk commented on #1004
Closing since JVM metrics are currently exposed as prometheus endpoints on prod and prod-preview

[2019-07-30 14:03] #1004 closed

[2019-07-30 14:06] ibuziuk commented on #1503
Should be fixed on prod-preview and still working on prod. Closing

[2019-07-30 14:06] #1503 closed

[2019-07-30 14:07] ibuziuk commented on #679
Closing as obsolete. Git push for Che 7 GA should be verified as part of the https://github.com/redhat-developer/rh-che/issues/1524

[2019-07-30 14:07] #679 closed

[2019-07-30 14:08] ibuziuk commented on #621
Closing as obsolete. Git push functionality for Che 7 GA should be verified as part of the https://github.com/redhat-developer/rh-che/issues/1524

[2019-07-30 14:08] #621 closed

[2019-07-30 14:19] ibuziuk commented on #1524
cc: @vparfonov

[2019-07-30 14:47] ScrewTSW commented on #1524
Pubkey doesn't work right after generating
Pubkey works after workspace restart (can authorize git)

[2019-07-30 14:47] ibuziuk commented on #763
Closing in favour of https://github.com/redhat-developer/rh-che/issues/1434

[2019-07-30 14:47] #763 closed

[2019-07-30 14:49] ibuziuk commented on #701
Closing this epic in favor of https://github.com/redhat-developer/rh-che/issues/1490
Current pre-requirement for codenvy.io transition is Che 7 GA running on Hosted Che in a stable manner

[2019-07-30 14:49] #701 closed

[2019-07-30 14:52] Katka92 commented on #1528
Typescript E2E tests already run as a part of PR check on saas-openshiftio. The problem is probably in setting some vars. Investigating & fixing.

[2019-07-30 15:09] ibuziuk commented on #1496
the upstream issue was closed. Closing this one also.
thanks @ScrewTSW for helping with that one

[2019-07-30 15:09] #1496 closed

[2019-07-30 15:20] ibuziuk commented on #778
Closing as outdated

[2019-07-30 15:20] #778 closed

[2019-07-30 15:57] ibuziuk commented on #1524
Upstream issue has been created - https://github.com/eclipse/che/issues/14073

[2019-07-30 16:01] ibuziuk commented on #607
I believe this one is already fixed. Closing.

![image](https://user-images.githubusercontent.com/1461122/62145659-1d02d500-b2f4-11e9-9628-55eb988230ad.png)

[2019-07-30 16:01] #607 closed

[2019-07-31 07:14] Katka92 opened #1531 "[Test issue] Resources from upstream removed"
Resources from upstream were removed. Java Che 6 tests were removed. Not sure how many resources that are needed for us were removed too. Need further investigation.

[2019-07-31 07:22] Katka92 commented on #1511
Seen on 1a and 1b clusters.

[2019-07-31 08:30] ibuziuk commented on #1531
@Katka92 what does it mean `Resources from upstream removed ` ?could we have more clear issue titles with details in the description ?

[2019-07-31 09:44] ibuziuk commented on #1531
@Katka92 @ScrewTSW please remove obsolete Che 6 tests as part of this issue. Let's focus on testing Che 7 only (both prod and prod-preview)

[2019-07-31 11:53] ibuziuk commented on #1527
we should get rid of bayesian test for now

[2019-07-31 11:56] ibuziuk opened #1534 "rh-che dsaas deployment migration to OpenShift 4"
dsaas / dsaas-stg migration to OpenShift v4 is planned to be done in the near future. Need to help SD team with the migration process of rh-che and other dependent Che services

[2019-07-31 11:57] ibuziuk commented on #1534
cc: @pbergene @kbsingh do you have any particular migration plan ?

[2019-07-31 13:15] amisevsk commented on #1434
Current testing document: https://gist.github.com/amisevsk/fb60ca6bbbcc03f2916a2074fa2ce526

There are a few common issues I've noticed and am working on PRs to address them.

[2019-07-31 18:43] amisevsk commented on #1491
Closing since rc-4.0 has been rolled out.

[2019-07-31 18:43] #1491 closed

[2019-07-31 18:43] amisevsk commented on #1486
Closing as devfile has been updated.

[2019-07-31 18:43] #1486 closed

[2019-07-31 19:25] amisevsk opened #1535 ".NET Core devfile does not work with ephemeral mode"
**Description:**
Issue https://github.com/eclipse/che/issues/13739 means that running the .NET devfile in ephemeral mode results in error markers everywhere.

The workaround is currently to `dotnet restore` and restart the workspace; this does nothing since any changes are not persisted in ephemeral mode.

When running in non-ephemeral mode (and after running the update dependencies task and resta

[2019-08-01 10:14] Katka92 commented on #1528
Tests running as PR check for saas-openshiftio were fixed. Running the same suite as for prod-preview periodic tests and RH-Che PR check. Closing.

[2019-08-01 10:14] #1528 closed

[2019-08-01 12:13] Katka92 opened #1536 "Update export of classes in upstream tests"
To be able to reuse/override all the files from upstream tests, these classes needs to be exported. Currently we have workaround for that - we are replacing this upstream file with our own one. Fix that so we can remove this workaround with the next released version.
File that needs to be updated https://github.com/eclipse/che/blob/master/e2e/index.ts

[2019-08-01 17:18] ibuziuk commented on #1045
PR sent but merging is postponed till `7.1.0` release - https://github.com/eclipse/che-plugin-registry/pull/154

[2019-08-02 10:52] ScrewTSW commented on #1511
seen today on 1a x4 and 1b x2

[2019-08-02 10:52] ScrewTSW commented on #1515
seen today on 1a x1 and 1b x3

[2019-08-02 10:53] ScrewTSW commented on #1526
seen today again on 1b once

[2019-08-02 12:25] ScrewTSW commented on #1434
[code]

[2019-08-05 07:21] Katka92 commented on #1526
Seen on 1b https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/929/console

[2019-08-05 07:21] Katka92 commented on #1511
Seen on 1a 9x and 1b 8x

[2019-08-05 07:22] Katka92 commented on #1515
Seen on cluster 2 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1145/console
cluster 1a 6x
cluster 1b 7x

[2019-08-05 07:25] Katka92 opened #1538 "[Test issue] Epel installation failed"
When running tests, some dependencies need to be installed. This time Epel fails with the message:
[code]
This appeared on all cluster at the same time - between 22:00 2nd August and 3:00 3rd August. It was probably some outage of a service.

One of affected jobs: https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1134/console

[2019-08-05 07:37] Katka92 commented on #1538
This failure affected our route tests too so we don't have date around that time.

[2019-08-05 08:15] Katka92 opened #1539 "[E2E] Extend test suite"
Add build&run commands to RH-Che test suite.

[2019-08-05 08:53] pbergene commented on #1534
We are currently starting verifying our tooling and pipelines vs 4.x.  Once we're at a satisfactory state there it would be a matter of pointing the stage pipelines and app-interface to a 4.x cluster, do deployments, apply runtime configuration from app-interface.  Some verification would be done by devs at this point (baseline, stuff comes up, not throwing exceptions), then move to switch DNS at

[2019-08-05 08:56] ibuziuk commented on #1534
@pbergene thanks for an update, mid-september sounds like a good timing for moving prod-preview to 4.x cc: @slemeur @l0rd

[2019-08-05 12:50] ibuziuk commented on #194
Closing due to the initial implementation of https://github.com/redhat-developer/rh-che/tree/master/load-tests

[2019-08-05 12:50] #194 closed

[2019-08-05 12:52] ibuziuk commented on #248
closing since Che 6  bayesian LS is deprecated. Bayesian plugin for Che 7 is implemented as part of the https://github.com/redhat-developer/rh-che/issues/1045

[2019-08-05 12:52] #248 closed

[2019-08-05 12:53] ibuziuk commented on #396
@davidfestal is this issue still relevant for Che 7 ?

[2019-08-05 13:07] Katka92 opened #1542 "Update comments for PR check"
Update comments when PR check is finished.
Success:
 - currently contains link to RH-Che so you can create a workspace
 - add link to build console for easy access to logs (used by QE)

Failure:
 - currently contains link to build console and artefacts
 - add link to easily access deployed RH-Che (to easily test changes manually)

Related issue: https://github.com/redhat-developer/rh-che/issues/11

[2019-08-06 07:30] Katka92 opened #1543 "[Test issue] False positive fail on workspace stop"
Test fails on a step when it tries to stop a workspace. According screenshot it seems that worksapce was already stopped.

Seen only once so far. Job: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1152/console

![image](https://user-images.githubusercontent.com/29278800/62519378-bcabf000-b82b-11e9-94e3-b6f8a7d2d6e0.png)

[2019-08-06 07:32] Katka92 commented on #1511
Seen on 1a 4x, 1b 5x

[2019-08-06 07:32] Katka92 commented on #1515
Seen on cluster 2 1x, 1a 1x, 1b 1x

[2019-08-06 11:13] Katka92 commented on #1539
Build & Run tests were added, adding tests for LS: https://github.com/redhat-developer/rh-che/pull/1541

[2019-08-06 11:16] Katka92 opened #1544 "[E2E] Add stop+remove of workspace to upstream"
In upstream tests, they don't need to have logic of stopping and removing a workspace implemented, because they are running tests with new instance each time. We need to have the workspace stopped and removed after each test.
Now we are not able to run tests in `--bail` mode (when test fails, no other test is executed) because we will have running workspaces remained.
Once this is implemented, the

[2019-08-07 06:07] Katka92 commented on #1515
Seen on 1a 1x

[2019-08-07 06:07] Katka92 commented on #1511
Seen on 1a 3x, 1b 4x

[2019-08-07 06:12] Katka92 opened #1545 "[Che issue] Project build failed"
**Issue problem:**
While testing Che 7 `Java Maven` stack on prod-preview, running `che: maven build` command failed. After that, the next command `che: maven build and run` succeeded.
Error message:
[code]
Screen:
![image](https://user-images.githubusercontent.com/29278800/62598747-aa44bb80-b8ea-11e9-99c3-dfd483fa8b9c.png)

Job url: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-

[2019-08-07 06:33] Katka92 commented on #1542
PR with updated comments were merged. Closing.

[2019-08-07 06:33] #1542 closed

[2019-08-07 06:33] Katka92 commented on #1169
PR with required change was merged. Closing.

[2019-08-07 06:33] #1169 closed

[2019-08-08 05:35] Katka92 commented on #1511
Seen on 1a 4x, 1b 4x.

[2019-08-08 05:36] Katka92 commented on #1515
Seen on 2 2x, 1a 2x, 1b 2x

[2019-08-08 10:29] ibuziuk commented on #1462
@Katka92 can we close this issue? I see there was a PR https://github.com/redhat-developer/rh-che/pull/1463

[2019-08-08 10:36] ibuziuk commented on #740
Closing as out-dated

[2019-08-08 10:36] #740 closed

[2019-08-08 10:37] ibuziuk commented on #858
Closing as outdated

[2019-08-08 10:37] #858 closed

[2019-08-08 10:38] ibuziuk commented on #897
Closing as outdated

[2019-08-08 10:38] #897 closed

[2019-08-08 10:39] ibuziuk commented on #898
Closing. Currently there is no OOM on prod / prod-preview

[2019-08-08 10:39] #898 closed

[2019-08-08 10:46] ibuziuk opened #1546 "Che 7 GA operator release"
For GA we need to release Che operator and make it available on the operator-hub - https://operatorhub.io/operator/eclipse-che

[2019-08-08 11:31] Katka92 commented on #1462
Yes, I think that after merging this PR the problem was not reproduced. Closing.

[2019-08-08 11:31] #1462 closed

[2019-08-08 11:43] Katka92 opened #1547 "Test getting-started devfiles"
In progress. For now tested:

| Devfile | Default commands | Startup | Terminal | Language Servers |  Other  |
| ------------- |:-------------:|:-----:|:-------------:|:-------------:|:-------------:|
| angular |  [1] |  :green_apple:  | :green_apple: |  :green_apple:  |    |
| spring-petclinic | :green_apple: |  :green_apple:  |  :green_apple: |  :green_apple:  |    |
| nodejs |  :green_apple: |

[2019-08-08 15:07] amisevsk opened #1549 "Image puller does not pull updated images by default"
**Issue problem:**
The kubernetes image puller currently creates a daemonset to cache images on osio. This daemonset is monitored for health but never restarted (unless there is an issue), which means that updating images (e.g. `nightly` or `latest`) end up out of date fairly quickly.

Instead, the image puller should restart the daemonset periodically (e.g. a few times a day) to ensure the newest

[2019-08-08 15:11] amisevsk opened #1550 "Support caching more images in image puller"
**Description:**
Currently, the kubernetes image puller caches all images in a single daemonset. As OpenShift quotas are calculated based off number of pods started in the namespace (which is one pod per node in the cluster for a daemonset) it's easy to bump into limits.

We should investigate splitting daemonsets into multiple runs to allow caching more images (e.g. cache images in batches of fiv

[2019-08-09 04:49] Katka92 commented on #1515
Seen on 2 2x.

[2019-08-09 04:49] Katka92 commented on #1511
Seen on 1a 6x, 1b 5x.

[2019-08-09 05:46] ibuziuk commented on #1511
@Katka92 could you confirm that this is the test issue and workspace creation / startup works just fine manually?

[2019-08-09 06:43] Katka92 commented on #1511
@ibuziuk I usually verify that few times a weak, I tested that again now on 1a and 1b and project selection and workspace start up works correctly.

[2019-08-09 09:29] ibuziuk commented on #1511
ok, looks like a test issue, looking forward for stabilization and switching to the typescript tests

[2019-08-09 16:04] amisevsk commented on #1434
The current state of our devfiles on prod-preview is shown in this [gist](https://gist.github.com/amisevsk/fb60ca6bbbcc03f2916a2074fa2ce526)

There are a few outstanding issues that are upstream issues and prioritized for post-7.0.0:
- The Python extension does not work; this breaks language features and debugging (I think) on python-based devfiles https://github.com/eclipse/che/issues/14074
- Deb

[2019-08-09 16:05] amisevsk commented on #1497
PR with fixes for PHP devfiles: https://github.com/eclipse/che-devfile-registry/pull/77

[2019-08-12 05:50] Katka92 opened #1552 "[Test issue] Test fails on name input when creating workspace"
Test fails when creating workspace. It expects the name field to be empty, but it already contains workspace name. Seems like some intermittent issue of our Java tests.
For now happened only once on 2a cluster and once on 1a.
On 1b it expected 'wksp-m1569' but was 'wksp-qrlfwksp-m1569' https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/973/console
Job: https://ci.centos.org/job/devtools-rh

[2019-08-12 06:04] Katka92 commented on #1511
Seen again on 1a 14x, 1b 14x.

[2019-08-12 06:04] Katka92 commented on #1515
Seen on cluster 2 15x, 1a 2x, 1b 2x.

[2019-08-12 07:54] ibuziuk opened #1553 "All 'getting-started' factories were removed due to the dedicated account deactivation"
None of the factories from `https://www.eclipse.org/che/getting-started/cloud/` are working due to the dedicated factory account deactivation.

![image](https://user-images.githubusercontent.com/1461122/62851587-f0cd5800-bce6-11e9-8222-437f6917dd5d.png)

Action items:
- [x] recreate all the factories
- [x] update website to point to new factory ids https://github.com/eclipse/che-website/pull/17
-

[2019-08-12 16:30] Katka92 commented on #1536
All PR's merged. Closing.

[2019-08-12 16:30] #1536 closed

[2019-08-12 16:32] Katka92 commented on #1539
Test for LS added. https://github.com/redhat-developer/rh-che/pull/1541
There is nothing else we can currently reuse.
Possible two things to be reused are opening preview page and debugging, but none of them are currently compatible with the stack we are using.
Closing.

[2019-08-12 16:32] #1539 closed

[2019-08-12 21:04] ibuziuk commented on #1451
Closing this issue since all devfile have been created. There are separate issues for:
- verification cc @Katka92 https://github.com/redhat-developer/rh-che/issues/1547
- website update https://github.com/redhat-developer/rh-che/issues/1490

[2019-08-12 21:04] #1451 closed

[2019-08-13 05:35] Katka92 commented on #1515
Seen on cluster 2 5x.

[2019-08-13 05:35] Katka92 commented on #1511
Seen again on cluster 2 1x, 1a 6x, 1b 5x.

[2019-08-13 11:43] ibuziuk commented on #1434
@amisevsk great job! since all the known issues are listed and most of them prioritized for `7.1.0` I would propose to close this issue.
@Katka92 will do verification on QA side as part of the https://github.com/redhat-developer/rh-che/issues/1490

[2019-08-13 11:54] ibuziuk commented on #1495
Closing as done cc: @davidfestal

[2019-08-13 11:54] #1495 closed

[2019-08-13 14:26] ibuziuk commented on #1553
All action items have been done. Closing

[2019-08-13 14:26] #1553 closed

[2019-08-13 14:28] ibuziuk commented on #398
Should be closed once we update che.openshift.io to Che 7 GA

[2019-08-13 14:32] ibuziuk commented on #524
bayesian ls support was removed as part of the https://github.com/redhat-developer/rh-che/pull/1481/commits. Bayesian will be supported via vscode extention in Che 7 https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics

[2019-08-13 14:32] #524 closed

[2019-08-13 14:35] ibuziuk commented on #550
boosters are not used since due to openshift.io transformation to new version of SaaS. Closing

[2019-08-13 14:35] #550 closed

[2019-08-13 14:37] ibuziuk commented on #614
@amisevsk I guess we did it as part of the https://github.com/redhat-developer/rh-che/pull/1481 right?

[2019-08-13 14:41] ibuziuk commented on #820
Should be closed once we update prod to Che 7 GA

[2019-08-13 14:43] ibuziuk commented on #848
Should be closed once we update to Che 7 GA - https://github.com/redhat-developer/rh-che/pull/1481
(stacks `stacks.json` will not be used and devfiles would be used instead)

[2019-08-13 14:48] ibuziuk commented on #1100
Should be closed once we update to Che 7 GA

[2019-08-13 14:49] ibuziuk commented on #1144
Should be closed once we update to Che 7 GA. (ws-agent will cease to exist)

[2019-08-13 14:51] ibuziuk commented on #1213
Should be closed after update to Che 7 GA where are stacks will be replaced with devfiles from devfile registry

[2019-08-13 15:30] ibuziuk commented on #994
Closing in favour of https://github.com/redhat-developer/rh-che/issues/1490

[2019-08-13 15:30] #994 closed

[2019-08-13 15:36] ibuziuk commented on #1393
Closing, feel free to contribute Quarkus devfile ;-) cc: @sunix
https://github.com/eclipse/che-devfile-registry

[2019-08-13 15:36] #1393 closed

[2019-08-13 17:27] amisevsk commented on #614
@ibuziuk I think it was all removed, but I wasn't especially careful so there may be some traces of it left. I'll double check before closing this issue.

[2019-08-13 18:34] amisevsk commented on #614
@ibuziuk I missed a few things, opened https://github.com/redhat-developer/rh-che/pull/1554

[2019-08-14 04:58] Katka92 commented on #1538
This issue is seen again. Periodic tests are failing from 2:35 AM, route tests are not gathering info from 2:15.

[2019-08-14 05:00] Katka92 commented on #1511
Seen on cluster 2 3x, 1a 5x, 1b 5x.

[2019-08-14 05:00] Katka92 commented on #1515
Seen on cluster 2 2x

[2019-08-14 07:36] ibuziuk commented on #614
PR  merged. Closing

[2019-08-14 07:36] #614 closed

[2019-08-14 10:31] ibuziuk commented on #1499
https://ci.centos.org/job/devtools-che-operator-nightly/

[2019-08-14 12:34] #1499 closed

[2019-08-14 12:36] #1434 closed

[2019-08-14 12:37] #1497 closed

[2019-08-14 12:49] ibuziuk commented on #1428
blocked by https://github.com/redhat-developer/rh-che/issues/1549

[2019-08-14 12:51] ibuziuk opened #1555 "Grafana dashboards "Number of Users" / "Number of Workspaces" should contain date and № on x and y axis"
Placeholder for eclipse/che#14155

[2019-08-14 12:54] ibuziuk opened #1556 "Plugin Broker should support relative paths"
Placeholder for eclipse/che#14163

[2019-08-14 12:56] ibuziuk commented on #1546
@davidfestal I believe che operator has been released and we can close this issue now

[2019-08-14 12:56] #1546 closed

[2019-08-14 12:57] ibuziuk opened #1557 "Need to tag all the `arbitrary-users-patch` images during the che-devfile-registry release CI"
Placeholder for eclipse/che#14165

[2019-08-14 12:59] ibuziuk commented on #1557
Auxilary PR that should help - https://github.com/eclipse/che-devfile-registry/pull/80

[2019-08-14 13:01] ibuziuk opened #1558 "Che Operator should use "Rolling" strategy instead of "Recreate" for postgres deployment #14166"
https://github.com/eclipse/che/issues/14166

[2019-08-14 13:15] ibuziuk opened #1559 "ConsoleLink for Che on OpenShift"
https://github.com/eclipse/che/issues/14203

[2019-08-14 13:18] ibuziuk commented on #1559
Closing since looks like Che Platform team is going to work on this one cc: @skabashnyuk

[2019-08-14 13:18] #1559 closed

[2019-08-14 13:18] ibuziuk opened #1560 "Old identityProvider and postgres container images not updated to latest defaults on Operator update"
Placeholder for eclipse/che#13714

[2019-08-14 13:22] ibuziuk opened #1561 "Don't allow installing Che with Openshift Oauth when no OAuth user exist"
Placeholder for eclipse/che#14013

[2019-08-15 04:39] Katka92 commented on #1538
Failing on all clusters & route tests. There were two successful runs of route tests on cluster 2 at 15:00 and 23:00. Trying to investigate what is happening.

[2019-08-15 05:50] Katka92 commented on #1538
According to centos wiki documentation [1] I tried to add yum clean.
There are three possible causes listed on a wiki page:
**1. You are not connected to the internet.**
That is probably not our problem, it seems that epel was downloaded correctly, but it seems that there is a problem with updating it.

**2. This issue can also occur if the system is able to communicate with given server but could

[2019-08-15 07:14] Katka92 commented on #1538
None of my tries to stabilise the run works, but I found an issue about that on centos bug tracker. https://bugs.centos.org/view.php?id=16337

[2019-08-15 14:33] sunix commented on #1393
@ibuziuk is it a requirement that devfile in the registry works on che.openshift.io?  (Because 3Go is definitely not enough)

[2019-08-16 05:17] Katka92 commented on #1538
Was fixed by workaround yesterday. Jobs are working from ~19:00.

[2019-08-16 05:22] Katka92 commented on #1511
Seen on cluster 2 1x, 1a 1x, 1b 1x.

[2019-08-16 05:22] Katka92 commented on #1515
Seen on cluster 2 1x, 1a 1x, 1b 1x.

[2019-08-16 05:29] Katka92 opened #1565 "[Che issue] Language server not working"
Periodic tests on prod-preview and PR checks are failing on Language Server. I tried that manually and didn't work for me.
Problems:
- language server suggestions are not opened
- error is not highlighted
- autocomplete doesn't works as expected
- codenavigation doesn't work - e.g. I could not do `Ctrl + click` on a class

![Screenshot from 2019-08-16 07-22-22.png](https://images.zenhubusercontent

[2019-08-16 08:42] rhopp commented on #1565
From what I can tell, the container was not restarted:
[code]
language server is not running in vscode-java container:
[code]
Here are logs of vscode-java container:
[code]

[2019-08-16 10:00] tsmaeder commented on #1565
This looks like it has nothing to do with the language server per se: it looks more like the vscode extensions is not properly working, in particular:

1. There are no "Java" commands in the command palette.
2. Changing the "java.jdt.ls.vmargs" preference should normally make the vscode-java extension offer to restart the language server, but doesn't.

However, the package.json seems to be read al

[2019-08-16 10:08] tsmaeder commented on #1565
I'm seeing the same behaviour with a python workspace. I suspect this is a general problem with running remote plugins. @benoitf @evidolob could this have to do with plugin autodiscovery and a different networking environment?

[2019-08-19 06:41] ibuziuk commented on #1565
I believe this started to happen after the update of the plugin registry in master - https://github.com/eclipse/che-plugin-registry/commit/191df1e76efdc1db993947d66a23f8aaff8b5eec

[2019-08-19 08:43] tsmaeder commented on #1565
@ibuziuk 7.0.0-next and next of what?

[2019-08-19 09:26] ibuziuk commented on #1565
@tsmaeder of the plugins - https://github.com/eclipse/che-plugin-registry/commit/191df1e76efdc1db993947d66a23f8aaff8b5eec

[2019-08-19 09:31] vparfonov commented on #1565
Actually, i can't understand how it related https://github.com/eclipse/che/pull/14278

[2019-08-19 09:35] ibuziuk commented on #1565
@vparfono could you clarify what is the difference between `7.0.0-next` to `next` che.openshift.io CI tests used to work just fine before the plugin version update and I do suspect this is the culprit.

[2019-08-19 09:35] tsmaeder commented on #1565
Well, one thing that is strange in that PR is that the plugin runner images switches to "next" (I assume master) while the main theia container only has versions based on "7.0.0".

[2019-08-19 09:41] vparfonov commented on #1565
We can switch to the Che Theia next until not fixed https://github.com/eclipse/che/issues/14248

[2019-08-19 09:43] vparfonov commented on #1565
`7.0.0-next ` based on 2 months old Theia,  `next` - master branch

[2019-08-19 09:44] tsmaeder commented on #1565
Are you suggesting that we switch to che-theia:next or are you saying we cannot do that because of the issue?

[2019-08-19 09:46] ibuziuk commented on #1565
@vparfonov @tsmaeder  are we sure that `next` is working correctly against current master? if it is not the case I would propose to switch back to `7.0.0-next`

[2019-08-19 10:11] vparfonov commented on #1565
i think would be better just to fix on 7.0.0, until we not found solution

[2019-08-19 12:26] ibuziuk commented on #1565
Upstream issue - https://github.com/eclipse/che/issues/14283

[2019-08-20 11:46] ScrewTSW commented on #1524
Issue is still being discussed in upstream. Moved to On-Hold

[2019-08-20 13:32] bryantson opened #1566 "I get message from che.openshift.io: Message: Unauthorized! Configured service account doesn't have access"
**Issue problem:**

When I try to create a new project, I get the following message from **https://che.openshift.io**

""Press F5 or click here to try again.
Error: Failed to run the workspace: "Failure executing: POST at: https://f8osoproxy-test-dsaas-production.09b5.dsaas.openshiftapps.com/api/v1/namespaces/rhn-gps-brson-che/services. Message: Unauthorized! Configured service account doesn't hav

[2019-08-20 15:03] Katka92 opened #1567 "[E2E] Create test for default stacks"
Create tests for other stacks. Add those tests to upstream. Upstream issues related to that will be linked to this issue.
Stacks to tests:
- [ ] NodeJS Angular Web Application
- [ ] Apache Camel based on Spring Boot
- [ ] .NET Core
- [ ] Go
- [ ] Java Gradle
- [x] Java Maven - tested on Rh-Che side
- [ ] Java with Spring Boot and MySQL
- [ ] Java Spring Boot
- [x] Java Vert.x
- [ ] NodeJS Express

[2019-08-20 16:29] ibuziuk opened #1568 "Need to verify how Che 6 -> Che 7 workspace migration works on prod-preview (7.0.0 GA) before updating prod"
Need to verify how Che 6 -> Che 7 workspace migration works on prod-preview (7.0.0 GA) before updating prod.

![image](https://user-images.githubusercontent.com/1461122/63365697-66d15f00-c378-11e9-876a-95101ce77606.png)

![image](https://user-images.githubusercontent.com/1461122/63365724-7650a800-c378-11e9-91f1-09822ecae72b.png)

[2019-08-20 16:33] ibuziuk commented on #1568
@rkratky docs links still point to https://www.eclipse.org/che/docs/che-6/what-are-workspaces.html
do you happen to know when are we going to have the migration guide available under this page ?

[2019-08-21 03:37] amisevsk commented on #1566
From looking at the logs on production, strangely this seems to be *only* impacting your namespace (at least, over the last 7 days).

I would suggest resetting your environment via https://github.com/redhat-developer/rh-che/blob/master/dev-guide.adoc#update-tenant, but that's not a user-friendly flow at the moment and may interfere with figuring out the underlying cause.

[2019-08-21 03:49] amisevsk commented on #1566
Looking at it a little more, for some reason your namespace `rhn-gps-brson-che` does not contain the secret used by Che, so a reset may be necessary after all.

[2019-08-21 09:08] ibuziuk commented on #1565
@Katka92 I believe this one should not be reproducible anymore

[2019-08-21 10:47] ScrewTSW commented on #1565
@ibuziuk the isue disappeared once the prod-preview was updated :)

[2019-08-21 10:48] ScrewTSW commented on #1538
Appeared once at `us-east-1b`

[2019-08-21 10:49] ScrewTSW commented on #1511
appeared yesterday and today on 2,1a and 1b

[2019-08-21 10:50] ibuziuk commented on #1565
Closing

[2019-08-21 10:50] ScrewTSW commented on #1515
appeared once today at `us-east-2`

[2019-08-21 11:44] tsmaeder commented on #1565
@ibuziuk close the upstream issue, too?

[2019-08-21 13:23] skabashnyuk commented on #1568
@ibuziuk FYI https://github.com/eclipse/che/issues/14200

[2019-08-21 13:38] bryantson commented on #1566
@amisevsk Hello. Where do I obtain the Bearer token?

[2019-08-21 15:36] amisevsk commented on #1566
@bryantson The easiest way I know of is to grab it from a browser request when loading the dashboard:
1. Open developer tools on your browser to network tab
2. Load che.openshift.io
3. Look for authorization header on requests to che.openshift.io once login process is complete.

As I said, not at all a user-friendly flow, but the previous path to doing this was deprecated and not replaced.

[2019-08-21 18:10] bryantson commented on #1566
Thanks! It worked. I will try to make the pull request to make clear on how to get the token.

[2019-08-21 23:12] rkratky commented on #1568
@ibuziuk I'm afraid we haven't worked on a migration guide. Do you have the steps available, so that we could turn it into published docs?

[2019-08-21 23:14] rkratky commented on #1568
@ibuziuk, unless you mean https://www.eclipse.org/che/docs/che-7/converting-a-che-6-workspace-to-a-che-7-devfile/ (Converting a Che 6 workspace to a Che 7 devfile).

[2019-08-22 14:38] amisevsk commented on #1568
@rkratky that looks about as good as we can expect (there's no automatic way to do it). We should update the docs link.

[2019-08-22 15:02] amisevsk opened #1569 "User accounts on che.openshift.io are being provisioned without SA token"
**Description:**
We're getting more common reports of "Unauthorized! Configured service account doesn't have access" issues when running on che.openshift.io. From the cases I have checked, it's because these users' `*-che` namespace does not contain the che token secret used by oso-proxy to create workspace resources.

We need to figure out why this is occurring, and also improve the [reset enviro

[2019-08-22 15:03] amisevsk commented on #1566
Created https://github.com/redhat-developer/rh-che/issues/1569 to track this as it seems others have had the problem.

[2019-08-22 15:22] ibuziuk commented on #1568
Upstream issue - https://github.com/eclipse/che/issues/14308
A workaround on doc side - https://github.com/eclipse/che-docs/pull/794

[2019-08-23 04:48] Katka92 commented on #1568
I've gone through the procedure of a migration which is described in a documentation and I found some issues. I've created an issue with sum up here https://github.com/eclipse/che/issues/14315

[2019-08-23 10:47] ScrewTSW commented on #1517
Happened again on `starter-us-east-2` today

[2019-08-23 11:00] ScrewTSW commented on #1565
aaaaand the issue is back on prod-preview `starter-us-east-2a`

[2019-08-23 11:03] ScrewTSW commented on #1511
seen today again:
`starter-us-east-2` x2
`starter-us-east-1a` x5
`starter-us-east-1b` x4

[2019-08-23 11:03] ScrewTSW commented on #1515
Seen today again:
`starter-us-east-2` x2
`starter-us-east-2a` production x2
`starter-us-east-1b` x1

[2019-08-23 11:52] ibuziuk commented on #1569
cc: @alexeykazakov @nurali-techie

[2019-08-23 12:34] Katka92 commented on #1565
@tdancs Can you please attache the affected job?

[2019-08-23 14:46] amisevsk commented on #1569
Note the best example I have currently is namespace `rhs-gps-brson-che`, although it has since been reset.

[2019-08-23 14:48] amisevsk commented on #1569
Note the best example I have currently is namespace `rhs-gps-brson-che`, although it has since been reset.

[2019-08-23 14:49] amisevsk commented on #1569
Accidentally clicked the "Close and comment button" :)

[2019-08-23 14:59] amisevsk commented on #1428
PR updating devfiles to be cached has been merged. The current list is
[code]
The image puller is currently only running on prod-preview and caching images in cluster 2a (and is still out of date since we need to rollout a new deployment). Since these images are used for Che 7.0.0 workspaces, we likely need to wait for 7.0.0 rollout to get meaningful data from production.

[2019-08-23 15:34] ibuziuk opened #1570 "Che Server was restarted on prod with OOM"
Che server was restarted with OOM on 23rd of August at around 3:50 AM. JSON RPC queue started to grow instantly together with JVM Heap and Log events
![image](https://user-images.githubusercontent.com/1461122/63603726-76e07d00-c5ca-11e9-8ac3-97208e6e61d9.png)

It looks like there are a few problematic workspaces that generate a lot of logs which cause issues: e.g. for the last 30 days almost 200.0

[2019-08-26 10:47] ScrewTSW commented on #1511
seen today at:
`starter-us-east-2` x 15
`starter-us-east-1a` x 16
`starter-us-east-1b` x 17

[2019-08-26 10:50] ScrewTSW commented on #1565
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1253/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1251/console

[2019-08-26 10:51] ScrewTSW commented on #1565
Seen today, on Saturday and Sunday:

https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1269/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1262/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1258/console

[2019-08-26 10:52] ibuziuk commented on #1565
@ScrewTSW please provide investigation details. Can you reproduce the issue manually?

[2019-08-26 10:53] ScrewTSW commented on #1565
Haven't tried that yet. Will have a look at it.

[2019-08-26 10:57] Katka92 commented on #1565
For the old two jobs:
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1253/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1251/console

The file was not opened correctly, so LS test failed. Please create a new issue for that and check today's failures.

[2019-08-26 11:34] ScrewTSW opened #1571 "[Test issue] Expand project and open file in editor fails"
Project tree is expanded up to the last folder which hasn't been expanded yet and tests fail as they cannot find the file they are looking for

![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/d270a947-325f-4e58-bdee-eef3c97d7f13)

[2019-08-26 11:57] Katka92 commented on #1571
There was an upstream issue: https://github.com/eclipse/che/issues/14197
It was fixed: https://github.com/eclipse/che/pull/14199
The PR with a fix was merged on 12th August, the release was done on 14th August, so the fix should be contained in tests that runs against actual version of prod-preview. Reopening upstream issue.

[2019-08-26 12:10] ScrewTSW commented on #1571
Seen today, on Saturday and Sunday:

https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1269/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1262/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1258/console

[2019-08-26 12:11] ScrewTSW commented on #1565
Fixed and updated in daily reports

[2019-08-26 12:16] ScrewTSW opened #1572 "[Che issue] Login fails with Authorization token is missing"
Very rarely it happens that the login fails with error during authentication.

![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/2cbc28c1-d03d-429b-86c2-9ddc674e4890)

[2019-08-26 12:18] ScrewTSW commented on #1572
The issue was last seen on Friday August 23rd on prod-preview `starter-us-east-2a` cluster:

https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1256/console

[2019-08-27 07:28] ScrewTSW commented on #1511
Happened to day again:
`starter-us-east-2` x 4
`starter-us-east-1a` x 5
`starter-us-east-1b` x 5

[2019-08-27 07:29] ScrewTSW commented on #1511
yes, but I'm still obliged to track it until we finally update prod to che7 GA :)

[2019-08-27 14:48] ibuziuk commented on #1565
@ScrewTSW can we close this issue ?

[2019-08-27 14:50] ibuziuk commented on #1428
@amisevsk since prod has been updated could we close this issue now (e.g. for analyzing the data between pre-pulled & non-pre-pulled devfiles)?

[2019-08-27 20:20] #1565 closed

[2019-08-28 07:28] ScrewTSW commented on #1511
Happened to day again:
`starter-us-east-2` x 4
`starter-us-east-1a` x 6
`starter-us-east-1b` x 6

[2019-08-28 07:43] Katka92 commented on #1531
Obsolete tests remove. Closing.

[2019-08-28 07:43] #1531 closed

[2019-08-28 08:48] Katka92 opened #1574 "[E2E] Add TEST_SUITE parameter to upstream image"
Add `TEST_SUITE` parameter to docker run command so user can specify which test suite should be run.
The default suite would be `test-happy-path` suite. User can set another suite by adding `-e TEST_SUITE=<suite>` to a docker run command.

[2019-08-28 10:28] Katka92 opened #1575 "[E2E] Fix tests for 7.1.0"
Fix tests in a PR that is updating prod-preview to 7.1.0 https://github.com/redhat-developer/rh-che/pull/1573

Currently the tests are failing on
[code]

[2019-08-28 13:18] ibuziuk commented on #1568
@rkratky docs PR is pending review - https://github.com/eclipse/che-docs/pull/796

[2019-08-28 13:31] ibuziuk opened #1576 "Release `7.1.0` of Upstream Che"
Placeholder for planning - https://github.com/eclipse/che/issues/14352

[2019-08-28 14:07] ibuziuk opened #1578 "Fix daily telemetry woopra report"
Daily Woopra report is broken and needs to be fixed

[2019-08-28 14:23] ibuziuk commented on #1428
makes sense let's add it to the next sprint and do comparison once Che 7 is updated to GA

[2019-08-28 17:22] ibuziuk commented on #796
@davidfestal I believe this can be closed wdyt ?

[2019-08-28 17:23] ibuziuk commented on #938
wsagent was removed as part of Che 7 GA transition from master branch. Closing

[2019-08-28 17:23] #938 closed

[2019-08-28 20:39] amisevsk opened #1579 "Kubernetes image puller watch is closed prematurely by oso-proxy"
**Description:**
In the kubernetes-image-puller, we need to monitor the created daemonset to ensure it is starting correctly. This would typically be done by watching events on the daemonset during startup, but for the osio case, it appears that the watch is closed automatically.

Instead, we should have a backup way of monitoring (querying the daemonset directly, on a loop?) to ensure everything

[2019-08-28 20:43] amisevsk opened #1580 "Kubernetes image puller wants to schedule pods on non-compute nodes"
**Description:**
The Kubernetes image puller appears to be trying to schedule nodes on non-compute (i.e. infra and master) nodes. This causes it to report that 75/81 pods are ready, even though it can't, and shouldn't schedule on infra pods.

We need to examine the daemonset being created and configure it to only create pods on the desired nodes.

[2019-08-28 20:52] amisevsk opened #1581 "Standardize registry containers based on UBI8 minimal + httpd + yq (+ jq + python)"
Placeholder for eclipse/che#14113

[2019-08-29 08:59] ibuziuk commented on #1149
@amisevsk I believe we can close this one, once Che 7 GA will be promoted to prod

[2019-08-29 09:20] ScrewTSW commented on #1572
@amisevsk I cannot see anything that would catch my eye in the logs, maybe you can see what I can't

[kibana_logs](https://logs.dsaas-stg.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2019-08-23T06:30:00.000Z',mode:absolute,to:'2019-08-23T07:00:00.000Z'))&_a=(columns:!(message,kubernetes.container_name),index:'project.dsaas-preview.6e520a9f-d097-

[2019-08-29 10:34] ibuziuk commented on #1566
Closing in favour of https://github.com/redhat-developer/rh-che/issues/1569

[2019-08-29 10:34] #1566 closed

[2019-08-29 11:08] ibuziuk commented on #1556
Upstream is closed. Closing

[2019-08-29 11:08] #1556 closed

[2019-08-29 11:10] ibuziuk commented on #1560
Fixed in eclipse/che-operator#72 and operator nightly builds

[2019-08-29 11:10] #1560 closed

[2019-08-29 11:47] ScrewTSW commented on #1510
Seen today again on `starter-us-east-2` production

![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/a8821b75-5fda-4ff4-9203-c9bd4b79a267)

[2019-08-29 11:53] ScrewTSW commented on #1571
Happened again today:
![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/ac911e86-7e56-4eba-9359-a3f6e2c3bd50)
The tests completely failed to expand the `src` folder

https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1289/console

[2019-08-29 11:58] ScrewTSW commented on #1511
Happened again today:
`starter-us-east-2` x 5
`starter-us-east-1a` x 5
`starter-us-east-1b` x 5

[2019-08-29 13:12] ibuziuk commented on #1568
@Katka92 doc migration is merged. Could you please confirm that the migration process defined in the docs works on prod-preview. After that, I believe we can close this issue

[2019-08-29 13:14] ibuziuk commented on #1580
the funny thingy is that infra & master nodes also have the "compute" role, woth checking with SD if theoretically workspace creation could happen on those

[2019-08-29 15:56] ibuziuk commented on #1524
@ScrewTSW could you confirm that message is shown once ssh key is generated? and that ssh access work in general on prod-preview?

[2019-08-30 06:09] Katka92 commented on #1568
I've checked the new migration docs, seems to be up-to-date. Closing this issue.

[2019-08-30 06:09] #1568 closed

[2019-08-30 07:12] ScrewTSW commented on #1571
Happened today again, stuck on expanding `examples`

[2019-08-30 07:13] ScrewTSW commented on #1511
Happened again today:
`starter-us-east-2` x 6
`starter-us-east-1a` x 6
`starter-us-east-1b` x 6

[2019-08-30 10:12] ScrewTSW commented on #1524
![image](https://user-images.githubusercontent.com/16451875/64004278-39ba4480-cb0e-11e9-8144-082818609f48.png)

It seems to be working just as expected, so it's :+1: from me.

[2019-08-30 10:26] ibuziuk commented on #1524
@ScrewTSW great, so git push / pull works just fine?

[2019-08-30 11:26] ScrewTSW commented on #1524
![image](https://user-images.githubusercontent.com/16451875/64017364-bad30500-cb29-11e9-8332-05133c05e5ff.png)

Everything works as intended. Closing

[2019-08-30 11:26] #1524 closed

[2019-08-30 11:44] Katka92 commented on #1490
I've tested again, all devfiles from devfile registry work smoothly for 7.0.0 - workspace are started, default commands works, projects are imported correctly.

[2019-08-30 12:31] ibuziuk commented on #545
Closing as outdated

[2019-08-30 12:31] #545 closed

[2019-08-30 12:32] ibuziuk commented on #625
I think this one should be fixed. Assigning to me for verification

[2019-08-30 12:38] ibuziuk commented on #890
Should be fixed in Che 7 GA

[2019-08-30 12:39] ibuziuk commented on #936
@ScrewTSW assigning to you since you are working on compatibility CI job

[2019-08-30 12:40] ibuziuk commented on #1000
@davidfestal I believe this one is implemented, right ?

[2019-08-30 12:42] ibuziuk commented on #1067
@amisevsk I believe this one could be closed based on the discussion during prio. We could probably link it with the upstream issue we are planning to take in the next sprint.

[2019-08-30 12:42] #1061 closed

[2019-08-30 12:42] #1069 closed

[2019-08-30 12:58] davidfestal commented on #1000
No that I know of

[2019-09-02 09:55] Katka92 opened #1583 "Fix project expanding issue"
Issue: https://github.com/redhat-developer/rh-che/issues/1571
Igor's comment with sum up of his investigation of possible root cause: https://github.com/eclipse/che/issues/14197#issuecomment-526620050

According to Igor's comment it seems that this is Rh-Che specific test issue and should be fixed on Rh-Che side.
It seems that there have to be some difference in a logic, because files displayed in

[2019-09-02 10:30] Katka92 commented on #1583
Further investigation:
Both are `Java Maven` default stacks with the default setting (on Rh-Che using ephemeral mode).
From a devfile both seems to be using master branch of a project:

pure Che
![Screenshot from 2019-09-02 12-27-52](https://user-images.githubusercontent.com/29278800/64108517-45f80900-cd7d-11e9-910e-07a491f94052.png)

Rh-Che on prod-preview
![Screenshot from 2019-09-02 12-27-29](h

[2019-09-02 11:25] ScrewTSW commented on #1571
Happened today and yesterday on prod-preview. stuck on `src` folder.

[2019-09-02 11:37] ScrewTSW commented on #1511
Happened over the weekend and today as well:
`starter-us-east-2` x 14
`starter-us-east-1a` x 17
`starter-us-east-1b` x 16

[2019-09-02 12:50] Katka92 commented on #1583
From and advice of @sunix it seems like a problem with vscode extension that has the ability to hide/show these files.
When a workspace is started, it asks if those files should be hidden, but even if I select hiding them in a workspace, I can still see the files. It may be bug in a vscode extension.

[2019-09-02 13:08] sunix commented on #1583
vscode extension -> java vscode extension.

[2019-09-02 13:23] sunix commented on #1583
maybe related to https://github.com/theia-ide/theia/issues/6046 ?

[2019-09-02 15:36] ibuziuk commented on #1570
happened again on prod `Terminated at Sep 2, 2019 5:05:19 PM with exit code 137 (Error)`

[2019-09-03 08:42] Katka92 commented on #1544
Adding that as a part of update for 7.1.0 in this PR: https://github.com/redhat-developer/rh-che/pull/1585 and this issue: https://github.com/redhat-developer/rh-che/issues/1575. Closing.

[2019-09-03 08:42] #1544 closed

[2019-09-03 10:08] ScrewTSW commented on #1572
Happened today again on `starter-us-east-1b` cluster x1

[2019-09-03 10:09] ScrewTSW commented on #1511
Happened again today:
`starter-us-east-2` x 6
`starter-us-east-1a` x 6
`starter-us-east-1b` x 5

[2019-09-03 10:30] Katka92 commented on #1575
Docker issues seems to be fixed, incompatible code seems to be fixed. Need to verify before merge, but now dev cluster is under stress and tests are failing on all PRs due to that.

[2019-09-03 12:59] Katka92 commented on #1583
It seems that the project tree looks the same in Che and Rh-Che finaly, but in Che it takes much longer time to view `.gradle` and other items. That answers the question why upstream tests are not failing. According to that, I can verify that it isn't bug of Java vscode extension but timing issue of tests. We can write a fix in tests - e.g. wait until all items are shown in project explorer and on

[2019-09-03 13:46] davidfestal opened #1587 "Explore the impacts of adding the `all namespaces` install mode in the Che operator"
Currently, the Che operator doesn't support the `all namespaces` installation mode, which prevents it to be added as a dependency of another operator that supports this installation mode.

We should take some time to play with it and explore the impacts of adding this, especially the impacts on required permissions and eligibility for OSD 4 OperatorHub.

[2019-09-03 13:59] ScrewTSW opened #1588 "Add documentation for mount-volume and workspace-startup jobs"

[2019-09-03 14:01] ScrewTSW opened #1589 "Replace workspace config with devfile in workspace-startup tests"

[2019-09-03 14:04] ibuziuk commented on #1561
Closing as done

[2019-09-03 14:04] #1561 closed

[2019-09-03 14:23] ibuziuk opened #1590 "EclipseCon 2019 talk preparation"
Preparations for https://www.eclipsecon.org/europe2019/sessions/managing-lightweight-standalone-and-composable-che-workspaces-kubernetes

[2019-09-03 14:25] ibuziuk opened #1591 "Preparations for CodeOne demo"
Preparations for https://www.oracle.com/code-one/

[2019-09-03 14:29] ibuziuk opened #1592 "[Spike] Investigate a possibility to move plugin broker to a separate service shared among all the workspaces"

[2019-09-03 14:34] ibuziuk opened #1593 "Deprecate quay.io/eclipse/che-golang-1.10 in favor of quay.io/eclipse/che-golang-1.12"
Placeholder for https://github.com/eclipse/che/issues/14265

[2019-09-03 14:39] ibuziuk opened #1594 "Keycloack token exchange support"
https://github.com/eclipse/che/issues/14390

[2019-09-03 14:51] ibuziuk opened #1595 "Create 'master', 'nightly', 'release' CI for 'che-machine-exec' plugin and move images to quay.io"
Placeholder for eclipse/che#14357

[2019-09-03 14:58] ibuziuk opened #1596 "[Spike] Merge devfile and plugin registries #14268"
Merge devfile and plugin registries https://github.com/eclipse/che/issues/14268

[2019-09-03 16:29] l0rd commented on #1587
As far as I understand supporting `all namespaces` allow a Kubernetes admin to deploy a `che-server` in every single namespace. That's something that doesn't make sense for Che and that we do not support.

Recently [we have decided](https://github.com/eclipse/che/issues/14203#issuecomment-521287804) that we will only support one `che-server` per Kubernetes cluster. Deploying more than one che-serv

[2019-09-04 08:23] ScrewTSW opened #1597 "Enable worksapce-startup-test email failure reporting"
Implement mail-to functionality in workspace-startup-tests pipeline.

This section should alert us when the workspace-startup-tests start failing.

[2019-09-05 07:05] alexeykazakov commented on #1587
@l0rd I understand your reasoning. It makes sense. But it becomes a blocker for Toolchain operator then. Not sure how we could solve that and be able to install both Tekton and Che operators via Toolchain operator...

[2019-09-05 08:33] ScrewTSW commented on #1511
Happened again today:
`starter-us-east-2` x 6
`starter-us-east-1a` x 6
`starter-us-east-1b` x 6

[2019-09-05 09:40] Katka92 opened #1598 "[E2E] Fix bug in expandPathAndOpenFile"
In upstream, there is a bug while using method `expandPathAndOpenFile` of ProjectTree.ts. The issue is that the wrong css path is generated, it includes two slashes instead of one. Was: `/projects:/projects//console-java-simple`, should be: `/projects:/projects/console-java-simple`.
I've created PR with the fix in upstream [1], but it will not be included to 7.1.0 version, so we need to create a w

[2019-09-05 11:22] Katka92 opened #1599 "[E2E] Remove workspace on --bail not working for 7.1.0"
The `--bail` option should stop running the tests but still should stop and remove a workspace. That is not working as expected in 7.1.0. Fix that or remove `--bail` option before releasing.
Related to fixing tests for 7.1.0 https://github.com/redhat-developer/rh-che/issues/1575

[2019-09-05 13:58] pdaverh commented on #1587
So from what I understand, if we enable "All namespaces" installation mode for Che, then there is a risk that some admin or developer would start an instance of the Che operator in more than one namespace. Is that correct? If so, should we consider Che to check if an instance of the operator is already running on the cluster and prevent one from starting?

[2019-09-05 17:07] ibuziuk commented on #1576
Closing as done

[2019-09-05 17:07] #1576 closed

[2019-09-06 13:07] akochnev opened #1602 "Cannot import private repository as a project from github"
**Issue problem:**

che.openshift.io does not allow me to use a private repository on GitHub. When I log in with my github account, it only shows the public repositories in the account. I am unable to import a new private repo neither when creating a new workspace, nor after the workspace is created.

In contrast, when I create a workspace in codenvy, the private repositories are available to impo

[2019-09-06 13:36] ScrewTSW commented on #1511
Happened again today:
`starter-us-east-2` x 6
`starter-us-east-1a` x 6
`starter-us-east-1b` x 6

[2019-09-09 05:19] Katka92 commented on #1545
Not seen for a month. Closing.

[2019-09-09 05:19] #1545 closed

[2019-09-09 05:21] Katka92 commented on #1527
We are not testing Bayesian. This issue is obsolete, closing.

[2019-09-09 05:21] #1527 closed

[2019-09-09 05:21] Katka92 commented on #1526
Not seen for a month, closing.

[2019-09-09 05:21] #1526 closed

[2019-09-09 05:22] Katka92 commented on #1525
Not seen for a long time. Closing.

[2019-09-09 05:22] Katka92 commented on #1523
Not seen for a long time. Closing.

[2019-09-09 05:23] Katka92 commented on #1522
We are not testing this on a prod now. Not happening on prod-preview. Closing.

[2019-09-09 05:23] #1522 closed

[2019-09-09 05:24] Katka92 commented on #1521
Not seen for a long time. Closing.

[2019-09-09 05:24] #1521 closed

[2019-09-09 05:24] Katka92 commented on #1519
Not tested on production, not happening on prod-preview. Closing.

[2019-09-09 05:24] #1519 closed

[2019-09-09 05:25] Katka92 commented on #1516
Not seen for a log time. Closing.

[2019-09-09 05:26] Katka92 commented on #1518
Not seen for a long time, closing.

[2019-09-09 05:26] #1518 closed

[2019-09-09 05:27] Katka92 commented on #1512
Not seen for a long time, closing.

[2019-09-09 05:27] #1512 closed

[2019-09-09 05:28] Katka92 commented on #1511
Happened again in last three days:
starter-us-east-2 15x
starter-us-east-1a 15x
starter-us-east-1b 15x

[2019-09-09 05:37] Katka92 opened #1603 "[Test issue] Typescript tests - Test fails to create workspace"
Test selects correct stack, default project is selected, it clicks `Create & Open` button, but nothing happens. Test then fails waiting for IDE element ` By(xpath, //ide-iframe[@id='ide-iframe-window' and @aria-hidden='false']) `.

Seen two times:
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1341/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1342/

[2019-09-09 05:40] Katka92 opened #1604 "[Che issue] Timeout when waiting for IDE"
Workspace is created correctly, but it last too long for IDE to show up. Current timeout is set to 2 minutes from clicking button ` Create & Open`.

![image.png](https://images.zenhubusercontent.com/59a50d048f62dc7798c4656a/52a9dd99-20dd-4805-8702-b113bde8a8ae)

Last seen: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1356/console

[2019-09-09 05:55] Katka92 opened #1605 "[E2E] Fix removing workspace in `--bail` mode"
When running tests in `--bail` mode, if test fails, the workspace should be stopped and deleted. The logic should be prepared for that, but is not working now. Need to investigate why and fix that. The temporary solution applied now is to run without `--bail` option.

[2019-09-09 07:54] ScrewTSW opened #1607 "Testing RH-Che update to Che7 GA"
We need to verify that Che7 GA update works correctly on prod-preview

[2019-09-09 11:35] Katka92 commented on #1605
Duplicate of https://github.com/redhat-developer/rh-che/issues/1599. Closing.

[2019-09-09 11:35] #1605 closed

[2019-09-09 11:36] Katka92 commented on #1575
Tests for 7.1.0 were fixed. There are some follow up issues created. Closing.

[2019-09-09 11:36] #1575 closed

[2019-09-09 11:37] Katka92 commented on #1598
The workaround was created on Rh-Che side as a part of fixing 7.1.0 issues. This workaround should be removed when 7.2 is released.

[2019-09-09 11:38] #1598 closed

[2019-09-09 11:39] Katka92 commented on #1583
For now seems like this issue is not present in 7.1.0. Will observe for a while and close if issue will not be reproducible.

[2019-09-09 18:02] amisevsk commented on #1428
The current plan for testing this is
1. Wait for 7.1.0 to roll out to production
2. Get timing data for starting a java-maven workspace
3. Update puller to cache images used in 7.1.0 workspaces (tagged 7.1.0)
4. Re-do timing tests with images cached

The only concern with this approach is if there are any shared layers between 7.0.0 and 7.1.0 images, we might show less of an effect than otherwise;

[2019-09-09 18:03] amisevsk commented on #1557
The open PR: https://github.com/eclipse/che-devfile-registry/pull/90

[2019-09-09 18:04] amisevsk commented on #1592
Opened issue https://github.com/eclipse/che/issues/14494 with proposed refactoring as a first step in running broker as a service.

[2019-09-10 11:13] ScrewTSW commented on #1607
# .NET Core - WARN
- workspace startup works
- IDE loads
- **LSP not working correctly, even after `update dependencies` and `build` the syntax highlight** underlines syntax that's correct
- Commands:
  - `update dependencies` - OK
  - `build` - OK
  - `run` - OK
- deployment successful, application works as expected

# Apache Camel based on Spring Boot - WARN
- workspace startup works
- IDE loads

[2019-09-10 13:42] ibuziuk opened #1609 "verifying that chectl can deploy multiuser Che without cluster admin privileges"
@l0rd I remember we discussed this issue during prioritization, but as I understand currently cluster-admin is a requirement according to the error message:

[2019-09-10 13:43] ibuziuk commented on #1609
@l0rd could you please clarify the scope of this issue?

[2019-09-10 14:20] ScrewTSW commented on #1490
Che 7.1.0 GA devfile testing: https://github.com/redhat-developer/rh-che/issues/1607

SSH plugin:
- Key pair generation works
- Show public key from notification works
- SSH: Show public keys - UI doesn't show file selector
- After workspace restart the key is present in all containers
- Pull works
- Push works

[2019-09-10 14:23] amisevsk commented on #1607
A second pair of eyes:

- .NET Core:
  - LSP issues are known, I think they are related to https://github.com/eclipse/che/issues/13427. The LSP appears to work correctly after refreshing the page.
  - Highlights are weird (wrong area highlighted on syntax issue)

- Django:
  - LSP issues https://github.com/eclipse/che/issues/14074 is still open
    - Also, PR: https://github.com/eclipse/che-theia/

[2019-09-10 15:43] amisevsk commented on #1581
Progress is blocked because it's not clear that we want to build + maintain a `ubi8-httpd` container ourselves. E.g. the currently used `registry.centos.org/centos/httpd-24-centos71` [is quite complicated](https://github.com/sclorg/httpd-container/tree/master/2.4).

Additionally, such a container would likely need its own CI and repository, as it would be reused in both brokers.

[2019-09-11 06:36] Katka92 commented on #1604
Seen again on prod-preview
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1366/console
Screenshot:
![image](https://user-images.githubusercontent.com/29278800/64673703-28a6f700-d46f-11e9-9e7b-e8be987b3686.png)

[2019-09-11 06:38] Katka92 commented on #1511
Happened again yesterday and today:
starter-us-east-2, starter-us-east-1a, starter-us-east-1b

[2019-09-11 12:06] Katka92 commented on #1599
According to the failed tests on prod-preview [1] it may be useful to DON'T run tests in --bail mode. The IDE in this particular tests was not started in 2 minutes, but started when test was waiting for a project. So we can see that all other tested components behaves correctly. If the --bail was set, we would have no idea if other components work correctly or not.
The "problem" is that if all oth

[2019-09-11 12:21] ibuziuk commented on #1557
Upstream issue is closed. Closing

[2019-09-11 12:21] #1557 closed

[2019-09-11 13:44] ibuziuk commented on #1581
@nickboldt any comments on that ^ ? Moving to "On Hold" pipeline

[2019-09-11 13:49] amisevsk commented on #1581
@ibuziuk I think it's more a question for @l0rd -- Nick has ubi8-httpd images built already, it's just a fairly [complicated](https://github.com/nickboldt/containers/blob/da29b14dfa57eedabda6029258948e6a181b25dc/ubi8-httpd-yq/Dockerfile#L44-L83) dockerfile compared to what we do now (pull a working image).

We can pull these changes into one of our repos, but it's a question of if we want to be th

[2019-09-11 14:58] l0rd commented on #1581
To move forward on this I would temporarily build and publish the `ubi8-httpd` image as an alternative to the alpine image. Alpine should be the default upstream but we need to build both the ubi and the alpine versions nightly to make sure we never break the ubi build.

Once we move to a standalone web service for registries (https://github.com/eclipse/che/issues/14268) I would use a `FROM scratc

[2019-09-11 15:44] l0rd commented on #1609
@ibuziuk what I mean is that admin rights should not be required (except if the user wants to configure Keycloak to use OpenShift OAuth). Today for some reason we create a che-operator `ClusterRole`. Why do we need that? Can we avoid it?

[2019-09-12 05:50] Katka92 commented on #1511
Happened again today:
starter-us-east-2, starter-us-east-1a, starter-us-east-1b

[2019-09-12 10:23] ibuziuk opened #1612 "Multiple workspaces in STOPPING / STARTING phase result in degraded Che server performance"
Currently, there are multiple workspaces in STOPPING / STARTING phase that results in degraded Che server performance. There are no OpenShift resources associated with those workspaces and we the problems seems to be presented on Che server level. We need to change the status of those workspaces to STOPPED and figure out why this does not happen automatically.

[2019-09-12 14:27] ibuziuk opened #1613 "Could not update workspace after creation to add the 'sourceTypes' attribute"

[2019-09-13 09:05] ibuziuk commented on #1612
After analyzing db there is an inconsistency between  'che_workspace_activity' and 'che_k8s_runtime' for all those STARTING  / STOPPING workspaces the real status is STOPPED - https://github.com/eclipse/che/issues/14536

[2019-09-13 10:30] Katka92 opened #1615 "Apache Camel example not working on production"
**Issue problem:**
When running `Apache Camel based on Spring Boot` on production, the workspace can not start. This issue is not reproducible on prod-preview. Devfiles are same on production and prod-preview.

![Screenshot from 2019-09-13 12-21-44](https://user-images.githubusercontent.com/29278800/64855872-1a004180-d621-11e9-9ccf-713c7170c75d.png)

**Red Hat Che version:**

version: 7.1.0

**Rep

[2019-09-16 06:32] Katka92 commented on #1604
Seen again on 1a and 1b.

[2019-09-16 11:41] Katka92 commented on #1574
Logic was added to upstream PR https://github.com/eclipse/che/pull/14507
Adding this logic to downstream https://github.com/redhat-developer/rh-che/pull/1616

[2019-09-16 12:14] Katka92 opened #1617 "Fix rollout test"
Fix rollout tests. Currently seems to be failing because of deprecated Java tests. Switching test suite to typescript tests should solve a problem.

[2019-09-17 09:58] ScrewTSW commented on #1604
seen today at 1b cluster x1

[2019-09-17 12:04] Katka92 commented on #1574
PRs merged. Closing.

[2019-09-17 12:04] #1574 closed

[2019-09-17 12:05] Katka92 commented on #1567
Test for Java Vertx PR: https://github.com/redhat-developer/rh-che/pull/1619

[2019-09-18 07:19] ibuziuk commented on #1615
@Katka92 could you please add namespaces example where the same devfile works and where it is not, since this looks like admission controller setup issue:

[2019-09-18 07:21] Katka92 opened #1620 "[E2E] Move Java Maven test to upstream"
Move the test of Java Maven default stack to the upstream. Check the code and update some parts if needed, get inspired by HappyPath test which is already using maven plugins.

[2019-09-18 07:30] #1508 closed

[2019-09-18 07:30] #398 closed

[2019-09-18 07:30] #820 closed

[2019-09-18 07:30] #848 closed

[2019-09-18 07:31] #622 closed

[2019-09-18 07:31] #649 closed

[2019-09-18 07:31] #663 closed

[2019-09-18 07:31] #674 closed

[2019-09-18 07:31] #868 closed

[2019-09-18 07:31] #890 closed

[2019-09-18 07:31] #896 closed

[2019-09-18 07:31] #1000 closed

[2019-09-18 07:31] #1100 closed

[2019-09-18 07:31] #1144 closed

[2019-09-18 07:31] #1149 closed

[2019-09-18 07:31] #1213 closed

[2019-09-18 07:31] #1478 closed

[2019-09-18 07:31] #1488 closed

[2019-09-18 07:31] #1607 closed

[2019-09-18 07:38] #396 closed

[2019-09-18 07:38] #451 closed

[2019-09-18 07:39] ibuziuk commented on #758
I do not think this is relevant anymore. Closing

[2019-09-18 07:39] #758 closed

[2019-09-18 07:42] ibuziuk commented on #801
I think this one is not relevant anymore. Assigning to me for verification

[2019-09-18 07:48] ibuziuk commented on #1370
closing since this one is obsolete and we need to deprecate che-dockerfiles / rh-che dockerfiles for Che 7

[2019-09-18 07:48] #1370 closed

[2019-09-18 08:07] Katka92 commented on #1615
@ibuziuk Sure :)
Fails on `kkanova` cluster 2 and `osio-ci-e2e-004` cluster 1b
Succeeds for `osiotest2` on cluster 2 and `osiotest-workspace-1b` on cluster 1b

[2019-09-18 08:33] ScrewTSW commented on #1523
The issue was spotted again at `starter-us-east-2` production:
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1406/console
![image](https://user-images.githubusercontent.com/16451875/65131554-b484ca00-d9ff-11e9-9a2c-b9519a78fd93.png)

[2019-09-18 08:37] ScrewTSW commented on #1604
Seen today again on prod `1a` two times. and once on `1b`

[2019-09-18 11:29] #1547 closed

[2019-09-18 14:06] ibuziuk commented on #638
Closing, since I do not think this is currently a priority for Che OSIO team

[2019-09-18 14:06] #638 closed

[2019-09-18 14:16] ibuziuk commented on #1067
Closing in favour of https://github.com/redhat-developer/rh-che/issues/1592

[2019-09-18 14:16] #1067 closed

[2019-09-19 08:42] ScrewTSW opened #1622 "[Infra issue] Maven application build takes too long to start"
Hello.

I've noticed an issue with our Maven test failing because of a timeout.
When I've taken a closer look it appears to have been caused by the infrastructure.

Once the maven build has started it has taken the terminal 13 seconds just to connect to the maven pod.
![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/b1d05a2a-6bf7-4af0-8ca3-e73da1be7e78)

After that the bu

[2019-09-19 08:43] ScrewTSW commented on #1604
Appeared today only once at `1b` cluster.

[2019-09-19 15:19] ibuziuk commented on #1320
This one should be fixed and verified as part of the 7 GA updated https://www.eclipse.org/che/docs/che-7/hosted-che/#registering-to-hosted-che_hosted-che

[2019-09-19 15:19] #1320 closed

[2019-09-19 15:19] #1425 closed

[2019-09-19 15:20] #1424 closed

[2019-09-20 09:01] ScrewTSW commented on #1604
Seen today once on cluster `1b`

[2019-09-23 06:54] Katka92 commented on #1515
Java tests are not used anymore. Closing this issue as deprecated.

[2019-09-23 06:54] #1515 closed

[2019-09-23 06:55] Katka92 commented on #1538
Not seen for a month. Closing.

[2019-09-23 06:56] Katka92 commented on #1571
Not seen for a 21 days. Closing. Feel free to reopen when occurs again.

[2019-09-23 06:58] Katka92 commented on #1510
Java tests are not used anymore. Closing as deprecated.

[2019-09-23 06:58] #1510 closed

[2019-09-23 07:03] Katka92 opened #1625 "[Test issue] Site can't be reached"
Periodic test on production failed because it can not reach a page che.openshift.io [1]. Tests for route flapping are not catching any major issues with route exposure so it may not be related.

Seen once on production 1b cluster on 22 September 14:44: https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1225/consoleFull
and once on prod-preview (during stopping worksapce) on 22 September 14

[2019-09-23 07:12] Katka92 commented on #1622
Seen again on prod-preview [1]. This time nor build neither run were executed in given time frame. Screenshots below are taken when tests timeouted.

![image](https://user-images.githubusercontent.com/29278800/65407247-30a55600-dde2-11e9-8b3b-70c22694bb89.png)

![image](https://user-images.githubusercontent.com/29278800/65407260-3c911800-dde2-11e9-909e-59fa33cc4d2c.png)

Job link: https://ci.cento

[2019-09-23 07:15] Katka92 commented on #1604
Happened again 4x on `1a` and 2x on `1b`.

[2019-09-23 09:13] ibuziuk commented on #796
@davidfestal @alexeykazakov closing since I believe this does not occur anymore

[2019-09-23 09:13] #796 closed

[2019-09-23 09:15] ibuziuk commented on #913
closing as outdated

[2019-09-23 09:15] #913 closed

[2019-09-23 12:55] RickJWagner commented on #1615
I can replicate this on che.openshift.io, asking for a Camel/SpringBoot application.

[2019-09-23 13:07] l0rd commented on #1615
On osio containers cannot have memory limit < 150MB. For instance [that doesn't work](https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/apache-camel-springboot/devfile.yaml#L15).

[2019-09-23 13:25] ibuziuk commented on #1615
@l0rd the funny thingy that this works in some namespaces
@pbergene @jfchevrette looks like that some of the admission controllers are not applied across all the *-namespaces

[2019-09-23 13:42] ibuziuk opened #1627 "Update che.openshift.io to the latest 7.2.0 upstream release"
Draft PR - https://github.com/redhat-developer/rh-che/pull/1626

[2019-09-23 13:54] ibuziuk commented on #1613
should be closed after 7.2.0 rollout to production

[2019-09-23 13:57] ibuziuk commented on #1570
does not seem to happen after 7.1.0 promotion to prod when all che 6 workspaces were deprecated

[2019-09-23 15:00] ibuziuk commented on #1602
workaround: generating SSH key from the workspace and uploading to Github would allow to pull / push to the private repositorie

[2019-09-24 01:20] amisevsk commented on #1592
@ibuziuk I believe this one can be closed; issue https://github.com/eclipse/che/issues/14494 is the next step and would spawn the required subtasks.

[2019-09-24 02:15] amisevsk commented on #1615
FWIW from some discussion earlier, it seems that not all namespaces have the same minimum memory limit. Some have a minimum of `32Mi`, others have `150Mi`.

The error message is deceptive, since I think there's an admission controller that rewrites requests to be the minimum, which causes the issue shown. See https://coreos.slack.com/archives/CCRND57FW/p1568383360487000 for details.

[2019-09-24 07:23] l0rd commented on #1615
Anyway the "easy fix" here is to change the limit to `150MB` in the camel devfile. And since we should rollout the 7.2 release soon we may have that in prod by the end of the week.

[2019-09-24 10:37] ibuziuk commented on #947
upstream issue is closed. Closing

[2019-09-24 10:37] #947 closed

[2019-09-24 10:38] ibuziuk commented on #1591
I believe we can close this and will need to create an additional issue for contributing the demo to https://github.com/che-incubator/che-demos

[2019-09-24 10:38] #1591 closed

[2019-09-24 10:38] #1592 closed

[2019-09-24 10:39] ibuziuk commented on #1583
@Katka92 can we close this one ? seems to be fixed in `7.1.0`

[2019-09-24 10:42] ibuziuk commented on #1615
hmm... today the Apache Camel worked for me @Katka92 can you reproduce with the `kkanova` against cluster 2 ?

[2019-09-24 10:53] Katka92 commented on #1615
For user `kkanova` still failing. You can see oc events here: https://gist.github.com/Katka92/8f4268790766e3680bc8c4369741812f

[2019-09-24 11:10] Katka92 commented on #1583
Yes, the issue was not seen from the day we updated to 7.1.0. I left this opened to track it, I think that 15 days is enough. Closing.

[2019-09-24 11:10] #1583 closed

[2019-09-24 11:16] ibuziuk commented on #1615
The root cause is that https://github.com/fabric8-services/fabric8-tenant/pull/727 was not applied for all namespaces and we do need to proceed with global tenant-update in order to apply the same quotas. For some reason the quotas were applied not to all namespaces for example:

- `ibuziuk-che` (us-east-2) - Limit is 30Mi

![image](https://user-images.githubusercontent.com/1461122/65506812-c0bfca

[2019-09-24 11:37] ibuziuk commented on #1615
PR with a workaround - https://github.com/eclipse/che-devfile-registry/pull/101
@Katka92 could you please try it on Hosted Che with `kkanova` account and provide your approval ?

[2019-09-24 21:23] alexeykazakov commented on #1615
It would be best if you create a JIRA for that in https://jira.coreos.com/browse/CRT
cc: @MatousJobanek

[2019-09-24 23:42] amisevsk commented on #1579
Open PR: https://github.com/redhat-developer/kubernetes-image-puller/pull/14

[2019-09-24 23:43] amisevsk commented on #1580
Open PR: https://github.com/redhat-developer/kubernetes-image-puller/pull/14

[2019-09-25 06:15] Katka92 opened #1630 "[Che Issue] Can not obtain user token"
Getting user active token failed with message `Failed to obtain token for ****! Probably user password is incorrect.` So far seen only once on 2a production:
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1236/console

[2019-09-25 06:22] Katka92 commented on #1604
Happened again on `1a` 1x.

[2019-09-25 07:43] ibuziuk commented on #1615
@alexeykazakov @MatousJobanek issue created - https://jira.coreos.com/browse/CRT-270
Current rh-che issue is going to be closed once Hosted Che is updated to the latest `7.2.0` release

[2019-09-25 09:25] ibuziuk commented on #1359
@apupier are you still facing the same issue on `7.1.0` ? which browser are you using?

[2019-09-25 09:29] apupier commented on #1359
it is working fine with current instance of che.openshift.io
thanks

[2019-09-25 09:29] #1359 closed

[2019-09-25 09:31] ibuziuk commented on #1360
@apupier what about this one? still fails to login ?

[2019-09-25 09:42] apupier commented on #1360
working too now

[2019-09-25 09:42] #1360 closed

[2019-09-25 09:50] ibuziuk commented on #1570
heap / non-heap usage is fairly stable after 7.1.0 promotion to prod and deprecation of the che 6 workspaces. Closing

[2019-09-25 09:50] #1570 closed

[2019-09-25 09:52] ibuziuk commented on #1603
@Katka92 is it still reproducible ?

[2019-09-25 09:53] ibuziuk commented on #1595
Upstream is closed.Closing

[2019-09-25 09:53] #1595 closed

[2019-09-25 09:54] ibuziuk commented on #1555
Upstream is closed. Closing this one also

[2019-09-25 09:54] #1555 closed

[2019-09-25 09:56] ibuziuk commented on #1594
Clsosing as done

[2019-09-25 09:56] #1594 closed

[2019-09-25 10:04] ibuziuk commented on #1630
Could you point to the code of how the token is obtained ?

[2019-09-25 11:05] Katka92 commented on #1603
@ibuziuk This issue was not seen for 16 days.

[2019-09-25 11:09] Katka92 commented on #1630
@ibuziuk Here is code: https://github.com/redhat-developer/rh-che/blob/master/dockerfiles/e2e-saas/docker-entrypoint.sh#L38 I haven't seen issues with that approach and we are using that for quite a while.

[2019-09-25 12:08] ibuziuk commented on #1627
Closing in favor of https://github.com/eclipse/che/issues/14656

[2019-09-25 12:08] #1627 closed

[2019-09-25 12:13] ibuziuk commented on #1045
@invincibleJai could you verify and close the issue if the analytics plugins worksps as expected on che.openshift.io?

[2019-09-25 12:15] invincibleJai commented on #1045
Thanks @ibuziuk , @arajkumar Pls verify and mark it close

[2019-09-25 12:19] ibuziuk commented on #1045
@invincibleJai it looks like analytics plugin require quite much RAM:

I hit quota issue when tried to start the java-maven + analitics enabled is 512 absolute minimum - https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/redhat/dependency-analytics/latest/meta.yaml#L16

[2019-09-25 12:38] ibuziuk commented on #1558
Closing in favour of upstream one - https://github.com/eclipse/che/issues/14166

[2019-09-25 12:38] #1558 closed

[2019-09-25 12:45] ibuziuk commented on #1590
Closing in favour of upstream - https://github.com/eclipse/che/issues/14657

[2019-09-25 12:45] #1590 closed

[2019-09-25 12:49] ibuziuk commented on #1593
Closing in favour of upstream - https://github.com/eclipse/che/issues/14265

[2019-09-25 12:49] #1593 closed

[2019-09-25 13:27] ibuziuk commented on #1477
Closing in favour of upstream - eclipse/che#14633

[2019-09-25 13:27] #1477 closed

[2019-09-25 13:39] ibuziuk commented on #1578
will start with sending the message to the woopra support team - the report used to work just fine before

[2019-09-25 13:57] ibuziuk commented on #915
HK has been closed. Closing. with monitoring & TIER 3 access, this request is not relevant anumore

[2019-09-25 13:57] #915 closed

[2019-09-25 13:58] ibuziuk commented on #1581
Let's move the discussion back to upstream - https://github.com/eclipse/che/issues/14113
Closing this issue

[2019-09-25 13:58] #1581 closed

[2019-09-25 14:47] ibuziuk commented on #1609
Closing in favour of upstream - https://github.com/eclipse/che/issues/14662

[2019-09-25 14:47] #1609 closed

[2019-09-25 15:48] alexeykazakov commented on #1615
When is it going to happen?

[2019-09-25 15:50] ibuziuk commented on #1615
@alexeykazakov early October, but we already applied workaround on devfile end

[2019-09-25 16:10] ibuziuk commented on #1612
The upstream issue has been closed, so I assume that after `7.2.0` rollout to production Grafana will report the correct figures for STOPPING / STARTING workspaces - eclipse/che#14536

[2019-09-25 16:46] amisevsk commented on #1580
Fixed in redhat-developer/kubernetes-image-puller#14

[2019-09-25 16:46] #1580 closed

[2019-09-25 16:47] amisevsk commented on #1579
Fixed in redhat-developer/kubernetes-image-puller#14, although it looks like nodes aren't readying within 30 seconds, so leaving this issue open for now.

[2019-09-26 07:41] Katka92 commented on #1622
Today tests failed on build and run commands again, seems like it lasted too long to show the pop-up saying `Task che: maven build has exited with code 0.`
![image](https://user-images.githubusercontent.com/29278800/65667995-2df46c00-e041-11e9-89a6-cacb49693e4a.png)

[2019-09-26 07:41] Katka92 commented on #1604
Happened again on `1a` 1x.

[2019-09-26 08:02] arajkumar commented on #1045
@ibuziuk @invincibleJai I tried on che.openshift.io, I could create workspace, but it keeps on loading with the message `Loading a runtime token...`. Results are same with & without dependency analytics extension.

[2019-09-26 10:35] invincibleJai commented on #1045
@arajkumar thanks, verify and see if analytics really need 512 as absolute min https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/redhat/dependency-analytics/latest/meta.yaml#L16

[2019-09-26 10:44] arajkumar commented on #1045
@invincibleJai , I'm trying with various stacks with various limits(128,256,512). I see that maven stacks needs quite a big amount a memory. I will do few more rounds of testing before doing any conclusion.

[2019-09-26 13:32] ibuziuk opened #1631 "Load tests on prod-preview"
**Description:**
Target: run as many as possible concurrent workspaces using test accounts (currently should be possible to have at least 15 concurrent)

The load script should be reused from https://github.com/eclipse/che/issues/14629

This issue is required for further investigation of https://github.com/eclipse/che/issues/14530
since the  `CHE_WORKSPACE_POOL_TYPE` was changed to `cached` on pro

[2019-09-26 13:58] amisevsk commented on #1579
Fixed; issue was some containers that cannot be run in our desired way.

[2019-09-26 13:58] #1579 closed

[2019-09-27 05:47] Katka92 opened #1632 "[Infra issue] Maven build failed"
Build of Java Maven project failed saying `Could not transfer artifact org.apache.maven:maven-core:jar:2.0.9 from/to central (https://repo.maven.apache.org/maven2): Connection reset`.

Seen once on prod-preview https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1464/console

![image.png](https://images.zenhubusercontent.com/59a50d048f62dc7798c4656a/f936389c-b2c0-4c39-a8f6-09ca4dd9d

[2019-09-27 05:48] Katka92 commented on #1604
Seen on `1a` 2x.

[2019-09-27 05:54] Katka92 commented on #1631
@ibuziuk Which devfile should be used to test prod-preview? In upstream they are using quarkus [1]. Is that devfile suitable or should we use some other?

[1] https://raw.githubusercontent.com/redhat-developer-demos/guru-night/master/quarkus-tutorial/devfile.yaml

[2019-09-30 12:27] ScrewTSW commented on #1604
Seen on `1a` twice and once on `prod-preview 2a` stuck at IDE load screen
![image](https://user-images.githubusercontent.com/16451875/65878474-71770f00-e38e-11e9-8f53-ee29b18aba6f.png)

[2019-09-30 13:46] ScrewTSW opened #1633 "[Che Issue] Maven terminal reset during build"
For some strange reason the terminal output got reset during application build.

![image](https://user-images.githubusercontent.com/16451875/65884611-72616e00-e399-11e9-8c90-be7fc944e43f.png)

![image](https://user-images.githubusercontent.com/16451875/65884624-79887c00-e399-11e9-82b1-f62bb3d55ef8.png)

This issue appeared three times during the weekend on production `1b` cluster.

[2019-09-30 19:15] amisevsk opened #1634 "Workspace sharing on hosted Che does not work"
**Description:**
As of Che 7, the "share workspace" tab is entirely non-functional, giving only the error

PR https://github.com/redhat-developer/rh-che/pull/1626 removes the share workspace tab, but we should re-examine workspace sharing in Che 7 and update hosted Che appropriately.

[2019-10-01 10:40] ScrewTSW opened #1635 "[Che Issue] Editor is not initialized"
Workspace after starting is non functional.

* Welcome page doesn't load
* Project is not imported
* Workspace commands are missing

![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/71e929f1-10ab-4946-a47c-46aed8258f55)

[2019-10-01 10:43] ScrewTSW commented on #1635
happening at prod-preview since Sptember 30, 10:44 PM UTC

[2019-10-01 15:00] amisevsk opened #1636 "Compatability check CI should also deploy updated plugin registries"
## Description:
During the process for updating the upstream Che dependency version, we're stuck in a state where the PR-check CI job for the "update to version x" PR continues to use the previous versions registries (since it reuses the staging registries). I don't know of any *specific* issues related to different versions of Che vs. the registries, but this could potentially cause issues in the

[2019-10-02 07:44] ScrewTSW commented on #1635
still keeps on consistently failing on prod-preview (6x)

[2019-10-02 07:44] ScrewTSW commented on #1636
Prod-preview seems to be still reliably failing in every test run :D
We are tracking this for the reporting purposes in this rh-che issue: https://github.com/redhat-developer/rh-che/issues/1635

[2019-10-02 07:59] ScrewTSW opened #1637 "[Infra Issue] Workspace stuck in stopping state upon deletion"
Once workspace starts getting stopped it's stuck in the stopping state for extended period of time.

![image](https://user-images.githubusercontent.com/16451875/66027461-3d6d2c80-e4fb-11e9-859a-11749d96e10f.png)
![image](https://user-images.githubusercontent.com/16451875/66027475-46f69480-e4fb-11e9-9adc-fb26af1cedcb.png)

[2019-10-02 08:00] ScrewTSW commented on #1637
happened today once at `1a` and previously on `1a` as well

[2019-10-02 08:45] rhopp commented on #1635
@ScrewTSW Is this also manually reproducible?
Can you dig out browser console logs?

[2019-10-02 13:29] amisevsk commented on #1635
I'm able to reproduce manually. The console log:
![Screenshot from 2019-10-02 09-28-13](https://user-images.githubusercontent.com/16168279/66048171-16146080-e4f7-11e9-9600-6fd4fd7a7974.png)

(zoomed out to get the whole thing)

[2019-10-03 10:50] ScrewTSW commented on #1604
happened once on `1a`

[2019-10-03 10:54] ScrewTSW commented on #1635
Didn't try to do it manualy, but seems that Angel was successful.
Anyways, it's still failing all the time on prod-preview

[2019-10-03 18:04] amisevsk commented on #1635
I suspect the issue may be related to prod-preview using the 7.2.0 release of plugin registry. I see the images
[code]
for a java-maven workspace. I would hold off work on this issue until 7.2.0 is rolled to prod-preview.

[2019-10-04 12:37] ScrewTSW opened #1639 "[Infra issue] Workspace switching to offline randomly - Evicted"
Offline state during application build caused test failure
![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/d7f1d6d1-c616-4e82-a413-cde2523734fa)

Offline state during project tree expansion caused test failure
![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/bb414f37-15e7-47e6-8b84-f395af6aa577)

This issue happened before once, but we thought t

[2019-10-04 12:38] ScrewTSW commented on #1604
happened once on `1a` and twice on `2a`

[2019-10-04 12:39] ScrewTSW commented on #1635
still have to report it though :D it's still failing.

[2019-10-04 13:09] Katka92 opened #1640 "Fix tests for 7.3.0"
Fix test related problems for 7.3.0.
Found issues are described in related PR(s).

[2019-10-07 06:06] Katka92 commented on #1517
Not seen for a long time. Closing.

[2019-10-07 06:06] Katka92 commented on #1572
Not seen for a month. Closing.

[2019-10-07 06:06] #1572 closed

[2019-10-07 06:07] Katka92 commented on #1603
Not seen for a long time. Closing.

[2019-10-07 06:07] #1603 closed

[2019-10-07 07:22] Katka92 opened #1641 "[Che Issue] Vert.x `maven build` command fails"
When running build of Java Vert.x default stack, the command `maven build` failed. No message is shown, just pop-up:
![image.png](https://images.zenhubusercontent.com/59a50d048f62dc7798c4656a/6e0b3d68-69a0-47b8-9674-e581e3f10bda)

Job: https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1521/console

[2019-10-07 07:33] Katka92 commented on #1639
Seen again, caused LS initialization tests failed.
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1521/console

[2019-10-07 07:41] Katka92 commented on #1604
Happened again on 1a once.

[2019-10-07 07:41] Katka92 commented on #1622
Seen again on cluster 2.

[2019-10-07 14:10] amisevsk opened #1643 "Add `check-upstream-dashboard.sh` to compatibility check"
**Description:**
We currently have a script `./dev-scripts/check-upstream-dashboard.sh` which we use on upstream releases to check if rh-che dashboard updates are necessary. It would be nice to have this included in the compatibility check if possible.

Some caveats:
- The script works between maven releases, so it would be a little tricky to use when checking SNAPSHOT -> SNAPSHOT changes (maybe i

[2019-10-07 14:11] amisevsk commented on #1643
Given the limitations of the script, it might not make perfect sense for the compatibility check, in which case I'm okay with not including it.

[2019-10-08 07:39] Katka92 commented on #1633
Seen again on 2a https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1320/console

[2019-10-08 07:39] Katka92 commented on #1639
Workspace went off during LS initialization on cluster 2
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1526/console

[2019-10-08 07:40] Katka92 commented on #1637
The workspace was stopping for too long again on 2 and was not deleted correctly. Happend 2x for 2a too, 2x on 1a, once on 1b .
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1525/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1317/consoleFull
https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1317/consoleFull

This job on 2a failed because stopping laste

[2019-10-08 08:09] skabashnyuk opened #1645 "Adjust CHE_WORKSPACE_POOL_EXACT__SIZE in che-server configuration"
At this moment default values for WorkspaceSharedPool are too low. Its configured in "fixed" mode without cores_multiplier. I think it's too low. On the other hand changing this configuration in "cached" mode is unsafe because of the unpredictable possibility of thread pool grow.   I suggest setting ```CHE_WORKSPACE_POOL_EXACT__SIZE``` to some reasonable value of parallelism. Let's say ```30```

[2019-10-08 08:09] skabashnyuk commented on #1645
CC @amisevsk @l0rd @ibuziuk

[2019-10-08 08:11] Katka92 commented on #1604
Seen 2x on 2, once on 2a, once 1a, once on 1b.

[2019-10-08 20:50] skabashnyuk opened #1649 "Multiple warnings Could not get runtimeIdentity for workspace 'XXXX', and so cannot verify if current subject 'YYY' owns workspace"
**Issue problem:**
Multiple (hundreds) warnings
[code]
Logger: com.redhat.che.multitenant.Fabric8OpenShiftClientFactory
thread_name:PVCSubPathHelper-ThreadPool-3

**Reproduction Steps:**

See more https://logs.dsaas.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2019-10-08T07:22:37.598Z',mode:absolute,to:'2019-10-08T07:24:46.705Z'))&_a=(columns:!(

[2019-10-09 06:08] Katka92 commented on #1635
Seen yesterday and today on prod-preview. Seems like it should be fixed from now.

[2019-10-09 06:09] Katka92 commented on #1604
Happened 1x on 1a and 1x on 1b.

[2019-10-10 06:33] Katka92 opened #1653 "[Test issue] LS test for Maven failing"
LS tests on all envs are failing from yesterday on Suggestion invoking, Autocomplete and Codenavigation tests.
Cause: The header was added to the HelloWorld.java file which is used for verifying LS in Java Maven workspace. This causes LS tests to fail. A solution is to adopt lines for LS testing in all tests.
PR with a fix: https://github.com/redhat-developer/rh-che/pull/1652

[2019-10-10 06:41] Katka92 commented on #1633
Seen again on 1a https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1329/console

[2019-10-10 06:42] Katka92 commented on #1637
Seen again 1x on cluster 2.

[2019-10-10 08:46] ScrewTSW opened #1655 "Update dependencies in rh-che build scripts"
E.g.: We are using outdated version of docker in the cico_build.sh script
https://github.com/redhat-developer/rh-che/blob/master/.ci/cico_build.sh#L33

It should be replaced by https://download.docker.com/linux/centos/docker-ce.repo as it's causing unnecessary delays and conflicts with the rest of the CI scripts.

We should also investigate and refactor the rest of the bash logic and update depend

[2019-10-10 12:19] MatousJobanek commented on #1615
@ibuziuk @Katka92  The cluster-wide update should be finished, could you please check that everything is set correctly now?

[2019-10-10 12:37] #1645 closed

[2019-10-10 19:45] skabashnyuk opened #1656 "Multiple exceptions on che.openshift.io - Unable to perform '[rm, -rf, /tmp/job_mount/xxx]' command"
**Issue problem:**
Error in logs
[code]
From org.eclipse.che.workspace.infrastructure.kubernetes.namespace.pvc.PVCSubPathHelper
Can be related to  https://github.com/redhat-developer/rh-che/blob/fe214adca6902bf830260433201ca6b0ad876207/plugins/fabric8-multi-tenant-manager/src/main/java/com/redhat/che/multitenant/tenantdata/TenantDataProvider.java#L75

At the same time, I can see a noticeable incre

[2019-10-11 05:55] Katka92 commented on #1615
@MatousJobanek Seem like the quota was changed on my account `kkanova` [1] and I was able to start Apache Camel workspace correctly. The same for `osio-ci-e2e-004`.

[1]
![Screenshot from 2019-10-11 07-48-27](https://user-images.githubusercontent.com/29278800/66627316-8f007000-ebfb-11e9-8347-89d7ae4e6aaf.png)

[2019-10-11 05:59] Katka92 commented on #1653
The issue was fixed, closing.

[2019-10-11 05:59] #1653 closed

[2019-10-11 06:13] Katka92 opened #1657 "[Che issue] IDE not loaded with "Application is not available""
IDE is not loaded correctly after workspace creation and startup. [1]

[1]
![image](https://user-images.githubusercontent.com/29278800/66628197-662daa00-ebfe-11e9-9db7-a79442aef346.png)

Seen on cluser 2: https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1545/console

Related upstream issue that should fix this behaviour eclipse/che#17002

[2019-10-14 07:29] ScrewTSW commented on #1604
Happened 1x on `1a`

[2019-10-14 09:38] ibuziuk commented on #1615
@MatousJobanek great job. Closing

[2019-10-14 09:38] #1615 closed

[2019-10-14 11:50] ibuziuk commented on #546
@davidfestal the PR https://github.com/keycloak/keycloak/pull/4978 has been merged, should we prioritize this issue to make the auth flow more sustainable ?

[2019-10-14 11:54] ibuziuk commented on #625
Does not happen anymore, verified against 7.1.0. Closing

[2019-10-14 11:54] #625 closed

[2019-10-14 12:01] davidfestal commented on #546
Not sure it's really high-priority currently.

[2019-10-14 12:17] ibuziuk commented on #801
Still happens but quite rarely 5 occurrences for the last 24h:

[2019-10-14 12:21] ibuziuk commented on #926
Also reproducible in Che 7 (5 occurrences for the last 24 hours)

[2019-10-14 12:21] ibuziuk commented on #801
Closing in favor of https://github.com/redhat-developer/rh-che/issues/926

[2019-10-14 12:27] ibuziuk commented on #1160
metrics are contributed to app-sre Grafana. Closing

[2019-10-14 12:27] #1160 closed

[2019-10-14 12:28] ibuziuk commented on #1256
Closing as outdated. This issue used to be Che 6 specific

[2019-10-14 12:28] #1256 closed

[2019-10-14 12:37] ibuziuk commented on #1291
Still happens on Che 7

[2019-10-14 13:28] #1291 closed

[2019-10-14 13:37] ibuziuk commented on #1171
Can not find any logs related to those issues after 7.1.0 update on production. Closing

[2019-10-14 13:37] #1171 closed

[2019-10-14 13:38] ibuziuk commented on #1343
Closing in favor of https://github.com/eclipse/che/issues/13736

[2019-10-14 13:38] #1343 closed

[2019-10-14 13:41] ibuziuk commented on #1392
Closing as outdated

[2019-10-14 13:41] #1392 closed

[2019-10-14 15:16] ScrewTSW opened #1658 "Implement custom repositories for prcheck and compatibility tests"

[2019-10-15 11:08] ScrewTSW commented on #1633
happened again in the `Vert.x` stack test today on `1a`

[2019-10-15 11:11] ibuziuk commented on #1633
@ScrewTSW @Katka92 do we have an issue for upsrtream (this does not look Hosted Che specific)?

[2019-10-15 17:19] ibuziuk commented on #546
@davidfestal sure it might be not a priority, just wondering if this issue is still relevant so that we could prioritize it (I'm doing issue triage and want to close irrelevant issues)

[2019-10-15 17:35] ibuziuk commented on #1344
Java-Gradle is part of the getting-started devfiles [1] - https://www.eclipse.org/che/getting-started/cloud/
[1] https://github.com/redhat-developer/devfile/tree/master/getting-started/java-gradle

[2019-10-15 17:35] #1344 closed

[2019-10-15 17:40] ibuziuk commented on #1247
Closing in favor of upstream https://github.com/eclipse/che/issues/12658

[2019-10-15 17:40] #1247 closed

[2019-10-15 17:42] ibuziuk commented on #1408
Closing as outdated, currently, we have https://github.com/redhat-developer/rh-che/blob/master/dev-scripts/check-upstream-dashboard.sh for checking UD compatibility

[2019-10-15 17:42] #1408 closed

[2019-10-16 07:35] ScrewTSW commented on #1639
Happened today again during project tree expansion, tests couldn't open the java file on cluster `1a`
![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/f20868c0-6755-4afd-8a5a-20178f6d7321)

[2019-10-16 08:41] ibuziuk commented on #1358
I take a look at zabbix and there are no untracked deployments across 4 clusters anymore. Closing

[2019-10-16 08:41] #1358 closed

[2019-10-16 13:20] Katka92 opened #1660 "Verify workspace-start-tests are working correctly"
**Description:**
It seems that data gathered from `workspace-start-tests` are not consistent. The consistency problem seems to be not only between Zabbix and Grafana, but even between different Zabbix charts.

1. It seems that data in Zabbix differs a lot from data in Grafana
Zabbix (e.g. cluster 3):
![Screenshot from 2019-10-16 15-17-40](https://user-images.githubusercontent.com/29278800/66922838

[2019-10-16 13:27] ibuziuk opened #1661 "Need to cleanup Che 7 telemetry POC, provide some basic docs and make it available to the rest of the team"
First step for - https://github.com/eclipse/che/issues/12717

[2019-10-16 13:29] #1229 closed

[2019-10-16 13:30] #690 closed

[2019-10-17 07:51] ScrewTSW commented on #1639
Happened twice on `1a` cluster during project tree expansion

[2019-10-17 08:00] ScrewTSW commented on #1625
Happened today once on `1b` cluster

[2019-10-18 06:53] ScrewTSW commented on #1639
Seen once on `1a`

[2019-10-21 15:41] ibuziuk commented on #1045
@arajkumar could you provide a PR with fixes to the RAM consumption? https://github.com/eclipse/che-plugin-registry/tree/master/v3/plugins/redhat/dependency-analytics
if 256MB is enough?

@invincibleJai @arajkumar also could you please take a look at https://github.com/eclipse/che/issues/14942

[2019-10-22 05:42] arajkumar commented on #1045
@ibuziuk , as mentioned, 512MiB is necessary for maven stacks.

[2019-10-22 07:17] ibuziuk opened #1664 "Satisfy Requirements for AppSRE applications - define requests and limits, for both cpu and memory."
As part of our effort to standardize all the applications being run by the
AppSRE team, we want to enforce the following requirements:

- All containers images must come from quay.io
- All containers must define requests and limits, for both cpu and memory.
  Requests must be strictly smaller than limits.

We have identified a few containers that don't satisfy the above requirements:

http://file.

[2019-10-22 08:17] ibuziuk commented on #1045
@arajkumar do we know why the 512 is required for maven, this is quite a lot for the extension, which means it can not be enabled by default.

Sure, but you are saying that is an absolute minimum, no?

[2019-10-22 08:18] ibuziuk commented on #1318
Closing as done

[2019-10-22 08:18] #1318 closed

[2019-10-22 08:20] ibuziuk commented on #1356
Closing in favour of https://github.com/eclipse/che/issues/12999

[2019-10-22 08:20] #1356 closed

[2019-10-22 08:21] ibuziuk commented on #1381
Closing in favour of https://github.com/eclipse/che/issues/13218

[2019-10-22 08:21] #1381 closed

[2019-10-22 08:23] ibuziuk commented on #1410
Fixed by updating async thread pool settings - average workspace stop for the last week is 1.6 seconds according to grafana

[2019-10-22 08:23] #1410 closed

[2019-10-22 08:25] ibuziuk commented on #1436
The upstream is closed. Closing

[2019-10-22 08:25] #1436 closed

[2019-10-22 12:53] Katka92 commented on #1637
Seen again on 1a https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1398/console

[2019-10-22 12:53] Katka92 commented on #1604
Happened 1x on 2 https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1614/console

[2019-10-22 13:58] ibuziuk commented on #1640
@Katka92 I have updated the description and put P1 label for that issue

[2019-10-23 07:00] Katka92 opened #1666 "[Infra issue] Waiting for pod interrupted"
A workspace failed to start. Following message was shown in a UI:

`Error: Failed to run the workspace: "Waiting for pod
'workspacefba43izc7hf5uvka.maven-75869c6948-d8vhz' was interrupted" `

Seen on cluster 2 when starting Java Vert.x stack: https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1619/console

[2019-10-23 07:01] Katka92 opened #1667 "[Test issue] README pops up and steals focus"
From time to time we can see in tests that README is opened and it steals focus, so the action that is taking place fails. That can result in other different failures.
E.g.: When README pops up when LS is tested, all LS related tests fail.

Seen on cluster 2a: https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1408/console

Hint: The pop-up of README is usually caused when the workspac

[2019-10-23 12:12] arajkumar commented on #1045
It is not absolute minimum. For e.g, stack analysis doesn't work on [che](https://github.com/eclipse/che) when we reduce the limit less than 512MiB.

[2019-10-23 12:17] ibuziuk commented on #1045
@arajkumar Sorry, I'm not following. if it is not an absolute minimum why 512Mb is used - https://github.com/eclipse/che-plugin-registry/blob/master/v3/plugins/redhat/dependency-analytics/latest/meta.yaml#L17

[2019-10-23 12:24] arajkumar commented on #1045
One can't run Dependency Analytics for a big maven stacks like [Che](https://github.com/eclipse/che) without 512MiB memory request. It works fine for small maven stacks.

[2019-10-23 12:26] ibuziuk commented on #1045
sure, but Hosted Che does not support projects like Che atm, what is the RAM requirement for petclinic sample e.g. https://github.com/eclipse/che-devfile-registry/blob/master/devfiles/java-web-spring/devfile.yaml#L10

[2019-10-24 07:47] Katka92 commented on #1604
Seen again on 2a 1x

[2019-10-24 07:47] Katka92 opened #1668 "[Che issue] Failed to start websocket"
A workspace was not started because of:
` Error: Failed to run the workspace: "Failed to start websocket" `

![image](https://user-images.githubusercontent.com/29278800/67463895-920b4f80-f642-11e9-9a2e-76175dcffa02.png)

Seen 1x on 1b, log: https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1412/console

[2019-10-24 14:43] Katka92 opened #1669 "Reduce time of PR check"
When PR check fails to deploy Postgres or Rh-Che, it is still waiting until timeout. Would it be possible to end it directly when a `Progressing` is `False`?

Example from console logs:
[code]

[2019-10-29 07:53] Katka92 commented on #1633
Seen again on 1b https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1421/console

[2019-10-29 07:54] Katka92 commented on #1667
Seen 2x on 1a.

[2019-10-29 07:55] Katka92 commented on #1639
Seen again 1x on 2
on 1a workspace became offline during the execution of build command 2x
https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1443/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1444/console

[2019-10-29 20:10] frialey63 opened #1672 "Cannot start workspace "Loading a runtime token...""
On Chrome 76, when I attempt to start a workspace it creates and loads the container and then the message "Loading a runtime token..." is displayed continually in the middle of the window.

I have tried creating a new workspace, using a different OpenShift account, using incognito, disabled extensions, cleared OpenShift cookies and resetting Chrome all to no avail.  The only way I have succeeded i

[2019-10-30 12:23] ScrewTSW commented on #1639
Happened yesterday twice on `2` production cluster

[2019-10-30 12:52] ScrewTSW commented on #1657
Happened today again on `2` production cluster

[2019-10-31 07:36] Katka92 opened #1676 "Test 7.3.1 on prod-preview"
**Description:**
Go manually through all stacks on prod-preview version 7.3.1 to verify that all are working correctly. Once it is done, give approve for pushing 7.3.1 to production.

[2019-10-31 08:41] Katka92 commented on #1676
**ASP. NET Core Web Application**
The project is not able to build. The `install Cake` command finishes successfully, but build command fails with this error:
[code]

[2019-10-31 09:06] ibuziuk commented on #1640
Fixed. Closing

[2019-10-31 09:06] #1640 closed

[2019-10-31 09:12] ScrewTSW commented on #1676
# NodeJS MongoDB
This workspace experiences a small issue where the YAML files syntax highlighting doesn't work.
Probably missing/misconfigured XML language server?

[2019-10-31 09:14] ScrewTSW commented on #1676
# Python Django
The build steps work correctly, however the open URL commands point to a non existing location.
The index from the base folder is probably missing `/`

[code]

[2019-10-31 10:38] Katka92 commented on #1676
@ibuziuk I can create issues upstream, but I'm not sure about `disk quota exceeded` one - it seems more like Hosted Che issue. I tried to run locally (currently I have 7.4.0-SNAPSHOT but I don't think it is such a difference) and build succeeded.

[2019-10-31 11:54] ScrewTSW commented on #1604
Happened yesterday 1x on prod-preview 2a cluster

[2019-10-31 13:43] AndrienkoAleksandr opened #1677 ""oandriie" account on the che.openshift.io was recreated."
Placeholder for openshiftio/openshift.io#
My account 'oandriie' on the che.openshift.io was recreated. And currently I have 1 Gb(earlier was 3Gb) and I don't have access to the che.openshift web console.

[2019-10-31 22:10] frialey63 commented on #1672
Finally got it working.  First discovered that disabling "Block third-party cookies" allowed it to work.  Then re-enabled the latter setting and added the following site exceptions:

[*.]openshiftapps.com
[*.]redhat.com
[*.]openshift.io

[2019-10-31 22:10] #1672 closed

[2019-10-31 22:10] frialey63 commented on #1672
Done

[2019-11-01 12:05] ScrewTSW opened #1678 "[Che Issue] Authorization token missing during test run"
Authorization token became missing during test run.

![image](https://user-images.githubusercontent.com/16451875/68023673-2b241100-fca8-11e9-83cc-567d5cafcfa6.png)

When tests opened workspaces dashboard to delete a workspace the missing auth token error appeared

Possibly related to #1572

[2019-11-01 12:06] ScrewTSW commented on #1678
Issue happened on production `1a` cluster
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1a/1464/consoleFull

[2019-11-04 07:32] ibuziuk commented on #1612
has been fixed after 7.3.1 update. Closing

[2019-11-04 07:32] #1612 closed

[2019-11-04 07:33] ibuziuk commented on #1142
fixed after 7.3.1 rollout to production. Closing

[2019-11-04 07:33] #1142 closed

[2019-11-04 07:33] ibuziuk commented on #1613
fixed after 7.3.1 rollout to prod. Closing

[2019-11-04 07:33] #1613 closed

[2019-11-04 09:52] ibuziuk commented on #1417
Closing since this is not reproducible anymore after 7.3.1 update

[2019-11-04 09:52] #1417 closed

[2019-11-04 09:55] ibuziuk commented on #1543
@Katka92 closing as not reproducible. Feel free to reopen if needed

[2019-11-04 09:55] #1543 closed

[2019-11-04 09:56] ibuziuk commented on #1552
@Katka92 closing as not reproducible. Feel free to reopen if needed

[2019-11-04 09:56] #1552 closed

[2019-11-04 09:57] ibuziuk commented on #1620
@Katka92 is this issue still actual?

[2019-11-04 13:19] Katka92 commented on #1620
I'm not sure about that. But this test should be updated and moved to upstream. I'll change the title and description a bit.

[2019-11-05 12:52] Katka92 opened #1680 "Improve workspace start/stop reports"
**Description:**
The **Che QE bot** is nicely reporting the workspace start/stop times [1] every day. Due to logic for labeling tests are green/red we have the whole report marked as red almost every day even if there is no problem wit workspace start/stop times.

**Current state: **
The threshold for the test to be green/red is set by percentage (currently set to 5%). This is quite misleading now

[2019-11-05 18:09] amisevsk commented on #1680
One approach that may make more sense now that the timing has settled down is to just specify explicit cutoffs. E.g. for start, avg <35 seconds is green, 35-45 seconds is yellow, >45 seconds is red. These could be adjusted as we bring start times down (to reflect what we expect our performance to be).

[2019-11-05 18:10] amisevsk commented on #1680
One approach that may make more sense now that the timing has settled down is to just specify explicit cutoffs. E.g. for start, avg <35 seconds is green, 35-45 seconds is yellow, >45 seconds is red. These could be adjusted as we bring start times down (to reflect what we expect our performance to be).

[2019-11-06 07:06] Katka92 commented on #1538
Problems with epel installation are back on cluster 2 2x, 2a (production) 2x, 1a 2x, 1b 3x, 2a (prod-preview) 3x.
`Error downloading packages:   epel-release-7-11.noarch: [Errno 256] No more mirrors to try.`

https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1703/console

[2019-11-06 07:06] Katka92 commented on #1523
Seen again on cluster 2
![Screenshot from 2019-11-06 08-04-00](https://user-images.githubusercontent.com/29278800/68275463-0646e980-006c-11ea-8b55-d7bf3cb7626b.png)

[2019-11-06 09:18] Katka92 commented on #1636
The logic was added to our PR check. @ScrewTSW please verify it is working correctly and if so, please close this issue. :)

[2019-11-06 09:19] Katka92 commented on #1622
Not seen for a long time. Closing.

[2019-11-06 09:19] #1622 closed

[2019-11-06 09:22] Katka92 commented on #1630
Not seen for a long time. Closing.

[2019-11-06 09:22] Katka92 commented on #1632
Not seen for a long time. Closing.

[2019-11-06 09:22] #1632 closed

[2019-11-06 09:23] Katka92 commented on #1625
Not seen for 20 days now. Closing.

[2019-11-06 09:23] #1625 closed

[2019-11-06 09:27] Katka92 commented on #1635
Not seen for a log time. Closing.

[2019-11-06 09:27] #1635 closed

[2019-11-06 09:29] Katka92 commented on #1641
Not reproduced. Closing.

[2019-11-06 09:29] #1641 closed

[2019-11-06 09:30] Katka92 commented on #1637
Not seen for a long time. Closing.

[2019-11-06 09:30] #1637 closed

[2019-11-06 13:01] Katka92 commented on #1538
The problem was fixed. Closing the issue again.

[2019-11-06 13:01] #1538 closed

[2019-11-06 16:22] amisevsk commented on #1680
One approach that may make more sense now that the timing has settled down is to just specify explicit cutoffs. E.g. for start, avg <35 seconds is green, 35-45 seconds is yellow, >45 seconds is red. These could be adjusted as we bring start times down (to reflect what we expect our performance to be).

[2019-11-06 20:24] davidfestal opened #1682 "Make the end-2-end flow a compiled typescript application."
**Description:**

Study if we can make the end-2-end flow a compiled typescript application (at least most part of it), instead of having a raw Javascript file.

[2019-11-07 10:18] Katka92 commented on #1538
Appeared once on 1b, seems like an intermittent issue, not reopening yet.

[2019-11-07 13:03] ScrewTSW opened #1684 "Implement "getting started" devfiles test suite"
We need to be testing the getting started devfiles regularly as well, not only the registries.

We should implement a separate suite and a job to accomplish this.

This was also referenced in https://github.com/redhat-developer/rh-che/pull/1679#pullrequestreview-310900556

[2019-11-08 08:06] ibuziuk commented on #1374
Haven't seen this is in 7.3.1 Clsoign

[2019-11-08 08:06] #1374 closed

[2019-11-08 09:02] ibuziuk commented on #1005
Closing in favour of https://github.com/eclipse/che/issues/11476

[2019-11-08 09:02] #1005 closed

[2019-11-08 09:06] ScrewTSW commented on #1678
Happened today again on `1a`

[2019-11-08 09:08] ibuziuk commented on #1011
Closing in favor of the upstream epic - https://github.com/eclipse/che/issues/11476
Current data for the last month on Hosted Che:

average workspace startup: 34 seconds / 98.4 % of workspaces started faster than 60 seconds

[2019-11-08 09:08] #1011 closed

[2019-11-08 09:11] ibuziuk commented on #1045
Going to close this issue since the plugin is the part of the plugin registry.
@arajkumar @invincibleJai if you plan to optimize the memory usage feel free to open issues in upstream - https://github.com/eclipse/che/issues

[2019-11-08 09:11] #1045 closed

[2019-11-08 09:12] ibuziuk commented on #1620
Hmm.. I thought that we have already contributed maven & vertx tests to upstream, no?

[2019-11-08 09:16] ibuziuk commented on #1378
Haven't seen this for a while against 7.3.1.Closing

[2019-11-08 09:17] ibuziuk commented on #1309
Closing since eclipse/che#12908 has been implemented

[2019-11-08 09:18] ibuziuk commented on #1599
@Katka92 is it still actual?

[2019-11-08 09:19] ibuziuk commented on #1589
@ScrewTSW ca we close this one?

[2019-11-08 09:21] ScrewTSW opened #1687 "[Infra Issue] Openshift login fails with 500"
The tests fail while trying to log in into openshift.

[code]

[2019-11-08 09:22] ScrewTSW commented on #1687
Happened twice:
1x `starter-us-east-1a` https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1a/1501/console
1x `starter-us-east-2a` production https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2aProd/1501/console

[2019-11-08 09:24] ibuziuk commented on #1589
ok, I see we need to merge - https://github.com/redhat-developer/rh-che/pull/1679

[2019-11-08 09:27] ibuziuk commented on #1058
Closing in favour of https://github.com/eclipse/che/issues/14879

[2019-11-08 09:27] #1058 closed

[2019-11-08 09:30] ibuziuk commented on #936
@ScrewTSW is this done?

[2019-11-08 09:31] ibuziuk commented on #1449
Closing since upstream issue are closed.

[2019-11-08 09:31] #1449 closed

[2019-11-08 20:57] ibuziuk commented on #1664
All PRs have been merged. Closing

[2019-11-08 20:57] #1664 closed

[2019-11-08 21:03] ibuziuk commented on #1597
@ScrewTSW is it still actual? please provide a meaningful description or close as not relevant

[2019-11-08 21:04] ibuziuk commented on #1596
Closing in favour of upstream eclipse/che#14268

[2019-11-08 21:04] #1596 closed

[2019-11-11 06:47] Katka92 commented on #1620
No, there is only Vert.x stack in upstream, we still need to move the Maven one.

[2019-11-11 06:49] Katka92 commented on #1599
Yes, we still have some issues with `--bail` mode so we are not using it.

[2019-11-11 11:18] skabashnyuk opened #1689 "Unclear exception during workspace stop with machine token"
**Issue problem:**
When I've tried to analyze https://github.com/eclipse/che/issues/15006 on che.openshift.io
I noticed such errors in che-server logs
[code]
[code]
The final reason is unknown. I think it's some how related to the way how exceptions are propaged here https://github.com/redhat-developer/rh-che/blob/f06f903c028c33e3e2961787803c4a9f36a9c478/plugins/fabric8-multi-tenant-manager/src/ma

[2019-11-11 11:34] skabashnyuk opened #1690 "Tool for monitoring untracked workspace deployments"
**Issue problem:**
During testing https://github.com/eclipse/che/issues/15006 on che.openshift.io I've got into the situation when some exception happens during workspace stop/delete. That exception caused that
- Che doesn't know about deployments or maybe some other resources related to workspace
- Resources are still running and there is no code that is tracking its lifetime.
![Знімок екрана  о

[2019-11-11 11:51] skabashnyuk opened #1691 "Problems with start and stop of workspacepjez6q055p649mz6"
**Issue problem:**
noticed in logs
[code]
and

[code]

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc versi

[2019-11-11 11:52] skabashnyuk commented on #1690
I think https://github.com/redhat-developer/rh-che/issues/1691 this can cause Untracked workspace deployments too.

[2019-11-11 12:06] ScrewTSW commented on #1589
yes.

[2019-11-11 12:14] ScrewTSW commented on #1523
Evicted pods appeared again on `1a` cluster
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1a/1520/console
http://artifacts.ci.centos.org/devtools/rhche/devtools-rh-che-periodic-prod-1a/1521/e2e_report/report/executionScreencast/01900096--(18:13:29.045):%20Wait%20IDE%20availability.png

[2019-11-11 12:16] ScrewTSW commented on #1639
Happened 6x on `1a` cluster

[2019-11-12 08:32] ScrewTSW opened #1692 "[Test Issue] Workspace project build timed out"
Sometimes it happens that the application cannot be built in time and tests fail because of that.
This time it happened on the Vert.x stack
This causes the tests to fail even though the build finishes at the next test section:
![image.png](https://images.zenhubusercontent.com/5a684d174b5806bc2bc41350/c978dc88-c6b5-4072-9539-e3211911f521)
![image.png](https://images.zenhubusercontent.com/5a684d174b

[2019-11-12 08:33] ScrewTSW opened #1693 "Extend workspace project build timeouts"
Tests sometimes fail because of project build timeout

Related reporting issue: https://github.com/redhat-developer/rh-che/issues/1692

[2019-11-12 08:34] #1692 closed

[2019-11-12 08:35] #1693 closed

[2019-11-12 08:37] ScrewTSW commented on #1678
Happened once at `2a-prod-preview`

[2019-11-12 08:39] ScrewTSW commented on #1639
happened again on `production-2` 1x
`production-1a` 2x
`production-1b` 1x

[2019-11-12 08:39] ScrewTSW commented on #1523
Evicted, happened on `production-1a` 1x

[2019-11-12 10:58] ibuziuk commented on #1060
Closing in favour of https://github.com/eclipse/che/issues/14879 which should list all the optimizations related to workspace startup timing (N.B. on hosted che the startup is ~35 s atm)

[2019-11-12 10:59] #1060 closed

[2019-11-12 15:40] amisevsk commented on #1428
All done, email sent out to mailing lists.

[2019-11-12 15:40] #1428 closed

[2019-11-12 16:43] ibuziuk commented on #1636
@ScrewTSW can we close the issue?

[2019-11-12 16:46] ibuziuk commented on #1453
@davidfestal is this issue still valid for upstream ?

[2019-11-12 16:49] ibuziuk commented on #1666
is it still actual?

[2019-11-12 16:49] ibuziuk commented on #1667
do we have an upstream issue for that. This is not Hosted Che specific I suppose

[2019-11-12 17:07] ibuziuk commented on #1690
untracked deployments is the side-effect of the https://github.com/eclipse/che/issues/15006
I will proceed with cleanup once we have a fix on production

[2019-11-12 17:12] ibuziuk commented on #1677
@AndrienkoAleksandr https://api.openshift.io/api/users/0086d9d1-7541-42bd-ba49-f9caa243df9f

Could you login and provide screenshots from https://api.starter-us-east-2.openshift.com/ ?
do you have a `*-che` namepsace?

[2019-11-12 19:17] skabashnyuk commented on #1690
this is not the first time when we have such a thing and not the last time, is that possible to have some general solution to report and clean up such things?

[2019-11-13 06:57] Katka92 commented on #1666
It wasn't seen for 21 days now. Closing.

[2019-11-13 06:57] #1666 closed

[2019-11-13 07:01] Katka92 commented on #1667
I am not sure it is an upstream issue, because they don't have problems with that while running tests. But it was not seen for ~2 weeks, which is a time we updated to 7.3.1. I think we can close it as it is not reproducible now.

[2019-11-13 08:41] AndrienkoAleksandr commented on #1677
Yes, I do:

![screenshot-console](https://user-images.githubusercontent.com/6873095/68746800-044bd000-0602-11ea-92c3-b0b8fdb7263f.png)

[2019-11-13 09:04] ScrewTSW commented on #1657
Happened again on `prod-preview 2a`
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1744/console

[2019-11-13 09:10] ScrewTSW commented on #1639
Happened 4 times on `production-2` cluster

[2019-11-13 10:27] ScrewTSW commented on #1639
Confirmed @amisevsk 's suspicion that this issue is connected to the Eviction errors (https://github.com/redhat-developer/rh-che/issues/1523)
When looking into the events of the workspaces that have been switched to offline mode, we can see that the eviction happens once the workspace is already started, causing the offline message:

[code]

Example of an event.

[2019-11-14 08:26] ScrewTSW commented on #1639
Happened again on `production-2` 1x
[code]

[2019-11-14 08:28] ScrewTSW commented on #1604
Happened today again at `production-1b`
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1540/console

[2019-11-14 08:31] skabashnyuk commented on #1639
@ScrewTSW do you have logs from che-master?

[2019-11-14 09:30] skabashnyuk commented on #1604
Can you extract che-server logs relate to this workspace?

[2019-11-14 13:36] ScrewTSW opened #1695 "Add che-master logs collection to selenium tests"
We need to be able to collect che-master logs alongside the events and save them into artifacts.

This should be rather easy since there's already a logic for collecting the events.

[2019-11-14 19:31] amisevsk commented on #1639
@skabashnyuk From what I've seen, nothing special is logged on the server side when this occurs, the pod is just restarted by OpenShift.

[2019-11-15 08:22] ScrewTSW commented on #1604
Seen again on `prod-2`
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1758/console
There is nothing special in the logs themselves.

[2019-11-15 18:07] ibuziuk commented on #1677
@AndrienkoAleksandr ok so you have all setup correctly, Could you login with the `oandriie@redhat.com` email to che.openshift.io ?

[2019-11-16 09:16] ibuziuk commented on #1689
Fixed in https://github.com/redhat-developer/rh-che/pull/1694
Closing

[2019-11-16 09:16] #1689 closed

[2019-11-16 12:35] AndrienkoAleksandr commented on #1677
@AndrienkoAleksandr ok so you have all setup correctly, Could you login with the oandriie@redhat.com email to che.openshift.io ?

Yes, I do.

[2019-11-18 08:57] Katka92 commented on #1639
This issue was seen again on 1a cluster https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1561/console and cluster 2 4x https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1770/consoleFull

[2019-11-18 08:57] Katka92 opened #1697 "[Test issue] Maven build timeout"
**Description:**
Maven build in a test for Java Maven stack reached timeout.
![image](https://user-images.githubusercontent.com/29278800/69035344-ba892e00-09e3-11ea-85b0-1281df27f559.png)

For now, seen once on 1b: https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1561/console

[2019-11-18 08:58] Katka92 commented on #1378
Seen again during periodic tests on 1a: https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1562/console
![image](https://user-images.githubusercontent.com/29278800/69035670-7d716b80-09e4-11ea-8448-6c97c4f57fa0.png)

[2019-11-18 08:59] Katka92 commented on #1667
Seen again on cluster 2 when testing Suggestion invoking. There is already a workaround implemented that waits for README when IDE is loading. There is no check of README when testing LS because it is a quite long time from IDE loaded and README should not pop-up.
![image](https://user-images.githubusercontent.com/29278800/69036110-79921900-09e5-11ea-9297-90c12e66cce7.png)

[2019-11-18 09:02] Katka92 opened #1698 "Test for LS fails"
**Description:**
Test for Language server for Java Maven stack fails.
[code]
The first error was caused by README popped up https://github.com/redhat-developer/rh-che/issues/1667, but the next errors are just that LS.

Seen on cluster 2 https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1765/console

[2019-11-18 09:02] Katka92 opened #1699 "[Test issue] Open project tree reached timeout"
**Description:**
Open project tree step in tests for Java Maven stack failed on timeout.
Seen once on cluster 2 https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1767/console

[2019-11-19 09:03] Katka92 commented on #1639
Seen again on cluster 2 1x.

@ibuziuk According to the message [1] it seems like problems with the size of ephemeral storage. Regarding discussion with Radim, it seems to be Hosted Che related. It happens quite a lot so maybe it would be worth discussing with service delivery. They should see some peaks in disk usage [2]. In this report [3] there are twelve of `Evicted` messages, so you can read t

[2019-11-19 09:03] Katka92 commented on #1633
Seen again on 1b.

[2019-11-20 08:23] Katka92 commented on #1678
Seen again on prod-preview 2a cluster. Maybe it can be related to the rollout update that happened this day. https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1788/console

[2019-11-20 08:24] #1676 closed

[2019-11-20 08:25] Katka92 opened #1703 "Workspace stopped unexpectadly"
**Description:**
Running task failed with `Error resolving task 'maven build': Error: Workspace is not running.`. Seems like the workspace was quit unexpectedly and pods remain running so user is not able to run any workspace now.

Screenshot:
![image](https://user-images.githubusercontent.com/29278800/69218920-08cc3780-0b72-11ea-91b4-5f2fc8a7ee10.png)

Kibana logs:
![Screenshot from 2019-11-20 08

[2019-11-20 11:26] ibuziuk commented on #1684
Closed in favor of https://github.com/eclipse/che/issues/15244

[2019-11-20 11:26] #1684 closed

[2019-11-20 16:30] ibuziuk commented on #1677
@AndrienkoAleksandr ok, can we close the issue in this case ? :-)

[2019-11-20 18:48] AndrienkoAleksandr commented on #1677
Yes, sorry.

[2019-11-20 18:48] #1677 closed

[2019-11-21 14:08] Katka92 commented on #1639
Seen again on cluster 2 2x and 1x on 1a. On 1a one workspace was not started because of eviction.
![image](https://user-images.githubusercontent.com/29278800/69314810-58276c00-0c35-11ea-9733-a1c908d83da1.png)

[2019-11-21 14:19] ibuziuk commented on #1658
@ScrewTSW not sure what does this issue mean. Can we close it? (it is in the done pipeline)

[2019-11-21 14:31] ibuziuk commented on #1661
https://github.com/davidfestal/che-workspace-telemetry-woopra-backend

[2019-11-21 14:51] ibuziuk commented on #1703
can we get openshift event when this happens again ?

[2019-11-21 14:53] ibuziuk opened #1705 "Need to fix jgroups configuration on Hosted Che after the switch from 'jgroups-kubernetes' in the upstream"
Need to fix jgroups configuration on Hosted Che after the switch from 'jgroups-kubernetes' in the upstream [1]. Currently this configuration is failing on dsaas-stg even when `rhche` service account has view rights.

[1] https://github.com/eclipse/che/commit/60d11768d02f6d3513a17b17d831e2eee337db0a#diff-be9e46711b86b2abcc7f8a90858249b3R30

[2019-11-21 15:09] Katka92 commented on #1703
We have events archived, fortunately. Here they are: http://artifacts.ci.centos.org/devtools/rhche/devtools-rh-che-periodic-prod-1b/1573/events_report.txt
I think that this issue is related to the update to 7.3.2 so that workspace was killed by that. Is this possible?

[2019-11-21 19:10] amisevsk commented on #1639
I expect it's directly related to the workspace idling issue -- it seems to come back when there are a ton of unstopped workspaces running. E.g. I could reproduce consistently before but not directly after a rollout.

[2019-11-22 10:08] Katka92 opened #1708 "Error resolving task: Connection is closed"
Test failed on execution command with failure:
` Error resolving task 'maven build and run': Error: connection is closed `

In this test the LS test failed too, maybe it is related.  There are no specific browser logs for LS tests, but there is something for Run command: http://artifacts.ci.centos.org/devtools/rhche/devtools-rh-che-periodic-prod-2/1799/e2e_report/report/RhChe_E2E_Java_Maven_test_V

[2019-11-22 10:23] Katka92 commented on #1697
Seen again 1x on 1b.

[2019-11-22 10:24] Katka92 commented on #1639
Seen again on cluster 2 2x and on cluster 1a 3x.
I'm not sure if it is directly related to the workspace idling issue as far as it seems that workspaces were killed at ~10:10 and some failures happened at ~14:56. I would say that the idling issue made it easily reproducible but it seems there are still problems with resources on ephemeral storage.

[2019-11-22 11:29] ibuziuk commented on #1705
KUBERNETES_USE_NOT_READY_ADDRESSES  need to be applied - https://github.com/slaskawi/jgroups-kubernetes/commit/8b711258b37c63f03ad7b07259f6fdc639eb3a08

[2019-11-22 16:26] ibuziuk commented on #1636
@ScrewTSW closing. feel free to reopen if needed

[2019-11-22 16:26] #1636 closed

[2019-11-25 11:33] ScrewTSW opened #1710 "Update project build test logic according to upstream changes"
Sometimes it happens, that the project build test times out even though the build has been a success. We need to update our logic on how we detect project build status.

[2019-11-25 11:36] ScrewTSW commented on #1378
Seen again on production-2 cluster at 3AM on Nov. 25th
![image](https://user-images.githubusercontent.com/16451875/69537364-3ead5980-0f80-11ea-8163-dd6b792a32b3.png)

[2019-11-25 12:18] ScrewTSW commented on #1639
Seen again on production 2 x6

[code]

[2019-11-25 13:10] ScrewTSW commented on #1678
Happened on Prod 1a during workspace stopping
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1a/1599/console

[2019-11-25 13:12] ScrewTSW commented on #1710
in another case, the build was too slow and the part of the tests failedhttps://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1597/console

[2019-11-25 13:14] ScrewTSW commented on #1710
And another case where the successful build was detected incorrectly
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1604/console

[2019-11-25 13:26] ScrewTSW commented on #1630
Happened on prod-preview:
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1809/console

[2019-11-26 11:29] ScrewTSW commented on #1710
Project build too slow seen again on `production 1b`
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1612/console

[2019-11-26 12:12] ibuziuk commented on #1705
Fixed on che.openshift.io

[2019-11-26 12:12] #1705 closed

[2019-11-26 12:20] ScrewTSW commented on #1639
Happened once on `2a produciton` cluster
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2aProd/1610/consoleFull
[code]

[2019-11-26 12:21] ScrewTSW commented on #1658
Sorry. Forgot to link this issue to a PR. done.

[2019-11-26 12:21] #1658 closed

[2019-11-26 15:49] ibuziuk commented on #1589
https://github.com/redhat-developer/rh-che/pull/1679 merged. Closing

[2019-11-26 15:49] #1589 closed

[2019-11-26 15:56] amisevsk commented on #1690
It may be possible but this would be hard to envision as a Che feature; how we check users and their (unique) namespaces in a way that scales to thousands of users?

[2019-11-27 07:51] abonas opened #1711 "Broken links on the User Dashboard"
clicking on "learn more" is linked to
https://che.openshift.io/docs/what-are-workspaces.html
but then navigates to 404 on
https://www.eclipse.org/che/docs/what-are-workspaces.html

![Screenshot at 2019-11-26 15-09-43](https://user-images.githubusercontent.com/6277245/69704086-77be0900-10fb-11ea-951a-7c65fa292714.png)

[2019-11-27 13:24] davidfestal opened #1712 "Finalize and complete CI for the new `che-incubator/che-workspace-telemetry-client` GH repo"
**Description:**

In this new repository [1], there is the definition of:
- A Java abstract implementation of the telemetry backed, as a Quarkus-based, OpenAPI-enabled, REST application library
- The corresponding Javascript client library, defined as a typescript-based library available as a JS NPM package. The model part of the client library is generated from the OpenApi schema provided by the

[2019-11-27 13:29] davidfestal opened #1713 "Plug basic events (commit, save file, etc ...) to submit to the new telemetry API"
**Description:**

The telemetry plugin should track the events:
- push,
- edit file,
- commit file
 that were already tracked in Che 6 inside Theia, and submit corresponding events to the telemetry API.

Also it should also probably plug into the activity tracker che-theia extension in order to regularly sent `activity` notifications

[2019-11-27 13:31] davidfestal opened #1714 "Initial Setup of the `che-workspace-telemetry-woopra-backend`"
**Description:**

Include the https://github.com/davidfestal/che-workspace-telemetry-woopra-backend base repo as a RhChe component,
and setup the CI build that will produce the corresponding native docker image, and the right meta.yaml to expose it as a remote plugin outside of the main plugin registry.
And add this remote plugin in the list of mandatory plugin in the wsmaster RHCHE properties

-

[2019-11-28 09:17] ibuziuk commented on #1711
List of the broken links:
- `Workspaces` tab / "Learn More" - https://www.eclipse.org/che/docs/what-are-workspaces.html
- `Factories` tab / "Learn More" - https://www.eclipse.org/che/docs/factories-getting-started.html

[2019-11-28 10:11] ibuziuk commented on #1569
Created https://jira.coreos.com/browse/CRT-355

[2019-11-28 12:34] ScrewTSW commented on #1604
Appeared on `production 1a` x1

[2019-11-28 12:44] ScrewTSW commented on #1710
seen again on `production 2` x1
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1835/console
`production 2a` x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2aProd/1625/console
`production 1b` x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1623/console

[2019-11-28 12:48] ScrewTSW commented on #1639
Seen on `production 2` x1
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1834/consoleFull

[2019-11-28 12:49] ScrewTSW commented on #1604
seen on `production 1a` x1

[2019-11-29 11:31] ScrewTSW commented on #1639
seen again on prod-preview `2a` x1
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1842/consoleFull
[code]

[2019-12-02 08:55] Katka92 opened #1715 "[Infra issue] Issues related to ci.centos.org"
**Description:**
Docker installation fails - see the logs below. Other dependencies are already installed there so for me it seems that the environment given is not cleaned before given to the new job.

<details><summary>First failure</summary>
<p>

***** Installing dependencies for functional tests Mon Dec  2 06:57:27 GMT 2019 ******
Installing dependencies...
* epel: mirror.ci.centos.org
epel/x8

[2019-12-02 10:09] Katka92 opened #1716 "[Test Issue] Can not get version from parent pom.xml"
**Description:**
Sometimes test fails because they can not get VERSION from parent pom.xml.

Log example:
[code]

One of the jobs: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1855/console

**EDIT**

After some debugging and fixing, currently the output is:
[code]
So it seems that currently the culprit is wrongly installed rh-maven33.

[2019-12-02 10:10] Katka92 commented on #1697
Seen again 3x on 1b. https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1632/console

[2019-12-02 10:10] Katka92 commented on #1630
Seen again on cluster 2 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1851/console
on cluster 2a 1x
Maybe can be related to the issue which seems to be happening at the same time on other job runs: https://github.com/redhat-developer/rh-che/issues/1678

[2019-12-02 10:11] Katka92 commented on #1678
Seen on cluster 2 1x after login: https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1850/consoleFull
Seen on cluster 2a 1x when returning from IDE to Dashboard: https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1641/consoleFull
Seen on 1a 1x.

[2019-12-02 10:12] Katka92 opened #1717 "[Test issue] Browser is frozen"
**Description:**
Tests fail because the page is not refreshed and the browser seems to be frozen. It seems to me that sometimes that happen when IDE is switched to offline too.

https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1857/console

[2019-12-02 10:13] Katka92 opened #1718 "[Test issue] ENV vars not propagated to the job"
**Description:**
There should be all credentials correctly set, but the test user credentials are not set and URL parameters are not set correctly, so OPENSHIFT_URL can not be obtained.

https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1860/console

[2019-12-02 10:14] Katka92 opened #1719 "Workspace running for more then a day"
**Description:**
The workspace was started and running for more than one day. Then the workspace was recovered and stopped by activity-checker.

**First worskpace:**
Cluster: us-east-west-2
Workspace name: wksp-test-xXtKw
Workspace id: workspace34xj66etknv4mul0
Identity id:  27c18075-a41d-4f8a-a8e3-7eb58cce8e1d

Kibana logs:
![Screenshot from 2019-12-02 09-29-05](https://user-images.githubusercont

[2019-12-02 10:14] Katka92 commented on #1523
Seen again on 1a cluster: https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1647/console

[2019-12-02 12:08] Katka92 commented on #1639
Seen again on cluster 2 2x, 1a 1x.

[2019-12-03 06:14] pushpa1981 commented on #568
Hi, @skabashnyuk , I am running into the same issue with springboot application running in IntelliJ.  how can I check whether the logstash-logback-encoder jar file fetched or not?  when this logstash-logback-encoder jar file fetched?

[2019-12-03 07:30] skabashnyuk commented on #568
@pushpa1981 I didn't understand your question. Sorry. Can you rephrase?

[2019-12-03 08:50] Katka92 commented on #1639
Seen again on cluster 2 2x.

[2019-12-03 08:51] Katka92 commented on #1718
Seen again on cluster 2 https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1862/console
Seen again on cluster 2a https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1652/console

[2019-12-03 08:52] Katka92 commented on #1604
Seen again on 1a 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1653/console

[2019-12-03 08:53] Katka92 commented on #1715
Unexpected error when installing Docker. May be caused by a weak internet connection. Seen on prod-preview 2a cluster.
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/1868/console

[2019-12-03 08:53] Katka92 commented on #1697
Seen again on 1b 2x https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1651/console

[2019-12-04 07:19] Katka92 commented on #1604
IDE was stuck on this screen for the whole test. Happened 1x on production cluster 2a.
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1658/console

![image](https://user-images.githubusercontent.com/29278800/70121106-36cf7280-166e-11ea-93d0-b16df9bd47e2.png)

[2019-12-04 07:19] Katka92 commented on #1639
Seen again on cluster 2 2x. Workspce not started due to Evicted state 1x on production 2a.
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1662/console

[2019-12-04 10:38] ScrewTSW opened #1723 "Modify compatibility scripts, so that the jenkins job fails if there is an error"

[2019-12-05 08:22] Katka92 commented on #1630
Seen again on 1b 1x.

[2019-12-05 08:22] Katka92 commented on #1697
Seen again 2x on 2a production

[2019-12-05 08:23] Katka92 commented on #1639
Seen again on cluster 2 1x

[2019-12-05 08:24] Katka92 commented on #1678
Seen again on cluster 2 1x when returning from IDE to Dashboard https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1876/console
Seen on prod-preview 2a - after login there was `Application is not available`, after refresh the `Authorization token is misssed`.

[2019-12-05 08:25] Katka92 commented on #1604
Seen again on cluster 2 2x, 2x on 2a production, 2x on 1a, 1x on 1b, 1x on prod-preview 2a.

[2019-12-05 14:31] sunix commented on #1047
The question is ... do we really need Gluster ?

[2019-12-05 19:13] amisevsk commented on #1047
@sunix for che.openshift.io, it's not like we have a choice at the moment; storage on the cluster is backed by Gluster AFAIK.

[2019-12-06 07:55] sunix commented on #1047
This our infrastructure, and it doesn't fit for our usage ... so maybe it is time to choose something else.

[2019-12-06 10:08] Katka92 commented on #1719
Workspace idling seems to be fixed. Closing.

[2019-12-06 10:08] #1719 closed

[2019-12-06 10:48] Katka92 commented on #1516
Seen again on proudction cluster 1b https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1669/console

[2019-12-06 10:51] Katka92 commented on #1715
On cluster 1a test failed during installing dependencies on `gzip: stdin: unexpected end of file`. It seems like a networking issue.
https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1674/console

[2019-12-06 10:51] Katka92 opened #1725 "Can not start workspace, failed to pull image"
**Issue problem:**
Workspace startup failed because of:
![image](https://user-images.githubusercontent.com/29278800/70316904-f2cea000-181c-11ea-8f3d-6a95e70d7504.png)

The issue happened once on the production 1b cluster during the periodic check.
Job: https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1670/console

[2019-12-06 10:53] Katka92 commented on #1716
Seen again on cluster 2a production and on 2a prod-preview.

[2019-12-06 10:53] Katka92 commented on #1639
Seen again on cluster 2 2x
Workspace was not start due to Evicted on cluster 2 2x

[2019-12-06 10:54] Katka92 commented on #1678
Seen on cluster 2 1x.

[2019-12-06 10:56] Katka92 commented on #1630
Seen again on 1b 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1667/console

[2019-12-06 15:05] ibuziuk commented on #936
@ScrewTSW this issue is in the Done column. Are you going to close the issue or some work is still expected?

[2019-12-06 15:54] Katka92 commented on #936
I think we can close it.

[2019-12-06 15:54] #936 closed

[2019-12-08 02:15] pushpa1981 commented on #568
Thanks for the reply.
I was asking how to find out and check logstash-logback related libraries are pulled into the project?
I could able to figure out the issue . I have a network issue and the libraries didn't pulled.
When I did Reimported all maven projects in Intellij IDE the libraries are pulled and the issue got resolved.

[2019-12-09 09:43] Katka92 commented on #1697
Seen again 2x on cluster 1b.

[2019-12-09 09:43] Katka92 commented on #1678
Seen right after login:
1x on cluster 2a https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1682/console
1x on cluster 1a
1x on cluster 1b
2x on cluster 2a prod-preview

Seen when switching to Dashboard to stop the workspace:
2x on cluster 2a https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1685/console
1x on cluster 1a
1x on cluster 1b

[2019-12-09 09:43] Katka92 commented on #1630
Seen again on cluster 2 2x, cluster 2a 1x, cluster 1a 2x, cluster 1b 1x, cluster 2a prod-preview 1x

[2019-12-09 09:44] Katka92 commented on #1716
Seen again on cluster 2 3x, cluster 2a 4x, cluster 1a 2x, cluster 1b 3x, cluster 2a prod-preview 2x

[2019-12-10 07:48] Katka92 commented on #1697
Seen again on cluster 2a 1x, cluster 1b 1x.

[2019-12-10 15:40] amisevsk opened #1730 "Strange behaviour when interrupting workspace started from factory URL"
### Description
For a while today, I was able to consistently reproduce an issue where Che did not clean up configmaps when interrupting a workspace that was started from a devfile. I can't reproduce it anymore, but thought I'd share the logs in case it comes back.

### Steps (no longer work)
(*note these steps are just what I was doing, they are likely not all necessary to reproduce*)
1. Start wo

[2019-12-10 16:11] nickboldt commented on #1396
another use case is if the plugin version IS specified but doesn't exist. see https://github.com/eclipse/che-plugin-registry/pull/319 for a workaround (hardcoding all the old versions of 7.y.z plugins in the master branch).

So if you were running 7.3.3 and updated to 7.6/master you'd break because the new plugin reg would be missing 7.3.3 theia and machine-exec plugins.

[2019-12-10 16:38] ibuziuk commented on #1396
Closed in favour of https://github.com/eclipse/che/issues/15447

@nickboldt please, create a separate upstream issue for that

[2019-12-10 16:38] #1396 closed

[2019-12-10 16:40] ibuziuk commented on #1535
any chance that plugin broker refactoring will address this case?

[2019-12-10 17:28] amisevsk commented on #1535
Plugin broker refactoring likely won't have an impact on this, though I can no longer reproduce this on 7.3.2 (likely due to https://github.com/eclipse/che-plugin-registry/pull/199).

Currently, the project initially has error markers, and the `update dependencies` command must be run, but after that I see on issues. I think this one can be closed.

[2019-12-10 19:44] amisevsk commented on #1690
Before sinking significant time into implementing something along these lines, I think some more design discussion is required.

As I see it, there are three options for implementing this functionality, in terms of where and how this service would run.

1. The workspace tracker runs separately from all clusters, potentially as a cron job or similar.

    **Pros:**
    - Fairly easy to implement --

[2019-12-11 08:39] Katka92 commented on #1633
Not reproduced for 22 days. Closing.

[2019-12-11 08:40] Katka92 commented on #1657
Not reproduced for 28 days. Closing.

[2019-12-11 08:40] Katka92 commented on #1668
Not reproduced. Closing.

[2019-12-11 08:40] #1668 closed

[2019-12-11 08:40] Katka92 commented on #1687
Not reproduced for a long time. Closing.

[2019-12-11 08:40] #1687 closed

[2019-12-11 08:41] Katka92 commented on #1667
Not reproduced for 23 days. Closing.

[2019-12-11 08:41] #1667 closed

[2019-12-11 08:41] Katka92 commented on #1698
Not reproduced for 23 days. Closing.

[2019-12-11 08:41] #1698 closed

[2019-12-11 08:42] Katka92 commented on #1703
Not reproduced for 20 days. Closing.

[2019-12-11 08:42] #1703 closed

[2019-12-11 08:42] Katka92 commented on #1708
Not reproduced for 19 days. Closing.

[2019-12-11 08:55] Katka92 commented on #1725
Seen again on 1b 1x with another image
![image](https://user-images.githubusercontent.com/29278800/70606074-09e60700-1bfc-11ea-95a9-0a0b0d543e73.png)
https://ci.centos.org/job/devtools-rh-che-periodic-prod-1b/1698/console

[2019-12-11 08:55] Katka92 commented on #1639
Seen again on cluster 1a 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-1a/1702/console

[2019-12-11 08:56] Katka92 commented on #1715
On cluster 2a production, 1x failed on
[code]
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1704/console

[2019-12-11 10:40] jfrantzius opened #1731 "Error: Failed to run the workspace: "Unrecoverable event occurred: 'FailedCreate',"
**Issue problem:**
Running my workspace fails as follows:

**Red Hat Che version:**

Dashboard says: Eclipse Che 7.3.2

 - [x ] I can reproduce it on latest official image
(created the workspace yesterday)

**Reproduction Steps:**

Perhaps the problem can be reproduced by using the same Devfile with a free account (only opensource projects used on Github):
[code]

**Runtime:**
I don't know how to

[2019-12-11 16:52] amisevsk commented on #1731
For now, che.openshift.io users are limited to a `3Gi` memory quota. The added plugins in your devfile result in a worksapce that requests `~3.8Gi`, and this is blocked by the cluster. The memory use for the plugins not listed is:

| plugin | memory limit |
| --- | --- |
| `sonarsource/sonarlint-vscode/latest` | `512Mi` |
| `redhat/vscode-yaml/latest` | `256Mi` |
| `redhat/vscode-camelk/latest` |

[2019-12-11 17:48] ibuziuk commented on #1043
https://github.com/openshiftio/openshift.io/issues/4564 closed. Closing

[2019-12-11 17:48] #1043 closed

[2019-12-11 19:31] ibuziuk commented on #1578
@davidfestal can I help with this issue ? maybe I can take over it?

[2019-12-11 19:39] ibuziuk commented on #1731
@jfrantzius we are considering increasing RAM, but the current limit is 3GB - https://www.eclipse.org/che/docs/che-7/hosted-che/#terms-of-service_hosted-che

[2019-12-11 19:48] ibuziuk commented on #1690
@amisevsk IMO we should stick to a solution that could be re-used in the upstream (not necessarily embedded in che-server, it could be auxiliary deployment like k8s-image-puller).
Speaking about `3. Service is a scheduled job of Che server.` - isn't it smth that @sleshchenko already implemented upstream and we just need to make sure it works properly on Hosted Che side ?

[2019-12-12 09:43] Katka92 commented on #1715
`No space left on device` when cloning the project.
Cluster 2 3x
Cluster 1a 3x
Cluster 1b 2x
Cluster 2a prod-preview 2x
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/1921/console

Cluster 2a 1x:
[code]
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1710/console

Error while cloning repo cluster prod-preview 2a 1x
`
Suppressed: hudson.remoting.Channel$CallSiteStackTrace:

[2019-12-12 09:56] Katka92 commented on #1697
Seen again on 1b 1x.

[2019-12-12 15:08] ibuziuk commented on #1690
Talked with @sleshchenko and what we currently have in the upstream is  - RuntimeHangingDetector [1]

[1] https://github.com/eclipse/che/blob/master/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/RuntimeHangingDetector.java

[2019-12-12 15:13] ibuziuk commented on #1453
@davidfestal I will probably close this issue. Feel free to open a dedicated issue for operators in the upsream

[2019-12-12 15:13] #1453 closed

[2019-12-12 19:42] amisevsk commented on #1690
Yeah, the RuntimeHangingDetector is a different case, since we can look for `STARTING` and `STOPPING` workspaces in the Che db and track those; for untracked deployments, the workspace may not even be in the database as `STOPPED`, if e.g. the user has deleted it.

The flow I would follow for this would be:
1. For each user, get everything with label `che.workspace_id` in their `<username>-che` nam

[2019-12-12 22:40] tomgeorge commented on #1712
che-workspace-telemetry client is FINALLY publishing NPM and Maven packages :tada:

[2019-12-13 07:36] Katka92 commented on #1639
Seen again on cluster 2 1x

[2019-12-13 17:42] ibuziuk commented on #1690
Could not we get the other way round:

1. get all workspace pods on the cluster e.g `oc get pod --all-namespaces -o wide --selector che.workspace_id`
2. **(optional)** identify those which are running for more than n (e.g. 24h) hours.
3. check if the workspace name (based on pod name) dedicated to the pod exists and check it's state (we might need to use admin account for that)
4. If workspace doe

[2019-12-13 18:37] amisevsk commented on #1690
@ibuziuk The issue is an access problem:

This requires admin access to the tenant clusters, so we're no longer talking about something that runs in dsaas without a new config (I don't know if SD supports this flow).
- If we want to run somewhere in dsaas (whether as a service or part of Che) we have to go through oso-proxy, which prevents something like `oc get pod --all-namespaces` AFAIK. Even i

[2019-12-16 08:27] Katka92 commented on #1639
Seen again on cluster 2 3x, 2a 1x, 1a 3x.

[2019-12-16 10:35] Katka92 commented on #1639
Closing this issue in favor of https://github.com/redhat-developer/rh-che/issues/1372.
According to an agreement with @ibuziuk we will not do our standard daily comments to the PR 1372. If needed engineers will track that on Slack channel daily reports.
cc @ScrewTSW

[2019-12-16 11:21] Katka92 commented on #1372
This issue is monitored by our periodic tests and happens almost every day. The test is running Vert.x and Maven stack, the issue is reproducible for both of them. From time to time workspace failed on starting, but more often workspace is switched to offline while running a maven build or starting/testing LS server. In the events, we can see that the reason is low ephemeral storage.

[2019-12-17 12:00] ibuziuk commented on #1712
@tomgeorge @davidfestal once https://github.com/che-incubator/che-workspace-telemetry-client/pull/6 is merged can we close this issue ?

[2019-12-17 20:18] tomgeorge commented on #1712
Yes, I think so

[2019-12-17 20:22] tomgeorge opened #1734 "Strategy for automatically bumping the version of the backend-base telemetry client"
**Description:**

This is a continuation of https://github.com/redhat-developer/rh-che/issues/1712.  Currently we do not have a way to automatically bump the version of the maven dependency, and deploy it to the GitHub package registry.

My original thought was to use the [maven release plugin](https://maven.apache.org/maven-release/maven-release-plugin/examples/update-versions.html).  But that, u

[2019-12-17 20:22] tomgeorge commented on #1734
cc @ibuziuk

[2019-12-17 20:49] tomgeorge opened #1735 "Refactor the telemetry client tests to mock out the Che server for integration tests"
**Description:**

Currently, running the integration tests for the che-workspace-telemetry-client requires a running Che server, workspace, and a valid `CHE_MACHINE_TOKEN`.  The code should mock out these resources so that we can run the integration tests without them.

[2019-12-17 20:51] tomgeorge commented on #1734
Update: the maven versions plugin will not allow you to set an arbitrary property value.  So if I ask the plugin to replace the value of `backend-base-version` to `0.0.7`, it will fail, because a release of `0.0.7` does not exist yet.  So it seems like our best bet is to run a shell command to auto-increment the version :(

[2019-12-17 21:23] davidfestal commented on #1734
@benoitf is there another alternative to store the maven artifacts apart from maven central ?

[2019-12-18 07:29] Katka92 commented on #1372
Today we've seen another issue than can probably be related to Evicted. The maven build and run tasks failed with `Terminal failed to connect. See more in 'Output'.`. There is an `evicted` event in events report.

[1] events: http://artifacts.ci.centos.org/devtools/rhche/devtools-rh-che-periodic-prod-2/1956/events_report.txt
[2] Screenshot from the test: http://artifacts.ci.centos.org/devtools/rhc

[2019-12-18 07:38] Katka92 commented on #1697
Seen again on cluster 1b 3x.

[2019-12-18 07:39] Katka92 commented on #1604
Seen again on production cluster 2a 1x.

[2019-12-18 07:39] Katka92 commented on #1630
Seen again 1x on production cluster 2a.

[2019-12-18 09:14] Katka92 opened #1736 "Fix workspace startup tests"
**Description:**
Workspace startup tests are broken and no report is sent to slack for some time. The problem was that the jobs were stuck in a long queue on a Jenkins. As a solution those jobs and a job that is reporting results to slack were disabled.

[2019-12-18 13:58] #1661 closed

[2019-12-18 14:02] tomgeorge commented on #1734
This work also needs to include pushing back for the NPM library

[2019-12-18 14:14] ibuziuk commented on #1713
Closing in favour of https://github.com/eclipse/che/issues/15469

[2019-12-18 14:14] #1713 closed

[2019-12-18 14:30] #1712 closed

[2019-12-18 14:46] ibuziuk opened #1738 "Investigate possibility to enable telemetry wsmaster startNumber interceptor and AttributesCompleter"
https://github.com/redhat-developer/rh-che/tree/master/plugins/che-plugin-analytics/che-plugin-analytics-wsmaster/src/main/java/com/redhat/che/plugin/analytics/wsmaster

[2019-12-18 18:38] ibuziuk commented on #1042
Going to close after the next production update

[2019-12-19 06:29] Katka92 commented on #1697
Seen again on 1b 4x.

[2019-12-19 10:48] ibuziuk commented on #1714
@davidfestal wdyt maybe we should create a separate repo with dedicated ci for  https://github.com/davidfestal/che-workspace-telemetry-woopra-backend  ?
I'm not sure if merging it to rh-che is the best choice

[2019-12-19 12:28] davidfestal commented on #1714
I'm ok with both options. Just do as is more convenient for you.

[2019-12-19 15:01] ibuziuk commented on #1714
@davidfestal are there any benefits in using rh-che ? otherwise for sure we should have this in a separate repo

[2019-12-20 06:11] Katka92 commented on #1716
Seen again on cluster 2 3x, cluster 2a production 2x, cluster 1a 2x, cluster 1b 1x

[2019-12-20 06:12] Katka92 commented on #1678
Seen again on cluster 2a productoin 2x, cluster 1b 1x, prod-preview cluster 2a 2x.

[2019-12-20 06:12] Katka92 commented on #1708
Seen again on 2a production cluster 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-2aProd/1752/console
![image](https://user-images.githubusercontent.com/29278800/71233618-6fba4900-22f6-11ea-8908-218041ef1bdc.png)

[2019-12-20 06:15] Katka92 commented on #1630
Seen again on 1b cluster 1x, on prod-preview 2a cluster 1x. The issue https://github.com/redhat-developer/rh-che/issues/1678 was present too on other clusters.

[2019-12-20 08:09] Katka92 commented on #1620
PR in upstream: https://github.com/eclipse/che/pull/15545
We will be able to remove the test from rh-che repo next release.

[2019-12-20 08:19] Katka92 commented on #1710
We have another issue for tracing maven build timeouts [1].
The test was moved to upstream [2] and will be removed from downstream in the next release. If the issue will still be present, we can create a new issue for changing the approach to check the successful maven build.

[1]  https://github.com/redhat-developer/rh-che/issues/1697
[2]  https://github.com/eclipse/che/pull/15545

[2019-12-20 08:19] #1710 closed

[2019-12-20 08:21] Katka92 commented on #1599
We are running without --bail till today and I think this is very valuable. We will not switch to --bail option so there is no need to investigate and fix this issue. Closing.

[2019-12-20 08:21] #1599 closed

[2019-12-20 08:22] Katka92 commented on #1588
@ScrewTSW PRs were merged. Can we close this?

[2020-01-02 09:16] Katka92 commented on #1716
Seen again on prod-preview 2a cluster 1x. https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/2048/console

[2020-01-02 09:16] Katka92 commented on #1630
Seen again on cluster 1b 1x.

[2020-01-02 09:16] Katka92 commented on #1715
Error during installing and starting docker `Job for docker.service failed because the control process exited with error code. See "systemctl status docker.service" and "journalctl -xe" for details.`.
Seen once on production 2a cluster.

[2020-01-02 09:17] Katka92 commented on #1697
Seen again 1x on production 2a cluster, 1x on cluster 1b.

[2020-01-02 09:17] Katka92 commented on #1678
Seen again on cluster 2 2x, 2x on cluster 1a, 1x on cluster 1b, 1x prod-preview cluster 2a.

[2020-01-02 09:24] Katka92 opened #1744 "[Test Issue] Test can not click on STOP icon"
**Issue problem:**
The test can not stop a running workspace from the Dashboard view. It fails on timeout.
![image](https://user-images.githubusercontent.com/29278800/71659967-c8073700-2d49-11ea-9769-143429f624c8.png)

Seen 2x on cluster 2, 1x on production cluster 2a and 3x on cluster 1b in the last three days.

[2020-01-02 11:31] ibuziuk commented on #1744
@Katka92 this looks like test issue, right? does it also reproducible against upstream?

[2020-01-02 11:34] ibuziuk commented on #1716
@Katka92 could you clarify how the version of the parent pom is obtained?

[2020-01-02 12:46] ibuziuk commented on #1378
@amisevsk closing this one due to plugin broker refactoring + the fact that it hasn't been reproducible since the late November

[2020-01-02 12:46] #1378 closed

[2020-01-02 12:52] ibuziuk commented on #1504
@amisevsk I believe this is the answer - https://github.com/eclipse/che/issues/15500
We need to implement a way in the upstream to add / override devfile attributes via URL parameters
Closing

[2020-01-02 12:52] #1504 closed

[2020-01-02 13:00] ibuziuk opened #1745 "Preparations to the DevConf.CZ 2020 (Eclipse Che & the future of Cloud Development Tool)"
Slides / demo preparations to the DevConf.CZ 2020
Eclipse Che & the future of Cloud Development Tool session - https://devconfcz2020a.sched.com/event/YOxx/eclipse-che-the-future-of-cloud-development-tool

[2020-01-02 13:02] Katka92 commented on #1744
@ibuziuk For me, it seems more like a test issue, but I think I experienced that manually some time ago when I needed to click on that icon twice. I'll investigate further and do some manual testing.
I think this is not experienced in nightly tests running with the same test suite against Che. @dmytro-ndp can you please verify?

[2020-01-02 13:06] Katka92 commented on #1716
@ibuziuk Here is a function: https://github.com/redhat-developer/rh-che/blob/master/.ci/functional_tests_utils.sh#L121
It uses maven to extract this item. Currently, I'm not sure what can be the root cause. I plan to add more debug output here.

[2020-01-02 13:16] Katka92 commented on #1744
@ibuziuk According to upstream nightly tests, this issue is not reproduced with Che.

[2020-01-02 13:29] ibuziuk commented on #1716
@Katka92 sent a PR for adding the logs with mvn version - https://github.com/redhat-developer/rh-che/pull/1746

[2020-01-03 07:39] Katka92 commented on #1697
Seen again on production 2a cluster 1x.

[2020-01-03 07:39] Katka92 commented on #1744
Seen again on cluster 1a 1x, on cluster 1b 2x.

[2020-01-03 13:37] ibuziuk commented on #1744
@Katka92 can you repro this manually? looks like in our CI test it happens pretty often

[2020-01-03 14:39] Katka92 commented on #1744
@ibuziuk I've just tried few times on cluster 2 manually and was not able to reproduce that. Maybe I'm too slow in comparison with an automated test. If this issue will persist during a weekend, maybe we can add a workaround on our side - to click on this icon again.

[2020-01-06 12:40] ScrewTSW commented on #1678
Seen once at prod cluster 1b
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1857/console

[2020-01-06 12:47] ScrewTSW commented on #1697
Seen again on production 1b cluster 1x.
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1847/console

[2020-01-06 13:40] Katka92 commented on #1620
PR merged and included to nightly test suite.

[2020-01-06 13:40] #1620 closed

[2020-01-06 13:42] ScrewTSW commented on #1716
Happened twice on production 2 cluster
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2/2057/console
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2/2069/console
and once on production 1b cluster
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1843/console

[2020-01-06 13:46] ScrewTSW commented on #1604
Seen today on production 1a x1.
![image](https://user-images.githubusercontent.com/16451875/71821792-5275d080-3093-11ea-9794-efaf7e01ce6b.png)

[2020-01-06 13:49] ScrewTSW commented on #1630
Seen today on production 2a x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2aProd/1858/console
and prod-preview 2a x1
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/2070/console

[2020-01-06 13:58] ScrewTSW commented on #1744
Seen today on production 2 x3
production 1a x2
production 1b x4

[2020-01-06 15:15] tomgeorge opened #1748 "Telemetry Client backend-base integration tests load @ApplicationPath twice, causing the integration tests to fail"
When running the integration tests using the surefire plugin, you run into https://github.com/quarkusio/quarkus/issues/3138.  I did a bisect and it appears to happen after commit https://github.com/che-incubator/che-workspace-telemetry-client/commit/82fb5143f88457ba49c7d5102602646c1c67fbdf.

We need to figure out what casuses this and come up with a fix.

**Red Hat Che version:**  N/A

version: (h

[2020-01-06 18:53] #1734 closed

[2020-01-07 09:03] ScrewTSW commented on #1372
Seen today twice at production cluster 2 x2
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/2072/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/2073/console

[2020-01-07 09:16] ScrewTSW commented on #1372
Seen today twice at production cluster 2 x2
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/2072/console
https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/2073/console
and on production cluster 2a x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2aProd/1861/consoleFull

[2020-01-07 09:17] ScrewTSW commented on #1630
Seen today once on production 1b cluster x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1861/console

[2020-01-08 13:21] ibuziuk commented on #1714
The repo has been created - https://github.com/redhat-developer/che-workspace-telemetry-woopra-backend

[2020-01-08 14:15] ibuziuk opened #1749 "Figure out the location for "meta.yaml" for a new telemetry plugin (local plugin in che-theia)"
**Description:**

Potentially the `meta.yaml` could be hosted together with the CDN files - static.developers.redhat.com

Related epic - https://github.com/redhat-developer/rh-che/issues/1714

[2020-01-08 14:18] ibuziuk opened #1750 "Provide a mechanism for enabling local telemetry plugin by default on che-theia and promote it to production"
**Description:**

provide a mechanism for enabling this local plugin by default on che-theia
Related to https://github.com/redhat-developer/rh-che/issues/1714

Potentially it should be possible to point to the desired plugin via the `che.workspace.devfile.default_editor.plugins` property - https://github.com/eclipse/che/blob/master/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/che

[2020-01-08 14:53] ibuziuk commented on #1569
https://issues.redhat.com/browse/CRT-355 is closed. Need to verify and close the rh-che specific issue

[2020-01-09 09:13] ScrewTSW commented on #1680
![Screenshot_20200109_094004](https://user-images.githubusercontent.com/16451875/72054114-aa494d00-32c8-11ea-931a-7362ede533e5.png)

Current updated layout.
Working on cleaning up the code and then I'll submit a PR

[2020-01-09 14:11] ScrewTSW commented on #1697
Seen on prod cluster 2a x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2aProd/1869/console

[2020-01-09 14:11] ScrewTSW commented on #1716
Seen again on production cluster 2a x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-2aProd/1878/console

[2020-01-09 14:12] ScrewTSW commented on #1372
Seen again on production cluster 1b x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1873/console

[2020-01-09 14:13] ScrewTSW commented on #1604
Seen again on prod-preview cluster 2a x1
https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/2086/console

[2020-01-09 17:12] dmytro-ndp commented on #1604
Happened again while testing Eclipse Che 7.7.0.RC being installed on minikube 1.1.1 https://codeready-workspaces-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/view/che-regular-tests/view/pre-release/job/Single-Che-pre-release-check-test-all-devfiles-against-K8S/21/console

[2020-01-10 09:26] ScrewTSW commented on #1697
seen again on production 1b x1
https://ci.centos.org/view/Devtools/job/devtools-rh-che-periodic-prod-1b/1880/console

[2020-01-10 09:56] ibuziuk commented on #1697
@ScrewTSW @Katka92 what is the timeout for mvn build atm? Can we consider increasing it? build time depends on the central state which we can not affect

[2020-01-10 10:35] Katka92 commented on #1697
@ibuziuk It is set to 120000 seconds. Do you think it is not enough? We can increase that, but I would do the change in upstream, so we don't need to override code on our side. That would mean that we will get that fix next release.

[2020-01-13 09:37] Katka92 opened #1756 "Failed to run the workspace: An exception occured"
Test can not start a workspace. There is just a simple message in a GUI:
[code]

And there is message in events: `Killing container with id docker://theia-idekac:Need to kill Pod`. All events can be found there: http://artifacts.ci.centos.org/devtools/rhche/devtools-rh-che-periodic-prod-preview-2a/2101/events_report.txt

![image.png](https://images.zenhubusercontent.com/59a50d048f62dc7798c4656a/e8

[2020-01-13 11:28] Katka92 commented on #1517
This issue was seen again during a reload of a page. Happened on prod-preview 2a cluster 1x.
Job: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/2104/console

[2020-01-13 11:29] Katka92 commented on #1697
Seen again on production 2a cluster 3x, cluster 1b 3x.

[2020-01-13 11:30] Katka92 commented on #1716
Seen again on cluster 2 1x https://ci.centos.org/job/devtools-rh-che-periodic-prod-2/2112/console

[2020-01-13 11:30] Katka92 commented on #1678
Seen again on cluster 2 1x, cluster 1a 2x, cluster 1b 2x.
Seen again on prod-preview 1x with different style (see image, link to job: https://ci.centos.org/job/devtools-rh-che-periodic-prod-preview-2a/2113/console).
![image](https://user-images.githubusercontent.com/29278800/72245552-23121700-35f1-11ea-879b-05743a8925ed.png)

[2020-01-14 10:45] ScrewTSW opened #1759 "Implement NotificationContainer and Notification objects for TS selenium tests"
**Description:**
For better implementation of selenium tests we should split Notifications away from Ide class.

We should implement NotificationContainer to represent the notification overlay since it's separate from Ide and implement Notification class which would contain methods and differentiation between notification types (info, confirm, open link)

[2020-01-14 16:22] Katka92 opened #1760 "Compatibility check not creating PR"
If compatibility check fails on conflict (e.g. when trying to rebase) it should still create PR and send a comment here. Example of a failed job that didn't create/update PR: https://ci.centos.org/job/devtools-rh-che-rh-che-compatibility-test-dev.rdu2c.fabric8.io/326/console

[2020-01-15 08:56] Katka92 commented on #1697
Seen again on 1b 1x

[2020-01-15 17:16] ibuziuk commented on #1749
@tomgeorge can we close the issue? l suppose meta.yaml is already hosted on static.developers.redhat.com