[2018-08-01 07:25] ibuziuk commented on #778
@evidolob plugin of course ;-)

[2018-08-01 08:32] ibuziuk commented on #765
@slemeur is this epic planned for J Train ? basic telemetry is already available on OSIO as part o fhttps://github.com/redhat-developer/rh-che/issues/749

[2018-08-01 08:33] evidolob commented on #778
https://github.com/eclipse/che-theia-github-plugin is a Theia extension :)
In case that you want to write plugin, you cannot use `che-theia-github-plugin`, you can use `@octokit/rest` library.
AFAIK `che-theia-github-plugin` was created before we start work on plugins, so yes name is confusing

[2018-08-01 08:36] slemeur commented on #778
would it be relevant to keep the `che-theia-github-plugin` then? I think the scope describe in this issue is covering the capabilities available in `che-theia-github-plugin`, or should it combine its current capabilities with the ones list in the issue?

[2018-08-01 08:52] slemeur commented on #765
This epic is a more general view of the system which leverage the work already done in #749.

Yes in J-train

[2018-08-01 08:53] evidolob commented on #778
I guess not, I like idea to have one Theia plugin with all GitHub related functionality

[2018-08-01 08:56] slemeur commented on #778
yes I agree :)

[2018-08-01 08:56] ibuziuk commented on #778
@slemeur What we were planning to do initially  is to write new PR plugin from scratch using new Theia plugin model and than existing GitHub extension [1] was mentioned in the issue which introduced some confusion.

[1] https://github.com/eclipse/che-theia-github-plugin

[2018-08-01 09:06] ibuziuk commented on #765
@sbose78 would it be possible to have https://github.com/openshiftio/openshift.io/issues/4095 in J Train ?
I believe it would be a requirement  for `Che.IO Total Registered Users`, `Che.IO Monthly Registered Users` metrics at very least

[2018-08-01 09:36] bartoszmajsak commented on #649
There's PR open for that https://github.com/thorntail/thorntail/pull/1061, I will make it pass on TCK tests and we can see if that unblocks us here.

[2018-08-01 10:41] ibuziuk opened #786 "Get familiar with Theia plugin development - run / debug / update basic hello-world plugin"
In order to get familiar with new Theia plugin (not extension) development need to run / debug / update basic `hello-world` plugin [1] (aslo need to figure out how to develop Theia plugin not only in Theia but also in vscode since currently Theia is missing debugging facilities).

Useful docs:

- https://github.com/theia-ide/theia/blob/master/doc/Developing.md
- https://www.theia-ide.org/doc/index

[2018-08-01 12:12] benoitf commented on #778
Documentation on Theia plug-ins is "in progress", PR was made there https://github.com/theia-ide/theia-website/pull/10

[2018-08-01 13:03] garagatyi commented on #594
Doesn't seem to be needed for the project for now. Closing the issue, but we can return to it later if needed.

[2018-08-01 13:03] #594 closed

[2018-08-01 13:07] garagatyi commented on #743
This issue is not a priority for the skeleton, so closing it to clean the issues. We would be able to return to this task if it become valuable.

[2018-08-01 13:07] #743 closed

[2018-08-01 13:08] garagatyi commented on #751
@ibuziuk Has we decided to disable organizations and everything like that?

[2018-08-01 13:12] ibuziuk commented on #751
yes for J Train we plan just to disable it - https://github.com/redhat-developer/rh-che/issues/707
But we would likely need to get back to it in K Train - https://docs.google.com/document/d/1y0wjCKcBhzLFgIR-Qgx3YkqWU0kqy638tSOO4oKa_bE/edit

[2018-08-01 13:33] ibuziuk opened #788 "Create a POC of PR plugin (UI only without backend)"
Need to create UI for PR Theia Plugin described in https://github.com/redhat-developer/rh-che/issues/778
UI elements are:

- Button in the outline view
![image](https://user-images.githubusercontent.com/1461122/43412246-e918aad0-942c-11e8-9b2f-65bd7e8af216.png)
- when the button is pressed, command palette is opened with `Branch1` / `Branch2` / `Branch3` commands
- once user presses on one of the

[2018-08-01 13:42] ibuziuk opened #789 "Make research about available node.js libraries which provide GitHub integration in order to choose the right one for PR plugin (lib must be EPL 2.0 compatible)"
Need to pick node.js library for GitHub integration required for https://github.com/redhat-developer/rh-che/issues/778

- lib must be EPL 2.0 compatible
- lib must support GitHub Personal Access Token

[2018-08-01 13:44] ibuziuk commented on #778
@slemeur @l0rd We are planning to take the following issues to the sprint. Please, comment if those look good:

- [ ] Get familiar with Theia plugin development - run / debug / update basic `hello-world` plugin #786
- [ ] Create a POC of PR plugin (UI only without backend) #788
- [ ] Make research about available node.js libraries which provide GitHub integration in order to choose the right one f

[2018-08-01 13:56] davidfestal opened #790 "Transform the direct user registration flow POC to a real implementation integrated into RhChe"
The POC was this issue: https://github.com/redhat-developer/rh-che/issues/773

[2018-08-01 13:57] davidfestal opened #791 "Add telemetry events + telemetry user identification in the automatic registration flow script."
related to https://github.com/redhat-developer/rh-che/issues/773 and https://github.com/redhat-developer/rh-che/issues/790

[2018-08-01 14:11] ibuziuk commented on #729
Closing since there are relevant sub-tasks already opened

[2018-08-01 14:11] #729 closed

[2018-08-01 14:11] ibuziuk commented on #735
PR is sent - https://github.com/eclipse/che/pull/10545

[2018-08-01 14:32] ibuziuk commented on #708
Closing in favour of https://github.com/redhat-developer/rh-che/issues/727

[2018-08-01 14:32] #708 closed

[2018-08-01 14:36] ibuziuk opened #792 "Create new files Structure in registry: add theia editor meta, add a test plugin meta. create test tarball with a test plugin and theia editor files: .theia, plugin.yaml (theia), plugin.yaml (plugin)"
@garagatyi please provide description

[2018-08-01 14:39] ibuziuk opened #793 "Download of the plugins and editor meta.yaml from the plugin registry. The URL of the plugin registry should be a wsmaster property. Get new properties from workspace attributes."
@garagatyi please provide a description

[2018-08-01 14:41] ibuziuk opened #794 "Download and extract the plugins tarballs, process yamls."
@garagatyi please provide description to this issue

[2018-08-01 14:43] ibuziuk opened #795 "Copy the editor plugins in a PV folder that will be shared with the editor container"
@garagatyi please provide description to the issue

[2018-08-01 14:44] davidfestal opened #796 "Sometimes opened `manage.openshift.com/openshiftio` page doesn't work as expected"
In the new end-to-end new user registration flow, implemented in #773, sometimes the opened `manage.openshift.com/openshiftio` page doesn't work as expected and redirects to `manage.openshift.io/index` without doing proper OSIO provisioning.

Should sync with RHD team to understand why and make the whole flow more robust.

Related to #790

[2018-08-01 14:46] slemeur commented on #791
Needed for https://github.com/redhat-developer/rh-che/issues/701 and https://github.com/redhat-developer/rh-che/issues/765

[2018-08-01 14:46] slemeur commented on #790
Needed for https://github.com/redhat-developer/rh-che/issues/701

[2018-08-01 15:01] ibuziuk commented on #707
- [ ] UD is not part of rh-che build, so we probably need to either re-pack the dashboard or add property in upstream to override the message

[2018-08-01 15:17] slemeur commented on #778
That sounds a reasonable approach.

[2018-08-01 15:26] ibuziuk commented on #778
thanks for the input - issues are in the sprint

[2018-08-01 17:13] ibuziuk commented on #764
PR has been sent https://github.com/redhat-developer/rh-che/pull/787

[2018-08-02 08:18] ibuziuk opened #798 "Add limitations for workspace sharing on che.openshift.io"
On `che.openshift.io` when workspace is shared the following rules must be applied:
- [ ] Only creators should be able to start/stop workspaces
- [ ] Personal GH token is not available / shared within the workspaces (e.g. users still use their own personal GH tokens when accessing a shared workspace)
- [ ] Workspace creator must be informed via notification message that OSO token will be available

[2018-08-02 10:16] rhopp commented on #608
@ibuziuk Katka gone through the dashboard and identified few issues. Those issues were already identified (as for example https://github.com/redhat-developer/rh-che/issues/727) or there were also present in upstream (and reported there as for example https://github.com/eclipse/che/issues/10488).

We didn't think about stuff which "works" or "does nothing" as for example Orgatinzations page and suc

[2018-08-02 10:32] ibuziuk commented on #608
could all the issue that were found as part of the investigation (both rh-che & upstream) be added to the issue description as checkboxes as it was initially planned - https://github.com/redhat-developer/rh-che/issues/608#issuecomment-401882388 ?

[2018-08-02 10:54] Katka92 commented on #608
Found issues:
- [ ] #727
- [ ] eclipse/che#10488
- [ ] https://github.com/eclipse/che/issues/10487
- [ ] https://github.com/eclipse/che/issues/10486

I'm affraid, I can't recover more issues there were not created by me but are related with this issue.

[2018-08-02 11:33] ibuziuk commented on #608
@Katka92 thanks, could you please add those issues to the description in the format that is currently in place : - [ ] issue title #issue_reference

[2018-08-03 06:25] Katka92 commented on #608
@ibuziuk updated, hope now it is ok :)

[2018-08-03 06:27] ibuziuk commented on #608
great, thank you!

[2018-08-08 09:54] slemeur commented on #727
Looking for some news on this issue: will it be addressed during the sprint? I don't see an assignee on it.

[2018-08-09 08:46] garagatyi commented on #792
Was done by another team

[2018-08-09 08:46] #792 closed

[2018-08-09 13:37] amisevsk commented on #774
PR opened: https://github.com/eclipse/che/pull/10709

[2018-08-09 14:55] rhopp opened #801 "Warning in logs on both prod&prod-preview - java.io.EOFException"
**Issue problem:**
There is this warning in both prod and prod-preview logs:
[code]
[code]

The frequency is as follows:
**prod** - average around 1000 per day
![image](https://user-images.githubusercontent.com/1215011/43907028-e430e18e-9bf4-11e8-9c06-3e67cca302ce.png)

**prod-preview** - average around 2000 per day
![image](https://user-images.githubusercontent.com/1215011/43907043-f5763ebc-9bf4-

[2018-08-10 16:36] #791 closed

[2018-08-10 16:36] davidfestal commented on #791
Deployed to production.

[2018-08-10 16:37] #790 closed

[2018-08-10 16:37] davidfestal commented on #790
Deployed to production.

[2018-08-13 12:52] amisevsk commented on #505
I believe this issue is fixed as of https://github.com/redhat-developer/che-dockerfiles/pull/37. @rhopp Can you confirm?

[2018-08-13 14:31] rhopp opened #805 ".NET workspace - quickstart has lot of error markers"
**Issue problem:**
It seems, that basic .NET libraries are not loaded by language server.

Note, that despite this, build&run works fine.

**Reproduction Steps:**

Create .NET workspace and add `dotnet-web-simple` sample project in there. Opening any `.cs` file shows view like this:
![image](https://user-images.githubusercontent.com/1215011/42939914-cf76baaa-8b57-11e8-96dd-69d9aaf0c07d.png)

This

[2018-08-13 14:31] rhopp commented on #505
Yep... Workspace startup is OK now. I've created another issue though with .NET stack: https://github.com/redhat-developer/rh-che/issues/505

[2018-08-13 14:31] #505 closed

[2018-08-15 13:43] #794 closed

[2018-08-15 13:44] #795 closed

[2018-08-15 13:45] #744 closed

[2018-08-15 13:47] #771 closed

[2018-08-15 13:48] #773 closed

[2018-08-20 10:51] garagatyi opened #806 "Integrate che-plugin-registry on OSIO with RhChe to use Walking skeleton flow"
**Issue problem:**

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output o

[2018-08-20 11:06] sbose78 commented on #727
You could use
[code]
to trigger 'connect github'

and

[code]
to get the github token, and/or check if user has connected her github.

[2018-08-20 13:03] garagatyi opened #807 "Expose che-plugin-registry publicly to allow access from Che UD"
**Issue problem:**

Now che-plugin-registry is not accessible for UD on OSIO prod-preview, but we will need that for Eclipse Con epic https://github.com/eclipse/che/issues/10644

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (inc

[2018-08-21 17:49] amisevsk opened #814 "Che `/api/token/github` endpoint is broken"
Issuing `GET` requests on Che server `/api/token/github` endpoint fails with a HTTP `500` error. Submitting a `POST` request succeeds but subsequent `GET` requests fail anyways.

From debugging a running deployment on dev-cluster, issue appears to be due to [`DefaultHttpJsonRequst`](https://github.com/eclipse/che/blob/f78caa2374064092a585def4147371d52d8d69a3/core/che-core-api-core/src/main/java/or

[2018-08-21 20:15] davidfestal opened #815 "Followup and fixes after the first test phase of end2end registration flow on production"
fix the required things that might have been spotted during the first test phase (for example I detected that for some users, the factory workspace stops -erroneously it seems- immediately after creation at first start, and the user needs to refresh his factory URL to have it started finally, or something like that. Would have to investigate this case a bit more, since currently there is a lack of

[2018-08-21 20:21] davidfestal opened #816 "PR on the Keycloak repo for end2end flow"
Create the corresponding PR on upstream Keycloak for the change in OIDCKeycloak.js  required by the new end-to-end flow.

[2018-08-21 20:24] davidfestal opened #817 "Make the end2end flow provisioning page more maintainable"
Explore how the `provision.html` page of the end-to-end flow could be written in a way that would ensure it keeps in sync with the future state of the RHD Openshift.io Keycloak customization.

[2018-08-22 10:19] scela opened #820 "Invalid "Preview:" URL in Spring and Nodejs stacks with respective samples"
- Log in to OSIO
- Create a workspace either from Spring or nodejs stack
- Open the workspace and get into Che
- Create a sample project either web-java-spring or web-nodejs-simple respectively
- Build and run

Preview: ${server.9000/tcp} is shown rather than a real URL

[2018-08-22 10:44] ibuziuk opened #821 "APB: Support external PostgreSQL and Keycloak"
Placeholder for - https://github.com/ansibleplaybookbundle/eclipse-che-apb/issues/7

[2018-08-22 10:44] ibuziuk opened #822 "APB: Support external PostgreSQL and Keycloak"
Placeholder for - https://github.com/ansibleplaybookbundle/eclipse-che-apb/issues/7

[2018-08-22 10:45] #821 closed

[2018-08-22 12:40] garagatyi opened #823 "Make che-plugin-broker push result to JSON_RPC of Che master"
**Issue problem:**
https://github.com/eclipse/che/issues/10878

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of

[2018-08-22 13:05] garagatyi opened #824 "Clean up solution in walking skeleton initial implementation and merge to upstream"
**Issue problem:**
We have working plugin broker integrated with Che master in a [branch](https://github.com/eclipse/che/compare/master...garagatyi:integrateBroker). We need to merge this upstream to continue our iterative approach of delivering Walking skeleton and Che 7 experience to Che default assembly and RhChe on OSIO.
This issue doesn't include improvements and fixes that we need in that in

[2018-08-22 13:13] garagatyi commented on #793
Work was done in a [branch](https://github.com/eclipse/che/compare/master...garagatyi:integrateBroker). Closing this issue in favor of https://github.com/redhat-developer/rh-che/issues/824

[2018-08-22 13:13] #793 closed

[2018-08-22 13:18] garagatyi opened #825 "Add an ability to use different PVC strategies in Walking skeleton instead of hardcoding behavior of common strategy"
**Issue problem:**
https://github.com/eclipse/che/issues/10879

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of

[2018-08-22 13:58] ibuziuk opened #826 "Need to update che to 6.10.0 and update rhche on production"
6.10.0 has fixes for regressions introduced by the switch from pods to deployments for workspaces. Need to update rh-che to 6.10.0 and promote it to production

[2018-08-22 14:00] ibuziuk opened #827 "Create initial diagram for rhche -> osio services flows to better understand OSIO arch"
**Issue problem:**

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output o

[2018-08-22 14:55] ibuziuk commented on #762
Upstream issue has been closed
@rhopp could you please verify once the version with the fix would be promoted to prod-preview ?

[2018-08-22 15:00] ibuziuk commented on #779
Closing since compose recipies have been removed from rh-che stacks and not available by default - https://github.com/redhat-developer/rh-che/pull/787

[2018-08-22 15:00] #779 closed

[2018-08-22 15:02] ibuziuk commented on #782
Closing since now auth error is shown is the keycloak token is not valid

[2018-08-22 15:02] #782 closed

[2018-08-23 07:29] ibuziuk commented on #820
@rhopp thanks for detailed research. So, the main problem is inconsistency between our stacks & samples. I believe @eivantsov already consolidated [1] samples with stacks upstream and we need to do the very same thing for rhche.

Radim, will it be possible if QA team would work on https://github.com/redhat-developer/rh-che/issues/763 in the current sprint and provide relevant PRs for consolidation

[2018-08-23 08:02] rhopp commented on #447
Agree this is not actual anymore. Closing.

[2018-08-23 08:02] #447 closed

[2018-08-24 17:51] amisevsk commented on #707
PR #830 enables redirection of `learn more` link to upstream organizations doc.

[2018-08-27 07:03] garagatyi commented on #707
We also have share workspace view on UD:
![selection_002](https://user-images.githubusercontent.com/1851863/44645437-49c1b480-a9e0-11e8-850f-13f28caa1478.png)
We will have to disable it too. Not sure whether it would work authomatically after disabling organizations.

[2018-08-27 10:40] scela opened #832 "The factories workflow after login doesn't work on Firefox"
If I click a factory link while logged out of OSIO, after I log in, I land in the workspaces section of the dashboard rather than the immediate loading of the factory.

This only happens if I use Firefox. It works well with Chrome.

[2018-08-27 10:44] ibuziuk commented on #815
@davidfestal will you be able to take a look at https://github.com/redhat-developer/rh-che/issues/832 as part of this issue ?

[2018-08-27 10:52] davidfestal commented on #815
Hi @ibuziuk Yes, I'll look into it. That's a bit strange since I also tested on Firefox. I'll contact @scela to have more details on the precise use-case.

[2018-08-28 07:31] scela commented on #832
After discussing with @davidfestal it seems this was some strange state from my side as it's not happening anymore.

If it happens again I'll record the logs and the interactions and reopen this issue. Closing.

[2018-08-28 07:31] #832 closed

[2018-08-28 10:04] ibuziuk opened #834 "[OSD] Need to support OISO specifc parameters (e.g. space_id) in rh-che during workspace creation flow"
Current workspace startup flow on openshift.io

![image](https://user-images.githubusercontent.com/1461122/48473793-8213aa80-e7f9-11e8-8bc1-75549c771438.png)

Some clarifications of steps:

**step 1** - request is send from browser / fabric8-ui to initiate workspace creation
**step 4** - che-starter creates workpspace using Che server REST API and returns link back to fabric8-ui through fabric8-wi

[2018-08-29 09:17] ibuziuk opened #836 "Need to cleanup and make more uniform keycloak / fabric8-auth properties used in rh-che"
Issue is created as follow up of automatic Github linking PR - https://github.com/redhat-developer/rh-che/pull/810

[1] https://github.com/redhat-developer/rh-che/pull/810#issuecomment-415852628
[2] https://github.com/redhat-developer/rh-che/pull/810#issuecomment-416844666

[2018-08-29 10:08] rhopp commented on #762
Verfied on che.prod-preview.openshfit.io (based on che 6.9.0). Closing.

[2018-08-29 10:08] #762 closed

[2018-08-29 15:51] amisevsk commented on #836
@davidfestal Continuing the discussion from the PR, I see that the oidc provider and auth server url should be mutually exclusive, but at some point the implementation has diverged from that. In working on the PR, I encountered issues where oidc provider being set was insufficient, as there are upstream classes that check only the auth server url. Eventually I was having enough issues that I stopp

[2018-08-29 19:58] rafabene commented on #762
When che.prod-preview.openshfit.io will be published to che.openshfit.io?

[2018-08-30 08:39] benoitf opened #839 "Unable to start a workspace from a factory url"
**Issue problem:**
Che allows to use factory URLs like `https://che.openshift.io/f?url=<url-of-a-github-repository>`

When using that mode, workspace fails to start.

<details><summary>Details of stack trace</summary><p>

147 lines are hidden...

at org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:150)
at com.google.inject.servlet.GuiceServletContextListener.contextInitialized(Guice

[2018-08-30 08:40] davidfestal commented on #839
Great, Thanks !

[2018-08-30 10:37] ibuziuk commented on #707
workspace sharing is still planned to be enabled but with some limitations - https://github.com/redhat-developer/rh-che/issues/798

[2018-08-30 11:11] ibuziuk opened #840 "Avoid provisioning Che twice on the same cluster"
Placeholder for https://github.com/ansibleplaybookbundle/eclipse-che-apb/issues/18

[2018-08-30 11:17] rhopp commented on #839
This is reproducible also on prod-preview (che 6.10)

[2018-08-30 13:09] davidfestal opened #841 "Look at Keycloak lightweight alternatives for local development (proxy to upstream issue)"
This is a proxy to the following upstream issue : https://github.com/eclipse/che/issues/10998

[2018-08-30 14:40] #826 closed

[2018-08-30 14:41] #747 closed

[2018-08-30 14:42] #727 closed

[2018-08-30 14:44] #668 closed

[2018-08-30 14:45] #706 closed

[2018-08-30 14:45] #774 closed

[2018-08-30 14:45] #735 closed

[2018-08-30 18:26] amisevsk commented on #785
Closing as rhche is currently on 6.10.0

[2018-08-30 18:26] #785 closed

[2018-08-31 06:13] ibuziuk commented on #728
@sleshchenko looks like we still have this problem even after update to 6.10.0 - redhat-developer/rh-che#728

[2018-08-31 06:13] benoitf commented on #728
I was able to remove them with 6.10.0 update !

[2018-08-31 06:13] #728 closed

[2018-08-31 06:14] ibuziuk commented on #728
@sleshchenko sorry, false alarm ;-)

[2018-08-31 06:52] sleshchenko commented on #728
@ibuziuk no problem.
Good to see that it is not reproducible anymore.

[2018-08-31 12:06] rhopp commented on #486
I wasn't able to reproduce this issue on latest che on prod. Closing.

[2018-08-31 12:06] #486 closed

[2018-08-31 13:17] l0rd commented on #707
@ibuziuk if I understand correctly we can close this issue right? In any case #798 is already listed in codenvy.io migration epic (#701)

[2018-08-31 13:45] ibuziuk commented on #707
@l0rd I was planning to close it once it would be on prod (currently it is only on prod-preview)

[2018-09-03 07:14] #823 closed

[2018-09-03 07:14] #824 closed

[2018-09-03 08:53] ibuziuk commented on #707
@amisevsk for some reason organizations where not disabled as expected on the prod-preview and there is still old message shown:

![image](https://user-images.githubusercontent.com/1461122/44977125-78530880-af67-11e8-86cd-309e749d9fc7.png)

Could you please take a look ?

[2018-09-03 09:15] garagatyi commented on #731
All of these tasks are tracked in upstream. We add corresponding issues here to plan sprints, so we don't need this epic-level issue anymore. Closing it.

[2018-09-03 09:15] #731 closed

[2018-09-03 10:22] ibuziuk opened #843 "Need to manually remove compose based stacks from prod / prod-preview"
"compose" recipe type is not supported by openshift / k8s infra, but there are `java-mysql` / `java-centos-mysql` compose based stacks available on `che.openshift.io` and `che.prod-preview.openshift.io`. Those stacks should be manually removed by the admin user since Che server does not remove existing stacks during updates.

[2018-09-03 11:40] ibuziuk commented on #843
AFAIK, currently there is no user with admin rights that could remove the stacks via dashboard, so have  created corresponding HK issue https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2275 cc: @riuvshin

[2018-09-03 11:58] ibuziuk opened #845 "Che does not show bayesain recommendations for package.json (only pom.xml)"
Placeholder for https://github.com/openshiftio/openshift.io/issues/3878

[2018-09-03 12:15] garagatyi opened #846 "Walking skeleton pulling strategies"
**Issue problem:**
Upstream issue https://github.com/eclipse/che/issues/11017

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (inc

[2018-09-03 13:42] rhopp opened #848 "Need to remove java stack which is based on `eclipse/ubuntu_jdk8` from default stacks on prod / prod-preview"
**Issue problem:**
We have two java stacks in rh-che. One is based on `eclipse/ubuntu_jdk8` and one on `eclipse/centos_jdk8`.

Do we need both of them? Eugene already said his opinion in mattermost

I'm creating this issue to get more input before sending PR deleting one of those stacks (most probably ubuntu one).

[2018-09-03 15:18] ibuziuk commented on #848
good catch. The default stacks on che.openshift.io should be centos based, so indeed the ubuntu one should be deleted.

[2018-09-03 17:06] ibuziuk commented on #707
it looks like latest rollout on rh-idev failed and the obsolete version is still deployed on prod-preview:

[2018-09-04 06:50] rhopp opened #849 "PHP stack is missing Apache php module"
**Issue problem:**
Because of php stack is missing php module, webpages with php in there are not interpreted.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [x] OpenShift.io
   - [ ]

[2018-09-04 07:06] rhopp commented on #849
PR: https://github.com/redhat-developer/che-dockerfiles/pull/42

[2018-09-04 07:10] rhopp opened #850 "PHP stack does not have samples in rh-che"
**Issue problem:**
PHP stack in rh-che does not have any examples, but in upstream, this stack has two examples. Was this done on purpose?

The fix would be easy enough... Just add correct tags to php stack.

The problem is, that there are two samples for php. One (`web-php-simple`) is working ok (once #849 is fixed), but the other one is deploying the project to GAE using `dev_appserver.py` and o

[2018-09-04 07:11] rhopp commented on #850
Or... third option - do nothing and leave php stack without samples.

[2018-09-04 07:35] eivantsov commented on #849
Just change this https://github.com/redhat-developer/rh-che/blob/master/assembly/fabric8-stacks/src/main/resources/stacks.json#L864 to `php` and samples will be found https://github.com/eclipse/che/blob/master/ide/che-core-ide-templates/src/main/resources/samples.json#L696

[2018-09-04 08:15] rhopp commented on #849
@eivantsov This issue is about fixing docker image (PR to che-dockerfiles - redhat-developer/che-dockerfiles#42).
There is another issue, where I wanted to discuss the samples: https://github.com/redhat-developer/rh-che/issues/850
The change to have the samples in che.openshift.io is easy... The question is if we want both php samples or not. To have the `gae` sample working would require more eff

[2018-09-04 08:54] ibuziuk commented on #849
PR to redhat-developer/che-dockerfiles#42 has been merged

[2018-09-04 09:07] ibuziuk commented on #850
@rhopp I believe we could start with `web-php-simple`.
@eivantsov does GAE sample works in upstream ? and we are not going to support it on osio could we easily remove it from the dashboard quickstarts ?

[2018-09-04 09:17] ibuziuk opened #851 "rhche deployment on prod-preview is broken"
rhche deployment on rh-idev is broken currently:

![image](https://user-images.githubusercontent.com/1461122/45022213-ec5ae280-b033-11e8-963b-96d10a3ff617.png)

there are quite a few errors in the logs - https://console.rh-idev.openshift.com/console/project/dsaas-preview/browse/pods/rhche-114-2g78d?tab=logs

 

Need to check if this problem is reproducible against dev cluster

[2018-09-04 09:32] eivantsov commented on #850
RH Che uses upstream samples

[2018-09-04 09:44] ibuziuk commented on #850
@eivantsov yeah, I mean my understanding is that if the sample is presented in the dashboard than it should work OOTB. So, if upstream can handle GAE sample correctly, I believe `che.openshift.io` should do the same. However, if GAE does not work correctly with upstream, probably it makes sense to remove it from the supported samples

[2018-09-04 10:05] eivantsov commented on #850
@ibuziuk upstream PHP stack uses an ubuntu based image. And that's why I tagged centos PHP stack as centos-php so that upstream samples never show up - they have associated commands with them. And those commands refer to apache2 while in centos based image it's httpd..

It's tricky to have two different sets of stacks and one list of samples.

[2018-09-04 12:37] rhopp commented on #851
<details>
<summary>Formatted stacktrace from rhche master log</summary>

[code]
</details>

[2018-09-04 18:15] eivantsov commented on #850
Yes, overriding samples.json is a headache. I will add a php-centos sample then.

[2018-09-05 07:04] ibuziuk commented on #762
it is published already

[2018-09-05 09:20] davidfestal commented on #836
#### A bit of history

Yes, in fact the main problem seems to come from the fact that initial OAuth-based account linking code (see eclipse/che@8ff1be3) was written before the addition of basic OIDC-provider support (eclipse/che@ff3459d) in a way that was really specific to Keycloak.
It was then refactored in commit eclipse/che@d2fcdb7 to create the `KeycloakServiceClient`, but still always in a K

[2018-09-05 11:57] garagatyi opened #853 "Allow to use JWT-proxy based Che workspace security for a particular user/workspace"
**Issue problem:**
Theia doesn't adopt any kind of Auth framework, so Che platform team added a new Workspace security system. It is based on the addition of a JWT proxy sidecar in a workspace. All the ports that need to be secured a proxied by the sidecar which ensures that request is authenticated.
Since we want to be able to demo Theia in Che on OSIO and we don't want to make Theia insecure we

[2018-09-05 11:58] garagatyi commented on #853
@ibuziuk @l0rd FYI

@l0rd how do you think can we allow or/and promote using Theia on OSIO without addressing this issue?

[2018-09-05 12:47] garagatyi commented on #853
Thanks to David I figured out that it is also a case for the Theia stack that can be run on OSIO.
In both cases, if someone knows/guess URL of your Theia IDE in your workspace he can read your files, execute commands in the terminal embedded in Theia.

[2018-09-06 12:59] amisevsk commented on #851
Upstream issue: https://github.com/eclipse/che/issues/11087#issuecomment-419080290

[2018-09-06 15:47] ibuziuk opened #858 "Need to add a warning on Codebases UI page if user would try to create more than 5 workspaces"
Currently on in rh-che we are using default `CHE_LIMITS_USER_WORKSPACES_COUNT`, which means user can create unlimited number of workspaces. However, if we would switch to the `unique` strategy CHE_LIMITS_USER_WORKSPACES_COUNT would be set to `5` and user will not be able to create more than `5` workspaces. UI validation for it already in place in the dashboard, but we would need to add it also to

[2018-09-06 19:08] ibuziuk opened #859 "Need to perform workspace data migration during the switch from `common` to `unique` PVC strategy"
Before taking decision about switching  from  `common` [1] to `unique` PVC strategy the following data should be provided as part of https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2291:

- what is the average number of workspaces per user on prod,
- what is the number of users with more than 5 workspaces

Once we figure it out the main question would be:
- what should we do with users that

[2018-09-06 19:29] ibuziuk opened #860 "Need to support ephemeral workspace on che.openshift.io"
Since currently workspace startup on osio could take sufficient amount of time due to pvc mount [1], it was decided to have support of ephemeral workspace with no pvc attached. There are 2 options for supporting this:

- adding new `none` PVC strategy to the existing `common` & `unique`. When this PVC strategy is set no volume would be mounted for workspace
- having an `ephemeral` option in worksp

[2018-09-07 08:57] sleshchenko commented on #742
Here is an issue for updating upstream to use kubernetes-client v4.0.4 https://github.com/eclipse/che/issues/11112

[2018-09-07 09:50] garagatyi commented on #858
@ibuziuk wouldn't error from workspace creation API be populated to the UI automatically?

[2018-09-07 09:52] garagatyi commented on #859
@ibuziuk shouldn't we change the workspace limit to 5 on prod right away to decrease the number of users that would require special handling of 5+ workspaces after the applying of the unique strategy?

[2018-09-07 09:53] ibuziuk commented on #858
@garagatyi need to check, but likely it would fail without clear reason

[2018-09-07 09:56] ibuziuk commented on #859
@garagatyi do you happen to know how it would behave if there are already users with more than 5 workspaces (smth. that we need to test on minishift first) ?

[2018-09-07 14:09] davidfestal commented on #841
Let's consider it done since the POC with the `node-oidc-provider` is working (see the comment here: https://github.com/eclipse/che/issues/10998#issuecomment-419256072).
And open a new issue about exploring the possibility to integrated upstream Che with the Openshift embedded OIDC server, possibly with Core OS dex as a proxy.

[2018-09-07 14:16] davidfestal opened #862 "Explore Che support of Openshift embedded OIDC server, possibly through Core OS dex"
This would be the second step of upstream issue https://github.com/eclipse/che/issues/10998:

Explore if / how Upstream Che could support the Openshift embedded OIDC provider, possibly through CoreOS dex ( though a fix for the missing `userInfo` endpoint in dex would be required).

CoreOS dex might be useful for 2 reasons:
- it returns access token as JWT tokens afaik
- it is also strongly integra

[2018-09-07 15:36] ibuziuk commented on #851
Closing since rh-che on prod-preview is fixed now as part of https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2292

[2018-09-07 15:36] #851 closed

[2018-09-07 15:37] ibuziuk commented on #807
This one is fixed now - there are routes exposed to che-plugin-registry from both prod / prod-preview

[2018-09-07 15:37] #807 closed

[2018-09-07 15:53] ibuziuk commented on #718
Closing this epic since the one with more details has been created upstream - eclipse/che#10288

[2018-09-07 15:53] #718 closed

[2018-09-07 16:02] davidfestal opened #863 "Make upstream Che more OIDC-compatible (required email claim, fixed redirect URLs, ...)"
The idea of this issue is mainly be to implement in a correct and nice way, the work that has been started as a POC in PR https://github.com/eclipse/che/pull/11090

[2018-09-08 06:34] garagatyi commented on #859
Just checked with 2 workspaces and limit set to 1:
- creation of third WS fails with an appropriate message from the API
- editing, starting of existing WSs works

Looks like what we need in this particular case. The only one thing to check is how OSIO UI would react to such an error. I suppose we can try it out on a prod-preview :)

[2018-09-08 06:35] garagatyi commented on #859
Sorry, forgot to add that I checked it on the Upstream Che

[2018-09-10 07:44] ibuziuk opened #865 "Switch from 'common' to 'unique' pvc strategy"
- [ ] Limit number of created workspaces to 5
- [ ] Need to add a warning on Codebases UI page if user tries to create more than 5 workspaces
- [ ] Need to notify users that only 5 workspaces are allowed from now on and extra workspaces would be removed soon
- [ ] Need to remove extra workspaces and leave only 5
- [ ] Need to switch strategy from `common` to `unique` in `rhche` cm [1]
- [ ] Need t

[2018-09-10 09:17] l0rd commented on #860
Please consider [emptyDirs](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir) and [local-ephemeral-storage](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#local-ephemeral-storage) when implementing that. These may provide better IOPS than the container COW filesystem.

[2018-09-10 12:46] garagatyi opened #866 "Add memory limits configuration into walking skeleton flow"
Upstream https://github.com/eclipse/che/issues/11097

[2018-09-10 12:48] garagatyi opened #867 "Cleanup plugins on Che Plugin Broker start to avoid usage of Theia plugins that were removed from workspace"
Upstream https://github.com/eclipse/che/issues/11095

[2018-09-10 12:55] garagatyi opened #868 "Create a factory to test ws.next on OSIO"
https://github.com/openshiftio/openshift.io/issues/3883

[2018-09-10 12:57] garagatyi opened #869 "Check for plugin-registry when starting workspace with plugins"
Upstream https://github.com/eclipse/che/issues/11124

[2018-09-10 13:03] garagatyi opened #870 "Theia Plugin Broker"
Upstream https://github.com/eclipse/che/issues/11146

[2018-09-11 10:51] rhopp commented on #849
Verified in prod-preview.

[2018-09-11 11:41] ibuziuk commented on #822
Closing. Fixed by https://github.com/ansibleplaybookbundle/eclipse-che-apb/pull/24

[2018-09-11 11:41] #822 closed

[2018-09-11 13:08] rhopp commented on #850
PR in upstream created for discussion: https://github.com/eclipse/che/pull/11170

[2018-09-12 03:36] amisevsk commented on #613
PR https://github.com/redhat-developer/rh-che/pull/874 hopefully covers deploy and debugging wsmaster, still need to consider wsagent debugging.

[2018-09-12 09:09] garagatyi opened #877 "Prepare workshop for the Che&Theia day at EclipseCon"
See https://github.com/eclipse/che/issues/10644

[2018-09-12 11:34] davidfestal commented on #839
worked on it in the context of issue https://github.com/redhat-developer/rh-che/issues/815

[2018-09-12 12:53] ibuziuk opened #879 "Need to compare performance of the ephemeral workspace (No PVC) vs. regular workspace on OSO cluster"
Need to compare performance of:
- current workspace with PVC attached
- workspace with no PVC attached - https://github.com/redhat-developer/rh-che/pull/871
- workspace with no PVC attached but using `emptyDir` https://kubernetes.io/docs/concepts/storage/volumes/#emptydir

In order to get data for `emptyDir` first need to implement the relevant strategy for it - https://github.com/redhat-developer

[2018-09-12 13:48] ibuziuk opened #880 "Need to update rh-che to use 6.11.0 version and release it to prod"
Before prod update need to sync with SD team in order to fix potential regression introduced by 6.9.0 -> 6.10.0 rolling update - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2300#note_415556

[2018-09-12 13:48] ibuziuk opened #881 "Need to update rh-che to use 6.11.0 version and release it to prod"
Before prod update need to sync with SD team in order to fix potential regression introduced by 6.9.0 -> 6.10.0 rolling update - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2300#note_415556

[2018-09-12 13:52] ibuziuk commented on #840
The relevant issue was closed upstream - https://github.com/openshift/ansible-service-broker/issues/1056

[2018-09-12 13:52] #694 closed

[2018-09-12 13:53] #540 closed

[2018-09-12 13:54] #691 closed

[2018-09-12 14:03] ibuziuk commented on #798
Closing since https://github.com/redhat-developer/rh-che/pull/872 is merged

[2018-09-12 14:03] #798 closed

[2018-09-12 14:06] #825 closed

[2018-09-12 14:13] ibuziuk commented on #827
Initial diagram of osio services - https://docs.google.com/presentation/d/1VT7iwTFc_y_UzlziiS-opCfcE08TDgddURBmKJs6rQM/edit#slide=id.g412fbb98eb_0_4

[2018-09-12 14:27] ibuziuk commented on #862
@l0rd is it the priority for J Train ?

[2018-09-12 14:31] davidfestal opened #882 "Make upstream Che more OIDC-compatible (required email claim, fixed redirect URLs, ...)"
The idea of this issue is mainly be to implement in a correct and nice way, the work that has been started as a POC in PR eclipse/che#11090

[2018-09-12 14:40] ibuziuk opened #883 "Need to implement and test `emptyDir` performance on OSO"
Good test case would be cloning big examples like - https://github.com/redhat-developer/rh-che/issues/772

[2018-09-12 14:46] ibuziuk commented on #860
It was decided to have a `mount sources` property in order to disable volume mount for workspaces. Using this property would either not do any volume mount or perform mount via `emptyDirs` approach

[2018-09-12 14:57] ibuziuk commented on #868
The initial implementation of factory should have:
- theai + service plugin (sidecar)

[2018-09-12 15:02] ibuziuk commented on #868
It was decided to create a factory for regular developer account.

[2018-09-12 15:06] davidfestal commented on #863
duplicate

[2018-09-12 15:06] #863 closed

[2018-09-12 15:30] ibuziuk commented on #608
Dashboard already does not show compose based stacks since those are not shown for k8s / openshift infrastructure.

[2018-09-12 16:30] ibuziuk commented on #879
The Initial results of using `none` strategy is that workspace startup is pretty much the same as for regular workspaces with PVC attached:
- vert.x sample - https://drive.google.com/file/d/1OOL9fS4xDseXJJng8BVBZqfHuXfc8j1R/view?usp=sharing
- startup of workspace from angular factory - https://drive.google.com/drive/u/1/my-drive?ogsrc=32

Funny enough that `mvn` / `npm` builds are faster in compar

[2018-09-12 19:52] #815 closed

[2018-09-12 20:07] amisevsk opened #885 "Is it possible for PVC cleanup pods to time out?"
Given that a volume mount for a PV with many files can take over 5 minutes in some cases, is there a scenario where a `rm` task in Che will time out and fail? If so, this could exacerbate the issue by leaving the PV in a state where it is full of files referred to by no workspace.

[2018-09-12 20:14] amisevsk opened #886 "Workspace start can fail prematurely due to volume mount timeout"
**Issue problem:**
Since we are handling unrecoverable events again, we have begun to see potential issues in starting workspaces. After ~2 minutes, OpenShift will report that the volume mount has timed out, which will cause Che to fail to start the workspace well before any internally set timeout (5 mins, as far as I remember). This event does not appear to always be truly "unrecoverable", as it

[2018-09-13 07:00] ibuziuk commented on #880
Closing as duplicate of https://github.com/redhat-developer/rh-che/issues/880

[2018-09-13 07:00] #880 closed

[2018-09-13 07:42] garagatyi commented on #885
I believe it is possible and probably already happening on OSIO.
@sleshchenko WDYT?

[2018-09-13 07:45] ibuziuk commented on #886
I believe the idea is that we should not be in a situation when volume mount takes more that 2 minutes.
This was discussed as part of https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2169
To avoid this our plan is:
- support ephemeral workspaces - https://github.com/redhat-developer/rh-che/issues/860
- potentially switch from `common` to `unique` PVC strategy - https://github.com/redhat-deve

[2018-09-13 09:45] ibuziuk commented on #883
I tested quick-dirty implementation of `emptyDir` approach on minishift. The workspace pod looks the following way:

[code]

Time required for cloning the che to `/projects` (emptyDir):

![image](https://user-images.githubusercontent.com/1461122/45480733-f1ade080-b749-11e8-8721-2bd5d1b235d8.png)

Time required for cloning che to `~/git`(container file system)
![image](https://user-images.githubuse

[2018-09-13 10:05] garagatyi commented on #883
Interesting, so container FS performance is better. hmm... I didn't expect that

[2018-09-13 10:05] garagatyi commented on #883
@l0rd FYI

[2018-09-13 13:07] amisevsk commented on #613
I've added wsagent debugging info to the previous PR #874

[2018-09-13 13:12] amisevsk commented on #885
The concerning thing is that failed cleanup is not tracked beyond logging, so it's a problem that exacerbates itself -- if a PVC cleanup job fails, it's highly likely that the next one will fail as well.

If there is a node workspace with a ton of files in `node_modules`, and the delete fails, those files will stick around and likely prevent future deletes, as the chgrp/chmod/chown commands are ru

[2018-09-13 13:15] amisevsk commented on #886
+1 @ibuziuk I fully agree that probably even 1 minute is far too long for most workspaces.

I mostly created this issue to discuss whether we want to do the (relatively) simple step of removing "failed mount" as unrecoverable in the meantime before a proper fix is merged. This could be done by modifying a configmap I think. I feel like we're seeing "workspace failed to start" issues more frequentl

[2018-09-13 19:27] ibuziuk commented on #879
Regarding the test of the current workspace startup using `angular2-quickstart` factory  [1] against che.openshift.io with fresh PVC (`claim-che-workspace` was created during the workspace startup so it was clean from the very beginning). Currently it takes ~70 seconds to start the workspace:
- 20 seconds for initial initialization (loading che + loading factory + initializing workspace)
- 5 secon

[2018-09-13 19:46] ibuziuk commented on #879
@l0rd @gorkem the initial research [1] [2] shows that ephemeral workspaces would not sufficiently improve workspace startup time but would definitely allow to avoid problems with slow PVC mount. In the general case ephemeral workspace startup would still take more than a minute. Current plan is to provide per-workspace  implementation of ephemeral workspaces via `mountSources` property which would

[2018-09-13 21:35] l0rd commented on #883
It looks like writing on disk takes more on the volume filesystem but building with mvn takes more on the container filesystem. But yes I would have expected much better performances on the emptydir volume filesystem. It would be interesting understanding the storage driver that is used (device mapper?)

[2018-09-13 21:55] l0rd commented on #879
Great job. Thank you @ibuziuk

[2018-09-14 01:37] gorkem commented on #879
Thanks @ibuziuk If it is not too much trouble can you also compare a Che 7(Theia based) workspace ?

[2018-09-14 06:16] ibuziuk commented on #883
@l0rd  when I was building che-starter a few times the average time of the builds in container FS vs `emptyDir` volume were pretty much the same. in terms of storage I believe by default `overlay2` is used in minishift https://github.com/minishift/minishift-centos-iso/blob/master/centos-7.template#L134

[2018-09-14 06:42] l0rd commented on #883
Oh I thought you were testing on osio. In this case that's make sense: your volume is inside a VM shared folder that is much slower.

Anyway to get the storage driver: ‘docker info‘

[2018-09-14 07:02] ibuziuk commented on #883
@l0rd yeah, that was tested on minishift, I would do the same tests on OSO once dev cluster would be setup properly

[2018-09-14 07:16] garagatyi commented on #879
Great analysis, @ibuziuk!

[2018-09-14 11:29] ibuziuk commented on #883
@l0rd results from OSO 2a (https://console.starter-us-east-2a.openshift.com/) for the same set of tests:

[code]

Time required for cloning the che to /projects (emptyDir) ~ 10.2 sec :

![image](https://user-images.githubusercontent.com/1461122/45546753-8255f080-b81e-11e8-9096-82907ae75cd1.png)

Time required for cloning che to ~/git(container file system) ~ 10.9 secs
![image](https://user-images.

[2018-09-14 12:45] jeffmaury opened #890 "Open Declaration / Code navigation not working on che.openshift.io"
**Issue problem:**
Went to che.openshift.io, create a blank workspace using the java-default stack, add a project from Git (https://github.com/square/okhttp).
Then I opened a Java file `okhttp/okttp/src/main/java/okhttp3/OkHttpClient.java`.
Then walked to the `newWebSocket` method and tried to open the return type `WebSocket` type but nothing happened

**Red Hat Che version:**

version: (help/abou

[2018-09-14 15:13] garagatyi commented on #827
I requested comment access to be able to collaborate in place - this looks more efficient.

[2018-09-14 17:13] ibuziuk commented on #827
@garagatyi done

[2018-09-17 07:56] garagatyi commented on #827
Looks good! (I saw non-initial diagram too, but now it is gone)

[2018-09-17 10:45] l0rd commented on #883
I can see that `emptyDir` is slightly faster and more important it allows sharing data (source code) among containers (which is critical when running tooling services in sidecars aka workspace.next)

[2018-09-17 11:30] l0rd commented on #886
@amisevsk @ibuziuk ignoring a failed to mount event is worst than current situation. We can consider the error non blocking and keep waiting for the pod to be up and running but we should at least notify the user about the infrastructure problems.

[2018-09-17 11:38] ibuziuk commented on #883
@l0rd wdyt, about having the first iteration of the per-workspace ephemeral support to be implemented via not mounting volume at all and using container FS + promoting this on openshift.io ASAP  and than enhance it with `emptyDir` support which would require more time and would be trickier to implement as per-workspace setting ? Those changes are planned to be done on rh-che side, so that we would

[2018-09-19 10:45] scela opened #896 "Wildfly Swarm example project does not build"
To reproduce:

- Create a workspace from the default 'widfly-swarm' stack
- Create a project from the wfswarm-rest-http template
- Try to do mvn clean install - it fails with "
[ERROR] io.openshift.booster.GreetingServiceTest  Time elapsed: 14.963 s  <<< ERROR!
org.jboss.arquillian.container.spi.client.container.DeploymentException: Process failed to start
Caused by: org.jboss.arquillian.container

[2018-09-19 11:11] ibuziuk commented on #896
@scela this is appeared to be a known issue on osio - https://github.com/openshiftio/openshift.io/issues/2152#issuecomment-362524343

[2018-09-19 12:05] ibuziuk commented on #881
che has been successfully updated on prod to 6.11.0.
Closing

[2018-09-19 12:05] #881 closed

[2018-09-19 12:27] ibuziuk commented on #883
WIP pr with emptyDir volumes support

[2018-09-19 12:52] amisevsk commented on #707
Changes available on prod as of today.

[2018-09-19 12:52] #707 closed

[2018-09-19 19:58] ibuziuk commented on #883
@l0rd I quickly tried `EmptyDir` with `Memory` medium for git clone against minishift:
[code]
building che-starter with empty `m2` took 01:31 min (without setting medium it took 8 minutes). Will try to do more tests tomorrow

[2018-09-19 20:48] amisevsk commented on #867
PR: https://github.com/eclipse/che-plugin-broker/pull/7

[2018-09-19 21:40] l0rd commented on #883
@ibuziuk that's promising! Anyway sorry for not answering before but yes I think implementing ephemeral workspaces using container FS is a good first step.

Moving to emptyDir can be done as a second step because it is needed for workspace.next.

[2018-09-20 06:51] ibuziuk opened #897 "Enormous number of `Failed to store signature keys for ws` error logs in production:"
Currently the following query on kibana returns almost 110 000 of hits (the whole number of hits for all logs is 130 000) and it keep increasing:

`kubernetes.pod_name:"rhche-18-8qk5d" AND kubernetes.namespace_name:"dsaas-production" AND message:"Failed to store signature keys for"`

[code]

Sentry - https://errortracking.prod-preview.openshift.io/openshift_io/che6master/issues/7129/

[2018-09-20 06:53] ibuziuk commented on #897
Upstream issue https://github.com/redhat-developer/rh-che/issues/897

[2018-09-20 07:30] garagatyi commented on #883
@ibuziuk can you elaborate what `Medium:  Memory` is?

[2018-09-20 08:51] ibuziuk opened #898 "rh-che on prod has been restarted a few times due to OOMKilled"
yesterday che has been updated on prod to the latest version 6.11.0. However, during the day rh-che pod was restarted 4 times with `OOMKilled` exception.
[code]
Note there was a workshop with 30 - 40 participants during this day, and it looks like we never tested rh-che under sufficient load on osio

- [ ] How can we reproduce the OOM? Starting hundreds of simultaneous workspaces is enough?
- [ ]

[2018-09-20 17:50] amisevsk opened #899 "Rolling out deployment / restarting rhche breaks workspace timeout in a bad way"
**Issue problem:**
When a rhche deployment is rolled out (or restarted e.g. in case of OOM -- haven't tested this exact case), the server seems to be unable to stop running workspaces due to timeout.

Error message in logs:
[code]

Importantly: this workspace is marked `STOPPED` in che, and removed from the postgres database when this happens, but the Deployment is **not** removed.

- If the user

[2018-09-20 17:56] amisevsk commented on #899
Note that this problem likely has an interplay with factories, as each load of a factory will create a new workspace. If a workspace encounters this issue, every subsequent factory load will cause another deployment to end up in the https://github.com/eclipse/che/issues/11197 state.

Also: A difference between this situation and the one described in https://github.com/eclipse/che/issues/11197 is t

[2018-09-20 18:10] amisevsk commented on #899
I missed some important context in the logs:
[code]

[2018-09-20 19:30] amisevsk opened #901 "Should we consider increasing memory limit for Che server?"
Back when each user's namespace had its own Che server instance, it was necessary to have a conservative limit on the server's memory limit. Now that Che is multi-tenant and the server does not need to be replicated across namespaces, so its memory limit could likely be increased without significant cost.

Currently, the limit is set at 750MB. I recall the server commonly using near 700MB back whe

[2018-09-21 07:13] garagatyi commented on #899
you mean runtime info is removed from the DB, right?

We persist WS runtime in DB, but we do not persist user token corresponding to this runtime as far as I understand. When a user starts a WS his token is copied into WS start thread. But in this case, there is no user token and the error appears.
We can:
- persist user token with the Runtime (issue may appear again if token expires which is unli

[2018-09-21 07:14] garagatyi commented on #899
Oh, and since we have a subjects cache we can also store it in the DB

[2018-09-21 07:59] garagatyi commented on #901
+1 to increase it to avoid OOM but it is very important to set high priority to the investigation of a source of higher memory consumption. If it is thread/connections pool it is OK, but we might find a memory leak or something else.

[2018-09-21 07:59] garagatyi commented on #901
@ibuziuk @davidfestal WDYT?

[2018-09-21 10:43] ibuziuk commented on #901
PR has been sent - https://github.com/redhat-developer/rh-che/pull/903

[2018-09-21 11:52] ibuziuk commented on #898
@rhopp @Katka92 @ScrewTSW will it be possible to setup 100 hundred of tests accounts for prod-preview and run stress tests against it ?

[2018-09-21 12:04] rhopp commented on #898
@ibuziuk Katka already started working on this.
@Katka92 Could you create an issue for this (include it in this sprint) and link it here, so we can track the progress?

[2018-09-21 12:33] garagatyi commented on #901
I do not understand something in out JVM config
Here is upstream Che default config:
-XX:MaxRAMFraction=2 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -Dsun.zip.disableMemoryMapping=true -Xms20m
Here is RhCHe prod config
-XX:+UseParallelGC -XX:MinHeapFreeRatio=2

[2018-09-21 13:09] garagatyi commented on #898
@ibuziuk could Che global SA help us with this? We might be able to trick Che and let master create workspaces in different namespaces without having dozens of clients running in parallel. But in any case, we would need these dozens of accounts to have namespaces.

[2018-09-21 13:36] ibuziuk commented on #898
@garagatyi well, I actually thought CHE SA would be impl detail and the tests would be run in parallel using OSIO token against rh-che on prod-preview

[2018-09-21 14:04] l0rd opened #905 "Add ws.next stacks"
In upstream Che there are two new stacks `wsnext-helloworld-openshift` and `wsnext-service-openshift` that should be ported to rh-che

Anyway for ws.next based Theia to work on osio we need to have one of these 2 PRs to get to rh-che too: https://github.com/eclipse/che/pull/11288 or https://github.com/eclipse/che/pull/11248

[2018-09-22 12:28] ibuziuk commented on #901
here is the original PR for tuning memory limits to single-tenant che-server https://github.com/fabric8-services/fabric8-tenant-che/commit/ef748b6eb39017764fe489de278eb512642c8420
Those limits where ported to multi-tenant without changes - https://github.com/redhat-developer/rh-che/commit/195007157fdacce07f8e7322c562a564edad037f

`In RhCHE we set maximum heap size to 180M whereas in Che MaxRAMFrac

[2018-09-23 17:39] ibuziuk commented on #899
I was able to reproduce the issue on the latest rh-che master, but since https://github.com/eclipse/che/issues/11197 is fixed the situation has been improved dramatically - now deployments will be always cleaned and on the second restart the workspace would be started in any case, so there will be no need to do a manual cleanup in the oso namespace.
I would propose to promote the latest version of

[2018-09-24 06:56] garagatyi commented on #899
+1

BTW I think we need an issue upstream to get feedback whether this breaking state is expected or bug. @ibuziuk can you create an issue upstream?

[2018-09-24 06:56] garagatyi commented on #901
+1 to reconsider the RAM policy

[2018-09-24 08:01] ibuziuk commented on #901
looking into the original PR there is a comment:

[code]

Basically, it was planned that for single-tenant che-server 300MB limit would be sufficiently enough and this is definitely not the case for multi-tenant use-case. I would propose to set  `MaxRAMFraction=2`  and remove `-Xmx180m` as the initial step.

[2018-09-24 08:12] garagatyi commented on #901
+1

[2018-09-24 08:16] ibuziuk commented on #899
@garagatyi @davidfestal @amisevsk oh, I thought that this problem is rh-che specific. So it is expected that workspace idling would fail the very same way in upstream after rollout ?

[2018-09-24 08:41] ibuziuk commented on #901
PR has been sent - https://github.com/redhat-developer/rh-che/pull/906
Once this obvious enhancement got merged we could consider adding more JVM config customization if it would be required

[2018-09-24 08:42] davidfestal commented on #899
afaik it's related to how users and OS namespaces are managed in Openshift.io.
In upstream Che, when the creating OS resources in user namespaces, the main Che SA (which is the fallback) should have the rights to modify all workspaces. So I think it should work.

But I agree with @garagatyi that it could be good to ping the upstream team about this issue, just to ensure that things are really OK t

[2018-09-24 09:11] garagatyi commented on #899
If we talk about the inability to cleanup WS deployments then yes - it is RHChe related. But we should ensure that it is expected in upstream that WSs would fail to start in this case.

[2018-09-24 09:17] ibuziuk commented on #899
@garagatyi so, you think that if deployment exists upstream should remove it and recreate new one ? For me current upstream behaviour looks consistent but of course we could double check with upstream folks

[2018-09-24 11:31] ibuziuk commented on #897
While testing on dev cluster I was not able to identify the connection of this issue with breaking idling during rollout update - https://github.com/redhat-developer/rh-che/issues/899
deployments / pods are not cleaned and still presented in namepsace but workpsace itself is stopped by che-server and no output `Failed to store signature keys for ws ` is presented in the logs

[2018-09-24 11:31] davidfestal opened #908 "Correctly track the referrer in the end2end provisioning flow telemetry events"
Add the real referrer in the end2end provisioning flow telemetry events.

This should be done in the `RhCheKeycloak.js` file, most probably by storing the initial referrer in the first Dashboard page landing, and reusing it when the page is being refreshed during either login or account linking.

[2018-09-24 11:47] davidfestal opened #910 "Bring back end2end provisioning flow resources files (JS, html) to the wsmaster"
In the first implementation of the end2end provisioning flow, the 3 following files:
- `OIDCKeycloak.js`
- `RhCheKeycloak.js`
- `provision.html`

have been stored [in the GWT assembly](https://github.com/redhat-developer/rh-che/tree/master/assembly/fabric8-ide-gwt-app/src/main/resources/org/eclipse/che/public/keycloak) to be accessed without authentication from the client-side.

However now that w

[2018-09-24 11:49] garagatyi commented on #899
@ibuziuk I'm not talking about changing anything, just to double check that it is expected. And maybe such an issue would cause ppl to think how to improve this

[2018-09-24 11:53] davidfestal opened #911 "Add and track Che telemetry events for 'push to remote', 'create project', and 'import project'"
Related to EPIC https://github.com/redhat-developer/rh-che/issues/765

[2018-09-24 11:53] ibuziuk opened #912 "Che workspace "Java CentOS" fails to start with anyuid addon applied"
Placeholder for https://github.com/minishift/minishift/issues/2824

[2018-09-24 12:00] davidfestal opened #913 "Make the repos of `sample` projects configurable in Che telemetry"
In order to store a `source types` properties on Che telemetry events (that shows the type of sources of the projects added at workspace creation), we compare the Git URL of projects with the one of the official Che samples, and when it matches, tag the source type as a `sample`:

https://github.com/redhat-developer/rh-che/blob/master/plugins/che-plugin-analytics/che-plugin-analytics-wsmaster/src/

[2018-09-24 12:06] ibuziuk commented on #911
@slemeur could you please clarify if it is a priority for the next sprint

[2018-09-24 12:16] davidfestal opened #914 "Provide more detailed documentation about Che telemetry implementation"
- Provide complete documentation about:
    - the design + Java implementation of Che workspaces telemetry
    - the design of Che telemetry related to client-side end2end flow
    - The various parts of Che telemetry work that  are stored in Woopra itself (trigger, segments, definition of *official* reports)
- Provide a link to this additional documentation into the HK dev guide.

[2018-09-24 12:21] ibuziuk commented on #908
@slemeur could you please tell if this is a priority for the next sprint ?

[2018-09-24 12:42] garagatyi commented on #898
Memory consumption by upstream Che with the grow of the load is unclear. I created an issue for that https://github.com/eclipse/che/issues/11326

[2018-09-24 12:51] ibuziuk opened #915 "Need to get report from zabbix about workspaces that are running more than 1 day"
Placeholder for https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2330

[2018-09-24 14:35] ibuziuk commented on #901
Closing: all PRs are merged and now new limits are available on prod for rh-che:

![image](https://user-images.githubusercontent.com/1461122/45958484-d4192a80-c017-11e8-9ac6-9b562773298c.png)

[2018-09-24 14:37] #901 closed

[2018-09-25 00:08] amisevsk opened #919 "rh-che addon is broken for OpenShift 3.10.0"
There are two issues currently with running rhche on minishift 1.24 + OpenShift 3.10:
1. OpenShift 3.10.0 deprecates the [`oc secrets new-basicauth`](https://github.com/redhat-developer/rh-che/blob/d3573c5336be4610e0cadf6848b4fe62eb1ce76d/openshift/minishift-addons/rhche-prerequisites/rhche-prerequisites.addon#L16) command, so installing the prerequisites does not work
   - this command needs to b

[2018-09-25 07:18] slemeur commented on #911
Yes, I think this one is pretty important as it allows us to better know what the users are doing and also qualify the level of engagement.

This issue has an higher priority than #908 .

[2018-09-25 07:19] slemeur commented on #908
We can hold a bit on this one.

[2018-09-25 13:59] ScrewTSW opened #920 "Implement 'native' build profile for dashboard from upstream"
**Issue problem:**
Currently as of 30th of August rh-che dashboard is being built with `docker`.
This poses an issue where rh-che needs to be build inside a container.
Usually we can get around this by mounting `-v /var/run/docker.sock:/var/run/docker.sock` but in some cases like `docker build` context, this is not possible.
This profile is critical for PR-Check dependency image builds as the idea

[2018-09-25 14:27] apupier opened #921 "Include Camel stack"
**Issue problem:**
Camel stack has been added recently to Eclipse Che. it would be nice to have it available in rh-che as it is an upstream project of Red Hat Fuse.
see https://github.com/eclipse/che/blob/6f30e14113dc34c99240e08d1558b9dddc563176/ide/che-core-ide-stacks/src/main/resources/stacks.json#L1959

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest of

[2018-09-26 06:17] ibuziuk commented on #921
@apupier maybe you would be able to provide a PR to rh-che - https://github.com/redhat-developer/rh-che/blob/master/assembly/fabric8-stacks/src/main/resources/stacks.json ?

[2018-09-26 06:19] apupier commented on #921
@ibuziuk the stacks.json are duplicated between che and rh-che? Every time there will be an update in Eclipse Che, we will need to report it here? tests written in Eclipse Che codebase needs to be duplicated too?

[2018-09-26 06:42] ibuziuk commented on #921
@apupier yes, in rh-che we have a custom version of stacks, so changes will need to be backported. In terms of test for stacks,  those should be part of upstream project since we are building rh-che against the fixed upstream version and just add extra osio specific things.

yes

[2018-09-26 06:56] apupier commented on #921
Camel stack has been provided for Che 6.12.
The current fixed version used here is 6.11.1, should we wait for 6.12.0 used in rh-che?
In theory, there is no reason that the Camel stack is not working with 3.11.1 but tests were not launched with it.

[2018-09-26 06:59] apupier commented on #921
I'm noticing that "com.redhat.oc-login" has been added to several stacks here (but not all) compared to upstream Che.
What is it used for? How to know if i need to add it also for Camel stack?

[2018-09-26 07:18] ibuziuk commented on #921
@apupier this one is used for oc login to the user namespace on OSO and possibility to execute `oc` commands from terminal. So, I believe you could update image to `registry.devshift.net/che/spring-boot` [1] which includes oc binaries and add the oc login installer to the stack.

[1] https://github.com/redhat-developer/che-dockerfiles/blob/master/recipes/dockerfiles/spring-boot/Dockerfile

[2018-09-26 08:36] davidfestal opened #926 "Recurring WebSocket errors in the Che server log"
**Issue problem:**

In the production and prod-preview Che server, we are now seeing regularly these warning messages in the logs:
- message: `Exec Failure`
- logger_name: `io.fabric8.kubernetes.client.dsl.internal.WatchConnectionManager`
- thread_name:
`OkHttp https://f8osoproxy-test-dsaas-production.09b5.dsaas.openshiftapps.com/...`
- stack_trace:
[code]
**Red Hat Che version:**

Current OSIO pr

[2018-09-26 09:42] davidfestal opened #927 "Adapt RhChe to the new scope limitation of the machine token signed requests in Upstream"
In the upcoming 6.12.0 upstream Che release, a new mechanism to limit the scope of the machine token signed requests was introduced.
This is a breaking change for RhChe currently since in some cases RhChe performs calls from the Workspace agent to the wsmaster, that will be out of this new restricted scope.
See https://github.com/redhat-developer/rh-che/pull/902#issuecomment-424645862 for more det

[2018-09-26 12:13] garagatyi commented on #899
Discussed this with @sleshchenko and it is expected behavior for upstream Che. But we can implement a check of all WSs in the starting state on Che master start. If WS is not in an expected state we clean it up.

[2018-09-26 12:16] garagatyi commented on #899
Created upstream issue for that https://github.com/eclipse/che/issues/11364****

[2018-09-26 12:22] garagatyi opened #929 "Do we have RhChe memory consumption metrics on zabbix?"
**Issue problem:**
I can not see meaningful memory consumption data on Zabbix.
Now, Zabbix shows for prod:
![image](https://user-images.githubusercontent.com/1851863/46079410-c1316200-c19f-11e8-9798-99d5abd0dbc1.png)
Whereas OS dashboard shows:
![image](https://user-images.githubusercontent.com/1851863/46079454-d908e600-c19f-11e8-827e-719d8a4109a8.png)

Do we have proper metrics for that?

**Red H

[2018-09-26 12:58] garagatyi opened #930 "Change Che master logs encoding in PR check deployment to plaintext"
**Issue problem:**
Now logs of Che master in PR check is JSON encoded. And This is not the easiest way to read logs for a human.
We can change it from JSON to PLAINTEXT with setting [this](https://github.com/redhat-developer/rh-che/blob/master/openshift/rh-che.app.yaml#L226) env var to `plaintext` [here](https://github.com/redhat-developer/rh-che/blob/master/openshift/rh-che.config.yaml#L50).

**R

[2018-09-26 13:00] garagatyi commented on #930
@ibuziuk @davidfestal @amisevsk @rhopp and others :) WDYT?

[2018-09-26 13:13] ibuziuk commented on #930
+1 for this

[2018-09-26 13:28] rhopp commented on #930
What about switching that to plaintext for all deployments done by `dev-scripts/deploy_custom_rh-che.sh`? We could add a new switch to that script, but do we have a scenario, where you would deploy rhche using this devscript and want json encoding?

[2018-09-26 13:41] davidfestal commented on #930
+1 for plain text

[2018-09-26 13:42] ibuziuk commented on #930
@rhopp well, I believe that if we change cm it would affect all the deployments created via `dev-scripts/deploy_custom_rh-che.sh` in any case. Technically, we could add some flags to the script for tuning this option, but I would probably simply opt for updating rh-che cm

[2018-09-26 13:52] garagatyi commented on #897
Just checked prod and figured out that there are plenty of logs still. Those I checked were from workspaces that were accessed last time 7 to 20 days ago! So those logs are generated by "ghost" workspace deployments.
I did that investigation using Prod logs and Woopra. Kudos to David for explaining how to use it.

[2018-09-26 13:53] garagatyi commented on #897
So if we want to stop receiving those events we need to cleanup namespaces somehow.

[2018-09-26 13:54] garagatyi commented on #930
Simpler is better

[2018-09-26 13:57] rhopp commented on #930
Hmm... It should be in plaintext already...
Here's where we change that in the configmap: https://github.com/redhat-developer/rh-che/blob/master/dev-scripts/deploy_custom_rh-che.sh#L302

And looking into config map on devtools-dev cluster:
![image](https://user-images.githubusercontent.com/1215011/46084772-bd540e80-c1a4-11e8-9487-28bfedd13724.png)
And the logs from latest PR check deployment on de

[2018-09-26 14:01] ibuziuk commented on #930
@rhopp oh, looks like we can simply close the issue in this case :-)

[2018-09-26 14:03] rhopp commented on #930
@ibuziuk I would like to wait for @garagatyi's confirmation.

[2018-09-26 14:13] ibuziuk commented on #897
@garagatyi am I correct that woopra provides info about the user / namespace? I believe we need to identify namespaces and provide the list of them to SD as part of https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2337 so that they would be able to clean it by running smth. like `oc delete all -l che.workspace_id` in the namespaces. WDYT ?

[2018-09-26 14:28] ibuziuk commented on #929
I believe that the zabbix metric is db, not pod related

[2018-09-26 19:03] ibuziuk commented on #859
Closing, since switch to the `unique` PVC strategy is not planned anymore

[2018-09-26 19:03] #859 closed

[2018-09-26 19:04] ibuziuk commented on #865
Closing since switch to `unique` strategy is not planned anymore

[2018-09-26 19:04] #865 closed

[2018-09-27 07:37] garagatyi commented on #929
Do we have pod related metrics?

[2018-09-27 07:38] garagatyi commented on #897
I think we can do that, but not sure how to do that without creating a Woopra report per exception. Maybe @davidfestal could help here?

[2018-09-27 07:43] davidfestal commented on #897
@ibuziuk Woopra doesn't provide information about namespace, nor about workspace deletion. It can only give information about the last time a workspace was used by a given user.

But let me think about it, since we might also query Woopra through the API...

[2018-09-27 07:54] ibuziuk commented on #897
@davidfestal if we know the user  we already have info about his username / email, right ? So, we should be able to obtain info about the namespace by querying  `api/users?filter[username] / [email]`. If we can not  do it with woopra we should be able to do it manually at very least

[2018-09-27 07:55] davidfestal commented on #897
sure

[2018-09-27 08:08] garagatyi commented on #930
you are right!

[2018-09-27 08:08] #930 closed

[2018-09-27 08:46] ibuziuk commented on #929
good question. I'm not aware of those metrics. @jfchevrette @pbergene am I correct that
memory consumption metrics for pods on rh-idev / dsaas are not currently processed by zabbix ?

[2018-09-27 09:01] pbergene commented on #929
Those are the metrics for the rhche  in Zabbix.  Rhche deployment and pods metrics can be found under the metrics.dsaas.openshift.com host.

[2018-09-27 12:38] garagatyi opened #933 "Check that exec/terminal sidecar in WS.NEXT works on OSIO"
**Issue problem:**
Related PR https://github.com/redhat-developer/rh-che/pull/902

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform

[2018-09-27 12:59] garagatyi opened #934 "How to avoid issues with k8s service number limit in WS.NEXT"
**Issue problem:**
In WS.NEXT we use k8s services for sidecars service discovery. This means that Theia (2 endpoints) + 3 plugin sidecars might generate 5 services. Apart from that, Che generates a service for each container in a workspace to expose public ports of servers (including sidecar's public endpoints).
Right now we have a limit of 5 services in OSIO namespace and this leads us to a situa

[2018-09-27 12:59] garagatyi commented on #934
@sleshchenko @l0rd @ibuziuk FYI

[2018-09-27 13:33] amisevsk commented on #934
@ibuziuk I feel like this could be a problem in general, if plugins are allowed to require a service. It would mean the service number quota would govern how many plugins can be added to a workspace.

[2018-09-27 13:38] ibuziuk commented on #860
PR have been sent upstream

[2018-09-27 14:07] garagatyi commented on #934
We can tune it but @amisevsk is right - we need to think what solution would be the best in a long term

[2018-09-27 15:49] l0rd commented on #934
Good catch @garagatyi. Anyway not all plugins will run in a separate container. I think that 10 services should be enough for 90% of the cases. 15 services would be even better. Let's ask SD team if we can increase it to 15.

[2018-09-27 16:14] ibuziuk commented on #934
PR where we could start discussion with SD regarding service increase - https://github.com/fabric8-services/fabric8-tenant-che/pull/113

[2018-09-27 18:18] amisevsk commented on #934
@garagatyi Wouldn't it be possible to have a single "plugins" service that maps all of the appropriate ports? This could avoid the issue entirely. On the provisioning end, this could be done by simply modifying `SidecarServicesProvisioner#provision()`.

[2018-09-27 19:14] jfchevrette commented on #929
@ibuziuk sent you a link to the metrics privately.

[2018-09-28 08:30] slemeur opened #935 "Weird font in terminal"
<img width="1777" alt="screen shot 2018-09-28 at 09 39 46" src="https://user-images.githubusercontent.com/1636769/46197067-01602400-c309-11e8-9fe9-90c9c2aca7e3.png">

The font in the terminal looks weird.

I'm on Mac and was using chrome v69

[2018-09-28 09:39] ibuziuk commented on #879
Have recorded a demo video [1] of creating ephemeral workspace from factory on minishift. Workspace start up took ~ 45 seconds. Basically, in comparison with oso [2] initial initialization steps (loading che + loading factory + initializing workspace) took just `5` seconds (`20` on oso) and final UI initialization / loading worksapce also took `5` seconds (`25` on oso). We need to figure what is t

[2018-09-28 17:54] garagatyi commented on #935
This is upstream issue

[2018-09-28 18:22] garagatyi opened #936 "Create a CI job that would check RhChe with dependency to nightly upstream"
**Issue problem:**
RhChe depends on tags of upstream Che. We usually update the tag after each new upstream release. But when we try to move to a new tag we quite often see incompatibilities that weren't addressed in RhChe after changes in upstream. Often this happens after upstream Che is released and fixes can be applied only in a new bugfix release. We also find out new problems too late to be

[2018-09-29 04:12] gorkem commented on #879
Are you comparing local minishift vs OSO hosted in US east coast?  I think those are expected to give different results.

[2018-09-30 10:03] #866 closed

[2018-09-30 19:03] l0rd commented on #936
@garagatyi such a job already exist https://ci.codenvycorp.com/view/All/job/rh-che-ci-master/

[2018-10-01 06:16] garagatyi commented on #936
@l0rd AFAIK it just checks that RhChe compiles, but not that it passes RhChe specific deployment and functional tests. Whereas it is not critical but it would make us almost 100% sure that we can gracefully migrate to the new version without any issues.
@riuvshin can you add me as a receiver of notifications when job mentioned by Mario fails?

[2018-10-01 07:32] ibuziuk commented on #879
@gorkem the last comment is related to the fact that on minishift  UI initialization (loading che + loading factory + initializing workspace) & loading workspace happens much faster in comparison with oso where che-server and workspaces  are located on different clusters

[2018-10-01 07:58] l0rd commented on #936
After the build CI deploys it and creates a workspace. At least this is what it was doing originally. Anyway +1 but more than create a new job this issue should be about improving existing one right?

[2018-10-01 08:14] garagatyi commented on #936
Yeah, we can improve the existing one. Right now it just builds RhChe but doesn't deploy it and doesn't run tests against it. Since we already have all the needed stuff to run tests on RhChe side it might be better to move the job here rather than changing the job on Codenvy CI side.
@rhopp @riuvshin WDYT?

[2018-10-01 08:15] garagatyi commented on #936
We can also live with the build only and close this issue, but more we automate - more real work could be done.

[2018-10-01 08:39] rhopp commented on #936
@garagatyi That should be possible. I've created issue for that: https://github.com/redhat-developer/che-functional-tests/issues/368 and we'll try to include it in next sprint.

[2018-10-01 09:37] garagatyi commented on #936
@rhopp Thanks! Please, inform @riuvshin in case you implement this to put down Codenvy CI job and save some resources.

[2018-10-01 10:36] ibuziuk commented on #899
@davidfestal @garagatyi the fix is promoted to prod, so I believe we can close this issue

[2018-10-01 10:36] #899 closed

[2018-10-01 14:43] ScrewTSW opened #938 "Investigate strange intermittent test fail building wsagent"
**Issue problem:**
Master build tests fail with a strange error in one of unit tests:
[code]
https://ci.centos.org/view/Devtools/job/devtools-rh-che-build-che-credentials-master/119/console

[code]
https://ci.centos.org/view/Devtools/job/devtools-rh-che-build-che-credentials-master/279/console

version: 6.11.1

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Intermitte

[2018-10-01 18:53] ibuziuk commented on #897
HK issue https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2355

[2018-10-02 11:59] davidfestal opened #941 "Protect the End2end flow from bots"
We should protect the end2end provisioning flow of `che.openshift.io` against bots, so that they cannot sucessfully pass the regsitration flow as it is the case currently.

That's related to the following HK issues:
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2351
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2356

[2018-10-02 17:31] amisevsk commented on #805
@rhopp Could you confirm the original issue is still present on prod? I don't get error markers as in teh screenshot, but I do see two other errors, that are likely upstream issues:

1. lang server launch can timeout on first launch. An error message is displayed and there will be no ls support for that file until it is closed and reopened. Upstream issue: https://github.com/eclipse/che/issues/101

[2018-10-02 17:36] amisevsk commented on #869
Upstream PR: https://github.com/eclipse/che/pull/11414

[2018-10-02 18:10] ibuziuk commented on #934
PR have been merged https://github.com/fabric8-services/fabric8-tenant-che/pull/113 now there are new `15` quota for number of services. @garagatyi if it is the last change  that is planned regarding `fabric8-tenant-che` we could request cluster wide tenant update.

[2018-10-02 18:59] amisevsk commented on #885
From Kibana, I'm seeing 10-15 errors per day along the lines of
[code]
so this appears to be a quite common issue.

[2018-10-03 06:08] #853 closed

[2018-10-03 06:10] garagatyi commented on #941
@davidfestal Could you add more details on what exactly is needed to be done to close this issue? Could you also label the complexity of this issue? I think it might be useful to let someone but you in the team to work on that to share knowledge about e2e flow and avoid bus-factor.

[2018-10-03 06:58] ibuziuk commented on #860
PR is merged. Issue should be closed one we update rh-che to 6.12.0

[2018-10-03 07:02] davidfestal commented on #941
@garagatyi I created this issue after discussing with @ibuziuk and the SD team about the problem.
And it's on purpose that I didn't add technical details directly in this issue description.

Please see
https://chat.openshift.io/developers/pl/jhrpu5xfj7yqjnfrph6kirf69c

See also:
https://chat.openshift.io/developers/pl/wcbjirbottyq5mttr31sbtoqdh
https://chat.openshift.io/developers/pl/dceqbe3p83fgz

[2018-10-03 07:42] rhopp commented on #805
@amisevsk Correct. The error markers are not there. I didn't encounter the first issue you are describing (despite starting LS took some time). The second issue is present.
Closing this one.

[2018-10-03 07:42] #805 closed

[2018-10-03 08:38] ibuziuk commented on #869
@amisevsk could we close this issue ?

[2018-10-03 08:43] garagatyi commented on #934
I created an issue to optimize usage of l8s services https://github.com/eclipse/che/issues/11452

[2018-10-03 10:33] ibuziuk commented on #883
@garagatyi emptyDir.medium allows to mount tmpfs (RAM-backed filesystem) While tmpfs is very fast, files that are written will count against your Container’s memory limit.

[2018-10-03 10:45] ibuziuk commented on #883
Closing this issue since the tests related to `emptyDir` volume on OSO have been done [1][2]

[1] https://github.com/redhat-developer/rh-che/issues/883#issuecomment-421330611
[2] https://github.com/redhat-developer/rh-che/issues/883#issuecomment-421428400

@l0rd should we create a separate issue for analyzing and supporting `Medium: Memory` option upstream ?

[2018-10-03 11:09] ibuziuk commented on #827
@garagatyi @amisevsk @davidfestal could you please take a look if the initial diagram is good enough to be contributed to rh-che docs - https://docs.google.com/presentation/d/1VT7iwTFc_y_UzlziiS-opCfcE08TDgddURBmKJs6rQM/edit#slide=id.g412fbb98eb_0_4

[2018-10-03 11:18] ibuziuk commented on #934
can we simply close this issue since `15` services should be enough for osio until eclipse/che#11452 is fixed ?

[2018-10-03 11:27] ScrewTSW opened #944 "Dashboard build broken when using native profile"
Recently after issues with master build went away, the dependency build started failing at the dashboard submodule.

command used for build:
`scl enable rh-maven33 rh-nodejs4 "mvn -B -f /tmp/rh-che/ -Pnative clean install"`

Build ends with an error:
[code]

* possibly missing mkdir step?
* is the path correct?

**Red Hat Che version:**

version: 6.11.1

 - [ ] I can reproduce it on latest officia

[2018-10-03 11:30] ibuziuk opened #945 "Ghost deployment preventing starting of workspaces"
Placeholder for https://github.com/openshiftio/openshift.io/issues/4379

[2018-10-03 11:32] ibuziuk opened #946 "Need to update rh-che to 6.12.0 version and rollout it to production"
`6.12.0` version is going to contain a fix for rhche pod restarts due to `OOMKilled` https://github.com/eclipse/che/issues/5443#issuecomment-426578251

[2018-10-03 11:44] davidfestal commented on #911
Here are some guidelines to add the support of a new event:
- Add specific properties of the new event (ie `PROGRAMMING_LANGUAGE` is a property specific to the `edit workspace file in Che` event):
https://github.com/redhat-developer/rh-che/blob/master/plugins/che-plugin-analytics/che-plugin-analytics-wsagent/src/main/java/com/redhat/che/plugin/analytics/wsagent/EventProperties.java#L15
- Add the d

[2018-10-03 11:58] davidfestal commented on #816
We should wait for issue https://github.com/redhat-developer/rh-che/issues/882 to be fixed first.

[2018-10-03 12:19] ibuziuk commented on #927
Closing in favour of https://github.com/redhat-developer/rh-che/issues/946

[2018-10-03 12:19] #927 closed

[2018-10-03 12:21] amisevsk opened #947 "Workspaces that fail recovery on startup can be broken completely"
Tracking for upstream https://github.com/eclipse/che/issues/11447

[2018-10-03 12:25] amisevsk opened #948 "Runtimes recovery process stops on first error"
Upstream: https://github.com/eclipse/che/issues/11445

[2018-10-03 12:28] garagatyi commented on #883
We should not use TMPFS I believe - we don't have that much memory for that in container.

[2018-10-03 12:30] garagatyi commented on #934
yes, I agree

[2018-10-03 12:30] #934 closed

[2018-10-03 12:36] garagatyi commented on #911
@davidfestal thanks for the details!

[2018-10-03 13:20] garagatyi commented on #827
LGTM

[2018-10-03 13:21] davidfestal commented on #827
seems good to me as well

[2018-10-03 13:41] davidfestal commented on #946
@amisevsk Quick update on this issue : I've updated the ongoing PR (https://github.com/redhat-developer/rh-che/pull/931) with my last changes. The build is successful locally, but the last changes should still be tested on dev cluster.

[2018-10-03 16:06] l0rd commented on #883
@ibuziuk @garagatyi yes memory is a concern. At least for OSIO. No need to open an issue now. Maybe in the future we will work on some PoC about having part of a workspace storage in memory for better perfs but that's not urgent.

[2018-10-03 16:12] #883 closed

[2018-10-03 19:54] amisevsk commented on #946
Thanks @davidfestal !

[2018-10-04 05:03] amisevsk commented on #827
Looks good. Would it be possible to annotate the numbers with verbs for what that component is requesting of the next, or does that not really make sense in this case? My knowledge ends at the lines leaving che-server at the moment :)

[2018-10-04 05:05] amisevsk commented on #869
@ibuziuk I don't think so, it won't be pushed to prod until 6.12.

[2018-10-04 08:58] l0rd opened #949 "Maintenance and Monitoring tooling for che.openshift.io"
**Issue problem:**

Tooling capabilities:

- [ ] Monitor workspace pods that are running for more than X days [issue](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2330)
- [ ] Delete a workspace resources if it has been running for more than X days
- [ ] Setup JVM stats monitoring [issue](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2347)
- [ ] Admin access to Che server
- [ ] L

[2018-10-04 20:06] #920 closed

[2018-10-05 10:07] ibuziuk commented on #898
Upstream issue - https://github.com/eclipse/che/issues/5443
Root cause of the problem - https://github.com/eclipse/che/issues/5443#issuecomment-426578251

[2018-10-05 12:16] ibuziuk opened #952 "Need to add endpoint to `che-tenant-maintainer` for workspaces cleanup that have been running for more than fixed period of time"
Placeholder for https://github.com/fabric8-services/che-tenant-maintainer/issues/24

[2018-10-08 08:41] l0rd commented on #765
@davidfestal could you please update in the description of the epic what is available on osio and what is not currently?

[2018-10-08 10:15] agajdosi commented on #912
Hi @ibuziuk, is there any progress on this issue?

[2018-10-09 04:34] #948 closed

[2018-10-09 05:05] amisevsk opened #955 "Some workspaces cannot be recovered on Che startup"
**Issue problem:**
When Che starts up, it attempts to recover workspaces it had marked as running when it last shut down. For most workspaces this succeeds without issue but for around 10% of the current workspaces in the DB on prod, recovery fails with message:
[code]

These workspaces are affected by https://github.com/eclipse/che/issues/11447 and cannot be started, even if the user deletes the

[2018-10-09 10:09] garagatyi opened #958 "Fix Che dashboard build"
**Issue problem:**
UD is no longer builds in RH-CHE (against latest snapshot) after the changes in latest upstream.
The error in build logs:
<details>

[code]
</details>
Broken [here](https://github.com/eclipse/che/pull/11301/files): bower is removed, dockerfile is rewritten.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction S

[2018-10-09 13:06] riuvshin opened #961 "CHE client is not cached which causes very slow workspace startup"
every single time I restart my workspace on che.OSIO it downloads `9.3`MB client JS file
https://che.openshift.io/_app/BB88D2F21134C170CD36477D6121D182.cache.js
it takes `59-70` seconds for me just to get this file every time I run WS.
that makes starting workspaces really slow... this file should be cached and every build of che should have new name for the script `BB88D2F21134C170CD36477D6121D18

[2018-10-09 13:30] l0rd commented on #961
@davidfestal do you think that this can be related to woopra or to something we customize in rh-ch? Or the same behavior exist in upstream che too?

[2018-10-09 13:30] l0rd commented on #961
@riuvshin what stack have you been trying?

[2018-10-09 13:37] davidfestal commented on #961
@l0rd I don't see how it could be related at all.

[2018-10-09 13:52] riuvshin commented on #961
@l0rd any stack it is client gwt js  so it will be downloaded for any stack

[2018-10-09 14:02] riuvshin commented on #961
<img width="1676" alt="screen shot 2018-10-09 at 17 02 07" src="https://user-images.githubusercontent.com/1636732/46674555-167c6300-cbe5-11e8-9fcc-b0ed8d5abad5.png">
two times same script...

[2018-10-09 14:04] riuvshin commented on #961
we were fixing this for CHE5 on codenvy.io @skabasniuk knows more about this

[2018-10-09 14:06] l0rd commented on #961
cc @skabashnyuk

[2018-10-09 15:29] riuvshin commented on #961
this could be che upstream issue but Im not sure.

[2018-10-09 19:07] riuvshin commented on #961
sorry guys that was incognito mode thing, i do not have "disable cache" enabled but it do not cache anyways...
in normal chrome tab caching works as expected, so closing this

[2018-10-09 19:07] #961 closed

[2018-10-10 13:44] amisevsk commented on #911
PR https://github.com/redhat-developer/rh-che/pull/963 adds events for "commit" and "push". Create/import project is somewhat more complicated as it seems the current method of using `UrlToEventFilter` will not work.

[2018-10-10 13:46] #946 closed

[2018-10-10 14:39] amisevsk commented on #958
Would probably require just updating the `assembly/fabric8-ide-dashboard-war/Dockerfile`, as it copies bower.json explicitly.

[2018-10-10 18:56] davidfestal commented on #941
This has been deployed to production, but we're waiting for HK issue https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2377 to be fixed in order to have the protection enabled.

[2018-10-10 20:07] amisevsk commented on #958
I've created branch [6.13-SNAPSHOT](https://github.com/redhat-developer/rh-che/tree/6.13-SNAPSHOT) to track necessary changes for building with upstream snapshot builds.

[2018-10-11 09:54] garagatyi opened #966 "Che failed to update because workspace recovering takes too much time and Che gets killed by OC"
**Issue problem:**
On a recent update of RhChe we had a lot of workspace active. Workspace state recovering process took too much time and the pod was killed because of not passing liveness probes.
We need to make workspaces recovering not blocking proper Che server start.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Step

[2018-10-15 01:39] amisevsk commented on #966
Should be solved by https://github.com/eclipse/che/pull/11592

[2018-10-15 09:33] garagatyi commented on #933
After the tenants' update and changes in https://github.com/redhat-developer/rh-che/pull/968 everything works. I described details [here](https://github.com/redhat-developer/rh-che/pull/968#issuecomment-429773085).
Since we know that everything works and we know the limitations described in the above-mentioned PR I'm closing this issue.

[2018-10-15 09:33] #933 closed

[2018-10-15 13:32] benoitf commented on #839
hello, it seems it is failing again (reopening)

[2018-10-15 13:33] benoitf commented on #839
@davidfestal it seems I'm redirected to dashboard

[2018-10-16 02:04] l0rd commented on #772
It takes more than 3 minutes to git clone jenkins github repository (it takes 15s on codenvy.io). For Kubernetes repo cloning it's 14 min vs 1 min. Timeout of a Che workspace bootstrap is 2 minutes.

To reproduce the 3 minutes git clone:

[code]

[2018-10-16 05:19] amisevsk opened #971 "Rh-che cannot recover workspaces coming from OpenShift recipe types"
### Issue problem:
At che server startup, workspace recovery fails for workspaces based off of OpenShift recipe types.

#### Details:
When OpenShift recipe workspaces are recovered, [OpenShiftEnvironmentFactory uses an OpenShift client to parse the yaml of the recipe](https://github.com/eclipse/che/blob/c7c697f1e3dfc918acd149d128eeeccc7df4b2c2/infrastructures/openshift/src/main/java/org/eclipse/ch

[2018-10-16 08:31] sbose78 commented on #839
@davidfestal , the server doesn't receive the fragment from the URL at all - and that's as per spec.

"The fragment identifier functions differently to the rest of the URI: its processing is exclusively client-side with no participation from the web server, though the server typically helps to determine the MIME type, and the MIME type determines the processing of fragments. When an agent (such as

[2018-10-16 08:32] sbose78 commented on #839
Ref:

https://en.wikipedia.org/wiki/Fragment_identifier
https://github.com/golang/go/issues/3805#issuecomment-66068331
https://stackoverflow.com/a/25489996/823386

[2018-10-16 12:56] l0rd opened #975 "Idling of a Che 7 workspace doesn't work on OSIO"
**Issue problem:**

If I start a Che 7 workspace ([stack example here](https://gist.github.com/l0rd/2ff9391d9cabbc861d9e7e9102efcaf3)) on che.openshift.io it's not idled after 15 minutes as it should.

@eclipse-che/theia-activity-tracker doesn't look to be in the image that is started (eclipse/che-theia:plugin-id-nightly)

cc @mmorhun @benoitf

[2018-10-16 16:49] sbose78 commented on #839
The fix has been merged. I need a confirmation that it works on prod-preview - before I move the change to production. https://github.com/fabric8-services/fabric8-auth/pull/696

[2018-10-16 17:01] davidfestal commented on #839
It seems to work perfectly on prod-preview.

[2018-10-16 18:25] davidfestal opened #976 "Regressions and errors following the deployment of the end2end flow protection"
**Issue problem:**

- The End2End flow protection recently released to production introduced a regression that makes a new requirement for the user to disable popups on his browser.
- There are a number of log entries in Sentry that show some cleaning / enhancements to be done in the way errors are caught on the client-side and sent back on the server-side.

**Red Hat Che version:**

OSIO producti

[2018-10-16 19:15] davidfestal commented on #839
well, let me mention that is seems there some problem with how query parameters (if any) are managed:

If I pass this URL to the autorization endpoint:
[code]
which corresponds to the following redirect_uri: `https://che.prod-preview.openshift.io/dashboard/?test`
then the browser is finally redirected to:
[code]
which means that the `test` query parameter is duplicated as a fragment parameter at t

[2018-10-16 19:55] sbose78 commented on #839
note: this is an existing behaviour and not introduced by this change.

@davidfestal ,
1. Does this behaviour impact Che rendering?
2. Do you want to keep old params as is, and add new fragments only?

[2018-10-17 07:22] garagatyi opened #979 "Add docs on what is the process of updating deployment yamls."
**Issue problem:**
It is not clear what deployment files are used directly and what files have copies for some environments.
For example:
- to do an update of the deployment config we update file directly. It applies to environments: local/dev cluster/PR tests/prod-preview/prod.
- to do an update of the config map we:
 - update <file> for environments: local/dev cluster/PR tests
 - update <another

[2018-10-17 18:18] davidfestal commented on #911
@amisevsk don't you think we should open a new issue for the remaining part, and set this issue as PR Merged ? (for burndown chart ;-) ) ?

[2018-10-17 22:04] amisevsk opened #987 "Che plugin broker should support ephemeral mode"
Tracking for upstream https://github.com/eclipse/che/issues/11554

Goal would be to at least implement a proof of concept / figure out if it's possible without significant reworking.

[2018-10-17 22:07] amisevsk opened #988 "Add and track Che telemetry events for 'create project', 'import project', etc."
Continuation of https://github.com/redhat-developer/rh-che/issues/911.

The current method of using a filter will not work for project creation / import events, so another way of logging them needs to be found.

[2018-10-17 22:08] amisevsk commented on #911
@davidfestal Good point :)

https://github.com/redhat-developer/rh-che/issues/988

[2018-10-18 06:58] apupier opened #989 "Fix daily CI job https://ci.codenvycorp.com/job/rh-che-ci-master/"
**Issue problem:**
 the job is launched daily and has always failed (#720 right now)

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platfo

[2018-10-18 08:29] rhopp commented on #989
@apupier The job is technically correct, per se. There was a change upstream, which breaks the rh-che build: https://github.com/eclipse/che/issues/10617
But as far as we are currently based on upstream version 6.12.2, we cannot fix this in our side until we switch to 6.13 (WIP here: https://github.com/redhat-developer/rh-che/pull/965)

And another note - we are working on switching this job to ci.

[2018-10-18 15:40] benoitf commented on #839
FYI it doesn't work as well for me for any factories. (id=something) as well.

[2018-10-18 15:42] benoitf commented on #839
so all links of https://www.eclipse.org/che/getting-started/cloud/ are not working on my side

[2018-10-18 15:42] davidfestal commented on #839
@benoitf That's expected, but should be fixed by the auth PR that is available since several days but cannot be deployed  because of failing end2end tests.

[2018-10-19 07:28] benoitf commented on #730
if other ppl have issues, here is mario's script I used
[code]

[2018-10-19 13:55] mmorhun commented on #975
I checked that `@eclipse-che/theia-activity-tracker` is included in the Theia image.
However, the extension is designed to notify Che master about activity in workspaces to prevent its stopping, so its purpose is to prevent stop of workspace if user is doing something in Theia IDE (but not stop idling workspaces).

[2018-10-19 16:09] gorkem opened #994 "Make Che 7 default on che.openshift.io"
Turn all the stacks/projects on rh-che (che.openshift.io) to use the new IDE and workspace mechanisms. We need to leave only the stacks used from the regular OSIO flow on Che6 for now.

[2018-10-19 17:52] garagatyi commented on #994
Blocked by https://github.com/eclipse/che/issues/11664

[2018-10-21 13:06] l0rd commented on #975
Closing. It's currently working on production.

[2018-10-21 13:06] #975 closed

[2018-10-22 08:50] ibuziuk commented on #994
@slemeur @l0rd is it a priority for the next sprint or should we put it to the `P2` column for now ?

[2018-10-22 09:43] ibuziuk commented on #935
Upstream issue - https://github.com/eclipse/che/issues/10945

[2018-10-22 09:44] ibuziuk commented on #935
Should be fixed in 6.13.0 - https://github.com/eclipse/che/pull/11576

[2018-10-22 15:14] #867 closed

[2018-10-22 15:14] #845 closed

[2018-10-22 15:14] #869 closed

[2018-10-22 15:14] #911 closed

[2018-10-22 15:14] #944 closed

[2018-10-22 15:30] amisevsk commented on #955
Closing as issue seems to be resolved. Current deployment did not fail to recover any workspaces.

[2018-10-22 15:30] #955 closed

[2018-10-22 15:31] amisevsk commented on #971
Fixed by #972

[2018-10-22 15:31] #971 closed

[2018-10-22 18:45] amisevsk commented on #952
PR: https://github.com/fabric8-services/che-tenant-maintainer/pull/27

[2018-10-22 18:51] ibuziuk opened #999 "Need to support optional `spaceId` parameter during workspace creation via che-starter"
Required for OSD support.
che-starter issue - https://github.com/redhat-developer/che-starter/issues/315
WIP PR - https://github.com/redhat-developer/che-starter/pull/314

[2018-10-23 08:13] davidfestal opened #1000 "Block tokens of deprovisioned users"
**Issue problem:**

This is the RhChe-side of problem described in more details [in this discussion](https://chat.openshift.io/developers/pl/19nxkgaxrfbmbewqi37ga5r5fo)

[2018-10-23 10:15] ibuziuk commented on #994
you mean sprint, not train right ?

Do you mean that for some period of time there should be 2 version of stacks for the same technology e.g. `go-default` and `go-che7` ?

[2018-10-23 12:02] ibuziuk commented on #882
@davidfestal do you think we can close this since PR has been merged upstream ?

[2018-10-23 12:22] ibuziuk commented on #976
@davidfestal do you think we can close this issue now ?

[2018-10-23 12:34] davidfestal commented on #882
sure

[2018-10-23 13:15] #882 closed

[2018-10-23 13:41] ibuziuk commented on #966
@amisevsk I believe we can close this one

[2018-10-23 13:41] #966 closed

[2018-10-23 13:59] #860 closed

[2018-10-23 14:07] ibuziuk commented on #839
I tested on prod and workspace creation via factory link seems to be working just fine. Closing

[2018-10-23 14:07] #839 closed

[2018-10-23 14:16] ibuziuk commented on #608
I believe this issue can be closed. Since 2 remaining issues are just dashboard bugs and does not block codeny.io migration

[2018-10-23 14:17] #608 closed

[2018-10-23 14:21] ibuziuk commented on #184
yeah, this one is really outdated since OSO tokens is not used anymore. Closing

[2018-10-23 14:21] #184 closed

[2018-10-23 14:37] ibuziuk opened #1001 "Need to update rh-che to 6.13.0 version and rollout it to production"
6.13.0 upstream version would be released in the short term. Need to update rh-che to the latest version and rollout new version to production.
WIP PR - https://github.com/redhat-developer/rh-che/pull/965

[2018-10-23 14:52] slemeur commented on #994
Yes I think so.

On Tue, Oct 23, 2018 at 12:15 PM Ilya Buziuk <notifications@github.com>
wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2018-10-23 15:10] ibuziuk opened #1002 "Need to have a user with admin rights on prod / prod-preview"
placeholder for https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2275

[2018-10-23 16:17] ibuziuk commented on #712
The fix is available on prod. Closing

[2018-10-23 16:17] #712 closed

[2018-10-23 16:35] ibuziuk commented on #485
Closing since https://github.com/openshiftio/openshift.io/issues/1649 is closed alread

[2018-10-23 16:35] #485 closed

[2018-10-23 17:17] #877 closed

[2018-10-23 17:17] #870 closed

[2018-10-23 17:21] garagatyi opened #1003 "Merge Theia plugin broker upstream"
**Issue problem:**
I created a [PR](https://github.com/eclipse/che-plugin-broker/pull/14) with Theia plugin broker but wasn't able to add unit tests before the EclipseCon, so I postponed it. I need to merge the PR and for that, I need to add unit tests.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how t

[2018-10-23 17:39] ibuziuk opened #1004 "Need to enable che server monitoring on prod / prod-preview via Jolokia & jmx_exporter"
This issue is about finalizing the work that has been started as part of the https://github.com/redhat-developer/rh-che/pull/950

[2018-10-23 18:58] ibuziuk opened #1005 "Che 7: Need to support running non-volume dependent sidecars as separate pods"
Currently all Che 7 sidecars are running as a separate containers inside a single pod. Need to have a possibility for running non-volume dependent sidecars containers in separate pods. This issue is considered to be an initial step for supporting running Che 7 plugins and runtime in separate pods -  https://github.com/eclipse/che/issues/11476

[2018-10-23 19:47] ibuziuk commented on #898
The problem has been workarounded by increasing RAM to 4GB but according to metrics from prod the memory consumption is still tend to keep growing and could result in new OOM restarts:

![image](https://user-images.githubusercontent.com/1461122/47386569-3d6e8500-d70d-11e8-8e2c-fbb53df4b51b.png)

[2018-10-23 20:23] ibuziuk opened #1006 "Che: 2 workspaces created instead of one"
Placeholder for https://github.com/openshiftio/openshift.io/issues/4416

[2018-10-23 20:31] ibuziuk opened #1007 "Che workspace is stuck in stopping state and cannot be deleted"
Placeholder for https://github.com/openshiftio/openshift.io/issues/4391

[2018-10-24 05:05] amisevsk commented on #958
Fixed in PR #965

Closing as this issue is subsumed by https://github.com/redhat-developer/rh-che/issues/1001

[2018-10-24 05:05] #958 closed

[2018-10-24 12:15] ibuziuk commented on #898
@rhopp could you please create an issue for reproducing OOM aginst rh-che on dev cluster?

[2018-10-24 12:18] ibuziuk commented on #987
@l0rd has some ideas how this could be implemented so we need to sync in order to decide what approach we would take ephemeral support

[2018-10-24 12:35] rhopp commented on #1006
The openshiftio/openshift.io#4416 is now mostly about fabric8-ui to behave correctly, when there is not a correct answer from other services.

For the 504 - Gateway Timeouts, Lucia created housekeeping issue for servicedelivery team to investigate that: openshiftio/openshift.io#4416

[2018-10-24 12:38] ibuziuk opened #1011 "Che 7 startup should be faster on che.openshift.io"
### Info about Che 7 workspace startup (ephemeral, but without https://github.com/eclipse/che/pull/11786 so normal PVC is still used for broker):
- Broker start: ~7.5 seconds average
- Pulling images: ~100 seconds on average (che-dev, che-machine-exec, che-hello, che-theia).
- Start Theia: ~10 seconds, sometimes quite a bit longer
![Che7](https://user-images.githubusercontent.com/16168279/48209446

[2018-10-24 15:20] l0rd commented on #994
- ~~**Java**~~ and ~~**NodeJS**~~ support is already included in Che 7 stack (LS are run in Theia container).
- **Java + MySQL** could be already possible
- **Python** and **Go**: I think we need [Theia Plugin API to support LS](https://github.com/theia-ide/theia/issues/2341) and LS running in a sidecar.

It makes more sense that the team that are working on the Plugin API for these LS (IDE 2 and

[2018-10-24 16:01] ibuziuk opened #1012 "Need to improve time required for initial `git clone` after startup of Che 7 workspace on osio"
gluster storage FS access [1] is slow on osio and `cloning projects` always takes sufficient amount of time. In order to decrease the time required for cloning project after workspace startup we need to investigate possibility of using some flags e.g. `--depth` [2]  initial cloning of the project used for in Che 7.

[1] https://docs.google.com/spreadsheets/d/1P9B90RXc2BnicR9qfNTeKuQ--8m4K7eLYixgkW

[2018-10-24 16:15] ibuziuk commented on #1012
@l0rd AFAIK, currently in che 7 / Theia  on osio is possible to do `git clone` only via terminal, e.g. even if project is added during workspace creation via dashboard it will not be cloned automatically. So, I am a bit baffled what exactly we should investigate since currently Che 7 / Theia does not support auto-clone mechanism similar to what Che 6 has. Could you please clarify ?

[2018-10-24 16:35] ibuziuk opened #1013 "Remove unnecessary authentication steps in client-side IDE loading on openshift.io"
Need to understand what makes Theia IDE loading slow on openshift.io and provide a solution that would improve Theia IDE startup time. Even when workspace is already started switching from dashboard to workspace requires sufficient amount of time:

![image](https://user-images.githubusercontent.com/1461122/47447097-0d7eba80-d7bd-11e8-825a-374e90737350.png)

[2018-10-24 17:08] l0rd commented on #1012
The idea here is to investigate on `git clone` options to make cloning as fast as possible and to address problems like https://github.com/redhat-developer/rh-che/issues/772. This will have an impact on Che 6 now, as well as on Che 7 when it will be possible to specify a project for those stacks too (very soon).

[2018-10-24 17:28] ibuziuk opened #1014 "Need to compare Che 7 workspace startup time when using images from docker registry deployed in the user namespace in comparison with dockerhub / quay"
The idea is to deploy docker registry to the user namespace (similar approach is used for deploying custom   `che-plugin-registry` [1]  in the user namespace and using it instead of the default plugin registry deployed on OSD) and start Che 7 workpace based on the images from this custom `che-docker-registry`. After that it would be required to compare workspace startup time with the setup when Ch

[2018-10-24 17:30] ibuziuk commented on #1014
@l0rd maybe you have some hints how it should be possible to deploy custom docker registry to the user namespace on oso ?

[2018-10-24 17:59] ibuziuk opened #1015 "Need to create branch that would track upstream 6.14 SNAPSHOT version and fix incompatibilities in a timely manner"
Need to set up a branch that tracks upstream SNAPSHOT, and fixing build issues during the sprint as they come up so that the rollout to 6.14 at the end of this sprint is easier
We had similar branch / PR for 6.13.0 - https://github.com/redhat-developer/rh-che/pull/965

[2018-10-24 18:31] ibuziuk commented on #1012
sure, we would investigate git clone options, but in order to provide the real fix to Che 7 we need to know how exactly git clone API works in Theia to provide support of some flag e.g. `--depth`. Or this issue is only about investigation and implementation of github options would be done by another team ?

[2018-10-24 21:16] l0rd commented on #1012
I think the work on GitHub cloning for Theia is already in progress (@sunix
do you know who is working on this?).

This issue should be investigation + implementation for Che 6 + share your
findings with who is working on che 7.

What already exists on che 7 is the 'git clone' command in the command
palette. Part of this task could be adding a new  'git clone swallow' to
Che 7 command palette.

Bu

[2018-10-25 08:38] rhopp commented on #1015
How that goes along with the job checking upstream compatibility? If we had such branch every time, that job would not make much sense, because PR check job on the tracking branch (PR) would do the same work.
Only difference would be, that PR check job would be triggered only on push to branch/commenting that PR and the check job would be triggered nightly. On the other hand, upstream check job wo

[2018-10-25 09:16] ibuziuk commented on #1015
@rhopp I believe the best strategy would be using mixed approach with CI / and branch. We should have:
- job that checks build compatibility with latest upstream [1] (Already exists)
- job that runs integration rh-che integration tests against latest upstream [2] (In QA Sprint backlog)
- if one of those jobs is failing we would start investigation and create branch / PR for making rh-che compatibl

[2018-10-25 12:30] ibuziuk commented on #1007
Upstream issue is closed. Closing

[2018-10-25 12:30] #1007 closed

[2018-10-25 21:19] amisevsk commented on #1015
PR here: #1020

[2018-10-25 21:21] amisevsk commented on #1015
We need a branch because there are changes we need to make (e.g. for the 6.13 snapshot PR) that are necessary for snapshot builds but will break current version builds (e.g. SNAPSHOT changes an interface). This means that there can be commits that are necessary in rhche that have to be merged alongside the change to the next version.

[2018-10-26 08:03] #905 closed

[2018-10-26 10:31] ibuziuk opened #1025 "Allow running Che 7 Workspace with development tooling but without recipe"
Placeholder for https://github.com/eclipse/che/issues/11690

[2018-10-26 10:32] ibuziuk commented on #1025
@garagatyi could you please provide an estimate for this issue ?

[2018-10-26 15:03] ibuziuk opened #1026 "PVC is not cleaned when workspace is deleted"
PVC is not cleaned when workspace is deleted

**Red Hat Che version:** 6.13.0

version: (help/about menu)

 - [X] I can reproduce it on latest official image

**Reproduction Steps:

1. Create and start a new workspace
2. Go to dashboard and delete it
3. Navigate to *-che project on oso
4. ERROR: no rm-pod has been created which should cleanup the workspace files
5. Run pod in order to manually att

[2018-10-26 15:17] ibuziuk commented on #730
@l0rd it appeared to be that workspace cleanup if currently broken and we should address this issue first before running che-tenant-maintainer on prod. So, I believe we should add this issue to the current sprint and address it first - https://github.com/redhat-developer/rh-che/issues/1026

[2018-10-29 07:14] ibuziuk commented on #1013
Some notes from @garagatyi:

[2018-10-29 07:54] ibuziuk commented on #989
Ci is currently working just fine. Also potential breaking changes are tracked as part of the https://github.com/redhat-developer/rh-che/issues/1015 for 6.14.0 release

[1] https://ci.codenvycorp.com/job/rh-che-ci-master/

[2018-10-29 07:56] #989 closed

[2018-10-29 08:21] ibuziuk commented on #1001
PR for updating prod to the latest rh-che version based on 6.13.0 - https://github.com/openshiftio/saas-openshiftio/pull/1116

[2018-10-29 16:44] l0rd commented on #730
@ibuziuk 👍

[2018-10-29 17:07] ibuziuk opened #1030 "Jdt.ls Need to investigate how adding `m2` and `javadata` volumes would affect startup of the workspaces on openshift.io"
There are 2 "optional" volumes that have been added to java based stacks due to jdt.ls switch [1] :

`.m2` is "optional" , but it would be required to re-download all maven deps at startup.
`javadata` is also optional, but no project info would be added, but no metadata will be shared between runs of jdt.ls. For small workspaces, it doesn't matter, but for big workspaces like `che-in-che` the affe

[2018-10-29 18:01] ibuziuk commented on #1030
@tsmaeder could you please point me to the doc or provide some info about `/home/user/jdtls/data` ? I have started a workspace and see that there are only empty `bin`& `src` folders under `jdt.ls-java-project`. It would be great to understand what type and quantity of files are typically located under those folders and why it is important to preserve those files between workspace restarts in order

[2018-10-29 19:42] amisevsk commented on #1030
@ibuziuk My understanding was that moving to OpenShift 3.11 would alleviate some of the gluster issues, as it would include Florent's chown change.

[2018-10-29 20:51] ibuziuk commented on #1030
@amisevsk sure, but it will not solve problems with gluster FS access - it will be as slow as before the update. We need to compare cold build time with mounted `.m2` vs. `.m2` being part of the container FS

[2018-10-30 08:07] garagatyi commented on #1025
@ibuziuk have no idea actually. I would spend some time investigating and if the task was hard, create a separate issue and close this as investigation phase.

[2018-10-30 16:41] slemeur commented on #994
On this issue it is important that we consider the code samples that we are providing with the stacks.
As a user, I'd like to be able to quickly test Che 7 stacks and be able to get a project to build it, debug it and run it. So we would need to provide the proper tasks associated with the proper code samples.

[2018-10-31 03:33] amisevsk commented on #987
PR: https://github.com/eclipse/che/pull/11786

[2018-10-31 08:00] garagatyi commented on #1015
In [this](https://github.com/redhat-developer/rh-che/issues/936) issue I described how we can achieve everything needed with just 1 job that would maintain just 1 branch. It would be a more complicated job with some scripting but it would show us the real picture in one place.
With such a job that creates PR for the new upstream version, we would be able to do PRs for fixes in the case of an incom

[2018-10-31 08:40] ibuziuk commented on #1026
@fbricon maybe you have some ideas, what might be the culprit ?

[2018-10-31 09:13] rhopp commented on #1015
@garagatyi Yeah... At first I thought it would be unnecessary complicated, but yeah.... I think it's better approach.

[2018-10-31 11:40] ibuziuk commented on #976
I believe this issue can be closed now

[2018-10-31 11:40] #976 closed

[2018-10-31 11:40] Katka92 commented on #1015
I've created an issue about that: https://github.com/redhat-developer/che-functional-tests/issues/388

[2018-10-31 15:25] davidfestal commented on #976
This HK issue should be fixed before deploying the last PR to production:

https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2414

[2018-10-31 17:09] l0rd commented on #1004
Based on [a discussion on mattermost](https://chat.openshift.io/developers/pl/xpws1wz6njrsjp6j1b9su7x6ga) with @fche, a prometheus endpoint may be more suited to export JVM metrics if this work will ever be ported upstream.

[2018-11-01 00:03] #1001 closed

[2018-11-02 11:21] #1006 closed

[2018-11-02 11:21] #764 closed

[2018-11-03 19:23] garagatyi opened #1042 "It should be possible to start Che workspace when namespace of type user is missing"
**Issue problem:**
On workspace provisioning step we get information about namepsace of type `user`. But if such namespace is missing user can't start any workspace.

[2018-11-03 19:37] garagatyi opened #1043 "Sometimes namespace of type 'user' is missing for some users"
**Issue problem:**
Related `openshift.io` issue - https://github.com/openshiftio/openshift.io/issues/4564
Sometimes namespace of type 'user' is missing for some users.
Do we know why it is happening?
What should user/we do in that case?
I saw such a case with user `abazko` on prod. And resetting the tenant didn't help.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce i

[2018-11-04 15:58] ibuziuk commented on #1043
@alexeykazakov @aslakknutsen could you please comment what is the root cause of such behavior ? We have faced this situation with absence of the user namespace quite a few times already

[2018-11-04 16:12] alexeykazakov commented on #1043
@ibuziuk maybe it’s a problem with users who have similar usernames. For example:
john@gmail.com
john@redhat.com
We have a bug which prevents creating namespaces for such users.
Here a PR to fix it: https://github.com/fabric8-services/fabric8-tenant/pull/675
cc: @MatousJobanek

[2018-11-05 07:04] ibuziuk commented on #1043
@alexeykazakov it is pretty unlikely that there was yet another `abazko` user registered.  Also there is  another type of issue which might be related - namespaces are created, but `/api/user/services` endpoint does not list them

[2018-11-05 12:47] #929 closed

[2018-11-05 12:52] ibuziuk commented on #945
Closing since upstream issue is closed - https://github.com/openshiftio/openshift.io/issues/4379

[2018-11-05 12:52] #945 closed

[2018-11-05 13:21] ibuziuk commented on #926
Need to figure out if it's che 6 specific. If reproducible also on Che 7 we should make it P1

[2018-11-05 13:49] ibuziuk commented on #1014
@amisevsk could you please also provide the list of different operations during workspace startup that take most time ?

[2018-11-05 13:52] ibuziuk opened #1045 "Need to create bayesian plugin for Che 7"
**Issue problem:**

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (include output of `oc version`)
   - [ ] k8s (include output o

[2018-11-05 15:20] sunix opened #1047 "[Gluster] Errors running yarn with gluster volume on osio"
**Issue problem:**
When running `yarn` on `/projects` (Gluster volume ... running without the node_modules trick, removing ~/.yarnrc )

[code]

**Red Hat Che version:**
version: (help/about menu)
Any ...

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

I have a demo showing the problem on osio without running Che:
https://asciinema.org/a/ZqmMTiAr4SsKyFcYAWIyWt3ov

The

[2018-11-05 18:03] alexeykazakov commented on #1043
@MatousJobanek can you take a look please?

[2018-11-05 18:42] gorkem commented on #1045
@ibuziuk @invincibleJai Can we use existing vscode extension for this?

[2018-11-06 00:02] l0rd commented on #1047
Thank you @sunix. Can you confirm that this error happens at every try?

@gorkem @JohnStrunk this is another example of PV issue on openshift.io: building a nodejs project is failing with `EEXIST: file already exists`

[2018-11-06 00:05] l0rd commented on #1012
@ibuziuk any update on this one? cc @gorkem

[2018-11-06 08:57] sunix commented on #1047
@l0rd
Yes, it maybe related to the number of files in the volume. There is a threshold ... so if it does not happen, redo it again on another folder.
Maybe a cache issue ? maybe there are some adjustments to do so that the limitation covers most of nodejs projects.

[2018-11-06 15:11] ibuziuk commented on #1047
@sunix am I correct that if you do not mount `pvc` and use `emptyDir` or container file system, this problem with `file already exists` is not reproducible ? If this is the case we need to create a HK issue

[2018-11-06 15:14] benoitf commented on #1047
it's fine if you do the commands in a folder than is not part of the PVC

[2018-11-06 15:32] ibuziuk commented on #843
Done for preview. Will close this issue after cleanup on prod

[2018-11-06 17:30] ibuziuk commented on #938
More logs from https://ci.centos.org/view/Devtools/job/devtools-rh-che-rh-che-prcheck-dev.rdu2c.fabric8.io/779/console

[code]

[2018-11-06 18:07] JohnStrunk commented on #1047
Confirmed. I can recreate this, and it looks like a gluster issue.

[2018-11-06 19:09] ibuziuk commented on #1012
@l0rd it looks like the fastest possible way of shallow cloning is using the following syntax: `git clone -b <branch> --single-branch --depth 1 <repository>`. However, this approach does not really help when cloning inside of gluster volume. Here are results cloning `che` repo:

1. vanilla git clone in PVC ~`6m48s`

[code]

2. shallow git clone in PVC  ~ `5m31s`

[code]
3.vanilla `git clone` in em

[2018-11-06 19:41] JohnStrunk commented on #1047
I'm still trying to isolate the problem. I will post here once I have more info.

[2018-11-06 20:20] ibuziuk commented on #1012
The funny thing is that when cloning in gluster volume there is a `Checking out files` phase that takes `99%` of the `git clone` time and results in more than 5 minutes for shallow cloning of the . This phase does not seem to be presented / logged when cloning in container FS or `emptyDir` volume, where clone time takes just a couple of seconds.

@l0rd what I wanted to try is updating git version

[2018-11-06 21:40] gorkem commented on #1012
Another idea is to clone into container FS, work from there and sync it to `/projects` once `/projects` is equal, we can update the IDE to point to `/projects` on the attached PV.

[2018-11-06 22:47] JohnStrunk commented on #1047
Good news is that I can recreate the issue outside osio. I have opened the following BZ against Gluster: https://bugzilla.redhat.com/show_bug.cgi?id=1647229

[2018-11-07 12:54] ibuziuk commented on #1002
Will be closed on the next rollout of rh-che to prod which would apply admin user rights (Already done on prod-preview)

[2018-11-08 10:03] riuvshin commented on #1014
@ibuziuk Can you please elaborate on why do you think that extraction of image pulled from custom registry would be faster?

[2018-11-08 15:38] amisevsk commented on #1014
@riuvshin The answer is that it doesn't, after all :). I think that the idea was to try and avoid some of the issues involved in the [AlwaysPullImages admission controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#alwayspullimages).

In short: there's less than 5% difference between the two cases.

[2018-11-08 15:47] amisevsk commented on #1014
A general breakdown of start time:

### Che 7 Workspaces (ephemeral, but without https://github.com/eclipse/che/pull/11786 so normal PVC is still used for broker):
- Broker start: ~7.5 seconds average
- Pulling images: ~100 seconds on average (che-dev, che-machine-exec, che-hello, che-theia).
- Start Theia: ~10 seconds, sometimes quite a bit longer
![Che7](https://user-images.githubusercontent.com

[2018-11-08 15:47] amisevsk commented on #1014
Closing as I think all information we're going to get at the moment is here, and there's no PR to be made.

[2018-11-08 15:47] #1014 closed

[2018-11-08 15:49] amisevsk commented on #1014
Also as an example of how the AlwayPull admission control affects Che startup: The quickest Che 7 startup time was 28 seconds (where no actual pull seems to have happened). The slowest Che 7 start (with the pull) was 138 seconds.

[2018-11-08 16:06] ibuziuk commented on #1014
@riuvshin when we discussed this with @l0rd there was just an assumption that potentially extraction of
could be much faster and we wanted to check it (but this does not seem to be the case)

@amisevsk thanks for the data provided, but as I understand those graphs represent the startup time when images are pulled not from a local registry deployed in the user namespace, but from external one, righ

[2018-11-08 16:20] ibuziuk commented on #1014
I also noticed that sometimes pulling is blazingly fast and sometimes really slow. I commented about it in the HK issue [1], but there has been no answer so far. @riuvshin maybe you can clarify how it is possible that pulling times vary so dramatically for the same image (workspace staring is done by the same user, in the same namespace)  ?

[1] https://gitlab.cee.redhat.com/dtsd/housekeeping/issu

[2018-11-08 17:51] gorkem commented on #1014
I think the pull variance is because of the node level caches. So if the startup of a workspace happens on a node that has pulled an image earlier the image is served from the node's cache.

[2018-11-08 20:58] ibuziuk commented on #1012
I tried to clone che repo in container FS and than copy it to `/projects` and this took more than 5 minutes:

[code]

Also, I tried updating git to more recent version (`2.18.0`) and perform the same test with cloning, but this does not seem to change anything:

[code]

The image with updated git version is `ibuziuk/centos_jdk8:git2`

@gorkem @l0rd I believe we can close this issue since it looks

[2018-11-09 06:42] garagatyi commented on #1012
@ibuziuk I believe that sync approach won't be that slow. The problem is that gluster doesn't like a lot of operations with files. But the overall speed when a lot of operations are not involved is not that bad.
Since sync operation is dependent on every file change it can sync every X seconds and gluster would definitely tolerate this.
What are the implications of that approach:
- workspace start

[2018-11-09 13:46] ibuziuk commented on #1045
@benoitf confirmed that it should be possible to reuse the vscode extension in che 7 / Theia the only thing that not all vscode API is currently implemented on Theia side. @invincibleJai could you please provide some info about what vscode API is used in the bayesian vscode extention [1] ?

[1] https://github.com/fabric8-analytics/fabric8-analytics-vscode-extension

[2018-11-09 13:57] benoitf commented on #1045
you may give a try (here is an example to try a vscode extension)
https://www.youtube.com/watch?v=HbTKDlOL1eo&feature=youtu.be

[2018-11-09 15:12] amisevsk commented on #1012
To complete the discussion on moving files in and out, I was able to copy the Che source tree *out* of the PVC to the container filesystem in around 1m30s

[2018-11-09 17:19] l0rd commented on #1012
@garagatyi I think having a persistence-plugin (that basically rsync /projects/) is the way to go for the future. But I also think that this can be a tricky task and I don't want us to be in a hurry when implementing that. And unfortunately we are in a hurry: Che 7 workspaces on osio can take more than 2 minutes to start and this makes them unusable.

So what should we do in the short term? Improv

[2018-11-09 18:06] l0rd commented on #1011
@ibuziuk @garagatyi @gorkem @amisevsk copying here a comment from https://github.com/redhat-developer/rh-che/issues/1012#issuecomment-437430607 about what I think should be the next things to look at. We could use this epic to discuss new ideas to improve Che 7 startup on OSIO:

1. **Images pulling**: @amisevsk [analysis](https://github.com/redhat-developer/rh-che/issues/1014) shows that this is b

[2018-11-10 07:18] garagatyi commented on #1012
@l0rd I personally think that ephemeral workspaces would provide a poor experience to users:
- the user loses his un-pushed changes on workspace restart and workspace is a subject to timeout when the user went to grab a coffee
- the user loses downloaded dependencies, so building non-dummy maven or node project would involve downloading all the dependencies each time

Yes, start time with ephemera

[2018-11-10 07:51] garagatyi commented on #1011
@l0rd loading IDE first can improve the experience indeed, but we should implement it in a natural way that is somehow described by a toolings configs. Otherwise, we would have a lot of hardcodings that don't respect other editor implementations.

Here are other ideas on how we can improve WS start time.
We still use a broker to evaluate Theia sidecar and we can actually improve it. If a plugin/ed

[2018-11-12 07:09] benoitf commented on #1011
@garagatyi about init container and broker.
If I run again the same workspace, without having changing anything in my workspace config, will the broker redo everything ? or computed information is stored somewhere and it's re-used directly (no need to run a broker)

[2018-11-12 08:11] garagatyi commented on #1011
For the time being, we do re-run brokering each restart of a workspace. We can implement this approach to speed up the start but there are things that we need to consider before start coding that. Since archive can change without change a URL we should do something with that. Checking checksum (or even archive size) is probably not the best approach because it would require to download the whole a

[2018-11-12 10:39] l0rd commented on #1012
@garagatyi we need to make che startup faster. We can discuss a lot about if is ephemeral acceptable or not. But that doesn't change much our priorities: even if I think `rsync` is important it won't help much making the startup faster. Image pulling and loading the editor before everything else should be our priorities.

[2018-11-12 11:04] l0rd commented on #1011
@garagatyi I think we agree that starting the editor as the first container (even before brokers) is the important goal and we agree on that. And your idea to have the `meta.yaml` to point to the `che-plugin.yaml` directly is a good one. But I am a little bit lost with your other proposals: sync sidecar and init container doesn't look simple.

I am still convinced that adding a "fast startup" phas

[2018-11-12 11:30] garagatyi commented on #1011
@l0rd Starting editor first would probably involve major refactoring of the code and flow because it would make workspace start 3 phase flow rather than 2 phase.
1. Start editor configuration
2. Start brokers
3. Start workspace

Even though from a k8s standpoint updating deployment is simple we don't have this flow in Che workspace start flow and we would need some time to implement this flow. I d

[2018-11-12 11:40] l0rd commented on #1011
@garagatyi but you don't need to change the current 2 phases right? You just need to add a new one. The existing phases should remain untouched.

[2018-11-12 12:57] garagatyi commented on #1011
@l0rd If we want to rollout workspace properly we would need to change the code. To change Theia container config we either need to roll it out or delete deployment, wait it gets deleted, create the new one.

[2018-11-12 13:48] l0rd commented on #1011
`RollingUpdate` is the default `StrategyType` of a Kubernetes Deployment. You should not delete the previous deployment, you should not wait and create a new one, Kubernetes does it for you.

[2018-11-12 13:57] garagatyi commented on #1011
@l0rd unfortunately for that we need to edit deployment and we don't have this idea in Che master code. So, we would still have to rework some code to allow this editing capability. We may try to save just IDs and integrate them into a new deployment config which would be similar to editing deployment. But in this case, our autogenerated k8s service names and OS routes would change their names pro

[2018-11-12 18:09] l0rd commented on #1011
@garagatyi I guess that re-using the same name for the deployment and theia routes will do the trick.

[2018-11-13 08:47] sunix commented on #1047
Hello @JohnStrunk ,
Do you have any update about this issue ?
Thanks

[2018-11-13 09:11] ibuziuk opened #1056 "Image pulling for predefined images should always be fast on che.openshift.io"
### Che 7 Workspaces (ephemeral, but without https://github.com/eclipse/che/pull/11786 so normal PVC is still used for broker):
- Broker start: ~7.5 seconds average
- Pulling images: ~100 seconds on average (che-dev, che-machine-exec, che-hello, che-theia).
- Start Theia: ~10 seconds, sometimes quite a bit longer
![Che7](https://user-images.githubusercontent.com/16168279/48209446-35d0f200-e343-11e

[2018-11-13 10:06] ibuziuk commented on #1014
Separate issue for making image pulling phase blazingly fast for predefined stacks have been created, so we can continue discussion there - https://github.com/redhat-developer/rh-che/issues/1056

[2018-11-13 10:09] ibuziuk commented on #938
the test is continue to be unstable and we might consider disabling it

[2018-11-13 13:33] ibuziuk commented on #1026
going to close once 6.13.1 version will be rollout  to production

[2018-11-13 13:43] #952 closed

[2018-11-13 13:45] ibuziuk opened #1058 "Che 7: Theia IDE should be loaded first during workspace startup"
Currently Theia IDE starts after all brokers have been pulled and run, all plugins have been pulled and container created. We need to make it faster. We need to have Theia loaded in the user browser first and, in a second step, start all the rest. Something that comes to my mind to achieve this is to create a first k8s deployment with only one pod/container/service (theia) and, after we have start

[2018-11-13 13:52] amisevsk commented on #1025
@garagatyi Could you add an estimate for this issue? (Even though it's an estimation in hindsight)

[2018-11-13 13:57] amisevsk commented on #1012
Is it possible to uncouple the Theia browser loading from workspace start? I can scale a deployment to zero and the in-browser editor just shows the yellow bar across the bottom. If we can start both in parallel, it might help with startup time.

Regarding image pulling -- I have no idea what is going on when the pull takes no time, as it seems to be violating the always pull admission controller

[2018-11-13 14:04] amisevsk commented on #1012
To add to the Che 7 part: Without image pull times, starting the back end components *could* be done in around 15 seconds without changing anything -- the charts [here](https://github.com/redhat-developer/rh-che/issues/1014#issuecomment-437043526) show that without the pulls, the only significant action is Theia start. Note also that the pinkish block (plugin broker) should already be much shorter

[2018-11-13 14:49] amisevsk opened #1059 "Investigate image caching on OSIO"
From the Che startup timing analysis [1] it seems that sometimes the image pull step takes almost no time (~1 second per image). We need to figure out what causes this to occur and if we can use it to speed up start time for Che workspaces.

With cached images, Che 7 ephemeral workspaces could start in ~15-20 seconds without making additional changes.

[1] https://github.com/redhat-developer/rh-ch

[2018-11-13 14:53] amisevsk opened #1060 "Is it possible to separate client-side and server-side Theia IDE load?"
The Theia IDE continues to work even if the workspace pod is deleted -- you can scale the deployment to zero and back to one without breaking Theia (it just shows a yellow "disconnected" bar across the bottom
![screenshot from 2018-11-13 09-51-34](https://user-images.githubusercontent.com/16168279/48421108-cb94c480-e729-11e8-94e7-ff887525cdaa.png)

However it seems that loading the client-side js

[2018-11-13 15:00] ibuziuk commented on #1012
Closing this issue since according to the research it will not be possible to sufficiently improve cloning time via shallow option in gluster volume (still takes ~ 5-6 minutes for che repostitory)

[2018-11-13 15:00] #1012 closed

[2018-11-13 15:20] ibuziuk opened #1061 "Che 7: Need to use distroless images (or FROM scratch) for brokers, editors and plugins in order to reduce image size and speed-up pulling"
"Distroless" images contain only your application and its runtime dependencies. They do not contain package managers, shells or any other programs you would expect to find in a standard Linux distribution.

https://github.com/GoogleContainerTools/distroless

[2018-11-13 16:14] ibuziuk commented on #1061
Using `From scratch` for brokers should be easy and be a first thing to do as part of this issue.
For Theia image moving to Distroless might be tricky and can be postponed (once java will be removed )
For plugins we can also switch to `From scratch`

[2018-11-13 16:18] ibuziuk commented on #1059
2 things could help us to understand what makes image pulling slow / fast on oso.
 - make workspace pod staring always on the same node (cluster admin could tune the node selector)
 - node metrics (CPU & memory consumption).

[2018-11-13 16:40] JohnStrunk commented on #1047
I don't have any insight beyond what is in the BZ. This is being worked by Gluster devs, so the place to follow for updates is the referenced BZ.

[2018-11-13 17:52] amisevsk opened #1062 "Test if changing container order in workspace deployment speeds up start"
Currently, for Che 7 workspaces, the Theia container is started last. Additionally, starting the container takes around ten seconds.

We should try to change the order so that Theia is started first, to see if that 10 second start can happen in parallel to other containers starting, thus speeding up workspace start.

[2018-11-13 20:03] riuvshin commented on #1056
interesting, after moving to quay.io it was constantly 1s for every time I run this. I did it like 10 or even more times for different stacks

[2018-11-13 20:51] ibuziuk commented on #1056
@riuvshin I have just tried `.NET` stack (image `quay.io/openshiftio/che-centos_dotnet20`) on che.openshift.io and for me pulling took ~26 seconds:

![image](https://user-images.githubusercontent.com/1461122/48441693-776efc00-e78c-11e8-94ae-d769ae92e999.png)

There was a suggestion from @l0rd and @kbsingh that we should setup a call with someone from SD team in order to better understand why pulli

[2018-11-14 08:16] garagatyi commented on #1060
@amisevsk I think it is exactly what @davidfestal was working on and was describing on our standups. Maybe it wasn't that obvious or maybe I misunderstood David.
@davidfestal could you comment on that?

[2018-11-14 08:57] benoitf commented on #1061
hello, please note that plug-ins container still require nodejs runtime so it may not use scratch images (but nodejs library images)

[2018-11-14 09:11] ibuziuk commented on #879
Closing info about che 7 workspace startup has been provided as part of the https://github.com/redhat-developer/rh-che/issues/1014#issuecomment-437043526

[2018-11-14 09:11] #879 closed

[2018-11-14 09:14] ibuziuk commented on #467
Going to close this issue since it is already very well-tracked:
 - https://github.com/openshiftio/openshift.io/issues/4079
 - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2169

[2018-11-14 09:14] #467 closed

[2018-11-14 09:40] agajdosi commented on #912
Hi @ibuziuk, we still face this issue with OKD 3.11.0, affected workspaces:
- Java CentOS - with and without anyuid enabled
- CentOS WildFly Swarm - only with anyuid enabled

[2018-11-14 09:46] ibuziuk commented on #912
Sorry, unfortunately it looks like we do not have capacity in the next sprint to look at this issue.
@l0rd any ideas how we should handle this issue ? could it be postponed or someone from other Che teams could give us a hand with it ?

[2018-11-14 09:56] davidfestal commented on #1060
@garagatyi  I'm not sure that's exactly the same thing as what I'm working on if I understood correctly.

My work mainly consists in allowing the Theia Javascript bundle files (big JS files) to be:
- cached correctly (which implies having them available from a fixed URL instead of the always-changing workspace route URL)
- retrieved from a configured CDN when available from there, with a fallback

[2018-11-14 10:13] davidfestal commented on #1013
I've changed the description of the issue and will close it since the 2 related PRs removed the unnecessary authentication steps that were taking between 5 and 10 seconds, and are not necessary when starting the IDE frame in the context of the User Dashboard.
Most of the network calls shown in the [issue description image](https://user-images.githubusercontent.com/1461122/47447097-0d7eba80-d7bd-11

[2018-11-14 10:40] ibuziuk commented on #827
PR is sent https://github.com/redhat-developer/rh-che/pull/1064

[2018-11-14 10:46] ibuziuk commented on #827
PR is merged. Closing
@amisevsk good point about adding some explanation to the flow, I believe we could gradually add details to this flow and provide more info to the Interaction of Red Hat Che with other openshift.io services

[2018-11-14 10:46] #827 closed

[2018-11-14 11:05] davidfestal opened #1065 "Make Theia webpack-based bundle packaging customizable"
Currently, the Theia webpack configuration file, as well as the main HTML file that loads the packaged JS bundle file, are generated during Theia build.

In order to provide enable bundle caching in a way that can be customized by the theia distributrion packager, we should introduce a way to customize:
- the webpack configuration, at least providing an option to enable a typical caching-compatibl

[2018-11-14 11:13] davidfestal opened #1066 "Customize the Che-Theia bundle packaging and main html file to use CDNs with fallback"
Using the new upstream Theia feature proposed in issue #1065, customize the Theia distribution included in the `che-theia` docker image so that it would:
- load some of the Theia JS bundles from a configured CDN first
- fallback to the initial URL of those bundles provided by the theia server (in the workspace container) if the CDN version is not available.

[2018-11-14 11:34] ibuziuk opened #1067 "Che 7: known plugin brokers should be run not inside *-che namespace, but as services like plugin-registry / che server"
In order to speed-up workspace startup known plugin brokers should be deployed not in *-che namespace during workspace startup, but rather in osd together with  che-server and plugin registry

[2018-11-14 11:39] davidfestal opened #1068 "Automatic push of Che-theia bundles files to a chosen CDN on Docker push (CI job ?)"
Introduce some changes in the CI job that builds and pushes the `che-theia` docker image, so that the corresponding packaged Theia JS bundles would be pushed to a configured CDN (with the appropriate version).
The goal is to to maintain a consistency between the `che-theia` docker image and the related bundle files mentioned in the main HTML file and made available on the CDN.

[2018-11-14 11:47] ibuziuk opened #1069 "Split current functionality of che plugin broken into 2 different application - service & init container"

[2018-11-14 11:49] ibuziuk commented on #1069
@amisevsk could you please provide some details to the description - you had some good points for doing this change during discussion

[2018-11-14 11:53] davidfestal opened #1070 "Analyse the required actions to also enable caching of VSCode/Monaco-related JS files"
The first step of Theia bundle caching support focused on the main Theia JS bundle files.
It would be great to enable caching of additional downloaded files such as the monaco editor-related JS files or the `.wasm`, and `.woff2` files.

[2018-11-14 11:59] davidfestal opened #1071 "Pre-Fetch fixed CDN URLs of IDE bundles in the workspace loader."
The idea is to provide a simple and generic framework that allows:
- retrieving, probably indirectly from the editor plugin `meta.yaml` file, the list of CDN URLs of big IDE bundle files to pre-fetch
- use this information in the workspace loader application in order to add the corresponding *pre-fetch* `link`s in the returned HTML page.

This will allow the biggest IDE bundles to be downloaded wh

[2018-11-14 12:12] garagatyi commented on #1060
I'm not sure we can load client-side without having a server-side running. But, in any case, I thought that Angel was describing only caching of JS from ws loader or UD, not showing whole client side

[2018-11-14 13:05] ScrewTSW opened #1072 "Unable to import projects on 3.11.1 update (prod-preview)"
**Issue problem:**
Workspaces don't import quickstart projects.
The manual import is also broken, the UI doesn't load.

**Red Hat Che version:**

Version: 1.0.0-SNAPSHOT
Build Time:  2018-11-14 11:15:54
Revision:    2c6626bcd859c626

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

Quickstart:
*  Create a new workspace (stack doesn't matter)
*  In the quickstart project

[2018-11-14 13:12] ibuziuk commented on #1072
@ScrewTSW could you please provide more info:
  - against which accounts does this problem happen ?
  - what is the PVC state when the problem is reproducible ?
  - does removal of `claim-che-workspace` PVC manually and restarting workspace fixes the issue ?
  - Are there are any che-server logs from kibana when the issue occurs?

[2018-11-14 13:15] garagatyi opened #1073 "Allow to specify in a plugin meta link to a che-plugin.yaml when having a separate archive is not needed"
**Issue problem:**
Upstream issue https://github.com/eclipse/che/issues/11814
Now Theia meta.yaml points to an archive with che-plugin.yaml that contains Theia sidecar definition. We have to use a broker to evaluate this config. Instead of that, we could point directly to a  che-plugin.yaml and let Che master download this config without brokering at all.

**Red Hat Che version:**

version: (help/

[2018-11-14 13:18] garagatyi opened #1074 "Finish making a workspace run without any user env"
**Issue problem:**
Get PR https://github.com/eclipse/che/pull/11890 merged.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [ ] OpenShift.io
   - [ ] Openshift Container Platform (inclu

[2018-11-14 13:51] garagatyi commented on #987
@amisevsk can we close this issue?

[2018-11-14 13:57] amisevsk commented on #987
@garagatyi I think we should close it once 6.14 is on prod.

[2018-11-14 14:12] #1025 closed

[2018-11-14 15:58] amisevsk commented on #1072
@ScrewTSW Do you have any adblockers / similar plugins in your browser? I had a similar issue until I disabled them.

[2018-11-14 16:08] ibuziuk commented on #1072
@amisevsk @davidfestal I can not reproduce this problem on prod-preview against 2 accounts ? could you please give it a go ? @ScrewTSW am I correct that not all accounts are affected and for some of the accounts import works just fine ?

[2018-11-14 17:55] amisevsk commented on #1072
If it's not reproducible reliably, I'm 90% certain a browser plugin is blocking connections.

[2018-11-14 18:00] ibuziuk commented on #1072
@amisevsk funny thing that as I understand @ScrewTSW can not reproduce the same issue on prod (and on prod-preview it is also not reproducible for some accounts)? We could probably share credentials for some generic account e.g. `osio-ci-preview-testper` and try to reproduce from different environments

[2018-11-14 18:15] ibuziuk commented on #1013
@davidfestal am I correct that issue is planned to be closed once prod will be updated to 6.13.1 / 6.14.0 version ?

[2018-11-14 18:16] davidfestal commented on #1013
yes.

[2018-11-15 08:14] ScrewTSW commented on #1072
@amisevsk @ibuziuk Will try to create the workspaces without the add-ons

[2018-11-15 08:17] ScrewTSW commented on #1072
Strange. It looks like indeed it has been caused by the ad-blocker. Now the project pulled without any issues.

The question is, why should adblocker prevent project pull. That's a really strange behavior and possibly an implementation error. Should we look into this? I'm sure multiple users could be affected.

[2018-11-15 13:31] amisevsk commented on #1072
@ScrewTSW It doesn't prevent pull, it prevents the browser interacting with the IDE. If you were to disable adblocking for the site and refresh, the projects is there, correctly imported.

[2018-11-15 18:59] ibuziuk opened #1075 "Update to 6.14.0 on prod-preview break usage of Che SA token required for che-* namespace lockdown and introduced issue with k8s client usage"
`6.14.0` upstream version of che have updated the version of kubernetes-client form `3.1.12` to `4.1.0` break usage of Che SA token that is required for removing edit rights from *-che namespace [1]. Currently all prod-preview accounts have been switched to use OSIO token instead of Che SA token via toggle. Currently using Che SA token for communication with oso-proxy results in the following erro

[2018-11-15 21:11] ibuziuk commented on #1075
PR for removing query parameter when passing identity_id to oso-proxy - https://github.com/redhat-developer/rh-che/pull/1076

[2018-11-16 09:47] davidfestal commented on #1065
The following PR has been opened in the Theia repository: https://github.com/theia-ide/theia/pull/3522

[2018-11-16 11:06] ibuziuk commented on #1075
It looks like there is also a problem with processing in the `ImpersonatorInterceptor` [1]:

Basically, in the current version of k8s client if `Impersonate-User` header is set, at least one `Impersonate-Group` should be also set, otherwise it would result in NPE:

[1] https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/utils/Impe

[2018-11-16 11:36] ibuziuk commented on #1075
Have opened an issue regarding `Impersonate-Group` processing -  https://github.com/fabric8io/kubernetes-client/issues/1266

[2018-11-16 13:16] ibuziuk commented on #1075
fix [1] for NPE when `Impersonate-Group` is not defined should be a part of the `4.1.1` release. Currently, we need to workaround this case on rh-che / oso-proxy side.

[1] https://github.com/fabric8io/kubernetes-client/pull/1267/files

[2018-11-16 14:45] amisevsk commented on #1062
The short and not-sweet answer is no, it does not.

No matter the start order for workspace containers (and despite OpenShift emitting a "starting container" event, Theia still consistently takes around ~10 seconds to start (and sometimes far more, for unclear reasons).

![chart 2](https://user-images.githubusercontent.com/16168279/48627965-fbd79f80-e983-11e8-91ef-7fa6e5d94029.png)
(Purple is the

[2018-11-16 14:45] #1062 closed

[2018-11-19 13:28] #843 closed, assigned to ibuziuk

[2018-11-19 14:13] ibuziuk commented on #1072
@ScrewTSW are you going to continue investigation or should we close it as not-reproducible ?

[2018-11-19 17:45] #1015 closed

[2018-11-19 17:58] amisevsk opened #1081 "Improve Theia server start time in Che 7 workspaces."
When starting a Che 7 workspace, there is a phase at the end where Che waits for all servers to be started. The Theia server consistently takes 10 seconds to start, regardless of anything else, as marked in blue below:

![chart 3](https://user-images.githubusercontent.com/16168279/48725363-f5eaf400-ebf9-11e8-9eee-4c5670e87693.png)

It appears that a large part of this wait is due to the way [Serve

[2018-11-19 18:06] amisevsk commented on #1081
PR: for the property: https://github.com/eclipse/che/pull/11984

[2018-11-20 09:50] ScrewTSW commented on #1072
@ibuziuk we can close this issue. I think it was just an odd quirk of my network connection.

[2018-11-20 09:50] #1072 closed

[2018-11-20 18:16] ibuziuk opened #1084 "Need to carry out a test in order to get information about the time required for pod startup if image streams from the user namespace are used in deployment configs created in *-che namespace"
This test can be carried out on any oso starter cluster and requires:
- creation of image steam in user namespace
- creation of deployment config in *-che namespace which would reference to the image stream from the previous step
- get info about how fast pod startup would be  (there is an assumption that switching to image streams / deployment configs for workspace creation on openshift infrastru

[2018-11-21 12:42] ibuziuk commented on #1013
prod has been updated to 6.13.1. Closing

[2018-11-21 12:42] #1013 closed

[2018-11-21 14:48] #1074 closed

[2018-11-21 15:05] garagatyi opened #1087 "Provide a way to test upstream Che PR against RhChe on dev cluster"
**Issue problem:**
Sometimes I want to test changes that I contribute to upstream Che against RhChe. This would help me to be sure that I didn't break any RhChe related flow.
It is possible to do that by manually deploying custom RhChe on dev cluster but this is time-consuming thing that hardly can be used by red hatters outside of osio-che team.
Would be cool if we allow to use comment in PR [tes

[2018-11-21 16:34] ibuziuk commented on #1059
@amisevsk could you please provide your findings about  correlation between particular node & time required for image pulling in this issue once you finish with this part of investigation?

[2018-11-22 04:56] amisevsk commented on #1059
I've run a start-stop loop for a standard Che 7 workspace over the afternoon today:

![histogram of start times](https://user-images.githubusercontent.com/16168279/48881862-9ea97700-ede5-11e8-8bb2-a86d715c9cff.png)

Without more detailed control over node selection / etc, all I can see in the pattern is:
1. Workspace start has sped up quite a bit since I started looking at it, perhaps due to cachi

[2018-11-22 10:05] rhopp commented on #1087
I'm not sure I know exactly what you mean by this...
You expect to have some trigger in __upstream__ repository, which builds upstream che (PR branch), then rhche (master), deploys it to dev cluster and runs our suite. Right?

Basically what we have now as the "compatibility job", but triggered from PRs in upstream repo. Right?

[2018-11-22 12:08] garagatyi commented on #1087
@rhopp no, I want to be able to build image myself, push it to dockerhub and being able to trigger a deployment with this image from RhChe PR. So, I would be able to create PR here to check upstream work. And not only me would be able to do that since it wouldn't require a lot of work to get access to dev cluster and stuff like that.
Flow:
1. there is a PR X in upstream Che
2. I build PR X
3. I bu

[2018-11-22 12:19] garagatyi commented on #1087
But having a fully automated flow would be superb.
For example, some external contributor creates a PR with changes in Che server.
I'm a reviewer and code looks OK, but I'm not sure whether it would break something in RhChe.
I create a PR in RhChe and somehow points that I want to test RhChe against upstream PR #xxx.
CI:
1. checks out upstream PR branch
1. builds it
1. change RhChe version to it
1

[2018-11-22 12:56] garagatyi opened #1088 "Move new .theia plugin broker from wsskeleton repo to eclipse org"
**Issue problem:**
We have a couple of branches in wsskeleton/che-plugin-broker that are used in RhChe at the moment but they are out of upstream. We need to merge that work.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (includ

[2018-11-22 13:25] garagatyi opened #1090 "Create VSCode extension broker for Theia"
Placeholder for https://github.com/eclipse/che/issues/12026

[2018-11-22 13:59] garagatyi opened #1091 "Can we have a SA on dev cluster that has access to the team members tenants only and thus would be secure enough from the SD team view"
**Issue problem:**
Can we have a SA on dev cluster that has access to the team members tenants only and thus would be secure enough from the SD team view?

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishi

[2018-11-22 14:02] garagatyi commented on #1091
Now we use user tokens on dev cluster because we don't have real prod SA since it is not secure.
What if we can specify an SA that has access to our own tenants only? It can be an opt-in process to request adding your tenant to that SA at HK gitlab, so it would be considered safe if we request to allow access with that SA to our tenants.

[2018-11-22 14:03] garagatyi commented on #1091
@ibuziuk @rhopp @tdancs @Katka92 WDYT?

[2018-11-22 14:15] ibuziuk commented on #1091
@garagatyi this sounds relevant, but we also need to think about emulating toggle functionality on dev-cluster. Currently, che-server talks with toggle by service name + port, which means that it is expected that oso-proxy will need to be located in the same namespace as che-server, which is not the case for dev-cluster

[2018-11-22 14:21] garagatyi commented on #1091
I see. This is a problem, indeed.
But, in general, shouldn't we use on CI step approach that is used on prod?

[2018-11-22 18:04] ibuziuk commented on #1075
It looks like query parameter processing got completely broken on oso-proxy side: it is passed correctly via header:

`time="2018-11-22T17:53:48Z" level=info msg="Got header 'Impersonate-User' with value '059737ac-0c8d-45bf-9241-e750122a316e'"`

But not via query parameter where trailing `/` is added :

`{"BackendAddr":"api.starter-us-east-2a.openshift.com","BackendName":"api1","BackendURL":{"Sche

[2018-11-22 18:34] ibuziuk commented on #1091
well, yeah it would be better to use Che SA token approach for testing, but it it still will not be exactly the same approach that is used on prod / prod-preview due to limitations described above. So it would be tradeoff in any case.

What would be the process for adding new tenant ?

[2018-11-23 09:19] ibuziuk commented on #1091
I mean it would be not the same token that is used in prod, and not the same mechanism for obtaining this SA token, and not the same toggle (this is what I mean by tradeoff)

Yeah, it is probably possible, but not sure that SD would be happy with this approach. You have probably seen an email that they are not going to grant edit rights manually on request basis anymore and what us o use some self

[2018-11-23 12:55] garagatyi commented on #1091
Self service would be also just fine!

[2018-11-23 15:34] ibuziuk commented on #1084
@amisevsk thanks for detailed document. The only thing that I am wondering is that @l0rd @jfchevrette were suggesting that image streams should be created in `user` (not che) namespace and used by deployments / deployment-configs created in `che` namespace. As I understand you created image streams and deployments both in the same *-che namespace, right ?

[2018-11-23 15:39] jfchevrette commented on #1084
My initial idea was to create the imagestreams in a single new namespace, such as `che-images` and then grant read access to the imagestreams from that namespace to all tenants. Creating ImageStreams under each tenant means we will end up with hundreds if not thousands of copies of the same images in the internal registry which could prove problematic with regards to storage and will not add much

[2018-11-23 15:46] amisevsk commented on #1084
@ibuziuk Yeah, these ImageStreams were created in the same namespace as the workspace (i.e. `amisevsk-preview-che`).

[2018-11-23 15:50] ibuziuk commented on #1084
@jfchevrette @l0rd during the tests that @amisevsk carried out it looks like there is no sufficient differences between usage of images vs imagestreams. Do you think we should continue investigation in this direction ?

@jfchevrette by the way does `IMAGE PULLTHROUGH` is enabled on starter clusters ?

[1] https://docs.openshift.com/container-platform/3.11/install_config/registry/extended_registry_

[2018-11-23 16:30] amisevsk commented on #1081
I've tested starting workspaces on the dev-cluster (using the prod-preview cluster for workspaces) and basically every increase to ping success threshold and interval increases workspace start by that much time on average (e.g. going from 500ms to 1s intervals adds ~500ms to start time, requiring two successes adds another second).

I think our best bet at the moment is to start at a low value (e.

[2018-11-25 13:51] sr229 opened #1096 "Theia fails to init on OpenShift.io Che - Theia image endpoint requires auth"
**Issue problem:**

RH Che fails to boot the Theia image because it lacks authentication.

**Red Hat Che version:**  6.13.1

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

Simply make any project with Theia sidecar enabled.

You will recieve the following:
[code]

runtime used:
   - [ ] minishift (include output of `minishift version`)
   - [x] OpenShift.io
   - [ ] O

[2018-11-26 10:22] sr229 commented on #1096
Confirming this is edge case, Theia seems to pull fine now. You guys probably need to triage this:

If this helps, this happened around Midnight in Japanese time (AFAIR it was 00:30-01:30)

[2018-11-26 11:02] slemeur opened #1098 "Rename "Bayesian Language Server " to something more user friendly"
### Description

The **Bayesian Language Server** does not describe what this plugin/installer is about. We must provide a better name and description that helps the user to know what this plugin does, and why he should use it. (not "how it is done")

Proposal
* Dependency Analytics Server
* Dependency Analytics LSP Server

The 'Dependency Analytics Server' is used by Eclipse Che to provide insigh

[2018-11-26 11:36] ibuziuk commented on #1096
@riuvshin any ideas about why `**rpc error: code = Unknown desc = unauthorized: authentication required'**` could have happen on one of the starter clusters?
@sr229 could you please provide your username on osio / che.openshift.io ?

[2018-11-26 11:42] ibuziuk commented on #1096
currently image pulling seems to work just fine (at very least on `us-east-2` cluster )

[2018-11-26 13:16] ibuziuk commented on #1075
che.openshift.io has been successfully updated on prod to the latest 6.14.2 upstream version.
The reason of delay was related to the fact that update to 4.1.0 version of `kubernetes-client` in upstream broke communication between rh-che and oso-proxy. The following fixes have been made in order to support the latest version of client:

- Not setting optional `Impersonate-Group` results in NPE in I

[2018-11-26 13:16] #1075 closed

[2018-11-26 15:56] ibuziuk commented on #1098
@slemeur @tgrall could you please clarify which parts of the UI are need to be updated:

- `Installers` tab on UD
![image](https://user-images.githubusercontent.com/1461122/49025455-01ab5d00-f19c-11e8-9f68-b96561cc7b9d.png)

- Workspace status:
![image](https://user-images.githubusercontent.com/1461122/49025501-1f78c200-f19c-11e8-8d94-0ee4e1e8d172.png)

Have I missed anything ?

[2018-11-26 16:07] garagatyi commented on #1061
I'll make brokers distroless in my PR https://github.com/eclipse/che-plugin-broker/pull/14

[2018-11-26 16:23] slemeur commented on #1098
Nice catch. We were thinking about the dashboard mainly but in the IDE loading too.

[2018-11-26 17:56] ibuziuk commented on #1098
@slemeur @tgrall wdyt about the following:

- name `Dependency Analytics LSP Server`
- description `Provide Insights about your application dependencies`

?

[2018-11-27 05:48] sr229 commented on #1096
@ibuziuk it would be `chinodesuuu`. This happpened while I was deploying a Che 7 stack.

[2018-11-27 06:04] #987 closed

[2018-11-27 06:10] amisevsk commented on #1081
Housekeeping PR: https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2449

[2018-11-27 06:28] amisevsk opened #1100 "The Centos Go stack is pretty unusable"
**Issue problem:**
Currently, upon starting, the Go stack we're using has to download/unpack thousands (~4800) of files into `/projects/.che/src` upon first start, even if no projects are imported.

- For a normal workspace, this makes the PVC timeout on future mounts due to file count
- For ephemeral workspaces, this has to happen on every launch, which takes a long time and makes start take a *l

[2018-11-27 07:57] eivantsov commented on #1100
@amisevsk yeah, and I am open to suggestions :)

Go language server requires a handful of deps. We can put them in GOPATH outside volume mounts. However, all your go deps will go away after each workspace restart.

We may also want to remove dep fetching from installer script: https://github.com/eclipse/che/blob/master/agents/ls-golang/src/main/resources/installers/0.1.7/org.eclipse.che.ls.golang.

[2018-11-27 11:31] slemeur commented on #1098
Perfect.
Thanks Ilya

On Monday, November 26, 2018, Ilya Buziuk <notifications@github.com> wrote:

--

Stévan LeMeur // Product Manager // Developer Tools // +336-87-11-27-55

[2018-11-27 12:06] ibuziuk commented on #703
PR is merged - https://github.com/redhat-developer/rh-che/pull/1089
Closing

[2018-11-27 12:06] #703 closed

[2018-11-27 12:59] ibuziuk commented on #1069
Upstream epic - https://github.com/eclipse/che/issues/11980

[2018-11-27 14:14] amisevsk commented on #1100
@eivantsov Yeah I agree, we would need to look at what would be necessary and if it's a lot of work. This issue is mostly for tracking for now :)

[2018-11-27 15:20] slemeur commented on #1098
To be consistent with the VSCode plug-in, I think it would be nice if we can use:
* name `Dependency Analytics`
* description `Provide Insights about your application dependencies`

https://marketplace.visualstudio.com/items?itemName=redhat.fabric8-analytics

[2018-11-27 15:34] ibuziuk commented on #364
I believe we can close this issue:
- it was created when che-server was single-tenant and in order to run mysql stack 3 PVC were required. Currently `Java-MySQL-CentOS` stack works just fine on che.openshift.io
- currently there is a support of ephemeral workspace that use `emptyDir` volumes instead of PVC.

[2018-11-27 15:34] #364 closed

[2018-11-27 16:24] ibuziuk commented on #949
@l0rd wdyt about excluding the following issue from the epic:

- [ ] Delete a workspace resources if it has been running for more than X days [#1977](https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/1977) [#730](https://github.com/redhat-developer/rh-che/issues/730)

Not sure if it is a priority for an L train, since this task would definitely require, not only follow up and coordination wit

[2018-11-28 10:11] ibuziuk opened #1104 "CI for redhat-developer/che-dockerfiles is failing"
Currently CI [1] for redhat-developer/che-dockerfiles  is failing with the following error:

[code]

There has not been any changes in the repo since October 9

[1] https://ci.centos.org/job/devtools-eclipse-che-build-dockerfiles/

[2018-11-28 10:39] l0rd commented on #1084
@ibuziuk @amisevsk it doesn't look like there is any interest in going forward with the investigation on imagestreams
cc @gorkem

[2018-11-29 18:01] amisevsk commented on #1081
Changes available on prod.

[2018-11-29 18:01] #1081 closed

[2018-11-29 18:10] amisevsk commented on #1073
After discussion with @garagatyi today, we decided to put off working on this specific issue for a few reasons:
- It's not clear how this would benefit us, as *some* brokering would have to happen in any case. This could be avoided but would require more significant changes to registry/broker/etc.
   - It's maybe not a good idea to spend time doing this work as some registry/broker stuff is still

[2018-11-29 19:36] amisevsk commented on #1104
I was able to reproduce this locally when testing a PR to the repo as well.

[2018-11-29 19:45] amisevsk opened #1106 "Investigate Deployments in OpenShift/k8s recipes to get a better sense of complexity"
**Issue problem:**
After discussion with @garagatyi it seems that supporting Deployments in Kubernetes/OpenShift recipes is not a terribly difficult task. Regardless, we should spend a bit of time actually investigating how much effort it would take (and implementing at least a proof of concept if possible) to get a more accurate sense of how complex the changes will need to be.

Related upstream

[2018-11-30 07:05] garagatyi commented on #1073
:+1:

[2018-11-30 10:09] ibuziuk commented on #1073
@amisevsk thanks for details. Yeah, for me it makes sense to stop working on this issue.
@garagatyi wdyt, should we close it now together with the upstream issue to avoid misleading since it looks like we are not ready for those changes ?

[2018-11-30 11:39] ibuziuk commented on #1026
che.openshift.io is currently using latest `6.14.2` and PVC cleanup works as expected. Closing

[2018-11-30 11:39] #1026 closed

[2018-11-30 11:55] ibuziuk commented on #1104
@amisevsk hmm, interesting I thought this problem is CI specific since we have not updated any code in the repo for quite some time

[2018-11-30 12:46] davidfestal commented on #1070
This has bee done and tested on branch https://github.com/eclipse/che/compare/theia-cdn-support.
Will be integrated with the rest of the work described in issue https://github.com/redhat-developer/rh-che/issues/1066

[2018-11-30 12:51] ibuziuk commented on #1070
should we close this issue in that case ?

[2018-11-30 12:52] davidfestal commented on #1070
well, it's not merged...

[2018-11-30 12:57] davidfestal commented on #1066
This issue has been fully implemented on branch [`theia-cdn-support`](https://github.com/eclipse/che/compare/theia-cdn-support).
However no PR was opened since this PR has been merged: https://github.com/eclipse/che/pull/12070/files, I'll have to integrate the CDN work in this new repository: https://github.com/ws-skeleton/che-theia-generator

I've already discussed with @benoitf and it should be

[2018-11-30 12:58] ibuziuk commented on #1070
ok, sure. Just though that this issue is more about analyzing and actual work would be done as part of the https://github.com/redhat-developer/rh-che/issues/1066 . But if you think it would be better to close this issue once PR is merged, let's do it that way

[2018-11-30 12:59] davidfestal commented on #1070
You're right indeed. Let's close it: The analysis was done and the found solution was validated by @benoitf

[2018-11-30 13:12] garagatyi commented on #1073
After discussion inside of OSIO-Che team we decided to close this issue since brokering process should be redesigned as part of [this](https://github.com/eclipse/che/issues/11980) epic.

[2018-11-30 13:12] #1073 closed

[2018-12-03 15:42] ibuziuk opened #1110 "Need to update prod to the latest 6.15.0 upstream version"
branch for tracking 6.15.0 changes - https://github.com/redhat-developer/rh-che/pull/1082

[2018-12-03 15:54] ibuziuk opened #1111 "Need to make metrics consumed by osd-monitor on prod / prod-preview dsaas"
PR [1] for exposing basic JVM / Tomcat / ClassLoader metrics have been merged in the upstream and will be available in `6.15.0` upstream version. Need to enable it in rh-che via `CHE_METRICS_ENABLED` env var and provide everything needed for consumption of those metrics by osd-monitor.

Related osd-monitor issue - https://github.com/redhat-developer/osd-monitor-poc/issues/43

[1] https://github.co

[2018-12-04 12:13] ibuziuk commented on #1084
Closing. Please, reopen if we should consider to continue investigation of potential switch to image streams

[2018-12-04 12:13] #1084 closed

[2018-12-04 13:08] l0rd commented on #1059
@amisevsk for 1) even if these are nightlies the base layers of the images may be unchanged no and don't need to be re-pulled? for 3) do you mean that you have evidence that pulling an image twice on the same node may take more the second time than the first?

[2018-12-04 13:21] amisevsk opened #1115 "Enabling parallel image pulls on OSIO"
## Issue problem:
HK issue - https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2469
Currently, starting workspaces (especially multi-container workspaces, like in the Che 7 case) requires pulling each image in sequence. This means that even when images are cached, verifying all of the images and starting containers takes ~3 seconds

It is [possible](https://docs.openshift.com/container-platfo

[2018-12-04 13:32] amisevsk commented on #1059
@l0rd Most of the answers are still unclear, and we're still waiting on better access to figure out what's happening in reality.

For 1) You're right, it depends on which layers are the bulk of the size, as 200 MB is 200 MB. My main thing here is that these results are generally a lot faster than when I started looking at it, which is strange -- we had an issue a month ago about each pull taking 2

[2018-12-04 15:50] ibuziuk opened #1116 "Need to test new CORS configuration in 6.15 that will be applied by default in 6.16 release"
from @mkuznyetsov email:

We have some news regarding to CORS filter configuration changes in 6.16.

In Che 6.16 we plan to upgrade Tomcat from 8.5.23 to 8.5.35. This however will require us to update our CORS filter configuration for Che WS Master and WS agent, since it would not allow our current CORS configuration which is deemed to be unsecure.
More information about original Tomcat issue is a

[2018-12-04 15:51] ibuziuk commented on #1116
blocked by https://github.com/redhat-developer/rh-che/issues/1110

[2018-12-04 15:52] garagatyi opened #1117 "Test Che 6.15 with CORS disabled"
**Issue problem:**
Upstream Che is going to introduce a new version of Tomcat where CORS would be disabled in v6.16.
Che v6.15 allows checking this behavior by setting correct Che env vars.

@rhopp would we be able to test complete flow on prod-preview or there are still parts that are not available there?

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest o

[2018-12-04 15:54] garagatyi commented on #1116
LOL see https://github.com/redhat-developer/rh-che/issues/1117
You were 2 minutes ahead!

[2018-12-04 15:54] garagatyi commented on #1117
Closing as duplicate of #1116

[2018-12-04 15:54] #1117 closed

[2018-12-04 17:40] ibuziuk commented on #1059
@amisevsk we talked with Mario and it was proposed that we could investigate if 3) is coupled with the image updates. The assumption is the following:

- first workspace startup on the node A - image pulling is fast (image is cached on the node)
- image have been updated
- second workspace startup on the node A - image pulling is slow (pulling of the the latest version of the image slows down the

[2018-12-04 17:45] l0rd commented on #1059
For 1) Maybe compared to one month ago we now have the base layers cached on almost all nodes. To figure that out you could do some pulling tests outside che. You could try running some pods based on some large images for which you may be quite sure that the base layers are not in the nodes caches.

For 3) As we discussed on mattermost it may be related to the fact that a new version of the image

[2018-12-04 18:36] garagatyi opened #1118 "Prepare knowledge sharing session about che plugins broker"
**Issue problem:**
We have a knowledge sharing session about che plugin brokers on Thursday. I need to dedicate some time to prepare for it.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Describe how to reproduce the problem

**Runtime:**

runtime used:
   - [ ] minishift (include output of `minishift version`)

[2018-12-05 08:54] garagatyi commented on #936
@rhopp from what I see [centos job](https://ci.centos.org/job/devtools-rh-che-rh-che-compatibility-test-dev.rdu2c.fabric8.io/) failed on December 5th when compiling RhChe against upstream 6.15-SNAPSHOT.
But before 5th it was succeeding but using upstream 6.14.2. I don't quite understand how it figures out which upstream version to use.
Can you elaborate?

[2018-12-05 10:10] davidfestal opened #1119 "Initial support of CDN support in che-theia-generator"
Integrate the work done on branch [theia-cdn-support](https://github.com/eclipse/che/compare/theia-cdn-support) into this new repository: https://github.com/ws-skeleton/che-theia-generator

Also include the ability to enable / disable CDN support in the generated image through an environment variable.

[2018-12-05 10:12] davidfestal commented on #1066
Let's close this issue, since a new one has been created for the integration into the `che-theia-generator`: https://github.com/redhat-developer/rh-che/issues/1119

[2018-12-05 10:40] ibuziuk commented on #497
Usage of the multi-tenant toggle has been removed from init-tenant as part of the following PR

[1] https://github.com/fabric8-services/fabric8-tenant/pull/690/files

[2018-12-05 10:40] ibuziuk commented on #497
I believe we can close this issue now

[2018-12-05 10:43] #497 closed

[2018-12-05 11:34] ibuziuk commented on #1065
I agree, let's postpone it in favour of https://github.com/redhat-developer/rh-che/issues/1119

[2018-12-05 12:52] ibuziuk opened #1122 "Support Deployment object in Kubernetes/OpenShift recipe"
placeholder for https://github.com/eclipse/che/issues/11505

[2018-12-05 12:55] ibuziuk opened #1123 "Support ConfigMap object in Kubernetes/OpenShift recipe"
Placeholder for https://github.com/eclipse/che/issues/11507

[2018-12-05 12:59] davidfestal commented on #1071
This was already done as a POC inside rh-che.
=> remaining work:
- Add a property with the URL of the CDN.json file to read the CDN urls from in the Che server
- Create a PR on rh-che

[2018-12-05 13:18] sr229 opened #1124 "Che fails to provision images : memory limit is out of bounds for user project in OSIO"
**Issue problem:**

Making a stack with 2048MB limit with Theia Sidecar and Che exec plugin enabled seems to cause issues.

Checking at OpenShift console - it seems to deal with memory requests being out of bounds

**Red Hat Che version:** 6.14.2

version: (help/about menu)

 - [x] I can reproduce it on latest official image

**Reproduction Steps:**

- Use this [Stack](https://gist.github.com/sr22

[2018-12-05 13:22] sr229 commented on #1124
Update: even switching to 1024MB didn't do well.

[2018-12-05 13:36] ibuziuk commented on #850
PR has been merged upstream. Closing

[2018-12-05 13:36] #850 closed

[2018-12-05 13:41] ibuziuk commented on #1088
Closing as duplicate of #1003

[2018-12-05 13:41] #1088 closed

[2018-12-05 13:44] #1070 closed

[2018-12-05 13:44] #1066 closed

[2018-12-05 14:04] ibuziuk commented on #1106
Initial investigation has been done. Further work will be done as part of the https://github.com/redhat-developer/rh-che/issues/1122

[2018-12-05 14:04] #1106 closed

[2018-12-05 15:01] garagatyi commented on #1124
It is a known bug in Che 7 flow https://github.com/eclipse/che/issues/11424

[2018-12-05 15:01] garagatyi commented on #1124
Please, close this issue in favor of the upstream project. Thanks!

[2018-12-05 15:41] rhopp opened #1126 "Intermittent - Workspaces fail to start on prod"
openshift.io issue - https://github.com/openshiftio/openshift.io/issues/4626
**Issue problem:**
Yesterday, we started observing, that workspaces fail to start... Initially it was pretty rare, but as of today it seems it's getting more and more often.

It behaves like this:
1) User starts workspace
2) Workspace pod is created
3) Bootstrap runs fine
4) Workspace agent is started without error
5) Wor

[2018-12-05 15:43] ibuziuk commented on #1126
@rhopp no suspicious openshift events ?

[2018-12-05 15:45] garagatyi commented on #1126
Is Angel's change of liveness probes provisioned on prod?

[2018-12-05 15:45] rhopp commented on #1126
@ibuziuk Nope :-( The workspace pod starts completely normally... PVC was bound in short time, container pulled, ...

[2018-12-05 15:51] ibuziuk commented on #1126
@garagatyi no AFAIK, prod pod has not been restarted with new interval / threshold

[2018-12-05 16:05] amisevsk commented on #1126
I think the liveness probe changes are live on prod at the moment, but this seems to be coming from the Che 6 machine bootstrapping process, which involves a bunch of `exec` commands in the workspace pod. Could it be an issue related to the kubernetes-client update?

[2018-12-05 16:31] l0rd commented on #1059
I did a test using image `ksmster/s2i-minimal-notebook` (3GB)

[code]

At the beginning the start of the container was taking > 1min 70% of the time. After a few hours the start of the container was taking < 10s 90% of the time. Raw output: https://gist.github.com/l0rd/1c388190ae173ca1b9de8ec19890de24

[2018-12-05 17:35] amisevsk commented on #1059
@l0rd That's great data -- from looking at it, **every** instance of a long pull (>60 seconds) occurs only the first time that particular node is encountered, with subsequent runs on the same node always being fast. This pretty much makes it clear that caching is at play.

[2018-12-05 18:08] garagatyi commented on #1059
We also should explore what are the reasons for an image to be removed from the cache. If another user can easily push out our images from cache we would not have reliable UX

[2018-12-05 19:06] amisevsk commented on #1059
@garagatyi We talked about potentially using a daemonset to ensure at least our images are cached. Otherwise UX could be inconsistent every time there's an image update.

[2018-12-06 04:57] sr229 commented on #1124
Closing as known issue already in Che

[2018-12-06 04:57] #1124 closed

[2018-12-06 09:38] ibuziuk commented on #941
@davidfestal HK issue was closed. I guess we can close this issue now ?

[2018-12-06 10:01] ibuziuk commented on #1111
PR with enabling env var has been sent - https://github.com/redhat-developer/rh-che/pull/1128

[2018-12-06 15:07] #1003 closed

[2018-12-06 15:07] #1118 closed

[2018-12-06 15:19] #935 closed

[2018-12-06 15:23] ibuziuk commented on #1110
prod has been updated to the latest `6.15.0` version. Closing

[2018-12-06 15:23] #1110 closed

[2018-12-06 15:23] ibuziuk commented on #1098
Changes are available on prod. Closing

[2018-12-06 15:23] #1098 closed

[2018-12-06 16:38] garagatyi commented on #898
Related to https://github.com/eclipse/che/issues/11459

[2018-12-06 17:50] ibuziuk opened #1129 "Support creating workspace based on 'che7' stack"
placeholder for https://github.com/redhat-developer/che-starter/issues/316

[2018-12-07 14:30] ibuziuk commented on #1116
PR for adding env vars which allow to disable cors

[2018-12-07 19:08] garagatyi opened #1134 "Fix build of docker images of brokers"
**Issue problem:**
Che plugin brokers images build fails on dockerhub:
https://hub.docker.com/r/eclipse/che-plugin-broker/builds/bdkbyxecr5tsacifycmyhbj/
https://hub.docker.com/r/eclipse/che-theia-plugin-broker/builds/bpmv9wkkbbqmg3ucr52zz8s/
We need to fix it.

**Red Hat Che version:**

version: (help/about menu)

 - [ ] I can reproduce it on latest official image

**Reproduction Steps:**

Descri

[2018-12-10 09:04] Katka92 commented on #936
@rhopp Sure, I'll work on it today. Thank you for notifying me.

[2018-12-10 10:55] ibuziuk commented on #1116
@rhopp @Katka92 @ScrewTSW CORS are currently disabled on prod-preview

![image](https://user-images.githubusercontent.com/1461122/49727959-ce73ce00-fc71-11e8-826a-0e9a69ff0dba.png)

Will you be able to test openshift.io, che.openshift.io and e2e registration flow before we would disable CORS on prod ? Also please test functionality of adding custom registry via UD

[2018-12-10 11:46] Katka92 commented on #936
Fix was pushed: https://github.com/redhat-developer/rh-che/pull/1136

[2018-12-10 12:01] Katka92 commented on #1116
@ibuziuk Sorry I probably didn't get something - you have disabled it on prod-preview and want us to test production?

[2018-12-10 12:31] ibuziuk commented on #1116
@Katka92 CORS were disabled on prod-preview. Once you +1 and confirm that everything works fine on prod-preview I will promote this config to prod. The scenarios for testing are  `openshift.io, che.openshift.io (both che 6 & che 7) and e2e registration flow` + adding custom registry via UD functionality

[2018-12-10 21:31] #1134 closed

[2018-12-10 23:56] garagatyi commented on #1126
Shouldn't we make it blocker and stop working on anything else since this is major service outage for prod?

[2018-12-11 09:04] ibuziuk commented on #1126
@garagatyi this is already a P1 / SEV1 issue https://github.com/openshiftio/openshift.io/issues/4626

[2018-12-11 09:55] ibuziuk commented on #1126
@rhopp @ScrewTSW  @Katka92  are you still able to reproduce this problem on prod ? we have changed a few che-server configs [1] that should fix the problem. I currently can not reproduce it (Note on prod-preview we have not changed anything)

[1] https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2476

[2018-12-11 11:05] Katka92 commented on #1116
Current progress with testing:

- [x] workspace creation and start-up with openshift.io
- [x] creating and starting of project via che dashboard (vert.x, nodejs)
- [x] running project (vert.x, nodejs)
- [x] e2e registration flow on prod-preview (required provisioning from service-del team)
- [x] factory with vert.x project
- [x] custom stack creation
- [ ] add custom registry via UD

[2018-12-11 22:53] amisevsk commented on #1126
It looks like the error is being thrown because of an `exec` command [timing out](https://github.com/eclipse/che/blob/49280a495c8c945a5ca034f77e68cfab44fcfb82/infrastructures/kubernetes/src/main/java/org/eclipse/che/workspace/infrastructure/kubernetes/namespace/KubernetesDeployments.java#L971).

[2018-12-12 07:06] rhopp commented on #1126
@amisevsk Where did you see this exception? I couldn't find anything like that anywhere in the logs...

[2018-12-12 07:14] ScrewTSW commented on #1126
@amisievsk yes, it's reproducible on dev cluster as well. Our tests running against dev cluster sometimes fail with the same error

[2018-12-12 10:12] sunix commented on #1047
@JohnStrunk are you able to help to reproduce ? https://bugzilla.redhat.com/show_bug.cgi?id=1647229#c17

[2018-12-12 10:44] ibuziuk commented on #1116
@Katka92 thanks for the tests. HK issue [1] for disabling CORS on prod:

[1] https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2480

[2018-12-12 11:47] Katka92 opened #1139 "Private registry not working"
**Issue problem:**
Adding private registry doesn't work.
Even if docker registry with credentials is set in ```Administration```, it still returns an error:

![screenshot from 2018-12-12 12-43-42](https://user-images.githubusercontent.com/29278800/49867775-be8ff180-fe0b-11e8-91a9-d2d6303fd9ae.png)

**Red Hat Che version:**
I can reproduce it in production and prod-preview environment. Latest upstr

[2018-12-12 12:08] ibuziuk commented on #1126
@amisevsk well, there are only 26 hits for the last 4 days on prod - `kubernetes.labels.app:"rhche" AND kubernetes.namespace_name:"dsaas-production" AND "Timeout reached while execution of command"`

And 0 on prod-preview. Might be wrong, but for me it sounds like a different problem

[2018-12-12 13:32] Katka92 commented on #1139
I tried to create a workspace with private repository on production. [Here](https://logs.dsaas.openshift.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2018-12-12T13:11:40.473Z',mode:absolute,to:'2018-12-12T13:26:40.473Z'))&_a=(columns:!(message),index:'project.dsaas-production.129c1244-1b37-11e7-8db9-124160897002.*',interval:auto,query:(query_string:(analy

[2018-12-12 23:32] ibuziuk commented on #1116
@Katka92 CORS are now disabled on prod. Could you please verify if all works as expected ?

[2018-12-13 09:14] Katka92 commented on #1116
@ibuziuk I've tried on production
- e2e registration flow
- workspace creation and start via openshift.io
- workspace creation and start via che dashboard
- run vert.x example project
- factory
- custom stack creation and usage

and all seems to work fine here.

[2018-12-13 13:20] ibuziuk commented on #1116
@Katka92 thank you for verification.
@skabashnyuk all seems to work fine with the following values applied on prod:

`CHE_CORS_ENABLED = false`
`CHE_WSAGENT_CORS_ALLOWED__ORIGINS = https://che.openshift.io`

Closing

[2018-12-13 13:20] #1116 closed

[2018-12-13 13:25] ibuziuk opened #1142 "Workspaces sometimes stuck in a stopping phase"
**Issue problem:**
Workspaces sometimes stuck in a stopping phase

![image](https://user-images.githubusercontent.com/1461122/49941530-13526b80-fee3-11e8-8532-99dff43deee0.png)

in some cases they are finally stopped after 16 minutes (2 times workspace start timeout), and in some cases only restart of che server helps.

The las 2 reports where  from `vparfono` (`3344454d-05ae-4184-ac31-ef7199a29e5

[2018-12-13 15:57] ibuziuk commented on #1126
@rhopp cloing since https://github.com/openshiftio/openshift.io/issues/4626 was closed

[2018-12-13 15:57] #1126 closed

[2018-12-13 16:30] rhopp opened #1144 "ws-agent takes a long time to start up, when there are lot of files in `/projects` folder"
**Issue problem:**
Once the PVC mount issue is fixed (at least on `1a` cluster so far), another issue gets exposed.
ws-agent can take a long time to start up, when there is lot of files.

Steps to reproduce:
* Have account on 1a
* Create nodejs workspace with project `https://github.com/angular/quickstart`
* Once workspace is started (this one takes normal time to start up), do `npm install` in th

[2018-12-13 17:58] ibuziuk commented on #1142
@sleshchenko please, find the doc with logs - https://docs.google.com/document/d/1ifqymxm7s5gwczYQr7CsmOeRrnJVh-__FbmY3BzyXxo/edit

[2018-12-14 10:56] sleshchenko commented on #1142
What I see from logs:
Vitalii's workspace:
There are two times when `activity-checker` initialized workspace stopping but there are not log that workspace is stopped.
Logging that workspace is going to be stopped https://github.com/eclipse/che/blob/b8f0844052eabe8804bddda5ff4c9a8b5430a5b1/wsmaster/che-core-api-workspace/src/main/java/org/eclipse/che/api/workspace/server/WorkspaceRuntimes.java#L461

[2018-12-14 12:02] sr229 opened #1145 "[Proposal] White-label Che Dashboard to look more uniform with the rest of the OpenShift.io SaaS"
I think while the current Che UI is nice, its mostly a basis to customize the UI further.

It would be nice if the Dashboard will be having a white-labeling as I believe it would fit more on OSIO in a design sense.

[2018-12-14 12:10] ibuziuk commented on #1145
@sr229 there is already opened issue for that in openshift.io https://github.com/openshiftio/openshift.io/issues/1161

@slemeur @l0rd wdyt ?

[2018-12-14 12:15] sr229 commented on #1145
@ibuziuk thanks for the heads up

I believe there's documentation regarding whitelabeling Che AFAIK, my knowledge about the docs is outdated however so I might be wrong.

[2018-12-14 12:31] ibuziuk commented on #1145
@sr229 oh, ok. AFAIK there are no options for modifying dashboard. You should probably create an issue upstream in order to start the discussion there.

[2018-12-14 12:32] sr229 commented on #1145
Alrighty, will leave this issue open until there's a way to implement it.

[2018-12-14 12:40] ibuziuk commented on #1119
WIP PR - https://github.com/ws-skeleton/che-theia-generator/pull/3

[2018-12-14 13:02] ibuziuk opened #1147 "Potential memory leak in ProbeScheduler"
Placeholder for https://github.com/eclipse/che/issues/12187

[2018-12-17 07:53] amisevsk commented on #1122
PR: https://github.com/eclipse/che/pull/12203

[2018-12-17 07:53] amisevsk commented on #1123
PR: https://github.com/eclipse/che/pull/12203

[2018-12-17 10:33] l0rd commented on #1145
@sr229 @ibuziuk We are considering reworking the dashboard right after Che 7 release (first part of 2019). I am afraid we won't be able to support dashboard white labeling before that.

[2018-12-17 10:39] ibuziuk commented on #1145
Closing in favour of https://github.com/eclipse/che/issues/12195
Let's continue this discussion in the upstream

[2018-12-17 10:39] #1145 closed

[2018-12-17 21:03] amisevsk opened #1149 "[rhche-dockerfiles] Thorntail boosters are disabled on osio"
### Issue problem:
Commits https://github.com/fabric8-launcher/launcher-booster-catalog/commit/74bf75a112b146ac130e809d93a94be70a15e7c8 and https://github.com/fabric8-launcher/launcher-booster-catalog/commit/3d866c229a6d868f297d4dd37865a73639000de3 disable the Thorntail boosters on OSIO.

This issue is for tracking, so that they can be re-added to the [relevant dockerfile](https://github.com/redha

[2018-12-17 21:09] amisevsk commented on #1149
You can check which thorntail boosters are available on osio using the command

[code]

[2018-12-17 21:15] amisevsk commented on #1104
PR: https://github.com/redhat-developer/che-dockerfiles/pull/45

[2018-12-18 10:00] ibuziuk commented on #1104
merged. Closing

[2018-12-18 10:00] #1104 closed

[2018-12-18 10:01] #941 closed

[2018-12-18 10:02] ibuziuk commented on #1111
Metrics are now available on both prod / prod-preview and consumed by osd-monitor:
- https://osd-monitor-dsaas-production.09b5.dsaas.openshiftapps.com/grafana/index.html#/dashboard/script/multichart.js?from=now-2d&to=now&span12s=12&height=400&style=flot&target=osio.prometheus.rhche_host.*thread*.*
- https://osd-monitor-dsaas-preview.4c1c.dsaas-stg.openshiftapps.com/grafana/index.html#/dashboard/sc

[2018-12-18 10:02] #1111 closed

[2018-12-18 10:05] ibuziuk commented on #673
@Katka92 @rhopp could you please verify the problem on prod ? I believe this issue should be closed

[2018-12-18 13:38] Katka92 commented on #673
@ibuziuk I'll take a look tomorrow and leave comment here.

[2018-12-19 08:02] Katka92 commented on #673
@ibuziuk Although the time of removing pods has increased [1] I wasn't able to reproduce that issue on production. I think this issue can be closed.

[1] https://zabbix.devshift.net:9443/zabbix/charts.php?fullscreen=0&groupid=36&hostid=11839&graphid=10899

[2018-12-19 09:41] #673 closed

[2018-12-20 13:19] ibuziuk opened #1152 "Create a POC for enabling pulling of predefined images via daemonsets on all the nodes of oso cluster"
Having POC will make the discussion with SD team more productive https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/2477

While working on POC we need to take into account several important aspects:
- POC should eventually be transformed into separate dsaas service
- image list as well as the frequency of pulling pulling should be easily configurable
- need to figure out rights for SA that wou